<template lang="pug">
div
  q-tabs(
    align="center"
    position="top"
    color="positive"
    inverted
    no-pane-border
    :two-lines="false"
    v-model="currentTab"
  )
    q-tab(
      slot="title"
      name="company-details"
      icon="work"
      label="Company"
    )
    q-tab(
      slot="title"
      name="income-details"
      icon="attach money"
      label="Income"
    )
    q-tab(
      slot="title"
      name="acc-levy-guidebook"
      icon="book"
      label="ACC Levy Guidebook"
    )

    q-tab-pane(name="company-details")
      include blocks/company

    q-tab-pane(name="income-details")
      include blocks/acc-title
      include blocks/income
      include blocks/results
      income-levy-calculation-notes(
        v-if="showCalculatedLevy"
        :client-name="clientName"
        :income-tax-method="loaField.income_tax_method"
        :cover-plus-calculation="coverPlusCalculation"
        :is-already-on-acc-cover-plus-extra="isAlreadyOnAccCoverPlusExtra"
        :cover-plus-extra-calculation="getDeterminedCoverPlusExtraCalculation"
      )

    q-tab-pane(name="acc-levy-guidebook")
      div(class="acc-levy-guidebook--container")
        div(class="vue-friendly-iframe relative-position")
          embed(class="acc-levy-guidebook--element" :src="accLevyGuidebookPdf")
        q-field(class="col-md-12")
          q-btn(
            class="full-width"
            color="primary"
            icon="open_in_new"
            @click="openURL(accLevyGuidebookPdf)"
          ) Open as External Link
</template>

<script>
import {
  QTabs,
  QTab,
  QTabPane,
  QBtn,
  QIcon,
  QSelect,
  QCard,
  QCardTitle,
  QCardMain,
  QChipsInput,
  Loading,
  openURL
} from 'quasar'
import {
  getYesOrNo,
  getTaxMethods,
  accCoverPlanTypes
} from 'src/config/option-values'
import _ from 'lodash'
import { QInput, QField } from '@/quasar'
import { validationMixin } from 'vuelidate'
import { mapGetters, mapActions } from 'vuex'
import Datepicker from '@/datepicker/Datepicker'
import { required } from 'vuelidate/lib/validators'
import { PigBank, PigSavings } from '@/charts/Pigs'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'
import { maxValue, minValue } from 'src/services/validation'
import IncomeLevyCalculationNotes from 'src/components/levy/Notes'
import { numberWithCommas, getPercentageValue } from 'src/config/utils'
import accLevyGuidebookPdf from 'src/statics/documents/acc/ACC_Levy_Guidebook_2017-2018.pdf'

export default {
  name: 'company-and-income-details',
  mixins: [validationMixin, LoaFieldableMixin],
  data: () => ({
    calculating: false,
    accLevyGuidebookPdf,
    currentTab: 'income-details'
  }),
  mounted () {
    this.$v.loaField.$touch()
  },
  methods: {
    openURL,
    ...mapActions('clientCalculations', ['requestAllLevyCalculations']),
    async calculateLevy() {
      try {
        this.calculating = true
        Loading.show({
          message: 'Calculating... Please wait'
        });
        await this.requestAllLevyCalculations()
      }
      catch (e) {}
      finally {
        Loading.hide()
        this.calculating = false
      }
    }
  },
  computed: {
    getTaxMethods,
    getYesOrNo,
    accCoverPlanTypes,
    ...mapGetters('clientCalculations', {
      coverPlusCalculation: 'getCoverPlusCalculation',
      coverPlusExtraCalculation: 'getCoverPlusExtraCalculation',
      currentClassificationUnit: 'getSelectedClassificationUnit',
      isAlreadyOnAccCoverPlusExtra: 'isAlreadyOnAccCoverPlusExtra',
      getTotalIncomeProtectionAmount: 'getTotalIncomeProtectionAmount',
      getTotalSavingsFromAccLeviesAmount: 'getTotalSavingsFromAccLeviesAmount',
      getTotalCoverEstimatedSavingsAmount: 'getTotalCoverEstimatedSavingsAmount',
      getCoverPlusExtraCalculationOnTools: 'getCoverPlusExtraCalculationOnTools',
      getSelectedClassificationunitOnTools: 'getSelectedClassificationunitOnTools',
      getDeterminedCoverPlusExtraCalculation: 'getDeterminedCoverPlusExtraCalculation',
      getDeterminedCalculationHeaderLabel: 'getDeterminedCalculationHeaderLabel',
      showCalculatedLevy: 'showCalculatedLevy',
      getPigSavingsPercentage: 'getPigSavingsPercentage',
      getPigSavingsAmount: 'getPigSavingsAmount',
    }),
    ...mapGetters('classificationUnit', {
      isClasificationUitEmpty: 'isClasificationUitEmpty',
      classificationUnits: 'mapClassificationValues'
    }),
    getDeterminedPigColumnClass() {
      const hasPercentage = this.getPigSavingsPercentage > 0;
      return !hasPercentage ? {
        'col-md-8': true,
        'offset-md-2': true,
      } : { 'col-md-6': true };
    },
  },
  validations () {
    return {
      loaField: {
        classification_unit: {
          required
        }
      }
    }
  },
  components: {
    Datepicker,
    PigBank,
    PigSavings,
    QTabs,
    QTab,
    QTabPane,
    QField,
    QInput,
    QBtn,
    QChipsInput,
    QSelect,
    QCard,
    QCardTitle,
    QCardMain,
    QIcon,
    IncomeLevyCalculationNotes
  }
}
</script>

<style lang="stylus" scoped>
.acc-levy-guidebook--container
  min-height 90vh
  .acc-levy-guidebook--element
    width 100%
    height 100%
    display block
</style>
