div
  p(class="text-faded text-center") In the event of an Accident:
  h5(class="text-faded text-center no-margin-top") ACC Cover + Income Protection
div(class="row md-gutter")
  div(class="col-md-4")
    eighty(:amount="partnerAccOffsetCalculation.maximumAccCoverPlusCover")
    p(class="text-faded text-center") ACC Cover Plus
  div(class="col-md-4")
    empty(:amount="0")
    p(class="text-faded text-center") Income Protection
  div(class="col-md-4")
    eighty(:amount="partnerAccOffsetCalculation.maximumAccCoverPlusCover")
    p(class="text-faded text-center") Total Claim Amount
div
  h5(class="text-faded text-center") ACC Cover + Monthly Mortgage Repayment Cover
div(class="row md-gutter")
  div(class="col-md-4")
    eighty(:amount="partnerAccOffsetCalculation.maximumAccCoverPlusCover")
    p(class="text-faded text-center") ACC Cover Plus
  div(class="col-md-4")
    forty(:amount="partnerAccOffsetCalculation.maximumMonthlyMortgageRepaymentCover")
    p(class="text-faded text-center") Monthly Mortgage Repayment Cover
  div(class="col-md-4")
    one-hundred(:amount="partnerAccOffsetCalculation.totalClaimAmount")
    p(class="text-faded text-center") Total Claim Amount
div
  acc-offsets-notes(
    :client-name="partnerName"
    :cover-plus-amount="partnerAccOffsetCalculation.maximumAccCoverPlusCover"
    :monthly-mortgage-amount="partnerAccOffsetCalculation.maximumMonthlyMortgageRepaymentCover"
    :cover-plus-amount-without-tax="partnerAccOffsetCalculation.maximumAccCoverPlusCoverWithoutTax"
  )
