<template lang="pug">
  div
    q-list(
      no-border
      link
      inset-delimiter
    )
      q-list-header Main Menu
      q-side-link(
        item
        exact
        :to="{name: 'dashboard.index'}"
      )
        q-item-side(icon="dashboard")
        q-item-main(label="Dashboard" sublabel="Overview")
      q-side-link(
        item
        :to="{name: 'dashboard.generator.index'}"
      )
        q-item-side(icon="list")
        q-item-main(label="Generator" sublabel="Create Documents")
      q-item(
        v-if="isOnline"
        @click.prevent="logoutUser"
      )
        q-item-side(icon="exit to app")
        q-item-main(label="Logout")
</template>

<script>
  import {
    QList,
    QListHeader,
    QItem,
    QItemSide,
    QItemMain,
    QSideLink
  } from 'quasar'
  import { mapMutations } from 'vuex'

  export default {
    name: 'navigation',
    methods: {
      ...mapMutations('user', ['REMOVE_SET_CURRENT_USER_MODEL', 'REMOVE_CURRENT_USER_TOKEN']),
      logoutUser () {
        this.REMOVE_CURRENT_USER_TOKEN()
        this.REMOVE_SET_CURRENT_USER_MODEL()
        this.$router.push({name: 'auth'})
      }
    },
    components: {
      QList,
      QListHeader,
      QItem,
      QItemSide,
      QItemMain,
      QSideLink
    }
  }
</script>
