<template lang="pug">
div
  q-card
    q-card-title ACC Fatal Entitlements Calculator
    q-card-main
      q-field(label="Fatal Entitlements For")
        q-select(
          clearable
          color="positive"
          :options="getClientOrPartner"
          :value="loaField.fatal_entitlement_for_type"
          @change="value => updateLoaField(value, 'fatal_entitlement_for_type')"
        )
      q-field(:label="getActualEstimatedEarningsFieldMessage")
        q-input(
          readonly
          prefix="$"
          align="right"
          :value="getDetermineActualEstimatedEarningsAmount | numberComma"
        )
      q-field(
        :label="getAnnualPreAgreedCoverAmountFieldMessage"
        :error="$v.loaField.fatal_entitlement_annual_pre_aggreed_cover_amount.$error"
      )
        q-input(
          type="tel"
          v-money="{}"
          prefix="$"
          align="right"
          :value="loaField.fatal_entitlement_annual_pre_aggreed_cover_amount"
          @input="$v.loaField.fatal_entitlement_annual_pre_aggreed_cover_amount.$touch()"
          @change="value => updateLoaField(value, 'fatal_entitlement_annual_pre_aggreed_cover_amount')"
          :after="getAnnualPreAgreedCoverAmountAfterIcons"
        )
      q-field(:label="getDetermineCategoryFieldMessage")
        q-select(
          clearable
          color="positive"
          :options="getFatalEntitlementCategories"
          :value="loaField.fatal_entitlement_category_type"
          @change="value => updateLoaField(value, 'fatal_entitlement_category_type')"
        )
      div(v-if="determineHasChildrenFromCategory")
        p(class="text-blue") How many of your children are below 18 years old?
        div(class="row md-gutter" style="margin-top: 8px" v-for="child in arrayOfChildrens")
          div(class="col-md-3")
            q-input(
              :value="child.name"
              placeholder="Name"
              @change="value => modifyChildren(child, 'name', value)"
            )
          div(class="col-md-3")
            div(class="q-if row no-wrap items-center relative-position q-input text-faded")
              datepicker(
                clear-button
                :value="child.name"
                @input="value => modifyChildren(child, 'date_of_birth', value)"
              )
          div(class="col-md-3")
            q-input(
              placeholder="Age"
              :value="child.age"
              @change="value => modifyChildren(value, child)"
            )
          div(class="col-md-3 flex")
              q-btn(
                color="negative"
                class="full-width"
                @click="removeChildren(child)"
              ) Remove
        div(class="row md-gutter" style="margin-top: 8px")
          div(class="col-md-3")
            q-input(
              placeholder="Name"
              v-model="childModel.name"
              @keyup.enter="addChildren"
            )
          div(class="col-md-3")
            div(class="q-if row no-wrap items-center relative-position q-input text-faded")
              datepicker(
                clear-button
                :value="childModel.name"
                @input="value => $set(childModel, 'date_of_birth', value)"
              )
          div(class="col-md-3")
            q-input(
              :disable="!!childModel.date_of_birth"
              type="number"
              placeholder="Age"
              v-model="childModel.age"
            )
          div(class="col-md-3 flex")
            q-btn(
              color="positive"
              class="full-width"
              @click="addChildren"
            ) Add

      //- If Studying
      div(v-if="determineHasChildrenAndStudyingFromCategory" style="margin-top: 12px")
        p(class="text-blue") How many are above 18 years old and studying?
        div(class="row md-gutter" style="margin-top: 8px" v-for="child in arrayOfChildrensWhoStudy")
          div(class="col-md-3")
            q-input(
              placeholder="Name"
              :value="child.name"
              @change="value => modifyChildren(child, 'name', value)"
            )
          div(class="col-md-3")
            div(class="q-if row no-wrap items-center relative-position q-input text-faded")
              datepicker(
                :value="child.date_of_birth"
                @input="value => modifyChildren(child, 'date_of_birth', value)"
              )
          div(class="col-md-3")
            q-input(
              :disable="!!child.date_of_birth"
              placeholder="Age"
              :value="child.age"
              @change="value => modifyChildren(child, 'age', value)"
            )
          div(class="col-md-3 flex")
            q-btn(
              color="negative"
              class="full-width"
              @click="removeChildrenWhoStudy(child)"
            ) Remove
        div(class="row md-gutter" style="margin-top: 8px")
          div(class="col-md-3")
            q-input(
              placeholder="Name"
              v-model="childModelWhoStudy.name"
              @keyup.enter="addChildrenWhoStudy"
            )
          div(class="col-md-3")
            div(class="q-if row no-wrap items-center relative-position q-input text-faded")
              datepicker(
                :value="childModelWhoStudy.date_of_birth"
                @input="value => modifyChildren(childModelWhoStudy, 'date_of_birth', value)"
              )
          div(class="col-md-3")
            q-input(
              :disable="!!childModelWhoStudy.date_of_birth"
              type="number"
              placeholder="Age"
              v-model="childModelWhoStudy.age"
            )
          div(class="col-md-3 flex")
            q-btn(
              color="positive"
              class="full-width"
              @click="addChildrenWhoStudy"
            ) Add
  div(
    class="chart-block--space"
    v-if="showFatalEntitlementCalculation"
  )
    component(
      :is="getFatalEntitlementCalculations.component"
      :cover-plus-amount="getFatalEntitlementCalculations.coverPlusTotalBenifitAmount"
      :cover-plus-extra-amount="getFatalEntitlementCalculations.coverPlusExtraTotalBenifitAmount"
      :changes-in-cover="getFatalEntitlementCalculations.changesInCoverAmount"
    )
  div(
    class="chart-block--space"
    v-else
  )
    h4(class="text-center text-faded") INCOME AMOUNT REQUIRED
</template>

<script>
import {
  QBtn,
  QCard,
  QCardTitle,
  QCardMain,
  QSelect,
  QTransition,
  uid,
  Toast
} from 'quasar'
import {
  NoChild,
  LessThanTwoChildren,
  GreaterThanTwoChildren,
  StudyingChildren
} from '@/charts/Families'
import _ from 'lodash'
import moment from 'moment'
import { mapGetters } from 'vuex'
import { QInput, QField } from '@/quasar'
import { validationMixin } from 'vuelidate'
import Datepicker from '@/datepicker/Datepicker'
import { required } from 'vuelidate/lib/validators'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'
import { numberWithCommas, floatTotals } from 'src/config/utils'
import { getFatalEntitlementCategories } from 'src/config/option-values'

const yearNow = moment().year()
const yearAfter = moment().add(1, 'years').year()
const CHILD_SCHEMA = {
  id: 0,
  age: 0,
  name: null,
  studying: false,
  date_of_birth: (new Date())
}

export default {
  name: 'fatal-entitlements',
  mixins: [validationMixin, LoaFieldableMixin],
  data: () => ({
    childModel: _.cloneDeep(CHILD_SCHEMA),
    childModelWhoStudy: _.cloneDeep({ ...CHILD_SCHEMA, ...{ studying: true } }),
    arrayOfChildrens: [],
    arrayOfChildrensWhoStudy: []
  }),
  async created () {
    const { fatal_entitlement_childrens: childrens, fatal_entitlement_annual_pre_aggreed_cover_amount } = this.loaField
    this.arrayOfChildrens = _.filter((childrens), ['studying', false])
    this.arrayOfChildrensWhoStudy = _.filter((childrens), ['studying', true])

    if (_.isEmpty(fatal_entitlement_annual_pre_aggreed_cover_amount)) {
      this.applyDefaultPreAgreedCoverAmount()
    }
  },
  mounted () {
    this.$v.loaField.$touch()
  },
  watch: {
    arrayOfChildrens: {
      handler (values) {
        this.updateLoaField(
          _.concat(values, this.arrayOfChildrensWhoStudy),
          'fatal_entitlement_childrens'
        );
      },
      deep: true,
    },
    arrayOfChildrensWhoStudy: {
      handler (values) {
        this.updateLoaField(
          _.concat(values, this.arrayOfChildrens),
          'fatal_entitlement_childrens'
        );
      },
      deep: true,
    },
    childModel: {
      handler ({ date_of_birth }) {
        if (date_of_birth) this.childModel.age = this.$filters.getAgeByDate(date_of_birth)
      },
      immediate: true,
      deep: true
    },
    childModelWhoStudy: {
      handler ({ date_of_birth }) {
        if (date_of_birth) this.childModelWhoStudy.age = this.$filters.getAgeByDate(date_of_birth)
      },
      immediate: true,
      deep: true
    }
  },
  methods: {
    async applyDefaultPreAgreedCoverAmount () {
      const { nominated_cover_amount, partner_nominated_cover_amount } = this.loaField
      const cover = floatTotals(nominated_cover_amount, partner_nominated_cover_amount)
      await this.updateLoaField(numberWithCommas(cover), 'fatal_entitlement_annual_pre_aggreed_cover_amount')
    },
    addChildrenWhoStudy () {
      const { age, name } = this.childModelWhoStudy;
      if (!name || !age) {
        Toast.create.negative('Name and Age cannot be empty')
        return
      }
      this.arrayOfChildrensWhoStudy.push({
        ...this.childModelWhoStudy,
        ...{ id: uid(), studying: true }
      })

      this.childModelWhoStudy = _.cloneDeep({ ...CHILD_SCHEMA, ...{ studying: true } })
    },
    removeChildrenWhoStudy (childModel) {
      this.arrayOfChildrensWhoStudy.splice(this.arrayOfChildrensWhoStudy.indexOf(childModel), 1)
    },
    async addChildren () {
      const { age, name } = this.childModel
      if (!name || !age) {
        Toast.create.negative('Name and Age cannot be empty')
        return
      }

      // validation for age and limit requirement
      if (_.eq(this.loaField.fatal_entitlement_category_type, 'less-than-two-children')) {
        if (this.arrayOfChildrens.length >= 2) {
          this.childModel.age = null
          return
        }
        if (value >= this.fatalRequirement.age_income_requirement) return
      }

      this.arrayOfChildrens.push({
        ...this.childModel,
        ...{ id: uid(), studying: false }
      })

      this.childModel = _.cloneDeep(CHILD_SCHEMA)
    },
    modifyChildren (child, field, value) {
      if (field === 'date_of_birth') {
        _.set(child, 'age', this.$filters.getAgeByDate(value))
        _.set(child, field, value)
      }
      else {
        _.set(child, field, value)
      }
    },
    removeChildren (childModel) {
      this.arrayOfChildrens.splice(this.arrayOfChildrens.indexOf(childModel), 1)
    }
  },
  watch: {
    arrayOfChildrens: {
      handler (values) {
        this.updateLoaField(_.concat(values, this.arrayOfChildrensWhoStudy), 'fatal_entitlement_childrens')
      },
      deep: true
    },
    arrayOfChildrensWhoStudy: {
      handler (values) {
        this.updateLoaField(_.concat(values, this.arrayOfChildrens), 'fatal_entitlement_childrens')
      },
      deep: true
    }
  },
  computed: {
    getFatalEntitlementCategories,
    ...mapGetters('letterOfAuthority', {
      getClientOrPartner: 'getClientOrPartner',
      hasClientIncome: 'hasClientIncome'
    }),
    ...mapGetters('clientCalculations', {
      getFatalEntitlementDetermineCalculationByCategory: 'getFatalEntitlementDetermineCalculationByCategory',
      getDetermineActualEstimatedEarningsAmount: 'getFatalEntitlementDetermineActualEstimatedEarningsAmount'
    }),
    ...mapGetters('liabilityRates', {
      fatalRequirement: 'fatal',
      liabilityRequirement: 'requirements'
    }),
    showFatalEntitlementCalculation () {
      return !_.isEmpty(this.getFatalEntitlementDetermineCalculationByCategory)
      && this.hasClientIncome
    },
    getFatalEntitlementCalculations () {
      let categoryName = this.loaField.fatal_entitlement_category_type
      let component = _.upperFirst(_.camelCase(categoryName))
      return _.merge(this.getFatalEntitlementDetermineCalculationByCategory, {component})
    },
    getDetermineCategoryFieldMessage () {
      return `${_.capitalize(this.loaField.fatal_entitlement_for_type)} Category`
    },
    getAnnualPreAgreedCoverAmountFieldMessage () {
      return `Annual Pre-Agreed Cover Amount for ${yearNow}/${yearAfter}`
    },
    getActualEstimatedEarningsFieldMessage () {
      return `Actual/Estimated Earnings for ${yearNow}/${yearAfter}`
    },
    determineHasChildrenFromCategory () {
      if (this.determineHasChildrenAndStudyingFromCategory) return true
      return _.includes(['less-than-two-children', 'greater-than-two-children'], this.loaField.fatal_entitlement_category_type)
    },
    determineHasChildrenAndStudyingFromCategory () {
      return _.includes(['studying-children'], this.loaField.fatal_entitlement_category_type)
    },
    getAnnualPreAgreedCoverAmountAfterIcons () {
      return [
        {
          icon: 'sync',
          handler: () => {
            this.applyDefaultPreAgreedCoverAmount()
          }
        }
      ]
    }
  },
  validations () {
    return {
      loaField: {
        fatal_entitlement_annual_pre_aggreed_cover_amount: {
          required
        }
      }
    }
  },
  components: {
    NoChild,
    LessThanTwoChildren,
    GreaterThanTwoChildren,
    StudyingChildren,
    QBtn,
    QCard,
    QCardTitle,
    QCardMain,
    QField,
    QInput,
    QSelect,
    QTransition,
    Datepicker
  }
}
</script>

<style lang="stylus" scoped>
  .chart-block--space
    margin-top 5vh
    margin-bottom 5vh
</style>
