<template lang="pug">
div
  q-tabs(
    align="center"
    position="top"
    color="positive"
    inverted
    no-pane-border
  )
    q-tab(
      default
      slot="title"
      icon="remove red eye"
      label="Preview"
      name="preview-application"
    )

    q-tab(
      slot="title"
      icon="verified user"
      label="Signature"
      name="signature"
    )

    q-tab-pane(name="signature")
      generate-signature(
        :client-signature="loaField.client_signature"
        :partner-signature="loaField.partner_signature"
        @save="onHandleSignatureSave"
      )
      div(
        style="margin-top: 5vh"
        v-if="hasClientSignature"
      )
        q-field
          q-btn(
            v-if="loaField.id"
            color="positive"
            icon="link"
            flat
            @click="e => openURL(getViewLoaPdfUrl)"
          ) View External Link
          q-btn(
            push
            color="positive"
            class="pull-right"
            :icon="getSubmitApplicationTabIcon"
            @click="onApplicationSubmit"
          ) Submit
    q-tab-pane(name="preview-application")
      q-card(v-if="loaField.id && isOnline")
        q-card-title
          span(class="text-faded") Preview
        q-card-main(style="height: 100vh")
          iframe(
            height="100%"
            width="100%"
            border="0"
            type="application/pdf"
            :src="getViewLoaPdfUrl"
          )
      q-card(v-if="hasClientIncome")
        q-card-main
          q-btn(
            flat
            color="positive"
            icon="remove red eye"
            @click="onApplicationPreview"
          ) Preview
          q-btn(
            v-if="loaField.id && isOnline"
            class="pull-right"
            color="positive"
            icon="link"
            flat
            @click="e => openURL(getViewLoaPdfUrl)"
          ) View External Link
      div(v-else)
        h4(class="text-center text-faded") INCOME AMOUNT REQUIRED
  q-fixed-position(
    corner="bottom-right"
    :offset="[18, 90]"
  )
    q-btn(round color="primary" icon="schedule" @click="createSchedule")
</template>

<script>
import {
  QTabs,
  QTab,
  QTabPane,
  QBtn,
  QCard,
  QCardMain,
  QCardTitle,
  QFixedPosition,
  Toast,
  openURL
} from 'quasar'
import _ from 'lodash'
import { QField } from '@/quasar'
import GenerateSignature from '@/vsignature/Signature'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'

export default {
  name: 'loa-generate',
  mixins: [LoaFieldableMixin],
  methods: {
    openURL,
    ...mapActions('letterOfAuthority', ['submitApplicationRequest', 'sendApplicationNotification']),
    ...mapMutations('letterOfAuthorityCollection', ['SAVE_OFFLINE_DATA']),
    async onHandleSignatureSave({ data, type }) {
      await this.updateLoaField(data, `${type}_signature`)
      Toast.create.info('Signature has been saved')
    },
    onApplicationPreview () {
      Toast.create.info('Saving...')
      if (this.isOnline) {
        this.submitApplicationRequest(this.loaField)
          .then((data) => {
            let { id } = data
            let message = id ? 'updated' : 'saved'
            Toast.create.info(`Application has been ${message} Successfully`)
            this.$router.push({
              name: 'dashboard.generator.index',
              params: {
                id
              }
            })
          })
          .catch(({data}) => {
            if (data.errors) {
              Toast.create.negative({
                html: _.join(_.values(data.errors), '<br/>'),
                timeout: 3000
              })
            }
            else {
              Toast.create.negative('Opps! Something went wrong!...')
            }
          })
      }
      else {
        this.SAVE_OFFLINE_DATA(this.loaField)
        Toast.create.info('Saved Locally')
      }
    },
    onApplicationSubmit () {
      let { id } = this.loaField
      if (id) {
        Toast.create.info('Sending...')
        this.sendApplicationNotification({id})
          .then(() => {
            this.$router.push({
              name: 'dashboard.generator.index',
              params: {
                id
              }
            })
            Toast.create.info('Application has been sent successfully!')
          })
      }
      else {
        this.SAVE_OFFLINE_DATA(this.loaField)
        Toast.create.info('Saved Locally')
      }
    },
    createSchedule () {
      const url = 'https://calendly.com/jdlife/creating-value'
      window.Calendly.showPopupWidget(url)
    }
  },
  computed: {
    ...mapGetters('letterOfAuthority', [
      'hasClientIncome',
      'hasClientSignature'
    ]),
    getSubmitApplicationTabLabel () {
      if (this.loaField.id) {
        return 'Submit'
      }
      return 'Preview'
    },
    getSubmitApplicationTabIcon () {
      if (this.loaField.id) {
        return 'star'
      }
      return 'remove red eye'
    },
    getViewLoaPdfUrl () {
      const { loa_document_url: url } = this.loaField;
      return url
    }
  },
  components: {
    QTabs,
    QTab,
    QTabPane,
    QField,
    QBtn,
    QCard,
    QCardMain,
    QCardTitle,
    QFixedPosition,
    Toast,
    openURL,
    GenerateSignature
  }
}
</script>

<style lang="stylus" scoped>
.signature-container
  border 1px dotted #333
  margin-top .5em
  margin-bottom .5em
  &.partner
    margin-top 1em
</style>
