<template lang="pug">
div(class="row q-mt-md" v-if="showNotes")
  div(class="col-md-12")
    blockquote(class="note-border-primary text-weight-regular text-justify")
      p(
        :style="getLineHeightStyle"
        v-if="isAlreadyOnAccCoverPlusExtra"
      ) {{ clientName }} has existing ACC Cover Plus Extra cover of ${{ coverPlusCalculation.rawNominatedCoverAmount | numberComma }}. Reducing {{ clientName }}’s  ACC Cover Plus Extra cover to ${{ coverPlusExtraCalculation.rawNominatedCoverAmount | numberComma }} will result to cover difference of ${{ getNominatedCoverPlusExtraAmountDifference | numberComma }}. {{ clientName }}`s ACC levies will also drop from ${{ coverPlusCalculation.totalAmountPayableToAccIncludingGst | numberComma }} to ${{ coverPlusExtraCalculation.totalAmountPayableToAccIncludingGst | numberComma }} giving savings of ${{ getTotalLevySavings | numberComma }}. The difference in the ACC cover could now be covered by personalised illness and accident cover.
      p(
        :style="getLineHeightStyle"
        v-else-if="getTotalLevySavings < 1"
      ) If {{ clientName }} is taking drawings of ${{ getIncomeFromBusiness | numberComma }}, this makes {{ clientName }} eligible for ACC Cover Plus Extra. With the existing ACC Workplace/Cover Plus cover {{ clientName }} will be covered with ${{ coverPlusCalculation.nominatedCoverAmount| numberComma }} a year. Transferring to ACC Cover Plus Extra cover with ${{ coverPlusExtraCalculation.nominatedCoverAmount | numberComma }} agreed value, this gives a cover difference of ${{ getNominatedCoverPlusExtraAmountDifference | numberComma }}. {{ clientName }}`s ACC levies will also increase from ${{ coverPlusTotalAmount| numberComma }} to ${{ coverPlusExtraCalculation.totalAmountPayableToAccIncludingGst | numberComma }} which means that {{ clientName }} will need to call ${{ getTotalLevySavings | numberComma }}. The difference in the ACC cover could now be covered by personalised illness and accident cover.
      p(
        :style="getLineHeightStyle"
        v-else
      ) If {{ clientName }} is taking drawings of ${{ getIncomeFromBusiness | numberComma }}, this makes {{ clientName }} eligible for ACC Cover Plus Extra. With the existing ACC Workplace/Cover Plus cover {{ clientName }} will be covered with ${{ coverPlusCalculation.nominatedCoverAmount| numberComma }} a year. Transferring to ACC Cover Plus Extra cover with ${{ coverPlusExtraCalculation.nominatedCoverAmount | numberComma }} agreed value, this gives a cover difference of ${{ getNominatedCoverPlusExtraAmountDifference | numberComma }}. {{ clientName }}`s ACC levies will also drop from ${{ coverPlusTotalAmount| numberComma }} to ${{ coverPlusExtraCalculation.totalAmountPayableToAccIncludingGst | numberComma }} giving savings of ${{ getTotalLevySavings | numberComma }}. The difference in the ACC cover could now be covered by personalised illness and accident cover.
        template(v-if="isPartner")
          |&nbsp;It shall be discussed whether you feel that this difference in cover amount shall be covered by a personalised illness and accident cover. Only upon starting that you wish to cover this difference we shall put in a recommendation for such cover.
      p(
        style="line-height: 1.2"
        v-show="showIncomeTaxNote"
      ) To be eligible for Cover Plus Extra {{ clientName }} should be taking out drawings from the business. Since {{ clientName }} is taking PAYE/combination of PAYE and drawings, the amounts presented above is based on the idea that {{ clientName }} is willing to change over to drawings.
      p(:style="getLineHeightStyle") The amounts presented above are estimated values and are subject to changes based on the clients income and ACC levy rates.
</template>

<script>
import { mapState } from 'vuex';
import { includes } from 'lodash';
import { floatDiff } from 'src/config/utils';

export default {
  name: 'levy-notes',
  props: {
    isAlreadyOnAccCoverPlusExtra: Boolean,
    isPartner: {
      type: Boolean,
      default: false,
    },
    clientName: {
      type: [String, Object],
      default: '[Client Name]',
    },
    incomeTaxMethod: {
      type: String,
      default: 'drawings',
    },
    coverPlusCalculation: {
      type: Object,
      required: true,
    },
    coverPlusExtraCalculation: {
      type: Object,
      required: true,
    },
    coverPlusTotalAmountPayable: {
      type: [String, Number],
      default: 0,
    },
  },
  computed: {
    getLineHeightStyle: () => ({
      'font-size': '0.9em',
    }),
    ...mapState('letterOfAuthority', {
      plan: state => state
    }),
    getIncomeFromBusiness() {
      const value = this.isPartner
        ? 'partner_taking_from_the_firm' : 'income_from_business';
      return this.plan[value] || 0;
    },
    coverPlusTotalAmount() {
      const { totalAmountPayableToAccIncludingGst: coverPlus } = this.coverPlusCalculation;
      return this.coverPlusTotalAmountPayable || coverPlus;
    },
    getTotalLevySavings() {
      const { totalAmountPayableToAccIncludingGst: coverPlusExtra } = this.coverPlusExtraCalculation;
      return floatDiff(this.coverPlusTotalAmount, coverPlusExtra);
    },
    showIncomeTaxNote() {
      return includes(['paye', 'combination-of-drawings-and-paye'], this.incomeTaxMethod);
    },
    getNominatedCoverPlusExtraAmountDifference() {
      return floatDiff(
        this.coverPlusCalculation.nominatedCoverAmount,
        this.coverPlusExtraCalculation.nominatedCoverAmount,
      );
    },
    showNotes() {
      if (!this.coverPlusCalculation || !this.coverPlusExtraCalculation) return false;
      return true;
    },
  }
};
</script>
