<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" :width="w" :height="h" viewBox="100 100 600 800">
      <path fill="#6FADAD" d="M100 100h600v387.748H100z"/>
      <path fill="#24464C" d="M100 487.748h600V700H100z"/>
      <path fill="#172349" stroke="#000" stroke-width="15" stroke-miterlimit="10" d="M299.658 188.537h144.763v175.837H299.658z"/>
      <defs>
        <path id="a" d="M305.303 188.537h133.704v175.837H305.303z"/>
      </defs>
      <clipPath id="b">
        <use xlink:href="#a" overflow="visible"/>
      </clipPath>
      <path clip-path="url(#b)" fill="#FFD400" d="M334.514 276.456l1.336 2.705 2.984.433-2.16 2.106.509 2.973-2.669-1.404-2.669 1.404.51-2.973-2.16-2.106 2.984-.433z"/>
      <defs>
        <path id="c" d="M305.303 188.537h133.704v175.837H305.303z"/>
      </defs>
      <clipPath id="d">
        <use xlink:href="#c" overflow="visible"/>
      </clipPath>
      <path clip-path="url(#d)" fill="#FFD400" d="M430.644 317.836l.076 3.016 2.524 1.648-2.844 1.002-.786 2.912-1.834-2.395-3.011.152 1.713-2.483-1.078-2.819 2.893.861z"/>
      <defs>
        <path id="e" d="M305.303 188.537h133.704v175.837H305.303z"/>
      </defs>
      <clipPath id="f">
        <use xlink:href="#e" overflow="visible"/>
      </clipPath>
      <path clip-path="url(#f)" fill="#FFD400" d="M390.201 347.813l1.771 1.059 1.877-.858-.46 2.011 1.395 1.52-2.054.184-1.016 1.797-.81-1.898-2.021-.409 1.555-1.357z"/>
      <defs>
        <path id="g" d="M305.303 188.537h133.704v175.837H305.303z"/>
      </defs>
      <clipPath id="h">
        <use xlink:href="#g" overflow="visible"/>
      </clipPath>
      <path clip-path="url(#h)" fill="#FFD400" d="M352.102 313.973l1.203 2.565 2.798.462-2.067 1.938.424 2.803-2.482-1.367-2.533 1.27.533-2.784-1.992-2.018 2.812-.353z"/>
      <g>
        <defs>
          <path id="i" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="j">
          <use xlink:href="#i" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#j)" fill="#FFD400" d="M332.226 345.704l1.285 1.263 1.767-.342-.803 1.611.872 1.577-1.781-.267-1.231 1.316-.296-1.776-1.632-.763 1.598-.831z"/>
      </g>
      <g>
        <defs>
          <path id="k" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="l">
          <use xlink:href="#k" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#l)" fill="#FFD400" d="M418.641 320.102l.822.808 1.135-.219-.516 1.032.559 1.01-1.141-.17-.789.843-.189-1.138-1.045-.489 1.021-.532z"/>
      </g>
      <g>
        <defs>
          <path id="m" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="n">
          <use xlink:href="#m" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#n)" fill="#FFD400" d="M383.074 305.871l.1 1.15 1.003.569-1.062.45-.231 1.131-.756-.871-1.148.129.596-.989-.477-1.05 1.124.26z"/>
      </g>
      <g>
        <defs>
          <path id="o" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="p">
          <use xlink:href="#o" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#p)" fill="#7E858E" d="M299.604 327.177c0 4.97 3.721 9 8.312 9h34.819c4.591 0 8.313-4.03 8.313-9v-4.094c0-4.97-3.722-9-8.313-9h-34.819c-4.591 0-8.312 4.03-8.312 9v4.094z"/>
      </g>
      <g>
        <defs>
          <path id="q" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="r">
          <use xlink:href="#q" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#r)" fill="#7E858E" d="M393.636 300.987c0 4.97 3.722 9 8.313 9h27.036c4.591 0 8.313-4.03 8.313-9v-4.767c0-4.97-3.722-9-8.313-9h-27.036c-4.591 0-8.313 4.03-8.313 9v4.767z"/>
      </g>
      <g>
        <defs>
          <path id="s" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="t">
          <use xlink:href="#s" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#t)" fill="#7E858E" d="M327.476 293.188c0 3.296-2.468 5.968-5.512 5.968h-6.649c-3.046 0-5.514-2.672-5.514-5.968s2.468-5.968 5.514-5.968h6.649c3.044 0 5.512 2.672 5.512 5.968z"/>
      </g>
      <g>
        <defs>
          <path id="u" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="v">
          <use xlink:href="#u" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#v)" fill="#7E858E" d="M400.576 316.599c0 2.303-1.724 4.17-3.852 4.17h-4.182c-2.127 0-3.852-1.867-3.852-4.17s1.725-4.17 3.852-4.17h4.182c2.128.001 3.852 1.867 3.852 4.17z"/>
      </g>
      <g>
        <defs>
          <path id="w" d="M305.303 188.537h133.704v175.837H305.303z"/>
        </defs>
        <clipPath id="x">
          <use xlink:href="#w" overflow="visible"/>
        </clipPath>
        <path clip-path="url(#x)" fill="#7E858E" d="M380.408 280.849c0 3.597-2.695 6.513-6.016 6.513H362.64c-3.321 0-6.016-2.916-6.016-6.513s2.694-6.513 6.016-6.513h11.753c3.32 0 6.015 2.916 6.015 6.513z"/>
      </g>
      <path fill="#CFD9E8" stroke="#000" stroke-width="15" stroke-miterlimit="10" d="M299.658 188.537h144.763v84.714H299.658z"/>
      <path fill="#FFF" d="M340.844 267.438h-13.688l30.375-73.125h13.688zM372.813 267.438h-25.125l30-73.125h25.125z"/>
      <g>
        <ellipse opacity=".2" fill="#231F20" cx="486.255" cy="559.74" rx="63.73" ry="8.443"/>
        <path fill="#389BB2" d="M500.44 512.127c.572 3.302-1.292 5.979-4.158 5.979h-56.234c-2.867 0-5.658-2.675-6.229-5.979l-14.047-81.056c-.573-3.301 1.288-5.979 4.155-5.979h56.235c2.866 0 5.659 2.676 6.232 5.979l14.046 81.056z"/>
        <path fill="#36C1D8" d="M505.367 512.127c.576 3.302-1.289 5.979-4.156 5.979h-56.234c-2.867 0-5.658-2.675-6.231-5.979L424.7 431.071c-.572-3.301 1.289-5.979 4.157-5.979h56.234c2.869 0 5.658 2.676 6.234 5.979l14.042 81.056z"/>
        <g fill="#919191">
          <path d="M475.861 529.253h6.526v25.387h-6.526z"/>
          <path d="M458.304 551.902h41.641v4.664h-41.641z"/>
        </g>
        <path fill="#257B89" d="M469.108 526.375c0 3.302 2.326 5.979 5.193 5.979h10.095c2.869 0 5.193-2.675 5.193-5.979v-2.293c0-3.301-2.324-5.98-5.193-5.98h-10.095c-2.867 0-5.193 2.678-5.193 5.98v2.293z"/>
        <path fill="#156068" d="M474.301 518.104h10.094c2.869 0 5.193 2.678 5.193 5.98v2.293c0 .572-.073 1.121-.201 1.645h-20.078c-.129-.523-.202-1.074-.202-1.645v-2.293c.001-3.303 2.325-5.98 5.194-5.98z"/>
        <path fill="#257B89" d="M434.731 518.844c0 3.269 2.303 5.916 5.14 5.916h80.808c2.838 0 5.141-2.646 5.141-5.916 0-3.266-2.301-5.914-5.141-5.914h-80.81c-2.836 0-5.138 2.648-5.138 5.914z"/>
        <path fill="#414042" d="M515.978 455.703c.607-8.121-2.003-12.832-24.94-18.359-23.006-5.541-26.313-1.723-26.867 6.813l-.394 4.468-.083.412-1.516 21.313-1.619 21.293-.241 4.931c-.699 8.503 1.951 13.655 25.012 18.454 22.991 4.78 26.198.718 26.786-7.409l.336-4.546 3.101-42.191.332-4.493.093-.686z"/>
        <path fill="#424143" d="M506.954 440.618c-3.601-1.439-8.334-2.868-14.512-4.362-6.204-1.494-11.089-2.352-14.963-2.657-11.272-.882-13.954 2.935-15.36 9.447l-1.103 4.586-.154.423-4.859 21.858-13.319 28.096 71.191 17.19 1.751-54.605 1.036-4.609.207-.703c1.408-6.202.575-10.477-9.915-14.664z"/>
        <path fill="#F7A669" d="M498.522 447.322l-15.842-10.293 2.53-17.072 14.938 2.215-2.457 16.616z"/>
        <path fill="#424143" d="M531.088 428.528s29.209 53.287-20.484 17.13l-4.735 10.302s69.991 45.975 36.045-30.914l-10.826 3.482z"/>
        <circle fill="#29AAE1" cx="498.096" cy="452.31" r="3.572"/>
        <path fill="#29AAE1" d="M496.466 454.523l-7.837 23.681 6.748 8.692 6.945-7.531-3.27-24.745z"/>
        <path fill="#414042" d="M502.341 500.787s36.079 13.234 15.231 53.608l-15.17-6.115s19.774-23.741-8.936-41.488l8.875-6.005z"/>
        <path fill="#231F20" d="M528.001 566.771l-9.177-.797-20.088-7.435 4.866-13.146 18.664 12.126 6.272 1.037z"/>
        <path fill="#414042" d="M474.022 500.787s36.079 13.234 15.231 53.608l-15.17-6.115s19.774-23.741-8.936-41.488l8.875-6.005z"/>
        <path fill="#231F20" d="M499.679 566.771l-9.176-.797-20.087-7.435 4.865-13.146 18.666 12.126 6.268 1.037z"/>
        <g>
          <path fill="#282526" d="M553.299 379.434c.474-6.816 2.241-9.794-7.316-16.396-10.165-5.879-18.997-4.75-23.847 9.477-1.159 5.541-2.415 11.061-3.78 16.554 2.871-4.307 12.047-6.212 13.453.794 2.646 13.143-6.953 15.711-15.079 20.979-3.842 2.492 14.103 2.812 13.235 3.063 13.328-3.84 22.467-21.971 23.334-34.471z"/>
          <path fill="#F5A56A" d="M547.549 385.957c-2.527 44.344-4.418 54.236-46.631 50.973-38.221-2.954-42.217-26.421-40.532-55.946 1.685-29.528 22.356-43.665 46.427-42.292 24.069 1.372 42.422 17.737 40.736 47.265z"/>
          <path fill="#424143" d="M530.864 392.276c-.641 5.78 2.898 10.921 7.912 11.477 5.012.558 9.594-3.678 10.236-9.458.641-5.783-2.9-10.924-7.912-11.479-5.011-.56-9.593 3.678-10.236 9.46z"/>
          <ellipse transform="rotate(-83.656 540.91752898 393.399177)" fill="#8F9799" cx="540.92" cy="393.411" rx="10.534" ry="8.127"/>
          <path fill="#424143" d="M502.383 387.783l-25.034-5.981 2.92 5.037 21.488 5.081zM531.676 392.026s-5.688-5.938-12.715.035l-.499 2.119s7.56-4.502 13.13.316l.084-2.47z"/>
          <path fill="#424143" d="M501.083 390.65c-.642 5.781 3.159 10.951 8.491 11.543 5.332.592 10.176-3.615 10.822-9.398.641-5.781-3.161-10.949-8.495-11.542-5.331-.593-10.174 3.613-10.818 9.397z"/>
          <path fill="#8F9799" d="M503.207 390.885c-.641 5.782 2.683 10.895 7.429 11.425 4.746.529 9.114-3.732 9.761-9.517.641-5.781-2.687-10.897-7.432-11.422-4.75-.527-9.115 3.731-9.758 9.514z"/>
          <ellipse transform="rotate(-106.96 545.46996262 389.33481517)" fill="#FFF" cx="545.46" cy="389.334" rx="3.416" ry="2.119"/>
          <path fill="#FFF" d="M514.253 388.201c.629 2.063 2.172 3.421 3.452 3.03 1.281-.39 1.808-2.378 1.178-4.44-.63-2.063-2.173-3.418-3.455-3.03-1.279.389-1.806 2.379-1.175 4.44z"/>
          <path fill="#282526" d="M456.193 362.428c8.969 23.974 41.358-9.317 55.858-8.995 10.371.231 16.142-1.542 24.19 5.817 6.782 6.203 15.913 9.267 17.111-3.305 2.077-21.827-26.188-26.368-42.524-28.795-18.323-2.72-65.425 6.452-54.635 35.278 1.665 4.451-.823-2.186 0 0z"/>
          <path fill="#905222" d="M525.197 409.516c4.002-1.264 6.148-3.003 6.382-5.169.391-3.649-4.819-6.745-5.415-7.086l-.829 1.452c1.354.777 4.817 3.274 4.582 5.457-.156 1.422-1.961 2.722-5.223 3.75l.503 1.596z"/>
          <path fill="#282526" d="M448.573 370.813c1.033-6.753-.036-10.045 10.736-14.391 11.204-3.503 19.578-.461 21.183 14.485-.083 5.658-.071 11.32.054 16.979-1.855-4.832-10.39-8.706-13.302-2.18-5.467 12.242 3.337 16.856 10.107 23.777 3.202 3.275-14.373-.351-13.582.083-12.161-6.67-17.096-26.364-15.196-38.753z"/>
          <path fill="#231F20" d="M515.807 394.289c-.405 3.106-2.564 5.387-4.82 5.092-2.256-.294-3.756-3.051-3.352-6.157.207-1.596 1.869-.816 3.811-.664 1.912.149 4.56.219 4.361 1.729zM545.18 395.423c-.405 3.107-2.564 5.387-4.82 5.092s-3.756-3.05-3.352-6.156c.206-1.596 1.869-.816 3.811-.664 1.912.149 4.56.219 4.361 1.728z"/>
          <path fill="#231F20" d="M537.154 392.051s4.435 2.222 6.942.764c0 0 2.062.663 1.577.691-.48.028-3.515 1.715-9.826-1.049l1.307-.406zM506.576 391.796s6.453 1.763 8.879-.621c0 0 2.833.358 2.254.503-.578.145-3.553 2.931-12.563.92l1.43-.802z"/>
          <path fill="#A5223A" d="M498.184 418.945c-.005.924.761 3.281 2.754 4.148 1.922.835 5.033.197 7.182.256 3.793.103 7.535-2.362 10.617-2.215 2.994.145 4.735 1.999 6.498 2.088 1.619.082 3.301-1.346 3.301-2.262.001-1 1.436-2.752-3.922-2.935-5.358-.183-6.377-.252-6.377-.252s-5.082-.897-9.244-1.927c-3.891-.961-6.385-1.035-7.979-.65-2.654.642-2.82 2.555-2.83 3.749z"/>
        </g>
        <path fill="#FFF" d="M492.078 492.133c-.323 1.773.852 3.469 2.622 3.789 1.771.326 3.469-.853 3.789-2.619.321-1.771-.854-3.471-2.623-3.793-1.771-.322-3.467.854-3.788 2.623zM490.228 502.747c-.325 1.774.853 3.47 2.624 3.79 1.768.325 3.467-.854 3.789-2.623.319-1.769-.855-3.468-2.625-3.788-1.774-.324-3.469.853-3.788 2.621z"/>
        <g fill="#FFF">
          <path d="M487.702 442.446l7.675 44.45-20.209-25.529 10.114.178-10.661-14.52z"/>
          <path d="M504.822 445.441l-9.514 41.587 20.229-18.557-9.462-3.231 10.726-10.835z"/>
        </g>
        <g>
          <path fill="#D19266" d="M503.865 424.416h9.09v9.857h-9.09z"/>
          <path fill="#D19266" d="M512.8 427.857l-5.95-1.355-8.506-3.197-3.928-3.408.74-4.991 7.094-2.688 3.224 4.704 5.605.986 2.921 4.746z"/>
          <path fill="#424143" d="M473.632 434.865s27.762 54.078 29.134-9.772l10.922 6.476s-6.189 86.787-50.116 9.985l10.06-6.689z"/>
        </g>
        <g fill="#FCFCFC">
          <path d="M489.047 384.29c-1.345 1.843-3.656 4.25-7.031.375-3.375-3.875 0-12.461 0-12.461l3.563-12.507 2.625 12.507c-.001 0 2.187 10.242.843 12.086zM479.252 391.117c-.634.867-1.719 1.999-3.307.176-1.587-1.823 0-5.861 0-5.861l1.674-5.882 1.234 5.882c.003.001 1.032 4.818.399 5.685zM582.906 353.454c1.031 1.119 2.35 2.288.329 4.214-2.02 1.926-5.165 1.91-8.162-1.621-2.997-3.531-7.729-3.961-7.729-3.961l8.533-.092c.003-.001 5.993.337 7.029 1.46zM587.692 335.936c2.019.386 4.402.601 3.601 4.225s-4.362 6.062-10.445 4.644c-6.084-1.418-11.75 1.814-11.75 1.814l9.552-6.755c-.001-.001 7.016-4.316 9.042-3.928zM570.012 329.939c1.325-.11 2.796-.395 3.68 2.096.879 2.492-.297 4.706-4.383 4.872-4.085.166-6.197 3.271-6.197 3.271l3.072-6.081s2.497-4.047 3.828-4.158z"/>
        </g>
        <g>
          <path opacity=".2" fill="#231F20" d="M649.897 570.354c0 3.923-3.637 7.105-8.123 7.105H371.828c-4.485 0-8.121-3.181-8.121-7.105 0-3.921 3.636-7.104 8.121-7.104h269.945c4.487 0 8.124 3.181 8.124 7.104z"/>
          <path fill="#414042" d="M641.326 451.771c-.417 4.095-4.033 7.416-8.079 7.414l-89.696-.037c-4.046-.002-6.984-3.325-6.568-7.42l5.938-58.406c.416-4.095 4.032-7.416 8.076-7.413l89.699.036c4.044.001 6.984 3.323 6.568 7.42l-5.938 58.406z"/>
          <path fill="#58595B" d="M646.474 451.773c-.419 4.096-4.034 7.414-8.078 7.414l-89.697-.036c-4.045-.003-6.985-3.327-6.566-7.421l5.938-58.406c.417-4.095 4.032-7.415 8.076-7.413l89.696.036c4.047.001 6.985 3.323 6.57 7.418l-5.939 58.408z"/>
          <path fill="#414042" d="M606.6 466.211l3.552-34.961c.595-5.848-2.915-10.589-7.835-10.592l-17.697-.008c-4.922-.001-9.396 4.734-9.989 10.584l-3.555 34.977H606.6z"/>
          <path fill="#58595B" d="M610.848 465.303l3.552-34.958c.595-5.848-2.914-10.589-7.839-10.591l-17.693-.008c-4.922-.003-9.394 4.734-9.989 10.584l-3.556 34.973h35.525z"/>
          <path fill="#A3A9B2" d="M631.476 469.852c0 3.338-2.704 6.046-6.046 6.046h-66.122c-3.335 0-6.042-2.706-6.042-6.046 0-3.336 2.703-6.042 6.042-6.042h66.122c3.341 0 6.046 2.706 6.046 6.042zM549.815 469.852c0 3.338-2.705 6.046-6.045 6.046h-66.122c-3.337 0-6.043-2.706-6.043-6.046 0-3.336 2.703-6.042 6.043-6.042h66.122c3.34 0 6.045 2.706 6.045 6.042z"/>
          <g>
            <path fill="#919191" d="M626.016 474.01h9.947v98.101h-9.947zM379.994 474.01h9.95v98.101h-9.95z"/>
            <path fill="#757575" d="M379.994 474.01h9.95v51.267h-9.95zM626.016 474.01h9.948v51.267h-9.948z"/>
            <path fill="#8C6034" d="M379.854 469.35h256.108v49.006H379.854z"/>
            <path fill="#DDAC7A" d="M372.039 467.93h271.736v13.023H372.039z"/>
          </g>
          <g>
            <path fill="#231F20" d="M389.907 509.025l11.805 3.115 2.803 20.068-7.913 1.263-4.039-15.864-24.577-.576-1.184 15.199-9.364-1.005 4.802-20.28z"/>
            <path fill="#231F20" d="M339.673 576.253l78.822.95.697-48.297-78.824-.95z"/>
            <path fill="#DDD" d="M375.264 560.532l7.526.225.395-11.035-7.525-.224z"/>
            <path opacity=".2" fill="#231F20" d="M336.219 576.482c0 1.293.844 2.336 1.886 2.336h82.544c1.043 0 1.888-1.045 1.888-2.336 0-1.289-.845-2.332-1.888-2.332h-82.544c-1.041-.002-1.886 1.043-1.886 2.332z"/>
          </g>
        </g>
      </g>
      <path fill="#414042" d="M403.699 677.496H156.144v-65.432h247.555l-19.239 32.715z"/>
      <path fill="#FF6700" d="M395.229 677.496H147.667v-65.432h247.562l-19.238 32.715z"/>
      <text transform="translate(187.7566 653.7529)" fill="#FFF" font-family="'Helvetica'" font-size="26.8664">
        ${{ amount | numberComma }}
      </text>
      <path fill="#414042" d="M137.5 612.064h10.167V677.5H137.5z"/>
    </svg>
</template>

<script>
  import BaseIncomes from './BaseIncomes'

  export default {
    mixins: [BaseIncomes]
  }
</script>
