q-field(label="What’s your Wife/Husband Full Name?")
  q-input(
    clearable
    :value="loaField.partner_name"
    @change="value => updateLoaField(value, 'partner_name')"
  )
q-field(:label="getPartnerDesignationLabel")
  q-select(
    clearable
    color="positive"
    :options="getYesOrNo"
    :value="loaField.is_partner_shareholder_or_directory"
    @change="value => updateLoaField(value, 'is_partner_shareholder_or_directory')"
  )
q-field(:label="getPartnerAccountTaxSpliitingFieldMessage")
  q-select(
    clearable
    color="positive"
    :options="getYesOrNo"
    :value="loaField.is_partner_account_tax_splitting"
    @change="value => updateLoaField(value, 'is_partner_account_tax_splitting')"
  )
q-field(
  :label="getPartnerTaxMethodFieldMessage"
  v-if="loaField.is_partner_account_tax_splitting === 'yes'"
)
  q-select(
    clearable
    color="positive"
    :options="getTaxMethods"
    :value="loaField.partner_income_tax_method"
    @change="value => updateLoaField(value, 'partner_income_tax_method')"
  )
q-field(label="How much is he/she taking from the firm?")
  q-input(
    type="tel"
    prefix="$"
    v-money="{}"
    align="right"
    :value="loaField.partner_taking_from_the_firm"
    @change="value => updateLoaField(value, 'partner_taking_from_the_firm')"
  )
q-field(
  class="q-mt-md"
  label="What ACC cover plan do you have?"
)
  q-select(
    color="positive"
    :options="accCoverPlanTypes"
    :value="loaField.partner_acc_cover_plan_type"
    @change="value => updatePlanField(value, 'partner_acc_cover_plan_type')"
  )
q-field(label="How much is he/she nominated Cover Plus Extra cover amount")
  q-input(
    type="tel"
    prefix="$"
    v-money="{}"
    align="right"
    :value="loaField.partner_nominated_cover_amount"
    @change="value => updateLoaField(value, 'partner_nominated_cover_amount')"
  )
q-field(:label="getPartnerOnToolsFieldMessage")
  q-select(
    color="positive"
    :options="getYesOrNo"
    :value="loaField.partner_on_tools"
    @change="value => updateLoaField(value, 'partner_on_tools')"
  )
q-field(
  :label="getPartnerDoesInBusinessFieldMessage"
  v-if="loaField.partner_on_tools === 'no'"
)
  q-select(
    radio
    filter
    color="positive"
    autofocus-filter
    float-label="Search Classification Code"
    filter-placeholder="Search Classification Code"
    :options="classificationUnits"
    :value="loaField.partner_classification_unit"
    @change="value => updateLoaField(value, 'partner_classification_unit')"
  )
q-field(:label="getPartnerWhenBusinessStarted")
  q-input(
    clearable
    type="number"
    :max-length="3"
    :value="loaField.partner_when_business_started"
    @change="value => updateLoaField(value, 'partner_when_business_started')"
  )
q-field(class="row")
  div(class="col-md-12")
    q-btn(
      class="full-width"
      color="positive"
      icon="settings"
      :disable="calculating"
      :loader="calculating"
      @click="calculateLevy"
    ) Calculate
