div(class="q-mt-md" v-if="showCalculatedLevy")
  h4(
    key="classification-unit-name"
    class="text-faded text-center"
    v-if="getDeterminedCalculationHeaderLabel"
    v-text="getDeterminedCalculationHeaderLabel"
  )
  div(class="row gutter-md")
    div(:class="getDeterminedPigColumnClass")
      pig-bank(
        :total-savings="getPigSavingsAmount"
        :income-difference-amount="getTotalIncomeProtectionAmount"
        :total-cover-plus-levy="getCoverPlusCalculationTotalAmountPayableToAcc"
        :total-cover-plus-extra-levy="getDeterminedCoverPlusExtraCalculation.totalAmountPayableToAccIncludingGst"
      )
    div(
      v-if="getPigSavingsPercentage > 0"
      class="col-md-6"
    )
      pig-savings(:percentage="getPigSavingsPercentage")
