<template lang="pug">
div
  include ../CompanyAndIncomeDetails/blocks/acc-title
  include blocks/income
  include blocks/results
  income-levy-calculation-notes(
    v-if="showCalculatedLevy"
    is-partner
    :client-name="partnerName"
    :cover-plus-calculation="getCoverPlusCalculation"
    :income-tax-method="loaField.partner_income_tax_method"
    :is-already-on-acc-cover-plus-extra="isAlreadyOnAccCoverPlusExtra"
    :cover-plus-extra-calculation="getDeterminedCoverPlusExtraCalculation"
    :cover-plus-total-amount-payable="getCoverPlusCalculationTotalAmountPayableToAcc"
  )
</template>

<script>
import {
  QBtn,
  QSelect,
  Loading,
  QTransition
} from 'quasar'
import _ from 'lodash'
import { QInput, QField } from '@/quasar'
import { validationMixin } from 'vuelidate'
import { mapGetters, mapActions } from 'vuex'
import Datepicker from '@/datepicker/Datepicker'
import { PigBank, PigSavings } from '@/charts/Pigs'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'
import IncomeLevyCalculationNotes from 'src/components/levy/Notes'
import { numberWithCommas, getPercentageValue } from 'src/config/utils'
import { getYesOrNo, getTaxMethods, accCoverPlanTypes } from 'src/config/option-values'

export default {
  name: 'tax-splitting',
  mixins: [LoaFieldableMixin],
  data: () => ({
    calculating: false
  }),
  methods: {
    ...mapActions('partnerCalculations', ['requestAllLevyCalculations']),
    async calculateLevy() {
      try {
        this.calculating = true;
        Loading.show({
          message: 'Calculating.... Please wait.',
        });
        await this.requestAllLevyCalculations();
      }
      catch (e) {}
      finally {
        Loading.hide();
        this.calculating = false;
      }
    },
  },
  computed: {
    getYesOrNo,
    getTaxMethods,
    accCoverPlanTypes,
    ...mapGetters('partnerCalculations', {
        showCalculatedLevy: 'showCalculatedLevy',
        getPigSavingsAmount: 'getPigSavingsAmount',
        getPigSavingsPercentage: 'getPigSavingsPercentage',
        getCoverPlusCalculation: 'getCoverPlusCalculation',
        coverPlusExtraCalculation: 'getCoverPlusExtraCalculation',
        currentClassificationUnit: 'getSelectedClassificationUnit',
        isTheSameClassificationUnit: 'isTheSameClassificationUnit',
        isAlreadyOnAccCoverPlusExtra: 'isAlreadyOnAccCoverPlusExtra',
        getTotalIncomeProtectionAmount: 'getTotalIncomeProtectionAmount',
        getDeterminedCalculationHeaderLabel: 'getDeterminedCalculationHeaderLabel',
        getDeterminedCoverPlusExtraCalculation: 'getDeterminedCoverPlusExtraCalculation',
        getCoverPlusCalculationTotalAmountPayableToAcc: 'getCoverPlusCalculationTotalAmountPayableToAcc',
    }),
    ...mapGetters('classificationUnit', {
      classificationUnits: 'mapClassificationValues'
    }),
    getPartnerDesignationLabel () {
      const { partner_name: name } = this.loaField
      return `Is ${name || 'Husband/Wife'} a...Shareholder or Director?`
    },
    getPartnerWhenBusinessStarted () {
      let name = this.loaField.partner_name

      if (_.isEmpty(name)) {
        return 'How long has “INSERT Wife/Husband Name” been doing this (in years)?'
      }

      return `How long has ${name} been doing this (in years)?`
    },
    getPartnerDoesInBusinessFieldMessage () {
      let name = this.loaField.partner_name

      if (_.isEmpty(name)) {
        return 'What is it that “INSERT Wife/Husband Name” does?'
      }

      return `What is it that ${name} does?`
    },
    getPartnerOnToolsFieldMessage () {
      let name = this.loaField.partner_name

      if (_.isEmpty(name)) {
        return 'Is “INSERT Wife/husband’s Name” on tools?'
      }

      return `Is ${name}’s on tools?`
    },
    getPartnerAccountTaxSpliitingFieldMessage () {
      let name = this.loaField.partner_name

      if (_.isEmpty(name)) return `Is your Accountant Tax splitting with “Wife/husband?”`

      return `Is your Accountant Tax splitting with ${name}?`
    },
    getPartnerTaxMethodFieldMessage () {
      let name = this.loaField.partner_name

      if (_.isEmpty(name)) {
        return `Is “Wife/husband?” Drawings or PAYE?`
      }

      return `Is ${name} on Drawings or PAYE?`
    },
    getDeterminedPigColumnClass() {
      const hasPercentage = this.getPigSavingsPercentage > 0;
      return !hasPercentage ? {
        'col-md-8': true,
        'offset-md-2': true,
      } : { 'col-md-6': true };
    },
  },
  components: {
    Datepicker,
    QInput,
    QField,
    QSelect,
    QTransition,
    PigBank,
    PigSavings,
    QBtn,
    IncomeLevyCalculationNotes
  }
}
</script>
