<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
  <g id="Layer_1_1_">
    <ellipse opacity="0.3" fill="#BCBEC0" enable-background="new    " cx="931.446" cy="868.399" rx="235.884" ry="14.524"/>
    <ellipse opacity="0.3" fill="#BCBEC0" enable-background="new    " cx="601.446" cy="874.317" rx="47.884" ry="4.606"/>
    <g>
      <path fill="#414042" d="M786.781,815.223l-18.316-3.512l-2.553,13.166l9.588,1.84c7.83,1.498,13.089,8.627,11.737,15.902
        c-1.337,7.287-8.777,11.973-16.606,10.469l-9.82-1.883l-2.553,13.168l18.783,3.602c15.462,2.969,30.175-6.438,32.864-21.006
        C812.6,832.404,802.24,818.189,786.781,815.223z"/>
      <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M786.85,815.273l-18.392-3.525l-1.771,9.133l20.512,3.936
        c10.241,1.965,18.538,7.859,23.068,15.361C809.224,828.238,799.86,817.768,786.85,815.273z"/>
    </g>
    <g>
      <path fill="#414042" d="M922.12,829.096c-2.707-14.561-17.475-24.117-32.969-21.346l-40.086,7.18
        c-15.495,2.775-25.858,16.828-23.146,31.395c2.71,14.563,17.47,24.121,32.969,21.344l40.081-7.178
        C914.468,857.715,924.829,843.66,922.12,829.096z M899.4,833.162c1.364,7.281-3.901,14.324-11.751,15.729l-23.684,4.238
        c-7.854,1.41-15.313-3.354-16.67-10.635c-1.354-7.279,3.909-14.324,11.758-15.729l23.688-4.238
        C890.589,821.115,898.052,825.885,899.4,833.162z"/>
      <g opacity="0.1">
        <path fill="#D1D3D4" d="M849.147,814.953l40.086-7.184c13.042-2.334,25.535,4.084,30.787,14.855
          c-6.917-5.379-16.776-7.91-27.041-6.072l-44.828,8.029c-9.705,1.738-17.688,6.998-22.364,13.842
          C827.278,826.992,836.5,817.215,849.147,814.953z"/>
      </g>
    </g>
    <g>
      <path fill="#414042" d="M774.1,840.451c-0.005,6.838,5.161,12.389,11.536,12.393l60.488,0.049
        c6.377,0.008,11.553-5.531,11.557-12.373l0,0c0.008-6.838-5.157-12.387-11.533-12.393l-60.492-0.049
        C779.279,828.074,774.105,833.609,774.1,840.451L774.1,840.451z"/>
      <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M853.548,836.451l-74.814-0.063
        c-1.392,0-2.736,0.18-4.014,0.502c1.538-4.904,5.815-8.463,10.913-8.457l60.483,0.051c5.051,0.004,9.29,3.502,10.859,8.342
        C855.876,836.592,854.731,836.453,853.548,836.451z"/>
      <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M851.184,850.002l-69.308-0.041
        c-1.695-0.002-3.313-0.313-4.805-0.857c2.104,2.363,5.06,3.848,8.344,3.85l60.487,0.049c2.99,0,5.705-1.225,7.758-3.221
        C852.859,849.924,852.031,850.002,851.184,850.002z"/>
    </g>
    <path fill="#E6E7E8" d="M979.457,831.496c-0.788,5.406-5.313,9.912-11.326,10.717l-68.438,9.172
      c-7.174,0.959-13.748-3.686-14.757-10.398c-0.156,1.074-0.18,2.182-0.021,3.305c0.944,6.775,7.563,11.479,14.777,10.516
      l68.438-9.17c7.212-0.967,12.297-7.244,11.35-14.021C979.475,831.572,979.463,831.537,979.457,831.496z"/>
    <g>
      <path fill="#414042" d="M979.295,837.512c-0.332,6.834-6.499,12.057-13.765,11.66l-68.948-3.75
        c-7.271-0.395-12.894-6.252-12.562-13.086l0,0c0.334-6.836,6.499-12.053,13.769-11.656l68.948,3.744
        C974.005,824.818,979.627,830.678,979.295,837.512L979.295,837.512z"/>
      <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M889.115,828.254l85.277,4.637
        c1.586,0.086,3.109,0.348,4.549,0.75c-1.512-4.998-6.209-8.818-12.017-9.135l-68.945-3.746
        c-5.752-0.311-10.762,2.916-12.791,7.654C886.457,828.25,887.768,828.182,889.115,828.254z"/>
    </g>
    <g>
      <ellipse opacity="0.3" fill="#BCBEC0" enable-background="new    " cx="267.556" cy="870.767" rx="235.883" ry="14.524"/>
      <path fill="#414042" d="M526.174,861.131l38.886-32.604c20.579-17.26,20.396-50.541-0.414-74.348
        c-15.477-17.705-38-25.154-56.996-20.717c9.215,2.809,18.11,8.35,25.233,16.5c17.645,20.18,17.797,48.398,0.347,63.027
        l-22.683,19.021c-17.447,14.627-45.895,10.135-63.536-10.049c-5.198-5.947-8.831-12.596-10.996-19.387
        c-2.079,15.389,2.967,32.682,15.215,46.693C472.04,873.078,505.594,878.385,526.174,861.131z"/>
      <g>
        <path fill="#414042" d="M646.251,847.777c2.771-14.563-7.516-28.748-22.969-31.688l-39.977-7.598
          c-15.456-2.939-30.229,6.48-32.998,21.049c-2.769,14.561,7.514,28.748,22.97,31.686l39.976,7.602
          C628.708,871.766,643.482,862.342,646.251,847.777z M623.594,843.471c-1.379,7.283-8.853,11.979-16.676,10.49l-23.621-4.49
          c-7.831-1.486-13.052-8.596-11.669-15.877c1.387-7.281,8.854-11.979,16.681-10.488l23.625,4.49
          C619.759,829.082,624.982,836.197,623.594,843.471z"/>
        <g opacity="0.1">
          <path fill="#D1D3D4" d="M583.304,808.518l39.979,7.602c13.011,2.471,22.318,12.92,23.297,24.848
            c-4.489-7.486-12.762-13.367-22.997-15.313l-44.706-8.498c-9.683-1.842-19.037,0.223-25.887,4.943
            C558.541,811.959,570.692,806.119,583.304,808.518z"/>
        </g>
      </g>
      <path fill="#414042" d="M701.346,855.068c-7.61,2.393-15.614-1.391-17.884-8.439c-2.269-7.049,2.063-14.703,9.669-17.094
        l13.646-4.283l-3.992-12.803l-21.059,6.611c-15.02,4.719-23.52,19.973-18.979,34.074c4.532,14.104,20.387,21.711,35.407,16.992
        l20.603-6.471l-3.993-12.807L701.346,855.068z"/>
      <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M681.298,819.295c-12.242,3.902-20.104,14.801-20.085,26.33
        c3.734-7.396,10.964-13.658,20.356-16.652l24.012-7.594l-2.8-8.928L681.298,819.295z"/>
      <g>
        <path fill="#414042" d="M502.761,818.063c-1.523,6.678,2.289,13.189,8.509,14.555l59.03,12.926
          c6.226,1.361,12.505-2.943,14.029-9.617l0,0c1.521-6.676-2.286-13.188-8.51-14.553l-59.031-12.926
          C510.568,807.084,504.283,811.389,502.761,818.063L502.761,818.063z"/>
        <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M581.117,830.764l-73.012-15.984
          c-1.357-0.299-2.71-0.41-4.026-0.365c2.591-4.461,7.555-7.021,12.525-5.932l59.028,12.924c4.927,1.078,8.291,5.396,8.747,10.457
          C583.359,831.396,582.274,831.018,581.117,830.764z"/>
      </g>
      <polygon opacity="0.1" fill="#BCBEC0" enable-background="new    " points="510.036,832.297 549.876,841.047 537.87,851.309    "/>
      <g>
        <path fill="#414042" d="M609.6,844.453c-0.005,6.838,5.161,12.387,11.536,12.391l60.488,0.051
          c6.377,0.006,11.553-5.531,11.557-12.375l0,0c0.008-6.838-5.157-12.385-11.533-12.391l-60.492-0.049
          C614.78,832.076,609.606,837.611,609.6,844.453L609.6,844.453z"/>
        <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M689.049,840.451l-74.814-0.063
          c-1.392,0-2.737,0.182-4.014,0.504c1.538-4.906,5.817-8.465,10.913-8.459l60.483,0.053c5.051,0.004,9.29,3.502,10.859,8.342
          C691.377,840.594,690.232,840.453,689.049,840.451z"/>
        <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M686.685,854.004l-69.308-0.041
          c-1.695-0.002-3.313-0.313-4.805-0.857c2.104,2.361,5.06,3.846,8.344,3.848l60.487,0.049c2.99,0.002,5.705-1.223,7.76-3.219
          C688.36,853.924,687.532,854.004,686.685,854.004z"/>
      </g>
      <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M571.756,842.119l-59.031-12.926
        c-6.22-1.361-10.03-7.877-8.509-14.553c0.005-0.021,0.012-0.041,0.018-0.063c-0.588,1.063-1.041,2.23-1.326,3.48
        c-1.522,6.678,2.288,13.189,8.51,14.555l59.029,12.926c6.205,1.355,12.461-2.916,14.013-9.555
        C581.905,840.594,576.813,843.227,571.756,842.119z"/>
      <ellipse fill="#414042" cx="341.176" cy="593.45" rx="294.374" ry="282.64"/>
      <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M325.497,306.564c-20.064,0-39.651,1.941-58.585,5.616
        c119.28,36.1,205.771,143.137,205.771,269.583c0,136.838-101.28,250.948-235.789,277.03c27.969,8.467,57.727,13.051,88.604,13.051
        c162.581,0,294.375-126.541,294.375-282.64C619.872,433.107,488.076,306.564,325.497,306.564z"/>
      <g>
        <path fill="#FFFFFF" d="M215.609,711.871V589.085h-37.239v-24.999h99.733v24.999h-37.153v122.786H215.609z"/>
        <path fill="#FFFFFF" d="M394.614,711.871h-27.565l-10.958-33.568h-50.167l-10.358,33.568h-26.88l48.882-147.785h26.794
          L394.614,711.871z M347.957,653.402l-17.292-54.841l-16.95,54.841H347.957L347.957,653.402z"/>
        <path fill="#FFFFFF" d="M395.299,711.871l42.89-77.119l-38.866-70.666h29.621l25.168,47.48l24.655-47.48h29.363l-39.037,71.775
          l42.891,76.01h-30.562l-27.823-51.111l-27.908,51.111H395.299z"/>
      </g>
      <g>

          <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="672.997" y1="788.045" x2="688.329" y2="807.379"/>

          <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="686.549" y1="782.469" x2="694.113" y2="805.955"/>
      </g>
    </g>
    <g>

        <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="767.673" y1="777.027" x2="766.707" y2="801.684"/>

        <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="783.975" y1="780.383" x2="774.407" y2="803.129"/>
    </g>
    <g>
      <path fill="#404042" d="M1081.344,455.095c0-20.092-18.803-36.378-41.997-36.378h-93.648c-23.19,0-41.992,16.286-41.992,36.378
        l2.623,110.615l2.5,77l172.269-1.82v-71.294c0.159-1.287,0.246-2.593,0.246-3.919V455.095z"/>
      <path fill="#F1F2F2" d="M919.68,440.623c0,0,51.415,74.619,71.05,99.062c0,0,46.927-70.404,79.459-95.629
        C1088.788,429.636,919.68,440.623,919.68,440.623z"/>
      <g>
        <path fill="#808285" d="M994.777,552.121c0,2.288-1.813,4.146-4.049,4.146c-2.236,0-4.051-1.855-4.051-4.146
          s1.813-4.146,4.051-4.146C992.963,547.977,994.777,549.833,994.777,552.121z"/>
        <path fill="#808285" d="M995.092,578.997c0,2.287-1.814,4.143-4.049,4.143c-2.239,0-4.057-1.854-4.057-4.143
          c0-2.291,1.815-4.146,4.057-4.146C993.277,574.85,995.092,576.706,995.092,578.997z"/>
        <ellipse fill="#808285" cx="991.351" cy="605.012" rx="4.052" ry="4.145"/>
      </g>
      <g>
        <polygon fill="#414143" points="976.083,474.79 963.304,459.349 976.083,443.913 1001.636,443.913 1014.407,459.349
          1001.636,474.79       "/>
        <polygon fill="#414143" points="968.914,513.383 990.729,539.684 1011.609,506.523 1001.636,474.79 976.083,474.79       "/>
      </g>
      <polygon fill="#808285" points="1075.611,437.27 1060.685,474.073 1040.977,474.932 1050.092,489.943 990.729,539.684
        1047.443,450.488 1076.734,434.407     "/>
      <polygon fill="#808285" points="905.999,436.842 920.928,473.645 940.636,474.501 931.521,489.51 990.729,539.684 934.17,450.059
        904.88,433.978    "/>
      <path fill="#42474D" d="M903.704,640.891c0,0-3.345,41.166,87.023,40.6c0,0,86.629,2.854,90.368-40.6H903.704z"/>
      <g>
        <polygon fill="#42474D" points="979.511,678.627 923.888,665.334 930.316,754.205 930.897,762.236 930.897,762.25
          930.899,762.25 945.073,849.307 973.742,848.736 968.763,766.453      "/>
        <path fill="#42474D" d="M945.073,849.307c0,0-44.047-21.91-63.565-4.002c-16.518,15.15-13.713,18.295-8.727,24.016
          c4.985,5.717,104.079,0,104.079,0s3.738-19.439-3.118-20.582C966.891,847.592,945.073,849.307,945.073,849.307z"/>
      </g>
      <g>
        <polygon fill="#42474D" points="1012.233,676.055 1067.852,662.762 1061.425,751.629 1060.845,759.662 1060.842,759.68
          1060.84,759.68 1046.663,846.732 1017.991,846.164 1022.976,763.883       "/>
        <path fill="#42474D" d="M1046.663,846.732c0,0,44.051-21.912,63.569-4.004c16.515,15.154,13.71,18.299,8.728,24.018
          c-4.989,5.715-104.082,0-104.082,0s-3.74-19.439,3.113-20.582C1024.85,845.016,1046.663,846.732,1046.663,846.732z"/>
      </g>
      <path fill="#F8C29F" d="M1128.458,350.436c0,57.865-52.535,104.772-117.345,104.772h-42.238
        c-64.809,0-117.347-46.907-117.347-104.773v-50.289c0-57.865,52.538-104.774,117.347-104.774h42.238
        c64.81,0,117.766,29.289,117.345,104.774V350.436z"/>
      <path fill="#80421C" d="M939.024,267.478c-17.051,2.144-34.878,8.284-38.425,16.252c-0.299,0.686,1.443,2.059,3.727,0.653
        c12.537-7.703,16.59-8.6,37.558-11.846C950.132,271.258,947.751,266.38,939.024,267.478z"/>
      <path fill="#80421C" d="M1027.192,261.11c12.128,1.701,25.743,7.132,30.078,14.529c0.373,0.635-0.482,1.956-2.381,0.679
        c-10.39-6.989-13.367-7.757-28.422-10.42C1020.544,264.848,1020.982,260.238,1027.192,261.11z"/>
      <g>
        <path fill="#80421C" d="M923.094,290.916c10.06,0.287,17.947,7.41,17.604,15.909c-0.345,8.495-8.771,15.149-18.844,14.862
          c-10.055-0.288-17.94-7.406-17.604-15.905C904.592,297.282,913.027,290.626,923.094,290.916z"/>
        <path fill="#FFFFFF" d="M923.094,294.731c10.06,0.271,17.947,6.918,17.601,14.852c-0.34,7.931-8.769,14.147-18.839,13.877
          c-10.063-0.269-17.94-6.918-17.604-14.85C904.592,300.677,913.027,294.46,923.094,294.731z"/>
        <path fill="#333333" d="M921.019,296.603c7.772,0.206,13.854,5.342,13.585,11.465c-0.263,6.119-6.769,10.914-14.537,10.708
          c-7.765-0.21-13.854-5.342-13.591-11.461C906.739,301.19,913.249,296.397,921.019,296.603z"/>
        <path fill="#FFFFFF" d="M926,296.924c2.439,0.07,4.354,1.685,4.272,3.607c-0.08,1.927-2.129,3.434-4.575,3.371
          c-2.439-0.064-4.355-1.681-4.274-3.605C921.513,298.371,923.555,296.86,926,296.924z"/>
      </g>
      <g>
        <path fill="#80421C" d="M1036.524,287.766c10.062,0.285,17.945,7.371,17.605,15.823c-0.348,8.454-8.777,15.072-18.844,14.785
          c-10.065-0.285-17.943-7.367-17.604-15.82C1018.022,294.102,1026.456,287.479,1036.524,287.766z"/>
        <path fill="#FFFFFF" d="M1036.524,291.735c10.062,0.264,17.945,6.879,17.605,14.771c-0.339,7.895-8.777,14.073-18.844,13.805
          c-10.065-0.266-17.943-6.881-17.604-14.772C1018.022,297.648,1026.456,291.467,1036.524,291.735z"/>
        <path fill="#333333" d="M1033.635,294.466c7.768,0.207,13.85,5.31,13.591,11.399c-0.268,6.089-6.771,10.857-14.54,10.655
          c-7.769-0.208-13.848-5.311-13.587-11.404C1019.361,299.03,1025.868,294.261,1033.635,294.466z"/>
        <path fill="#FFFFFF" d="M1038.616,294.79c2.44,0.063,4.354,1.669,4.276,3.585c-0.082,1.916-2.132,3.417-4.579,3.351
          c-2.438-0.066-4.354-1.669-4.271-3.587C1034.13,296.225,1036.17,294.724,1038.616,294.79z"/>
      </g>
      <g>
        <g>
          <path fill="#F8C29F" d="M863.266,316.91c0,12.729-10.505,23.048-23.47,23.049c-12.959,0-23.467-10.32-23.467-23.049
            c0-12.731,10.508-23.05,23.467-23.05C852.761,293.859,863.266,304.178,863.266,316.91z"/>
        </g>
        <path opacity="0.3" fill="#E29164" enable-background="new    " d="M851.386,321.381c1.32,6.032-5.861,8.354-12.367,5.416
          c-13.555-6.126-10.715-26.355,2.566-22.283c-8.65,0.804-9.581,9.523-3.263,12.118
          C843.605,318.802,850.011,315.119,851.386,321.381z"/>
      </g>
      <g>
        <g>
          <ellipse fill="#F8C29F" cx="1143.713" cy="316.908" rx="23.468" ry="23.049"/>
        </g>
        <path opacity="0.3" fill="#E29164" enable-background="new    " d="M1132.122,321.381c-1.316,6.032,5.865,8.354,12.371,5.416
          c13.555-6.126,10.709-26.356-2.568-22.282c8.651,0.803,9.58,9.522,3.261,12.117
          C1139.905,318.802,1133.502,315.119,1132.122,321.381z"/>
      </g>
      <g>
        <path fill="#4E3319" d="M899.254,88.01c-11.696,27.703,1.847,44.229,39.308,44.671c18.469,0.226,37.436-2.695,55.463-6.344
          c32.729-6.626,63.197-1.693,79.33,16.331c7.244,8.085,10.99,18.076,16.744,27.927c1.686-1.144,47.241-28.909,61.34,17.224
          c14.104,46.142,4.32,82.623-18.621,118.134c-1.251,1.505-4.728,4.959-4.728,4.959c-6.521-23.188-19.263-54.753-30.207-77.218
          c-12.531-25.721-41.81-31.024-69.907-14.273c-35.3,21.04-86.969,42.298-127.277,33.984
          c-48.219-9.941-111.754-80.003-52.866-150.094c3.581,8.941,6.499,16.216,9.411,23.484c3.946-27.705,18.95-52.085,47.891-52.085
          C902.579,80.476,900.849,84.222,899.254,88.01z"/>
        <g>
          <path fill="#6E4B2D" d="M895.49,109.127c-2.42,19.531,12.155,30.881,43.085,31.252c18.474,0.221,37.438-2.703,55.458-6.351
            c32.734-6.625,63.207-1.693,79.338,16.333c7.238,8.089,10.984,18.076,16.741,27.934c1.688-1.151,47.241-28.911,61.339,17.222
            c4.047,13.238,6.072,25.655,6.438,37.512c0.452-14.147-1.504-29.076-6.438-45.21c-14.098-46.133-59.649-18.368-61.339-17.224
            c-5.757-9.851-9.503-19.842-16.741-27.927c-16.131-18.024-46.604-22.957-79.338-16.331c-18.02,3.649-36.984,6.57-55.458,6.344
            C911.972,132.368,897.492,123.909,895.49,109.127z"/>
          <path fill="#6E4B2D" d="M847.847,111.004c3.585,8.941,6.498,16.217,9.417,23.486c3.775-26.547,17.747-49.976,44.368-51.896
            c1.008-2.264,2.139-4.776,3.519-7.887c-28.94,0-43.944,24.38-47.887,52.086c-2.919-7.268-5.832-14.543-9.417-23.484
            c-18.147,21.599-24.644,43.197-23.564,63.036C825.095,148.674,832.019,129.85,847.847,111.004z"/>
        </g>
        <path fill="#452C13" d="M1083.641,199.083c-52.616-29.479-106.86,30.944-156.604,36.665c-49.541,5.697-73.863-9.014-74.06-9.135
          c14.198,13.928,31.531,23.559,47.241,26.794c40.312,8.313,91.979-12.944,127.277-33.984
          c28.104-16.751,54.142-13.958,68.729,11.152c13.021,22.43,25.343,57.152,31.863,80.339
          C1131.12,274.829,1124.935,222.222,1083.641,199.083z"/>
        <path fill="#4E3319" d="M849.795,222.088c0,0-27.976,14.368,4.998,87.755l12.293-72.53
          C867.086,237.313,859.697,232.672,849.795,222.088z"/>
        <path fill="#452C13" d="M855.883,228.159c0,0-19.6,12.381-1.09,82.732l17.271-69.418
          C872.065,241.474,858.878,230.489,855.883,228.159z"/>
      </g>
      <path opacity="0.1" fill="#F1F2F2" enable-background="new    " d="M1144.859,294.044c-6.392,0-12.185,2.519-16.417,6.594
        c-19.068-27.487-17.922-80.828-64.847-92.916c22.792,47.637,55.345,135.042,38.512,170.617c0,0-10.712,38.793-66.935,74.791
        c56.223-10.072,94.089-57.63,93.285-101.389v-18.176c4.23,4.065,10.016,6.578,16.399,6.578c12.962,0,23.471-10.317,23.471-23.05
        C1168.329,304.363,1157.82,294.044,1144.859,294.044z"/>
      <path fill="#404042" d="M1035.663,612.711c0,0,113.332-46,33.748-117.885l6.502-56.948c0,0,161.248,119.833-34.918,220.833
        L1035.663,612.711z"/>

        <ellipse transform="matrix(0.9353 0.3539 -0.3539 0.9353 297.5519 -328.4772)" fill="#808285" cx="1046.836" cy="649.271" rx="2.748" ry="2.537"/>

        <ellipse transform="matrix(0.9352 0.354 -0.354 0.9352 296.6849 -331.7933)" fill="#808285" cx="1055.147" cy="644.955" rx="2.747" ry="2.541"/>
      <path fill="#D4A782" d="M1040.781,376.583c-27.349,33.924-108.113,30.341-125.818,18.792
        C971.016,404.267,1019.081,389.51,1040.781,376.583z"/>
      <path fill="#D4A782" d="M1008.558,410.367c-13.065,9.563-27.811,9.498-38.638,3.707
        C988.776,413.025,994.253,408.943,1008.558,410.367z"/>
      <g>
        <path fill="#FFCCA8" d="M797.006,560.562c-9.669,0.967-13.964,0.691-27.353-7.459c-3.132-1.909,31.851-36.156,31.851-36.156
          c0.929,0.745,14.254,13.278,20.098,14.595c0.865,0.197-7.906,29.619-7.906,29.619
          C809.122,559.955,799.74,560.288,797.006,560.562z"/>
        <g>
          <g>
            <path fill="#F7BE97" d="M811.27,531.857c1.089,5.549,2.619,13.483-1.038,17.979c-8.529,10.485-12.956,8.539-12.956,8.539
              c5.858-13.36,1.021-25.157,2.384-30.211L811.27,531.857z"/>
            <path fill="#FFCCA8" d="M797.276,558.376c0,0,2.331,3.086,11.047-9.276c8.712-12.366-2.275-35.963-4.295-36.572
              c-2.024-0.613-22.057-7.562-22.057-7.562s-5.237,6.396,1.015,9.854c6.258,3.46,13.446,7.482,13.446,7.482
              S797.483,536.37,797.276,558.376z"/>
            <path fill="#FFDCC5" d="M788.985,507.393c0,0-0.557,1.204-2.321,1.179l-4.748-1.304c0,0,0.151-1.438,1.021-1.969
              L788.985,507.393z"/>
          </g>
        </g>
      </g>
      <polygon fill="#404042" points="883.829,570.21 818.329,526.709 810.995,563.043 885.829,603.211    "/>
      <g>
        <path fill="#D1D3D4" d="M882.69,656.037c0,0-15.891,9.73-44.107,9.623c0,0-129.759,72.951-147.511,113.635
          c0,0-11.104,17.303,20.935-4.566l201.75-123.117L882.69,656.037z"/>
        <g>
          <path fill="#5EC13C" d="M898.401,639.422c-6.097,3.314-16.355,7.027-20.001,13.139c-5.799,9.732,0.178,19.416,10.634,22.289
            c6.12,1.682,12.309,0.496,18.563,1.938c5.736,1.318,11.094,3.848,16.194,6.594c7.727,4.162,15.375,8.443,23.174,12.529
            c13.763,9.922,32.513,11.879,48.521,3.467c22.535-11.84,31.235-39.807,19.396-62.342
            c-11.841-22.535-39.809-31.236-62.342-19.396c-0.421,0.225-0.835,0.451-1.245,0.684
            C931.415,624.354,906.684,634.92,898.401,639.422z M1002.238,643.678c8.179,15.564,2.168,34.877-13.395,43.055
            c-15.563,8.178-34.876,2.17-43.053-13.395c-8.18-15.563-2.17-34.877,13.395-43.053
            C974.749,622.107,994.061,628.115,1002.238,643.678z"/>
          <path fill="#8DE583" d="M896.126,643.488c-6.099,3.313-16.358,7.025-20.002,13.139c-5.801,9.732,0.177,19.416,10.633,22.289
            c6.12,1.68,12.307,0.496,18.563,1.938c5.734,1.318,11.096,3.85,16.192,6.596c7.727,4.162,15.377,8.441,23.174,12.527
            c13.763,9.922,32.514,11.881,48.524,3.469c22.532-11.842,31.233-39.811,19.395-62.344s-39.808-31.234-62.342-19.396
            c-0.421,0.221-0.834,0.449-1.246,0.682C929.138,628.42,904.406,638.986,896.126,643.488z M999.962,647.746
            c8.177,15.563,2.169,34.875-13.396,43.051c-15.563,8.178-34.877,2.17-43.054-13.393c-8.177-15.564-2.168-34.875,13.395-43.055
            C972.473,626.174,991.783,632.184,999.962,647.746z"/>
        </g>
        <g>
          <path fill="#5EC13C" d="M779.239,537.601c-2.944,17.824,4.8,34.982,18.518,44.933c6.346,6.131,12.83,12.057,19.224,18.093
            c4.212,3.977,8.296,8.268,11.354,13.297c3.335,5.488,4.156,11.732,7.68,17.012c6.016,9.023,17.088,11.648,24.5,3.082
            c4.655-5.381,4.953-16.289,6.181-23.117c1.67-9.287,3.922-36.125,3.391-56.904c0.087-0.445,0.182-0.888,0.256-1.34
            c4.148-25.115-12.906-48.928-38.022-53.075C807.201,495.43,783.39,512.486,779.239,537.601z M829.985,513.67
            c17.348,2.867,29.125,19.31,26.259,36.654c-2.864,17.344-19.309,29.125-36.651,26.259
            c-17.347-2.866-29.124-19.309-26.259-36.653C796.198,522.586,812.642,510.805,829.985,513.67z"/>
          <path fill="#F1F2F2" d="M853.53,633.482c0,0-4.238,18.145,4.74,44.895c0,0-28.426,146.119-61.459,175.77
            c0,0-12.931,15.984-2.25-21.309L847.96,602.6L853.53,633.482z"/>
          <path fill="#8DE583" d="M866.24,554.805c-4.147,25.116-27.959,42.173-53.073,38.022c-25.116-4.149-42.175-27.958-38.022-53.074
            c4.149-25.115,27.959-42.173,53.074-38.023C853.335,505.879,870.392,529.689,866.24,554.805z M852.149,552.477
            c2.865-17.345-8.913-33.785-26.259-36.652c-17.345-2.865-33.787,8.915-36.653,26.26s8.913,33.787,26.259,36.652
            S849.281,569.822,852.149,552.477z"/>
          <path fill="#8DE583" d="M788.91,580.031c7.83,7.821,15.975,15.192,23.973,22.747c4.213,3.977,8.297,8.268,11.354,13.297
            c3.335,5.486,4.158,11.73,7.682,17.012c6.016,9.023,17.088,11.648,24.5,3.082c4.653-5.381,4.95-16.289,6.181-23.119
            c2.502-13.918,6.317-67.278,0.09-80.546c-6.184,1.807-10.507,38.312-15.355,42.485c-5.199,4.476-12.202,7.281-18.762,9.116
            c-10.766,3.013-29.979,6.434-37.269-4.454L788.91,580.031z"/>
        </g>
        <circle fill="#5EC13C" cx="844.06" cy="679.116" r="9.024"/>
        <circle fill="#8DE583" cx="843.066" cy="680.215" r="9.025"/>

          <rect x="720.353" y="764.433" transform="matrix(0.2247 -0.9744 0.9744 0.2247 -115.2795 1385.5081)" fill="#E6E7E8" width="185.383" height="1.531"/>
      </g>
      <g>
        <g>
          <path fill="#FFCCA8" d="M789.323,547.862c-1.327,2.927-4.77,4.283-7.688,3.043l-17.166-7.35c-2.91-1.249-4.19-4.635-2.859-7.559
            l0,0c1.333-2.924,4.771-4.29,7.686-3.042l17.168,7.35C789.374,541.555,790.656,544.934,789.323,547.862L789.323,547.862z"/>
          <path fill="#F7BE97" d="M789.344,547.873c1.042-2.285,0.479-4.847-1.201-6.456c0.721,1.471,1.455,3.951,0.713,5.595
            c-1.334,2.924-5.438,3.584-8.351,2.333l-16.362-6.604c-0.636-0.271-1.992-1.396-2.461-1.846c0.565,1.158,1.53,2.121,2.812,2.669
            l17.166,7.351C784.572,552.163,788.013,550.798,789.344,547.873z"/>
          <path fill="#FFCCA8" d="M794.047,537.473c-1.331,2.93-5.113,4.142-8.441,2.714l-19.637-8.404
            c-3.329-1.426-4.947-4.958-3.613-7.881l0,0c1.33-2.933,5.109-4.145,8.441-2.718l19.635,8.408
            C793.759,531.021,795.381,534.549,794.047,537.473L794.047,537.473z"/>
          <path fill="#FFDCC5" d="M793.24,536.482c0.94-1.971,0.127-4.188-1.813-4.966c0,0-1.896-1.232-2.525-1.004
            c-1.924,0.709-4.329,5.396-3.347,7.15c0.313,0.563,2.474,0.983,2.474,0.983C789.969,539.421,792.304,538.451,793.24,536.482z"/>
          <path fill="#E5BF83" d="M778.049,520.819"/>
          <path fill="#F7BE97" d="M793.541,536.466c-1.332,2.929-5.112,4.144-8.444,2.713l-19.632-8.411
            c-1.284-0.55-2.313-1.408-3.013-2.432c0.65,1.438,1.89,2.683,3.563,3.398l19.633,8.407c3.334,1.429,7.114,0.218,8.442-2.713
            c0.819-1.799,0.521-3.822-0.603-5.451C794.137,533.402,794.204,535.01,793.541,536.466z"/>
          <path fill="#FFDCC5" d="M787.931,546.224c0.939-1.969,0.124-4.19-1.813-4.962c0,0-1.894-1.239-2.523-1.007
            c-1.923,0.71-4.329,5.396-3.352,7.151c0.315,0.56,2.476,0.982,2.476,0.982C784.659,549.165,786.99,548.189,787.931,546.224z"/>
          <path fill="#FFCCA8" d="M784.783,555.364c-0.84,2.396-3.615,3.667-6.204,2.841l-15.262-4.859
            c-2.59-0.822-4.008-3.435-3.168-5.822l0,0c0.84-2.396,3.619-3.672,6.207-2.849l15.263,4.859
            C784.206,550.357,785.62,552.967,784.783,555.364L784.783,555.364z"/>
          <path fill="#FFDCC5" d="M784.308,554.603c0.615-1.653-0.251-3.397-1.932-3.895c0,0-1.677-0.891-2.186-0.649
            c-1.492,0.712-3.14,4.652-2.242,5.999c0.311,0.467,2.212,0.649,2.212,0.649C781.841,557.206,783.697,556.264,784.308,554.603z"
            />
          <path fill="#FFCCA8" d="M798.003,526.982c-1.229,2.737-4.521,3.956-7.351,2.718l-16.702-7.313
            c-2.828-1.241-4.133-4.468-2.904-7.206l0,0c1.229-2.741,4.521-3.96,7.354-2.715l16.699,7.308
            C797.93,521.017,799.231,524.243,798.003,526.982L798.003,526.982z"/>
          <path fill="#F7BE97" d="M797.459,526.114c-1.229,2.744-4.521,3.957-7.352,2.716l-16.703-7.31c-0.907-0.397-1.655-1-2.215-1.728
            c0.566,1.116,1.521,2.055,2.773,2.603l16.702,7.315c2.83,1.236,6.124,0.021,7.35-2.718c0.836-1.86,0.502-3.947-0.689-5.482
            C798.04,522.913,798.143,524.588,797.459,526.114z"/>
          <path fill="#FFDCC5" d="M797.365,526.702c0.938-1.965,0.124-4.19-1.815-4.963c0,0-1.895-1.236-2.525-1.001
            c-1.921,0.709-4.327,5.394-3.347,7.146c0.314,0.563,2.476,0.988,2.476,0.988C794.094,529.64,796.429,528.672,797.365,526.702z"
            />
          <path fill="#F7BE97" d="M784.761,555.34c0.458-1.321,0.234-2.703-0.493-3.82c0.341,0.915,0.971,2.354,0.394,3.239
            c-0.547,0.836-1.385,3.312-5.953,2.764l-15.868-5.105c-1.16-0.37-2.082-1.104-2.674-2.006c0.487,1.318,1.602,2.432,3.131,2.914
            l15.262,4.855C781.142,559.006,783.924,557.737,784.761,555.34z"/>
        </g>
        <path fill="#D1D3D4" d="M796.551,520.756c-4.853-1.879-11.196-3.313-15.157-5.474c-4.697-2.563-9.181-1.729-9.229-1.723
          c1.574-1.521,4.016-2.023,6.192-1.069l16.701,7.31C795.617,520.045,796.114,520.375,796.551,520.756z"/>
        <path fill="#D1D3D4" d="M762.948,522.961c1.643-2.236,4.94-3.05,7.894-1.785l19.639,8.411c1.383,0.591,2.47,1.551,3.174,2.682
          c-5.869-3.632-16.553-6.671-16.553-6.671C771.062,521.834,765.628,522.338,762.948,522.961z"/>
        <path fill="#D1D3D4" d="M761.864,535.439c1.515-2.477,4.647-3.552,7.341-2.4l17.166,7.352c0.729,0.266,1.195,0.288,1.854,1.202
          c-4.434-2.732-13.096-4.907-13.096-4.907C768.716,532.623,763.897,534.317,761.864,535.439z"/>
        <path fill="#D1D3D4" d="M760.304,547.148c0.986-2.15,3.604-3.256,6.055-2.478l15.26,4.859c0.938,0.3,1.717,0.835,2.293,1.505
          c-4.215-1.795-11.556-3.498-11.556-3.498C766.774,545.037,762.235,546.334,760.304,547.148z"/>
      </g>
      <g>
        <path fill="#FFCCA8" d="M1029.864,657.328c-6.589,4.229-12.056,6.957-23.924,6.471c-2.776-0.115,14.496-37.303,14.496-37.303
          c0.875,0.156,12.236-0.5,16.769-1.785c0.672-0.193,3.125,27.5,3.125,27.5C1036.732,653.104,1031.731,656.131,1029.864,657.328z"
          />
        <g>
          <g>
            <path fill="#FFCCA8" d="M1029.426,655.768c0,0,2.55,1.197,5.161-10.299c2.609-11.5-12.025-23.201-13.639-22.861
              c-1.614,0.342-17.856,3.123-17.856,3.123s-1.867,6.219,3.576,6.213c5.444-0.008,11.718,0.016,11.718,0.016
              S1023.199,640.977,1029.426,655.768z"/>
            <path fill="#FFDCC5" d="M1008.777,624.75c0,0-0.046,1.012-1.31,1.646l-3.75,0.893c0,0-0.306-1.02,0.158-1.693L1008.777,624.75z
              "/>
          </g>
        </g>
        <g>
          <g>
            <path fill="#FFCCA8" d="M1010.047,652c0.286,2.396-1.424,4.832-3.825,5.438l-14.141,3.564
              c-2.396,0.602-4.574-0.855-4.863-3.252l0,0c-0.286-2.398,1.425-4.834,3.823-5.439l14.143-3.559
              C1007.582,648.148,1009.759,649.6,1010.047,652L1010.047,652z"/>
            <path fill="#FFCCA8" d="M1009.023,643.482c0.288,2.4-1.705,4.902-4.448,5.596l-16.176,4.068
              c-2.743,0.689-5.199-0.695-5.485-3.096l0,0c-0.286-2.398,1.704-4.904,4.449-5.596l16.175-4.068
              C1006.279,639.699,1008.736,641.086,1009.023,643.482L1009.023,643.482z"/>
            <path fill="#E5BF83" d="M991.963,640.848"/>
            <path fill="#FFCCA8" d="M1011.78,659.854c0.009,1.902-1.694,3.732-3.807,4.084l-12.431,2.086
              c-2.107,0.355-3.824-0.9-3.83-2.801l0,0c-0.008-1.9,1.694-3.729,3.807-4.084l12.43-2.086
              C1010.058,656.699,1011.772,657.955,1011.78,659.854L1011.78,659.854z"/>
            <path fill="#FFCCA8" d="M1007.458,635.264c0.279,2.236-1.392,4.518-3.733,5.086l-13.822,3.363
              c-2.343,0.57-4.472-0.781-4.753-3.018l0,0c-0.283-2.238,1.393-4.518,3.734-5.086l13.818-3.365
              C1005.048,631.674,1007.177,633.027,1007.458,635.264L1007.458,635.264z"/>
          </g>
        </g>
        <polygon fill="#FFCCA8" points="1006.355,661.529 1028.843,655.014 1021.731,630.471 993.815,634.873      "/>
        <polygon fill="#D1D3D4" points="989.777,652.865 998.376,650.451 989.758,652.674       "/>
        <polygon fill="#D1D3D4" points="992.576,661.184 1001.177,658.77 992.557,660.992       "/>
      </g>
      <path fill="#404042" d="M900.829,439.46c-36.5,19.25-27.5,107.75-27.5,107.75s1.798,57.073,15.166,56.667
        C928.423,602.664,925.177,426.62,900.829,439.46z"/>

        <ellipse transform="matrix(0.4896 0.872 -0.872 0.4896 909.4923 -427.0473)" fill="#808285" cx="819.503" cy="563.307" rx="2.748" ry="2.538"/>

        <ellipse transform="matrix(0.4892 0.8722 -0.8722 0.4892 917.3617 -431.8135)" fill="#808285" cx="827.341" cy="567.289" rx="2.748" ry="2.541"/>
      <path fill="#939598" d="M907.329,491.71l-1.334,91.667C905.995,583.377,905.329,494.71,907.329,491.71z"/>
      <g opacity="0.1">
        <path fill="#BCBEC0" d="M1095.846,558.665c-10.767,34.22-60.017,54.212-60.017,54.212l0.523,4.533
          C1045.943,613.143,1089.654,591.992,1095.846,558.665z"/>
      </g>
    </g>
    <text transform="matrix(1 0 0 1 303.8225 504.9663)" fill="#D6D6D6" font-family="'Helvetica'" font-size="73.4963">$0</text>
  </g>
  <g id="Layer_2">
  </g>
  <polygon fill="#414042" points="642.674,1102.241 191.319,1102.241 191.319,947.749 642.674,947.749 607.598,1024.992 "/>
  <polygon fill="#FFAA00" points="627.233,1102.241 175.863,1102.241 175.863,947.749 627.233,947.749 592.157,1024.992 "/>
  <text transform="matrix(1 0 0 1 208.9568 1042.9551)" fill="#FFFFFF" font-family="'Helvetica'" font-size="60">${{ totalClaimAmount | numberComma }}</text>
  <rect x="157.326" y="947.749" fill="#414042" width="18.537" height="154.502"/>
  </svg>
</template>

<script>
  import BaseTaxes from './BaseTaxes'

  export default {
    mixins: [BaseTaxes],
    props: {
      totalClaimAmount: {
        type: [String, Number],
        required: true
      }
    }
  }
</script>
