<template>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   :width="w" :height="h" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
<ellipse opacity="0.3" fill="#BCBEC0" enable-background="new    " cx="872.16" cy="828.37" rx="270.156" ry="16.987"/>
<ellipse opacity="0.3" fill="#BCBEC0" enable-background="new    " cx="328.837" cy="828.798" rx="270.157" ry="16.987"/>
<g>
  <path fill="#E05347" d="M625.033,817.529l44.535-38.127c23.57-20.184,23.359-59.105-0.475-86.943
    c-17.725-20.703-43.521-29.416-65.277-24.225c10.555,3.281,20.744,9.764,28.9,19.293c20.207,23.604,20.383,56.6,0.396,73.709
    l-25.979,22.24c-19.979,17.105-52.561,11.854-72.768-11.752c-5.953-6.951-10.113-14.729-12.593-22.67
    c-2.382,17.996,3.396,38.223,17.426,54.605C563.035,831.502,601.463,837.707,625.033,817.529z"/>
  <g>
    <path fill="#E05347" d="M762.559,801.916c3.176-17.027-8.605-33.621-26.305-37.057l-45.787-8.889
      c-17.701-3.434-34.619,7.582-37.793,24.615c-3.172,17.029,8.605,33.621,26.309,37.057l45.783,8.887
      C742.465,829.967,759.385,818.947,762.559,801.916z M736.61,796.879c-1.578,8.518-10.137,14.004-19.102,12.268l-27.053-5.25
      c-8.969-1.74-14.949-10.055-13.365-18.566c1.59-8.516,10.145-14.008,19.105-12.27l27.057,5.256
      C732.215,780.051,738.201,788.371,736.61,796.879z"/>
    <g opacity="0.1">
      <path fill="#D1D3D4" d="M690.465,756.004l45.787,8.887c14.898,2.893,25.563,15.109,26.684,29.061
        c-5.146-8.756-14.617-15.635-26.342-17.91l-51.201-9.939c-11.088-2.148-21.807,0.262-29.646,5.783
        C662.104,760.025,676.022,753.197,690.465,756.004z"/>
    </g>
  </g>
  <g>
    <path fill="#E05347" d="M885.823,793.324c0.225-17.32-14.215-31.66-32.238-32.027l-46.631-0.945
      c-18.027-0.361-32.818,13.377-33.039,30.701c-0.221,17.32,14.213,31.66,32.242,32.025l46.627,0.943
      C870.811,824.391,885.602,810.646,885.823,793.324z M859.395,792.787c-0.104,8.662-7.6,15.529-16.729,15.344l-27.551-0.559
      c-9.135-0.186-16.445-7.355-16.336-16.018c0.109-8.658,7.602-15.529,16.73-15.346l27.557,0.561
      C852.198,776.953,859.508,784.131,859.395,792.787z"/>
    <g>
      <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M807.035,760.396l46.633,0.945
        c15.172,0.307,27.762,10.527,31.248,24.082c-6.563-7.752-17.07-12.912-29.01-13.156l-52.15-1.057
        c-11.291-0.229-21.438,3.973-28.223,10.754C779.776,769.195,792.324,760.094,807.035,760.396z"/>
    </g>
  </g>
  <g>
    <path fill="#E05347" d="M598.218,767.166c-1.744,7.805,2.62,15.424,9.743,17.016l67.609,15.117
      c7.129,1.594,14.32-3.438,16.064-11.246l0,0c1.746-7.805-2.617-15.424-9.742-17.018l-67.611-15.115
      C607.16,754.326,599.963,759.359,598.218,767.166L598.218,767.166z"/>
    <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M687.961,782.018l-83.621-18.693
      c-1.555-0.348-3.104-0.479-4.61-0.428c2.968-5.217,8.651-8.211,14.349-6.936l67.604,15.113c5.645,1.262,9.496,6.311,10.02,12.227
      C690.53,782.758,689.285,782.314,687.961,782.018z"/>
  </g>
  <path fill="#E05347" d="M726.309,792.18c-0.008,7.998,5.91,14.484,13.213,14.49l69.275,0.059
    c7.307,0.006,13.23-6.471,13.236-14.471l0,0c0.008-7.996-5.906-14.484-13.209-14.49l-69.281-0.059
    C732.242,777.705,726.317,784.18,726.309,792.18L726.309,792.18z"/>
  <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M817.301,787.5l-85.688-0.07c-1.594,0-3.133,0.209-4.596,0.588
    c1.762-5.736,6.66-9.896,12.498-9.891l69.273,0.057c5.781,0.006,10.641,4.1,12.438,9.758
    C819.967,787.666,818.658,787.504,817.301,787.5z"/>
  <polygon opacity="0.1" fill="#BCBEC0" enable-background="new    " points="606.549,783.813 652.18,794.045 638.43,806.045   "/>
  <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M814.594,803.35l-79.379-0.051c-1.939,0-3.793-0.363-5.5-1.002
    c2.406,2.764,5.793,4.496,9.557,4.498l69.275,0.059c3.424,0.002,6.533-1.432,8.887-3.766
    C816.512,803.254,815.567,803.35,814.594,803.35z"/>
  <path fill="#E6E7E8" d="M960.362,779.369c-0.904,6.32-6.082,11.59-12.973,12.531l-78.385,10.727
    c-8.217,1.121-15.746-4.313-16.898-12.162c-0.182,1.256-0.207,2.549-0.027,3.861c1.086,7.926,8.662,13.43,16.928,12.301
    l78.383-10.727c8.262-1.131,14.084-8.473,12.998-16.396C960.379,779.459,960.367,779.416,960.362,779.369z"/>
  <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M677.239,795.299l-67.607-15.117
    c-7.123-1.592-11.489-9.211-9.744-17.016c0.008-0.025,0.016-0.047,0.021-0.072c-0.674,1.242-1.192,2.609-1.521,4.072
    c-1.745,7.805,2.621,15.424,9.744,17.016l67.607,15.117c7.105,1.588,14.271-3.41,16.049-11.174
    C688.865,793.514,683.031,796.594,677.239,795.299z"/>
</g>
<g>
  <path fill="#E05347" d="M731.977,499.897c0,182.548-150.943,330.527-337.146,330.527S57.684,682.443,57.684,499.897
    c0-182.541,150.942-330.532,337.146-330.532C581.033,169.366,731.977,317.356,731.977,499.897z"/>
  <path opacity="0.1" fill="#E6E7E8" enable-background="new    " d="M395.198,169.006c-22.979,0-45.412,2.271-67.098,6.567
    c136.612,42.216,235.672,167.388,235.672,315.257c0,160.021-115.997,293.464-270.052,323.964
    c32.031,9.9,66.112,15.264,101.479,15.264c186.205,0,337.146-147.979,337.146-330.526
    C732.344,316.988,581.404,169.006,395.198,169.006z"/>
  <g>
    <path fill="#FFFFFF" d="M198.603,646.715V468.75H145.74v-36.235h141.572v36.235h-52.74v177.965H198.603L198.603,646.715z"/>
    <path fill="#FFFFFF" d="M452.702,646.715h-39.129l-15.555-48.656h-71.211l-14.704,48.656h-38.157l69.388-214.201h38.036
      L452.702,646.715z M386.474,561.969l-24.549-79.482l-24.061,79.482H386.474z"/>
    <path fill="#FFFFFF" d="M453.674,646.715l60.884-111.777l-55.17-102.424h42.046l35.727,68.818l34.998-68.818h41.68
      l-55.412,104.031l60.883,110.169h-43.385l-39.493-74.08l-39.616,74.08H453.674z"/>
  </g>
</g>
<g>
  <path fill="#404042" d="M1037.067,454.138c0-17.955-16.387-32.51-36.604-32.51H918.85c-20.215,0-36.602,14.555-36.602,32.51v98.819
    v67.21h154.604v-63.71c0.139-1.149,0.215-2.316,0.215-3.5V454.138L1037.067,454.138z"/>
  <path fill="#F1F2F2" d="M896.17,441.205c0,0,44.813,66.681,61.922,88.522c0,0,40.898-62.917,69.254-85.458
    C1043.555,431.386,896.17,441.205,896.17,441.205z"/>
  <g>
    <ellipse fill="#808285" cx="958.092" cy="540.842" rx="3.529" ry="3.704"/>
    <ellipse fill="#808285" cx="958.365" cy="564.857" rx="3.531" ry="3.703"/>
    <ellipse fill="#808285" cx="958.635" cy="588.105" rx="3.531" ry="3.704"/>
  </g>
  <g>
    <polygon fill="#414143" points="945.328,471.736 934.194,457.938 945.328,444.143 967.6,444.143 978.733,457.938 967.6,471.736
      "/>
    <polygon fill="#414143" points="939.082,506.225 958.092,529.729 976.291,500.094 967.6,471.736 945.328,471.736     "/>
  </g>
  <polygon fill="#808285" points="1032.073,438.208 1019.063,471.096 1001.885,471.864 1009.83,485.276 958.092,529.729
    1007.522,450.02 1033.047,435.65   "/>
  <polygon fill="#808285" points="884.25,437.826 897.258,470.713 914.438,471.479 906.492,484.892 958.092,529.729 908.799,449.636
    883.274,435.266   "/>
  <path fill="#42474D" d="M882.248,620.168c0,0-2.912,36.789,75.846,36.279c0,0,75.5,2.555,78.76-36.279H882.248z"/>
  <g>
    <polygon fill="#42474D" points="948.317,653.893 899.838,642.014 905.444,721.43 905.949,728.605 905.949,728.621
      905.951,728.621 918.307,806.414 943.291,805.904 938.949,732.377     "/>
    <path fill="#42474D" d="M918.307,806.414c0,0-38.393-19.58-55.402-3.576c-14.395,13.541-11.949,16.35-7.604,21.461
      c4.346,5.109,90.707,0,90.707,0s3.26-17.373-2.717-18.395C937.319,804.881,918.307,806.414,918.307,806.414z"/>
  </g>
  <g>
    <polygon fill="#42474D" points="976.834,651.594 1025.309,639.713 1019.707,719.129 1019.201,726.307 1019.199,726.322
      1019.198,726.322 1006.844,804.115 981.856,803.605 986.199,730.078     "/>
    <path fill="#42474D" d="M1006.844,804.115c0,0,38.389-19.58,55.4-3.576c14.395,13.541,11.949,16.35,7.604,21.459
      s-90.709,0-90.709,0s-3.258-17.371,2.717-18.393C987.832,802.582,1006.844,804.115,1006.844,804.115z"/>
  </g>
  <g>
    <path fill="#F8C29F" d="M1078.129,360.611c0,51.709-45.787,93.628-102.268,93.628h-36.814
      c-56.479,0-102.268-41.919-102.268-93.629V315.67c0-51.71,45.787-93.628,102.268-93.628h36.814
      c56.479,0,102.633,26.172,102.268,93.628V360.611z"/>
    <path fill="#80421C" d="M913.031,286.476c-14.859,1.917-30.396,7.403-33.486,14.524c-0.262,0.612,1.256,1.84,3.248,0.584
      c10.924-6.884,14.457-7.685,32.73-10.587C922.711,289.856,920.639,285.497,913.031,286.476z"/>
    <path fill="#80421C" d="M989.873,280.788c10.568,1.521,22.438,6.375,26.213,12.984c0.326,0.565-0.42,1.745-2.074,0.604
      c-9.055-6.245-11.646-6.932-24.77-9.312C984.078,284.127,984.461,280.007,989.873,280.788z"/>
    <g>
      <path fill="#80421C" d="M899.151,307.421c8.766,0.257,15.639,6.622,15.344,14.217c-0.303,7.592-7.648,13.538-16.424,13.281
        c-8.766-0.259-15.639-6.618-15.344-14.214C883.024,313.112,890.375,307.165,899.151,307.421z"/>
      <path fill="#FFFFFF" d="M899.151,310.833c8.766,0.241,15.639,6.182,15.338,13.271c-0.297,7.09-7.645,12.645-16.418,12.401
        c-8.771-0.239-15.639-6.183-15.344-13.271C883.024,316.145,890.375,310.59,899.151,310.833z"/>
      <path fill="#333333" d="M897.338,312.504c6.773,0.184,12.074,4.773,11.844,10.245c-0.23,5.468-5.902,9.753-12.674,9.569
        c-6.768-0.188-12.072-4.773-11.844-10.242C884.897,316.604,890.569,312.32,897.338,312.504z"/>
      <path fill="#FFFFFF" d="M901.68,312.792c2.127,0.063,3.797,1.506,3.727,3.225c-0.07,1.723-1.855,3.067-3.988,3.013
        c-2.127-0.06-3.795-1.501-3.727-3.224C897.77,314.084,899.547,312.735,901.68,312.792z"/>
    </g>
    <g>
      <path fill="#80421C" d="M998.004,304.606c8.77,0.256,15.643,6.588,15.346,14.141c-0.303,7.555-7.65,13.469-16.424,13.212
        c-8.771-0.255-15.639-6.583-15.344-14.138C981.879,310.269,989.233,304.351,998.004,304.606z"/>
      <path fill="#FFFFFF" d="M998.004,308.155c8.77,0.234,15.643,6.146,15.346,13.197c-0.295,7.057-7.65,12.576-16.424,12.338
        c-8.771-0.236-15.639-6.149-15.344-13.2C981.879,313.438,989.233,307.915,998.004,308.155z"/>
      <path fill="#333333" d="M995.489,310.595c6.77,0.187,12.068,4.744,11.844,10.188c-0.232,5.44-5.902,9.703-12.672,9.521
        c-6.77-0.186-12.068-4.745-11.842-10.188C983.047,314.673,988.717,310.412,995.489,310.595z"/>
      <path fill="#FFFFFF" d="M999.83,310.883c2.127,0.059,3.795,1.492,3.729,3.205c-0.07,1.711-1.857,3.053-3.99,2.994
        c-2.123-0.059-3.795-1.493-3.727-3.205C995.918,312.167,997.698,310.824,999.83,310.883z"/>
    </g>
    <g>
      <g>
        <ellipse fill="#F8C29F" cx="826.551" cy="330.65" rx="20.453" ry="20.598"/>
      </g>
      <path opacity="0.3" fill="#E29164" enable-background="new    " d="M836.653,334.647c1.148,5.393-5.109,7.467-10.779,4.842
        c-11.813-5.477-9.336-23.554,2.238-19.912c-7.539,0.719-8.352,8.51-2.842,10.828
        C829.871,332.341,835.453,329.049,836.653,334.647z"/>
    </g>
    <g>
      <g>
        <ellipse fill="#F8C29F" cx="1091.422" cy="330.649" rx="20.453" ry="20.598"/>
      </g>
      <path opacity="0.3" fill="#E29164" enable-background="new    " d="M1081.324,334.647c-1.15,5.393,5.111,7.467,10.779,4.842
        c11.813-5.477,9.336-23.555-2.238-19.911c7.541,0.718,8.348,8.509,2.842,10.827
        C1088.106,332.341,1082.524,329.049,1081.324,334.647z"/>
    </g>
    <g>
      <path fill="#4E3319" d="M878.369,126.102c-10.193,24.755,1.611,39.523,34.258,39.919c16.1,0.201,32.629-2.409,48.338-5.669
        c28.525-5.921,55.078-1.513,69.143,14.594c6.313,7.225,9.576,16.153,14.592,24.956c1.469-1.021,41.172-25.833,53.459,15.392
        c12.289,41.233,3.766,73.834-16.23,105.567c-1.09,1.346-4.119,4.432-4.119,4.432c-5.684-20.722-16.787-48.928-26.326-69.004
        c-10.92-22.986-36.438-27.723-60.928-12.755c-30.764,18.803-75.795,37.799-110.926,30.369
        c-42.021-8.884-97.395-71.493-46.076-134.127c3.125,7.991,5.664,14.492,8.205,20.986c3.439-24.759,16.518-46.545,41.736-46.545
        C881.27,119.367,879.758,122.715,878.369,126.102z"/>
      <g>
        <path fill="#6E4B2D" d="M875.09,144.973c-2.107,17.453,10.596,27.595,37.551,27.927c16.1,0.197,32.629-2.415,48.334-5.675
          c28.525-5.92,55.086-1.512,69.143,14.595c6.313,7.228,9.574,16.153,14.594,24.962c1.469-1.028,41.17-25.835,53.457,15.391
          c3.527,11.83,5.291,22.926,5.609,33.522c0.393-12.644-1.313-25.984-5.609-40.401c-12.287-41.226-51.988-16.414-53.457-15.392
          c-5.02-8.803-8.281-17.731-14.594-24.956c-14.057-16.107-40.615-20.515-69.143-14.594c-15.705,3.26-32.234,5.871-48.334,5.669
          C889.453,165.739,876.836,158.18,875.09,144.973z"/>
        <path fill="#6E4B2D" d="M833.569,146.648c3.125,7.991,5.664,14.492,8.207,20.988c3.291-23.724,15.467-44.659,38.668-46.374
          c0.877-2.022,1.861-4.268,3.064-7.047c-25.223,0-38.299,21.786-41.732,46.545c-2.543-6.494-5.082-12.996-8.207-20.986
          c-15.816,19.302-21.479,38.603-20.537,56.331C813.74,180.311,819.776,163.488,833.569,146.648z"/>
      </g>
      <path fill="#452C13" d="M1039.069,225.357c-45.855-26.343-93.131,27.65-136.482,32.766c-43.176,5.09-64.375-8.056-64.547-8.164
        c12.377,12.446,27.482,21.052,41.174,23.943c35.131,7.43,80.162-11.566,110.926-30.369c24.492-14.968,47.188-12.475,59.898,9.966
        c11.35,20.044,22.088,51.071,27.77,71.793C1080.449,293.045,1075.059,246.036,1039.069,225.357z"/>
      <path fill="#4E3319" d="M835.266,245.917c0,0-24.381,12.838,4.355,78.419l10.713-64.813
        C850.336,259.522,843.897,255.375,835.266,245.917z"/>
      <path fill="#452C13" d="M840.573,251.339c0,0-17.08,11.065-0.949,73.933l15.053-62.032
        C854.674,263.239,843.182,253.423,840.573,251.339z"/>
    </g>
    <g>
      <path opacity="0.3" fill="#E29164" enable-background="new    " d="M982.645,418.077c-14.58-36.205-53.748-21.883-61.932-6.167
        C947.655,394.483,971.602,405.696,982.645,418.077z"/>
      <path opacity="0.3" fill="#E29164" enable-background="new    " d="M964.977,412.752c-10.568,5.491-21.217,2.614-29.746-1.372
        C951.508,407.957,957.709,409.664,964.977,412.752z"/>
    </g>
  </g>
  <path opacity="0.1" fill="#F1F2F2" enable-background="new    " d="M1092.422,310.218c-5.57,0-10.617,2.251-14.309,5.895
    c-16.621-24.563-15.621-72.23-56.516-83.032c19.861,42.569,48.232,120.678,33.563,152.469c0,0-9.334,34.667-58.334,66.834
    c49-9,82-51.5,81.301-90.604v-16.242c3.689,3.633,8.73,5.879,14.297,5.879c11.297,0,20.451-9.222,20.451-20.598
    C1112.875,319.442,1103.721,310.218,1092.422,310.218z"/>
  <g>
    <g>
      <path fill="#4D3E3C" d="M1049.578,777.268c0,4.572,2.664,8.277,5.947,8.277h10.391c3.283,0,5.945-3.705,5.945-8.277V676.721
        c0-4.568-2.662-8.275-5.945-8.275h-10.391c-3.283,0-5.947,3.707-5.947,8.275V777.268z"/>
      <path fill="#58595B" d="M1051.09,774.623c0,4.33,2.303,7.84,5.141,7.84h8.979c2.84,0,5.143-3.51,5.143-7.84v-95.256
        c0-4.33-2.303-7.842-5.143-7.842h-8.979c-2.838,0-5.141,3.512-5.141,7.842V774.623z"/>
      <g>
        <path fill="#F8C29F" d="M1045.057,644.621c1.189-3.83,4.463-18.508,4.463-18.508h28.84c0,0,4.938,25.117-9.902,35.771
          c-0.764,0.611-1.779,1.223-2.967,1.789c-1.439,0.725-3.023,1.33-4.771,1.799c0.109-0.047,0.229-0.104,0.35-0.174
          c-4.771,1.301-11.396-2.961-10.881-4.566c1.561-4.863,4.873-0.289,9.902-1.783c1.453-0.436,3.477-1.686,3.623-2.123
          c3.445-6.355,1.99-6.291,0.969-10.131c-1.188-4.469-9.662-2.871-10.854,0.957c-1.189,3.828-4.701,8.838-6.682,8.52
          C1045.166,655.852,1043.869,648.449,1045.057,644.621z"/>
        <path fill="#FAE6D1" d="M1060.719,665.475c-0.504,0.213-0.859,0.223-0.859,0.223
          C1060.153,665.625,1060.438,665.551,1060.719,665.475z"/>
      </g>
      <path fill="#939598" d="M1057.235,678.76c0,1.764,1.486,3.191,3.32,3.191l0,0c1.834,0,3.32-1.43,3.32-3.191v-24.033
        c0-1.764-1.486-3.191-3.32-3.191l0,0c-1.834,0-3.32,1.43-3.32,3.191V678.76z"/>
      <path fill="#4D3E3C" d="M1057.58,678.76c0,1.764,1.332,3.191,2.975,3.191l0,0c1.645,0,2.977-1.43,2.977-3.191v-24.033
        c0-1.764-1.332-3.191-2.977-3.191l0,0c-1.643,0-2.975,1.43-2.975,3.191V678.76z"/>
      <rect x="1071.864" y="688.334" fill="#4D3E3C" width="3.672" height="28.188"/>
      <path fill="#4D3E3C" d="M1071.864,716.523c0,0,0.4,54.133,6.52,63.49l-10.059,4.82L1071.864,716.523z"/>
    </g>
    <g>
      <path fill="#404042" d="M1048.186,625.121c0,0,57.197-79.817-20.107-142.285l4.262-44.668c0,0,121.186,52.188,48.037,202.892
        L1048.186,625.121z"/>
      <ellipse fill="#808285" cx="1079.045" cy="635.014" rx="2.396" ry="2.268"/>
      <ellipse fill="#808285" cx="1081.838" cy="629.218" rx="2.396" ry="2.269"/>
    </g>
  </g>
  <g>
    <path fill="#404042" d="M811.485,276.452c0,0-57.35,93.131,74.504,166.633l-3.475,39.59c0,0-173.451-50.896-111.51-225.242
      L811.485,276.452z"/>
    <path fill="#F8C29F" d="M771.004,257.432c0,0,9.725-35.496,40.135-48.716c27.043-11.757,39.742-8.67,40.293-3.257
      c1.324,13.063-11.301,10.627-14.045,10.761c-11.545,0.563-18.121,6.905-18.418,7.381c-1.688,2.734,26.545,18.275,12.428,34.829
      c-3.584,4.202-19.912,18.021-19.912,18.021L771.004,257.432z"/>
    <ellipse fill="#808285" cx="770.623" cy="273.05" rx="2.754" ry="2.61"/>
    <ellipse fill="#808285" cx="772.918" cy="265.362" rx="2.754" ry="2.61"/>
  </g>
</g>
<g>
  <path fill="#E05347" d="M960.344,779.475c1.086,7.924-4.738,15.268-12.998,16.396l-78.385,10.727
    c-8.264,1.129-15.842-4.375-16.926-12.301l0,0c-1.084-7.924,4.738-15.264,13-16.393l78.385-10.73
    C951.68,766.045,959.256,771.551,960.344,779.475L960.344,779.475z"/>
  <path opacity="0.1" fill="#D1D3D4" enable-background="new    " d="M856.897,788.496l96.945-13.264
    c1.805-0.248,3.572-0.279,5.277-0.131c-2.766-5.414-8.869-8.779-15.471-7.877l-78.379,10.727
    c-6.541,0.896-11.488,5.695-12.76,11.586C853.903,789.072,855.364,788.705,856.897,788.496z"/>
</g>
<text transform="matrix(1 0 0 1 230.8318 375.6118)" fill="#FFFFFF" font-family="'Helvetica'" font-size="93.4136">${{ taxAmount | numberComma }}</text>
<polygon fill="#414042" points="642.674,1102.241 191.319,1102.241 191.319,947.749 642.674,947.749 607.598,1024.993 "/>
<polygon fill="#FFAA00" points="627.233,1102.241 175.864,1102.241 175.864,947.749 627.233,947.749 592.156,1024.993 "/>
<text transform="matrix(1 0 0 1 208.9573 1042.9541)" fill="#FFFFFF" font-family="'Helvetica'" font-size="60">${{ totalClaimAmount | numberComma }}</text>
<rect x="157.327" y="947.749" fill="#414042" width="18.537" height="154.502"/>
</svg>
</template>

<script>
  import BaseTaxes from './BaseTaxes'

  export default {
    mixins: [BaseTaxes],
    props: {
      taxAmount: {
        type: [String, Number],
        required: true
      },
      totalClaimAmount: {
        type: [String, Number],
        required: true
      }
    }
  }
</script>
