<script>
  import { QField } from 'quasar'
  export default {
    extends: QField
  }
</script>


<style lang="stylus" scoped>
  @import '~variables'
  .q-field-label
    color $blue !important
</style>
