<template lang="pug">
q-tabs(
  inverted
  align="center"
  position="top"
  no-pane-border
  color="positive"
  :two-lines="false"
)
  q-tab(default slot="title" name="client-tax" icon="star" :label="clientName")
  q-tab(slot="title" name="partner-tax" icon="favorite" v-if="hasPartnerIncome" :label="partnerName")

  q-tab-pane(name="client-tax")
    include blocks/client/graphics
  q-tab-pane(name="partner-tax" v-if="hasPartnerIncome")
    include blocks/partner/graphics
</template>

<script>
import {
  QTabs,
  QTab,
  QTabPane,
  QSelect
} from 'quasar'
import { mapGetters } from 'vuex'
import { QInput, QField } from '@/quasar'
import CommonTaxIssuesNotes from './blocks/Notes';
import * as TaxesGraphicsComponent from '@/charts/Taxes'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'

export default {
  name: 'common-tax-issues',
  mixins: [LoaFieldableMixin],
  computed: {
    ...mapGetters('clientCalculations', {
      netClientIncomeTaxCalculation: 'getNetIncomeTaxCalculation'
    }),
    ...mapGetters('partnerCalculations', {
      netPartnerIncomeTaxCalculation: 'getNetIncomeTaxCalculation',
    }),
    ...mapGetters('insuranceProviders', ['getInsuranceProvidersForTaxIssues']),
    ...mapGetters('letterOfAuthority', ['hasClientIncome', 'hasPartnerIncome']),
  },
  components: {
    ...TaxesGraphicsComponent,
    CommonTaxIssuesNotes,
    QTabs,
    QTab,
    QTabPane,
    QSelect,
    QField,
    QInput,
  }
}
</script>

<style lang="stylus" scoped>

</style>
