div(v-if="hasClientIncome")
  div
    p(class="text-faded text-center") In the event of an Accident:
    h5(class="text-faded text-center no-margin-top") ACC Cover + Income Protection
  div(class="row md-gutter")
    div(class="col-md-4")
      eighty(:amount="clientAccOffsetCalculation.maximumAccCoverPlusCover")
      p(class="text-faded text-center") ACC Cover Plus
    div(class="col-md-4")
      empty(:amount="0")
      p(class="text-faded text-center") Income Protection
    div(class="col-md-4")
      eighty(:amount="clientAccOffsetCalculation.maximumAccCoverPlusCover")
      p(class="text-faded text-center") Total Claim Amount
  div
    h5(class="text-faded text-center") ACC Cover + Monthly Mortgage Repayment Cover
  div(class="row md-gutter")
    div(class="col-md-4")
      eighty(:amount="clientAccOffsetCalculation.maximumAccCoverPlusCover")
      p(class="text-faded text-center") ACC Cover Plus
    div(class="col-md-4")
      forty(:amount="clientAccOffsetCalculation.maximumMonthlyMortgageRepaymentCover")
      p(class="text-faded text-center") Monthly Mortgage Repayment Cover
    div(class="col-md-4")
      one-hundred(:amount="clientAccOffsetCalculation.totalClaimAmount")
      p(class="text-faded text-center") Total Claim Amount
  div
    acc-offsets-notes(
      :client-name="clientName"
      :cover-plus-amount="clientAccOffsetCalculation.maximumAccCoverPlusCover"
      :monthly-mortgage-amount="clientAccOffsetCalculation.maximumMonthlyMortgageRepaymentCover"
      :cover-plus-amount-without-tax="clientAccOffsetCalculation.maximumAccCoverPlusCoverWithoutTax"
    )
h4(v-else class="text-center text-faded") INCOME AMOUNT REQUIRED
