<template lang="pug">
q-tabs(
  inverted
  align="center"
  position="top"
  no-pane-border
  color="positive"
  :two-lines="false"
)
  q-tab(default slot="title" name="client-acc-offsets" icon="star" :label="clientName")
  q-tab(slot="title" name="partner-acc-offsets" icon="favorite" :label="partnerName" v-if="hasPartnerIncome")

  q-tab-pane(name="client-acc-offsets")
    include blocks/client/graphics
  q-tab-pane(name="partner-acc-offsets" v-if="hasPartnerIncome")
    include blocks/partner/graphics
</template>

<script>
import {
  QTabs,
  QTab,
  QTabPane
} from 'quasar'
import { mapGetters } from 'vuex'
import AccOffsetsNotes from './blocks/Notes'
import * as PeopleGraphicsComponents from '@/charts/Peoples'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'

export default {
  name: 'acc-offsets',
  mixins: [LoaFieldableMixin],
  computed: {
    ...mapGetters('clientCalculations', {
      clientAccOffsetCalculation: 'getAccOffsetCalculation'
    }),
    ...mapGetters('partnerCalculations', {
      partnerAccOffsetCalculation: 'getAccOffsetCalculation',
    }),
    ...mapGetters('letterOfAuthority', [
      'hasClientIncome',
      'hasPartnerIncome'
    ])
  },
  components: {
    ...PeopleGraphicsComponents,
    AccOffsetsNotes,
    QTabs,
    QTab,
    QTabPane
  }
}
</script>
