<template lang="pug">
div
  div
    h6(class="text-faded") Client Signature
    div(class="signature-container client")
      vue-signature(
        h="40vh"
        ref="clientSignature"
        :sigOption="signatureConfig.option"
      )
    div(class="row gutter-md")
      div(class="col-md-4")
        q-btn(
          flat
          color="primary"
          class="full-width"
          @click="onSignatureClear('client')"
        ) Clear
      div(class="col-md-4")
        q-btn(
          flat
          color="primary"
          class="full-width"
          @click="onSignatureUndo('client')"
        ) Undo
      div(class="col-md-4")
        q-btn(
          color="primary"
          class="full-width"
          @click="onSignatureSave('client')"
        ) Save
  div
    h6(class="text-faded") Partner Signature
    div(class="signature-container partner")
      vue-signature(
        h="40vh"
        ref="partnerSignature"
        :sigOption="signatureConfig.option"
      )
    div(class="row md-gutter")
      div(class="col-md-4")
        q-btn(
          flat
          color="primary"
          class="full-width"
          @click="onSignatureClear('partner')"
        ) Clear
      div(class="col-md-4")
        q-btn(
          flat
          color="primary"
          class="full-width"
          @click="onSignatureUndo('partner')"
        ) Undo
      div(class="col-md-4")
        q-btn(
          color="primary"
          class="full-width"
          @click="onSignatureSave('partner')"
        ) Save
</template>

<script>
import { QBtn } from 'quasar'
import { isEmpty } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'generate-signature',
  props: {
    clientSignature: String,
    partnerSignature: String,
  },
  mounted() {
    const { clientSignature, partnerSignature } = this;
    this.$nextTick(() => {
      if (!isEmpty(clientSignature))
        this.$refs['clientSignature'].fromDataURL(clientSignature);
      if (!isEmpty(partnerSignature))
        this.$refs['partnerSignature'].fromDataURL(partnerSignature);
    });
  },

  methods: {
    onSignatureClear(type) {
      this.$refs[`${type}Signature`].clear();
      // this.$emit('clear', type);
      this.$emit('save', { data: null, type });
    },
    onSignatureUndo(type) {
      this.$refs[`${type}Signature`].undo();
      this.$emit('undo', type);
    },
    onSignatureSave(type) {
      const { format } = this.signatureConfig;
      const data = this.$refs[`${type}Signature`].save(format);
      this.$emit('save', { data, type });
    },
  },
  computed: {
    ...mapGetters('app', {
      appConfig: 'config'
    }),
    signatureConfig () {
      return this.appConfig.signature
    }
  },
  components: {
    QBtn
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'

.signature-container
  border 1px dotted $tertiary
  margin-top .5em
  margin-bottom .5em
  &.partner
    margin-top 1em
</style>
