<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
  <g>
    <g>
      <path id="SVGID_1_" fill="#F7F7F7" d="M213.571,96.088c0,0-0.013-0.014-0.013,0C213.561,96.197,213.568,96.169,213.571,96.088z
         M170.202,259.722c0.426,1.396,1.419,2.391,1.991,3.726c0.529,1.235,0.384,2.561,0.425,3.874c0.068,1.748,0.104,3.5,0.345,5.232
        c0.37,2.706,1.056,5.407,2.362,7.806c0.611,1.123,1.249,2.351,2.204,3.207c1.407,1.273,4.87,2.069,6.688,1.828
        c2.344-0.323,1.102-1.675,0.226-2.905c-1.09-1.561-0.995-3.708-2.826-4.638c-4.062-2.084-4.432-10.725-0.279-12.791
        c1.126-0.555,2.833-0.433,3.82-1.081c2.456-1.598,1.229-6.014,0.651-8.3c-0.876-3.377-0.596-6.558,0.102-9.942
        c0.92-4.517,1.612-9.018,2.36-13.575c1.215-7.4,2.887-14.679,4.828-21.914l2.4-9.28c-0.553,2.113-0.637,4.467-0.953,6.628
        c-0.321,2.276-0.638,4.557-0.952,6.834c-0.371,2.582-1.281,5.028-2.07,7.502c-0.817,2.564-1.188,5.111-1.64,7.771
        c-0.266,1.604-0.65,3.207-0.493,4.851c0.142,1.505,1.449,2.222,1.397,3.84c-0.055,1.509-0.348,2.982-0.465,4.459
        c-0.166,2.118-0.347,4.233-0.385,6.36c-0.101,4.115,0.667,8.102,0.975,12.182c0.467,6.01-0.331,12.582,1.394,18.386
        c0.512,1.748,1.089,3.435,1.732,5.178c0.76,2.037,0.584,4.446,0.701,6.593c0.295,5.407,0.625,10.806,0.547,16.24
        c-0.054,4.005-0.356,7.976-0.496,11.958c-0.15,4.168-0.121,8.306,0.071,12.474c0.105,2.416,0.212,4.872,0.105,7.295
        c-0.167,3.998-1.209,7.831-1.499,11.806c-0.308,4.02-0.32,8.045-0.412,12.07c-0.185,8.802-0.278,17.614-0.239,26.435
        c0.026,1.861,0.091,3.733,0.091,5.627c0.082,3.069-1.095,9.004,2.456,10.565c0.268,0.109,3.347,0.803,3.414,0.583
        c-0.984,3.077-1.5,6.344-1.346,9.571c0.078,1.563,0.337,3.136,0.853,4.619c0.532,1.479,1.515,2.736,1.978,4.255
        c0.466,1.538,0.466,3.149,0.533,4.714c0.212,4.461,1.179,8.947,2.114,13.287c0.911,4.156,1.706,8.253,3.419,12.136
        c1.3,2.939,2.834,4.882,5.867,5.846c3.622,1.171,7.394,1.237,10.772-0.732c2.292-1.343,4.5-3.063,5.09-5.859
        c0.535-2.56,0.04-5.42-0.652-7.895c-0.506-1.805-1.169-3.565-1.938-5.247c-1.024-2.238-2.099-4.779-2.602-7.213
        c-0.55-2.566,1.785-2.206,3.451-2.542c1.22-0.255,3.901-1.158,4.577,0.537c0.771,1.906-0.267,5.044-0.431,7.083
        c-0.112,1.415-0.22,2.854-0.339,4.269c-0.041,0.512-0.637,4.042-0.341,4.287l0.92,0.718c0.44,0.354,0.241,3.379,0.28,4.04
        c0.071,1.179,0.132,2.401,0.357,3.567c0.857,4.341,4.382,5.485,8.229,5.473c3.479-0.045,7.952,1.825,10.632-1.461
        c1.815-2.244,2.083-5.142,2.111-7.952c1.487-0.303,2.984-0.072,4.499-0.15c1.021-0.03,1.426-0.059,1.646-1.107
        c0.824-4.272,1.195-8.841,0.73-13.179c-0.308-2.875-0.915-5.757-0.773-8.683c0.227-4.2,1.134-8.318,1.707-12.488
        c0.537-3.834,1.311-7.613,1.887-11.438c0.338-2.259,0.608-4.499,0.748-6.771c0.173-2.854,0.198-5.725,0.198-8.563
        c0.067-3.421,0.253-6.822,0.318-10.229c0.081-5.495-0.139-11.009-0.139-16.501c0.007-3.156,0.07-6.347,0.231-9.503
        c0.132-2.433,0.352-4.876,0.729-7.271c0.347-2.214,0.784-4.405,1.167-6.619c1.28-7.105,1.321-14.401,2.563-21.527
        c0.37-2.106,0.81-4.169,1.221-6.253c1.577-7.886,2.866-15.845,4.36-23.754c0.577-3.012,1.16-6.06,1.719-9.074
        c0.83-4.487,0.743-9.133,1.758-13.559c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.415-0.637-10.89-0.077-16.337
        c0.239-2.354,1.315-3.917,2.378-5.921c1.316-2.504,0.268-5.045,1.141-7.585c-0.377,1.854,0.226,3.846,0.267,5.729
        c0.056,2.252,0.078,4.494,0.107,6.747c0.131,6.044,0.079,12.088-0.007,18.134c-0.014,0.803-0.021,1.619-0.033,2.417l3.08,0.362
        l3.785,0.715l3.305,0.479c-0.922-0.13-1.779,4.751-2.335,5.347c-1.261,1.402-3.257-0.201-4.638-0.51
        c-2.859-0.653-2.948,3.056-4.121,4.75c-0.811,1.203-2.06,2.863-1.909,4.433c0.13,1.426,1.433,1.604,2.495,2.032
        c-1.248,1.806-1.126,3.019,0.466,4.681c0.995,1.02,2.07,1.975,3.382,2.523c1.535,0.66,3.544-0.289,4.472,1.52
        c0.952,1.824,0.864,4.16,1.715,6.064c0.728,1.645,1.713,3.15,3.318,3.989c1.886,0.979,4.116,0.907,6.105,1.502
        c3.009,0.891,6.198,1.26,9.292,0.624c1.652-0.327,3.305-1.095,4.634-2.174c1.989-1.641,2.841-3.986,3.835-6.323
        c1.089-2.537,2.668-4.398,4.526-6.347c1.222-1.295,2.319-2.746,3.065-4.392c0.79-1.741,0.864-3.495,1.182-5.337
        c0.351-2.016,0.795-4.01,1.008-6.053c0.267,7.231,1.673,14.516,0.443,21.729c-0.458,2.747-1.368,5.428-2.528,7.957
        c-1.05,2.301-2.361,4.508-2.881,7.053c-0.516,2.566-0.268,5.335,0.283,7.888c1.036,4.747,3.621,8.883,5.006,13.53
        c0.496,1.682,0.815,3.422,0.87,5.184c0.055,1.604-0.041,3.214,0.502,4.752c0.474,1.33,1.406,2.378,1.977,3.646
        c0.584,1.271,0.836,2.731,0.984,4.146c0.352,3.107,0.174,6.313,1.394,9.208c0.769,1.806,1.721,3.562,2.135,5.485
        c0.811,3.658,0.206,7.915,0.347,11.643c0.167,4.607,0.467,9.195,0.702,13.801c0.122,2.335,0.199,4.673,0.228,6.989
        c0.04,4.66,0.02,9.332,0.623,13.965c0.878,6.708,4.17,12.868,1.527,19.651c-0.836,2.167-1.207,4.407-0.889,6.723
        c0.502,3.694,1.527,7.25,1.884,10.95c0.294,2.998,0.599,5.775,2.578,8.154c1.056,1.244-0.253,2.515-1.407,3.083
        c-0.917,0.453-1.946,0.597-2.311,1.728c-0.352,1.095,0.272,2.309,1.016,3.09c1.858,1.932,5.632,2.563,8.108,2.892
        c1.639,0.239,3.75,0.369,5.295-0.363c0.708-0.362,1.201-0.885,1.56-1.618c0.095-0.205,0.835-2.178,0.697-2.267
        c0.816,0.451,1.097,0.59,1.495,1.466c0.219,0.501,0.547,0.814,0.988,1.076c1.916,1.056,4.684,0.662,6.775,0.548
        c2.598-0.149,5.13-0.952,5.576-3.967c0.397-2.666-0.557-5.353-0.412-8.038c0.146-2.871,1.382-5.394,1.207-8.346
        c-0.206-3.448,1.347-7.093,0.246-10.472c-0.914-2.85-2.489-5.48-1.784-8.619c0.77-3.382,2.709-6.34,3.649-9.641
        c1.207-4.222,0.479-8.643,1.515-12.848c0.638-2.591,1.9-4.995,2.583-7.594c0.665-2.549,0.631-5.132,0.897-7.722
        c0.408-4.001,1.619-7.846,2.787-11.655c2.041-6.688,3.571-13.753,4.127-20.75c0.167-1.89,0.254-3.81,0.228-5.714
        c-0.015-4.599-0.759-9.34-2.115-13.712c-0.595-1.891-1.92-3.98-1.443-6.052c0.519-2.253,3.131-1.485,4.354-2.85
        c1.113-1.262,0.731-3.434,0.607-4.953c-0.25-3.022,0.074-6.065-0.306-9.079c-0.479-3.662-1.335-7.09-2.295-10.648
        c0.357,1.285,1.314,2.679,1.898,3.875c0.634,1.314,1.288,2.617,2.016,3.874c1.451,2.454,3.145,4.75,4.527,7.251
        c1.673,2.994,3.862,5.817,5.15,8.988c0.191,0.483,0.728,5.025,0.438,4.94c1.29,0.314,2.323,0.113,2.19,1.651
        c-0.125,1.268-0.158,2.559-0.17,3.862c-0.021,3.021,0.303,6.184,0.617,9.176c0.219,2.047,0.91,4.313,3.242,4.457
        c1.588,0.099,3.215,0.264,4.793,0.013c1.498-0.222,2.77-1.677,4.219-1.78c0.426-0.038,1.488,1.658,1.902,1.938
        c1.885,1.259,4.84,0.411,6.768-0.348c2.006-0.76,3.779,0.686,5.66,1.146c2.508,0.634,5.545-0.027,8.141-0.21
        c4.514-0.236,11.332,0.138,14.883-3.364c0.582-0.569,1.811-2.724,2.852-2.148c1.035,0.574-0.014,2.639-0.197,3.437
        c-0.504,2.05,0.891,3.412,1.027,5.428c0.146,1.825-0.844,3.495-1.191,5.257c-0.346,1.557,0.145,3.045,0.469,4.593
        c0.348,1.573,0.348,3.119,0,4.707c-0.33,1.48-0.732,3.379,0.914,4.186c-0.072-0.035-1.652,8.855-1.771,9.606
        c-0.098,0.591-0.229,1.185-0.281,1.796c-0.367,3.813-0.455,7.676-0.055,11.478c0.211,2.278,0.633,4.569,1.01,6.821
        c0.621,4.025,1.34,8.037,2.061,12.063c1.357,7.792,2.355,15.713,3.012,23.606c0.25,3.084,0.49,6.236,0.264,9.348
        c-0.215,2.795-1.141,5.48-1.352,8.263c-0.107,1.371,0.35,2.694,1.635,3.331c1.752,0.89,2.377,1.452,1.555,3.532
        c-0.844,2.128-1.199,4.279,1.602,4.801c3.57,0.672,7.674,1.075,11.285,0.5c3.662-0.575,1.297-4.16,2.135-6.428
        c0.553-1.418,2.219-1.452,3.373-1.013c1.34,0.51,2.166,1.604,2.166,3.117c-0.012,5.302,7.873,4.804,10.949,2.774
        c1.93-1.271,2.01-3.574,2.746-5.597c0.535-1.391,1.621-2.46,2.059-3.876c0.52-1.61,0.262-3.412,0.158-5.054
        c-0.145-2.179-0.451-4.289-0.855-6.421c-0.932-4.95-1.971-10.139-1.146-15.191c0.523-3.313,0.656-6.684,0.596-10.027
        c-0.07-3.091-0.553-6.269-0.025-9.329c0.408-2.368,1.564-4.494,2.029-6.852c0.529-2.784,0.139-5.609,0.354-8.405
        c0.158-2.015,0.721-3.94,1.215-5.903c0.408-1.579,0.566-3.437,1.334-4.882c1.139-2.128,3.627-2.697,4.342-5.19
        c0.729-2.549,0.068-5.219,0.127-7.791c0.061-2.117,0.943-4.043,1.582-6.003c1.607-4.769,2.068-9.353,0.959-14.32
        c-0.748-3.351-1.814-6.872-0.662-10.27c0.547-1.623,1.846-2.702,3.018-3.791c1.008-0.954,1.707-2.245,2.725-3.146
        c0.965-0.878,2.303-0.85,3.494-0.987c2.561-0.33,4.15-2.048,5.975-3.788c2.168-2.104,5.746-1.584,7.518-4.091
        c1.156-1.658,1.51-3.751,1.76-5.735c0.164-1.281,0.225-2.563,0.33-3.844c0.309-3.728,0.322-7.637,0.875-11.307
        c0.23-1.495,1.971-1.124,2.182-2.666c0.264-1.831-1.195-3.729-0.244-5.483c0.018-0.053,1.957-0.03,2.188-0.103
        c3.111-0.958,0.738-4.6,0.205-6.515c-0.777-2.862-0.791-5.557-0.115-8.455c0.332-1.344,0.609-1.454,1.9-1.919
        c0.371-0.329-0.072-3.595-0.08-4.097c-0.033-1.684-0.086-3.372-0.045-5.069c0.145-5.155,2.605-9.754,3.162-14.85
        c0.826-7.483,3.82-14.401,4.711-21.839c0.332-2.762,0.488-5.544,0.553-8.32c0.057-2.954,0.072-5.978,1.008-8.81
        c1.119-3.353,2.842-6.441,4.039-9.759c-0.311,1.326-0.113,2.87-0.158,4.238c-0.072,1.68-0.139,3.371-0.215,5.052
        c-0.139,3.301-0.25,6.616-0.365,9.929c-0.244,7.16-0.34,14.352-0.555,21.523c-0.078,3.262-0.381,6.604-0.035,9.848
        c0.635,0.15,1.334,0.136,1.992,0.274c0.211,3.188-0.791,6.267-0.318,9.491c0.471,3.156,1.416,6.233,1.391,9.447
        c-0.014,3.451-0.492,6.894-0.637,10.338c-0.158,4.351-0.219,8.714-0.291,13.062c-0.117,8.999-2.094,17.814-0.764,26.843
        c0.271,1.856,0.771,3.789,1.846,5.337c0.889,1.259,2.477,2.27,2.697,3.947c0.307,2.291-2.02,4.217-2.104,6.619
        c-0.094,2.696,0.781,5.321,0.77,8.015c-0.02,2.97-0.303,5.924-0.605,8.873c-0.42,4.358-0.697,8.712-0.914,13.084
        c-0.141,2.474-0.258,4.939-0.357,7.396c-0.213,4.409-0.451,8.829-0.494,13.236c-0.045,2.733,0,5.485,0.166,8.232
        c0.158,2.717,0.475,5.444,1.047,8.117c0.516,2.434,1.41,4.741,2.637,6.88c0.354,0.624,1.311,2.73,2.152,2.73
        c-1.547-0.018-2.879,2.614-3.293,3.876c-0.633,2-0.494,4.269,0.072,6.283c0.633,2.31,2.553,4.256,1.992,6.824
        c-1.012,4.681-3.205,8.847-5.254,13.107c-2.393,5.044-4.01,13.541,1.277,17.446c4.682,3.455,11.949,3.337,16.838,0.502
        c2.34-1.385,4.924-3.276,5.932-5.97c1.514-4.084,0.371-9.003,0.955-13.307c0.467-3.521,2.113-5.331,4.559-7.562
        c5.086-4.629,3.854-13.52,1.297-19.196c-1.148-2.536-1.613-4.773-0.475-7.423c1.094-2.561,2.793-4.726,3.512-7.457
        c1.371-5.307,0.889-11.1,0.475-16.501c-0.236-3.183-0.072-6.358-0.072-9.562c-0.014-3.078-0.705-5.976-1.086-9.001
        c-0.383-2.971,0.348-5.481,0.916-8.346c0.635-3.143,0.203-6.015-0.635-9.043c-0.504-1.907-1.127-3.884,0.631-5.239
        c1.465-1.118,2.854-1.536,3.422-3.509c0.773-2.741,0.494-5.948,0.465-8.764c-0.029-3.146-0.189-6.298-0.139-9.443
        c0.068-3.167,0.49-6.257,0.938-9.402c0.441-3.146,0.521-6.297,0.561-9.47c0.043-2.707,0.215-5.358,0.408-8.051
        c0.146-1.927,0.146-3.976,0.977-5.769c0.346-0.789,0.861-1.459,1.389-2.118c0.262,4.584-0.264,9.148-0.021,13.731
        c0.242,4.599,2.131,8.832,2.543,13.38c0.449,4.717-0.523,9.462-0.934,14.143c-0.428,4.786-0.414,9.562-0.068,14.348
        c0.318,4.705,0.193,9.046-0.877,13.661c-1.057,4.639-1.777,9.167-1.936,13.943c-0.311,9.572,0.504,19.077,0.404,28.637
        c-0.061,4.782-0.211,9.613-1.055,14.349c-0.795,4.535-2.271,8.894-3.906,13.17c-1.877,4.864-3.619,9.668-1.402,14.786
        c1.057,2.502,2.898,4.517,4.215,6.866c1.252,2.274,1.76,4.517,1.385,7.092c-0.326,2.138-0.912,4.659,1.031,6.176
        c2.32,1.794,5.273,1.973,8.057,1.87c3.164-0.108,6.256,0.212,9.4,0.192c2.461-0.015,5.758-0.838,6.117-3.872
        c0.182-1.551-0.479-3.043-0.68-4.565c-0.328-2.12,1.17-3.898,1.83-5.788c1.496-4.339,0.9-8.994,0.771-13.521
        c-0.15-5.314,0.68-10.601,1.502-15.839c0.35-2.245,0.699-4.472,1.002-6.729c0.35-2.684,0.662-5.343,0.938-8.039
        c0.354-3.437,1.428-6.767,1.824-10.203c0.354-3.005,0.479-6.051,0.695-9.059c0.314-3.796,1.127-7.527,2.18-11.169
        c1.377-4.797,2.354-9.68,2.939-14.653c0.494-4.205,0.297-8.464,0.633-12.675c0.352-4.601,0.842-9.161,1.34-13.73
        c0.277-2.583,0.566-5.19,0.85-7.781c0.236-2.265,0.465-4.491,0.637-6.77c0.211-2.804,0.389-5.593,0.547-8.388
        c0.158-2.918,0.289-5.852,0.467-8.795c0.113-2.106,0.23-4.211,0.35-6.328c0.336-5.776,0.852-11.629,0.852-17.423
        c0.104-1.984,0.092-4.109,0.439-6.065c0.617-3.501,1.428-6.969,1.668-10.525c0.264-3.7,0.297-7.394,0.572-11.081
        c0.193-2.36-0.605-5.188,0.217-7.441c0.291-0.761,3.52-3.381,4.355-2.912c1.332,0.762,1.555,1.849,1.555,3.313
        c0,1.965,0.061,3.941,0.191,5.911c0.111,1.905,0.289,4.021-0.402,5.893c-0.711,1.906-2.266,3.287-2.813,5.296
        c-0.482,1.71-0.934,3.451-1.404,5.191c-0.717,2.719-1.133,6.174-1.133,9.003c0,1.493-0.408,2.982-0.211,4.476
        c0.303,2.415,2.346,1.362,3.855,0.666c-0.461,0.222-0.311,1.885-0.574,2.324c-0.922,1.472-3.898,0.923-2.418,3.658
        c0.691,1.242,3.053,2.885,4.48,2.665c0.988-0.162,1.852-0.72,2.793-0.993c-0.383,0.098-0.941,1.431-1.139,1.806
        c-0.369,0.681-0.857,1.557-0.066,2.153c1.779,1.309,2.893,0.221,3.965-1.355c0.482-0.721,0.863-1.681,1.568-2.232
        c1.271-0.941,2.721-0.884,3.881-2.141c4.004-4.294,3.441-10.159,3.623-15.608c0.072-2.933,0.348-5.851,0.711-8.749
        c0.164-1.277-0.146-3.088,1.252-3.75c1.402-0.657,3.168,0.424,4.564-0.523c1.805-1.232,1.635-5.898,1.566-7.786
        c-0.072-3.212-0.533-6.406-0.611-9.619c-0.061-3.424,0.072-6.836,0.461-10.23c0.443-3.874,0.541-7.719,0.766-11.623
        c0.211-4.526,0.521-9.083,0.178-13.613c-0.619-7.919-2.404-15.707-3.166-23.62c-0.215-2.156-0.352-4.31-0.479-6.479
        c-0.322-5.48-0.805-10.908-2.32-16.182c-1.908-6.806-4.146-13.482-6.055-20.267c-0.58-2.023-1.17-4.031-1.813-6.033
        c-0.637-1.948-1.334-3.877-2.059-5.786c-0.912-2.333-1.818-4.652-2.604-7.042c-0.617-1.961-1.109-4.02-2.209-5.75
        c-1.195-1.899-3.127-3.03-4.775-4.416c-1.467-1.239-2.732-2.702-4.383-3.666c-1.742-1.007-3.68-1.513-5.537-2.197
        c-3.504-1.312-6.996-2.912-10.189-4.895c-3.465-2.146-6.727-4.88-10.68-6.042c-1.949-0.557-4.123-0.918-5.191-2.966
        c-1.172-2.239,0.219-4.438,1.76-6.034c3.123-3.245,3.441-7.79,3.162-12.123c-0.217-3.582,0.691-7.077,0.73-10.646
        c0.047-6.072-4.648-10.532-9.125-13.627c-1.744-1.186-3.543-2.554-5.604-3.017c-2.398-0.53-4.639,0.461-6.994,0.683
        c-2.342,0.222-4.732,0.236-6.965,1.078c-2.457,0.926-4.1,2.915-5.67,4.999c-1.717,2.279-3.523,4.724-3.934,7.692
        c-0.49,3.576-1.908,7.261,0.104,10.628c0.547,0.914,1.238,1.748,1.555,2.762c0.514,1.606,0.215,3.354,0.764,4.985
        c0.523,1.586,1.41,3.01,2.154,4.486c1.016,1.991,1.611,4.238,3.297,5.771c4.168,3.776-2.9,5.606-4.66,7.719
        c-2.121,2.541-3.82,5.013-6.402,7.089c-1.939,1.54-4.061,2.853-6.271,3.88c-2.307,1.07-4.746,1.704-7.021,2.811
        c-3.18,1.518-6.91,3.837-9.379,6.419c-2.045,2.112-3.344,4.875-4.879,7.385c-1.916,3.147-3.582,6.491-4.85,9.982
        c-0.697,1.932-1.291,3.923-1.748,5.936c-0.504,2.326-0.965,4.667-1.486,6.993c-0.689,2.975-1.336,5.956-2.008,8.925
        c-0.465,2.069-0.898,4.145-1.309,6.234c-0.938,4.783-1.58,9.641-2.404,14.458c-1.057,6.27-2.15,12.511-3.102,18.784
        c-0.348,2.182-0.637,4.379-0.799,6.599c-0.246,3.48,0.029,6.965-0.215,10.452c-0.213,2.926-1.025,5.669-1.627,8.519
        c-0.633,2.963-1.225,5.921-1.557,8.949c-0.453,4.225-0.537,8.493-0.775,12.722c-0.102,2.125-0.211,4.248-0.27,6.36
        c-0.08,2.587-0.164,5.178-0.24,7.762c-0.145,3.733-0.326,7.48-0.574,11.196c-0.131,1.701-0.352,3.435-0.42,5.132
        c-0.068,1.581,0.711,2.979,0.74,4.516c0.033,1.707-0.527,3.364-0.699,5.044c-0.18,1.677-0.209,3.35-0.283,5.026
        c-0.098,2.594-0.131,6.299,2.219,7.966c1.334,0.949,2.65,1.154,2.414,3.169c-0.301,2.442-1.527,5.002-2.307,7.355
        c-0.682,2.117-1.621,4.252-3.863,4.896c-2.564,0.753-4.971,2.062-7.531,2.729c-2.115,0.553-4.328,0.463-6.49,0.599
        c-1.617,0.104-5.969,1.413-5.594-1.677c0.119-1.007,1.133-1.354,1.846-1.831c0.902-0.612,1.652-1.39,2.322-2.226
        c2.813-3.584,4.041-8.511,3.977-13.084c-0.033-1.635-0.066-3.293-0.359-4.911c-0.289-1.537-1.023-2.633-1.592-4.052
        c-0.316-0.78-0.35-1.733,0.666-1.322c1.008,0.399,1.334,1.812,2.535,2.026c0.096-0.075,0.07-0.135,0.016-0.251
        c-1.775-3.753-5.463-4.63-8.648-6.542c0.172,0.094,0.492-1.502,0.479-1.706c-0.117-0.561-0.621-0.965-1.051-1.294
        c-1.195-0.98-2.717-1.583-4.078-2.242c0.512,0.245,3.842,3.582,2.197,3.582c-2.178,0-3.84-2.663-6.041-3.077
        c-1.223-0.231-2.486-0.382-3.729-0.519c-0.492-0.042-0.957-0.104-1.461-0.11c-0.316-0.007-1.574,0.318-1.76,0.187
        c0.875,0.589,2.146,0.512,3.004,1.098c-2.043,0.323-4.203,0.309-6.271,0.61c-3.887,0.569-7.535,2.821-11.152,4.311
        c0.764,0.099,1.977,0.117,2.529,0.66c-0.111-0.111-1.896,3.298-2.006,3.736c-0.354,1.891-0.354,3.757-0.781,5.641
        c-0.467,1.992,0.844,4.557-0.525,6.212c-1.732,2.093-2.182,3.874-1.898,6.623c0.186,1.733-0.283,3.728,0.83,5.211
        c0.574,0.764,2.734,1.874,1.195,2.789c-0.98,0.6-2.414,0.287-3.441,0.792c-2.377,1.099-5.006,3.076-6.939,4.908
        c-1.479,1.446-1.645,3.646-3.053,5.074c-1.332,1.346-3.258,2.669-4.889,3.533c-1.371,0.727-2.965,0.641-4.342,1.305
        c-1.377,0.657-2.121,2.012-3.426,2.774c-2.029,1.204-4.486,1.279-6.721,1.711c-2.227,0.381-4.289,1.292-6.48,1.834
        c-2.547,0.661-4.777,0.145-7.355,0.287c-1.479,0.072-3.166,0.926-4.604,0.212c-0.656-0.334-1.078-1.389-1.492-1.964
        c-0.955-1.269-2.461-2.104-3.445-3.359c-2.398-3.028,1.957-3.488,1.613-6.799c-0.244-2.459-1.613-4.607-2.184-6.967
        c-0.654-2.7-0.773-5.481-1.584-8.113c-0.855-2.769-1.789-5.518-2.801-8.24c-1.58-3.862-3.77-7.493-5.289-11.441
        c-1.674-4.305-3.025-8.729-4.33-13.17c-3.429-11.633-8.002-23.268-19.233-28.843c-2.682-1.319-4.129-4.145-6.942-5.367
        c-2.746-1.204-6.051-1.624-8.959-0.764c-0.145,0.058,0.73-3.616,1.036-4.04c0.884-1.284,2.263-2.2,3.231-3.438
        c5.768-7.386,10.241-22.734,4.238-31.26c-2.309-3.287-4.432-5.329-8.256-6.241c-4.993-1.2-13.328-3.84-17.654,0.54
        c-1.028,1.05-1.74,2.379-2.88,3.393c-3.019,2.723-3.678,4.895-3.794,8.998c-0.217,6.406-1.57,13.338,2.12,19.025
        c1.785,2.761,2.929,5.471,3.338,8.8c-1.944,0.179-3.271,1.695-4.573,3.006c-1.42,1.39-2.895,2.097-4.646,2.96
        c-5.082,2.509-10.556,4.593-14.662,8.719c-4.705,4.752-6.51,11.212-10.388,16.483c-1.58,2.132-3.573,3.886-5.097,6.066
        c-2.304,3.357-5.939,4.719-9.781,4.719c-0.856,0-2.971,0.221-2.559-1.219c0.396-1.378,2.559-0.934,3.578-1.329
        c4.279-1.679,3.332-7.334,3.538-11.013c0.084-1.72,1.249-2.652,2.264-3.807c1.262-1.445,1.893-2.953,2.044-4.897
        c0.453-5.796-2.501-12.065-3.696-17.671c-1.319-6.227-2.277-12.564-2.921-18.904c-0.55-5.616-0.26-11.269-1.023-16.859
        c-0.774-5.646-2.137-11.202-2.846-16.865c-0.817-6.414-0.685-12.932-1.09-19.37c-0.271-4.21-0.535-8.416-0.721-12.626
        c-0.28-6.184-0.693-12.37-1.625-18.493c-1.525-10.022-6.936-20.1-16.679-23.225c-2.735-0.896-5.68-1.264-8.341-2.376
        c-3.656-1.537-3.626-5.852-7.447-7.034c-2.202-0.692,3.363,4.47,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842
        c0.064-1.832,0.527-2.415-0.363-4.757c0.682-2.698-1.597-0.961-2.058-6.206c1.811-2.432,2.63-3.492,3.731-6.551
        c1.378-3.837-0.851-8.48-1.765-12.176c-0.658-2.721-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.558-4.007-8.055
        c-1.487-2.276-2.811-4.736-4.819-6.578c-3.185-2.898-7.806-3.29-11.839-2.99c-3.792,0.278-8.976,0.113-12.172,2.541
        c-1.461,1.112-1.948,2.908-2.974,4.379c-1.194,1.711-3.096,2.802-4.022,4.729c-1.082,2.252-0.492,4.938-1.564,7.186
        c-1.74,3.666-4.039,6.268-4.62,10.452c-0.609,4.571,0.253,9.237,0.836,13.752c0.341,2.694,0.145,5.964,1.426,8.407
        c1.029,1.983,0.135,1.54-0.512,5.529c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.646-6.401,3.851
        c-7.765,0.579-16.378,3.996-20.258,11.416c-1.64,3.148-2.587,6.671-3.636,10.065c-1.068,3.501-2.031,7.057-2.429,10.716
        c-0.876,8.146-1.632,16.28-2.583,24.425c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.975-1.339,15.795-2.297,23.722
        c-0.261,2.196-0.493,4.389-0.671,6.599c-0.314,4.007-0.089,7.994-0.089,12.007c0,3.532,0,7.033,0.089,10.555
        c0.151,6.242-1.016,12.384-2.365,18.464c-0.341,1.52-0.665,3.191-0.328,4.751C170.135,259.464,170.177,259.588,170.202,259.722z
         M477.422,418.467c0.158-1.755,1.248-3.673,2.389-1.158c0.988,2.179,0.947,5.077,1.018,7.435c0.094,2.672,0.105,5.407-0.145,8.058
        c-0.029,0.224-0.057,0.426-0.086,0.645c-0.322,2.117-1.098,4.405-0.311,6.435c-0.773-2.029-1.996-3.871-2.598-5.976
        c-0.65-2.269,0-4.543-0.176-6.873C477.311,424.182,477.166,421.311,477.422,418.467z M227.047,378.06
        c0.697-10.484,0.337-20.988,0.379-31.5c0.025-7.997-2.297-18.05,3.396-24.635c0.911,6.723,0.502,13.669,0.268,20.461
        c-0.174,5.003,1.068,9.867,1.886,14.746c0.809,4.776,0.754,9.28,0.356,14.108c-0.439,5.496-0.903,11.014-1.366,16.515
        c-0.391,4.665,0.061,44.661-6.736,43.93C220.332,425.949,226.582,385.219,227.047,378.06z"/>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_2_" d="M213.571,96.088c0,0-0.013-0.014-0.013,0C213.561,96.197,213.568,96.169,213.571,96.088z
             M170.202,259.722c0.426,1.396,1.419,2.391,1.991,3.726c0.529,1.235,0.384,2.561,0.425,3.874c0.068,1.748,0.104,3.5,0.345,5.232
            c0.37,2.706,1.056,5.407,2.362,7.806c0.611,1.123,1.249,2.351,2.204,3.207c1.407,1.273,4.87,2.069,6.688,1.828
            c2.344-0.323,1.102-1.675,0.226-2.905c-1.09-1.561-0.995-3.708-2.826-4.638c-4.062-2.084-4.432-10.725-0.279-12.791
            c1.126-0.555,2.833-0.433,3.82-1.081c2.456-1.598,1.229-6.014,0.651-8.3c-0.876-3.377-0.596-6.558,0.102-9.942
            c0.92-4.517,1.612-9.018,2.36-13.575c1.215-7.4,2.887-14.679,4.828-21.914l2.4-9.28c-0.553,2.113-0.637,4.467-0.953,6.628
            c-0.321,2.276-0.638,4.557-0.952,6.834c-0.371,2.582-1.281,5.028-2.07,7.502c-0.817,2.564-1.188,5.111-1.64,7.771
            c-0.266,1.604-0.65,3.207-0.493,4.851c0.142,1.505,1.449,2.222,1.397,3.84c-0.055,1.509-0.348,2.982-0.465,4.459
            c-0.166,2.118-0.347,4.233-0.385,6.36c-0.101,4.115,0.667,8.102,0.975,12.182c0.467,6.01-0.331,12.582,1.394,18.386
            c0.512,1.748,1.089,3.435,1.732,5.178c0.76,2.037,0.584,4.446,0.701,6.593c0.295,5.407,0.625,10.806,0.547,16.24
            c-0.054,4.005-0.356,7.976-0.496,11.958c-0.15,4.168-0.121,8.306,0.071,12.474c0.105,2.416,0.212,4.872,0.105,7.295
            c-0.167,3.998-1.209,7.831-1.499,11.806c-0.308,4.02-0.32,8.045-0.412,12.07c-0.185,8.802-0.278,17.614-0.239,26.435
            c0.026,1.861,0.091,3.733,0.091,5.627c0.082,3.069-1.095,9.004,2.456,10.565c0.268,0.109,3.347,0.803,3.414,0.583
            c-0.984,3.077-1.5,6.344-1.346,9.571c0.078,1.563,0.337,3.136,0.853,4.619c0.532,1.479,1.515,2.736,1.978,4.255
            c0.466,1.538,0.466,3.149,0.533,4.714c0.212,4.461,1.179,8.947,2.114,13.287c0.911,4.156,1.706,8.253,3.419,12.136
            c1.3,2.939,2.834,4.882,5.867,5.846c3.622,1.171,7.394,1.237,10.772-0.732c2.292-1.343,4.5-3.063,5.09-5.859
            c0.535-2.56,0.04-5.42-0.652-7.895c-0.506-1.805-1.169-3.565-1.938-5.247c-1.024-2.238-2.099-4.779-2.602-7.213
            c-0.55-2.566,1.785-2.206,3.451-2.542c1.22-0.255,3.901-1.158,4.577,0.537c0.771,1.906-0.267,5.044-0.431,7.083
            c-0.112,1.415-0.22,2.854-0.339,4.269c-0.041,0.512-0.637,4.042-0.341,4.287l0.92,0.718c0.44,0.354,0.241,3.379,0.28,4.04
            c0.071,1.179,0.132,2.401,0.357,3.567c0.857,4.341,4.382,5.485,8.229,5.473c3.479-0.045,7.952,1.825,10.632-1.461
            c1.815-2.244,2.083-5.142,2.111-7.952c1.487-0.303,2.984-0.072,4.499-0.15c1.021-0.03,1.426-0.059,1.646-1.107
            c0.824-4.272,1.195-8.841,0.73-13.179c-0.308-2.875-0.915-5.757-0.773-8.683c0.227-4.2,1.134-8.318,1.707-12.488
            c0.537-3.834,1.311-7.613,1.887-11.438c0.338-2.259,0.608-4.499,0.748-6.771c0.173-2.854,0.198-5.725,0.198-8.563
            c0.067-3.421,0.253-6.822,0.318-10.229c0.081-5.495-0.139-11.009-0.139-16.501c0.007-3.156,0.07-6.347,0.231-9.503
            c0.132-2.433,0.352-4.876,0.729-7.271c0.347-2.214,0.784-4.405,1.167-6.619c1.28-7.105,1.321-14.401,2.563-21.527
            c0.37-2.106,0.81-4.169,1.221-6.253c1.577-7.886,2.866-15.845,4.36-23.754c0.577-3.012,1.16-6.06,1.719-9.074
            c0.83-4.487,0.743-9.133,1.758-13.559c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.415-0.637-10.89-0.077-16.337
            c0.239-2.354,1.315-3.917,2.378-5.921c1.316-2.504,0.268-5.045,1.141-7.585c-0.377,1.854,0.226,3.846,0.267,5.729
            c0.056,2.252,0.078,4.494,0.107,6.747c0.131,6.044,0.079,12.088-0.007,18.134c-0.014,0.803-0.021,1.619-0.033,2.417l3.08,0.362
            l3.785,0.715l3.305,0.479c-0.922-0.13-1.779,4.751-2.335,5.347c-1.261,1.402-3.257-0.201-4.638-0.51
            c-2.859-0.653-2.948,3.056-4.121,4.75c-0.811,1.203-2.06,2.863-1.909,4.433c0.13,1.426,1.433,1.604,2.495,2.032
            c-1.248,1.806-1.126,3.019,0.466,4.681c0.995,1.02,2.07,1.975,3.382,2.523c1.535,0.66,3.544-0.289,4.472,1.52
            c0.952,1.824,0.864,4.16,1.715,6.064c0.728,1.645,1.713,3.15,3.318,3.989c1.886,0.979,4.116,0.907,6.105,1.502
            c3.009,0.891,6.198,1.26,9.292,0.624c1.652-0.327,3.305-1.095,4.634-2.174c1.989-1.641,2.841-3.986,3.835-6.323
            c1.089-2.537,2.668-4.398,4.526-6.347c1.222-1.295,2.319-2.746,3.065-4.392c0.79-1.741,0.864-3.495,1.182-5.337
            c0.351-2.016,0.795-4.01,1.008-6.053c0.267,7.231,1.673,14.516,0.443,21.729c-0.458,2.747-1.368,5.428-2.528,7.957
            c-1.05,2.301-2.361,4.508-2.881,7.053c-0.516,2.566-0.268,5.335,0.283,7.888c1.036,4.747,3.621,8.883,5.006,13.53
            c0.496,1.682,0.815,3.422,0.87,5.184c0.055,1.604-0.041,3.214,0.502,4.752c0.474,1.33,1.406,2.378,1.977,3.646
            c0.584,1.271,0.836,2.731,0.984,4.146c0.352,3.107,0.174,6.313,1.394,9.208c0.769,1.806,1.721,3.562,2.135,5.485
            c0.811,3.658,0.206,7.915,0.347,11.643c0.167,4.607,0.467,9.195,0.702,13.801c0.122,2.335,0.199,4.673,0.228,6.989
            c0.04,4.66,0.02,9.332,0.623,13.965c0.878,6.708,4.17,12.868,1.527,19.651c-0.836,2.167-1.207,4.407-0.889,6.723
            c0.502,3.694,1.527,7.25,1.884,10.95c0.294,2.998,0.599,5.775,2.578,8.154c1.056,1.244-0.253,2.515-1.407,3.083
            c-0.917,0.453-1.946,0.597-2.311,1.728c-0.352,1.095,0.272,2.309,1.016,3.09c1.858,1.932,5.632,2.563,8.108,2.892
            c1.639,0.239,3.75,0.369,5.295-0.363c0.708-0.362,1.201-0.885,1.56-1.618c0.095-0.205,0.835-2.178,0.697-2.267
            c0.816,0.451,1.097,0.59,1.495,1.466c0.219,0.501,0.547,0.814,0.988,1.076c1.916,1.056,4.684,0.662,6.775,0.548
            c2.598-0.149,5.13-0.952,5.576-3.967c0.397-2.666-0.557-5.353-0.412-8.038c0.146-2.871,1.382-5.394,1.207-8.346
            c-0.206-3.448,1.347-7.093,0.246-10.472c-0.914-2.85-2.489-5.48-1.784-8.619c0.77-3.382,2.709-6.34,3.649-9.641
            c1.207-4.222,0.479-8.643,1.515-12.848c0.638-2.591,1.9-4.995,2.583-7.594c0.665-2.549,0.631-5.132,0.897-7.722
            c0.408-4.001,1.619-7.846,2.787-11.655c2.041-6.688,3.571-13.753,4.127-20.75c0.167-1.89,0.254-3.81,0.228-5.714
            c-0.015-4.599-0.759-9.34-2.115-13.712c-0.595-1.891-1.92-3.98-1.443-6.052c0.519-2.253,3.131-1.485,4.354-2.85
            c1.113-1.262,0.731-3.434,0.607-4.953c-0.25-3.022,0.074-6.065-0.306-9.079c-0.479-3.662-1.335-7.09-2.295-10.648
            c0.357,1.285,1.314,2.679,1.898,3.875c0.634,1.314,1.288,2.617,2.016,3.874c1.451,2.454,3.145,4.75,4.527,7.251
            c1.673,2.994,3.862,5.817,5.15,8.988c0.191,0.483,0.728,5.025,0.438,4.94c1.29,0.314,2.323,0.113,2.19,1.651
            c-0.125,1.268-0.158,2.559-0.17,3.862c-0.021,3.021,0.303,6.184,0.617,9.176c0.219,2.047,0.91,4.313,3.242,4.457
            c1.588,0.099,3.215,0.264,4.793,0.013c1.498-0.222,2.77-1.677,4.219-1.78c0.426-0.038,1.488,1.658,1.902,1.938
            c1.885,1.259,4.84,0.411,6.768-0.348c2.006-0.76,3.779,0.686,5.66,1.146c2.508,0.634,5.545-0.027,8.141-0.21
            c4.514-0.236,11.332,0.138,14.883-3.364c0.582-0.569,1.811-2.724,2.852-2.148c1.035,0.574-0.014,2.639-0.197,3.437
            c-0.504,2.05,0.891,3.412,1.027,5.428c0.146,1.825-0.844,3.495-1.191,5.257c-0.346,1.557,0.145,3.045,0.469,4.593
            c0.348,1.573,0.348,3.119,0,4.707c-0.33,1.48-0.732,3.379,0.914,4.186c-0.072-0.035-1.652,8.855-1.771,9.606
            c-0.098,0.591-0.229,1.185-0.281,1.796c-0.367,3.813-0.455,7.676-0.055,11.478c0.211,2.278,0.633,4.569,1.01,6.821
            c0.621,4.025,1.34,8.037,2.061,12.063c1.357,7.792,2.355,15.713,3.012,23.606c0.25,3.084,0.49,6.236,0.264,9.348
            c-0.215,2.795-1.141,5.48-1.352,8.263c-0.107,1.371,0.35,2.694,1.635,3.331c1.752,0.89,2.377,1.452,1.555,3.532
            c-0.844,2.128-1.199,4.279,1.602,4.801c3.57,0.672,7.674,1.075,11.285,0.5c3.662-0.575,1.297-4.16,2.135-6.428
            c0.553-1.418,2.219-1.452,3.373-1.013c1.34,0.51,2.166,1.604,2.166,3.117c-0.012,5.302,7.873,4.804,10.949,2.774
            c1.93-1.271,2.01-3.574,2.746-5.597c0.535-1.391,1.621-2.46,2.059-3.876c0.52-1.61,0.262-3.412,0.158-5.054
            c-0.145-2.179-0.451-4.289-0.855-6.421c-0.932-4.95-1.971-10.139-1.146-15.191c0.523-3.313,0.656-6.684,0.596-10.027
            c-0.07-3.091-0.553-6.269-0.025-9.329c0.408-2.368,1.564-4.494,2.029-6.852c0.529-2.784,0.139-5.609,0.354-8.405
            c0.158-2.015,0.721-3.94,1.215-5.903c0.408-1.579,0.566-3.437,1.334-4.882c1.139-2.128,3.627-2.697,4.342-5.19
            c0.729-2.549,0.068-5.219,0.127-7.791c0.061-2.117,0.943-4.043,1.582-6.003c1.607-4.769,2.068-9.353,0.959-14.32
            c-0.748-3.351-1.814-6.872-0.662-10.27c0.547-1.623,1.846-2.702,3.018-3.791c1.008-0.954,1.707-2.245,2.725-3.146
            c0.965-0.878,2.303-0.85,3.494-0.987c2.561-0.33,4.15-2.048,5.975-3.788c2.168-2.104,5.746-1.584,7.518-4.091
            c1.156-1.658,1.51-3.751,1.76-5.735c0.164-1.281,0.225-2.563,0.33-3.844c0.309-3.728,0.322-7.637,0.875-11.307
            c0.23-1.495,1.971-1.124,2.182-2.666c0.264-1.831-1.195-3.729-0.244-5.483c0.018-0.053,1.957-0.03,2.188-0.103
            c3.111-0.958,0.738-4.6,0.205-6.515c-0.777-2.862-0.791-5.557-0.115-8.455c0.332-1.344,0.609-1.454,1.9-1.919
            c0.371-0.329-0.072-3.595-0.08-4.097c-0.033-1.684-0.086-3.372-0.045-5.069c0.145-5.155,2.605-9.754,3.162-14.85
            c0.826-7.483,3.82-14.401,4.711-21.839c0.332-2.762,0.488-5.544,0.553-8.32c0.057-2.954,0.072-5.978,1.008-8.81
            c1.119-3.353,2.842-6.441,4.039-9.759c-0.311,1.326-0.113,2.87-0.158,4.238c-0.072,1.68-0.139,3.371-0.215,5.052
            c-0.139,3.301-0.25,6.616-0.365,9.929c-0.244,7.16-0.34,14.352-0.555,21.523c-0.078,3.262-0.381,6.604-0.035,9.848
            c0.635,0.15,1.334,0.136,1.992,0.274c0.211,3.188-0.791,6.267-0.318,9.491c0.471,3.156,1.416,6.233,1.391,9.447
            c-0.014,3.451-0.492,6.894-0.637,10.338c-0.158,4.351-0.219,8.714-0.291,13.062c-0.117,8.999-2.094,17.814-0.764,26.843
            c0.271,1.856,0.771,3.789,1.846,5.337c0.889,1.259,2.477,2.27,2.697,3.947c0.307,2.291-2.02,4.217-2.104,6.619
            c-0.094,2.696,0.781,5.321,0.77,8.015c-0.02,2.97-0.303,5.924-0.605,8.873c-0.42,4.358-0.697,8.712-0.914,13.084
            c-0.141,2.474-0.258,4.939-0.357,7.396c-0.213,4.409-0.451,8.829-0.494,13.236c-0.045,2.733,0,5.485,0.166,8.232
            c0.158,2.717,0.475,5.444,1.047,8.117c0.516,2.434,1.41,4.741,2.637,6.88c0.354,0.624,1.311,2.73,2.152,2.73
            c-1.547-0.018-2.879,2.614-3.293,3.876c-0.633,2-0.494,4.269,0.072,6.283c0.633,2.31,2.553,4.256,1.992,6.824
            c-1.012,4.681-3.205,8.847-5.254,13.107c-2.393,5.044-4.01,13.541,1.277,17.446c4.682,3.455,11.949,3.337,16.838,0.502
            c2.34-1.385,4.924-3.276,5.932-5.97c1.514-4.084,0.371-9.003,0.955-13.307c0.467-3.521,2.113-5.331,4.559-7.562
            c5.086-4.629,3.854-13.52,1.297-19.196c-1.148-2.536-1.613-4.773-0.475-7.423c1.094-2.561,2.793-4.726,3.512-7.457
            c1.371-5.307,0.889-11.1,0.475-16.501c-0.236-3.183-0.072-6.358-0.072-9.562c-0.014-3.078-0.705-5.976-1.086-9.001
            c-0.383-2.971,0.348-5.481,0.916-8.346c0.635-3.143,0.203-6.015-0.635-9.043c-0.504-1.907-1.127-3.884,0.631-5.239
            c1.465-1.118,2.854-1.536,3.422-3.509c0.773-2.741,0.494-5.948,0.465-8.764c-0.029-3.146-0.189-6.298-0.139-9.443
            c0.068-3.167,0.49-6.257,0.938-9.402c0.441-3.146,0.521-6.297,0.561-9.47c0.043-2.707,0.215-5.358,0.408-8.051
            c0.146-1.927,0.146-3.976,0.977-5.769c0.346-0.789,0.861-1.459,1.389-2.118c0.262,4.584-0.264,9.148-0.021,13.731
            c0.242,4.599,2.131,8.832,2.543,13.38c0.449,4.717-0.523,9.462-0.934,14.143c-0.428,4.786-0.414,9.562-0.068,14.348
            c0.318,4.705,0.193,9.046-0.877,13.661c-1.057,4.639-1.777,9.167-1.936,13.943c-0.311,9.572,0.504,19.077,0.404,28.637
            c-0.061,4.782-0.211,9.613-1.055,14.349c-0.795,4.535-2.271,8.894-3.906,13.17c-1.877,4.864-3.619,9.668-1.402,14.786
            c1.057,2.502,2.898,4.517,4.215,6.866c1.252,2.274,1.76,4.517,1.385,7.092c-0.326,2.138-0.912,4.659,1.031,6.176
            c2.32,1.794,5.273,1.973,8.057,1.87c3.164-0.108,6.256,0.212,9.4,0.192c2.461-0.015,5.758-0.838,6.117-3.872
            c0.182-1.551-0.479-3.043-0.68-4.565c-0.328-2.12,1.17-3.898,1.83-5.788c1.496-4.339,0.9-8.994,0.771-13.521
            c-0.15-5.314,0.68-10.601,1.502-15.839c0.35-2.245,0.699-4.472,1.002-6.729c0.35-2.684,0.662-5.343,0.938-8.039
            c0.354-3.437,1.428-6.767,1.824-10.203c0.354-3.005,0.479-6.051,0.695-9.059c0.314-3.796,1.127-7.527,2.18-11.169
            c1.377-4.797,2.354-9.68,2.939-14.653c0.494-4.205,0.297-8.464,0.633-12.675c0.352-4.601,0.842-9.161,1.34-13.73
            c0.277-2.583,0.566-5.19,0.85-7.781c0.236-2.265,0.465-4.491,0.637-6.77c0.211-2.804,0.389-5.593,0.547-8.388
            c0.158-2.918,0.289-5.852,0.467-8.795c0.113-2.106,0.23-4.211,0.35-6.328c0.336-5.776,0.852-11.629,0.852-17.423
            c0.104-1.984,0.092-4.109,0.439-6.065c0.617-3.501,1.428-6.969,1.668-10.525c0.264-3.7,0.297-7.394,0.572-11.081
            c0.193-2.36-0.605-5.188,0.217-7.441c0.291-0.761,3.52-3.381,4.355-2.912c1.332,0.762,1.555,1.849,1.555,3.313
            c0,1.965,0.061,3.941,0.191,5.911c0.111,1.905,0.289,4.021-0.402,5.893c-0.711,1.906-2.266,3.287-2.813,5.296
            c-0.482,1.71-0.934,3.451-1.404,5.191c-0.717,2.719-1.133,6.174-1.133,9.003c0,1.493-0.408,2.982-0.211,4.476
            c0.303,2.415,2.346,1.362,3.855,0.666c-0.461,0.222-0.311,1.885-0.574,2.324c-0.922,1.472-3.898,0.923-2.418,3.658
            c0.691,1.242,3.053,2.885,4.48,2.665c0.988-0.162,1.852-0.72,2.793-0.993c-0.383,0.098-0.941,1.431-1.139,1.806
            c-0.369,0.681-0.857,1.557-0.066,2.153c1.779,1.309,2.893,0.221,3.965-1.355c0.482-0.721,0.863-1.681,1.568-2.232
            c1.271-0.941,2.721-0.884,3.881-2.141c4.004-4.294,3.441-10.159,3.623-15.608c0.072-2.933,0.348-5.851,0.711-8.749
            c0.164-1.277-0.146-3.088,1.252-3.75c1.402-0.657,3.168,0.424,4.564-0.523c1.805-1.232,1.635-5.898,1.566-7.786
            c-0.072-3.212-0.533-6.406-0.611-9.619c-0.061-3.424,0.072-6.836,0.461-10.23c0.443-3.874,0.541-7.719,0.766-11.623
            c0.211-4.526,0.521-9.083,0.178-13.613c-0.619-7.919-2.404-15.707-3.166-23.62c-0.215-2.156-0.352-4.31-0.479-6.479
            c-0.322-5.48-0.805-10.908-2.32-16.182c-1.908-6.806-4.146-13.482-6.055-20.267c-0.58-2.023-1.17-4.031-1.813-6.033
            c-0.637-1.948-1.334-3.877-2.059-5.786c-0.912-2.333-1.818-4.652-2.604-7.042c-0.617-1.961-1.109-4.02-2.209-5.75
            c-1.195-1.899-3.127-3.03-4.775-4.416c-1.467-1.239-2.732-2.702-4.383-3.666c-1.742-1.007-3.68-1.513-5.537-2.197
            c-3.504-1.312-6.996-2.912-10.189-4.895c-3.465-2.146-6.727-4.88-10.68-6.042c-1.949-0.557-4.123-0.918-5.191-2.966
            c-1.172-2.239,0.219-4.438,1.76-6.034c3.123-3.245,3.441-7.79,3.162-12.123c-0.217-3.582,0.691-7.077,0.73-10.646
            c0.047-6.072-4.648-10.532-9.125-13.627c-1.744-1.186-3.543-2.554-5.604-3.017c-2.398-0.53-4.639,0.461-6.994,0.683
            c-2.342,0.222-4.732,0.236-6.965,1.078c-2.457,0.926-4.1,2.915-5.67,4.999c-1.717,2.279-3.523,4.724-3.934,7.692
            c-0.49,3.576-1.908,7.261,0.104,10.628c0.547,0.914,1.238,1.748,1.555,2.762c0.514,1.606,0.215,3.354,0.764,4.985
            c0.523,1.586,1.41,3.01,2.154,4.486c1.016,1.991,1.611,4.238,3.297,5.771c4.168,3.776-2.9,5.606-4.66,7.719
            c-2.121,2.541-3.82,5.013-6.402,7.089c-1.939,1.54-4.061,2.853-6.271,3.88c-2.307,1.07-4.746,1.704-7.021,2.811
            c-3.18,1.518-6.91,3.837-9.379,6.419c-2.045,2.112-3.344,4.875-4.879,7.385c-1.916,3.147-3.582,6.491-4.85,9.982
            c-0.697,1.932-1.291,3.923-1.748,5.936c-0.504,2.326-0.965,4.667-1.486,6.993c-0.689,2.975-1.336,5.956-2.008,8.925
            c-0.465,2.069-0.898,4.145-1.309,6.234c-0.938,4.783-1.58,9.641-2.404,14.458c-1.057,6.27-2.15,12.511-3.102,18.784
            c-0.348,2.182-0.637,4.379-0.799,6.599c-0.246,3.48,0.029,6.965-0.215,10.452c-0.213,2.926-1.025,5.669-1.627,8.519
            c-0.633,2.963-1.225,5.921-1.557,8.949c-0.453,4.225-0.537,8.493-0.775,12.722c-0.102,2.125-0.211,4.248-0.27,6.36
            c-0.08,2.587-0.164,5.178-0.24,7.762c-0.145,3.733-0.326,7.48-0.574,11.196c-0.131,1.701-0.352,3.435-0.42,5.132
            c-0.068,1.581,0.711,2.979,0.74,4.516c0.033,1.707-0.527,3.364-0.699,5.044c-0.18,1.677-0.209,3.35-0.283,5.026
            c-0.098,2.594-0.131,6.299,2.219,7.966c1.334,0.949,2.65,1.154,2.414,3.169c-0.301,2.442-1.527,5.002-2.307,7.355
            c-0.682,2.117-1.621,4.252-3.863,4.896c-2.564,0.753-4.971,2.062-7.531,2.729c-2.115,0.553-4.328,0.463-6.49,0.599
            c-1.617,0.104-5.969,1.413-5.594-1.677c0.119-1.007,1.133-1.354,1.846-1.831c0.902-0.612,1.652-1.39,2.322-2.226
            c2.813-3.584,4.041-8.511,3.977-13.084c-0.033-1.635-0.066-3.293-0.359-4.911c-0.289-1.537-1.023-2.633-1.592-4.052
            c-0.316-0.78-0.35-1.733,0.666-1.322c1.008,0.399,1.334,1.812,2.535,2.026c0.096-0.075,0.07-0.135,0.016-0.251
            c-1.775-3.753-5.463-4.63-8.648-6.542c0.172,0.094,0.492-1.502,0.479-1.706c-0.117-0.561-0.621-0.965-1.051-1.294
            c-1.195-0.98-2.717-1.583-4.078-2.242c0.512,0.245,3.842,3.582,2.197,3.582c-2.178,0-3.84-2.663-6.041-3.077
            c-1.223-0.231-2.486-0.382-3.729-0.519c-0.492-0.042-0.957-0.104-1.461-0.11c-0.316-0.007-1.574,0.318-1.76,0.187
            c0.875,0.589,2.146,0.512,3.004,1.098c-2.043,0.323-4.203,0.309-6.271,0.61c-3.887,0.569-7.535,2.821-11.152,4.311
            c0.764,0.099,1.977,0.117,2.529,0.66c-0.111-0.111-1.896,3.298-2.006,3.736c-0.354,1.891-0.354,3.757-0.781,5.641
            c-0.467,1.992,0.844,4.557-0.525,6.212c-1.732,2.093-2.182,3.874-1.898,6.623c0.186,1.733-0.283,3.728,0.83,5.211
            c0.574,0.764,2.734,1.874,1.195,2.789c-0.98,0.6-2.414,0.287-3.441,0.792c-2.377,1.099-5.006,3.076-6.939,4.908
            c-1.479,1.446-1.645,3.646-3.053,5.074c-1.332,1.346-3.258,2.669-4.889,3.533c-1.371,0.727-2.965,0.641-4.342,1.305
            c-1.377,0.657-2.121,2.012-3.426,2.774c-2.029,1.204-4.486,1.279-6.721,1.711c-2.227,0.381-4.289,1.292-6.48,1.834
            c-2.547,0.661-4.777,0.145-7.355,0.287c-1.479,0.072-3.166,0.926-4.604,0.212c-0.656-0.334-1.078-1.389-1.492-1.964
            c-0.955-1.269-2.461-2.104-3.445-3.359c-2.398-3.028,1.957-3.488,1.613-6.799c-0.244-2.459-1.613-4.607-2.184-6.967
            c-0.654-2.7-0.773-5.481-1.584-8.113c-0.855-2.769-1.789-5.518-2.801-8.24c-1.58-3.862-3.77-7.493-5.289-11.441
            c-1.674-4.305-3.025-8.729-4.33-13.17c-3.429-11.633-8.002-23.268-19.233-28.843c-2.682-1.319-4.129-4.145-6.942-5.367
            c-2.746-1.204-6.051-1.624-8.959-0.764c-0.145,0.058,0.73-3.616,1.036-4.04c0.884-1.284,2.263-2.2,3.231-3.438
            c5.768-7.386,10.241-22.734,4.238-31.26c-2.309-3.287-4.432-5.329-8.256-6.241c-4.993-1.2-13.328-3.84-17.654,0.54
            c-1.028,1.05-1.74,2.379-2.88,3.393c-3.019,2.723-3.678,4.895-3.794,8.998c-0.217,6.406-1.57,13.338,2.12,19.025
            c1.785,2.761,2.929,5.471,3.338,8.8c-1.944,0.179-3.271,1.695-4.573,3.006c-1.42,1.39-2.895,2.097-4.646,2.96
            c-5.082,2.509-10.556,4.593-14.662,8.719c-4.705,4.752-6.51,11.212-10.388,16.483c-1.58,2.132-3.573,3.886-5.097,6.066
            c-2.304,3.357-5.939,4.719-9.781,4.719c-0.856,0-2.971,0.221-2.559-1.219c0.396-1.378,2.559-0.934,3.578-1.329
            c4.279-1.679,3.332-7.334,3.538-11.013c0.084-1.72,1.249-2.652,2.264-3.807c1.262-1.445,1.893-2.953,2.044-4.897
            c0.453-5.796-2.501-12.065-3.696-17.671c-1.319-6.227-2.277-12.564-2.921-18.904c-0.55-5.616-0.26-11.269-1.023-16.859
            c-0.774-5.646-2.137-11.202-2.846-16.865c-0.817-6.414-0.685-12.932-1.09-19.37c-0.271-4.21-0.535-8.416-0.721-12.626
            c-0.28-6.184-0.693-12.37-1.625-18.493c-1.525-10.022-6.936-20.1-16.679-23.225c-2.735-0.896-5.68-1.264-8.341-2.376
            c-3.656-1.537-3.626-5.852-7.447-7.034c-2.202-0.692,3.363,4.47,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842
            c0.064-1.832,0.527-2.415-0.363-4.757c0.682-2.698-1.597-0.961-2.058-6.206c1.811-2.432,2.63-3.492,3.731-6.551
            c1.378-3.837-0.851-8.48-1.765-12.176c-0.658-2.721-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.558-4.007-8.055
            c-1.487-2.276-2.811-4.736-4.819-6.578c-3.185-2.898-7.806-3.29-11.839-2.99c-3.792,0.278-8.976,0.113-12.172,2.541
            c-1.461,1.112-1.948,2.908-2.974,4.379c-1.194,1.711-3.096,2.802-4.022,4.729c-1.082,2.252-0.492,4.938-1.564,7.186
            c-1.74,3.666-4.039,6.268-4.62,10.452c-0.609,4.571,0.253,9.237,0.836,13.752c0.341,2.694,0.145,5.964,1.426,8.407
            c1.029,1.983,0.135,1.54-0.512,5.529c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.646-6.401,3.851
            c-7.765,0.579-16.378,3.996-20.258,11.416c-1.64,3.148-2.587,6.671-3.636,10.065c-1.068,3.501-2.031,7.057-2.429,10.716
            c-0.876,8.146-1.632,16.28-2.583,24.425c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.975-1.339,15.795-2.297,23.722
            c-0.261,2.196-0.493,4.389-0.671,6.599c-0.314,4.007-0.089,7.994-0.089,12.007c0,3.532,0,7.033,0.089,10.555
            c0.151,6.242-1.016,12.384-2.365,18.464c-0.341,1.52-0.665,3.191-0.328,4.751C170.135,259.464,170.177,259.588,170.202,259.722z
             M477.422,418.467c0.158-1.755,1.248-3.673,2.389-1.158c0.988,2.179,0.947,5.077,1.018,7.435
            c0.094,2.672,0.105,5.407-0.145,8.058c-0.029,0.224-0.057,0.426-0.086,0.645c-0.322,2.117-1.098,4.405-0.311,6.435
            c-0.773-2.029-1.996-3.871-2.598-5.976c-0.65-2.269,0-4.543-0.176-6.873C477.311,424.182,477.166,421.311,477.422,418.467z
             M227.047,378.06c0.697-10.484,0.337-20.988,0.379-31.5c0.025-7.997-2.297-18.05,3.396-24.635
            c0.911,6.723,0.502,13.669,0.268,20.461c-0.174,5.003,1.068,9.867,1.886,14.746c0.809,4.776,0.754,9.28,0.356,14.108
            c-0.439,5.496-0.903,11.014-1.366,16.515c-0.391,4.665,0.061,44.661-6.736,43.93
            C220.332,425.949,226.582,385.219,227.047,378.06z"/>
        </defs>
        <clipPath id="SVGID_3_">
          <use xlink:href="#SVGID_2_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_3_)" fill="#61B152" d="M156.414,136.139c0,0,32.042-14.033,71.676-5.263
          c39.632,8.771,57.649,3.88,84.056-2.884c26.407-6.763,121.69-9.023,149.518,0c27.828,9.024,105.127-8.932,131.545-19.92
          c26.418-10.988,84.039,0,100.346,14.033v369.254c0,0-537.562,3.948-541.356,0C148.405,487.414,156.414,136.139,156.414,136.139z"
          />
      </g>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_5_" d="M213.571,96.088c0,0-0.013-0.014-0.013,0C213.561,96.197,213.568,96.169,213.571,96.088z
             M170.202,259.722c0.426,1.396,1.419,2.391,1.991,3.726c0.529,1.235,0.384,2.561,0.425,3.874c0.068,1.748,0.104,3.5,0.345,5.232
            c0.37,2.706,1.056,5.407,2.362,7.806c0.611,1.123,1.249,2.351,2.204,3.207c1.407,1.273,4.87,2.069,6.688,1.828
            c2.344-0.323,1.102-1.675,0.226-2.905c-1.09-1.561-0.995-3.708-2.826-4.638c-4.062-2.084-4.432-10.725-0.279-12.791
            c1.126-0.555,2.833-0.433,3.82-1.081c2.456-1.598,1.229-6.014,0.651-8.3c-0.876-3.377-0.596-6.558,0.102-9.942
            c0.92-4.517,1.612-9.018,2.36-13.575c1.215-7.4,2.887-14.679,4.828-21.914l2.4-9.28c-0.553,2.113-0.637,4.467-0.953,6.628
            c-0.321,2.276-0.638,4.557-0.952,6.834c-0.371,2.582-1.281,5.028-2.07,7.502c-0.817,2.564-1.188,5.111-1.64,7.771
            c-0.266,1.604-0.65,3.207-0.493,4.851c0.142,1.505,1.449,2.222,1.397,3.84c-0.055,1.509-0.348,2.982-0.465,4.459
            c-0.166,2.118-0.347,4.233-0.385,6.36c-0.101,4.115,0.667,8.102,0.975,12.182c0.467,6.01-0.331,12.582,1.394,18.386
            c0.512,1.748,1.089,3.435,1.732,5.178c0.76,2.037,0.584,4.446,0.701,6.593c0.295,5.407,0.625,10.806,0.547,16.24
            c-0.054,4.005-0.356,7.976-0.496,11.958c-0.15,4.168-0.121,8.306,0.071,12.474c0.105,2.416,0.212,4.872,0.105,7.295
            c-0.167,3.998-1.209,7.831-1.499,11.806c-0.308,4.02-0.32,8.045-0.412,12.07c-0.185,8.802-0.278,17.614-0.239,26.435
            c0.026,1.861,0.091,3.733,0.091,5.627c0.082,3.069-1.095,9.004,2.456,10.565c0.268,0.109,3.347,0.803,3.414,0.583
            c-0.984,3.077-1.5,6.344-1.346,9.571c0.078,1.563,0.337,3.136,0.853,4.619c0.532,1.479,1.515,2.736,1.978,4.255
            c0.466,1.538,0.466,3.149,0.533,4.714c0.212,4.461,1.179,8.947,2.114,13.287c0.911,4.156,1.706,8.253,3.419,12.136
            c1.3,2.939,2.834,4.882,5.867,5.846c3.622,1.171,7.394,1.237,10.772-0.732c2.292-1.343,4.5-3.063,5.09-5.859
            c0.535-2.56,0.04-5.42-0.652-7.895c-0.506-1.805-1.169-3.565-1.938-5.247c-1.024-2.238-2.099-4.779-2.602-7.213
            c-0.55-2.566,1.785-2.206,3.451-2.542c1.22-0.255,3.901-1.158,4.577,0.537c0.771,1.906-0.267,5.044-0.431,7.083
            c-0.112,1.415-0.22,2.854-0.339,4.269c-0.041,0.512-0.637,4.042-0.341,4.287l0.92,0.718c0.44,0.354,0.241,3.379,0.28,4.04
            c0.071,1.179,0.132,2.401,0.357,3.567c0.857,4.341,4.382,5.485,8.229,5.473c3.479-0.045,7.952,1.825,10.632-1.461
            c1.815-2.244,2.083-5.142,2.111-7.952c1.487-0.303,2.984-0.072,4.499-0.15c1.021-0.03,1.426-0.059,1.646-1.107
            c0.824-4.272,1.195-8.841,0.73-13.179c-0.308-2.875-0.915-5.757-0.773-8.683c0.227-4.2,1.134-8.318,1.707-12.488
            c0.537-3.834,1.311-7.613,1.887-11.438c0.338-2.259,0.608-4.499,0.748-6.771c0.173-2.854,0.198-5.725,0.198-8.563
            c0.067-3.421,0.253-6.822,0.318-10.229c0.081-5.495-0.139-11.009-0.139-16.501c0.007-3.156,0.07-6.347,0.231-9.503
            c0.132-2.433,0.352-4.876,0.729-7.271c0.347-2.214,0.784-4.405,1.167-6.619c1.28-7.105,1.321-14.401,2.563-21.527
            c0.37-2.106,0.81-4.169,1.221-6.253c1.577-7.886,2.866-15.845,4.36-23.754c0.577-3.012,1.16-6.06,1.719-9.074
            c0.83-4.487,0.743-9.133,1.758-13.559c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.415-0.637-10.89-0.077-16.337
            c0.239-2.354,1.315-3.917,2.378-5.921c1.316-2.504,0.268-5.045,1.141-7.585c-0.377,1.854,0.226,3.846,0.267,5.729
            c0.056,2.252,0.078,4.494,0.107,6.747c0.131,6.044,0.079,12.088-0.007,18.134c-0.014,0.803-0.021,1.619-0.033,2.417l3.08,0.362
            l3.785,0.715l3.305,0.479c-0.922-0.13-1.779,4.751-2.335,5.347c-1.261,1.402-3.257-0.201-4.638-0.51
            c-2.859-0.653-2.948,3.056-4.121,4.75c-0.811,1.203-2.06,2.863-1.909,4.433c0.13,1.426,1.433,1.604,2.495,2.032
            c-1.248,1.806-1.126,3.019,0.466,4.681c0.995,1.02,2.07,1.975,3.382,2.523c1.535,0.66,3.544-0.289,4.472,1.52
            c0.952,1.824,0.864,4.16,1.715,6.064c0.728,1.645,1.713,3.15,3.318,3.989c1.886,0.979,4.116,0.907,6.105,1.502
            c3.009,0.891,6.198,1.26,9.292,0.624c1.652-0.327,3.305-1.095,4.634-2.174c1.989-1.641,2.841-3.986,3.835-6.323
            c1.089-2.537,2.668-4.398,4.526-6.347c1.222-1.295,2.319-2.746,3.065-4.392c0.79-1.741,0.864-3.495,1.182-5.337
            c0.351-2.016,0.795-4.01,1.008-6.053c0.267,7.231,1.673,14.516,0.443,21.729c-0.458,2.747-1.368,5.428-2.528,7.957
            c-1.05,2.301-2.361,4.508-2.881,7.053c-0.516,2.566-0.268,5.335,0.283,7.888c1.036,4.747,3.621,8.883,5.006,13.53
            c0.496,1.682,0.815,3.422,0.87,5.184c0.055,1.604-0.041,3.214,0.502,4.752c0.474,1.33,1.406,2.378,1.977,3.646
            c0.584,1.271,0.836,2.731,0.984,4.146c0.352,3.107,0.174,6.313,1.394,9.208c0.769,1.806,1.721,3.562,2.135,5.485
            c0.811,3.658,0.206,7.915,0.347,11.643c0.167,4.607,0.467,9.195,0.702,13.801c0.122,2.335,0.199,4.673,0.228,6.989
            c0.04,4.66,0.02,9.332,0.623,13.965c0.878,6.708,4.17,12.868,1.527,19.651c-0.836,2.167-1.207,4.407-0.889,6.723
            c0.502,3.694,1.527,7.25,1.884,10.95c0.294,2.998,0.599,5.775,2.578,8.154c1.056,1.244-0.253,2.515-1.407,3.083
            c-0.917,0.453-1.946,0.597-2.311,1.728c-0.352,1.095,0.272,2.309,1.016,3.09c1.858,1.932,5.632,2.563,8.108,2.892
            c1.639,0.239,3.75,0.369,5.295-0.363c0.708-0.362,1.201-0.885,1.56-1.618c0.095-0.205,0.835-2.178,0.697-2.267
            c0.816,0.451,1.097,0.59,1.495,1.466c0.219,0.501,0.547,0.814,0.988,1.076c1.916,1.056,4.684,0.662,6.775,0.548
            c2.598-0.149,5.13-0.952,5.576-3.967c0.397-2.666-0.557-5.353-0.412-8.038c0.146-2.871,1.382-5.394,1.207-8.346
            c-0.206-3.448,1.347-7.093,0.246-10.472c-0.914-2.85-2.489-5.48-1.784-8.619c0.77-3.382,2.709-6.34,3.649-9.641
            c1.207-4.222,0.479-8.643,1.515-12.848c0.638-2.591,1.9-4.995,2.583-7.594c0.665-2.549,0.631-5.132,0.897-7.722
            c0.408-4.001,1.619-7.846,2.787-11.655c2.041-6.688,3.571-13.753,4.127-20.75c0.167-1.89,0.254-3.81,0.228-5.714
            c-0.015-4.599-0.759-9.34-2.115-13.712c-0.595-1.891-1.92-3.98-1.443-6.052c0.519-2.253,3.131-1.485,4.354-2.85
            c1.113-1.262,0.731-3.434,0.607-4.953c-0.25-3.022,0.074-6.065-0.306-9.079c-0.479-3.662-1.335-7.09-2.295-10.648
            c0.357,1.285,1.314,2.679,1.898,3.875c0.634,1.314,1.288,2.617,2.016,3.874c1.451,2.454,3.145,4.75,4.527,7.251
            c1.673,2.994,3.862,5.817,5.15,8.988c0.191,0.483,0.728,5.025,0.438,4.94c1.29,0.314,2.323,0.113,2.19,1.651
            c-0.125,1.268-0.158,2.559-0.17,3.862c-0.021,3.021,0.303,6.184,0.617,9.176c0.219,2.047,0.91,4.313,3.242,4.457
            c1.588,0.099,3.215,0.264,4.793,0.013c1.498-0.222,2.77-1.677,4.219-1.78c0.426-0.038,1.488,1.658,1.902,1.938
            c1.885,1.259,4.84,0.411,6.768-0.348c2.006-0.76,3.779,0.686,5.66,1.146c2.508,0.634,5.545-0.027,8.141-0.21
            c4.514-0.236,11.332,0.138,14.883-3.364c0.582-0.569,1.811-2.724,2.852-2.148c1.035,0.574-0.014,2.639-0.197,3.437
            c-0.504,2.05,0.891,3.412,1.027,5.428c0.146,1.825-0.844,3.495-1.191,5.257c-0.346,1.557,0.145,3.045,0.469,4.593
            c0.348,1.573,0.348,3.119,0,4.707c-0.33,1.48-0.732,3.379,0.914,4.186c-0.072-0.035-1.652,8.855-1.771,9.606
            c-0.098,0.591-0.229,1.185-0.281,1.796c-0.367,3.813-0.455,7.676-0.055,11.478c0.211,2.278,0.633,4.569,1.01,6.821
            c0.621,4.025,1.34,8.037,2.061,12.063c1.357,7.792,2.355,15.713,3.012,23.606c0.25,3.084,0.49,6.236,0.264,9.348
            c-0.215,2.795-1.141,5.48-1.352,8.263c-0.107,1.371,0.35,2.694,1.635,3.331c1.752,0.89,2.377,1.452,1.555,3.532
            c-0.844,2.128-1.199,4.279,1.602,4.801c3.57,0.672,7.674,1.075,11.285,0.5c3.662-0.575,1.297-4.16,2.135-6.428
            c0.553-1.418,2.219-1.452,3.373-1.013c1.34,0.51,2.166,1.604,2.166,3.117c-0.012,5.302,7.873,4.804,10.949,2.774
            c1.93-1.271,2.01-3.574,2.746-5.597c0.535-1.391,1.621-2.46,2.059-3.876c0.52-1.61,0.262-3.412,0.158-5.054
            c-0.145-2.179-0.451-4.289-0.855-6.421c-0.932-4.95-1.971-10.139-1.146-15.191c0.523-3.313,0.656-6.684,0.596-10.027
            c-0.07-3.091-0.553-6.269-0.025-9.329c0.408-2.368,1.564-4.494,2.029-6.852c0.529-2.784,0.139-5.609,0.354-8.405
            c0.158-2.015,0.721-3.94,1.215-5.903c0.408-1.579,0.566-3.437,1.334-4.882c1.139-2.128,3.627-2.697,4.342-5.19
            c0.729-2.549,0.068-5.219,0.127-7.791c0.061-2.117,0.943-4.043,1.582-6.003c1.607-4.769,2.068-9.353,0.959-14.32
            c-0.748-3.351-1.814-6.872-0.662-10.27c0.547-1.623,1.846-2.702,3.018-3.791c1.008-0.954,1.707-2.245,2.725-3.146
            c0.965-0.878,2.303-0.85,3.494-0.987c2.561-0.33,4.15-2.048,5.975-3.788c2.168-2.104,5.746-1.584,7.518-4.091
            c1.156-1.658,1.51-3.751,1.76-5.735c0.164-1.281,0.225-2.563,0.33-3.844c0.309-3.728,0.322-7.637,0.875-11.307
            c0.23-1.495,1.971-1.124,2.182-2.666c0.264-1.831-1.195-3.729-0.244-5.483c0.018-0.053,1.957-0.03,2.188-0.103
            c3.111-0.958,0.738-4.6,0.205-6.515c-0.777-2.862-0.791-5.557-0.115-8.455c0.332-1.344,0.609-1.454,1.9-1.919
            c0.371-0.329-0.072-3.595-0.08-4.097c-0.033-1.684-0.086-3.372-0.045-5.069c0.145-5.155,2.605-9.754,3.162-14.85
            c0.826-7.483,3.82-14.401,4.711-21.839c0.332-2.762,0.488-5.544,0.553-8.32c0.057-2.954,0.072-5.978,1.008-8.81
            c1.119-3.353,2.842-6.441,4.039-9.759c-0.311,1.326-0.113,2.87-0.158,4.238c-0.072,1.68-0.139,3.371-0.215,5.052
            c-0.139,3.301-0.25,6.616-0.365,9.929c-0.244,7.16-0.34,14.352-0.555,21.523c-0.078,3.262-0.381,6.604-0.035,9.848
            c0.635,0.15,1.334,0.136,1.992,0.274c0.211,3.188-0.791,6.267-0.318,9.491c0.471,3.156,1.416,6.233,1.391,9.447
            c-0.014,3.451-0.492,6.894-0.637,10.338c-0.158,4.351-0.219,8.714-0.291,13.062c-0.117,8.999-2.094,17.814-0.764,26.843
            c0.271,1.856,0.771,3.789,1.846,5.337c0.889,1.259,2.477,2.27,2.697,3.947c0.307,2.291-2.02,4.217-2.104,6.619
            c-0.094,2.696,0.781,5.321,0.77,8.015c-0.02,2.97-0.303,5.924-0.605,8.873c-0.42,4.358-0.697,8.712-0.914,13.084
            c-0.141,2.474-0.258,4.939-0.357,7.396c-0.213,4.409-0.451,8.829-0.494,13.236c-0.045,2.733,0,5.485,0.166,8.232
            c0.158,2.717,0.475,5.444,1.047,8.117c0.516,2.434,1.41,4.741,2.637,6.88c0.354,0.624,1.311,2.73,2.152,2.73
            c-1.547-0.018-2.879,2.614-3.293,3.876c-0.633,2-0.494,4.269,0.072,6.283c0.633,2.31,2.553,4.256,1.992,6.824
            c-1.012,4.681-3.205,8.847-5.254,13.107c-2.393,5.044-4.01,13.541,1.277,17.446c4.682,3.455,11.949,3.337,16.838,0.502
            c2.34-1.385,4.924-3.276,5.932-5.97c1.514-4.084,0.371-9.003,0.955-13.307c0.467-3.521,2.113-5.331,4.559-7.562
            c5.086-4.629,3.854-13.52,1.297-19.196c-1.148-2.536-1.613-4.773-0.475-7.423c1.094-2.561,2.793-4.726,3.512-7.457
            c1.371-5.307,0.889-11.1,0.475-16.501c-0.236-3.183-0.072-6.358-0.072-9.562c-0.014-3.078-0.705-5.976-1.086-9.001
            c-0.383-2.971,0.348-5.481,0.916-8.346c0.635-3.143,0.203-6.015-0.635-9.043c-0.504-1.907-1.127-3.884,0.631-5.239
            c1.465-1.118,2.854-1.536,3.422-3.509c0.773-2.741,0.494-5.948,0.465-8.764c-0.029-3.146-0.189-6.298-0.139-9.443
            c0.068-3.167,0.49-6.257,0.938-9.402c0.441-3.146,0.521-6.297,0.561-9.47c0.043-2.707,0.215-5.358,0.408-8.051
            c0.146-1.927,0.146-3.976,0.977-5.769c0.346-0.789,0.861-1.459,1.389-2.118c0.262,4.584-0.264,9.148-0.021,13.731
            c0.242,4.599,2.131,8.832,2.543,13.38c0.449,4.717-0.523,9.462-0.934,14.143c-0.428,4.786-0.414,9.562-0.068,14.348
            c0.318,4.705,0.193,9.046-0.877,13.661c-1.057,4.639-1.777,9.167-1.936,13.943c-0.311,9.572,0.504,19.077,0.404,28.637
            c-0.061,4.782-0.211,9.613-1.055,14.349c-0.795,4.535-2.271,8.894-3.906,13.17c-1.877,4.864-3.619,9.668-1.402,14.786
            c1.057,2.502,2.898,4.517,4.215,6.866c1.252,2.274,1.76,4.517,1.385,7.092c-0.326,2.138-0.912,4.659,1.031,6.176
            c2.32,1.794,5.273,1.973,8.057,1.87c3.164-0.108,6.256,0.212,9.4,0.192c2.461-0.015,5.758-0.838,6.117-3.872
            c0.182-1.551-0.479-3.043-0.68-4.565c-0.328-2.12,1.17-3.898,1.83-5.788c1.496-4.339,0.9-8.994,0.771-13.521
            c-0.15-5.314,0.68-10.601,1.502-15.839c0.35-2.245,0.699-4.472,1.002-6.729c0.35-2.684,0.662-5.343,0.938-8.039
            c0.354-3.437,1.428-6.767,1.824-10.203c0.354-3.005,0.479-6.051,0.695-9.059c0.314-3.796,1.127-7.527,2.18-11.169
            c1.377-4.797,2.354-9.68,2.939-14.653c0.494-4.205,0.297-8.464,0.633-12.675c0.352-4.601,0.842-9.161,1.34-13.73
            c0.277-2.583,0.566-5.19,0.85-7.781c0.236-2.265,0.465-4.491,0.637-6.77c0.211-2.804,0.389-5.593,0.547-8.388
            c0.158-2.918,0.289-5.852,0.467-8.795c0.113-2.106,0.23-4.211,0.35-6.328c0.336-5.776,0.852-11.629,0.852-17.423
            c0.104-1.984,0.092-4.109,0.439-6.065c0.617-3.501,1.428-6.969,1.668-10.525c0.264-3.7,0.297-7.394,0.572-11.081
            c0.193-2.36-0.605-5.188,0.217-7.441c0.291-0.761,3.52-3.381,4.355-2.912c1.332,0.762,1.555,1.849,1.555,3.313
            c0,1.965,0.061,3.941,0.191,5.911c0.111,1.905,0.289,4.021-0.402,5.893c-0.711,1.906-2.266,3.287-2.813,5.296
            c-0.482,1.71-0.934,3.451-1.404,5.191c-0.717,2.719-1.133,6.174-1.133,9.003c0,1.493-0.408,2.982-0.211,4.476
            c0.303,2.415,2.346,1.362,3.855,0.666c-0.461,0.222-0.311,1.885-0.574,2.324c-0.922,1.472-3.898,0.923-2.418,3.658
            c0.691,1.242,3.053,2.885,4.48,2.665c0.988-0.162,1.852-0.72,2.793-0.993c-0.383,0.098-0.941,1.431-1.139,1.806
            c-0.369,0.681-0.857,1.557-0.066,2.153c1.779,1.309,2.893,0.221,3.965-1.355c0.482-0.721,0.863-1.681,1.568-2.232
            c1.271-0.941,2.721-0.884,3.881-2.141c4.004-4.294,3.441-10.159,3.623-15.608c0.072-2.933,0.348-5.851,0.711-8.749
            c0.164-1.277-0.146-3.088,1.252-3.75c1.402-0.657,3.168,0.424,4.564-0.523c1.805-1.232,1.635-5.898,1.566-7.786
            c-0.072-3.212-0.533-6.406-0.611-9.619c-0.061-3.424,0.072-6.836,0.461-10.23c0.443-3.874,0.541-7.719,0.766-11.623
            c0.211-4.526,0.521-9.083,0.178-13.613c-0.619-7.919-2.404-15.707-3.166-23.62c-0.215-2.156-0.352-4.31-0.479-6.479
            c-0.322-5.48-0.805-10.908-2.32-16.182c-1.908-6.806-4.146-13.482-6.055-20.267c-0.58-2.023-1.17-4.031-1.813-6.033
            c-0.637-1.948-1.334-3.877-2.059-5.786c-0.912-2.333-1.818-4.652-2.604-7.042c-0.617-1.961-1.109-4.02-2.209-5.75
            c-1.195-1.899-3.127-3.03-4.775-4.416c-1.467-1.239-2.732-2.702-4.383-3.666c-1.742-1.007-3.68-1.513-5.537-2.197
            c-3.504-1.312-6.996-2.912-10.189-4.895c-3.465-2.146-6.727-4.88-10.68-6.042c-1.949-0.557-4.123-0.918-5.191-2.966
            c-1.172-2.239,0.219-4.438,1.76-6.034c3.123-3.245,3.441-7.79,3.162-12.123c-0.217-3.582,0.691-7.077,0.73-10.646
            c0.047-6.072-4.648-10.532-9.125-13.627c-1.744-1.186-3.543-2.554-5.604-3.017c-2.398-0.53-4.639,0.461-6.994,0.683
            c-2.342,0.222-4.732,0.236-6.965,1.078c-2.457,0.926-4.1,2.915-5.67,4.999c-1.717,2.279-3.523,4.724-3.934,7.692
            c-0.49,3.576-1.908,7.261,0.104,10.628c0.547,0.914,1.238,1.748,1.555,2.762c0.514,1.606,0.215,3.354,0.764,4.985
            c0.523,1.586,1.41,3.01,2.154,4.486c1.016,1.991,1.611,4.238,3.297,5.771c4.168,3.776-2.9,5.606-4.66,7.719
            c-2.121,2.541-3.82,5.013-6.402,7.089c-1.939,1.54-4.061,2.853-6.271,3.88c-2.307,1.07-4.746,1.704-7.021,2.811
            c-3.18,1.518-6.91,3.837-9.379,6.419c-2.045,2.112-3.344,4.875-4.879,7.385c-1.916,3.147-3.582,6.491-4.85,9.982
            c-0.697,1.932-1.291,3.923-1.748,5.936c-0.504,2.326-0.965,4.667-1.486,6.993c-0.689,2.975-1.336,5.956-2.008,8.925
            c-0.465,2.069-0.898,4.145-1.309,6.234c-0.938,4.783-1.58,9.641-2.404,14.458c-1.057,6.27-2.15,12.511-3.102,18.784
            c-0.348,2.182-0.637,4.379-0.799,6.599c-0.246,3.48,0.029,6.965-0.215,10.452c-0.213,2.926-1.025,5.669-1.627,8.519
            c-0.633,2.963-1.225,5.921-1.557,8.949c-0.453,4.225-0.537,8.493-0.775,12.722c-0.102,2.125-0.211,4.248-0.27,6.36
            c-0.08,2.587-0.164,5.178-0.24,7.762c-0.145,3.733-0.326,7.48-0.574,11.196c-0.131,1.701-0.352,3.435-0.42,5.132
            c-0.068,1.581,0.711,2.979,0.74,4.516c0.033,1.707-0.527,3.364-0.699,5.044c-0.18,1.677-0.209,3.35-0.283,5.026
            c-0.098,2.594-0.131,6.299,2.219,7.966c1.334,0.949,2.65,1.154,2.414,3.169c-0.301,2.442-1.527,5.002-2.307,7.355
            c-0.682,2.117-1.621,4.252-3.863,4.896c-2.564,0.753-4.971,2.062-7.531,2.729c-2.115,0.553-4.328,0.463-6.49,0.599
            c-1.617,0.104-5.969,1.413-5.594-1.677c0.119-1.007,1.133-1.354,1.846-1.831c0.902-0.612,1.652-1.39,2.322-2.226
            c2.813-3.584,4.041-8.511,3.977-13.084c-0.033-1.635-0.066-3.293-0.359-4.911c-0.289-1.537-1.023-2.633-1.592-4.052
            c-0.316-0.78-0.35-1.733,0.666-1.322c1.008,0.399,1.334,1.812,2.535,2.026c0.096-0.075,0.07-0.135,0.016-0.251
            c-1.775-3.753-5.463-4.63-8.648-6.542c0.172,0.094,0.492-1.502,0.479-1.706c-0.117-0.561-0.621-0.965-1.051-1.294
            c-1.195-0.98-2.717-1.583-4.078-2.242c0.512,0.245,3.842,3.582,2.197,3.582c-2.178,0-3.84-2.663-6.041-3.077
            c-1.223-0.231-2.486-0.382-3.729-0.519c-0.492-0.042-0.957-0.104-1.461-0.11c-0.316-0.007-1.574,0.318-1.76,0.187
            c0.875,0.589,2.146,0.512,3.004,1.098c-2.043,0.323-4.203,0.309-6.271,0.61c-3.887,0.569-7.535,2.821-11.152,4.311
            c0.764,0.099,1.977,0.117,2.529,0.66c-0.111-0.111-1.896,3.298-2.006,3.736c-0.354,1.891-0.354,3.757-0.781,5.641
            c-0.467,1.992,0.844,4.557-0.525,6.212c-1.732,2.093-2.182,3.874-1.898,6.623c0.186,1.733-0.283,3.728,0.83,5.211
            c0.574,0.764,2.734,1.874,1.195,2.789c-0.98,0.6-2.414,0.287-3.441,0.792c-2.377,1.099-5.006,3.076-6.939,4.908
            c-1.479,1.446-1.645,3.646-3.053,5.074c-1.332,1.346-3.258,2.669-4.889,3.533c-1.371,0.727-2.965,0.641-4.342,1.305
            c-1.377,0.657-2.121,2.012-3.426,2.774c-2.029,1.204-4.486,1.279-6.721,1.711c-2.227,0.381-4.289,1.292-6.48,1.834
            c-2.547,0.661-4.777,0.145-7.355,0.287c-1.479,0.072-3.166,0.926-4.604,0.212c-0.656-0.334-1.078-1.389-1.492-1.964
            c-0.955-1.269-2.461-2.104-3.445-3.359c-2.398-3.028,1.957-3.488,1.613-6.799c-0.244-2.459-1.613-4.607-2.184-6.967
            c-0.654-2.7-0.773-5.481-1.584-8.113c-0.855-2.769-1.789-5.518-2.801-8.24c-1.58-3.862-3.77-7.493-5.289-11.441
            c-1.674-4.305-3.025-8.729-4.33-13.17c-3.429-11.633-8.002-23.268-19.233-28.843c-2.682-1.319-4.129-4.145-6.942-5.367
            c-2.746-1.204-6.051-1.624-8.959-0.764c-0.145,0.058,0.73-3.616,1.036-4.04c0.884-1.284,2.263-2.2,3.231-3.438
            c5.768-7.386,10.241-22.734,4.238-31.26c-2.309-3.287-4.432-5.329-8.256-6.241c-4.993-1.2-13.328-3.84-17.654,0.54
            c-1.028,1.05-1.74,2.379-2.88,3.393c-3.019,2.723-3.678,4.895-3.794,8.998c-0.217,6.406-1.57,13.338,2.12,19.025
            c1.785,2.761,2.929,5.471,3.338,8.8c-1.944,0.179-3.271,1.695-4.573,3.006c-1.42,1.39-2.895,2.097-4.646,2.96
            c-5.082,2.509-10.556,4.593-14.662,8.719c-4.705,4.752-6.51,11.212-10.388,16.483c-1.58,2.132-3.573,3.886-5.097,6.066
            c-2.304,3.357-5.939,4.719-9.781,4.719c-0.856,0-2.971,0.221-2.559-1.219c0.396-1.378,2.559-0.934,3.578-1.329
            c4.279-1.679,3.332-7.334,3.538-11.013c0.084-1.72,1.249-2.652,2.264-3.807c1.262-1.445,1.893-2.953,2.044-4.897
            c0.453-5.796-2.501-12.065-3.696-17.671c-1.319-6.227-2.277-12.564-2.921-18.904c-0.55-5.616-0.26-11.269-1.023-16.859
            c-0.774-5.646-2.137-11.202-2.846-16.865c-0.817-6.414-0.685-12.932-1.09-19.37c-0.271-4.21-0.535-8.416-0.721-12.626
            c-0.28-6.184-0.693-12.37-1.625-18.493c-1.525-10.022-6.936-20.1-16.679-23.225c-2.735-0.896-5.68-1.264-8.341-2.376
            c-3.656-1.537-3.626-5.852-7.447-7.034c-2.202-0.692,3.363,4.47,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842
            c0.064-1.832,0.527-2.415-0.363-4.757c0.682-2.698-1.597-0.961-2.058-6.206c1.811-2.432,2.63-3.492,3.731-6.551
            c1.378-3.837-0.851-8.48-1.765-12.176c-0.658-2.721-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.558-4.007-8.055
            c-1.487-2.276-2.811-4.736-4.819-6.578c-3.185-2.898-7.806-3.29-11.839-2.99c-3.792,0.278-8.976,0.113-12.172,2.541
            c-1.461,1.112-1.948,2.908-2.974,4.379c-1.194,1.711-3.096,2.802-4.022,4.729c-1.082,2.252-0.492,4.938-1.564,7.186
            c-1.74,3.666-4.039,6.268-4.62,10.452c-0.609,4.571,0.253,9.237,0.836,13.752c0.341,2.694,0.145,5.964,1.426,8.407
            c1.029,1.983,0.135,1.54-0.512,5.529c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.646-6.401,3.851
            c-7.765,0.579-16.378,3.996-20.258,11.416c-1.64,3.148-2.587,6.671-3.636,10.065c-1.068,3.501-2.031,7.057-2.429,10.716
            c-0.876,8.146-1.632,16.28-2.583,24.425c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.975-1.339,15.795-2.297,23.722
            c-0.261,2.196-0.493,4.389-0.671,6.599c-0.314,4.007-0.089,7.994-0.089,12.007c0,3.532,0,7.033,0.089,10.555
            c0.151,6.242-1.016,12.384-2.365,18.464c-0.341,1.52-0.665,3.191-0.328,4.751C170.135,259.464,170.177,259.588,170.202,259.722z
             M477.422,418.467c0.158-1.755,1.248-3.673,2.389-1.158c0.988,2.179,0.947,5.077,1.018,7.435
            c0.094,2.672,0.105,5.407-0.145,8.058c-0.029,0.224-0.057,0.426-0.086,0.645c-0.322,2.117-1.098,4.405-0.311,6.435
            c-0.773-2.029-1.996-3.871-2.598-5.976c-0.65-2.269,0-4.543-0.176-6.873C477.311,424.182,477.166,421.311,477.422,418.467z
             M227.047,378.06c0.697-10.484,0.337-20.988,0.379-31.5c0.025-7.997-2.297-18.05,3.396-24.635
            c0.911,6.723,0.502,13.669,0.268,20.461c-0.174,5.003,1.068,9.867,1.886,14.746c0.809,4.776,0.754,9.28,0.356,14.108
            c-0.439,5.496-0.903,11.014-1.366,16.515c-0.391,4.665,0.061,44.661-6.736,43.93
            C220.332,425.949,226.582,385.219,227.047,378.06z"/>
        </defs>
        <clipPath id="SVGID_6_">
          <use xlink:href="#SVGID_5_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_6_)" fill="#62C555" d="M156.414,143.156c0,0,32.042-14.033,71.676-5.264
          c39.632,8.771,57.649,3.881,84.056-2.884c26.407-6.763,121.69-9.023,149.518,0c27.828,9.024,105.127-8.932,131.545-19.92
          c26.418-10.988,84.039,0,100.346,14.034v369.255c0,0-537.562,3.947-541.356,0C148.405,494.431,156.414,143.156,156.414,143.156z"
          />
      </g>
      <g>
        <path id="SVGID_4_" fill="none" stroke="#62C555" stroke-width="0.5" stroke-miterlimit="10" d="M213.571,96.088
          c0,0-0.013-0.014-0.013,0C213.561,96.197,213.568,96.169,213.571,96.088z M170.202,259.722c0.426,1.396,1.419,2.391,1.991,3.726
          c0.529,1.235,0.384,2.561,0.425,3.874c0.068,1.748,0.104,3.5,0.345,5.232c0.37,2.706,1.056,5.407,2.362,7.806
          c0.611,1.123,1.249,2.351,2.204,3.207c1.407,1.273,4.87,2.069,6.688,1.828c2.344-0.323,1.102-1.675,0.226-2.905
          c-1.09-1.561-0.995-3.708-2.826-4.638c-4.062-2.084-4.432-10.725-0.279-12.791c1.126-0.555,2.833-0.433,3.82-1.081
          c2.456-1.598,1.229-6.014,0.651-8.3c-0.876-3.377-0.596-6.558,0.102-9.942c0.92-4.517,1.612-9.018,2.36-13.575
          c1.215-7.4,2.887-14.679,4.828-21.914l2.4-9.28c-0.553,2.113-0.637,4.467-0.953,6.628c-0.321,2.276-0.638,4.557-0.952,6.834
          c-0.371,2.582-1.281,5.028-2.07,7.502c-0.817,2.564-1.188,5.111-1.64,7.771c-0.266,1.604-0.65,3.207-0.493,4.851
          c0.142,1.505,1.449,2.222,1.397,3.84c-0.055,1.509-0.348,2.982-0.465,4.459c-0.166,2.118-0.347,4.233-0.385,6.36
          c-0.101,4.115,0.667,8.102,0.975,12.182c0.467,6.01-0.331,12.582,1.394,18.386c0.512,1.748,1.089,3.435,1.732,5.178
          c0.76,2.037,0.584,4.446,0.701,6.593c0.295,5.407,0.625,10.806,0.547,16.24c-0.054,4.005-0.356,7.976-0.496,11.958
          c-0.15,4.168-0.121,8.306,0.071,12.474c0.105,2.416,0.212,4.872,0.105,7.295c-0.167,3.998-1.209,7.831-1.499,11.806
          c-0.308,4.02-0.32,8.045-0.412,12.07c-0.185,8.802-0.278,17.614-0.239,26.435c0.026,1.861,0.091,3.733,0.091,5.627
          c0.082,3.069-1.095,9.004,2.456,10.565c0.268,0.109,3.347,0.803,3.414,0.583c-0.984,3.077-1.5,6.344-1.346,9.571
          c0.078,1.563,0.337,3.136,0.853,4.619c0.532,1.479,1.515,2.736,1.978,4.255c0.466,1.538,0.466,3.149,0.533,4.714
          c0.212,4.461,1.179,8.947,2.114,13.287c0.911,4.156,1.706,8.253,3.419,12.136c1.3,2.939,2.834,4.882,5.867,5.846
          c3.622,1.171,7.394,1.237,10.772-0.732c2.292-1.343,4.5-3.063,5.09-5.859c0.535-2.56,0.04-5.42-0.652-7.895
          c-0.506-1.805-1.169-3.565-1.938-5.247c-1.024-2.238-2.099-4.779-2.602-7.213c-0.55-2.566,1.785-2.206,3.451-2.542
          c1.22-0.255,3.901-1.158,4.577,0.537c0.771,1.906-0.267,5.044-0.431,7.083c-0.112,1.415-0.22,2.854-0.339,4.269
          c-0.041,0.512-0.637,4.042-0.341,4.287l0.92,0.718c0.44,0.354,0.241,3.379,0.28,4.04c0.071,1.179,0.132,2.401,0.357,3.567
          c0.857,4.341,4.382,5.485,8.229,5.473c3.479-0.045,7.952,1.825,10.632-1.461c1.815-2.244,2.083-5.142,2.111-7.952
          c1.487-0.303,2.984-0.072,4.499-0.15c1.021-0.03,1.426-0.059,1.646-1.107c0.824-4.272,1.195-8.841,0.73-13.179
          c-0.308-2.875-0.915-5.757-0.773-8.683c0.227-4.2,1.134-8.318,1.707-12.488c0.537-3.834,1.311-7.613,1.887-11.438
          c0.338-2.259,0.608-4.499,0.748-6.771c0.173-2.854,0.198-5.725,0.198-8.563c0.067-3.421,0.253-6.822,0.318-10.229
          c0.081-5.495-0.139-11.009-0.139-16.501c0.007-3.156,0.07-6.347,0.231-9.503c0.132-2.433,0.352-4.876,0.729-7.271
          c0.347-2.214,0.784-4.405,1.167-6.619c1.28-7.105,1.321-14.401,2.563-21.527c0.37-2.106,0.81-4.169,1.221-6.253
          c1.577-7.886,2.866-15.845,4.36-23.754c0.577-3.012,1.16-6.06,1.719-9.074c0.83-4.487,0.743-9.133,1.758-13.559
          c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.415-0.637-10.89-0.077-16.337c0.239-2.354,1.315-3.917,2.378-5.921
          c1.316-2.504,0.268-5.045,1.141-7.585c-0.377,1.854,0.226,3.846,0.267,5.729c0.056,2.252,0.078,4.494,0.107,6.747
          c0.131,6.044,0.079,12.088-0.007,18.134c-0.014,0.803-0.021,1.619-0.033,2.417l3.08,0.362l3.785,0.715l3.305,0.479
          c-0.922-0.13-1.779,4.751-2.335,5.347c-1.261,1.402-3.257-0.201-4.638-0.51c-2.859-0.653-2.948,3.056-4.121,4.75
          c-0.811,1.203-2.06,2.863-1.909,4.433c0.13,1.426,1.433,1.604,2.495,2.032c-1.248,1.806-1.126,3.019,0.466,4.681
          c0.995,1.02,2.07,1.975,3.382,2.523c1.535,0.66,3.544-0.289,4.472,1.52c0.952,1.824,0.864,4.16,1.715,6.064
          c0.728,1.645,1.713,3.15,3.318,3.989c1.886,0.979,4.116,0.907,6.105,1.502c3.009,0.891,6.198,1.26,9.292,0.624
          c1.652-0.327,3.305-1.095,4.634-2.174c1.989-1.641,2.841-3.986,3.835-6.323c1.089-2.537,2.668-4.398,4.526-6.347
          c1.222-1.295,2.319-2.746,3.065-4.392c0.79-1.741,0.864-3.495,1.182-5.337c0.351-2.016,0.795-4.01,1.008-6.053
          c0.267,7.231,1.673,14.516,0.443,21.729c-0.458,2.747-1.368,5.428-2.528,7.957c-1.05,2.301-2.361,4.508-2.881,7.053
          c-0.516,2.566-0.268,5.335,0.283,7.888c1.036,4.747,3.621,8.883,5.006,13.53c0.496,1.682,0.815,3.422,0.87,5.184
          c0.055,1.604-0.041,3.214,0.502,4.752c0.474,1.33,1.406,2.378,1.977,3.646c0.584,1.271,0.836,2.731,0.984,4.146
          c0.352,3.107,0.174,6.313,1.394,9.208c0.769,1.806,1.721,3.562,2.135,5.485c0.811,3.658,0.206,7.915,0.347,11.643
          c0.167,4.607,0.467,9.195,0.702,13.801c0.122,2.335,0.199,4.673,0.228,6.989c0.04,4.66,0.02,9.332,0.623,13.965
          c0.878,6.708,4.17,12.868,1.527,19.651c-0.836,2.167-1.207,4.407-0.889,6.723c0.502,3.694,1.527,7.25,1.884,10.95
          c0.294,2.998,0.599,5.775,2.578,8.154c1.056,1.244-0.253,2.515-1.407,3.083c-0.917,0.453-1.946,0.597-2.311,1.728
          c-0.352,1.095,0.272,2.309,1.016,3.09c1.858,1.932,5.632,2.563,8.108,2.892c1.639,0.239,3.75,0.369,5.295-0.363
          c0.708-0.362,1.201-0.885,1.56-1.618c0.095-0.205,0.835-2.178,0.697-2.267c0.816,0.451,1.097,0.59,1.495,1.466
          c0.219,0.501,0.547,0.814,0.988,1.076c1.916,1.056,4.684,0.662,6.775,0.548c2.598-0.149,5.13-0.952,5.576-3.967
          c0.397-2.666-0.557-5.353-0.412-8.038c0.146-2.871,1.382-5.394,1.207-8.346c-0.206-3.448,1.347-7.093,0.246-10.472
          c-0.914-2.85-2.489-5.48-1.784-8.619c0.77-3.382,2.709-6.34,3.649-9.641c1.207-4.222,0.479-8.643,1.515-12.848
          c0.638-2.591,1.9-4.995,2.583-7.594c0.665-2.549,0.631-5.132,0.897-7.722c0.408-4.001,1.619-7.846,2.787-11.655
          c2.041-6.688,3.571-13.753,4.127-20.75c0.167-1.89,0.254-3.81,0.228-5.714c-0.015-4.599-0.759-9.34-2.115-13.712
          c-0.595-1.891-1.92-3.98-1.443-6.052c0.519-2.253,3.131-1.485,4.354-2.85c1.113-1.262,0.731-3.434,0.607-4.953
          c-0.25-3.022,0.074-6.065-0.306-9.079c-0.479-3.662-1.335-7.09-2.295-10.648c0.357,1.285,1.314,2.679,1.898,3.875
          c0.634,1.314,1.288,2.617,2.016,3.874c1.451,2.454,3.145,4.75,4.527,7.251c1.673,2.994,3.862,5.817,5.15,8.988
          c0.191,0.483,0.728,5.025,0.438,4.94c1.29,0.314,2.323,0.113,2.19,1.651c-0.125,1.268-0.158,2.559-0.17,3.862
          c-0.021,3.021,0.303,6.184,0.617,9.176c0.219,2.047,0.91,4.313,3.242,4.457c1.588,0.099,3.215,0.264,4.793,0.013
          c1.498-0.222,2.77-1.677,4.219-1.78c0.426-0.038,1.488,1.658,1.902,1.938c1.885,1.259,4.84,0.411,6.768-0.348
          c2.006-0.76,3.779,0.686,5.66,1.146c2.508,0.634,5.545-0.027,8.141-0.21c4.514-0.236,11.332,0.138,14.883-3.364
          c0.582-0.569,1.811-2.724,2.852-2.148c1.035,0.574-0.014,2.639-0.197,3.437c-0.504,2.05,0.891,3.412,1.027,5.428
          c0.146,1.825-0.844,3.495-1.191,5.257c-0.346,1.557,0.145,3.045,0.469,4.593c0.348,1.573,0.348,3.119,0,4.707
          c-0.33,1.48-0.732,3.379,0.914,4.186c-0.072-0.035-1.652,8.855-1.771,9.606c-0.098,0.591-0.229,1.185-0.281,1.796
          c-0.367,3.813-0.455,7.676-0.055,11.478c0.211,2.278,0.633,4.569,1.01,6.821c0.621,4.025,1.34,8.037,2.061,12.063
          c1.357,7.792,2.355,15.713,3.012,23.606c0.25,3.084,0.49,6.236,0.264,9.348c-0.215,2.795-1.141,5.48-1.352,8.263
          c-0.107,1.371,0.35,2.694,1.635,3.331c1.752,0.89,2.377,1.452,1.555,3.532c-0.844,2.128-1.199,4.279,1.602,4.801
          c3.57,0.672,7.674,1.075,11.285,0.5c3.662-0.575,1.297-4.16,2.135-6.428c0.553-1.418,2.219-1.452,3.373-1.013
          c1.34,0.51,2.166,1.604,2.166,3.117c-0.012,5.302,7.873,4.804,10.949,2.774c1.93-1.271,2.01-3.574,2.746-5.597
          c0.535-1.391,1.621-2.46,2.059-3.876c0.52-1.61,0.262-3.412,0.158-5.054c-0.145-2.179-0.451-4.289-0.855-6.421
          c-0.932-4.95-1.971-10.139-1.146-15.191c0.523-3.313,0.656-6.684,0.596-10.027c-0.07-3.091-0.553-6.269-0.025-9.329
          c0.408-2.368,1.564-4.494,2.029-6.852c0.529-2.784,0.139-5.609,0.354-8.405c0.158-2.015,0.721-3.94,1.215-5.903
          c0.408-1.579,0.566-3.437,1.334-4.882c1.139-2.128,3.627-2.697,4.342-5.19c0.729-2.549,0.068-5.219,0.127-7.791
          c0.061-2.117,0.943-4.043,1.582-6.003c1.607-4.769,2.068-9.353,0.959-14.32c-0.748-3.351-1.814-6.872-0.662-10.27
          c0.547-1.623,1.846-2.702,3.018-3.791c1.008-0.954,1.707-2.245,2.725-3.146c0.965-0.878,2.303-0.85,3.494-0.987
          c2.561-0.33,4.15-2.048,5.975-3.788c2.168-2.104,5.746-1.584,7.518-4.091c1.156-1.658,1.51-3.751,1.76-5.735
          c0.164-1.281,0.225-2.563,0.33-3.844c0.309-3.728,0.322-7.637,0.875-11.307c0.23-1.495,1.971-1.124,2.182-2.666
          c0.264-1.831-1.195-3.729-0.244-5.483c0.018-0.053,1.957-0.03,2.188-0.103c3.111-0.958,0.738-4.6,0.205-6.515
          c-0.777-2.862-0.791-5.557-0.115-8.455c0.332-1.344,0.609-1.454,1.9-1.919c0.371-0.329-0.072-3.595-0.08-4.097
          c-0.033-1.684-0.086-3.372-0.045-5.069c0.145-5.155,2.605-9.754,3.162-14.85c0.826-7.483,3.82-14.401,4.711-21.839
          c0.332-2.762,0.488-5.544,0.553-8.32c0.057-2.954,0.072-5.978,1.008-8.81c1.119-3.353,2.842-6.441,4.039-9.759
          c-0.311,1.326-0.113,2.87-0.158,4.238c-0.072,1.68-0.139,3.371-0.215,5.052c-0.139,3.301-0.25,6.616-0.365,9.929
          c-0.244,7.16-0.34,14.352-0.555,21.523c-0.078,3.262-0.381,6.604-0.035,9.848c0.635,0.15,1.334,0.136,1.992,0.274
          c0.211,3.188-0.791,6.267-0.318,9.491c0.471,3.156,1.416,6.233,1.391,9.447c-0.014,3.451-0.492,6.894-0.637,10.338
          c-0.158,4.351-0.219,8.714-0.291,13.062c-0.117,8.999-2.094,17.814-0.764,26.843c0.271,1.856,0.771,3.789,1.846,5.337
          c0.889,1.259,2.477,2.27,2.697,3.947c0.307,2.291-2.02,4.217-2.104,6.619c-0.094,2.696,0.781,5.321,0.77,8.015
          c-0.02,2.97-0.303,5.924-0.605,8.873c-0.42,4.358-0.697,8.712-0.914,13.084c-0.141,2.474-0.258,4.939-0.357,7.396
          c-0.213,4.409-0.451,8.829-0.494,13.236c-0.045,2.733,0,5.485,0.166,8.232c0.158,2.717,0.475,5.444,1.047,8.117
          c0.516,2.434,1.41,4.741,2.637,6.88c0.354,0.624,1.311,2.73,2.152,2.73c-1.547-0.018-2.879,2.614-3.293,3.876
          c-0.633,2-0.494,4.269,0.072,6.283c0.633,2.31,2.553,4.256,1.992,6.824c-1.012,4.681-3.205,8.847-5.254,13.107
          c-2.393,5.044-4.01,13.541,1.277,17.446c4.682,3.455,11.949,3.337,16.838,0.502c2.34-1.385,4.924-3.276,5.932-5.97
          c1.514-4.084,0.371-9.003,0.955-13.307c0.467-3.521,2.113-5.331,4.559-7.562c5.086-4.629,3.854-13.52,1.297-19.196
          c-1.148-2.536-1.613-4.773-0.475-7.423c1.094-2.561,2.793-4.726,3.512-7.457c1.371-5.307,0.889-11.1,0.475-16.501
          c-0.236-3.183-0.072-6.358-0.072-9.562c-0.014-3.078-0.705-5.976-1.086-9.001c-0.383-2.971,0.348-5.481,0.916-8.346
          c0.635-3.143,0.203-6.015-0.635-9.043c-0.504-1.907-1.127-3.884,0.631-5.239c1.465-1.118,2.854-1.536,3.422-3.509
          c0.773-2.741,0.494-5.948,0.465-8.764c-0.029-3.146-0.189-6.298-0.139-9.443c0.068-3.167,0.49-6.257,0.938-9.402
          c0.441-3.146,0.521-6.297,0.561-9.47c0.043-2.707,0.215-5.358,0.408-8.051c0.146-1.927,0.146-3.976,0.977-5.769
          c0.346-0.789,0.861-1.459,1.389-2.118c0.262,4.584-0.264,9.148-0.021,13.731c0.242,4.599,2.131,8.832,2.543,13.38
          c0.449,4.717-0.523,9.462-0.934,14.143c-0.428,4.786-0.414,9.562-0.068,14.348c0.318,4.705,0.193,9.046-0.877,13.661
          c-1.057,4.639-1.777,9.167-1.936,13.943c-0.311,9.572,0.504,19.077,0.404,28.637c-0.061,4.782-0.211,9.613-1.055,14.349
          c-0.795,4.535-2.271,8.894-3.906,13.17c-1.877,4.864-3.619,9.668-1.402,14.786c1.057,2.502,2.898,4.517,4.215,6.866
          c1.252,2.274,1.76,4.517,1.385,7.092c-0.326,2.138-0.912,4.659,1.031,6.176c2.32,1.794,5.273,1.973,8.057,1.87
          c3.164-0.108,6.256,0.212,9.4,0.192c2.461-0.015,5.758-0.838,6.117-3.872c0.182-1.551-0.479-3.043-0.68-4.565
          c-0.328-2.12,1.17-3.898,1.83-5.788c1.496-4.339,0.9-8.994,0.771-13.521c-0.15-5.314,0.68-10.601,1.502-15.839
          c0.35-2.245,0.699-4.472,1.002-6.729c0.35-2.684,0.662-5.343,0.938-8.039c0.354-3.437,1.428-6.767,1.824-10.203
          c0.354-3.005,0.479-6.051,0.695-9.059c0.314-3.796,1.127-7.527,2.18-11.169c1.377-4.797,2.354-9.68,2.939-14.653
          c0.494-4.205,0.297-8.464,0.633-12.675c0.352-4.601,0.842-9.161,1.34-13.73c0.277-2.583,0.566-5.19,0.85-7.781
          c0.236-2.265,0.465-4.491,0.637-6.77c0.211-2.804,0.389-5.593,0.547-8.388c0.158-2.918,0.289-5.852,0.467-8.795
          c0.113-2.106,0.23-4.211,0.35-6.328c0.336-5.776,0.852-11.629,0.852-17.423c0.104-1.984,0.092-4.109,0.439-6.065
          c0.617-3.501,1.428-6.969,1.668-10.525c0.264-3.7,0.297-7.394,0.572-11.081c0.193-2.36-0.605-5.188,0.217-7.441
          c0.291-0.761,3.52-3.381,4.355-2.912c1.332,0.762,1.555,1.849,1.555,3.313c0,1.965,0.061,3.941,0.191,5.911
          c0.111,1.905,0.289,4.021-0.402,5.893c-0.711,1.906-2.266,3.287-2.813,5.296c-0.482,1.71-0.934,3.451-1.404,5.191
          c-0.717,2.719-1.133,6.174-1.133,9.003c0,1.493-0.408,2.982-0.211,4.476c0.303,2.415,2.346,1.362,3.855,0.666
          c-0.461,0.222-0.311,1.885-0.574,2.324c-0.922,1.472-3.898,0.923-2.418,3.658c0.691,1.242,3.053,2.885,4.48,2.665
          c0.988-0.162,1.852-0.72,2.793-0.993c-0.383,0.098-0.941,1.431-1.139,1.806c-0.369,0.681-0.857,1.557-0.066,2.153
          c1.779,1.309,2.893,0.221,3.965-1.355c0.482-0.721,0.863-1.681,1.568-2.232c1.271-0.941,2.721-0.884,3.881-2.141
          c4.004-4.294,3.441-10.159,3.623-15.608c0.072-2.933,0.348-5.851,0.711-8.749c0.164-1.277-0.146-3.088,1.252-3.75
          c1.402-0.657,3.168,0.424,4.564-0.523c1.805-1.232,1.635-5.898,1.566-7.786c-0.072-3.212-0.533-6.406-0.611-9.619
          c-0.061-3.424,0.072-6.836,0.461-10.23c0.443-3.874,0.541-7.719,0.766-11.623c0.211-4.526,0.521-9.083,0.178-13.613
          c-0.619-7.919-2.404-15.707-3.166-23.62c-0.215-2.156-0.352-4.31-0.479-6.479c-0.322-5.48-0.805-10.908-2.32-16.182
          c-1.908-6.806-4.146-13.482-6.055-20.267c-0.58-2.023-1.17-4.031-1.813-6.033c-0.637-1.948-1.334-3.877-2.059-5.786
          c-0.912-2.333-1.818-4.652-2.604-7.042c-0.617-1.961-1.109-4.02-2.209-5.75c-1.195-1.899-3.127-3.03-4.775-4.416
          c-1.467-1.239-2.732-2.702-4.383-3.666c-1.742-1.007-3.68-1.513-5.537-2.197c-3.504-1.312-6.996-2.912-10.189-4.895
          c-3.465-2.146-6.727-4.88-10.68-6.042c-1.949-0.557-4.123-0.918-5.191-2.966c-1.172-2.239,0.219-4.438,1.76-6.034
          c3.123-3.245,3.441-7.79,3.162-12.123c-0.217-3.582,0.691-7.077,0.73-10.646c0.047-6.072-4.648-10.532-9.125-13.627
          c-1.744-1.186-3.543-2.554-5.604-3.017c-2.398-0.53-4.639,0.461-6.994,0.683c-2.342,0.222-4.732,0.236-6.965,1.078
          c-2.457,0.926-4.1,2.915-5.67,4.999c-1.717,2.279-3.523,4.724-3.934,7.692c-0.49,3.576-1.908,7.261,0.104,10.628
          c0.547,0.914,1.238,1.748,1.555,2.762c0.514,1.606,0.215,3.354,0.764,4.985c0.523,1.586,1.41,3.01,2.154,4.486
          c1.016,1.991,1.611,4.238,3.297,5.771c4.168,3.776-2.9,5.606-4.66,7.719c-2.121,2.541-3.82,5.013-6.402,7.089
          c-1.939,1.54-4.061,2.853-6.271,3.88c-2.307,1.07-4.746,1.704-7.021,2.811c-3.18,1.518-6.91,3.837-9.379,6.419
          c-2.045,2.112-3.344,4.875-4.879,7.385c-1.916,3.147-3.582,6.491-4.85,9.982c-0.697,1.932-1.291,3.923-1.748,5.936
          c-0.504,2.326-0.965,4.667-1.486,6.993c-0.689,2.975-1.336,5.956-2.008,8.925c-0.465,2.069-0.898,4.145-1.309,6.234
          c-0.938,4.783-1.58,9.641-2.404,14.458c-1.057,6.27-2.15,12.511-3.102,18.784c-0.348,2.182-0.637,4.379-0.799,6.599
          c-0.246,3.48,0.029,6.965-0.215,10.452c-0.213,2.926-1.025,5.669-1.627,8.519c-0.633,2.963-1.225,5.921-1.557,8.949
          c-0.453,4.225-0.537,8.493-0.775,12.722c-0.102,2.125-0.211,4.248-0.27,6.36c-0.08,2.587-0.164,5.178-0.24,7.762
          c-0.145,3.733-0.326,7.48-0.574,11.196c-0.131,1.701-0.352,3.435-0.42,5.132c-0.068,1.581,0.711,2.979,0.74,4.516
          c0.033,1.707-0.527,3.364-0.699,5.044c-0.18,1.677-0.209,3.35-0.283,5.026c-0.098,2.594-0.131,6.299,2.219,7.966
          c1.334,0.949,2.65,1.154,2.414,3.169c-0.301,2.442-1.527,5.002-2.307,7.355c-0.682,2.117-1.621,4.252-3.863,4.896
          c-2.564,0.753-4.971,2.062-7.531,2.729c-2.115,0.553-4.328,0.463-6.49,0.599c-1.617,0.104-5.969,1.413-5.594-1.677
          c0.119-1.007,1.133-1.354,1.846-1.831c0.902-0.612,1.652-1.39,2.322-2.226c2.813-3.584,4.041-8.511,3.977-13.084
          c-0.033-1.635-0.066-3.293-0.359-4.911c-0.289-1.537-1.023-2.633-1.592-4.052c-0.316-0.78-0.35-1.733,0.666-1.322
          c1.008,0.399,1.334,1.812,2.535,2.026c0.096-0.075,0.07-0.135,0.016-0.251c-1.775-3.753-5.463-4.63-8.648-6.542
          c0.172,0.094,0.492-1.502,0.479-1.706c-0.117-0.561-0.621-0.965-1.051-1.294c-1.195-0.98-2.717-1.583-4.078-2.242
          c0.512,0.245,3.842,3.582,2.197,3.582c-2.178,0-3.84-2.663-6.041-3.077c-1.223-0.231-2.486-0.382-3.729-0.519
          c-0.492-0.042-0.957-0.104-1.461-0.11c-0.316-0.007-1.574,0.318-1.76,0.187c0.875,0.589,2.146,0.512,3.004,1.098
          c-2.043,0.323-4.203,0.309-6.271,0.61c-3.887,0.569-7.535,2.821-11.152,4.311c0.764,0.099,1.977,0.117,2.529,0.66
          c-0.111-0.111-1.896,3.298-2.006,3.736c-0.354,1.891-0.354,3.757-0.781,5.641c-0.467,1.992,0.844,4.557-0.525,6.212
          c-1.732,2.093-2.182,3.874-1.898,6.623c0.186,1.733-0.283,3.728,0.83,5.211c0.574,0.764,2.734,1.874,1.195,2.789
          c-0.98,0.6-2.414,0.287-3.441,0.792c-2.377,1.099-5.006,3.076-6.939,4.908c-1.479,1.446-1.645,3.646-3.053,5.074
          c-1.332,1.346-3.258,2.669-4.889,3.533c-1.371,0.727-2.965,0.641-4.342,1.305c-1.377,0.657-2.121,2.012-3.426,2.774
          c-2.029,1.204-4.486,1.279-6.721,1.711c-2.227,0.381-4.289,1.292-6.48,1.834c-2.547,0.661-4.777,0.145-7.355,0.287
          c-1.479,0.072-3.166,0.926-4.604,0.212c-0.656-0.334-1.078-1.389-1.492-1.964c-0.955-1.269-2.461-2.104-3.445-3.359
          c-2.398-3.028,1.957-3.488,1.613-6.799c-0.244-2.459-1.613-4.607-2.184-6.967c-0.654-2.7-0.773-5.481-1.584-8.113
          c-0.855-2.769-1.789-5.518-2.801-8.24c-1.58-3.862-3.77-7.493-5.289-11.441c-1.674-4.305-3.025-8.729-4.33-13.17
          c-3.429-11.633-8.002-23.268-19.233-28.843c-2.682-1.319-4.129-4.145-6.942-5.367c-2.746-1.204-6.051-1.624-8.959-0.764
          c-0.145,0.058,0.73-3.616,1.036-4.04c0.884-1.284,2.263-2.2,3.231-3.438c5.768-7.386,10.241-22.734,4.238-31.26
          c-2.309-3.287-4.432-5.329-8.256-6.241c-4.993-1.2-13.328-3.84-17.654,0.54c-1.028,1.05-1.74,2.379-2.88,3.393
          c-3.019,2.723-3.678,4.895-3.794,8.998c-0.217,6.406-1.57,13.338,2.12,19.025c1.785,2.761,2.929,5.471,3.338,8.8
          c-1.944,0.179-3.271,1.695-4.573,3.006c-1.42,1.39-2.895,2.097-4.646,2.96c-5.082,2.509-10.556,4.593-14.662,8.719
          c-4.705,4.752-6.51,11.212-10.388,16.483c-1.58,2.132-3.573,3.886-5.097,6.066c-2.304,3.357-5.939,4.719-9.781,4.719
          c-0.856,0-2.971,0.221-2.559-1.219c0.396-1.378,2.559-0.934,3.578-1.329c4.279-1.679,3.332-7.334,3.538-11.013
          c0.084-1.72,1.249-2.652,2.264-3.807c1.262-1.445,1.893-2.953,2.044-4.897c0.453-5.796-2.501-12.065-3.696-17.671
          c-1.319-6.227-2.277-12.564-2.921-18.904c-0.55-5.616-0.26-11.269-1.023-16.859c-0.774-5.646-2.137-11.202-2.846-16.865
          c-0.817-6.414-0.685-12.932-1.09-19.37c-0.271-4.21-0.535-8.416-0.721-12.626c-0.28-6.184-0.693-12.37-1.625-18.493
          c-1.525-10.022-6.936-20.1-16.679-23.225c-2.735-0.896-5.68-1.264-8.341-2.376c-3.656-1.537-3.626-5.852-7.447-7.034
          c-2.202-0.692,3.363,4.47,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842c0.064-1.832,0.527-2.415-0.363-4.757
          c0.682-2.698-1.597-0.961-2.058-6.206c1.811-2.432,2.63-3.492,3.731-6.551c1.378-3.837-0.851-8.48-1.765-12.176
          c-0.658-2.721-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.558-4.007-8.055c-1.487-2.276-2.811-4.736-4.819-6.578
          c-3.185-2.898-7.806-3.29-11.839-2.99c-3.792,0.278-8.976,0.113-12.172,2.541c-1.461,1.112-1.948,2.908-2.974,4.379
          c-1.194,1.711-3.096,2.802-4.022,4.729c-1.082,2.252-0.492,4.938-1.564,7.186c-1.74,3.666-4.039,6.268-4.62,10.452
          c-0.609,4.571,0.253,9.237,0.836,13.752c0.341,2.694,0.145,5.964,1.426,8.407c1.029,1.983,0.135,1.54-0.512,5.529
          c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.646-6.401,3.851c-7.765,0.579-16.378,3.996-20.258,11.416
          c-1.64,3.148-2.587,6.671-3.636,10.065c-1.068,3.501-2.031,7.057-2.429,10.716c-0.876,8.146-1.632,16.28-2.583,24.425
          c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.975-1.339,15.795-2.297,23.722c-0.261,2.196-0.493,4.389-0.671,6.599
          c-0.314,4.007-0.089,7.994-0.089,12.007c0,3.532,0,7.033,0.089,10.555c0.151,6.242-1.016,12.384-2.365,18.464
          c-0.341,1.52-0.665,3.191-0.328,4.751C170.135,259.464,170.177,259.588,170.202,259.722z M477.422,418.467
          c0.158-1.755,1.248-3.673,2.389-1.158c0.988,2.179,0.947,5.077,1.018,7.435c0.094,2.672,0.105,5.407-0.145,8.058
          c-0.029,0.224-0.057,0.426-0.086,0.645c-0.322,2.117-1.098,4.405-0.311,6.435c-0.773-2.029-1.996-3.871-2.598-5.976
          c-0.65-2.269,0-4.543-0.176-6.873C477.311,424.182,477.166,421.311,477.422,418.467z M227.047,378.06
          c0.697-10.484,0.337-20.988,0.379-31.5c0.025-7.997-2.297-18.05,3.396-24.635c0.911,6.723,0.502,13.669,0.268,20.461
          c-0.174,5.003,1.068,9.867,1.886,14.746c0.809,4.776,0.754,9.28,0.356,14.108c-0.439,5.496-0.903,11.014-1.366,16.515
          c-0.391,4.665,0.061,44.661-6.736,43.93C220.332,425.949,226.582,385.219,227.047,378.06z"/>
      </g>
    </g>
  </g>
  <polygon fill="#414042" points="598,574.5 281.811,574.5 281.811,487.5 598,487.5 573.43,531.007 "/>
  <polygon fill="#60C342" points="587.19,574.5 270.989,574.5 270.989,487.5 587.19,487.5 562.619,531.007 "/>
  <text transform="matrix(0.9614 0 0 1 304.2878 543.8379)" fill="#FFFFFF" font-family="'Helvetica'" font-size="40">${{ amount | numberComma }}</text>
  <rect x="258.001" y="487.5" fill="#414042" width="12.984" height="87"/>
  </svg>
</template>

<script>
  import BaseProps from '../BaseProps'

  export default {
    mixins: [BaseProps]
  }
</script>
