<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="800px" height="600px" viewBox="-308.166 -221.5 800 600" enable-background="new -308.166 -221.5 800 600"
     xml:space="preserve">
    <path fill="#F7F7F7" d="M-108.691-120.233c0,0-0.014-0.014-0.014,0C-108.701-120.125-108.695-120.154-108.691-120.233z
       M-152.06,41.357c0.425,1.379,1.419,2.36,1.991,3.68c0.529,1.22,0.384,2.529,0.425,3.825c0.068,1.726,0.104,3.458,0.344,5.168
      c0.371,2.671,1.056,5.339,2.363,7.709c0.611,1.108,1.248,2.321,2.204,3.167c1.406,1.257,4.87,2.044,6.688,1.805
      c2.345-0.318,1.103-1.652,0.226-2.869c-1.09-1.541-0.994-3.661-2.826-4.58c-4.062-2.059-4.432-10.591-0.28-12.632
      c1.126-0.548,2.833-0.426,3.821-1.067c2.456-1.577,1.229-5.938,0.651-8.197c-0.876-3.334-0.597-6.476,0.102-9.818
      c0.92-4.459,1.612-8.905,2.36-13.405c1.215-7.308,2.888-14.496,4.828-21.64l2.401-9.163c-0.554,2.085-0.638,4.41-0.954,6.544
      c-0.321,2.249-0.637,4.5-0.952,6.748c-0.37,2.549-1.281,4.965-2.07,7.408c-0.817,2.533-1.187,5.048-1.64,7.674
      c-0.266,1.583-0.651,3.167-0.493,4.791c0.142,1.487,1.448,2.194,1.396,3.791c-0.054,1.491-0.348,2.946-0.464,4.404
      c-0.167,2.093-0.348,4.182-0.385,6.282c-0.101,4.063,0.665,7.999,0.975,12.029c0.466,5.935-0.332,12.424,1.394,18.157
      c0.512,1.725,1.088,3.392,1.732,5.114c0.759,2.01,0.584,4.39,0.702,6.51c0.294,5.338,0.625,10.67,0.546,16.036
      c-0.054,3.956-0.356,7.877-0.496,11.81c-0.151,4.117-0.122,8.2,0.071,12.318c0.105,2.386,0.212,4.811,0.105,7.203
      c-0.166,3.947-1.208,7.734-1.499,11.66c-0.306,3.967-0.319,7.942-0.411,11.918c-0.185,8.692-0.279,17.396-0.239,26.105
      c0.026,1.842,0.091,3.688,0.091,5.557c0.082,3.031-1.096,8.892,2.456,10.433c0.267,0.109,3.346,0.793,3.414,0.576
      c-0.984,3.038-1.5,6.266-1.345,9.454c0.077,1.542,0.337,3.092,0.853,4.561c0.532,1.461,1.514,2.702,1.977,4.202
      c0.466,1.515,0.466,3.108,0.534,4.654c0.212,4.405,1.179,8.832,2.114,13.121c0.912,4.101,1.707,8.147,3.419,11.984
      c1.299,2.901,2.834,4.817,5.867,5.771c3.622,1.157,7.393,1.219,10.772-0.723c2.291-1.327,4.5-3.025,5.091-5.786
      c0.535-2.531,0.039-5.353-0.653-7.795c-0.505-1.783-1.169-3.521-1.938-5.184c-1.022-2.209-2.098-4.724-2.601-7.122
      c-0.549-2.534,1.785-2.178,3.45-2.51c1.221-0.251,3.902-1.145,4.578,0.53c0.772,1.881-0.267,4.981-0.432,6.994
      c-0.112,1.396-0.219,2.818-0.338,4.216c-0.041,0.504-0.637,3.991-0.34,4.232l0.92,0.71c0.44,0.345,0.24,3.336,0.28,3.99
      c0.071,1.163,0.132,2.37,0.357,3.521c0.858,4.287,4.382,5.417,8.23,5.399c3.479-0.041,7.951,1.808,10.632-1.44
      c1.815-2.213,2.083-5.075,2.111-7.851c1.487-0.298,2.984-0.07,4.499-0.148c1.022-0.03,1.427-0.057,1.646-1.097
      c0.823-4.216,1.194-8.729,0.729-13.013c-0.308-2.842-0.914-5.684-0.772-8.572c0.226-4.147,1.133-8.215,1.706-12.333
      c0.537-3.785,1.309-7.518,1.886-11.296c0.338-2.228,0.609-4.443,0.748-6.687c0.173-2.818,0.2-5.65,0.2-8.454
      c0.067-3.381,0.253-6.741,0.318-10.104c0.081-5.428-0.139-10.871-0.139-16.294c0.006-3.116,0.071-6.27,0.232-9.386
      c0.132-2.402,0.351-4.813,0.729-7.18c0.347-2.186,0.784-4.351,1.167-6.535c1.282-7.019,1.323-14.222,2.564-21.26
      c0.371-2.076,0.809-4.116,1.22-6.174c1.578-7.788,2.868-15.648,4.361-23.458c0.577-2.974,1.16-5.983,1.72-8.961
      c0.83-4.43,0.742-9.02,1.757-13.389c0.537-2.294,1.697-4.434,1.943-6.793c0.583-5.346-0.637-10.754-0.078-16.132
      c0.239-2.324,1.316-3.869,2.378-5.848c1.316-2.473,0.267-4.982,1.14-7.49c-0.378,1.831,0.226,3.798,0.267,5.659
      c0.054,2.225,0.078,4.437,0.107,6.662c0.131,5.97,0.079,11.936-0.007,17.908c-0.013,0.793-0.02,1.599-0.033,2.386l3.08,0.357
      l3.784,0.707l3.306,0.473c-0.922-0.129-1.779,4.69-2.335,5.279c-1.262,1.385-3.258-0.198-4.638-0.502
      c-2.859-0.645-2.948,3.018-4.12,4.691c-0.811,1.188-2.059,2.827-1.91,4.376c0.131,1.409,1.433,1.583,2.496,2.008
      c-1.249,1.781-1.127,2.98,0.466,4.621c0.995,1.009,2.069,1.951,3.382,2.492c1.535,0.651,3.544-0.284,4.472,1.5
      c0.952,1.802,0.865,4.109,1.714,5.99c0.728,1.624,1.712,3.109,3.318,3.938c1.886,0.969,4.116,0.897,6.105,1.486
      c3.009,0.879,6.199,1.242,9.292,0.615c1.653-0.325,3.306-1.082,4.635-2.15c1.989-1.618,2.841-3.938,3.835-6.245
      c1.088-2.506,2.668-4.345,4.526-6.268c1.221-1.278,2.32-2.711,3.066-4.337c0.789-1.718,0.862-3.451,1.181-5.27
      c0.352-1.991,0.796-3.96,1.008-5.976c0.266,7.14,1.673,14.333,0.444,21.457c-0.458,2.712-1.369,5.36-2.53,7.856
      c-1.049,2.274-2.359,4.453-2.879,6.964c-0.516,2.537-0.268,5.268,0.283,7.788c1.036,4.689,3.619,8.776,5.006,13.365
      c0.496,1.657,0.815,3.376,0.87,5.114c0.055,1.584-0.041,3.175,0.502,4.696c0.473,1.313,1.406,2.349,1.976,3.6
      c0.584,1.259,0.837,2.7,0.985,4.095c0.351,3.065,0.172,6.231,1.393,9.094c0.769,1.779,1.722,3.512,2.135,5.417
      c0.81,3.613,0.206,7.816,0.347,11.5c0.167,4.551,0.467,9.08,0.702,13.625c0.122,2.307,0.2,4.615,0.227,6.905
      c0.04,4.601,0.021,9.216,0.623,13.79c0.877,6.625,4.17,12.708,1.528,19.407c-0.837,2.137-1.207,4.349-0.89,6.639
      c0.502,3.644,1.527,7.158,1.885,10.813c0.294,2.961,0.597,5.705,2.577,8.053c1.056,1.228-0.253,2.483-1.407,3.045
      c-0.917,0.446-1.947,0.589-2.311,1.705c-0.351,1.082,0.273,2.28,1.016,3.052c1.858,1.907,5.632,2.53,8.107,2.856
      c1.639,0.235,3.75,0.365,5.295-0.359c0.708-0.355,1.2-0.874,1.56-1.598c0.094-0.198,0.834-2.151,0.696-2.239
      c0.817,0.446,1.097,0.582,1.495,1.448c0.22,0.494,0.547,0.805,0.989,1.063c1.915,1.041,4.684,0.652,6.775,0.54
      c2.597-0.148,5.13-0.939,5.576-3.917c0.397-2.632-0.557-5.285-0.412-7.938c0.146-2.834,1.382-5.326,1.208-8.241
      c-0.206-3.404,1.345-7.004,0.246-10.34c-0.915-2.815-2.489-5.417-1.784-8.513c0.769-3.339,2.709-6.259,3.65-9.521
      c1.207-4.169,0.479-8.532,1.515-12.688c0.638-2.561,1.899-4.933,2.583-7.497c0.666-2.518,0.63-5.068,0.897-7.63
      c0.41-3.948,1.62-7.747,2.787-11.511c2.04-6.604,3.572-13.579,4.127-20.489c0.166-1.867,0.253-3.762,0.227-5.643
      c-0.015-4.538-0.759-9.225-2.114-13.541c-0.595-1.867-1.921-3.932-1.444-5.975c0.518-2.224,3.13-1.466,4.354-2.813
      c1.113-1.244,0.731-3.39,0.607-4.892c-0.25-2.988,0.074-5.988-0.304-8.966c-0.479-3.616-1.335-7.001-2.296-10.516
      c0.357,1.27,1.314,2.643,1.899,3.827c0.634,1.3,1.288,2.584,2.015,3.826c1.451,2.425,3.145,4.692,4.528,7.162
      c1.674,2.953,3.862,5.745,5.15,8.882c0.193,0.474,0.728,4.96,0.438,4.879c1.29,0.312,2.322,0.111,2.19,1.63
      c-0.125,1.252-0.158,2.527-0.171,3.81c-0.02,2.985,0.303,6.104,0.619,9.062c0.218,2.022,0.91,4.263,3.241,4.405
      c1.588,0.098,3.215,0.261,4.792,0.014c1.499-0.224,2.771-1.662,4.22-1.76c0.425-0.037,1.489,1.637,1.904,1.914
      c1.884,1.242,4.838,0.405,6.765-0.34c2.006-0.752,3.781,0.676,5.661,1.129c2.508,0.626,5.545-0.026,8.141-0.206
      c4.513-0.233,11.331,0.135,14.881-3.323c0.583-0.561,1.812-2.689,2.854-2.121c1.033,0.569-0.014,2.604-0.198,3.394
      c-0.504,2.023,0.89,3.37,1.028,5.359c0.144,1.804-0.844,3.45-1.193,5.19c-0.342,1.542,0.146,3.011,0.468,4.537
      c0.35,1.552,0.35,3.079,0,4.648c-0.329,1.462-0.731,3.336,0.916,4.131c-0.072-0.033-1.653,8.75-1.772,9.487
      c-0.099,0.581-0.23,1.17-0.282,1.773c-0.366,3.765-0.455,7.578-0.053,11.338c0.21,2.249,0.632,4.509,1.008,6.735
      c0.622,3.979,1.344,7.938,2.063,11.909c1.358,7.693,2.358,15.516,3.01,23.311c0.249,3.047,0.49,6.158,0.263,9.23
      c-0.21,2.761-1.14,5.414-1.35,8.16c-0.108,1.354,0.349,2.66,1.634,3.293c1.752,0.879,2.377,1.435,1.555,3.487
      c-0.843,2.102-1.199,4.223,1.601,4.74c3.569,0.663,7.675,1.06,11.285,0.491c3.663-0.568,1.297-4.104,2.135-6.348
      c0.553-1.401,2.22-1.435,3.372-1.002c1.341,0.508,2.164,1.585,2.164,3.079c-0.014,5.234,7.873,4.744,10.948,2.741
      c1.934-1.255,2.011-3.532,2.75-5.529c0.534-1.369,1.622-2.428,2.06-3.822c0.518-1.59,0.261-3.369,0.159-4.995
      c-0.146-2.15-0.451-4.231-0.857-6.34c-0.933-4.889-1.969-10.008-1.146-14.998c0.524-3.275,0.656-6.604,0.597-9.907
      c-0.072-3.051-0.555-6.19-0.026-9.212c0.409-2.337,1.563-4.438,2.029-6.767c0.53-2.748,0.138-5.539,0.354-8.299
      c0.157-1.99,0.719-3.892,1.214-5.83c0.408-1.56,0.567-3.391,1.334-4.818c1.14-2.104,3.627-2.658,4.342-5.122
      c0.728-2.518,0.069-5.155,0.129-7.693c0.06-2.095,0.941-3.994,1.581-5.928c1.607-4.71,2.067-9.237,0.958-14.144
      c-0.748-3.309-1.815-6.786-0.662-10.139c0.546-1.604,1.845-2.669,3.017-3.746c1.005-0.94,1.703-2.216,2.722-3.104
      c0.964-0.868,2.298-0.844,3.493-0.979c2.56-0.322,4.155-2.024,5.974-3.742c2.167-2.074,5.743-1.563,7.516-4.04
      c1.156-1.634,1.508-3.704,1.759-5.664c0.165-1.266,0.228-2.53,0.329-3.793c0.31-3.684,0.323-7.541,0.877-11.164
      c0.23-1.476,1.97-1.11,2.18-2.633c0.264-1.807-1.196-3.683-0.243-5.415c0.017-0.053,1.956-0.029,2.188-0.101
      c3.108-0.947,0.737-4.543,0.205-6.434c-0.779-2.827-0.792-5.487-0.117-8.35c0.334-1.326,0.61-1.433,1.901-1.895
      c0.376-0.325-0.072-3.551-0.079-4.047c-0.034-1.663-0.086-3.329-0.046-5.006c0.145-5.09,2.608-9.63,3.161-14.665
      c0.827-7.391,3.822-14.218,4.711-21.567c0.332-2.728,0.491-5.475,0.554-8.215c0.056-2.916,0.075-5.904,1.008-8.698
      c1.119-3.313,2.842-6.362,4.037-9.64c-0.31,1.31-0.112,2.834-0.157,4.186c-0.073,1.659-0.139,3.329-0.212,4.989
      c-0.138,3.259-0.249,6.535-0.367,9.805c-0.244,7.071-0.337,14.172-0.554,21.254c-0.079,3.222-0.382,6.522-0.033,9.725
      c0.639,0.149,1.337,0.135,1.989,0.271c0.214,3.148-0.791,6.191-0.316,9.372c0.469,3.118,1.417,6.156,1.391,9.33
      c-0.014,3.408-0.494,6.807-0.632,10.21c-0.159,4.296-0.222,8.606-0.29,12.897c-0.119,8.889-2.097,17.594-0.766,26.512
      c0.27,1.831,0.771,3.739,1.846,5.271c0.89,1.241,2.477,2.241,2.696,3.898c0.308,2.263-2.019,4.165-2.104,6.534
      c-0.093,2.662,0.783,5.254,0.771,7.916c-0.02,2.93-0.304,5.847-0.606,8.764c-0.422,4.304-0.697,8.607-0.919,12.925
      c-0.139,2.441-0.257,4.878-0.357,7.304c-0.216,4.354-0.448,8.719-0.494,13.072c-0.048,2.697,0,5.417,0.164,8.127
      c0.158,2.683,0.475,5.377,1.047,8.016c0.514,2.405,1.409,4.683,2.635,6.794c0.356,0.616,1.312,2.7,2.154,2.7
      c-1.547-0.018-2.882,2.582-3.294,3.826c-0.633,1.979-0.494,4.216,0.072,6.205c0.636,2.284,2.553,4.202,1.993,6.743
      c-1.012,4.621-3.205,8.735-5.253,12.945c-2.392,4.977-4.006,13.37,1.277,17.227c4.681,3.412,11.95,3.296,16.838,0.491
      c2.342-1.363,4.921-3.231,5.929-5.894c1.516-4.033,0.376-8.896,0.956-13.142c0.468-3.478,2.114-5.261,4.559-7.467
      c5.085-4.573,3.854-13.354,1.298-18.956c-1.15-2.505-1.613-4.714-0.475-7.333c1.094-2.527,2.794-4.665,3.512-7.361
      c1.37-5.241,0.889-10.962,0.474-16.294c-0.237-3.147-0.072-6.283-0.072-9.443c-0.013-3.039-0.705-5.9-1.087-8.889
      c-0.386-2.933,0.346-5.416,0.912-8.241c0.636-3.104,0.201-5.938-0.635-8.932c-0.505-1.881-1.127-3.838,0.628-5.177
      c1.466-1.103,2.856-1.513,3.423-3.465c0.773-2.707,0.491-5.873,0.461-8.655c-0.025-3.105-0.184-6.217-0.139-9.323
      c0.065-3.127,0.495-6.179,0.943-9.284c0.44-3.105,0.52-6.219,0.56-9.353c0.039-2.672,0.211-5.291,0.407-7.95
      c0.146-1.903,0.146-3.927,0.976-5.696c0.343-0.78,0.864-1.441,1.39-2.093c0.26,4.529-0.264,9.034-0.022,13.561
      c0.243,4.541,2.131,8.722,2.543,13.215c0.452,4.655-0.524,9.345-0.933,13.966c-0.428,4.727-0.414,9.44-0.072,14.17
      c0.316,4.643,0.191,8.933-0.876,13.485c-1.054,4.583-1.779,9.055-1.937,13.771c-0.31,9.454,0.507,18.84,0.404,28.278
      c-0.056,4.723-0.213,9.494-1.051,14.169c-0.797,4.48-2.271,8.785-3.907,13.007c-1.876,4.804-3.622,9.548-1.402,14.603
      c1.055,2.469,2.899,4.459,4.217,6.78c1.251,2.246,1.755,4.459,1.383,7.002c-0.325,2.112-0.916,4.603,1.028,6.099
      c2.318,1.771,5.271,1.948,8.057,1.847c3.161-0.108,6.251,0.21,9.4,0.188c2.458-0.014,5.758-0.824,6.113-3.822
      c0.182-1.532-0.475-3.004-0.679-4.507c-0.329-2.094,1.17-3.851,1.832-5.718c1.495-4.283,0.899-8.878,0.772-13.35
      c-0.15-5.246,0.681-10.47,1.504-15.639c0.346-2.214,0.698-4.419,1.001-6.646c0.346-2.646,0.662-5.277,0.938-7.938
      c0.355-3.396,1.427-6.678,1.825-10.075c0.355-2.967,0.478-5.974,0.698-8.946c0.313-3.748,1.126-7.437,2.181-11.029
      c1.376-4.736,2.352-9.554,2.938-14.466c0.494-4.155,0.296-8.358,0.632-12.52c0.353-4.54,0.843-9.047,1.342-13.56
      c0.275-2.551,0.565-5.123,0.849-7.68c0.237-2.241,0.464-4.44,0.636-6.687c0.21-2.769,0.388-5.521,0.547-8.283
      c0.157-2.882,0.289-5.777,0.468-8.685c0.112-2.08,0.23-4.158,0.35-6.246c0.332-5.708,0.85-11.486,0.85-17.209
      c0.104-1.96,0.091-4.057,0.44-5.99c0.612-3.458,1.423-6.88,1.667-10.394c0.264-3.651,0.297-7.299,0.573-10.941
      c0.191-2.332-0.606-5.126,0.217-7.348c0.291-0.752,3.519-3.341,4.355-2.875c1.33,0.751,1.555,1.826,1.555,3.271
      c0,1.94,0.059,3.89,0.19,5.838c0.112,1.881,0.29,3.97-0.401,5.82c-0.711,1.882-2.267,3.247-2.813,5.228
      c-0.48,1.691-0.936,3.408-1.403,5.127c-0.718,2.685-1.133,6.098-1.133,8.889c0,1.477-0.409,2.946-0.211,4.422
      c0.304,2.384,2.345,1.343,3.854,0.658c-0.461,0.219-0.309,1.859-0.573,2.293c-0.927,1.456-3.899,0.911-2.418,3.613
      c0.691,1.228,3.05,2.849,4.479,2.63c0.988-0.158,1.852-0.71,2.793-0.98c-0.381,0.098-0.941,1.414-1.141,1.784
      c-0.368,0.674-0.855,1.54-0.064,2.128c1.781,1.292,2.896,0.218,3.965-1.341c0.482-0.71,0.864-1.659,1.569-2.204
      c1.271-0.928,2.72-0.874,3.88-2.113c4.006-4.241,3.445-10.033,3.626-15.413c0.076-2.896,0.353-5.779,0.711-8.641
      c0.162-1.262-0.145-3.048,1.253-3.703c1.402-0.648,3.172,0.417,4.568-0.516c1.805-1.216,1.633-5.824,1.564-7.689
      c-0.069-3.174-0.534-6.327-0.609-9.5c-0.061-3.382,0.072-6.749,0.461-10.103c0.441-3.825,0.541-7.622,0.761-11.478
      c0.215-4.47,0.523-8.97,0.176-13.442c-0.617-7.819-2.406-15.511-3.166-23.323c-0.214-2.13-0.353-4.257-0.479-6.4
      c-0.319-5.411-0.804-10.771-2.319-15.978c-1.909-6.721-4.143-13.314-6.054-20.014c-0.579-2-1.166-3.982-1.812-5.96
      c-0.633-1.923-1.331-3.828-2.062-5.713c-0.909-2.304-1.818-4.594-2.603-6.952c-0.619-1.937-1.109-3.97-2.21-5.679
      c-1.196-1.875-3.126-2.992-4.776-4.363c-1.466-1.222-2.73-2.667-4.38-3.621c-1.743-0.995-3.681-1.492-5.537-2.168
      c-3.505-1.295-6.997-2.875-10.19-4.833c-3.466-2.12-6.727-4.82-10.68-5.965c-1.949-0.552-4.125-0.908-5.191-2.931
      c-1.172-2.211,0.218-4.384,1.759-5.958c3.123-3.206,3.442-7.692,3.162-11.971c-0.218-3.537,0.691-6.988,0.731-10.515
      c0.047-5.994-4.65-10.4-9.123-13.456c-1.747-1.172-3.545-2.521-5.606-2.98c-2.398-0.522-4.639,0.459-6.997,0.677
      c-2.342,0.218-4.732,0.231-6.967,1.062c-2.46,0.915-4.096,2.879-5.669,4.938c-1.712,2.249-3.523,4.662-3.933,7.593
      c-0.493,3.534-1.906,7.171,0.106,10.497c0.546,0.902,1.237,1.726,1.554,2.727c0.514,1.586,0.211,3.313,0.762,4.923
      c0.523,1.567,1.409,2.974,2.15,4.432c1.014,1.964,1.61,4.185,3.297,5.699c4.167,3.727-2.901,5.535-4.659,7.622
      c-2.123,2.508-3.821,4.951-6.404,7.002c-1.937,1.521-4.058,2.816-6.272,3.833c-2.305,1.056-4.749,1.683-7.021,2.774
      c-3.182,1.5-6.91,3.789-9.381,6.34c-2.045,2.086-3.344,4.811-4.879,7.292c-1.92,3.108-3.581,6.41-4.852,9.856
      c-0.698,1.91-1.291,3.874-1.744,5.862c-0.509,2.297-0.97,4.608-1.49,6.905c-0.691,2.939-1.337,5.884-2.008,8.813
      c-0.462,2.046-0.896,4.093-1.306,6.158c-0.942,4.722-1.581,9.521-2.404,14.276c-1.054,6.191-2.149,12.356-3.104,18.55
      c-0.342,2.155-0.636,4.323-0.796,6.518c-0.251,3.436,0.025,6.876-0.218,10.321c-0.212,2.889-1.028,5.597-1.628,8.411
      c-0.632,2.928-1.229,5.848-1.558,8.839c-0.451,4.17-0.536,8.387-0.773,12.563c-0.106,2.099-0.211,4.195-0.271,6.281
      c-0.082,2.553-0.164,5.114-0.244,7.664c-0.145,3.686-0.323,7.385-0.572,11.055c-0.133,1.68-0.353,3.392-0.422,5.068
      c-0.069,1.563,0.711,2.941,0.74,4.458c0.033,1.687-0.526,3.323-0.698,4.982c-0.182,1.656-0.214,3.309-0.282,4.966
      c-0.1,2.56-0.133,6.219,2.216,7.864c1.335,0.938,2.654,1.143,2.414,3.13c-0.3,2.415-1.527,4.943-2.302,7.264
      c-0.686,2.095-1.623,4.199-3.863,4.835c-2.566,0.744-4.971,2.036-7.534,2.697c-2.114,0.545-4.327,0.457-6.491,0.591
      c-1.618,0.103-5.966,1.395-5.591-1.657c0.116-0.994,1.134-1.333,1.846-1.807c0.898-0.606,1.649-1.374,2.322-2.199
      c2.812-3.539,4.042-8.404,3.976-12.919c-0.037-1.614-0.066-3.253-0.363-4.851c-0.289-1.518-1.021-2.598-1.587-4.002
      c-0.32-0.769-0.353-1.711,0.662-1.307c1.011,0.396,1.334,1.789,2.536,2c0.098-0.072,0.068-0.132,0.017-0.247
      c-1.779-3.706-5.462-4.573-8.65-6.46c0.171,0.093,0.495-1.484,0.479-1.683c-0.122-0.556-0.623-0.954-1.052-1.279
      c-1.195-0.966-2.714-1.563-4.078-2.214c0.514,0.244,3.842,3.537,2.202,3.537c-2.178,0-3.842-2.629-6.042-3.038
      c-1.226-0.229-2.489-0.377-3.732-0.513c-0.49-0.042-0.958-0.1-1.458-0.107c-0.316-0.006-1.574,0.312-1.762,0.184
      c0.875,0.582,2.146,0.505,3.003,1.084c-2.045,0.32-4.207,0.304-6.274,0.604c-3.887,0.561-7.536,2.785-11.149,4.257
      c0.761,0.098,1.973,0.115,2.528,0.653c-0.114-0.112-1.899,3.256-2.006,3.69c-0.349,1.867-0.354,3.706-0.783,5.566
      c-0.465,1.968,0.844,4.5-0.527,6.138c-1.732,2.064-2.181,3.823-1.893,6.536c0.18,1.713-0.284,3.682,0.829,5.149
      c0.573,0.752,2.73,1.851,1.195,2.755c-0.981,0.589-2.411,0.284-3.445,0.777c-2.378,1.09-5.007,3.039-6.937,4.852
      c-1.479,1.429-1.644,3.601-3.054,5.012c-1.328,1.329-3.257,2.635-4.892,3.487c-1.37,0.718-2.964,0.631-4.342,1.289
      c-1.376,0.654-2.12,1.987-3.422,2.742c-2.025,1.188-4.486,1.261-6.723,1.688c-2.227,0.378-4.288,1.275-6.479,1.812
      c-2.546,0.65-4.776,0.143-7.355,0.284c-1.478,0.068-3.165,0.911-4.604,0.208c-0.659-0.329-1.081-1.37-1.496-1.939
      c-0.954-1.256-2.457-2.078-3.445-3.315c-2.398-2.995,1.957-3.444,1.611-6.714c-0.241-2.428-1.611-4.546-2.184-6.881
      c-0.655-2.667-0.774-5.412-1.581-8.012c-0.857-2.734-1.792-5.446-2.8-8.134c-1.548-3.85-3.739-7.437-5.257-11.334
      c-1.673-4.251-3.025-8.621-4.328-13.005c-3.429-11.489-8.002-22.978-19.234-28.483c-2.681-1.303-4.128-4.092-6.942-5.3
      c-2.746-1.189-6.05-1.604-8.959-0.753c-0.145,0.056,0.73-3.571,1.036-3.99c0.884-1.269,2.263-2.172,3.231-3.395
      c5.768-7.293,10.241-22.451,4.239-30.87c-2.309-3.246-4.432-5.263-8.256-6.163c-4.992-1.184-13.327-3.791-17.654,0.533
      c-1.029,1.037-1.741,2.35-2.88,3.351c-3.019,2.688-3.677,4.833-3.794,8.886C18.023-3.846,16.67,3,20.36,8.616
      c1.784,2.728,2.928,5.402,3.338,8.69c-1.945,0.176-3.27,1.673-4.573,2.969c-1.419,1.372-2.894,2.071-4.645,2.923
      c-5.082,2.479-10.557,4.536-14.661,8.609c-4.705,4.692-6.51,11.073-10.389,16.276c-1.579,2.106-3.572,3.839-5.097,5.991
      c-2.303,3.315-5.939,4.661-9.781,4.661c-0.857,0-2.971,0.218-2.559-1.203c0.396-1.362,2.559-0.922,3.579-1.313
      c4.278-1.659,3.332-7.242,3.537-10.875c0.084-1.699,1.249-2.619,2.263-3.759c1.262-1.428,1.893-2.917,2.044-4.837
      c0.453-5.723-2.502-11.914-3.696-17.451c-1.319-6.15-2.278-12.407-2.921-18.668c-0.551-5.545-0.261-11.128-1.023-16.649
      c-0.775-5.574-2.138-11.062-2.847-16.655c-0.816-6.334-0.685-12.771-1.089-19.128c-0.272-4.158-0.536-8.312-0.722-12.469
      c-0.28-6.107-0.691-12.216-1.625-18.262c-1.525-9.897-6.935-19.848-16.678-22.934c-2.736-0.884-5.681-1.248-8.341-2.346
      c-3.657-1.517-3.627-5.779-7.448-6.946c-2.202-0.684,3.364,4.414,1.204,2.807c0.206,0.026-0.255-1.183-1.204-2.807
      c0.064-1.808,0.527-2.384-0.364-4.698c0.682-2.665-1.596-0.949-2.057-6.129c1.811-2.4,2.631-3.447,3.73-6.469
      c1.378-3.79-0.85-8.374-1.764-12.024c-0.659-2.687-0.331-5.523-0.729-8.271c-0.445-3.048-2.378-5.489-4.007-7.955
      c-1.487-2.249-2.81-4.677-4.819-6.496c-3.185-2.862-7.807-3.25-11.839-2.952c-3.792,0.275-8.977,0.112-12.173,2.509
      c-1.461,1.097-1.947,2.87-2.974,4.324c-1.194,1.69-3.094,2.768-4.022,4.669c-1.082,2.225-0.493,4.875-1.564,7.097
      c-1.741,3.62-4.04,6.189-4.622,10.321c-0.609,4.514,0.254,9.122,0.836,13.581c0.341,2.662,0.146,5.889,1.427,8.301
      c1.029,1.958,0.135,1.521-0.513,5.46c-1.871,3.928,0,0-1.969,2.037c-1.957,2.013-3.471,3.6-6.401,3.803
      c-7.764,0.572-16.379,3.947-20.258,11.274c-1.64,3.109-2.587,6.587-3.636,9.94c-1.069,3.458-2.031,6.968-2.429,10.581
      c-0.876,8.044-1.632,16.076-2.582,24.12c-0.672,5.742-0.511,11.745-0.763,17.548c-0.341,7.874-1.339,15.598-2.298,23.424
      c-0.26,2.169-0.492,4.334-0.67,6.517c-0.315,3.957-0.089,7.895-0.089,11.859c0,3.487,0,6.944,0.089,10.422
      c0.152,6.163-1.016,12.229-2.365,18.233c-0.341,1.5-0.665,3.149-0.328,4.691C-152.127,41.103-152.086,41.225-152.06,41.357z
       M155.159,198.119c0.157-1.731,1.247-3.627,2.388-1.144c0.988,2.151,0.948,5.015,1.017,7.343c0.093,2.639,0.106,5.339-0.146,7.957
      c-0.028,0.221-0.055,0.42-0.085,0.633c-0.322,2.092-1.1,4.352-0.309,6.354c-0.778-2.003-1.996-3.828-2.601-5.901
      c-0.647-2.236,0-4.487-0.173-6.787C155.046,203.763,154.902,200.929,155.159,198.119z M-95.216,158.218
      c0.699-10.354,0.337-20.728,0.379-31.108c0.026-7.896-2.297-17.82,3.396-24.322c0.911,6.638,0.502,13.496,0.267,20.205
      c-0.173,4.94,1.069,9.747,1.885,14.562c0.809,4.721,0.755,9.167,0.357,13.937c-0.44,5.427-0.904,10.875-1.367,16.309
      c-0.39,4.607,0.062,44.104-6.736,43.377C-101.931,205.51-95.68,165.287-95.216,158.218z"/>
    <g>
      <g>
        <g>
          <g>
            <defs>
              <path id="SVGID_1_" d="M-108.691-120.233c0,0-0.014-0.014-0.014,0C-108.701-120.125-108.695-120.154-108.691-120.233z
                 M-152.06,41.357c0.425,1.379,1.419,2.36,1.991,3.68c0.529,1.22,0.384,2.529,0.425,3.825c0.068,1.726,0.104,3.458,0.344,5.168
                c0.371,2.671,1.056,5.339,2.363,7.709c0.611,1.108,1.248,2.321,2.204,3.167c1.406,1.257,4.87,2.044,6.688,1.805
                c2.345-0.318,1.103-1.652,0.226-2.869c-1.09-1.541-0.994-3.661-2.826-4.58c-4.062-2.059-4.432-10.591-0.28-12.632
                c1.126-0.548,2.833-0.426,3.821-1.067c2.456-1.577,1.229-5.938,0.651-8.197c-0.876-3.334-0.597-6.476,0.102-9.818
                c0.92-4.459,1.612-8.905,2.36-13.405c1.215-7.308,2.888-14.496,4.828-21.64l2.401-9.163c-0.554,2.085-0.638,4.41-0.954,6.544
                c-0.321,2.249-0.637,4.5-0.952,6.748c-0.37,2.549-1.281,4.965-2.07,7.408c-0.817,2.533-1.187,5.048-1.64,7.674
                c-0.266,1.583-0.651,3.167-0.493,4.791c0.142,1.487,1.448,2.194,1.396,3.791c-0.054,1.491-0.348,2.946-0.464,4.404
                c-0.167,2.093-0.348,4.182-0.385,6.282c-0.101,4.063,0.665,7.999,0.975,12.029c0.466,5.935-0.332,12.424,1.394,18.157
                c0.512,1.725,1.088,3.392,1.732,5.114c0.759,2.01,0.584,4.39,0.702,6.51c0.294,5.338,0.625,10.67,0.546,16.036
                c-0.054,3.956-0.356,7.877-0.496,11.81c-0.151,4.117-0.122,8.2,0.071,12.318c0.105,2.386,0.212,4.811,0.105,7.203
                c-0.166,3.947-1.208,7.734-1.499,11.66c-0.306,3.967-0.319,7.942-0.411,11.918c-0.185,8.692-0.279,17.396-0.239,26.105
                c0.026,1.842,0.091,3.688,0.091,5.557c0.082,3.031-1.096,8.892,2.456,10.433c0.267,0.109,3.346,0.793,3.414,0.576
                c-0.984,3.038-1.5,6.266-1.345,9.454c0.077,1.542,0.337,3.092,0.853,4.561c0.532,1.461,1.514,2.702,1.977,4.202
                c0.466,1.515,0.466,3.108,0.534,4.654c0.212,4.405,1.179,8.832,2.114,13.121c0.912,4.101,1.707,8.147,3.419,11.984
                c1.299,2.901,2.834,4.817,5.867,5.771c3.622,1.157,7.393,1.219,10.772-0.723c2.291-1.327,4.5-3.025,5.091-5.786
                c0.535-2.531,0.039-5.353-0.653-7.795c-0.505-1.783-1.169-3.521-1.938-5.184c-1.022-2.209-2.098-4.724-2.601-7.122
                c-0.549-2.534,1.785-2.178,3.45-2.51c1.221-0.251,3.902-1.145,4.578,0.53c0.772,1.881-0.267,4.981-0.432,6.994
                c-0.112,1.396-0.219,2.818-0.338,4.216c-0.041,0.504-0.637,3.991-0.34,4.232l0.92,0.71c0.44,0.345,0.24,3.336,0.28,3.99
                c0.071,1.163,0.132,2.37,0.357,3.521c0.858,4.287,4.382,5.417,8.23,5.399c3.479-0.041,7.951,1.808,10.632-1.44
                c1.815-2.213,2.083-5.075,2.111-7.851c1.487-0.298,2.984-0.07,4.499-0.148c1.022-0.03,1.427-0.057,1.646-1.097
                c0.823-4.216,1.194-8.729,0.729-13.013c-0.308-2.842-0.914-5.684-0.772-8.572c0.226-4.147,1.133-8.215,1.706-12.333
                c0.537-3.785,1.309-7.518,1.886-11.296c0.338-2.228,0.609-4.443,0.748-6.687c0.173-2.818,0.2-5.65,0.2-8.454
                c0.067-3.381,0.253-6.741,0.318-10.104c0.081-5.428-0.139-10.871-0.139-16.294c0.006-3.116,0.071-6.27,0.232-9.386
                c0.132-2.402,0.351-4.813,0.729-7.18c0.347-2.186,0.784-4.351,1.167-6.535c1.282-7.019,1.323-14.222,2.564-21.26
                c0.371-2.076,0.809-4.116,1.22-6.174c1.578-7.788,2.868-15.648,4.361-23.458c0.577-2.974,1.16-5.983,1.72-8.961
                c0.83-4.43,0.742-9.02,1.757-13.389c0.537-2.294,1.697-4.434,1.943-6.793c0.583-5.346-0.637-10.754-0.078-16.132
                c0.239-2.324,1.316-3.869,2.378-5.848c1.316-2.473,0.267-4.982,1.14-7.49c-0.378,1.831,0.226,3.798,0.267,5.659
                c0.054,2.225,0.078,4.437,0.107,6.662c0.131,5.97,0.079,11.936-0.007,17.908c-0.013,0.793-0.02,1.599-0.033,2.386l3.08,0.357
                l3.784,0.707l3.306,0.473c-0.922-0.129-1.779,4.69-2.335,5.279c-1.262,1.385-3.258-0.198-4.638-0.502
                c-2.859-0.645-2.948,3.018-4.12,4.691c-0.811,1.188-2.059,2.827-1.91,4.376c0.131,1.409,1.433,1.583,2.496,2.008
                c-1.249,1.781-1.127,2.98,0.466,4.621c0.995,1.009,2.069,1.951,3.382,2.492c1.535,0.651,3.544-0.284,4.472,1.5
                c0.952,1.802,0.865,4.109,1.714,5.99c0.728,1.624,1.712,3.109,3.318,3.938c1.886,0.969,4.116,0.897,6.105,1.486
                c3.009,0.879,6.199,1.242,9.292,0.615c1.653-0.325,3.306-1.082,4.635-2.15c1.989-1.618,2.841-3.938,3.835-6.245
                c1.088-2.506,2.668-4.345,4.526-6.268c1.221-1.278,2.32-2.711,3.066-4.337c0.789-1.718,0.862-3.451,1.181-5.27
                c0.352-1.991,0.796-3.96,1.008-5.976c0.266,7.14,1.673,14.333,0.444,21.457c-0.458,2.712-1.369,5.36-2.53,7.856
                c-1.049,2.274-2.359,4.453-2.879,6.964c-0.516,2.537-0.268,5.268,0.283,7.788c1.036,4.689,3.619,8.776,5.006,13.365
                c0.496,1.657,0.815,3.376,0.87,5.114c0.055,1.584-0.041,3.175,0.502,4.696c0.473,1.313,1.406,2.349,1.976,3.6
                c0.584,1.259,0.837,2.7,0.985,4.095c0.351,3.065,0.172,6.231,1.393,9.094c0.769,1.779,1.722,3.512,2.135,5.417
                c0.81,3.613,0.206,7.816,0.347,11.5c0.167,4.551,0.467,9.08,0.702,13.625c0.122,2.307,0.2,4.615,0.227,6.905
                c0.04,4.601,0.021,9.216,0.623,13.79c0.877,6.625,4.17,12.708,1.528,19.407c-0.837,2.137-1.207,4.349-0.89,6.639
                c0.502,3.644,1.527,7.158,1.885,10.813c0.294,2.961,0.597,5.705,2.577,8.053c1.056,1.228-0.253,2.483-1.407,3.045
                c-0.917,0.446-1.947,0.589-2.311,1.705c-0.351,1.082,0.273,2.28,1.016,3.052c1.858,1.907,5.632,2.53,8.107,2.856
                c1.639,0.235,3.75,0.365,5.295-0.359c0.708-0.355,1.2-0.874,1.56-1.598c0.094-0.198,0.834-2.151,0.696-2.239
                c0.817,0.446,1.097,0.582,1.495,1.448c0.22,0.494,0.547,0.805,0.989,1.063c1.915,1.041,4.684,0.652,6.775,0.54
                c2.597-0.148,5.13-0.939,5.576-3.917c0.397-2.632-0.557-5.285-0.412-7.938c0.146-2.834,1.382-5.326,1.208-8.241
                c-0.206-3.404,1.345-7.004,0.246-10.34c-0.915-2.815-2.489-5.417-1.784-8.513c0.769-3.339,2.709-6.259,3.65-9.521
                c1.207-4.169,0.479-8.532,1.515-12.688c0.638-2.561,1.899-4.933,2.583-7.497c0.666-2.518,0.63-5.068,0.897-7.63
                c0.41-3.948,1.62-7.747,2.787-11.511c2.04-6.604,3.572-13.579,4.127-20.489c0.166-1.867,0.253-3.762,0.227-5.643
                c-0.015-4.538-0.759-9.225-2.114-13.541c-0.595-1.867-1.921-3.932-1.444-5.975c0.518-2.224,3.13-1.466,4.354-2.813
                c1.113-1.244,0.731-3.39,0.607-4.892c-0.25-2.988,0.074-5.988-0.304-8.966c-0.479-3.616-1.335-7.001-2.296-10.516
                c0.357,1.27,1.314,2.643,1.899,3.827c0.634,1.3,1.288,2.584,2.015,3.826c1.451,2.425,3.145,4.692,4.528,7.162
                c1.674,2.953,3.862,5.745,5.15,8.882c0.193,0.474,0.728,4.96,0.438,4.879c1.29,0.312,2.322,0.111,2.19,1.63
                c-0.125,1.252-0.158,2.527-0.171,3.81c-0.02,2.985,0.303,6.104,0.619,9.062c0.218,2.022,0.91,4.263,3.241,4.405
                c1.588,0.098,3.215,0.261,4.792,0.014c1.499-0.224,2.771-1.662,4.22-1.76c0.425-0.037,1.489,1.637,1.904,1.914
                c1.884,1.242,4.838,0.405,6.765-0.34c2.006-0.752,3.781,0.676,5.661,1.129c2.508,0.626,5.545-0.026,8.141-0.206
                c4.513-0.233,11.331,0.135,14.881-3.323c0.583-0.561,1.812-2.689,2.854-2.121c1.033,0.569-0.014,2.604-0.198,3.394
                c-0.504,2.023,0.89,3.37,1.028,5.359c0.144,1.804-0.844,3.45-1.193,5.19c-0.342,1.542,0.146,3.011,0.468,4.537
                c0.35,1.552,0.35,3.079,0,4.648c-0.329,1.462-0.731,3.336,0.916,4.131c-0.072-0.033-1.653,8.75-1.772,9.487
                c-0.099,0.581-0.23,1.17-0.282,1.773c-0.366,3.765-0.455,7.578-0.053,11.338c0.21,2.249,0.632,4.509,1.008,6.735
                c0.622,3.979,1.344,7.938,2.063,11.909c1.358,7.693,2.358,15.516,3.01,23.311c0.249,3.047,0.49,6.158,0.263,9.23
                c-0.21,2.761-1.14,5.414-1.35,8.16c-0.108,1.354,0.349,2.66,1.634,3.293c1.752,0.879,2.377,1.435,1.555,3.487
                c-0.843,2.102-1.199,4.223,1.601,4.74c3.569,0.663,7.675,1.06,11.285,0.491c3.663-0.568,1.297-4.104,2.135-6.348
                c0.553-1.401,2.22-1.435,3.372-1.002c1.341,0.508,2.164,1.585,2.164,3.079c-0.014,5.234,7.873,4.744,10.948,2.741
                c1.934-1.255,2.011-3.532,2.75-5.529c0.534-1.369,1.622-2.428,2.06-3.822c0.518-1.59,0.261-3.369,0.159-4.995
                c-0.146-2.15-0.451-4.231-0.857-6.34c-0.933-4.889-1.969-10.008-1.146-14.998c0.524-3.275,0.656-6.604,0.597-9.907
                c-0.072-3.051-0.555-6.19-0.026-9.212c0.409-2.337,1.563-4.438,2.029-6.767c0.53-2.748,0.138-5.539,0.354-8.299
                c0.157-1.99,0.719-3.892,1.214-5.83c0.408-1.56,0.567-3.391,1.334-4.818c1.14-2.104,3.627-2.658,4.342-5.122
                c0.728-2.518,0.069-5.155,0.129-7.693c0.06-2.095,0.941-3.994,1.581-5.928c1.607-4.71,2.067-9.237,0.958-14.144
                c-0.748-3.309-1.815-6.786-0.662-10.139c0.546-1.604,1.845-2.669,3.017-3.746c1.005-0.94,1.703-2.216,2.722-3.104
                c0.964-0.868,2.298-0.844,3.493-0.979c2.56-0.322,4.155-2.024,5.974-3.742c2.167-2.074,5.743-1.563,7.516-4.04
                c1.156-1.634,1.508-3.704,1.759-5.664c0.165-1.266,0.228-2.53,0.329-3.793c0.31-3.684,0.323-7.541,0.877-11.164
                c0.23-1.476,1.97-1.11,2.18-2.633c0.264-1.807-1.196-3.683-0.243-5.415c0.017-0.053,1.956-0.029,2.188-0.101
                c3.108-0.947,0.737-4.543,0.205-6.434c-0.779-2.827-0.792-5.487-0.117-8.35c0.334-1.326,0.61-1.433,1.901-1.895
                c0.376-0.325-0.072-3.551-0.079-4.047c-0.034-1.663-0.086-3.329-0.046-5.006c0.145-5.09,2.608-9.63,3.161-14.665
                c0.827-7.391,3.822-14.218,4.711-21.567c0.332-2.728,0.491-5.475,0.554-8.215c0.056-2.916,0.075-5.904,1.008-8.698
                c1.119-3.313,2.842-6.362,4.037-9.64c-0.31,1.31-0.112,2.834-0.157,4.186c-0.073,1.659-0.139,3.329-0.212,4.989
                c-0.138,3.259-0.249,6.535-0.367,9.805c-0.244,7.071-0.337,14.172-0.554,21.254c-0.079,3.222-0.382,6.522-0.033,9.725
                c0.639,0.149,1.337,0.135,1.989,0.271c0.214,3.148-0.791,6.191-0.316,9.372c0.469,3.118,1.417,6.156,1.391,9.33
                c-0.014,3.408-0.494,6.807-0.632,10.21c-0.159,4.296-0.222,8.606-0.29,12.897c-0.119,8.889-2.097,17.594-0.766,26.512
                c0.27,1.831,0.771,3.739,1.846,5.271c0.89,1.241,2.477,2.241,2.696,3.898c0.308,2.263-2.019,4.165-2.104,6.534
                c-0.093,2.662,0.783,5.254,0.771,7.916c-0.02,2.93-0.304,5.847-0.606,8.764c-0.422,4.304-0.697,8.607-0.919,12.925
                c-0.139,2.441-0.257,4.878-0.357,7.304c-0.216,4.354-0.448,8.719-0.494,13.072c-0.048,2.697,0,5.417,0.164,8.127
                c0.158,2.683,0.475,5.377,1.047,8.016c0.514,2.405,1.409,4.683,2.635,6.794c0.356,0.616,1.312,2.7,2.154,2.7
                c-1.547-0.018-2.882,2.582-3.294,3.826c-0.633,1.979-0.494,4.216,0.072,6.205c0.636,2.284,2.553,4.202,1.993,6.743
                c-1.012,4.621-3.205,8.735-5.253,12.945c-2.392,4.977-4.006,13.37,1.277,17.227c4.681,3.412,11.95,3.296,16.838,0.491
                c2.342-1.363,4.921-3.231,5.929-5.894c1.516-4.033,0.376-8.896,0.956-13.142c0.468-3.478,2.114-5.261,4.559-7.467
                c5.085-4.573,3.854-13.354,1.298-18.956c-1.15-2.505-1.613-4.714-0.475-7.333c1.094-2.527,2.794-4.665,3.512-7.361
                c1.37-5.241,0.889-10.962,0.474-16.294c-0.237-3.147-0.072-6.283-0.072-9.443c-0.013-3.039-0.705-5.9-1.087-8.889
                c-0.386-2.933,0.346-5.416,0.912-8.241c0.636-3.104,0.201-5.938-0.635-8.932c-0.505-1.881-1.127-3.838,0.628-5.177
                c1.466-1.103,2.856-1.513,3.423-3.465c0.773-2.707,0.491-5.873,0.461-8.655c-0.025-3.105-0.184-6.217-0.139-9.323
                c0.065-3.127,0.495-6.179,0.943-9.284c0.44-3.105,0.52-6.219,0.56-9.353c0.039-2.672,0.211-5.291,0.407-7.95
                c0.146-1.903,0.146-3.927,0.976-5.696c0.343-0.78,0.864-1.441,1.39-2.093c0.26,4.529-0.264,9.034-0.022,13.561
                c0.243,4.541,2.131,8.722,2.543,13.215c0.452,4.655-0.524,9.345-0.933,13.966c-0.428,4.727-0.414,9.44-0.072,14.17
                c0.316,4.643,0.191,8.933-0.876,13.485c-1.054,4.583-1.779,9.055-1.937,13.771c-0.31,9.454,0.507,18.84,0.404,28.278
                c-0.056,4.723-0.213,9.494-1.051,14.169c-0.797,4.48-2.271,8.785-3.907,13.007c-1.876,4.804-3.622,9.548-1.402,14.603
                c1.055,2.469,2.899,4.459,4.217,6.78c1.251,2.246,1.755,4.459,1.383,7.002c-0.325,2.112-0.916,4.603,1.028,6.099
                c2.318,1.771,5.271,1.948,8.057,1.847c3.161-0.108,6.251,0.21,9.4,0.188c2.458-0.014,5.758-0.824,6.113-3.822
                c0.182-1.532-0.475-3.004-0.679-4.507c-0.329-2.094,1.17-3.851,1.832-5.718c1.495-4.283,0.899-8.878,0.772-13.35
                c-0.15-5.246,0.681-10.47,1.504-15.639c0.346-2.214,0.698-4.419,1.001-6.646c0.346-2.646,0.662-5.277,0.938-7.938
                c0.355-3.396,1.427-6.678,1.825-10.075c0.355-2.967,0.478-5.974,0.698-8.946c0.313-3.748,1.126-7.437,2.181-11.029
                c1.376-4.736,2.352-9.554,2.938-14.466c0.494-4.155,0.296-8.358,0.632-12.52c0.353-4.54,0.843-9.047,1.342-13.56
                c0.275-2.551,0.565-5.123,0.849-7.68c0.237-2.241,0.464-4.44,0.636-6.687c0.21-2.769,0.388-5.521,0.547-8.283
                c0.157-2.882,0.289-5.777,0.468-8.685c0.112-2.08,0.23-4.158,0.35-6.246c0.332-5.708,0.85-11.486,0.85-17.209
                c0.104-1.96,0.091-4.057,0.44-5.99c0.612-3.458,1.423-6.88,1.667-10.394c0.264-3.651,0.297-7.299,0.573-10.941
                c0.191-2.332-0.606-5.126,0.217-7.348c0.291-0.752,3.519-3.341,4.355-2.875c1.33,0.751,1.555,1.826,1.555,3.271
                c0,1.94,0.059,3.89,0.19,5.838c0.112,1.881,0.29,3.97-0.401,5.82c-0.711,1.882-2.267,3.247-2.813,5.228
                c-0.48,1.691-0.936,3.408-1.403,5.127c-0.718,2.685-1.133,6.098-1.133,8.889c0,1.477-0.409,2.946-0.211,4.422
                c0.304,2.384,2.345,1.343,3.854,0.658c-0.461,0.219-0.309,1.859-0.573,2.293c-0.927,1.456-3.899,0.911-2.418,3.613
                c0.691,1.228,3.05,2.849,4.479,2.63c0.988-0.158,1.852-0.71,2.793-0.98c-0.381,0.098-0.941,1.414-1.141,1.784
                c-0.368,0.674-0.855,1.54-0.064,2.128c1.781,1.292,2.896,0.218,3.965-1.341c0.482-0.71,0.864-1.659,1.569-2.204
                c1.271-0.928,2.72-0.874,3.88-2.113c4.006-4.241,3.445-10.033,3.626-15.413c0.076-2.896,0.353-5.779,0.711-8.641
                c0.162-1.262-0.145-3.048,1.253-3.703c1.402-0.648,3.172,0.417,4.568-0.516c1.805-1.216,1.633-5.824,1.564-7.689
                c-0.069-3.174-0.534-6.327-0.609-9.5c-0.061-3.382,0.072-6.749,0.461-10.103c0.441-3.825,0.541-7.622,0.761-11.478
                c0.215-4.47,0.523-8.97,0.176-13.442c-0.617-7.819-2.406-15.511-3.166-23.323c-0.214-2.13-0.353-4.257-0.479-6.4
                c-0.319-5.411-0.804-10.771-2.319-15.978c-1.909-6.721-4.143-13.314-6.054-20.014c-0.579-2-1.166-3.982-1.812-5.96
                c-0.633-1.923-1.331-3.828-2.062-5.713c-0.909-2.304-1.818-4.594-2.603-6.952c-0.619-1.937-1.109-3.97-2.21-5.679
                c-1.196-1.875-3.126-2.992-4.776-4.363c-1.466-1.222-2.73-2.667-4.38-3.621c-1.743-0.995-3.681-1.492-5.537-2.168
                c-3.505-1.295-6.997-2.875-10.19-4.833c-3.466-2.12-6.727-4.82-10.68-5.965c-1.949-0.552-4.125-0.908-5.191-2.931
                c-1.172-2.211,0.218-4.384,1.759-5.958c3.123-3.206,3.442-7.692,3.162-11.971c-0.218-3.537,0.691-6.988,0.731-10.515
                c0.047-5.994-4.65-10.4-9.123-13.456c-1.747-1.172-3.545-2.521-5.606-2.98c-2.398-0.522-4.639,0.459-6.997,0.677
                c-2.342,0.218-4.732,0.231-6.967,1.062c-2.46,0.915-4.096,2.879-5.669,4.938c-1.712,2.249-3.523,4.662-3.933,7.593
                c-0.493,3.534-1.906,7.171,0.106,10.497c0.546,0.902,1.237,1.726,1.554,2.727c0.514,1.586,0.211,3.313,0.762,4.923
                c0.523,1.567,1.409,2.974,2.15,4.432c1.014,1.964,1.61,4.185,3.297,5.699c4.167,3.727-2.901,5.535-4.659,7.622
                c-2.123,2.508-3.821,4.951-6.404,7.002c-1.937,1.521-4.058,2.816-6.272,3.833c-2.305,1.056-4.749,1.683-7.021,2.774
                c-3.182,1.5-6.91,3.789-9.381,6.34c-2.045,2.086-3.344,4.811-4.879,7.292c-1.92,3.108-3.581,6.41-4.852,9.856
                c-0.698,1.91-1.291,3.874-1.744,5.862c-0.509,2.297-0.97,4.608-1.49,6.905c-0.691,2.939-1.337,5.884-2.008,8.813
                c-0.462,2.046-0.896,4.093-1.306,6.158c-0.942,4.722-1.581,9.521-2.404,14.276c-1.054,6.191-2.149,12.356-3.104,18.55
                c-0.342,2.155-0.636,4.323-0.796,6.518c-0.251,3.436,0.025,6.876-0.218,10.321c-0.212,2.889-1.028,5.597-1.628,8.411
                c-0.632,2.928-1.229,5.848-1.558,8.839c-0.451,4.17-0.536,8.387-0.773,12.563c-0.106,2.099-0.211,4.195-0.271,6.281
                c-0.082,2.553-0.164,5.114-0.244,7.664c-0.145,3.686-0.323,7.385-0.572,11.055c-0.133,1.68-0.353,3.392-0.422,5.068
                c-0.069,1.563,0.711,2.941,0.74,4.458c0.033,1.687-0.526,3.323-0.698,4.982c-0.182,1.656-0.214,3.309-0.282,4.966
                c-0.1,2.56-0.133,6.219,2.216,7.864c1.335,0.938,2.654,1.143,2.414,3.13c-0.3,2.415-1.527,4.943-2.302,7.264
                c-0.686,2.095-1.623,4.199-3.863,4.835c-2.566,0.744-4.971,2.036-7.534,2.697c-2.114,0.545-4.327,0.457-6.491,0.591
                c-1.618,0.103-5.966,1.395-5.591-1.657c0.116-0.994,1.134-1.333,1.846-1.807c0.898-0.606,1.649-1.374,2.322-2.199
                c2.812-3.539,4.042-8.404,3.976-12.919c-0.037-1.614-0.066-3.253-0.363-4.851c-0.289-1.518-1.021-2.598-1.587-4.002
                c-0.32-0.769-0.353-1.711,0.662-1.307c1.011,0.396,1.334,1.789,2.536,2c0.098-0.072,0.068-0.132,0.017-0.247
                c-1.779-3.706-5.462-4.573-8.65-6.46c0.171,0.093,0.495-1.484,0.479-1.683c-0.122-0.556-0.623-0.954-1.052-1.279
                c-1.195-0.966-2.714-1.563-4.078-2.214c0.514,0.244,3.842,3.537,2.202,3.537c-2.178,0-3.842-2.629-6.042-3.038
                c-1.226-0.229-2.489-0.377-3.732-0.513c-0.49-0.042-0.958-0.1-1.458-0.107c-0.316-0.006-1.574,0.312-1.762,0.184
                c0.875,0.582,2.146,0.505,3.003,1.084c-2.045,0.32-4.207,0.304-6.274,0.604c-3.887,0.561-7.536,2.785-11.149,4.257
                c0.761,0.098,1.973,0.115,2.528,0.653c-0.114-0.112-1.899,3.256-2.006,3.69c-0.349,1.867-0.354,3.706-0.783,5.566
                c-0.465,1.968,0.844,4.5-0.527,6.138c-1.732,2.064-2.181,3.823-1.893,6.536c0.18,1.713-0.284,3.682,0.829,5.149
                c0.573,0.752,2.73,1.851,1.195,2.755c-0.981,0.589-2.411,0.284-3.445,0.777c-2.378,1.09-5.007,3.039-6.937,4.852
                c-1.479,1.429-1.644,3.601-3.054,5.012c-1.328,1.329-3.257,2.635-4.892,3.487c-1.37,0.718-2.964,0.631-4.342,1.289
                c-1.376,0.654-2.12,1.987-3.422,2.742c-2.025,1.188-4.486,1.261-6.723,1.688c-2.227,0.378-4.288,1.275-6.479,1.812
                c-2.546,0.65-4.776,0.143-7.355,0.284c-1.478,0.068-3.165,0.911-4.604,0.208c-0.659-0.329-1.081-1.37-1.496-1.939
                c-0.954-1.256-2.457-2.078-3.445-3.315c-2.398-2.995,1.957-3.444,1.611-6.714c-0.241-2.428-1.611-4.546-2.184-6.881
                c-0.655-2.667-0.774-5.412-1.581-8.012c-0.857-2.734-1.792-5.446-2.8-8.134c-1.548-3.85-3.739-7.437-5.257-11.334
                c-1.673-4.251-3.025-8.621-4.328-13.005c-3.429-11.489-8.002-22.978-19.234-28.483c-2.681-1.303-4.128-4.092-6.942-5.3
                c-2.746-1.189-6.05-1.604-8.959-0.753c-0.145,0.056,0.73-3.571,1.036-3.99c0.884-1.269,2.263-2.172,3.231-3.395
                c5.768-7.293,10.241-22.451,4.239-30.87c-2.309-3.246-4.432-5.263-8.256-6.163c-4.992-1.184-13.327-3.791-17.654,0.533
                c-1.029,1.037-1.741,2.35-2.88,3.351c-3.019,2.688-3.677,4.833-3.794,8.886C18.023-3.846,16.67,3,20.36,8.616
                c1.784,2.728,2.928,5.402,3.338,8.69c-1.945,0.176-3.27,1.673-4.573,2.969c-1.419,1.372-2.894,2.071-4.645,2.923
                c-5.082,2.479-10.557,4.536-14.661,8.609c-4.705,4.692-6.51,11.073-10.389,16.276c-1.579,2.106-3.572,3.839-5.097,5.991
                c-2.303,3.315-5.939,4.661-9.781,4.661c-0.857,0-2.971,0.218-2.559-1.203c0.396-1.362,2.559-0.922,3.579-1.313
                c4.278-1.659,3.332-7.242,3.537-10.875c0.084-1.699,1.249-2.619,2.263-3.759c1.262-1.428,1.893-2.917,2.044-4.837
                c0.453-5.723-2.502-11.914-3.696-17.451c-1.319-6.15-2.278-12.407-2.921-18.668c-0.551-5.545-0.261-11.128-1.023-16.649
                c-0.775-5.574-2.138-11.062-2.847-16.655c-0.816-6.334-0.685-12.771-1.089-19.128c-0.272-4.158-0.536-8.312-0.722-12.469
                c-0.28-6.107-0.691-12.216-1.625-18.262c-1.525-9.897-6.935-19.848-16.678-22.934c-2.736-0.884-5.681-1.248-8.341-2.346
                c-3.657-1.517-3.627-5.779-7.448-6.946c-2.202-0.684,3.364,4.414,1.204,2.807c0.206,0.026-0.255-1.183-1.204-2.807
                c0.064-1.808,0.527-2.384-0.364-4.698c0.682-2.665-1.596-0.949-2.057-6.129c1.811-2.4,2.631-3.447,3.73-6.469
                c1.378-3.79-0.85-8.374-1.764-12.024c-0.659-2.687-0.331-5.523-0.729-8.271c-0.445-3.048-2.378-5.489-4.007-7.955
                c-1.487-2.249-2.81-4.677-4.819-6.496c-3.185-2.862-7.807-3.25-11.839-2.952c-3.792,0.275-8.977,0.112-12.173,2.509
                c-1.461,1.097-1.947,2.87-2.974,4.324c-1.194,1.69-3.094,2.768-4.022,4.669c-1.082,2.225-0.493,4.875-1.564,7.097
                c-1.741,3.62-4.04,6.189-4.622,10.321c-0.609,4.514,0.254,9.122,0.836,13.581c0.341,2.662,0.146,5.889,1.427,8.301
                c1.029,1.958,0.135,1.521-0.513,5.46c-1.871,3.928,0,0-1.969,2.037c-1.957,2.013-3.471,3.6-6.401,3.803
                c-7.764,0.572-16.379,3.947-20.258,11.274c-1.64,3.109-2.587,6.587-3.636,9.94c-1.069,3.458-2.031,6.968-2.429,10.581
                c-0.876,8.044-1.632,16.076-2.582,24.12c-0.672,5.742-0.511,11.745-0.763,17.548c-0.341,7.874-1.339,15.598-2.298,23.424
                c-0.26,2.169-0.492,4.334-0.67,6.517c-0.315,3.957-0.089,7.895-0.089,11.859c0,3.487,0,6.944,0.089,10.422
                c0.152,6.163-1.016,12.229-2.365,18.233c-0.341,1.5-0.665,3.149-0.328,4.691C-152.127,41.103-152.086,41.225-152.06,41.357z
                 M155.159,198.119c0.157-1.731,1.247-3.627,2.388-1.144c0.988,2.151,0.948,5.015,1.017,7.343
                c0.093,2.639,0.106,5.339-0.146,7.957c-0.028,0.221-0.055,0.42-0.085,0.633c-0.322,2.092-1.1,4.352-0.309,6.354
                c-0.778-2.003-1.996-3.828-2.601-5.901c-0.647-2.236,0-4.487-0.173-6.787C155.046,203.763,154.902,200.929,155.159,198.119z
                 M-95.216,158.218c0.699-10.354,0.337-20.728,0.379-31.108c0.026-7.896-2.297-17.82,3.396-24.322
                c0.911,6.638,0.502,13.496,0.267,20.205c-0.173,4.94,1.069,9.747,1.885,14.562c0.809,4.721,0.755,9.167,0.357,13.937
                c-0.44,5.427-0.904,10.875-1.367,16.309c-0.39,4.607,0.062,44.104-6.736,43.377C-101.931,205.51-95.68,165.287-95.216,158.218z
                "/>
            </defs>
            <clipPath id="SVGID_2_">
              <use xlink:href="#SVGID_1_"  overflow="visible"/>
            </clipPath>
            <path display="none" clip-path="url(#SVGID_2_)" fill="#63B250" d="M24.863,94.633c0,0,0.079-0.237,0.245-0.655
              c1.419-3.577,9.167-20.405,27.499-15.088c20.473,5.937,42.306,21.328,66.832,7.357c24.525-13.97,48.592-5.311,54.569,3.821
              c5.978,9.133,2.76,43.928,2.76,43.928l-154.05,3.464"/>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <defs>
              <path id="SVGID_3_" d="M-108.691-120.233c0,0-0.014-0.014-0.014,0C-108.701-120.125-108.695-120.154-108.691-120.233z
                 M-152.06,41.357c0.425,1.379,1.419,2.36,1.991,3.68c0.529,1.22,0.384,2.529,0.425,3.825c0.068,1.726,0.104,3.458,0.344,5.168
                c0.371,2.671,1.056,5.339,2.363,7.709c0.611,1.108,1.248,2.321,2.204,3.167c1.406,1.257,4.87,2.044,6.688,1.805
                c2.345-0.318,1.103-1.652,0.226-2.869c-1.09-1.541-0.994-3.661-2.826-4.58c-4.062-2.059-4.432-10.591-0.28-12.632
                c1.126-0.548,2.833-0.426,3.821-1.067c2.456-1.577,1.229-5.938,0.651-8.197c-0.876-3.334-0.597-6.476,0.102-9.818
                c0.92-4.459,1.612-8.905,2.36-13.405c1.215-7.308,2.888-14.496,4.828-21.64l2.401-9.163c-0.554,2.085-0.638,4.41-0.954,6.544
                c-0.321,2.249-0.637,4.5-0.952,6.748c-0.37,2.549-1.281,4.965-2.07,7.408c-0.817,2.533-1.187,5.048-1.64,7.674
                c-0.266,1.583-0.651,3.167-0.493,4.791c0.142,1.487,1.448,2.194,1.396,3.791c-0.054,1.491-0.348,2.946-0.464,4.404
                c-0.167,2.093-0.348,4.182-0.385,6.282c-0.101,4.063,0.665,7.999,0.975,12.029c0.466,5.935-0.332,12.424,1.394,18.157
                c0.512,1.725,1.088,3.392,1.732,5.114c0.759,2.01,0.584,4.39,0.702,6.51c0.294,5.338,0.625,10.67,0.546,16.036
                c-0.054,3.956-0.356,7.877-0.496,11.81c-0.151,4.117-0.122,8.2,0.071,12.318c0.105,2.386,0.212,4.811,0.105,7.203
                c-0.166,3.947-1.208,7.734-1.499,11.66c-0.306,3.967-0.319,7.942-0.411,11.918c-0.185,8.692-0.279,17.396-0.239,26.105
                c0.026,1.842,0.091,3.688,0.091,5.557c0.082,3.031-1.096,8.892,2.456,10.433c0.267,0.109,3.346,0.793,3.414,0.576
                c-0.984,3.038-1.5,6.266-1.345,9.454c0.077,1.542,0.337,3.092,0.853,4.561c0.532,1.461,1.514,2.702,1.977,4.202
                c0.466,1.515,0.466,3.108,0.534,4.654c0.212,4.405,1.179,8.832,2.114,13.121c0.912,4.101,1.707,8.147,3.419,11.984
                c1.299,2.901,2.834,4.817,5.867,5.771c3.622,1.157,7.393,1.219,10.772-0.723c2.291-1.327,4.5-3.025,5.091-5.786
                c0.535-2.531,0.039-5.353-0.653-7.795c-0.505-1.783-1.169-3.521-1.938-5.184c-1.022-2.209-2.098-4.724-2.601-7.122
                c-0.549-2.534,1.785-2.178,3.45-2.51c1.221-0.251,3.902-1.145,4.578,0.53c0.772,1.881-0.267,4.981-0.432,6.994
                c-0.112,1.396-0.219,2.818-0.338,4.216c-0.041,0.504-0.637,3.991-0.34,4.232l0.92,0.71c0.44,0.345,0.24,3.336,0.28,3.99
                c0.071,1.163,0.132,2.37,0.357,3.521c0.858,4.287,4.382,5.417,8.23,5.399c3.479-0.041,7.951,1.808,10.632-1.44
                c1.815-2.213,2.083-5.075,2.111-7.851c1.487-0.298,2.984-0.07,4.499-0.148c1.022-0.03,1.427-0.057,1.646-1.097
                c0.823-4.216,1.194-8.729,0.729-13.013c-0.308-2.842-0.914-5.684-0.772-8.572c0.226-4.147,1.133-8.215,1.706-12.333
                c0.537-3.785,1.309-7.518,1.886-11.296c0.338-2.228,0.609-4.443,0.748-6.687c0.173-2.818,0.2-5.65,0.2-8.454
                c0.067-3.381,0.253-6.741,0.318-10.104c0.081-5.428-0.139-10.871-0.139-16.294c0.006-3.116,0.071-6.27,0.232-9.386
                c0.132-2.402,0.351-4.813,0.729-7.18c0.347-2.186,0.784-4.351,1.167-6.535c1.282-7.019,1.323-14.222,2.564-21.26
                c0.371-2.076,0.809-4.116,1.22-6.174c1.578-7.788,2.868-15.648,4.361-23.458c0.577-2.974,1.16-5.983,1.72-8.961
                c0.83-4.43,0.742-9.02,1.757-13.389c0.537-2.294,1.697-4.434,1.943-6.793c0.583-5.346-0.637-10.754-0.078-16.132
                c0.239-2.324,1.316-3.869,2.378-5.848c1.316-2.473,0.267-4.982,1.14-7.49c-0.378,1.831,0.226,3.798,0.267,5.659
                c0.054,2.225,0.078,4.437,0.107,6.662c0.131,5.97,0.079,11.936-0.007,17.908c-0.013,0.793-0.02,1.599-0.033,2.386l3.08,0.357
                l3.784,0.707l3.306,0.473c-0.922-0.129-1.779,4.69-2.335,5.279c-1.262,1.385-3.258-0.198-4.638-0.502
                c-2.859-0.645-2.948,3.018-4.12,4.691c-0.811,1.188-2.059,2.827-1.91,4.376c0.131,1.409,1.433,1.583,2.496,2.008
                c-1.249,1.781-1.127,2.98,0.466,4.621c0.995,1.009,2.069,1.951,3.382,2.492c1.535,0.651,3.544-0.284,4.472,1.5
                c0.952,1.802,0.865,4.109,1.714,5.99c0.728,1.624,1.712,3.109,3.318,3.938c1.886,0.969,4.116,0.897,6.105,1.486
                c3.009,0.879,6.199,1.242,9.292,0.615c1.653-0.325,3.306-1.082,4.635-2.15c1.989-1.618,2.841-3.938,3.835-6.245
                c1.088-2.506,2.668-4.345,4.526-6.268c1.221-1.278,2.32-2.711,3.066-4.337c0.789-1.718,0.862-3.451,1.181-5.27
                c0.352-1.991,0.796-3.96,1.008-5.976c0.266,7.14,1.673,14.333,0.444,21.457c-0.458,2.712-1.369,5.36-2.53,7.856
                c-1.049,2.274-2.359,4.453-2.879,6.964c-0.516,2.537-0.268,5.268,0.283,7.788c1.036,4.689,3.619,8.776,5.006,13.365
                c0.496,1.657,0.815,3.376,0.87,5.114c0.055,1.584-0.041,3.175,0.502,4.696c0.473,1.313,1.406,2.349,1.976,3.6
                c0.584,1.259,0.837,2.7,0.985,4.095c0.351,3.065,0.172,6.231,1.393,9.094c0.769,1.779,1.722,3.512,2.135,5.417
                c0.81,3.613,0.206,7.816,0.347,11.5c0.167,4.551,0.467,9.08,0.702,13.625c0.122,2.307,0.2,4.615,0.227,6.905
                c0.04,4.601,0.021,9.216,0.623,13.79c0.877,6.625,4.17,12.708,1.528,19.407c-0.837,2.137-1.207,4.349-0.89,6.639
                c0.502,3.644,1.527,7.158,1.885,10.813c0.294,2.961,0.597,5.705,2.577,8.053c1.056,1.228-0.253,2.483-1.407,3.045
                c-0.917,0.446-1.947,0.589-2.311,1.705c-0.351,1.082,0.273,2.28,1.016,3.052c1.858,1.907,5.632,2.53,8.107,2.856
                c1.639,0.235,3.75,0.365,5.295-0.359c0.708-0.355,1.2-0.874,1.56-1.598c0.094-0.198,0.834-2.151,0.696-2.239
                c0.817,0.446,1.097,0.582,1.495,1.448c0.22,0.494,0.547,0.805,0.989,1.063c1.915,1.041,4.684,0.652,6.775,0.54
                c2.597-0.148,5.13-0.939,5.576-3.917c0.397-2.632-0.557-5.285-0.412-7.938c0.146-2.834,1.382-5.326,1.208-8.241
                c-0.206-3.404,1.345-7.004,0.246-10.34c-0.915-2.815-2.489-5.417-1.784-8.513c0.769-3.339,2.709-6.259,3.65-9.521
                c1.207-4.169,0.479-8.532,1.515-12.688c0.638-2.561,1.899-4.933,2.583-7.497c0.666-2.518,0.63-5.068,0.897-7.63
                c0.41-3.948,1.62-7.747,2.787-11.511c2.04-6.604,3.572-13.579,4.127-20.489c0.166-1.867,0.253-3.762,0.227-5.643
                c-0.015-4.538-0.759-9.225-2.114-13.541c-0.595-1.867-1.921-3.932-1.444-5.975c0.518-2.224,3.13-1.466,4.354-2.813
                c1.113-1.244,0.731-3.39,0.607-4.892c-0.25-2.988,0.074-5.988-0.304-8.966c-0.479-3.616-1.335-7.001-2.296-10.516
                c0.357,1.27,1.314,2.643,1.899,3.827c0.634,1.3,1.288,2.584,2.015,3.826c1.451,2.425,3.145,4.692,4.528,7.162
                c1.674,2.953,3.862,5.745,5.15,8.882c0.193,0.474,0.728,4.96,0.438,4.879c1.29,0.312,2.322,0.111,2.19,1.63
                c-0.125,1.252-0.158,2.527-0.171,3.81c-0.02,2.985,0.303,6.104,0.619,9.062c0.218,2.022,0.91,4.263,3.241,4.405
                c1.588,0.098,3.215,0.261,4.792,0.014c1.499-0.224,2.771-1.662,4.22-1.76c0.425-0.037,1.489,1.637,1.904,1.914
                c1.884,1.242,4.838,0.405,6.765-0.34c2.006-0.752,3.781,0.676,5.661,1.129c2.508,0.626,5.545-0.026,8.141-0.206
                c4.513-0.233,11.331,0.135,14.881-3.323c0.583-0.561,1.812-2.689,2.854-2.121c1.033,0.569-0.014,2.604-0.198,3.394
                c-0.504,2.023,0.89,3.37,1.028,5.359c0.144,1.804-0.844,3.45-1.193,5.19c-0.342,1.542,0.146,3.011,0.468,4.537
                c0.35,1.552,0.35,3.079,0,4.648c-0.329,1.462-0.731,3.336,0.916,4.131c-0.072-0.033-1.653,8.75-1.772,9.487
                c-0.099,0.581-0.23,1.17-0.282,1.773c-0.366,3.765-0.455,7.578-0.053,11.338c0.21,2.249,0.632,4.509,1.008,6.735
                c0.622,3.979,1.344,7.938,2.063,11.909c1.358,7.693,2.358,15.516,3.01,23.311c0.249,3.047,0.49,6.158,0.263,9.23
                c-0.21,2.761-1.14,5.414-1.35,8.16c-0.108,1.354,0.349,2.66,1.634,3.293c1.752,0.879,2.377,1.435,1.555,3.487
                c-0.843,2.102-1.199,4.223,1.601,4.74c3.569,0.663,7.675,1.06,11.285,0.491c3.663-0.568,1.297-4.104,2.135-6.348
                c0.553-1.401,2.22-1.435,3.372-1.002c1.341,0.508,2.164,1.585,2.164,3.079c-0.014,5.234,7.873,4.744,10.948,2.741
                c1.934-1.255,2.011-3.532,2.75-5.529c0.534-1.369,1.622-2.428,2.06-3.822c0.518-1.59,0.261-3.369,0.159-4.995
                c-0.146-2.15-0.451-4.231-0.857-6.34c-0.933-4.889-1.969-10.008-1.146-14.998c0.524-3.275,0.656-6.604,0.597-9.907
                c-0.072-3.051-0.555-6.19-0.026-9.212c0.409-2.337,1.563-4.438,2.029-6.767c0.53-2.748,0.138-5.539,0.354-8.299
                c0.157-1.99,0.719-3.892,1.214-5.83c0.408-1.56,0.567-3.391,1.334-4.818c1.14-2.104,3.627-2.658,4.342-5.122
                c0.728-2.518,0.069-5.155,0.129-7.693c0.06-2.095,0.941-3.994,1.581-5.928c1.607-4.71,2.067-9.237,0.958-14.144
                c-0.748-3.309-1.815-6.786-0.662-10.139c0.546-1.604,1.845-2.669,3.017-3.746c1.005-0.94,1.703-2.216,2.722-3.104
                c0.964-0.868,2.298-0.844,3.493-0.979c2.56-0.322,4.155-2.024,5.974-3.742c2.167-2.074,5.743-1.563,7.516-4.04
                c1.156-1.634,1.508-3.704,1.759-5.664c0.165-1.266,0.228-2.53,0.329-3.793c0.31-3.684,0.323-7.541,0.877-11.164
                c0.23-1.476,1.97-1.11,2.18-2.633c0.264-1.807-1.196-3.683-0.243-5.415c0.017-0.053,1.956-0.029,2.188-0.101
                c3.108-0.947,0.737-4.543,0.205-6.434c-0.779-2.827-0.792-5.487-0.117-8.35c0.334-1.326,0.61-1.433,1.901-1.895
                c0.376-0.325-0.072-3.551-0.079-4.047c-0.034-1.663-0.086-3.329-0.046-5.006c0.145-5.09,2.608-9.63,3.161-14.665
                c0.827-7.391,3.822-14.218,4.711-21.567c0.332-2.728,0.491-5.475,0.554-8.215c0.056-2.916,0.075-5.904,1.008-8.698
                c1.119-3.313,2.842-6.362,4.037-9.64c-0.31,1.31-0.112,2.834-0.157,4.186c-0.073,1.659-0.139,3.329-0.212,4.989
                c-0.138,3.259-0.249,6.535-0.367,9.805c-0.244,7.071-0.337,14.172-0.554,21.254c-0.079,3.222-0.382,6.522-0.033,9.725
                c0.639,0.149,1.337,0.135,1.989,0.271c0.214,3.148-0.791,6.191-0.316,9.372c0.469,3.118,1.417,6.156,1.391,9.33
                c-0.014,3.408-0.494,6.807-0.632,10.21c-0.159,4.296-0.222,8.606-0.29,12.897c-0.119,8.889-2.097,17.594-0.766,26.512
                c0.27,1.831,0.771,3.739,1.846,5.271c0.89,1.241,2.477,2.241,2.696,3.898c0.308,2.263-2.019,4.165-2.104,6.534
                c-0.093,2.662,0.783,5.254,0.771,7.916c-0.02,2.93-0.304,5.847-0.606,8.764c-0.422,4.304-0.697,8.607-0.919,12.925
                c-0.139,2.441-0.257,4.878-0.357,7.304c-0.216,4.354-0.448,8.719-0.494,13.072c-0.048,2.697,0,5.417,0.164,8.127
                c0.158,2.683,0.475,5.377,1.047,8.016c0.514,2.405,1.409,4.683,2.635,6.794c0.356,0.616,1.312,2.7,2.154,2.7
                c-1.547-0.018-2.882,2.582-3.294,3.826c-0.633,1.979-0.494,4.216,0.072,6.205c0.636,2.284,2.553,4.202,1.993,6.743
                c-1.012,4.621-3.205,8.735-5.253,12.945c-2.392,4.977-4.006,13.37,1.277,17.227c4.681,3.412,11.95,3.296,16.838,0.491
                c2.342-1.363,4.921-3.231,5.929-5.894c1.516-4.033,0.376-8.896,0.956-13.142c0.468-3.478,2.114-5.261,4.559-7.467
                c5.085-4.573,3.854-13.354,1.298-18.956c-1.15-2.505-1.613-4.714-0.475-7.333c1.094-2.527,2.794-4.665,3.512-7.361
                c1.37-5.241,0.889-10.962,0.474-16.294c-0.237-3.147-0.072-6.283-0.072-9.443c-0.013-3.039-0.705-5.9-1.087-8.889
                c-0.386-2.933,0.346-5.416,0.912-8.241c0.636-3.104,0.201-5.938-0.635-8.932c-0.505-1.881-1.127-3.838,0.628-5.177
                c1.466-1.103,2.856-1.513,3.423-3.465c0.773-2.707,0.491-5.873,0.461-8.655c-0.025-3.105-0.184-6.217-0.139-9.323
                c0.065-3.127,0.495-6.179,0.943-9.284c0.44-3.105,0.52-6.219,0.56-9.353c0.039-2.672,0.211-5.291,0.407-7.95
                c0.146-1.903,0.146-3.927,0.976-5.696c0.343-0.78,0.864-1.441,1.39-2.093c0.26,4.529-0.264,9.034-0.022,13.561
                c0.243,4.541,2.131,8.722,2.543,13.215c0.452,4.655-0.524,9.345-0.933,13.966c-0.428,4.727-0.414,9.44-0.072,14.17
                c0.316,4.643,0.191,8.933-0.876,13.485c-1.054,4.583-1.779,9.055-1.937,13.771c-0.31,9.454,0.507,18.84,0.404,28.278
                c-0.056,4.723-0.213,9.494-1.051,14.169c-0.797,4.48-2.271,8.785-3.907,13.007c-1.876,4.804-3.622,9.548-1.402,14.603
                c1.055,2.469,2.899,4.459,4.217,6.78c1.251,2.246,1.755,4.459,1.383,7.002c-0.325,2.112-0.916,4.603,1.028,6.099
                c2.318,1.771,5.271,1.948,8.057,1.847c3.161-0.108,6.251,0.21,9.4,0.188c2.458-0.014,5.758-0.824,6.113-3.822
                c0.182-1.532-0.475-3.004-0.679-4.507c-0.329-2.094,1.17-3.851,1.832-5.718c1.495-4.283,0.899-8.878,0.772-13.35
                c-0.15-5.246,0.681-10.47,1.504-15.639c0.346-2.214,0.698-4.419,1.001-6.646c0.346-2.646,0.662-5.277,0.938-7.938
                c0.355-3.396,1.427-6.678,1.825-10.075c0.355-2.967,0.478-5.974,0.698-8.946c0.313-3.748,1.126-7.437,2.181-11.029
                c1.376-4.736,2.352-9.554,2.938-14.466c0.494-4.155,0.296-8.358,0.632-12.52c0.353-4.54,0.843-9.047,1.342-13.56
                c0.275-2.551,0.565-5.123,0.849-7.68c0.237-2.241,0.464-4.44,0.636-6.687c0.21-2.769,0.388-5.521,0.547-8.283
                c0.157-2.882,0.289-5.777,0.468-8.685c0.112-2.08,0.23-4.158,0.35-6.246c0.332-5.708,0.85-11.486,0.85-17.209
                c0.104-1.96,0.091-4.057,0.44-5.99c0.612-3.458,1.423-6.88,1.667-10.394c0.264-3.651,0.297-7.299,0.573-10.941
                c0.191-2.332-0.606-5.126,0.217-7.348c0.291-0.752,3.519-3.341,4.355-2.875c1.33,0.751,1.555,1.826,1.555,3.271
                c0,1.94,0.059,3.89,0.19,5.838c0.112,1.881,0.29,3.97-0.401,5.82c-0.711,1.882-2.267,3.247-2.813,5.228
                c-0.48,1.691-0.936,3.408-1.403,5.127c-0.718,2.685-1.133,6.098-1.133,8.889c0,1.477-0.409,2.946-0.211,4.422
                c0.304,2.384,2.345,1.343,3.854,0.658c-0.461,0.219-0.309,1.859-0.573,2.293c-0.927,1.456-3.899,0.911-2.418,3.613
                c0.691,1.228,3.05,2.849,4.479,2.63c0.988-0.158,1.852-0.71,2.793-0.98c-0.381,0.098-0.941,1.414-1.141,1.784
                c-0.368,0.674-0.855,1.54-0.064,2.128c1.781,1.292,2.896,0.218,3.965-1.341c0.482-0.71,0.864-1.659,1.569-2.204
                c1.271-0.928,2.72-0.874,3.88-2.113c4.006-4.241,3.445-10.033,3.626-15.413c0.076-2.896,0.353-5.779,0.711-8.641
                c0.162-1.262-0.145-3.048,1.253-3.703c1.402-0.648,3.172,0.417,4.568-0.516c1.805-1.216,1.633-5.824,1.564-7.689
                c-0.069-3.174-0.534-6.327-0.609-9.5c-0.061-3.382,0.072-6.749,0.461-10.103c0.441-3.825,0.541-7.622,0.761-11.478
                c0.215-4.47,0.523-8.97,0.176-13.442c-0.617-7.819-2.406-15.511-3.166-23.323c-0.214-2.13-0.353-4.257-0.479-6.4
                c-0.319-5.411-0.804-10.771-2.319-15.978c-1.909-6.721-4.143-13.314-6.054-20.014c-0.579-2-1.166-3.982-1.812-5.96
                c-0.633-1.923-1.331-3.828-2.062-5.713c-0.909-2.304-1.818-4.594-2.603-6.952c-0.619-1.937-1.109-3.97-2.21-5.679
                c-1.196-1.875-3.126-2.992-4.776-4.363c-1.466-1.222-2.73-2.667-4.38-3.621c-1.743-0.995-3.681-1.492-5.537-2.168
                c-3.505-1.295-6.997-2.875-10.19-4.833c-3.466-2.12-6.727-4.82-10.68-5.965c-1.949-0.552-4.125-0.908-5.191-2.931
                c-1.172-2.211,0.218-4.384,1.759-5.958c3.123-3.206,3.442-7.692,3.162-11.971c-0.218-3.537,0.691-6.988,0.731-10.515
                c0.047-5.994-4.65-10.4-9.123-13.456c-1.747-1.172-3.545-2.521-5.606-2.98c-2.398-0.522-4.639,0.459-6.997,0.677
                c-2.342,0.218-4.732,0.231-6.967,1.062c-2.46,0.915-4.096,2.879-5.669,4.938c-1.712,2.249-3.523,4.662-3.933,7.593
                c-0.493,3.534-1.906,7.171,0.106,10.497c0.546,0.902,1.237,1.726,1.554,2.727c0.514,1.586,0.211,3.313,0.762,4.923
                c0.523,1.567,1.409,2.974,2.15,4.432c1.014,1.964,1.61,4.185,3.297,5.699c4.167,3.727-2.901,5.535-4.659,7.622
                c-2.123,2.508-3.821,4.951-6.404,7.002c-1.937,1.521-4.058,2.816-6.272,3.833c-2.305,1.056-4.749,1.683-7.021,2.774
                c-3.182,1.5-6.91,3.789-9.381,6.34c-2.045,2.086-3.344,4.811-4.879,7.292c-1.92,3.108-3.581,6.41-4.852,9.856
                c-0.698,1.91-1.291,3.874-1.744,5.862c-0.509,2.297-0.97,4.608-1.49,6.905c-0.691,2.939-1.337,5.884-2.008,8.813
                c-0.462,2.046-0.896,4.093-1.306,6.158c-0.942,4.722-1.581,9.521-2.404,14.276c-1.054,6.191-2.149,12.356-3.104,18.55
                c-0.342,2.155-0.636,4.323-0.796,6.518c-0.251,3.436,0.025,6.876-0.218,10.321c-0.212,2.889-1.028,5.597-1.628,8.411
                c-0.632,2.928-1.229,5.848-1.558,8.839c-0.451,4.17-0.536,8.387-0.773,12.563c-0.106,2.099-0.211,4.195-0.271,6.281
                c-0.082,2.553-0.164,5.114-0.244,7.664c-0.145,3.686-0.323,7.385-0.572,11.055c-0.133,1.68-0.353,3.392-0.422,5.068
                c-0.069,1.563,0.711,2.941,0.74,4.458c0.033,1.687-0.526,3.323-0.698,4.982c-0.182,1.656-0.214,3.309-0.282,4.966
                c-0.1,2.56-0.133,6.219,2.216,7.864c1.335,0.938,2.654,1.143,2.414,3.13c-0.3,2.415-1.527,4.943-2.302,7.264
                c-0.686,2.095-1.623,4.199-3.863,4.835c-2.566,0.744-4.971,2.036-7.534,2.697c-2.114,0.545-4.327,0.457-6.491,0.591
                c-1.618,0.103-5.966,1.395-5.591-1.657c0.116-0.994,1.134-1.333,1.846-1.807c0.898-0.606,1.649-1.374,2.322-2.199
                c2.812-3.539,4.042-8.404,3.976-12.919c-0.037-1.614-0.066-3.253-0.363-4.851c-0.289-1.518-1.021-2.598-1.587-4.002
                c-0.32-0.769-0.353-1.711,0.662-1.307c1.011,0.396,1.334,1.789,2.536,2c0.098-0.072,0.068-0.132,0.017-0.247
                c-1.779-3.706-5.462-4.573-8.65-6.46c0.171,0.093,0.495-1.484,0.479-1.683c-0.122-0.556-0.623-0.954-1.052-1.279
                c-1.195-0.966-2.714-1.563-4.078-2.214c0.514,0.244,3.842,3.537,2.202,3.537c-2.178,0-3.842-2.629-6.042-3.038
                c-1.226-0.229-2.489-0.377-3.732-0.513c-0.49-0.042-0.958-0.1-1.458-0.107c-0.316-0.006-1.574,0.312-1.762,0.184
                c0.875,0.582,2.146,0.505,3.003,1.084c-2.045,0.32-4.207,0.304-6.274,0.604c-3.887,0.561-7.536,2.785-11.149,4.257
                c0.761,0.098,1.973,0.115,2.528,0.653c-0.114-0.112-1.899,3.256-2.006,3.69c-0.349,1.867-0.354,3.706-0.783,5.566
                c-0.465,1.968,0.844,4.5-0.527,6.138c-1.732,2.064-2.181,3.823-1.893,6.536c0.18,1.713-0.284,3.682,0.829,5.149
                c0.573,0.752,2.73,1.851,1.195,2.755c-0.981,0.589-2.411,0.284-3.445,0.777c-2.378,1.09-5.007,3.039-6.937,4.852
                c-1.479,1.429-1.644,3.601-3.054,5.012c-1.328,1.329-3.257,2.635-4.892,3.487c-1.37,0.718-2.964,0.631-4.342,1.289
                c-1.376,0.654-2.12,1.987-3.422,2.742c-2.025,1.188-4.486,1.261-6.723,1.688c-2.227,0.378-4.288,1.275-6.479,1.812
                c-2.546,0.65-4.776,0.143-7.355,0.284c-1.478,0.068-3.165,0.911-4.604,0.208c-0.659-0.329-1.081-1.37-1.496-1.939
                c-0.954-1.256-2.457-2.078-3.445-3.315c-2.398-2.995,1.957-3.444,1.611-6.714c-0.241-2.428-1.611-4.546-2.184-6.881
                c-0.655-2.667-0.774-5.412-1.581-8.012c-0.857-2.734-1.792-5.446-2.8-8.134c-1.548-3.85-3.739-7.437-5.257-11.334
                c-1.673-4.251-3.025-8.621-4.328-13.005c-3.429-11.489-8.002-22.978-19.234-28.483c-2.681-1.303-4.128-4.092-6.942-5.3
                c-2.746-1.189-6.05-1.604-8.959-0.753c-0.145,0.056,0.73-3.571,1.036-3.99c0.884-1.269,2.263-2.172,3.231-3.395
                c5.768-7.293,10.241-22.451,4.239-30.87c-2.309-3.246-4.432-5.263-8.256-6.163c-4.992-1.184-13.327-3.791-17.654,0.533
                c-1.029,1.037-1.741,2.35-2.88,3.351c-3.019,2.688-3.677,4.833-3.794,8.886C18.023-3.846,16.67,3,20.36,8.616
                c1.784,2.728,2.928,5.402,3.338,8.69c-1.945,0.176-3.27,1.673-4.573,2.969c-1.419,1.372-2.894,2.071-4.645,2.923
                c-5.082,2.479-10.557,4.536-14.661,8.609c-4.705,4.692-6.51,11.073-10.389,16.276c-1.579,2.106-3.572,3.839-5.097,5.991
                c-2.303,3.315-5.939,4.661-9.781,4.661c-0.857,0-2.971,0.218-2.559-1.203c0.396-1.362,2.559-0.922,3.579-1.313
                c4.278-1.659,3.332-7.242,3.537-10.875c0.084-1.699,1.249-2.619,2.263-3.759c1.262-1.428,1.893-2.917,2.044-4.837
                c0.453-5.723-2.502-11.914-3.696-17.451c-1.319-6.15-2.278-12.407-2.921-18.668c-0.551-5.545-0.261-11.128-1.023-16.649
                c-0.775-5.574-2.138-11.062-2.847-16.655c-0.816-6.334-0.685-12.771-1.089-19.128c-0.272-4.158-0.536-8.312-0.722-12.469
                c-0.28-6.107-0.691-12.216-1.625-18.262c-1.525-9.897-6.935-19.848-16.678-22.934c-2.736-0.884-5.681-1.248-8.341-2.346
                c-3.657-1.517-3.627-5.779-7.448-6.946c-2.202-0.684,3.364,4.414,1.204,2.807c0.206,0.026-0.255-1.183-1.204-2.807
                c0.064-1.808,0.527-2.384-0.364-4.698c0.682-2.665-1.596-0.949-2.057-6.129c1.811-2.4,2.631-3.447,3.73-6.469
                c1.378-3.79-0.85-8.374-1.764-12.024c-0.659-2.687-0.331-5.523-0.729-8.271c-0.445-3.048-2.378-5.489-4.007-7.955
                c-1.487-2.249-2.81-4.677-4.819-6.496c-3.185-2.862-7.807-3.25-11.839-2.952c-3.792,0.275-8.977,0.112-12.173,2.509
                c-1.461,1.097-1.947,2.87-2.974,4.324c-1.194,1.69-3.094,2.768-4.022,4.669c-1.082,2.225-0.493,4.875-1.564,7.097
                c-1.741,3.62-4.04,6.189-4.622,10.321c-0.609,4.514,0.254,9.122,0.836,13.581c0.341,2.662,0.146,5.889,1.427,8.301
                c1.029,1.958,0.135,1.521-0.513,5.46c-1.871,3.928,0,0-1.969,2.037c-1.957,2.013-3.471,3.6-6.401,3.803
                c-7.764,0.572-16.379,3.947-20.258,11.274c-1.64,3.109-2.587,6.587-3.636,9.94c-1.069,3.458-2.031,6.968-2.429,10.581
                c-0.876,8.044-1.632,16.076-2.582,24.12c-0.672,5.742-0.511,11.745-0.763,17.548c-0.341,7.874-1.339,15.598-2.298,23.424
                c-0.26,2.169-0.492,4.334-0.67,6.517c-0.315,3.957-0.089,7.895-0.089,11.859c0,3.487,0,6.944,0.089,10.422
                c0.152,6.163-1.016,12.229-2.365,18.233c-0.341,1.5-0.665,3.149-0.328,4.691C-152.127,41.103-152.086,41.225-152.06,41.357z
                 M155.159,198.119c0.157-1.731,1.247-3.627,2.388-1.144c0.988,2.151,0.948,5.015,1.017,7.343
                c0.093,2.639,0.106,5.339-0.146,7.957c-0.028,0.221-0.055,0.42-0.085,0.633c-0.322,2.092-1.1,4.352-0.309,6.354
                c-0.778-2.003-1.996-3.828-2.601-5.901c-0.647-2.236,0-4.487-0.173-6.787C155.046,203.763,154.902,200.929,155.159,198.119z
                 M-95.216,158.218c0.699-10.354,0.337-20.728,0.379-31.108c0.026-7.896-2.297-17.82,3.396-24.322
                c0.911,6.638,0.502,13.496,0.267,20.205c-0.173,4.94,1.069,9.747,1.885,14.562c0.809,4.721,0.755,9.167,0.357,13.937
                c-0.44,5.427-0.904,10.875-1.367,16.309c-0.39,4.607,0.062,44.104-6.736,43.377C-101.931,205.51-95.68,165.287-95.216,158.218z
                "/>
            </defs>
            <clipPath id="SVGID_4_">
              <use xlink:href="#SVGID_3_"  overflow="visible"/>
            </clipPath>
            <path display="none" clip-path="url(#SVGID_4_)" fill="#64C653" d="M24.863,96.522c0,0,0.079-0.236,0.245-0.654
              c1.419-3.578,9.167-20.406,27.499-15.09c20.473,5.938,42.306,21.327,66.832,7.357c24.525-13.97,48.592-5.312,54.569,3.821
              c5.978,9.132,2.76,43.928,2.76,43.928l-154.05,3.465"/>
            <use xlink:href="#SVGID_3_"  overflow="visible" fill="none" stroke="#62C555" stroke-miterlimit="10"/>
          </g>
        </g>
      </g>
    </g>
    <polygon fill="#414042" points="194.611,329.827 -22.567,329.827 -22.567,270.865 194.611,270.865 177.734,300.345 "/>
    <polygon fill="#FF6700" points="187.185,329.827 -30.001,329.827 -30.001,270.865 187.185,270.865 170.307,300.345 "/>
    <text transform="matrix(0.9735 0 0 1 5.1685 308.4297)" fill="#FFFFFF" font-family="'Helvetica'" font-size="24.2099">$0</text>
    <rect x="-38.919" y="270.865" fill="#414042" width="8.918" height="58.964"/>
  </svg>
</template>
