<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
  <g>
    <g>
      <path id="SVGID_1_" fill="#F7F7F7" d="M213.593,96.078c0,0-0.011-0.014-0.011,0C213.582,96.188,213.59,96.159,213.593,96.078z
         M170.221,259.715c0.426,1.397,1.421,2.39,1.991,3.727c0.529,1.234,0.385,2.561,0.424,3.874c0.07,1.747,0.105,3.5,0.345,5.233
        c0.37,2.707,1.056,5.407,2.365,7.807c0.61,1.12,1.246,2.352,2.204,3.206c1.405,1.272,4.868,2.068,6.688,1.829
        c2.341-0.322,1.102-1.673,0.226-2.905c-1.091-1.56-0.996-3.705-2.827-4.639c-4.061-2.085-4.431-10.725-0.28-12.789
        c1.127-0.556,2.832-0.434,3.82-1.083c2.457-1.595,1.232-6.012,0.652-8.299c-0.878-3.376-0.601-6.558,0.099-9.943
        c0.921-4.517,1.613-9.016,2.361-13.577c1.215-7.398,2.885-14.68,4.827-21.915l2.399-9.277c-0.551,2.109-0.636,4.464-0.954,6.627
        c-0.317,2.277-0.636,4.559-0.949,6.835c-0.371,2.582-1.281,5.025-2.072,7.5c-0.818,2.564-1.188,5.11-1.64,7.77
        c-0.267,1.604-0.651,3.208-0.492,4.853c0.141,1.507,1.446,2.22,1.395,3.84c-0.054,1.512-0.347,2.983-0.462,4.457
        c-0.167,2.122-0.347,4.236-0.385,6.358c-0.101,4.115,0.667,8.101,0.977,12.183c0.466,6.009-0.329,12.582,1.392,18.386
        c0.515,1.75,1.087,3.434,1.733,5.179c0.758,2.035,0.585,4.446,0.701,6.593c0.294,5.408,0.625,10.807,0.547,16.24
        c-0.056,4.007-0.358,7.98-0.497,11.956c-0.151,4.17-0.121,8.305,0.074,12.476c0.105,2.417,0.211,4.877,0.105,7.294
        c-0.168,4.004-1.21,7.836-1.5,11.812c-0.308,4.019-0.318,8.046-0.41,12.066c-0.187,8.803-0.278,17.618-0.236,26.439
        c0.025,1.863,0.088,3.734,0.088,5.625c0.081,3.069-1.095,9.006,2.457,10.563c0.266,0.11,3.343,0.808,3.414,0.59
        c-0.988,3.072-1.501,6.344-1.346,9.564c0.078,1.566,0.336,3.139,0.851,4.621c0.531,1.483,1.513,2.737,1.975,4.257
        c0.466,1.533,0.466,3.148,0.536,4.713c0.212,4.462,1.177,8.943,2.113,13.286c0.912,4.153,1.705,8.25,3.417,12.136
        c1.303,2.942,2.834,4.877,5.867,5.847c3.622,1.171,7.395,1.233,10.773-0.732c2.29-1.345,4.497-3.064,5.09-5.861
        c0.537-2.564,0.04-5.417-0.652-7.896c-0.505-1.802-1.168-3.561-1.938-5.245c-1.021-2.237-2.098-4.786-2.6-7.211
        c-0.549-2.57,1.783-2.209,3.45-2.542c1.221-0.257,3.903-1.157,4.577,0.533c0.772,1.904-0.268,5.046-0.434,7.087
        c-0.109,1.409-0.219,2.854-0.336,4.267c-0.042,0.513-0.638,4.046-0.341,4.287l0.921,0.722c0.44,0.346,0.24,3.372,0.282,4.038
        c0.07,1.177,0.133,2.399,0.359,3.566c0.857,4.336,4.382,5.483,8.229,5.465c3.479-0.041,7.953,1.829,10.633-1.46
        c1.817-2.238,2.082-5.135,2.113-7.945c1.487-0.306,2.984-0.074,4.498-0.153c1.021-0.027,1.429-0.055,1.646-1.108
        c0.825-4.271,1.195-8.839,0.729-13.182c-0.307-2.878-0.914-5.756-0.772-8.679c0.226-4.2,1.136-8.319,1.704-12.49
        c0.537-3.829,1.311-7.608,1.887-11.436c0.338-2.26,0.61-4.503,0.748-6.771c0.173-2.855,0.2-5.72,0.2-8.563
        c0.07-3.425,0.255-6.826,0.318-10.231c0.082-5.496-0.137-11.01-0.137-16.5c0.003-3.154,0.07-6.347,0.232-9.503
        c0.134-2.435,0.353-4.875,0.73-7.27c0.346-2.217,0.784-4.406,1.168-6.622c1.279-7.104,1.32-14.401,2.563-21.525
        c0.37-2.103,0.811-4.169,1.221-6.252c1.575-7.888,2.867-15.848,4.359-23.755c0.578-3.01,1.158-6.057,1.723-9.074
        c0.833-4.487,0.742-9.137,1.757-13.56c0.537-2.322,1.698-4.49,1.942-6.876c0.583-5.412-0.637-10.891-0.078-16.336
        c0.236-2.354,1.313-3.915,2.379-5.922c1.313-2.504,0.265-5.042,1.138-7.587c-0.375,1.855,0.227,3.844,0.269,5.732
        c0.056,2.251,0.077,4.494,0.105,6.746c0.134,6.047,0.078,12.087-0.003,18.132c-0.011,0.805-0.018,1.618-0.032,2.416l3.082,0.361
        l3.784,0.716l3.308,0.478c-0.925-0.132-1.779,4.748-2.336,5.346c-1.261,1.402-3.258-0.203-4.639-0.511
        c-2.856-0.652-2.948,3.056-4.12,4.748c-0.811,1.202-2.061,2.863-1.91,4.434c0.131,1.425,1.438,1.602,2.497,2.031
        c-1.247,1.803-1.127,3.018,0.467,4.679c0.994,1.022,2.07,1.975,3.381,2.521c1.534,0.659,3.543-0.288,4.472,1.521
        c0.952,1.824,0.867,4.161,1.714,6.064c0.728,1.645,1.712,3.147,3.318,3.989c1.886,0.98,4.116,0.91,6.104,1.508
        c3.007,0.886,6.199,1.253,9.292,0.622c1.655-0.332,3.309-1.101,4.637-2.178c1.989-1.639,2.841-3.986,3.835-6.324
        c1.09-2.535,2.669-4.399,4.524-6.35c1.225-1.294,2.32-2.745,3.067-4.393c0.788-1.742,0.861-3.493,1.18-5.333
        c0.353-2.016,0.797-4.013,1.006-6.054c0.268,7.231,1.673,14.515,0.444,21.725c-0.459,2.746-1.37,5.427-2.531,7.953
        c-1.049,2.304-2.359,4.51-2.877,7.053c-0.519,2.572-0.268,5.333,0.28,7.885c1.037,4.752,3.622,8.888,5.009,13.532
        c0.497,1.685,0.814,3.422,0.871,5.182c0.054,1.607-0.042,3.21,0.502,4.759c0.47,1.326,1.407,2.374,1.976,3.644
        c0.584,1.271,0.836,2.731,0.985,4.146c0.35,3.103,0.173,6.31,1.391,9.209c0.771,1.806,1.721,3.555,2.134,5.489
        c0.811,3.656,0.208,7.912,0.349,11.643c0.166,4.606,0.466,9.195,0.703,13.801c0.123,2.33,0.201,4.669,0.229,6.99
        c0.042,4.663,0.019,9.339,0.621,13.965c0.876,6.712,4.169,12.869,1.528,19.651c-0.836,2.165-1.207,4.401-0.889,6.725
        c0.504,3.693,1.527,7.251,1.884,10.952c0.296,2.995,0.599,5.778,2.577,8.153c1.055,1.246-0.251,2.515-1.405,3.082
        c-0.917,0.45-1.945,0.596-2.313,1.725c-0.352,1.1,0.274,2.311,1.018,3.089c1.856,1.934,5.63,2.568,8.104,2.894
        c1.641,0.237,3.752,0.371,5.298-0.363c0.706-0.363,1.199-0.887,1.558-1.622c0.094-0.2,0.836-2.174,0.694-2.265
        c0.818,0.449,1.098,0.589,1.496,1.462c0.219,0.506,0.543,0.816,0.988,1.081c1.915,1.053,4.682,0.66,6.777,0.547
        c2.596-0.152,5.13-0.956,5.575-3.969c0.396-2.668-0.556-5.352-0.41-8.035c0.143-2.875,1.382-5.397,1.205-8.348
        c-0.206-3.452,1.347-7.093,0.243-10.475c-0.911-2.846-2.484-5.484-1.782-8.617c0.77-3.386,2.708-6.337,3.647-9.645
        c1.209-4.222,0.48-8.642,1.517-12.851c0.636-2.586,1.897-4.99,2.583-7.594c0.665-2.551,0.629-5.13,0.897-7.724
        c0.408-3.996,1.62-7.848,2.787-11.658c2.042-6.687,3.573-13.749,4.128-20.746c0.166-1.892,0.254-3.809,0.229-5.714
        c-0.016-4.6-0.76-9.345-2.115-13.716c-0.597-1.888-1.92-3.977-1.443-6.042c0.519-2.257,3.13-1.486,4.354-2.851
        c1.113-1.259,0.732-3.438,0.609-4.955c-0.251-3.025,0.074-6.063-0.307-9.08c-0.477-3.661-1.335-7.093-2.296-10.646
        c0.357,1.281,1.313,2.673,1.896,3.872c0.633,1.316,1.288,2.618,2.017,3.874c1.455,2.457,3.145,4.752,4.527,7.257
        c1.674,2.988,3.862,5.818,5.15,8.994c0.192,0.479,0.729,5.021,0.438,4.942c1.29,0.312,2.322,0.106,2.188,1.648
        c-0.126,1.27-0.155,2.564-0.169,3.859c-0.018,3.024,0.304,6.18,0.618,9.179c0.219,2.051,0.911,4.316,3.24,4.461
        c1.586,0.097,3.215,0.264,4.794,0.015c1.497-0.229,2.771-1.685,4.221-1.78c0.424-0.042,1.487,1.654,1.904,1.937
        c1.884,1.256,4.839,0.411,6.767-0.344c2.006-0.764,3.78,0.68,5.665,1.145c2.507,0.629,5.546-0.032,8.139-0.212
        c4.514-0.239,11.329,0.135,14.877-3.366c0.587-0.565,1.814-2.723,2.854-2.145c1.033,0.574-0.015,2.639-0.202,3.437
        c-0.502,2.051,0.892,3.411,1.029,5.424c0.145,1.827-0.85,3.497-1.188,5.253c-0.351,1.565,0.146,3.048,0.463,4.597
        c0.354,1.571,0.354,3.116,0,4.706c-0.324,1.482-0.729,3.38,0.918,4.188c-0.075-0.039-1.654,8.858-1.773,9.606
        c-0.103,0.589-0.235,1.185-0.282,1.794c-0.372,3.811-0.455,7.675-0.055,11.479c0.214,2.282,0.63,4.569,1.005,6.824
        c0.621,4.031,1.344,8.038,2.06,12.056c1.365,7.794,2.366,15.714,3.014,23.607c0.253,3.079,0.49,6.237,0.264,9.348
        c-0.213,2.796-1.138,5.482-1.352,8.264c-0.104,1.372,0.352,2.691,1.638,3.333c1.748,0.886,2.376,1.452,1.553,3.531
        c-0.849,2.131-1.199,4.274,1.601,4.804c3.572,0.668,7.678,1.07,11.282,0.496c3.663-0.575,1.306-4.157,2.14-6.428
        c0.549-1.417,2.218-1.452,3.37-1.016c1.341,0.517,2.164,1.604,2.164,3.117c-0.015,5.298,7.871,4.804,10.949,2.777
        c1.934-1.275,2.009-3.577,2.749-5.601c0.535-1.393,1.619-2.458,2.061-3.868c0.521-1.613,0.261-3.418,0.158-5.061
        c-0.145-2.179-0.446-4.288-0.855-6.421c-0.937-4.952-1.965-10.134-1.146-15.19c0.523-3.318,0.657-6.685,0.594-10.03
        c-0.073-3.09-0.551-6.268-0.026-9.331c0.409-2.368,1.564-4.495,2.031-6.85c0.529-2.785,0.137-5.61,0.35-8.406
        c0.159-2.013,0.724-3.938,1.222-5.906c0.404-1.578,0.563-3.429,1.329-4.874c1.143-2.136,3.627-2.696,4.344-5.19
        c0.726-2.548,0.07-5.221,0.13-7.788c0.058-2.123,0.938-4.042,1.582-6.002c1.607-4.772,2.069-9.352,0.954-14.324
        c-0.744-3.347-1.811-6.872-0.661-10.267c0.545-1.624,1.846-2.701,3.017-3.789c1.005-0.954,1.704-2.244,2.725-3.148
        c0.961-0.876,2.298-0.856,3.485-0.985c2.563-0.326,4.154-2.049,5.976-3.79c2.169-2.104,5.744-1.583,7.512-4.09
        c1.16-1.655,1.51-3.755,1.764-5.731c0.166-1.281,0.23-2.567,0.328-3.845c0.313-3.73,0.328-7.635,0.877-11.306
        c0.232-1.492,1.967-1.122,2.18-2.666c0.264-1.829-1.188-3.727-0.24-5.479c0.02-0.055,1.953-0.029,2.188-0.104
        c3.109-0.959,0.736-4.602,0.205-6.517c-0.775-2.861-0.791-5.556-0.115-8.453c0.336-1.344,0.611-1.451,1.904-1.919
        c0.375-0.331-0.076-3.596-0.08-4.097c-0.035-1.683-0.086-3.371-0.051-5.07c0.145-5.154,2.607-9.754,3.162-14.85
        c0.827-7.485,3.821-14.399,4.711-21.841c0.332-2.762,0.491-5.543,0.553-8.321c0.051-2.955,0.076-5.978,1.004-8.806
        c1.12-3.354,2.84-6.444,4.04-9.76c-0.312,1.326-0.116,2.868-0.159,4.236c-0.072,1.682-0.138,3.371-0.21,5.051
        c-0.141,3.303-0.253,6.618-0.368,9.927c-0.245,7.161-0.344,14.355-0.557,21.522c-0.08,3.265-0.387,6.605-0.036,9.851
        c0.645,0.149,1.341,0.139,1.994,0.273c0.214,3.189-0.795,6.269-0.318,9.49c0.472,3.157,1.417,6.23,1.389,9.448
        c-0.007,3.455-0.495,6.895-0.629,10.343c-0.162,4.352-0.225,8.714-0.288,13.064c-0.123,8.998-2.097,17.813-0.767,26.846
        c0.268,1.853,0.772,3.778,1.843,5.336c0.889,1.255,2.479,2.272,2.697,3.946c0.305,2.287-2.025,4.215-2.104,6.611
        c-0.087,2.7,0.787,5.327,0.769,8.025c-0.018,2.963-0.3,5.918-0.603,8.872c-0.42,4.36-0.701,8.715-0.918,13.082
        c-0.138,2.473-0.262,4.946-0.361,7.398c-0.216,4.411-0.448,8.831-0.494,13.235c-0.048,2.737,0,5.487,0.165,8.229
        c0.159,2.72,0.476,5.444,1.045,8.118c0.518,2.438,1.412,4.742,2.638,6.877c0.356,0.625,1.309,2.736,2.152,2.736
        c-1.553-0.018-2.88,2.607-3.294,3.871c-0.637,2.004-0.499,4.274,0.075,6.286c0.636,2.307,2.546,4.253,1.99,6.823
        c-1.013,4.683-3.204,8.845-5.252,13.112c-2.394,5.037-4.012,13.535,1.273,17.442c4.687,3.459,11.947,3.339,16.843,0.502
        c2.346-1.382,4.921-3.273,5.929-5.975c1.518-4.077,0.376-9.006,0.958-13.307c0.466-3.519,2.112-5.327,4.555-7.561
        c5.087-4.63,3.859-13.524,1.301-19.198c-1.147-2.534-1.609-4.772-0.473-7.423c1.094-2.56,2.792-4.725,3.508-7.456
        c1.373-5.307,0.889-11.099,0.478-16.499c-0.238-3.188-0.075-6.36-0.075-9.56c-0.016-3.076-0.705-5.979-1.084-9.005
        c-0.388-2.97,0.343-5.483,0.91-8.344c0.636-3.149,0.205-6.014-0.637-9.044c-0.51-1.904-1.131-3.886,0.629-5.248
        c1.464-1.111,2.851-1.531,3.426-3.509c0.771-2.735,0.486-5.946,0.458-8.765c-0.025-3.145-0.185-6.295-0.138-9.441
        c0.065-3.166,0.498-6.255,0.946-9.396c0.441-3.146,0.521-6.297,0.553-9.469c0.047-2.712,0.213-5.365,0.408-8.057
        c0.146-1.923,0.146-3.976,0.979-5.764c0.339-0.79,0.854-1.461,1.387-2.121c0.257,4.585-0.264,9.146-0.021,13.73
        c0.242,4.6,2.128,8.833,2.547,13.384c0.448,4.717-0.53,9.462-0.933,14.146c-0.433,4.786-0.419,9.559-0.075,14.345
        c0.314,4.704,0.188,9.047-0.878,13.66c-1.048,4.64-1.776,9.171-1.937,13.946c-0.313,9.569,0.514,19.076,0.403,28.633
        c-0.054,4.787-0.213,9.614-1.047,14.346c-0.799,4.538-2.275,8.9-3.909,13.178c-1.879,4.86-3.619,9.667-1.404,14.785
        c1.055,2.5,2.9,4.509,4.224,6.868c1.249,2.277,1.755,4.513,1.379,7.09c-0.328,2.141-0.917,4.658,1.027,6.175
        c2.317,1.794,5.27,1.978,8.056,1.866c3.157-0.106,6.254,0.215,9.404,0.194c2.456-0.015,5.755-0.831,6.112-3.872
        c0.18-1.557-0.479-3.04-0.684-4.562c-0.333-2.123,1.17-3.905,1.828-5.795c1.495-4.336,0.902-8.986,0.78-13.521
        c-0.152-5.31,0.671-10.599,1.495-15.836c0.347-2.239,0.699-4.475,1.004-6.725c0.348-2.681,0.661-5.348,0.938-8.042
        c0.354-3.437,1.424-6.761,1.821-10.204c0.36-3.003,0.477-6.046,0.697-9.058c0.31-3.795,1.13-7.533,2.182-11.169
        c1.376-4.792,2.352-9.677,2.937-14.65c0.499-4.204,0.297-8.461,0.638-12.677c0.354-4.599,0.845-9.16,1.337-13.73
        c0.276-2.582,0.563-5.187,0.845-7.774c0.239-2.268,0.47-4.499,0.636-6.771c0.213-2.803,0.392-5.594,0.55-8.385
        c0.158-2.921,0.288-5.852,0.467-8.795c0.111-2.106,0.233-4.215,0.351-6.324c0.332-5.781,0.849-11.635,0.849-17.429
        c0.104-1.986,0.092-4.107,0.44-6.064c0.615-3.501,1.424-6.968,1.666-10.527c0.267-3.696,0.296-7.392,0.57-11.083
        c0.194-2.363-0.601-5.188,0.225-7.439c0.288-0.764,3.511-3.385,4.354-2.913c1.325,0.761,1.554,1.848,1.554,3.313
        c0,1.965,0.061,3.939,0.19,5.912c0.112,1.905,0.289,4.018-0.396,5.896c-0.711,1.905-2.265,3.287-2.817,5.295
        c-0.477,1.712-0.933,3.45-1.4,5.192c-0.717,2.715-1.136,6.174-1.136,9.001c0,1.496-0.404,2.981-0.21,4.478
        c0.305,2.416,2.346,1.359,3.853,0.667c-0.463,0.22-0.313,1.884-0.571,2.32c-0.925,1.476-3.901,0.922-2.421,3.66
        c0.697,1.245,3.054,2.884,4.48,2.662c0.992-0.159,1.856-0.721,2.796-0.992c-0.384,0.099-0.938,1.434-1.142,1.808
        c-0.369,0.682-0.854,1.558-0.065,2.156c1.78,1.31,2.897,0.22,3.967-1.358c0.478-0.719,0.855-1.68,1.568-2.229
        c1.271-0.941,2.717-0.885,3.88-2.14c4.003-4.294,3.445-10.162,3.624-15.608c0.074-2.933,0.355-5.854,0.708-8.75
        c0.166-1.276-0.146-3.089,1.253-3.753c1.405-0.654,3.173,0.425,4.565-0.522c1.808-1.234,1.634-5.897,1.567-7.785
        c-0.071-3.214-0.537-6.409-0.609-9.621c-0.062-3.422,0.075-6.835,0.462-10.233c0.438-3.872,0.538-7.716,0.755-11.621
        c0.222-4.526,0.531-9.083,0.182-13.612c-0.617-7.916-2.405-15.708-3.164-23.618c-0.214-2.156-0.354-4.312-0.48-6.483
        c-0.317-5.479-0.803-10.905-2.319-16.178c-1.907-6.808-4.137-13.485-6.056-20.27c-0.578-2.024-1.158-4.034-1.81-6.035
        c-0.633-1.948-1.329-3.877-2.066-5.787c-0.902-2.332-1.813-4.653-2.598-7.039c-0.621-1.962-1.108-4.023-2.214-5.753
        c-1.188-1.898-3.125-3.029-4.776-4.419c-1.463-1.235-2.729-2.698-4.379-3.665c-1.741-1.008-3.682-1.512-5.538-2.196
        c-3.501-1.313-6.997-2.911-10.19-4.894c-3.468-2.145-6.728-4.879-10.679-6.04c-1.951-0.561-4.126-0.922-5.191-2.968
        c-1.174-2.239,0.221-4.436,1.759-6.033c3.125-3.246,3.443-7.788,3.161-12.123c-0.22-3.583,0.69-7.076,0.734-10.647
        c0.043-6.069-4.653-10.531-9.127-13.627c-1.748-1.185-3.548-2.552-5.61-3.016c-2.395-0.53-4.638,0.463-6.993,0.685
        c-2.345,0.22-4.731,0.234-6.969,1.075c-2.464,0.924-4.097,2.915-5.669,4.999c-1.716,2.278-3.526,4.722-3.935,7.689
        c-0.499,3.579-1.906,7.265,0.102,10.629c0.549,0.915,1.243,1.75,1.558,2.762c0.517,1.607,0.213,3.355,0.764,4.987
        c0.52,1.584,1.407,3.012,2.147,4.487c1.016,1.989,1.615,4.238,3.298,5.77c4.17,3.773-2.903,5.607-4.659,7.716
        c-2.125,2.541-3.821,5.016-6.4,7.089c-1.938,1.54-4.063,2.853-6.272,3.884c-2.305,1.067-4.75,1.702-7.022,2.809
        c-3.179,1.518-6.906,3.838-9.378,6.423c-2.05,2.109-3.343,4.873-4.877,7.383c-1.924,3.146-3.584,6.489-4.855,9.98
        c-0.695,1.932-1.289,3.922-1.746,5.937c-0.51,2.327-0.971,4.667-1.482,6.994c-0.697,2.976-1.338,5.958-2.01,8.928
        c-0.463,2.071-0.896,4.142-1.313,6.234c-0.943,4.78-1.578,9.64-2.402,14.458c-1.055,6.269-2.145,12.511-3.103,18.781
        c-0.345,2.18-0.637,4.376-0.796,6.601c-0.249,3.479,0.021,6.961-0.221,10.451c-0.214,2.927-1.025,5.668-1.626,8.516
        c-0.633,2.965-1.231,5.923-1.558,8.951c-0.455,4.22-0.538,8.494-0.772,12.721c-0.107,2.125-0.213,4.25-0.273,6.358
        c-0.076,2.585-0.163,5.178-0.242,7.76c-0.146,3.732-0.318,7.479-0.571,11.197c-0.13,1.699-0.354,3.433-0.419,5.131
        c-0.071,1.582,0.709,2.981,0.74,4.516c0.033,1.705-0.53,3.366-0.697,5.042c-0.18,1.678-0.216,3.352-0.28,5.03
        c-0.098,2.589-0.138,6.295,2.218,7.961c1.33,0.952,2.656,1.16,2.414,3.176c-0.305,2.442-1.532,5-2.307,7.356
        c-0.687,2.119-1.621,4.25-3.864,4.889c-2.563,0.757-4.972,2.066-7.528,2.738c-2.113,0.552-4.328,0.46-6.496,0.601
        c-1.618,0.1-5.961,1.407-5.593-1.68c0.116-1.01,1.135-1.353,1.85-1.829c0.896-0.621,1.648-1.397,2.32-2.232
        c2.81-3.584,4.046-8.506,3.974-13.078c-0.036-1.635-0.064-3.295-0.36-4.912c-0.289-1.54-1.021-2.633-1.591-4.054
        c-0.316-0.774-0.351-1.731,0.665-1.323c1.013,0.401,1.338,1.81,2.536,2.026c0.103-0.074,0.072-0.135,0.015-0.253
        c-1.773-3.751-5.458-4.627-8.648-6.539c0.174,0.091,0.499-1.505,0.479-1.706c-0.116-0.562-0.621-0.964-1.049-1.296
        c-1.191-0.974-2.713-1.581-4.078-2.24c0.518,0.248,3.84,3.582,2.199,3.582c-2.175,0-3.837-2.66-6.04-3.078
        c-1.229-0.232-2.492-0.381-3.731-0.518c-0.495-0.043-0.956-0.104-1.463-0.112c-0.312-0.006-1.574,0.315-1.764,0.186
        c0.874,0.588,2.149,0.514,3.007,1.098c-2.05,0.324-4.21,0.31-6.272,0.611c-3.887,0.565-7.536,2.82-11.148,4.308
        c0.76,0.098,1.975,0.117,2.529,0.664c-0.115-0.115-1.899,3.299-2.009,3.738c-0.347,1.89-0.354,3.75-0.78,5.635
        c-0.466,1.993,0.845,4.554-0.526,6.219c-1.738,2.085-2.187,3.872-1.897,6.612c0.181,1.738-0.285,3.731,0.827,5.219
        c0.575,0.763,2.731,1.874,1.196,2.792c-0.982,0.596-2.409,0.282-3.446,0.786c-2.38,1.104-5.011,3.078-6.938,4.914
        c-1.48,1.445-1.644,3.645-3.053,5.071c-1.322,1.351-3.259,2.674-4.891,3.533c-1.366,0.729-2.967,0.638-4.344,1.309
        c-1.376,0.659-2.116,2.01-3.421,2.772c-2.025,1.204-4.486,1.281-6.724,1.711c-2.226,0.381-4.287,1.291-6.476,1.835
        c-2.545,0.658-4.776,0.146-7.355,0.291c-1.479,0.069-3.163,0.922-4.605,0.208c-0.658-0.332-1.081-1.386-1.494-1.964
        c-0.954-1.271-2.457-2.103-3.445-3.356c-2.397-3.031,1.958-3.492,1.609-6.8c-0.24-2.454-1.609-4.601-2.183-6.967
        c-0.656-2.698-0.772-5.482-1.581-8.114c-0.854-2.766-1.791-5.515-2.8-8.236c-1.546-3.899-3.741-7.527-5.256-11.474
        c-1.677-4.309-3.025-8.729-4.328-13.171c-3.441-11.626-8.017-23.265-19.249-28.839c-2.683-1.318-4.129-4.142-6.938-5.367
        c-2.746-1.201-6.054-1.624-8.959-0.762c-0.146,0.058,0.728-3.617,1.034-4.043c0.886-1.283,2.266-2.197,3.234-3.436
        c5.767-7.387,10.244-22.733,4.239-31.259c-2.31-3.289-4.432-5.328-8.253-6.24c-4.994-1.199-13.33-3.841-17.654,0.54
        c-1.028,1.05-1.74,2.38-2.877,3.393c-3.02,2.725-3.68,4.897-3.799,8.999c-0.213,6.413-1.564,13.347,2.124,19.036
        c1.783,2.758,2.93,5.468,3.336,8.798c-1.946,0.177-3.271,1.695-4.572,3.009c-1.421,1.388-2.894,2.095-4.643,2.961
        c-5.082,2.51-10.558,4.592-14.661,8.717c-4.705,4.751-6.51,11.214-10.39,16.48c-1.581,2.135-3.571,3.888-5.099,6.064
        c-2.301,3.357-5.938,4.72-9.781,4.72c-0.854,0-2.971,0.224-2.561-1.217c0.396-1.379,2.561-0.931,3.582-1.33
        c4.276-1.681,3.329-7.335,3.537-11.013c0.084-1.719,1.246-2.653,2.263-3.805c1.261-1.447,1.896-2.955,2.043-4.896
        c0.455-5.796-2.502-12.066-3.696-17.671c-1.315-6.227-2.278-12.562-2.923-18.908c-0.551-5.613-0.26-11.268-1.021-16.856
        c-0.777-5.646-2.138-11.203-2.848-16.863c-0.817-6.417-0.684-12.932-1.089-19.372c-0.271-4.209-0.536-8.416-0.72-12.626
        c-0.282-6.186-0.692-12.37-1.624-18.492c-1.525-10.023-6.937-20.099-16.676-23.224c-2.738-0.895-5.684-1.263-8.344-2.376
        c-3.654-1.535-3.625-5.852-7.445-7.033c-2.202-0.691,3.361,4.469,1.201,2.842c0.208,0.027-0.254-1.197-1.201-2.842
        c0.063-1.831,0.529-2.416-0.367-4.756c0.686-2.7-1.595-0.961-2.057-6.207c1.81-2.433,2.63-3.49,3.729-6.551
        c1.38-3.837-0.851-8.48-1.765-12.175c-0.659-2.72-0.331-5.592-0.73-8.373c-0.441-3.089-2.378-5.557-4.006-8.053
        c-1.485-2.278-2.811-4.734-4.818-6.576c-3.188-2.896-7.808-3.29-11.843-2.989c-3.788,0.279-8.974,0.112-12.171,2.538
        c-1.461,1.11-1.944,2.908-2.973,4.38c-1.196,1.709-3.095,2.802-4.023,4.727c-1.081,2.253-0.491,4.937-1.563,7.185
        c-1.737,3.668-4.039,6.27-4.621,10.454c-0.61,4.572,0.251,9.235,0.836,13.753c0.34,2.695,0.145,5.963,1.429,8.406
        c1.028,1.983,0.132,1.54-0.515,5.53c-1.872,3.977,0,0-1.969,2.062c-1.956,2.041-3.471,3.647-6.399,3.853
        c-7.764,0.576-16.38,3.997-20.258,11.416c-1.639,3.15-2.589,6.672-3.636,10.065c-1.07,3.501-2.031,7.058-2.431,10.714
        c-0.877,8.145-1.63,16.28-2.583,24.425c-0.674,5.813-0.509,11.896-0.762,17.769c-0.34,7.976-1.339,15.795-2.296,23.718
        c-0.26,2.196-0.494,4.388-0.67,6.601c-0.314,4.003-0.088,7.994-0.088,12.008c0,3.533,0,7.034,0.088,10.555
        c0.151,6.239-1.018,12.385-2.364,18.464c-0.34,1.519-0.665,3.188-0.329,4.749C170.156,259.454,170.197,259.58,170.221,259.715z
         M477.442,418.461c0.159-1.757,1.249-3.676,2.392-1.161c0.99,2.178,0.947,5.078,1.02,7.436c0.094,2.674,0.102,5.404-0.145,8.056
        c-0.029,0.223-0.059,0.424-0.087,0.646c-0.325,2.113-1.099,4.406-0.312,6.428c-0.772-2.023-1.995-3.876-2.595-5.975
        c-0.649-2.269,0-4.543-0.181-6.875C477.333,424.174,477.188,421.3,477.442,418.461z M227.066,378.048
        c0.699-10.479,0.337-20.988,0.382-31.496c0.024-8.001-2.298-18.045,3.396-24.632c0.91,6.726,0.502,13.67,0.266,20.466
        c-0.174,4.997,1.069,9.866,1.889,14.743c0.805,4.783,0.753,9.282,0.356,14.113c-0.438,5.493-0.904,11.011-1.366,16.515
        c-0.39,4.664,0.058,44.665-6.738,43.927C220.352,425.941,226.604,385.211,227.066,378.048z"/>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_2_" d="M213.593,96.078c0,0-0.011-0.014-0.011,0C213.582,96.188,213.59,96.159,213.593,96.078z M170.221,259.715
            c0.426,1.397,1.421,2.39,1.991,3.727c0.529,1.234,0.385,2.561,0.424,3.874c0.07,1.747,0.105,3.5,0.345,5.233
            c0.37,2.707,1.056,5.407,2.365,7.807c0.61,1.12,1.246,2.352,2.204,3.206c1.405,1.272,4.868,2.068,6.688,1.829
            c2.341-0.322,1.102-1.673,0.226-2.905c-1.091-1.56-0.996-3.705-2.827-4.639c-4.061-2.085-4.431-10.725-0.28-12.789
            c1.127-0.556,2.832-0.434,3.82-1.083c2.457-1.595,1.232-6.012,0.652-8.299c-0.878-3.376-0.601-6.558,0.099-9.943
            c0.921-4.517,1.613-9.016,2.361-13.577c1.215-7.398,2.885-14.68,4.827-21.915l2.399-9.277c-0.551,2.109-0.636,4.464-0.954,6.627
            c-0.317,2.277-0.636,4.559-0.949,6.835c-0.371,2.582-1.281,5.025-2.072,7.5c-0.818,2.564-1.188,5.11-1.64,7.77
            c-0.267,1.604-0.651,3.208-0.492,4.853c0.141,1.507,1.446,2.22,1.395,3.84c-0.054,1.512-0.347,2.983-0.462,4.457
            c-0.167,2.122-0.347,4.236-0.385,6.358c-0.101,4.115,0.667,8.101,0.977,12.183c0.466,6.009-0.329,12.582,1.392,18.386
            c0.515,1.75,1.087,3.434,1.733,5.179c0.758,2.035,0.585,4.446,0.701,6.593c0.294,5.408,0.625,10.807,0.547,16.24
            c-0.056,4.007-0.358,7.98-0.497,11.956c-0.151,4.17-0.121,8.305,0.074,12.476c0.105,2.417,0.211,4.877,0.105,7.294
            c-0.168,4.004-1.21,7.836-1.5,11.812c-0.308,4.019-0.318,8.046-0.41,12.066c-0.187,8.803-0.278,17.618-0.236,26.439
            c0.025,1.863,0.088,3.734,0.088,5.625c0.081,3.069-1.095,9.006,2.457,10.563c0.266,0.11,3.343,0.808,3.414,0.59
            c-0.988,3.072-1.501,6.344-1.346,9.564c0.078,1.566,0.336,3.139,0.851,4.621c0.531,1.483,1.513,2.737,1.975,4.257
            c0.466,1.533,0.466,3.148,0.536,4.713c0.212,4.462,1.177,8.943,2.113,13.286c0.912,4.153,1.705,8.25,3.417,12.136
            c1.303,2.942,2.834,4.877,5.867,5.847c3.622,1.171,7.395,1.233,10.773-0.732c2.29-1.345,4.497-3.064,5.09-5.861
            c0.537-2.564,0.04-5.417-0.652-7.896c-0.505-1.802-1.168-3.561-1.938-5.245c-1.021-2.237-2.098-4.786-2.6-7.211
            c-0.549-2.57,1.783-2.209,3.45-2.542c1.221-0.257,3.903-1.157,4.577,0.533c0.772,1.904-0.268,5.046-0.434,7.087
            c-0.109,1.409-0.219,2.854-0.336,4.267c-0.042,0.513-0.638,4.046-0.341,4.287l0.921,0.722c0.44,0.346,0.24,3.372,0.282,4.038
            c0.07,1.177,0.133,2.399,0.359,3.566c0.857,4.336,4.382,5.483,8.229,5.465c3.479-0.041,7.953,1.829,10.633-1.46
            c1.817-2.238,2.082-5.135,2.113-7.945c1.487-0.306,2.984-0.074,4.498-0.153c1.021-0.027,1.429-0.055,1.646-1.108
            c0.825-4.271,1.195-8.839,0.729-13.182c-0.307-2.878-0.914-5.756-0.772-8.679c0.226-4.2,1.136-8.319,1.704-12.49
            c0.537-3.829,1.311-7.608,1.887-11.436c0.338-2.26,0.61-4.503,0.748-6.771c0.173-2.855,0.2-5.72,0.2-8.563
            c0.07-3.425,0.255-6.826,0.318-10.231c0.082-5.496-0.137-11.01-0.137-16.5c0.003-3.154,0.07-6.347,0.232-9.503
            c0.134-2.435,0.353-4.875,0.73-7.27c0.346-2.217,0.784-4.406,1.168-6.622c1.279-7.104,1.32-14.401,2.563-21.525
            c0.37-2.103,0.811-4.169,1.221-6.252c1.575-7.888,2.867-15.848,4.359-23.755c0.578-3.01,1.158-6.057,1.723-9.074
            c0.833-4.487,0.742-9.137,1.757-13.56c0.537-2.322,1.698-4.49,1.942-6.876c0.583-5.412-0.637-10.891-0.078-16.336
            c0.236-2.354,1.313-3.915,2.379-5.922c1.313-2.504,0.265-5.042,1.138-7.587c-0.375,1.855,0.227,3.844,0.269,5.732
            c0.056,2.251,0.077,4.494,0.105,6.746c0.134,6.047,0.078,12.087-0.003,18.132c-0.011,0.805-0.018,1.618-0.032,2.416l3.082,0.361
            l3.784,0.716l3.308,0.478c-0.925-0.132-1.779,4.748-2.336,5.346c-1.261,1.402-3.258-0.203-4.639-0.511
            c-2.856-0.652-2.948,3.056-4.12,4.748c-0.811,1.202-2.061,2.863-1.91,4.434c0.131,1.425,1.438,1.602,2.497,2.031
            c-1.247,1.803-1.127,3.018,0.467,4.679c0.994,1.022,2.07,1.975,3.381,2.521c1.534,0.659,3.543-0.288,4.472,1.521
            c0.952,1.824,0.867,4.161,1.714,6.064c0.728,1.645,1.712,3.147,3.318,3.989c1.886,0.98,4.116,0.91,6.104,1.508
            c3.007,0.886,6.199,1.253,9.292,0.622c1.655-0.332,3.309-1.101,4.637-2.178c1.989-1.639,2.841-3.986,3.835-6.324
            c1.09-2.535,2.669-4.399,4.524-6.35c1.225-1.294,2.32-2.745,3.067-4.393c0.788-1.742,0.861-3.493,1.18-5.333
            c0.353-2.016,0.797-4.013,1.006-6.054c0.268,7.231,1.673,14.515,0.444,21.725c-0.459,2.746-1.37,5.427-2.531,7.953
            c-1.049,2.304-2.359,4.51-2.877,7.053c-0.519,2.572-0.268,5.333,0.28,7.885c1.037,4.752,3.622,8.888,5.009,13.532
            c0.497,1.685,0.814,3.422,0.871,5.182c0.054,1.607-0.042,3.21,0.502,4.759c0.47,1.326,1.407,2.374,1.976,3.644
            c0.584,1.271,0.836,2.731,0.985,4.146c0.35,3.103,0.173,6.31,1.391,9.209c0.771,1.806,1.721,3.555,2.134,5.489
            c0.811,3.656,0.208,7.912,0.349,11.643c0.166,4.606,0.466,9.195,0.703,13.801c0.123,2.33,0.201,4.669,0.229,6.99
            c0.042,4.663,0.019,9.339,0.621,13.965c0.876,6.712,4.169,12.869,1.528,19.651c-0.836,2.165-1.207,4.401-0.889,6.725
            c0.504,3.693,1.527,7.251,1.884,10.952c0.296,2.995,0.599,5.778,2.577,8.153c1.055,1.246-0.251,2.515-1.405,3.082
            c-0.917,0.45-1.945,0.596-2.313,1.725c-0.352,1.1,0.274,2.311,1.018,3.089c1.856,1.934,5.63,2.568,8.104,2.894
            c1.641,0.237,3.752,0.371,5.298-0.363c0.706-0.363,1.199-0.887,1.558-1.622c0.094-0.2,0.836-2.174,0.694-2.265
            c0.818,0.449,1.098,0.589,1.496,1.462c0.219,0.506,0.543,0.816,0.988,1.081c1.915,1.053,4.682,0.66,6.777,0.547
            c2.596-0.152,5.13-0.956,5.575-3.969c0.396-2.668-0.556-5.352-0.41-8.035c0.143-2.875,1.382-5.397,1.205-8.348
            c-0.206-3.452,1.347-7.093,0.243-10.475c-0.911-2.846-2.484-5.484-1.782-8.617c0.77-3.386,2.708-6.337,3.647-9.645
            c1.209-4.222,0.48-8.642,1.517-12.851c0.636-2.586,1.897-4.99,2.583-7.594c0.665-2.551,0.629-5.13,0.897-7.724
            c0.408-3.996,1.62-7.848,2.787-11.658c2.042-6.687,3.573-13.749,4.128-20.746c0.166-1.892,0.254-3.809,0.229-5.714
            c-0.016-4.6-0.76-9.345-2.115-13.716c-0.597-1.888-1.92-3.977-1.443-6.042c0.519-2.257,3.13-1.486,4.354-2.851
            c1.113-1.259,0.732-3.438,0.609-4.955c-0.251-3.025,0.074-6.063-0.307-9.08c-0.477-3.661-1.335-7.093-2.296-10.646
            c0.357,1.281,1.313,2.673,1.896,3.872c0.633,1.316,1.288,2.618,2.017,3.874c1.455,2.457,3.145,4.752,4.527,7.257
            c1.674,2.988,3.862,5.818,5.15,8.994c0.192,0.479,0.729,5.021,0.438,4.942c1.29,0.312,2.322,0.106,2.188,1.648
            c-0.126,1.27-0.155,2.564-0.169,3.859c-0.018,3.024,0.304,6.18,0.618,9.179c0.219,2.051,0.911,4.316,3.24,4.461
            c1.586,0.097,3.215,0.264,4.794,0.015c1.497-0.229,2.771-1.685,4.221-1.78c0.424-0.042,1.487,1.654,1.904,1.937
            c1.884,1.256,4.839,0.411,6.767-0.344c2.006-0.764,3.78,0.68,5.665,1.145c2.507,0.629,5.546-0.032,8.139-0.212
            c4.514-0.239,11.329,0.135,14.877-3.366c0.587-0.565,1.814-2.723,2.854-2.145c1.033,0.574-0.015,2.639-0.202,3.437
            c-0.502,2.051,0.892,3.411,1.029,5.424c0.145,1.827-0.85,3.497-1.188,5.253c-0.351,1.565,0.146,3.048,0.463,4.597
            c0.354,1.571,0.354,3.116,0,4.706c-0.324,1.482-0.729,3.38,0.918,4.188c-0.075-0.039-1.654,8.858-1.773,9.606
            c-0.103,0.589-0.235,1.185-0.282,1.794c-0.372,3.811-0.455,7.675-0.055,11.479c0.214,2.282,0.63,4.569,1.005,6.824
            c0.621,4.031,1.344,8.038,2.06,12.056c1.365,7.794,2.366,15.714,3.014,23.607c0.253,3.079,0.49,6.237,0.264,9.348
            c-0.213,2.796-1.138,5.482-1.352,8.264c-0.104,1.372,0.352,2.691,1.638,3.333c1.748,0.886,2.376,1.452,1.553,3.531
            c-0.849,2.131-1.199,4.274,1.601,4.804c3.572,0.668,7.678,1.07,11.282,0.496c3.663-0.575,1.306-4.157,2.14-6.428
            c0.549-1.417,2.218-1.452,3.37-1.016c1.341,0.517,2.164,1.604,2.164,3.117c-0.015,5.298,7.871,4.804,10.949,2.777
            c1.934-1.275,2.009-3.577,2.749-5.601c0.535-1.393,1.619-2.458,2.061-3.868c0.521-1.613,0.261-3.418,0.158-5.061
            c-0.145-2.179-0.446-4.288-0.855-6.421c-0.937-4.952-1.965-10.134-1.146-15.19c0.523-3.318,0.657-6.685,0.594-10.03
            c-0.073-3.09-0.551-6.268-0.026-9.331c0.409-2.368,1.564-4.495,2.031-6.85c0.529-2.785,0.137-5.61,0.35-8.406
            c0.159-2.013,0.724-3.938,1.222-5.906c0.404-1.578,0.563-3.429,1.329-4.874c1.143-2.136,3.627-2.696,4.344-5.19
            c0.726-2.548,0.07-5.221,0.13-7.788c0.058-2.123,0.938-4.042,1.582-6.002c1.607-4.772,2.069-9.352,0.954-14.324
            c-0.744-3.347-1.811-6.872-0.661-10.267c0.545-1.624,1.846-2.701,3.017-3.789c1.005-0.954,1.704-2.244,2.725-3.148
            c0.961-0.876,2.298-0.856,3.485-0.985c2.563-0.326,4.154-2.049,5.976-3.79c2.169-2.104,5.744-1.583,7.512-4.09
            c1.16-1.655,1.51-3.755,1.764-5.731c0.166-1.281,0.23-2.567,0.328-3.845c0.313-3.73,0.328-7.635,0.877-11.306
            c0.232-1.492,1.967-1.122,2.18-2.666c0.264-1.829-1.188-3.727-0.24-5.479c0.02-0.055,1.953-0.029,2.188-0.104
            c3.109-0.959,0.736-4.602,0.205-6.517c-0.775-2.861-0.791-5.556-0.115-8.453c0.336-1.344,0.611-1.451,1.904-1.919
            c0.375-0.331-0.076-3.596-0.08-4.097c-0.035-1.683-0.086-3.371-0.051-5.07c0.145-5.154,2.607-9.754,3.162-14.85
            c0.827-7.485,3.821-14.399,4.711-21.841c0.332-2.762,0.491-5.543,0.553-8.321c0.051-2.955,0.076-5.978,1.004-8.806
            c1.12-3.354,2.84-6.444,4.04-9.76c-0.312,1.326-0.116,2.868-0.159,4.236c-0.072,1.682-0.138,3.371-0.21,5.051
            c-0.141,3.303-0.253,6.618-0.368,9.927c-0.245,7.161-0.344,14.355-0.557,21.522c-0.08,3.265-0.387,6.605-0.036,9.851
            c0.645,0.149,1.341,0.139,1.994,0.273c0.214,3.189-0.795,6.269-0.318,9.49c0.472,3.157,1.417,6.23,1.389,9.448
            c-0.007,3.455-0.495,6.895-0.629,10.343c-0.162,4.352-0.225,8.714-0.288,13.064c-0.123,8.998-2.097,17.813-0.767,26.846
            c0.268,1.853,0.772,3.778,1.843,5.336c0.889,1.255,2.479,2.272,2.697,3.946c0.305,2.287-2.025,4.215-2.104,6.611
            c-0.087,2.7,0.787,5.327,0.769,8.025c-0.018,2.963-0.3,5.918-0.603,8.872c-0.42,4.36-0.701,8.715-0.918,13.082
            c-0.138,2.473-0.262,4.946-0.361,7.398c-0.216,4.411-0.448,8.831-0.494,13.235c-0.048,2.737,0,5.487,0.165,8.229
            c0.159,2.72,0.476,5.444,1.045,8.118c0.518,2.438,1.412,4.742,2.638,6.877c0.356,0.625,1.309,2.736,2.152,2.736
            c-1.553-0.018-2.88,2.607-3.294,3.871c-0.637,2.004-0.499,4.274,0.075,6.286c0.636,2.307,2.546,4.253,1.99,6.823
            c-1.013,4.683-3.204,8.845-5.252,13.112c-2.394,5.037-4.012,13.535,1.273,17.442c4.687,3.459,11.947,3.339,16.843,0.502
            c2.346-1.382,4.921-3.273,5.929-5.975c1.518-4.077,0.376-9.006,0.958-13.307c0.466-3.519,2.112-5.327,4.555-7.561
            c5.087-4.63,3.859-13.524,1.301-19.198c-1.147-2.534-1.609-4.772-0.473-7.423c1.094-2.56,2.792-4.725,3.508-7.456
            c1.373-5.307,0.889-11.099,0.478-16.499c-0.238-3.188-0.075-6.36-0.075-9.56c-0.016-3.076-0.705-5.979-1.084-9.005
            c-0.388-2.97,0.343-5.483,0.91-8.344c0.636-3.149,0.205-6.014-0.637-9.044c-0.51-1.904-1.131-3.886,0.629-5.248
            c1.464-1.111,2.851-1.531,3.426-3.509c0.771-2.735,0.486-5.946,0.458-8.765c-0.025-3.145-0.185-6.295-0.138-9.441
            c0.065-3.166,0.498-6.255,0.946-9.396c0.441-3.146,0.521-6.297,0.553-9.469c0.047-2.712,0.213-5.365,0.408-8.057
            c0.146-1.923,0.146-3.976,0.979-5.764c0.339-0.79,0.854-1.461,1.387-2.121c0.257,4.585-0.264,9.146-0.021,13.73
            c0.242,4.6,2.128,8.833,2.547,13.384c0.448,4.717-0.53,9.462-0.933,14.146c-0.433,4.786-0.419,9.559-0.075,14.345
            c0.314,4.704,0.188,9.047-0.878,13.66c-1.048,4.64-1.776,9.171-1.937,13.946c-0.313,9.569,0.514,19.076,0.403,28.633
            c-0.054,4.787-0.213,9.614-1.047,14.346c-0.799,4.538-2.275,8.9-3.909,13.178c-1.879,4.86-3.619,9.667-1.404,14.785
            c1.055,2.5,2.9,4.509,4.224,6.868c1.249,2.277,1.755,4.513,1.379,7.09c-0.328,2.141-0.917,4.658,1.027,6.175
            c2.317,1.794,5.27,1.978,8.056,1.866c3.157-0.106,6.254,0.215,9.404,0.194c2.456-0.015,5.755-0.831,6.112-3.872
            c0.18-1.557-0.479-3.04-0.684-4.562c-0.333-2.123,1.17-3.905,1.828-5.795c1.495-4.336,0.902-8.986,0.78-13.521
            c-0.152-5.31,0.671-10.599,1.495-15.836c0.347-2.239,0.699-4.475,1.004-6.725c0.348-2.681,0.661-5.348,0.938-8.042
            c0.354-3.437,1.424-6.761,1.821-10.204c0.36-3.003,0.477-6.046,0.697-9.058c0.31-3.795,1.13-7.533,2.182-11.169
            c1.376-4.792,2.352-9.677,2.937-14.65c0.499-4.204,0.297-8.461,0.638-12.677c0.354-4.599,0.845-9.16,1.337-13.73
            c0.276-2.582,0.563-5.187,0.845-7.774c0.239-2.268,0.47-4.499,0.636-6.771c0.213-2.803,0.392-5.594,0.55-8.385
            c0.158-2.921,0.288-5.852,0.467-8.795c0.111-2.106,0.233-4.215,0.351-6.324c0.332-5.781,0.849-11.635,0.849-17.429
            c0.104-1.986,0.092-4.107,0.44-6.064c0.615-3.501,1.424-6.968,1.666-10.527c0.267-3.696,0.296-7.392,0.57-11.083
            c0.194-2.363-0.601-5.188,0.225-7.439c0.288-0.764,3.511-3.385,4.354-2.913c1.325,0.761,1.554,1.848,1.554,3.313
            c0,1.965,0.061,3.939,0.19,5.912c0.112,1.905,0.289,4.018-0.396,5.896c-0.711,1.905-2.265,3.287-2.817,5.295
            c-0.477,1.712-0.933,3.45-1.4,5.192c-0.717,2.715-1.136,6.174-1.136,9.001c0,1.496-0.404,2.981-0.21,4.478
            c0.305,2.416,2.346,1.359,3.853,0.667c-0.463,0.22-0.313,1.884-0.571,2.32c-0.925,1.476-3.901,0.922-2.421,3.66
            c0.697,1.245,3.054,2.884,4.48,2.662c0.992-0.159,1.856-0.721,2.796-0.992c-0.384,0.099-0.938,1.434-1.142,1.808
            c-0.369,0.682-0.854,1.558-0.065,2.156c1.78,1.31,2.897,0.22,3.967-1.358c0.478-0.719,0.855-1.68,1.568-2.229
            c1.271-0.941,2.717-0.885,3.88-2.14c4.003-4.294,3.445-10.162,3.624-15.608c0.074-2.933,0.355-5.854,0.708-8.75
            c0.166-1.276-0.146-3.089,1.253-3.753c1.405-0.654,3.173,0.425,4.565-0.522c1.808-1.234,1.634-5.897,1.567-7.785
            c-0.071-3.214-0.537-6.409-0.609-9.621c-0.062-3.422,0.075-6.835,0.462-10.233c0.438-3.872,0.538-7.716,0.755-11.621
            c0.222-4.526,0.531-9.083,0.182-13.612c-0.617-7.916-2.405-15.708-3.164-23.618c-0.214-2.156-0.354-4.312-0.48-6.483
            c-0.317-5.479-0.803-10.905-2.319-16.178c-1.907-6.808-4.137-13.485-6.056-20.27c-0.578-2.024-1.158-4.034-1.81-6.035
            c-0.633-1.948-1.329-3.877-2.066-5.787c-0.902-2.332-1.813-4.653-2.598-7.039c-0.621-1.962-1.108-4.023-2.214-5.753
            c-1.188-1.898-3.125-3.029-4.776-4.419c-1.463-1.235-2.729-2.698-4.379-3.665c-1.741-1.008-3.682-1.512-5.538-2.196
            c-3.501-1.313-6.997-2.911-10.19-4.894c-3.468-2.145-6.728-4.879-10.679-6.04c-1.951-0.561-4.126-0.922-5.191-2.968
            c-1.174-2.239,0.221-4.436,1.759-6.033c3.125-3.246,3.443-7.788,3.161-12.123c-0.22-3.583,0.69-7.076,0.734-10.647
            c0.043-6.069-4.653-10.531-9.127-13.627c-1.748-1.185-3.548-2.552-5.61-3.016c-2.395-0.53-4.638,0.463-6.993,0.685
            c-2.345,0.22-4.731,0.234-6.969,1.075c-2.464,0.924-4.097,2.915-5.669,4.999c-1.716,2.278-3.526,4.722-3.935,7.689
            c-0.499,3.579-1.906,7.265,0.102,10.629c0.549,0.915,1.243,1.75,1.558,2.762c0.517,1.607,0.213,3.355,0.764,4.987
            c0.52,1.584,1.407,3.012,2.147,4.487c1.016,1.989,1.615,4.238,3.298,5.77c4.17,3.773-2.903,5.607-4.659,7.716
            c-2.125,2.541-3.821,5.016-6.4,7.089c-1.938,1.54-4.063,2.853-6.272,3.884c-2.305,1.067-4.75,1.702-7.022,2.809
            c-3.179,1.518-6.906,3.838-9.378,6.423c-2.05,2.109-3.343,4.873-4.877,7.383c-1.924,3.146-3.584,6.489-4.855,9.98
            c-0.695,1.932-1.289,3.922-1.746,5.937c-0.51,2.327-0.971,4.667-1.482,6.994c-0.697,2.976-1.338,5.958-2.01,8.928
            c-0.463,2.071-0.896,4.142-1.313,6.234c-0.943,4.78-1.578,9.64-2.402,14.458c-1.055,6.269-2.145,12.511-3.103,18.781
            c-0.345,2.18-0.637,4.376-0.796,6.601c-0.249,3.479,0.021,6.961-0.221,10.451c-0.214,2.927-1.025,5.668-1.626,8.516
            c-0.633,2.965-1.231,5.923-1.558,8.951c-0.455,4.22-0.538,8.494-0.772,12.721c-0.107,2.125-0.213,4.25-0.273,6.358
            c-0.076,2.585-0.163,5.178-0.242,7.76c-0.146,3.732-0.318,7.479-0.571,11.197c-0.13,1.699-0.354,3.433-0.419,5.131
            c-0.071,1.582,0.709,2.981,0.74,4.516c0.033,1.705-0.53,3.366-0.697,5.042c-0.18,1.678-0.216,3.352-0.28,5.03
            c-0.098,2.589-0.138,6.295,2.218,7.961c1.33,0.952,2.656,1.16,2.414,3.176c-0.305,2.442-1.532,5-2.307,7.356
            c-0.687,2.119-1.621,4.25-3.864,4.889c-2.563,0.757-4.972,2.066-7.528,2.738c-2.113,0.552-4.328,0.46-6.496,0.601
            c-1.618,0.1-5.961,1.407-5.593-1.68c0.116-1.01,1.135-1.353,1.85-1.829c0.896-0.621,1.648-1.397,2.32-2.232
            c2.81-3.584,4.046-8.506,3.974-13.078c-0.036-1.635-0.064-3.295-0.36-4.912c-0.289-1.54-1.021-2.633-1.591-4.054
            c-0.316-0.774-0.351-1.731,0.665-1.323c1.013,0.401,1.338,1.81,2.536,2.026c0.103-0.074,0.072-0.135,0.015-0.253
            c-1.773-3.751-5.458-4.627-8.648-6.539c0.174,0.091,0.499-1.505,0.479-1.706c-0.116-0.562-0.621-0.964-1.049-1.296
            c-1.191-0.974-2.713-1.581-4.078-2.24c0.518,0.248,3.84,3.582,2.199,3.582c-2.175,0-3.837-2.66-6.04-3.078
            c-1.229-0.232-2.492-0.381-3.731-0.518c-0.495-0.043-0.956-0.104-1.463-0.112c-0.312-0.006-1.574,0.315-1.764,0.186
            c0.874,0.588,2.149,0.514,3.007,1.098c-2.05,0.324-4.21,0.31-6.272,0.611c-3.887,0.565-7.536,2.82-11.148,4.308
            c0.76,0.098,1.975,0.117,2.529,0.664c-0.115-0.115-1.899,3.299-2.009,3.738c-0.347,1.89-0.354,3.75-0.78,5.635
            c-0.466,1.993,0.845,4.554-0.526,6.219c-1.738,2.085-2.187,3.872-1.897,6.612c0.181,1.738-0.285,3.731,0.827,5.219
            c0.575,0.763,2.731,1.874,1.196,2.792c-0.982,0.596-2.409,0.282-3.446,0.786c-2.38,1.104-5.011,3.078-6.938,4.914
            c-1.48,1.445-1.644,3.645-3.053,5.071c-1.322,1.351-3.259,2.674-4.891,3.533c-1.366,0.729-2.967,0.638-4.344,1.309
            c-1.376,0.659-2.116,2.01-3.421,2.772c-2.025,1.204-4.486,1.281-6.724,1.711c-2.226,0.381-4.287,1.291-6.476,1.835
            c-2.545,0.658-4.776,0.146-7.355,0.291c-1.479,0.069-3.163,0.922-4.605,0.208c-0.658-0.332-1.081-1.386-1.494-1.964
            c-0.954-1.271-2.457-2.103-3.445-3.356c-2.397-3.031,1.958-3.492,1.609-6.8c-0.24-2.454-1.609-4.601-2.183-6.967
            c-0.656-2.698-0.772-5.482-1.581-8.114c-0.854-2.766-1.791-5.515-2.8-8.236c-1.546-3.899-3.741-7.527-5.256-11.474
            c-1.677-4.309-3.025-8.729-4.328-13.171c-3.441-11.626-8.017-23.265-19.249-28.839c-2.683-1.318-4.129-4.142-6.938-5.367
            c-2.746-1.201-6.054-1.624-8.959-0.762c-0.146,0.058,0.728-3.617,1.034-4.043c0.886-1.283,2.266-2.197,3.234-3.436
            c5.767-7.387,10.244-22.733,4.239-31.259c-2.31-3.289-4.432-5.328-8.253-6.24c-4.994-1.199-13.33-3.841-17.654,0.54
            c-1.028,1.05-1.74,2.38-2.877,3.393c-3.02,2.725-3.68,4.897-3.799,8.999c-0.213,6.413-1.564,13.347,2.124,19.036
            c1.783,2.758,2.93,5.468,3.336,8.798c-1.946,0.177-3.271,1.695-4.572,3.009c-1.421,1.388-2.894,2.095-4.643,2.961
            c-5.082,2.51-10.558,4.592-14.661,8.717c-4.705,4.751-6.51,11.214-10.39,16.48c-1.581,2.135-3.571,3.888-5.099,6.064
            c-2.301,3.357-5.938,4.72-9.781,4.72c-0.854,0-2.971,0.224-2.561-1.217c0.396-1.379,2.561-0.931,3.582-1.33
            c4.276-1.681,3.329-7.335,3.537-11.013c0.084-1.719,1.246-2.653,2.263-3.805c1.261-1.447,1.896-2.955,2.043-4.896
            c0.455-5.796-2.502-12.066-3.696-17.671c-1.315-6.227-2.278-12.562-2.923-18.908c-0.551-5.613-0.26-11.268-1.021-16.856
            c-0.777-5.646-2.138-11.203-2.848-16.863c-0.817-6.417-0.684-12.932-1.089-19.372c-0.271-4.209-0.536-8.416-0.72-12.626
            c-0.282-6.186-0.692-12.37-1.624-18.492c-1.525-10.023-6.937-20.099-16.676-23.224c-2.738-0.895-5.684-1.263-8.344-2.376
            c-3.654-1.535-3.625-5.852-7.445-7.033c-2.202-0.691,3.361,4.469,1.201,2.842c0.208,0.027-0.254-1.197-1.201-2.842
            c0.063-1.831,0.529-2.416-0.367-4.756c0.686-2.7-1.595-0.961-2.057-6.207c1.81-2.433,2.63-3.49,3.729-6.551
            c1.38-3.837-0.851-8.48-1.765-12.175c-0.659-2.72-0.331-5.592-0.73-8.373c-0.441-3.089-2.378-5.557-4.006-8.053
            c-1.485-2.278-2.811-4.734-4.818-6.576c-3.188-2.896-7.808-3.29-11.843-2.989c-3.788,0.279-8.974,0.112-12.171,2.538
            c-1.461,1.11-1.944,2.908-2.973,4.38c-1.196,1.709-3.095,2.802-4.023,4.727c-1.081,2.253-0.491,4.937-1.563,7.185
            c-1.737,3.668-4.039,6.27-4.621,10.454c-0.61,4.572,0.251,9.235,0.836,13.753c0.34,2.695,0.145,5.963,1.429,8.406
            c1.028,1.983,0.132,1.54-0.515,5.53c-1.872,3.977,0,0-1.969,2.062c-1.956,2.041-3.471,3.647-6.399,3.853
            c-7.764,0.576-16.38,3.997-20.258,11.416c-1.639,3.15-2.589,6.672-3.636,10.065c-1.07,3.501-2.031,7.058-2.431,10.714
            c-0.877,8.145-1.63,16.28-2.583,24.425c-0.674,5.813-0.509,11.896-0.762,17.769c-0.34,7.976-1.339,15.795-2.296,23.718
            c-0.26,2.196-0.494,4.388-0.67,6.601c-0.314,4.003-0.088,7.994-0.088,12.008c0,3.533,0,7.034,0.088,10.555
            c0.151,6.239-1.018,12.385-2.364,18.464c-0.34,1.519-0.665,3.188-0.329,4.749C170.156,259.454,170.197,259.58,170.221,259.715z
             M477.442,418.461c0.159-1.757,1.249-3.676,2.392-1.161c0.99,2.178,0.947,5.078,1.02,7.436c0.094,2.674,0.102,5.404-0.145,8.056
            c-0.029,0.223-0.059,0.424-0.087,0.646c-0.325,2.113-1.099,4.406-0.312,6.428c-0.772-2.023-1.995-3.876-2.595-5.975
            c-0.649-2.269,0-4.543-0.181-6.875C477.333,424.174,477.188,421.3,477.442,418.461z M227.066,378.048
            c0.699-10.479,0.337-20.988,0.382-31.496c0.024-8.001-2.298-18.045,3.396-24.632c0.91,6.726,0.502,13.67,0.266,20.466
            c-0.174,4.997,1.069,9.866,1.889,14.743c0.805,4.783,0.753,9.282,0.356,14.113c-0.438,5.493-0.904,11.011-1.366,16.515
            c-0.39,4.664,0.058,44.665-6.738,43.927C220.352,425.941,226.604,385.211,227.066,378.048z"/>
        </defs>
        <clipPath id="SVGID_3_">
          <use xlink:href="#SVGID_2_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_3_)" fill="#61B152" d="M146.638,316.613c0,0,181.271-44.331,317.221-26.597
          c135.951,17.73,244.274-9.753,269.191-19.507c0,0,3.782,204.625,0,208.257c-3.782,3.625-563.291,0-563.291,0L146.638,316.613z"/>
      </g>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_5_" d="M213.593,96.078c0,0-0.011-0.014-0.011,0C213.582,96.188,213.59,96.159,213.593,96.078z M170.221,259.715
            c0.426,1.397,1.421,2.39,1.991,3.727c0.529,1.234,0.385,2.561,0.424,3.874c0.07,1.747,0.105,3.5,0.345,5.233
            c0.37,2.707,1.056,5.407,2.365,7.807c0.61,1.12,1.246,2.352,2.204,3.206c1.405,1.272,4.868,2.068,6.688,1.829
            c2.341-0.322,1.102-1.673,0.226-2.905c-1.091-1.56-0.996-3.705-2.827-4.639c-4.061-2.085-4.431-10.725-0.28-12.789
            c1.127-0.556,2.832-0.434,3.82-1.083c2.457-1.595,1.232-6.012,0.652-8.299c-0.878-3.376-0.601-6.558,0.099-9.943
            c0.921-4.517,1.613-9.016,2.361-13.577c1.215-7.398,2.885-14.68,4.827-21.915l2.399-9.277c-0.551,2.109-0.636,4.464-0.954,6.627
            c-0.317,2.277-0.636,4.559-0.949,6.835c-0.371,2.582-1.281,5.025-2.072,7.5c-0.818,2.564-1.188,5.11-1.64,7.77
            c-0.267,1.604-0.651,3.208-0.492,4.853c0.141,1.507,1.446,2.22,1.395,3.84c-0.054,1.512-0.347,2.983-0.462,4.457
            c-0.167,2.122-0.347,4.236-0.385,6.358c-0.101,4.115,0.667,8.101,0.977,12.183c0.466,6.009-0.329,12.582,1.392,18.386
            c0.515,1.75,1.087,3.434,1.733,5.179c0.758,2.035,0.585,4.446,0.701,6.593c0.294,5.408,0.625,10.807,0.547,16.24
            c-0.056,4.007-0.358,7.98-0.497,11.956c-0.151,4.17-0.121,8.305,0.074,12.476c0.105,2.417,0.211,4.877,0.105,7.294
            c-0.168,4.004-1.21,7.836-1.5,11.812c-0.308,4.019-0.318,8.046-0.41,12.066c-0.187,8.803-0.278,17.618-0.236,26.439
            c0.025,1.863,0.088,3.734,0.088,5.625c0.081,3.069-1.095,9.006,2.457,10.563c0.266,0.11,3.343,0.808,3.414,0.59
            c-0.988,3.072-1.501,6.344-1.346,9.564c0.078,1.566,0.336,3.139,0.851,4.621c0.531,1.483,1.513,2.737,1.975,4.257
            c0.466,1.533,0.466,3.148,0.536,4.713c0.212,4.462,1.177,8.943,2.113,13.286c0.912,4.153,1.705,8.25,3.417,12.136
            c1.303,2.942,2.834,4.877,5.867,5.847c3.622,1.171,7.395,1.233,10.773-0.732c2.29-1.345,4.497-3.064,5.09-5.861
            c0.537-2.564,0.04-5.417-0.652-7.896c-0.505-1.802-1.168-3.561-1.938-5.245c-1.021-2.237-2.098-4.786-2.6-7.211
            c-0.549-2.57,1.783-2.209,3.45-2.542c1.221-0.257,3.903-1.157,4.577,0.533c0.772,1.904-0.268,5.046-0.434,7.087
            c-0.109,1.409-0.219,2.854-0.336,4.267c-0.042,0.513-0.638,4.046-0.341,4.287l0.921,0.722c0.44,0.346,0.24,3.372,0.282,4.038
            c0.07,1.177,0.133,2.399,0.359,3.566c0.857,4.336,4.382,5.483,8.229,5.465c3.479-0.041,7.953,1.829,10.633-1.46
            c1.817-2.238,2.082-5.135,2.113-7.945c1.487-0.306,2.984-0.074,4.498-0.153c1.021-0.027,1.429-0.055,1.646-1.108
            c0.825-4.271,1.195-8.839,0.729-13.182c-0.307-2.878-0.914-5.756-0.772-8.679c0.226-4.2,1.136-8.319,1.704-12.49
            c0.537-3.829,1.311-7.608,1.887-11.436c0.338-2.26,0.61-4.503,0.748-6.771c0.173-2.855,0.2-5.72,0.2-8.563
            c0.07-3.425,0.255-6.826,0.318-10.231c0.082-5.496-0.137-11.01-0.137-16.5c0.003-3.154,0.07-6.347,0.232-9.503
            c0.134-2.435,0.353-4.875,0.73-7.27c0.346-2.217,0.784-4.406,1.168-6.622c1.279-7.104,1.32-14.401,2.563-21.525
            c0.37-2.103,0.811-4.169,1.221-6.252c1.575-7.888,2.867-15.848,4.359-23.755c0.578-3.01,1.158-6.057,1.723-9.074
            c0.833-4.487,0.742-9.137,1.757-13.56c0.537-2.322,1.698-4.49,1.942-6.876c0.583-5.412-0.637-10.891-0.078-16.336
            c0.236-2.354,1.313-3.915,2.379-5.922c1.313-2.504,0.265-5.042,1.138-7.587c-0.375,1.855,0.227,3.844,0.269,5.732
            c0.056,2.251,0.077,4.494,0.105,6.746c0.134,6.047,0.078,12.087-0.003,18.132c-0.011,0.805-0.018,1.618-0.032,2.416l3.082,0.361
            l3.784,0.716l3.308,0.478c-0.925-0.132-1.779,4.748-2.336,5.346c-1.261,1.402-3.258-0.203-4.639-0.511
            c-2.856-0.652-2.948,3.056-4.12,4.748c-0.811,1.202-2.061,2.863-1.91,4.434c0.131,1.425,1.438,1.602,2.497,2.031
            c-1.247,1.803-1.127,3.018,0.467,4.679c0.994,1.022,2.07,1.975,3.381,2.521c1.534,0.659,3.543-0.288,4.472,1.521
            c0.952,1.824,0.867,4.161,1.714,6.064c0.728,1.645,1.712,3.147,3.318,3.989c1.886,0.98,4.116,0.91,6.104,1.508
            c3.007,0.886,6.199,1.253,9.292,0.622c1.655-0.332,3.309-1.101,4.637-2.178c1.989-1.639,2.841-3.986,3.835-6.324
            c1.09-2.535,2.669-4.399,4.524-6.35c1.225-1.294,2.32-2.745,3.067-4.393c0.788-1.742,0.861-3.493,1.18-5.333
            c0.353-2.016,0.797-4.013,1.006-6.054c0.268,7.231,1.673,14.515,0.444,21.725c-0.459,2.746-1.37,5.427-2.531,7.953
            c-1.049,2.304-2.359,4.51-2.877,7.053c-0.519,2.572-0.268,5.333,0.28,7.885c1.037,4.752,3.622,8.888,5.009,13.532
            c0.497,1.685,0.814,3.422,0.871,5.182c0.054,1.607-0.042,3.21,0.502,4.759c0.47,1.326,1.407,2.374,1.976,3.644
            c0.584,1.271,0.836,2.731,0.985,4.146c0.35,3.103,0.173,6.31,1.391,9.209c0.771,1.806,1.721,3.555,2.134,5.489
            c0.811,3.656,0.208,7.912,0.349,11.643c0.166,4.606,0.466,9.195,0.703,13.801c0.123,2.33,0.201,4.669,0.229,6.99
            c0.042,4.663,0.019,9.339,0.621,13.965c0.876,6.712,4.169,12.869,1.528,19.651c-0.836,2.165-1.207,4.401-0.889,6.725
            c0.504,3.693,1.527,7.251,1.884,10.952c0.296,2.995,0.599,5.778,2.577,8.153c1.055,1.246-0.251,2.515-1.405,3.082
            c-0.917,0.45-1.945,0.596-2.313,1.725c-0.352,1.1,0.274,2.311,1.018,3.089c1.856,1.934,5.63,2.568,8.104,2.894
            c1.641,0.237,3.752,0.371,5.298-0.363c0.706-0.363,1.199-0.887,1.558-1.622c0.094-0.2,0.836-2.174,0.694-2.265
            c0.818,0.449,1.098,0.589,1.496,1.462c0.219,0.506,0.543,0.816,0.988,1.081c1.915,1.053,4.682,0.66,6.777,0.547
            c2.596-0.152,5.13-0.956,5.575-3.969c0.396-2.668-0.556-5.352-0.41-8.035c0.143-2.875,1.382-5.397,1.205-8.348
            c-0.206-3.452,1.347-7.093,0.243-10.475c-0.911-2.846-2.484-5.484-1.782-8.617c0.77-3.386,2.708-6.337,3.647-9.645
            c1.209-4.222,0.48-8.642,1.517-12.851c0.636-2.586,1.897-4.99,2.583-7.594c0.665-2.551,0.629-5.13,0.897-7.724
            c0.408-3.996,1.62-7.848,2.787-11.658c2.042-6.687,3.573-13.749,4.128-20.746c0.166-1.892,0.254-3.809,0.229-5.714
            c-0.016-4.6-0.76-9.345-2.115-13.716c-0.597-1.888-1.92-3.977-1.443-6.042c0.519-2.257,3.13-1.486,4.354-2.851
            c1.113-1.259,0.732-3.438,0.609-4.955c-0.251-3.025,0.074-6.063-0.307-9.08c-0.477-3.661-1.335-7.093-2.296-10.646
            c0.357,1.281,1.313,2.673,1.896,3.872c0.633,1.316,1.288,2.618,2.017,3.874c1.455,2.457,3.145,4.752,4.527,7.257
            c1.674,2.988,3.862,5.818,5.15,8.994c0.192,0.479,0.729,5.021,0.438,4.942c1.29,0.312,2.322,0.106,2.188,1.648
            c-0.126,1.27-0.155,2.564-0.169,3.859c-0.018,3.024,0.304,6.18,0.618,9.179c0.219,2.051,0.911,4.316,3.24,4.461
            c1.586,0.097,3.215,0.264,4.794,0.015c1.497-0.229,2.771-1.685,4.221-1.78c0.424-0.042,1.487,1.654,1.904,1.937
            c1.884,1.256,4.839,0.411,6.767-0.344c2.006-0.764,3.78,0.68,5.665,1.145c2.507,0.629,5.546-0.032,8.139-0.212
            c4.514-0.239,11.329,0.135,14.877-3.366c0.587-0.565,1.814-2.723,2.854-2.145c1.033,0.574-0.015,2.639-0.202,3.437
            c-0.502,2.051,0.892,3.411,1.029,5.424c0.145,1.827-0.85,3.497-1.188,5.253c-0.351,1.565,0.146,3.048,0.463,4.597
            c0.354,1.571,0.354,3.116,0,4.706c-0.324,1.482-0.729,3.38,0.918,4.188c-0.075-0.039-1.654,8.858-1.773,9.606
            c-0.103,0.589-0.235,1.185-0.282,1.794c-0.372,3.811-0.455,7.675-0.055,11.479c0.214,2.282,0.63,4.569,1.005,6.824
            c0.621,4.031,1.344,8.038,2.06,12.056c1.365,7.794,2.366,15.714,3.014,23.607c0.253,3.079,0.49,6.237,0.264,9.348
            c-0.213,2.796-1.138,5.482-1.352,8.264c-0.104,1.372,0.352,2.691,1.638,3.333c1.748,0.886,2.376,1.452,1.553,3.531
            c-0.849,2.131-1.199,4.274,1.601,4.804c3.572,0.668,7.678,1.07,11.282,0.496c3.663-0.575,1.306-4.157,2.14-6.428
            c0.549-1.417,2.218-1.452,3.37-1.016c1.341,0.517,2.164,1.604,2.164,3.117c-0.015,5.298,7.871,4.804,10.949,2.777
            c1.934-1.275,2.009-3.577,2.749-5.601c0.535-1.393,1.619-2.458,2.061-3.868c0.521-1.613,0.261-3.418,0.158-5.061
            c-0.145-2.179-0.446-4.288-0.855-6.421c-0.937-4.952-1.965-10.134-1.146-15.19c0.523-3.318,0.657-6.685,0.594-10.03
            c-0.073-3.09-0.551-6.268-0.026-9.331c0.409-2.368,1.564-4.495,2.031-6.85c0.529-2.785,0.137-5.61,0.35-8.406
            c0.159-2.013,0.724-3.938,1.222-5.906c0.404-1.578,0.563-3.429,1.329-4.874c1.143-2.136,3.627-2.696,4.344-5.19
            c0.726-2.548,0.07-5.221,0.13-7.788c0.058-2.123,0.938-4.042,1.582-6.002c1.607-4.772,2.069-9.352,0.954-14.324
            c-0.744-3.347-1.811-6.872-0.661-10.267c0.545-1.624,1.846-2.701,3.017-3.789c1.005-0.954,1.704-2.244,2.725-3.148
            c0.961-0.876,2.298-0.856,3.485-0.985c2.563-0.326,4.154-2.049,5.976-3.79c2.169-2.104,5.744-1.583,7.512-4.09
            c1.16-1.655,1.51-3.755,1.764-5.731c0.166-1.281,0.23-2.567,0.328-3.845c0.313-3.73,0.328-7.635,0.877-11.306
            c0.232-1.492,1.967-1.122,2.18-2.666c0.264-1.829-1.188-3.727-0.24-5.479c0.02-0.055,1.953-0.029,2.188-0.104
            c3.109-0.959,0.736-4.602,0.205-6.517c-0.775-2.861-0.791-5.556-0.115-8.453c0.336-1.344,0.611-1.451,1.904-1.919
            c0.375-0.331-0.076-3.596-0.08-4.097c-0.035-1.683-0.086-3.371-0.051-5.07c0.145-5.154,2.607-9.754,3.162-14.85
            c0.827-7.485,3.821-14.399,4.711-21.841c0.332-2.762,0.491-5.543,0.553-8.321c0.051-2.955,0.076-5.978,1.004-8.806
            c1.12-3.354,2.84-6.444,4.04-9.76c-0.312,1.326-0.116,2.868-0.159,4.236c-0.072,1.682-0.138,3.371-0.21,5.051
            c-0.141,3.303-0.253,6.618-0.368,9.927c-0.245,7.161-0.344,14.355-0.557,21.522c-0.08,3.265-0.387,6.605-0.036,9.851
            c0.645,0.149,1.341,0.139,1.994,0.273c0.214,3.189-0.795,6.269-0.318,9.49c0.472,3.157,1.417,6.23,1.389,9.448
            c-0.007,3.455-0.495,6.895-0.629,10.343c-0.162,4.352-0.225,8.714-0.288,13.064c-0.123,8.998-2.097,17.813-0.767,26.846
            c0.268,1.853,0.772,3.778,1.843,5.336c0.889,1.255,2.479,2.272,2.697,3.946c0.305,2.287-2.025,4.215-2.104,6.611
            c-0.087,2.7,0.787,5.327,0.769,8.025c-0.018,2.963-0.3,5.918-0.603,8.872c-0.42,4.36-0.701,8.715-0.918,13.082
            c-0.138,2.473-0.262,4.946-0.361,7.398c-0.216,4.411-0.448,8.831-0.494,13.235c-0.048,2.737,0,5.487,0.165,8.229
            c0.159,2.72,0.476,5.444,1.045,8.118c0.518,2.438,1.412,4.742,2.638,6.877c0.356,0.625,1.309,2.736,2.152,2.736
            c-1.553-0.018-2.88,2.607-3.294,3.871c-0.637,2.004-0.499,4.274,0.075,6.286c0.636,2.307,2.546,4.253,1.99,6.823
            c-1.013,4.683-3.204,8.845-5.252,13.112c-2.394,5.037-4.012,13.535,1.273,17.442c4.687,3.459,11.947,3.339,16.843,0.502
            c2.346-1.382,4.921-3.273,5.929-5.975c1.518-4.077,0.376-9.006,0.958-13.307c0.466-3.519,2.112-5.327,4.555-7.561
            c5.087-4.63,3.859-13.524,1.301-19.198c-1.147-2.534-1.609-4.772-0.473-7.423c1.094-2.56,2.792-4.725,3.508-7.456
            c1.373-5.307,0.889-11.099,0.478-16.499c-0.238-3.188-0.075-6.36-0.075-9.56c-0.016-3.076-0.705-5.979-1.084-9.005
            c-0.388-2.97,0.343-5.483,0.91-8.344c0.636-3.149,0.205-6.014-0.637-9.044c-0.51-1.904-1.131-3.886,0.629-5.248
            c1.464-1.111,2.851-1.531,3.426-3.509c0.771-2.735,0.486-5.946,0.458-8.765c-0.025-3.145-0.185-6.295-0.138-9.441
            c0.065-3.166,0.498-6.255,0.946-9.396c0.441-3.146,0.521-6.297,0.553-9.469c0.047-2.712,0.213-5.365,0.408-8.057
            c0.146-1.923,0.146-3.976,0.979-5.764c0.339-0.79,0.854-1.461,1.387-2.121c0.257,4.585-0.264,9.146-0.021,13.73
            c0.242,4.6,2.128,8.833,2.547,13.384c0.448,4.717-0.53,9.462-0.933,14.146c-0.433,4.786-0.419,9.559-0.075,14.345
            c0.314,4.704,0.188,9.047-0.878,13.66c-1.048,4.64-1.776,9.171-1.937,13.946c-0.313,9.569,0.514,19.076,0.403,28.633
            c-0.054,4.787-0.213,9.614-1.047,14.346c-0.799,4.538-2.275,8.9-3.909,13.178c-1.879,4.86-3.619,9.667-1.404,14.785
            c1.055,2.5,2.9,4.509,4.224,6.868c1.249,2.277,1.755,4.513,1.379,7.09c-0.328,2.141-0.917,4.658,1.027,6.175
            c2.317,1.794,5.27,1.978,8.056,1.866c3.157-0.106,6.254,0.215,9.404,0.194c2.456-0.015,5.755-0.831,6.112-3.872
            c0.18-1.557-0.479-3.04-0.684-4.562c-0.333-2.123,1.17-3.905,1.828-5.795c1.495-4.336,0.902-8.986,0.78-13.521
            c-0.152-5.31,0.671-10.599,1.495-15.836c0.347-2.239,0.699-4.475,1.004-6.725c0.348-2.681,0.661-5.348,0.938-8.042
            c0.354-3.437,1.424-6.761,1.821-10.204c0.36-3.003,0.477-6.046,0.697-9.058c0.31-3.795,1.13-7.533,2.182-11.169
            c1.376-4.792,2.352-9.677,2.937-14.65c0.499-4.204,0.297-8.461,0.638-12.677c0.354-4.599,0.845-9.16,1.337-13.73
            c0.276-2.582,0.563-5.187,0.845-7.774c0.239-2.268,0.47-4.499,0.636-6.771c0.213-2.803,0.392-5.594,0.55-8.385
            c0.158-2.921,0.288-5.852,0.467-8.795c0.111-2.106,0.233-4.215,0.351-6.324c0.332-5.781,0.849-11.635,0.849-17.429
            c0.104-1.986,0.092-4.107,0.44-6.064c0.615-3.501,1.424-6.968,1.666-10.527c0.267-3.696,0.296-7.392,0.57-11.083
            c0.194-2.363-0.601-5.188,0.225-7.439c0.288-0.764,3.511-3.385,4.354-2.913c1.325,0.761,1.554,1.848,1.554,3.313
            c0,1.965,0.061,3.939,0.19,5.912c0.112,1.905,0.289,4.018-0.396,5.896c-0.711,1.905-2.265,3.287-2.817,5.295
            c-0.477,1.712-0.933,3.45-1.4,5.192c-0.717,2.715-1.136,6.174-1.136,9.001c0,1.496-0.404,2.981-0.21,4.478
            c0.305,2.416,2.346,1.359,3.853,0.667c-0.463,0.22-0.313,1.884-0.571,2.32c-0.925,1.476-3.901,0.922-2.421,3.66
            c0.697,1.245,3.054,2.884,4.48,2.662c0.992-0.159,1.856-0.721,2.796-0.992c-0.384,0.099-0.938,1.434-1.142,1.808
            c-0.369,0.682-0.854,1.558-0.065,2.156c1.78,1.31,2.897,0.22,3.967-1.358c0.478-0.719,0.855-1.68,1.568-2.229
            c1.271-0.941,2.717-0.885,3.88-2.14c4.003-4.294,3.445-10.162,3.624-15.608c0.074-2.933,0.355-5.854,0.708-8.75
            c0.166-1.276-0.146-3.089,1.253-3.753c1.405-0.654,3.173,0.425,4.565-0.522c1.808-1.234,1.634-5.897,1.567-7.785
            c-0.071-3.214-0.537-6.409-0.609-9.621c-0.062-3.422,0.075-6.835,0.462-10.233c0.438-3.872,0.538-7.716,0.755-11.621
            c0.222-4.526,0.531-9.083,0.182-13.612c-0.617-7.916-2.405-15.708-3.164-23.618c-0.214-2.156-0.354-4.312-0.48-6.483
            c-0.317-5.479-0.803-10.905-2.319-16.178c-1.907-6.808-4.137-13.485-6.056-20.27c-0.578-2.024-1.158-4.034-1.81-6.035
            c-0.633-1.948-1.329-3.877-2.066-5.787c-0.902-2.332-1.813-4.653-2.598-7.039c-0.621-1.962-1.108-4.023-2.214-5.753
            c-1.188-1.898-3.125-3.029-4.776-4.419c-1.463-1.235-2.729-2.698-4.379-3.665c-1.741-1.008-3.682-1.512-5.538-2.196
            c-3.501-1.313-6.997-2.911-10.19-4.894c-3.468-2.145-6.728-4.879-10.679-6.04c-1.951-0.561-4.126-0.922-5.191-2.968
            c-1.174-2.239,0.221-4.436,1.759-6.033c3.125-3.246,3.443-7.788,3.161-12.123c-0.22-3.583,0.69-7.076,0.734-10.647
            c0.043-6.069-4.653-10.531-9.127-13.627c-1.748-1.185-3.548-2.552-5.61-3.016c-2.395-0.53-4.638,0.463-6.993,0.685
            c-2.345,0.22-4.731,0.234-6.969,1.075c-2.464,0.924-4.097,2.915-5.669,4.999c-1.716,2.278-3.526,4.722-3.935,7.689
            c-0.499,3.579-1.906,7.265,0.102,10.629c0.549,0.915,1.243,1.75,1.558,2.762c0.517,1.607,0.213,3.355,0.764,4.987
            c0.52,1.584,1.407,3.012,2.147,4.487c1.016,1.989,1.615,4.238,3.298,5.77c4.17,3.773-2.903,5.607-4.659,7.716
            c-2.125,2.541-3.821,5.016-6.4,7.089c-1.938,1.54-4.063,2.853-6.272,3.884c-2.305,1.067-4.75,1.702-7.022,2.809
            c-3.179,1.518-6.906,3.838-9.378,6.423c-2.05,2.109-3.343,4.873-4.877,7.383c-1.924,3.146-3.584,6.489-4.855,9.98
            c-0.695,1.932-1.289,3.922-1.746,5.937c-0.51,2.327-0.971,4.667-1.482,6.994c-0.697,2.976-1.338,5.958-2.01,8.928
            c-0.463,2.071-0.896,4.142-1.313,6.234c-0.943,4.78-1.578,9.64-2.402,14.458c-1.055,6.269-2.145,12.511-3.103,18.781
            c-0.345,2.18-0.637,4.376-0.796,6.601c-0.249,3.479,0.021,6.961-0.221,10.451c-0.214,2.927-1.025,5.668-1.626,8.516
            c-0.633,2.965-1.231,5.923-1.558,8.951c-0.455,4.22-0.538,8.494-0.772,12.721c-0.107,2.125-0.213,4.25-0.273,6.358
            c-0.076,2.585-0.163,5.178-0.242,7.76c-0.146,3.732-0.318,7.479-0.571,11.197c-0.13,1.699-0.354,3.433-0.419,5.131
            c-0.071,1.582,0.709,2.981,0.74,4.516c0.033,1.705-0.53,3.366-0.697,5.042c-0.18,1.678-0.216,3.352-0.28,5.03
            c-0.098,2.589-0.138,6.295,2.218,7.961c1.33,0.952,2.656,1.16,2.414,3.176c-0.305,2.442-1.532,5-2.307,7.356
            c-0.687,2.119-1.621,4.25-3.864,4.889c-2.563,0.757-4.972,2.066-7.528,2.738c-2.113,0.552-4.328,0.46-6.496,0.601
            c-1.618,0.1-5.961,1.407-5.593-1.68c0.116-1.01,1.135-1.353,1.85-1.829c0.896-0.621,1.648-1.397,2.32-2.232
            c2.81-3.584,4.046-8.506,3.974-13.078c-0.036-1.635-0.064-3.295-0.36-4.912c-0.289-1.54-1.021-2.633-1.591-4.054
            c-0.316-0.774-0.351-1.731,0.665-1.323c1.013,0.401,1.338,1.81,2.536,2.026c0.103-0.074,0.072-0.135,0.015-0.253
            c-1.773-3.751-5.458-4.627-8.648-6.539c0.174,0.091,0.499-1.505,0.479-1.706c-0.116-0.562-0.621-0.964-1.049-1.296
            c-1.191-0.974-2.713-1.581-4.078-2.24c0.518,0.248,3.84,3.582,2.199,3.582c-2.175,0-3.837-2.66-6.04-3.078
            c-1.229-0.232-2.492-0.381-3.731-0.518c-0.495-0.043-0.956-0.104-1.463-0.112c-0.312-0.006-1.574,0.315-1.764,0.186
            c0.874,0.588,2.149,0.514,3.007,1.098c-2.05,0.324-4.21,0.31-6.272,0.611c-3.887,0.565-7.536,2.82-11.148,4.308
            c0.76,0.098,1.975,0.117,2.529,0.664c-0.115-0.115-1.899,3.299-2.009,3.738c-0.347,1.89-0.354,3.75-0.78,5.635
            c-0.466,1.993,0.845,4.554-0.526,6.219c-1.738,2.085-2.187,3.872-1.897,6.612c0.181,1.738-0.285,3.731,0.827,5.219
            c0.575,0.763,2.731,1.874,1.196,2.792c-0.982,0.596-2.409,0.282-3.446,0.786c-2.38,1.104-5.011,3.078-6.938,4.914
            c-1.48,1.445-1.644,3.645-3.053,5.071c-1.322,1.351-3.259,2.674-4.891,3.533c-1.366,0.729-2.967,0.638-4.344,1.309
            c-1.376,0.659-2.116,2.01-3.421,2.772c-2.025,1.204-4.486,1.281-6.724,1.711c-2.226,0.381-4.287,1.291-6.476,1.835
            c-2.545,0.658-4.776,0.146-7.355,0.291c-1.479,0.069-3.163,0.922-4.605,0.208c-0.658-0.332-1.081-1.386-1.494-1.964
            c-0.954-1.271-2.457-2.103-3.445-3.356c-2.397-3.031,1.958-3.492,1.609-6.8c-0.24-2.454-1.609-4.601-2.183-6.967
            c-0.656-2.698-0.772-5.482-1.581-8.114c-0.854-2.766-1.791-5.515-2.8-8.236c-1.546-3.899-3.741-7.527-5.256-11.474
            c-1.677-4.309-3.025-8.729-4.328-13.171c-3.441-11.626-8.017-23.265-19.249-28.839c-2.683-1.318-4.129-4.142-6.938-5.367
            c-2.746-1.201-6.054-1.624-8.959-0.762c-0.146,0.058,0.728-3.617,1.034-4.043c0.886-1.283,2.266-2.197,3.234-3.436
            c5.767-7.387,10.244-22.733,4.239-31.259c-2.31-3.289-4.432-5.328-8.253-6.24c-4.994-1.199-13.33-3.841-17.654,0.54
            c-1.028,1.05-1.74,2.38-2.877,3.393c-3.02,2.725-3.68,4.897-3.799,8.999c-0.213,6.413-1.564,13.347,2.124,19.036
            c1.783,2.758,2.93,5.468,3.336,8.798c-1.946,0.177-3.271,1.695-4.572,3.009c-1.421,1.388-2.894,2.095-4.643,2.961
            c-5.082,2.51-10.558,4.592-14.661,8.717c-4.705,4.751-6.51,11.214-10.39,16.48c-1.581,2.135-3.571,3.888-5.099,6.064
            c-2.301,3.357-5.938,4.72-9.781,4.72c-0.854,0-2.971,0.224-2.561-1.217c0.396-1.379,2.561-0.931,3.582-1.33
            c4.276-1.681,3.329-7.335,3.537-11.013c0.084-1.719,1.246-2.653,2.263-3.805c1.261-1.447,1.896-2.955,2.043-4.896
            c0.455-5.796-2.502-12.066-3.696-17.671c-1.315-6.227-2.278-12.562-2.923-18.908c-0.551-5.613-0.26-11.268-1.021-16.856
            c-0.777-5.646-2.138-11.203-2.848-16.863c-0.817-6.417-0.684-12.932-1.089-19.372c-0.271-4.209-0.536-8.416-0.72-12.626
            c-0.282-6.186-0.692-12.37-1.624-18.492c-1.525-10.023-6.937-20.099-16.676-23.224c-2.738-0.895-5.684-1.263-8.344-2.376
            c-3.654-1.535-3.625-5.852-7.445-7.033c-2.202-0.691,3.361,4.469,1.201,2.842c0.208,0.027-0.254-1.197-1.201-2.842
            c0.063-1.831,0.529-2.416-0.367-4.756c0.686-2.7-1.595-0.961-2.057-6.207c1.81-2.433,2.63-3.49,3.729-6.551
            c1.38-3.837-0.851-8.48-1.765-12.175c-0.659-2.72-0.331-5.592-0.73-8.373c-0.441-3.089-2.378-5.557-4.006-8.053
            c-1.485-2.278-2.811-4.734-4.818-6.576c-3.188-2.896-7.808-3.29-11.843-2.989c-3.788,0.279-8.974,0.112-12.171,2.538
            c-1.461,1.11-1.944,2.908-2.973,4.38c-1.196,1.709-3.095,2.802-4.023,4.727c-1.081,2.253-0.491,4.937-1.563,7.185
            c-1.737,3.668-4.039,6.27-4.621,10.454c-0.61,4.572,0.251,9.235,0.836,13.753c0.34,2.695,0.145,5.963,1.429,8.406
            c1.028,1.983,0.132,1.54-0.515,5.53c-1.872,3.977,0,0-1.969,2.062c-1.956,2.041-3.471,3.647-6.399,3.853
            c-7.764,0.576-16.38,3.997-20.258,11.416c-1.639,3.15-2.589,6.672-3.636,10.065c-1.07,3.501-2.031,7.058-2.431,10.714
            c-0.877,8.145-1.63,16.28-2.583,24.425c-0.674,5.813-0.509,11.896-0.762,17.769c-0.34,7.976-1.339,15.795-2.296,23.718
            c-0.26,2.196-0.494,4.388-0.67,6.601c-0.314,4.003-0.088,7.994-0.088,12.008c0,3.533,0,7.034,0.088,10.555
            c0.151,6.239-1.018,12.385-2.364,18.464c-0.34,1.519-0.665,3.188-0.329,4.749C170.156,259.454,170.197,259.58,170.221,259.715z
             M477.442,418.461c0.159-1.757,1.249-3.676,2.392-1.161c0.99,2.178,0.947,5.078,1.02,7.436c0.094,2.674,0.102,5.404-0.145,8.056
            c-0.029,0.223-0.059,0.424-0.087,0.646c-0.325,2.113-1.099,4.406-0.312,6.428c-0.772-2.023-1.995-3.876-2.595-5.975
            c-0.649-2.269,0-4.543-0.181-6.875C477.333,424.174,477.188,421.3,477.442,418.461z M227.066,378.048
            c0.699-10.479,0.337-20.988,0.382-31.496c0.024-8.001-2.298-18.045,3.396-24.632c0.91,6.726,0.502,13.67,0.266,20.466
            c-0.174,4.997,1.069,9.866,1.889,14.743c0.805,4.783,0.753,9.282,0.356,14.113c-0.438,5.493-0.904,11.011-1.366,16.515
            c-0.39,4.664,0.058,44.665-6.738,43.927C220.352,425.941,226.604,385.211,227.066,378.048z"/>
        </defs>
        <clipPath id="SVGID_6_">
          <use xlink:href="#SVGID_5_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_6_)" fill="#62C555" d="M144.085,324.829c0,0,181.27-44.332,317.222-26.6
          c135.953,17.733,244.275-9.753,269.189-19.506c0,0,3.785,204.628,0,208.255c-3.783,3.629-563.29,0-563.29,0L144.085,324.829z"/>
      </g>
      <g>
        <path id="SVGID_4_" fill="none" stroke="#62C555" stroke-miterlimit="10" d="M213.593,96.078c0,0-0.011-0.014-0.011,0
          C213.582,96.188,213.59,96.159,213.593,96.078z M170.221,259.715c0.426,1.397,1.421,2.39,1.991,3.727
          c0.529,1.234,0.385,2.561,0.424,3.874c0.07,1.747,0.105,3.5,0.345,5.233c0.37,2.707,1.056,5.407,2.365,7.807
          c0.61,1.12,1.246,2.352,2.204,3.206c1.405,1.272,4.868,2.068,6.688,1.829c2.341-0.322,1.102-1.673,0.226-2.905
          c-1.091-1.56-0.996-3.705-2.827-4.639c-4.061-2.085-4.431-10.725-0.28-12.789c1.127-0.556,2.832-0.434,3.82-1.083
          c2.457-1.595,1.232-6.012,0.652-8.299c-0.878-3.376-0.601-6.558,0.099-9.943c0.921-4.517,1.613-9.016,2.361-13.577
          c1.215-7.398,2.885-14.68,4.827-21.915l2.399-9.277c-0.551,2.109-0.636,4.464-0.954,6.627c-0.317,2.277-0.636,4.559-0.949,6.835
          c-0.371,2.582-1.281,5.025-2.072,7.5c-0.818,2.564-1.188,5.11-1.64,7.77c-0.267,1.604-0.651,3.208-0.492,4.853
          c0.141,1.507,1.446,2.22,1.395,3.84c-0.054,1.512-0.347,2.983-0.462,4.457c-0.167,2.122-0.347,4.236-0.385,6.358
          c-0.101,4.115,0.667,8.101,0.977,12.183c0.466,6.009-0.329,12.582,1.392,18.386c0.515,1.75,1.087,3.434,1.733,5.179
          c0.758,2.035,0.585,4.446,0.701,6.593c0.294,5.408,0.625,10.807,0.547,16.24c-0.056,4.007-0.358,7.98-0.497,11.956
          c-0.151,4.17-0.121,8.305,0.074,12.476c0.105,2.417,0.211,4.877,0.105,7.294c-0.168,4.004-1.21,7.836-1.5,11.812
          c-0.308,4.019-0.318,8.046-0.41,12.066c-0.187,8.803-0.278,17.618-0.236,26.439c0.025,1.863,0.088,3.734,0.088,5.625
          c0.081,3.069-1.095,9.006,2.457,10.563c0.266,0.11,3.343,0.808,3.414,0.59c-0.988,3.072-1.501,6.344-1.346,9.564
          c0.078,1.566,0.336,3.139,0.851,4.621c0.531,1.483,1.513,2.737,1.975,4.257c0.466,1.533,0.466,3.148,0.536,4.713
          c0.212,4.462,1.177,8.943,2.113,13.286c0.912,4.153,1.705,8.25,3.417,12.136c1.303,2.942,2.834,4.877,5.867,5.847
          c3.622,1.171,7.395,1.233,10.773-0.732c2.29-1.345,4.497-3.064,5.09-5.861c0.537-2.564,0.04-5.417-0.652-7.896
          c-0.505-1.802-1.168-3.561-1.938-5.245c-1.021-2.237-2.098-4.786-2.6-7.211c-0.549-2.57,1.783-2.209,3.45-2.542
          c1.221-0.257,3.903-1.157,4.577,0.533c0.772,1.904-0.268,5.046-0.434,7.087c-0.109,1.409-0.219,2.854-0.336,4.267
          c-0.042,0.513-0.638,4.046-0.341,4.287l0.921,0.722c0.44,0.346,0.24,3.372,0.282,4.038c0.07,1.177,0.133,2.399,0.359,3.566
          c0.857,4.336,4.382,5.483,8.229,5.465c3.479-0.041,7.953,1.829,10.633-1.46c1.817-2.238,2.082-5.135,2.113-7.945
          c1.487-0.306,2.984-0.074,4.498-0.153c1.021-0.027,1.429-0.055,1.646-1.108c0.825-4.271,1.195-8.839,0.729-13.182
          c-0.307-2.878-0.914-5.756-0.772-8.679c0.226-4.2,1.136-8.319,1.704-12.49c0.537-3.829,1.311-7.608,1.887-11.436
          c0.338-2.26,0.61-4.503,0.748-6.771c0.173-2.855,0.2-5.72,0.2-8.563c0.07-3.425,0.255-6.826,0.318-10.231
          c0.082-5.496-0.137-11.01-0.137-16.5c0.003-3.154,0.07-6.347,0.232-9.503c0.134-2.435,0.353-4.875,0.73-7.27
          c0.346-2.217,0.784-4.406,1.168-6.622c1.279-7.104,1.32-14.401,2.563-21.525c0.37-2.103,0.811-4.169,1.221-6.252
          c1.575-7.888,2.867-15.848,4.359-23.755c0.578-3.01,1.158-6.057,1.723-9.074c0.833-4.487,0.742-9.137,1.757-13.56
          c0.537-2.322,1.698-4.49,1.942-6.876c0.583-5.412-0.637-10.891-0.078-16.336c0.236-2.354,1.313-3.915,2.379-5.922
          c1.313-2.504,0.265-5.042,1.138-7.587c-0.375,1.855,0.227,3.844,0.269,5.732c0.056,2.251,0.077,4.494,0.105,6.746
          c0.134,6.047,0.078,12.087-0.003,18.132c-0.011,0.805-0.018,1.618-0.032,2.416l3.082,0.361l3.784,0.716l3.308,0.478
          c-0.925-0.132-1.779,4.748-2.336,5.346c-1.261,1.402-3.258-0.203-4.639-0.511c-2.856-0.652-2.948,3.056-4.12,4.748
          c-0.811,1.202-2.061,2.863-1.91,4.434c0.131,1.425,1.438,1.602,2.497,2.031c-1.247,1.803-1.127,3.018,0.467,4.679
          c0.994,1.022,2.07,1.975,3.381,2.521c1.534,0.659,3.543-0.288,4.472,1.521c0.952,1.824,0.867,4.161,1.714,6.064
          c0.728,1.645,1.712,3.147,3.318,3.989c1.886,0.98,4.116,0.91,6.104,1.508c3.007,0.886,6.199,1.253,9.292,0.622
          c1.655-0.332,3.309-1.101,4.637-2.178c1.989-1.639,2.841-3.986,3.835-6.324c1.09-2.535,2.669-4.399,4.524-6.35
          c1.225-1.294,2.32-2.745,3.067-4.393c0.788-1.742,0.861-3.493,1.18-5.333c0.353-2.016,0.797-4.013,1.006-6.054
          c0.268,7.231,1.673,14.515,0.444,21.725c-0.459,2.746-1.37,5.427-2.531,7.953c-1.049,2.304-2.359,4.51-2.877,7.053
          c-0.519,2.572-0.268,5.333,0.28,7.885c1.037,4.752,3.622,8.888,5.009,13.532c0.497,1.685,0.814,3.422,0.871,5.182
          c0.054,1.607-0.042,3.21,0.502,4.759c0.47,1.326,1.407,2.374,1.976,3.644c0.584,1.271,0.836,2.731,0.985,4.146
          c0.35,3.103,0.173,6.31,1.391,9.209c0.771,1.806,1.721,3.555,2.134,5.489c0.811,3.656,0.208,7.912,0.349,11.643
          c0.166,4.606,0.466,9.195,0.703,13.801c0.123,2.33,0.201,4.669,0.229,6.99c0.042,4.663,0.019,9.339,0.621,13.965
          c0.876,6.712,4.169,12.869,1.528,19.651c-0.836,2.165-1.207,4.401-0.889,6.725c0.504,3.693,1.527,7.251,1.884,10.952
          c0.296,2.995,0.599,5.778,2.577,8.153c1.055,1.246-0.251,2.515-1.405,3.082c-0.917,0.45-1.945,0.596-2.313,1.725
          c-0.352,1.1,0.274,2.311,1.018,3.089c1.856,1.934,5.63,2.568,8.104,2.894c1.641,0.237,3.752,0.371,5.298-0.363
          c0.706-0.363,1.199-0.887,1.558-1.622c0.094-0.2,0.836-2.174,0.694-2.265c0.818,0.449,1.098,0.589,1.496,1.462
          c0.219,0.506,0.543,0.816,0.988,1.081c1.915,1.053,4.682,0.66,6.777,0.547c2.596-0.152,5.13-0.956,5.575-3.969
          c0.396-2.668-0.556-5.352-0.41-8.035c0.143-2.875,1.382-5.397,1.205-8.348c-0.206-3.452,1.347-7.093,0.243-10.475
          c-0.911-2.846-2.484-5.484-1.782-8.617c0.77-3.386,2.708-6.337,3.647-9.645c1.209-4.222,0.48-8.642,1.517-12.851
          c0.636-2.586,1.897-4.99,2.583-7.594c0.665-2.551,0.629-5.13,0.897-7.724c0.408-3.996,1.62-7.848,2.787-11.658
          c2.042-6.687,3.573-13.749,4.128-20.746c0.166-1.892,0.254-3.809,0.229-5.714c-0.016-4.6-0.76-9.345-2.115-13.716
          c-0.597-1.888-1.92-3.977-1.443-6.042c0.519-2.257,3.13-1.486,4.354-2.851c1.113-1.259,0.732-3.438,0.609-4.955
          c-0.251-3.025,0.074-6.063-0.307-9.08c-0.477-3.661-1.335-7.093-2.296-10.646c0.357,1.281,1.313,2.673,1.896,3.872
          c0.633,1.316,1.288,2.618,2.017,3.874c1.455,2.457,3.145,4.752,4.527,7.257c1.674,2.988,3.862,5.818,5.15,8.994
          c0.192,0.479,0.729,5.021,0.438,4.942c1.29,0.312,2.322,0.106,2.188,1.648c-0.126,1.27-0.155,2.564-0.169,3.859
          c-0.018,3.024,0.304,6.18,0.618,9.179c0.219,2.051,0.911,4.316,3.24,4.461c1.586,0.097,3.215,0.264,4.794,0.015
          c1.497-0.229,2.771-1.685,4.221-1.78c0.424-0.042,1.487,1.654,1.904,1.937c1.884,1.256,4.839,0.411,6.767-0.344
          c2.006-0.764,3.78,0.68,5.665,1.145c2.507,0.629,5.546-0.032,8.139-0.212c4.514-0.239,11.329,0.135,14.877-3.366
          c0.587-0.565,1.814-2.723,2.854-2.145c1.033,0.574-0.015,2.639-0.202,3.437c-0.502,2.051,0.892,3.411,1.029,5.424
          c0.145,1.827-0.85,3.497-1.188,5.253c-0.351,1.565,0.146,3.048,0.463,4.597c0.354,1.571,0.354,3.116,0,4.706
          c-0.324,1.482-0.729,3.38,0.918,4.188c-0.075-0.039-1.654,8.858-1.773,9.606c-0.103,0.589-0.235,1.185-0.282,1.794
          c-0.372,3.811-0.455,7.675-0.055,11.479c0.214,2.282,0.63,4.569,1.005,6.824c0.621,4.031,1.344,8.038,2.06,12.056
          c1.365,7.794,2.366,15.714,3.014,23.607c0.253,3.079,0.49,6.237,0.264,9.348c-0.213,2.796-1.138,5.482-1.352,8.264
          c-0.104,1.372,0.352,2.691,1.638,3.333c1.748,0.886,2.376,1.452,1.553,3.531c-0.849,2.131-1.199,4.274,1.601,4.804
          c3.572,0.668,7.678,1.07,11.282,0.496c3.663-0.575,1.306-4.157,2.14-6.428c0.549-1.417,2.218-1.452,3.37-1.016
          c1.341,0.517,2.164,1.604,2.164,3.117c-0.015,5.298,7.871,4.804,10.949,2.777c1.934-1.275,2.009-3.577,2.749-5.601
          c0.535-1.393,1.619-2.458,2.061-3.868c0.521-1.613,0.261-3.418,0.158-5.061c-0.145-2.179-0.446-4.288-0.855-6.421
          c-0.937-4.952-1.965-10.134-1.146-15.19c0.523-3.318,0.657-6.685,0.594-10.03c-0.073-3.09-0.551-6.268-0.026-9.331
          c0.409-2.368,1.564-4.495,2.031-6.85c0.529-2.785,0.137-5.61,0.35-8.406c0.159-2.013,0.724-3.938,1.222-5.906
          c0.404-1.578,0.563-3.429,1.329-4.874c1.143-2.136,3.627-2.696,4.344-5.19c0.726-2.548,0.07-5.221,0.13-7.788
          c0.058-2.123,0.938-4.042,1.582-6.002c1.607-4.772,2.069-9.352,0.954-14.324c-0.744-3.347-1.811-6.872-0.661-10.267
          c0.545-1.624,1.846-2.701,3.017-3.789c1.005-0.954,1.704-2.244,2.725-3.148c0.961-0.876,2.298-0.856,3.485-0.985
          c2.563-0.326,4.154-2.049,5.976-3.79c2.169-2.104,5.744-1.583,7.512-4.09c1.16-1.655,1.51-3.755,1.764-5.731
          c0.166-1.281,0.23-2.567,0.328-3.845c0.313-3.73,0.328-7.635,0.877-11.306c0.232-1.492,1.967-1.122,2.18-2.666
          c0.264-1.829-1.188-3.727-0.24-5.479c0.02-0.055,1.953-0.029,2.188-0.104c3.109-0.959,0.736-4.602,0.205-6.517
          c-0.775-2.861-0.791-5.556-0.115-8.453c0.336-1.344,0.611-1.451,1.904-1.919c0.375-0.331-0.076-3.596-0.08-4.097
          c-0.035-1.683-0.086-3.371-0.051-5.07c0.145-5.154,2.607-9.754,3.162-14.85c0.827-7.485,3.821-14.399,4.711-21.841
          c0.332-2.762,0.491-5.543,0.553-8.321c0.051-2.955,0.076-5.978,1.004-8.806c1.12-3.354,2.84-6.444,4.04-9.76
          c-0.312,1.326-0.116,2.868-0.159,4.236c-0.072,1.682-0.138,3.371-0.21,5.051c-0.141,3.303-0.253,6.618-0.368,9.927
          c-0.245,7.161-0.344,14.355-0.557,21.522c-0.08,3.265-0.387,6.605-0.036,9.851c0.645,0.149,1.341,0.139,1.994,0.273
          c0.214,3.189-0.795,6.269-0.318,9.49c0.472,3.157,1.417,6.23,1.389,9.448c-0.007,3.455-0.495,6.895-0.629,10.343
          c-0.162,4.352-0.225,8.714-0.288,13.064c-0.123,8.998-2.097,17.813-0.767,26.846c0.268,1.853,0.772,3.778,1.843,5.336
          c0.889,1.255,2.479,2.272,2.697,3.946c0.305,2.287-2.025,4.215-2.104,6.611c-0.087,2.7,0.787,5.327,0.769,8.025
          c-0.018,2.963-0.3,5.918-0.603,8.872c-0.42,4.36-0.701,8.715-0.918,13.082c-0.138,2.473-0.262,4.946-0.361,7.398
          c-0.216,4.411-0.448,8.831-0.494,13.235c-0.048,2.737,0,5.487,0.165,8.229c0.159,2.72,0.476,5.444,1.045,8.118
          c0.518,2.438,1.412,4.742,2.638,6.877c0.356,0.625,1.309,2.736,2.152,2.736c-1.553-0.018-2.88,2.607-3.294,3.871
          c-0.637,2.004-0.499,4.274,0.075,6.286c0.636,2.307,2.546,4.253,1.99,6.823c-1.013,4.683-3.204,8.845-5.252,13.112
          c-2.394,5.037-4.012,13.535,1.273,17.442c4.687,3.459,11.947,3.339,16.843,0.502c2.346-1.382,4.921-3.273,5.929-5.975
          c1.518-4.077,0.376-9.006,0.958-13.307c0.466-3.519,2.112-5.327,4.555-7.561c5.087-4.63,3.859-13.524,1.301-19.198
          c-1.147-2.534-1.609-4.772-0.473-7.423c1.094-2.56,2.792-4.725,3.508-7.456c1.373-5.307,0.889-11.099,0.478-16.499
          c-0.238-3.188-0.075-6.36-0.075-9.56c-0.016-3.076-0.705-5.979-1.084-9.005c-0.388-2.97,0.343-5.483,0.91-8.344
          c0.636-3.149,0.205-6.014-0.637-9.044c-0.51-1.904-1.131-3.886,0.629-5.248c1.464-1.111,2.851-1.531,3.426-3.509
          c0.771-2.735,0.486-5.946,0.458-8.765c-0.025-3.145-0.185-6.295-0.138-9.441c0.065-3.166,0.498-6.255,0.946-9.396
          c0.441-3.146,0.521-6.297,0.553-9.469c0.047-2.712,0.213-5.365,0.408-8.057c0.146-1.923,0.146-3.976,0.979-5.764
          c0.339-0.79,0.854-1.461,1.387-2.121c0.257,4.585-0.264,9.146-0.021,13.73c0.242,4.6,2.128,8.833,2.547,13.384
          c0.448,4.717-0.53,9.462-0.933,14.146c-0.433,4.786-0.419,9.559-0.075,14.345c0.314,4.704,0.188,9.047-0.878,13.66
          c-1.048,4.64-1.776,9.171-1.937,13.946c-0.313,9.569,0.514,19.076,0.403,28.633c-0.054,4.787-0.213,9.614-1.047,14.346
          c-0.799,4.538-2.275,8.9-3.909,13.178c-1.879,4.86-3.619,9.667-1.404,14.785c1.055,2.5,2.9,4.509,4.224,6.868
          c1.249,2.277,1.755,4.513,1.379,7.09c-0.328,2.141-0.917,4.658,1.027,6.175c2.317,1.794,5.27,1.978,8.056,1.866
          c3.157-0.106,6.254,0.215,9.404,0.194c2.456-0.015,5.755-0.831,6.112-3.872c0.18-1.557-0.479-3.04-0.684-4.562
          c-0.333-2.123,1.17-3.905,1.828-5.795c1.495-4.336,0.902-8.986,0.78-13.521c-0.152-5.31,0.671-10.599,1.495-15.836
          c0.347-2.239,0.699-4.475,1.004-6.725c0.348-2.681,0.661-5.348,0.938-8.042c0.354-3.437,1.424-6.761,1.821-10.204
          c0.36-3.003,0.477-6.046,0.697-9.058c0.31-3.795,1.13-7.533,2.182-11.169c1.376-4.792,2.352-9.677,2.937-14.65
          c0.499-4.204,0.297-8.461,0.638-12.677c0.354-4.599,0.845-9.16,1.337-13.73c0.276-2.582,0.563-5.187,0.845-7.774
          c0.239-2.268,0.47-4.499,0.636-6.771c0.213-2.803,0.392-5.594,0.55-8.385c0.158-2.921,0.288-5.852,0.467-8.795
          c0.111-2.106,0.233-4.215,0.351-6.324c0.332-5.781,0.849-11.635,0.849-17.429c0.104-1.986,0.092-4.107,0.44-6.064
          c0.615-3.501,1.424-6.968,1.666-10.527c0.267-3.696,0.296-7.392,0.57-11.083c0.194-2.363-0.601-5.188,0.225-7.439
          c0.288-0.764,3.511-3.385,4.354-2.913c1.325,0.761,1.554,1.848,1.554,3.313c0,1.965,0.061,3.939,0.19,5.912
          c0.112,1.905,0.289,4.018-0.396,5.896c-0.711,1.905-2.265,3.287-2.817,5.295c-0.477,1.712-0.933,3.45-1.4,5.192
          c-0.717,2.715-1.136,6.174-1.136,9.001c0,1.496-0.404,2.981-0.21,4.478c0.305,2.416,2.346,1.359,3.853,0.667
          c-0.463,0.22-0.313,1.884-0.571,2.32c-0.925,1.476-3.901,0.922-2.421,3.66c0.697,1.245,3.054,2.884,4.48,2.662
          c0.992-0.159,1.856-0.721,2.796-0.992c-0.384,0.099-0.938,1.434-1.142,1.808c-0.369,0.682-0.854,1.558-0.065,2.156
          c1.78,1.31,2.897,0.22,3.967-1.358c0.478-0.719,0.855-1.68,1.568-2.229c1.271-0.941,2.717-0.885,3.88-2.14
          c4.003-4.294,3.445-10.162,3.624-15.608c0.074-2.933,0.355-5.854,0.708-8.75c0.166-1.276-0.146-3.089,1.253-3.753
          c1.405-0.654,3.173,0.425,4.565-0.522c1.808-1.234,1.634-5.897,1.567-7.785c-0.071-3.214-0.537-6.409-0.609-9.621
          c-0.062-3.422,0.075-6.835,0.462-10.233c0.438-3.872,0.538-7.716,0.755-11.621c0.222-4.526,0.531-9.083,0.182-13.612
          c-0.617-7.916-2.405-15.708-3.164-23.618c-0.214-2.156-0.354-4.312-0.48-6.483c-0.317-5.479-0.803-10.905-2.319-16.178
          c-1.907-6.808-4.137-13.485-6.056-20.27c-0.578-2.024-1.158-4.034-1.81-6.035c-0.633-1.948-1.329-3.877-2.066-5.787
          c-0.902-2.332-1.813-4.653-2.598-7.039c-0.621-1.962-1.108-4.023-2.214-5.753c-1.188-1.898-3.125-3.029-4.776-4.419
          c-1.463-1.235-2.729-2.698-4.379-3.665c-1.741-1.008-3.682-1.512-5.538-2.196c-3.501-1.313-6.997-2.911-10.19-4.894
          c-3.468-2.145-6.728-4.879-10.679-6.04c-1.951-0.561-4.126-0.922-5.191-2.968c-1.174-2.239,0.221-4.436,1.759-6.033
          c3.125-3.246,3.443-7.788,3.161-12.123c-0.22-3.583,0.69-7.076,0.734-10.647c0.043-6.069-4.653-10.531-9.127-13.627
          c-1.748-1.185-3.548-2.552-5.61-3.016c-2.395-0.53-4.638,0.463-6.993,0.685c-2.345,0.22-4.731,0.234-6.969,1.075
          c-2.464,0.924-4.097,2.915-5.669,4.999c-1.716,2.278-3.526,4.722-3.935,7.689c-0.499,3.579-1.906,7.265,0.102,10.629
          c0.549,0.915,1.243,1.75,1.558,2.762c0.517,1.607,0.213,3.355,0.764,4.987c0.52,1.584,1.407,3.012,2.147,4.487
          c1.016,1.989,1.615,4.238,3.298,5.77c4.17,3.773-2.903,5.607-4.659,7.716c-2.125,2.541-3.821,5.016-6.4,7.089
          c-1.938,1.54-4.063,2.853-6.272,3.884c-2.305,1.067-4.75,1.702-7.022,2.809c-3.179,1.518-6.906,3.838-9.378,6.423
          c-2.05,2.109-3.343,4.873-4.877,7.383c-1.924,3.146-3.584,6.489-4.855,9.98c-0.695,1.932-1.289,3.922-1.746,5.937
          c-0.51,2.327-0.971,4.667-1.482,6.994c-0.697,2.976-1.338,5.958-2.01,8.928c-0.463,2.071-0.896,4.142-1.313,6.234
          c-0.943,4.78-1.578,9.64-2.402,14.458c-1.055,6.269-2.145,12.511-3.103,18.781c-0.345,2.18-0.637,4.376-0.796,6.601
          c-0.249,3.479,0.021,6.961-0.221,10.451c-0.214,2.927-1.025,5.668-1.626,8.516c-0.633,2.965-1.231,5.923-1.558,8.951
          c-0.455,4.22-0.538,8.494-0.772,12.721c-0.107,2.125-0.213,4.25-0.273,6.358c-0.076,2.585-0.163,5.178-0.242,7.76
          c-0.146,3.732-0.318,7.479-0.571,11.197c-0.13,1.699-0.354,3.433-0.419,5.131c-0.071,1.582,0.709,2.981,0.74,4.516
          c0.033,1.705-0.53,3.366-0.697,5.042c-0.18,1.678-0.216,3.352-0.28,5.03c-0.098,2.589-0.138,6.295,2.218,7.961
          c1.33,0.952,2.656,1.16,2.414,3.176c-0.305,2.442-1.532,5-2.307,7.356c-0.687,2.119-1.621,4.25-3.864,4.889
          c-2.563,0.757-4.972,2.066-7.528,2.738c-2.113,0.552-4.328,0.46-6.496,0.601c-1.618,0.1-5.961,1.407-5.593-1.68
          c0.116-1.01,1.135-1.353,1.85-1.829c0.896-0.621,1.648-1.397,2.32-2.232c2.81-3.584,4.046-8.506,3.974-13.078
          c-0.036-1.635-0.064-3.295-0.36-4.912c-0.289-1.54-1.021-2.633-1.591-4.054c-0.316-0.774-0.351-1.731,0.665-1.323
          c1.013,0.401,1.338,1.81,2.536,2.026c0.103-0.074,0.072-0.135,0.015-0.253c-1.773-3.751-5.458-4.627-8.648-6.539
          c0.174,0.091,0.499-1.505,0.479-1.706c-0.116-0.562-0.621-0.964-1.049-1.296c-1.191-0.974-2.713-1.581-4.078-2.24
          c0.518,0.248,3.84,3.582,2.199,3.582c-2.175,0-3.837-2.66-6.04-3.078c-1.229-0.232-2.492-0.381-3.731-0.518
          c-0.495-0.043-0.956-0.104-1.463-0.112c-0.312-0.006-1.574,0.315-1.764,0.186c0.874,0.588,2.149,0.514,3.007,1.098
          c-2.05,0.324-4.21,0.31-6.272,0.611c-3.887,0.565-7.536,2.82-11.148,4.308c0.76,0.098,1.975,0.117,2.529,0.664
          c-0.115-0.115-1.899,3.299-2.009,3.738c-0.347,1.89-0.354,3.75-0.78,5.635c-0.466,1.993,0.845,4.554-0.526,6.219
          c-1.738,2.085-2.187,3.872-1.897,6.612c0.181,1.738-0.285,3.731,0.827,5.219c0.575,0.763,2.731,1.874,1.196,2.792
          c-0.982,0.596-2.409,0.282-3.446,0.786c-2.38,1.104-5.011,3.078-6.938,4.914c-1.48,1.445-1.644,3.645-3.053,5.071
          c-1.322,1.351-3.259,2.674-4.891,3.533c-1.366,0.729-2.967,0.638-4.344,1.309c-1.376,0.659-2.116,2.01-3.421,2.772
          c-2.025,1.204-4.486,1.281-6.724,1.711c-2.226,0.381-4.287,1.291-6.476,1.835c-2.545,0.658-4.776,0.146-7.355,0.291
          c-1.479,0.069-3.163,0.922-4.605,0.208c-0.658-0.332-1.081-1.386-1.494-1.964c-0.954-1.271-2.457-2.103-3.445-3.356
          c-2.397-3.031,1.958-3.492,1.609-6.8c-0.24-2.454-1.609-4.601-2.183-6.967c-0.656-2.698-0.772-5.482-1.581-8.114
          c-0.854-2.766-1.791-5.515-2.8-8.236c-1.546-3.899-3.741-7.527-5.256-11.474c-1.677-4.309-3.025-8.729-4.328-13.171
          c-3.441-11.626-8.017-23.265-19.249-28.839c-2.683-1.318-4.129-4.142-6.938-5.367c-2.746-1.201-6.054-1.624-8.959-0.762
          c-0.146,0.058,0.728-3.617,1.034-4.043c0.886-1.283,2.266-2.197,3.234-3.436c5.767-7.387,10.244-22.733,4.239-31.259
          c-2.31-3.289-4.432-5.328-8.253-6.24c-4.994-1.199-13.33-3.841-17.654,0.54c-1.028,1.05-1.74,2.38-2.877,3.393
          c-3.02,2.725-3.68,4.897-3.799,8.999c-0.213,6.413-1.564,13.347,2.124,19.036c1.783,2.758,2.93,5.468,3.336,8.798
          c-1.946,0.177-3.271,1.695-4.572,3.009c-1.421,1.388-2.894,2.095-4.643,2.961c-5.082,2.51-10.558,4.592-14.661,8.717
          c-4.705,4.751-6.51,11.214-10.39,16.48c-1.581,2.135-3.571,3.888-5.099,6.064c-2.301,3.357-5.938,4.72-9.781,4.72
          c-0.854,0-2.971,0.224-2.561-1.217c0.396-1.379,2.561-0.931,3.582-1.33c4.276-1.681,3.329-7.335,3.537-11.013
          c0.084-1.719,1.246-2.653,2.263-3.805c1.261-1.447,1.896-2.955,2.043-4.896c0.455-5.796-2.502-12.066-3.696-17.671
          c-1.315-6.227-2.278-12.562-2.923-18.908c-0.551-5.613-0.26-11.268-1.021-16.856c-0.777-5.646-2.138-11.203-2.848-16.863
          c-0.817-6.417-0.684-12.932-1.089-19.372c-0.271-4.209-0.536-8.416-0.72-12.626c-0.282-6.186-0.692-12.37-1.624-18.492
          c-1.525-10.023-6.937-20.099-16.676-23.224c-2.738-0.895-5.684-1.263-8.344-2.376c-3.654-1.535-3.625-5.852-7.445-7.033
          c-2.202-0.691,3.361,4.469,1.201,2.842c0.208,0.027-0.254-1.197-1.201-2.842c0.063-1.831,0.529-2.416-0.367-4.756
          c0.686-2.7-1.595-0.961-2.057-6.207c1.81-2.433,2.63-3.49,3.729-6.551c1.38-3.837-0.851-8.48-1.765-12.175
          c-0.659-2.72-0.331-5.592-0.73-8.373c-0.441-3.089-2.378-5.557-4.006-8.053c-1.485-2.278-2.811-4.734-4.818-6.576
          c-3.188-2.896-7.808-3.29-11.843-2.989c-3.788,0.279-8.974,0.112-12.171,2.538c-1.461,1.11-1.944,2.908-2.973,4.38
          c-1.196,1.709-3.095,2.802-4.023,4.727c-1.081,2.253-0.491,4.937-1.563,7.185c-1.737,3.668-4.039,6.27-4.621,10.454
          c-0.61,4.572,0.251,9.235,0.836,13.753c0.34,2.695,0.145,5.963,1.429,8.406c1.028,1.983,0.132,1.54-0.515,5.53
          c-1.872,3.977,0,0-1.969,2.062c-1.956,2.041-3.471,3.647-6.399,3.853c-7.764,0.576-16.38,3.997-20.258,11.416
          c-1.639,3.15-2.589,6.672-3.636,10.065c-1.07,3.501-2.031,7.058-2.431,10.714c-0.877,8.145-1.63,16.28-2.583,24.425
          c-0.674,5.813-0.509,11.896-0.762,17.769c-0.34,7.976-1.339,15.795-2.296,23.718c-0.26,2.196-0.494,4.388-0.67,6.601
          c-0.314,4.003-0.088,7.994-0.088,12.008c0,3.533,0,7.034,0.088,10.555c0.151,6.239-1.018,12.385-2.364,18.464
          c-0.34,1.519-0.665,3.188-0.329,4.749C170.156,259.454,170.197,259.58,170.221,259.715z M477.442,418.461
          c0.159-1.757,1.249-3.676,2.392-1.161c0.99,2.178,0.947,5.078,1.02,7.436c0.094,2.674,0.102,5.404-0.145,8.056
          c-0.029,0.223-0.059,0.424-0.087,0.646c-0.325,2.113-1.099,4.406-0.312,6.428c-0.772-2.023-1.995-3.876-2.595-5.975
          c-0.649-2.269,0-4.543-0.181-6.875C477.333,424.174,477.188,421.3,477.442,418.461z M227.066,378.048
          c0.699-10.479,0.337-20.988,0.382-31.496c0.024-8.001-2.298-18.045,3.396-24.632c0.91,6.726,0.502,13.67,0.266,20.466
          c-0.174,4.997,1.069,9.866,1.889,14.743c0.805,4.783,0.753,9.282,0.356,14.113c-0.438,5.493-0.904,11.011-1.366,16.515
          c-0.39,4.664,0.058,44.665-6.738,43.927C220.352,425.941,226.604,385.211,227.066,378.048z"/>
      </g>
    </g>
  </g>
  <polygon fill="#414042" points="598,572.5 281.811,572.5 281.811,485.5 598,485.5 573.43,529.007 "/>
  <polygon fill="#60C342" points="587.19,572.5 270.989,572.5 270.989,485.5 587.19,485.5 562.619,529.007 "/>
  <text transform="matrix(0.9614 0 0 1 304.2878 541.8379)" fill="#FFFFFF" font-family="'Helvetica'" font-size="40">${{ amount | numberComma }}</text>
  <rect x="258.001" y="485.5" fill="#414042" width="12.984" height="87"/>
  </svg>
</template>

<script>
  import BaseProps from '../BaseProps'

  export default {
    mixins: [BaseProps]
  }
</script>
