<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
  <path fill="#F7F7F7" d="M213.575,96.07c0,0-0.013-0.014-0.013,0C213.566,96.18,213.572,96.151,213.575,96.07z M170.206,259.703
    c0.426,1.396,1.42,2.39,1.991,3.726c0.529,1.235,0.384,2.561,0.425,3.873c0.068,1.748,0.104,3.502,0.345,5.233
    c0.37,2.705,1.056,5.407,2.363,7.807c0.611,1.122,1.248,2.35,2.203,3.207c1.407,1.272,4.87,2.069,6.688,1.828
    c2.343-0.322,1.102-1.674,0.226-2.905c-1.09-1.561-0.995-3.707-2.826-4.637c-4.062-2.085-4.432-10.726-0.279-12.792
    c1.126-0.555,2.833-0.432,3.82-1.081c2.456-1.597,1.229-6.013,0.65-8.3c-0.876-3.376-0.596-6.558,0.102-9.942
    c0.921-4.516,1.612-9.018,2.36-13.575c1.215-7.4,2.887-14.679,4.827-21.913l2.4-9.28c-0.553,2.112-0.637,4.466-0.954,6.628
    c-0.32,2.276-0.637,4.557-0.951,6.833c-0.371,2.582-1.281,5.028-2.07,7.501c-0.817,2.564-1.188,5.112-1.64,7.77
    c-0.266,1.604-0.651,3.207-0.493,4.852c0.142,1.506,1.448,2.222,1.396,3.839c-0.054,1.509-0.347,2.982-0.464,4.459
    c-0.166,2.119-0.347,4.234-0.385,6.36c-0.102,4.115,0.666,8.101,0.975,12.182c0.466,6.009-0.331,12.581,1.394,18.386
    c0.512,1.747,1.089,3.435,1.731,5.179c0.76,2.035,0.585,4.445,0.702,6.592c0.295,5.406,0.625,10.805,0.547,16.241
    c-0.054,4.004-0.356,7.975-0.496,11.957c-0.15,4.168-0.122,8.305,0.071,12.475c0.105,2.414,0.212,4.871,0.105,7.293
    c-0.167,3.998-1.209,7.832-1.499,11.807c-0.307,4.02-0.319,8.045-0.412,12.07c-0.186,8.801-0.278,17.617-0.239,26.438
    c0.026,1.861,0.091,3.732,0.091,5.625c0.082,3.068-1.095,9.004,2.456,10.564c0.268,0.111,3.346,0.803,3.414,0.584
    c-0.985,3.076-1.5,6.344-1.346,9.572c0.078,1.563,0.337,3.131,0.853,4.617c0.532,1.48,1.515,2.736,1.978,4.256
    c0.466,1.535,0.466,3.148,0.533,4.715c0.213,4.461,1.18,8.941,2.114,13.287c0.911,4.15,1.707,8.25,3.419,12.135
    c1.299,2.939,2.834,4.879,5.866,5.844c3.622,1.172,7.394,1.234,10.772-0.732c2.291-1.342,4.5-3.063,5.091-5.857
    c0.535-2.563,0.04-5.42-0.652-7.895c-0.506-1.807-1.169-3.566-1.938-5.248c-1.023-2.238-2.099-4.783-2.602-7.213
    c-0.55-2.566,1.784-2.205,3.45-2.541c1.221-0.254,3.902-1.158,4.577,0.537c0.771,1.904-0.268,5.043-0.433,7.082
    c-0.111,1.414-0.219,2.854-0.337,4.27c-0.042,0.51-0.638,4.043-0.341,4.285l0.921,0.721c0.439,0.348,0.24,3.377,0.28,4.039
    c0.071,1.178,0.132,2.4,0.357,3.566c0.857,4.34,4.383,5.484,8.229,5.467c3.479-0.041,7.951,1.83,10.632-1.459
    c1.815-2.24,2.083-5.139,2.111-7.947c1.487-0.303,2.984-0.072,4.5-0.152c1.021-0.029,1.426-0.057,1.646-1.107
    c0.823-4.271,1.194-8.84,0.729-13.178c-0.308-2.879-0.914-5.758-0.772-8.684c0.227-4.199,1.134-8.316,1.706-12.486
    c0.537-3.836,1.311-7.613,1.887-11.439c0.338-2.254,0.608-4.498,0.748-6.771c0.173-2.854,0.199-5.723,0.199-8.563
    c0.067-3.422,0.253-6.824,0.318-10.23c0.081-5.494-0.139-11.008-0.139-16.5c0.007-3.154,0.07-6.348,0.231-9.504
    c0.132-2.432,0.352-4.875,0.729-7.27c0.347-2.213,0.784-4.406,1.167-6.619c1.28-7.105,1.321-14.4,2.563-21.527
    c0.371-2.104,0.81-4.17,1.221-6.252c1.577-7.887,2.866-15.847,4.36-23.755c0.577-3.011,1.16-6.059,1.72-9.074
    c0.83-4.487,0.743-9.134,1.758-13.559c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.414-0.638-10.89-0.078-16.336
    c0.239-2.354,1.316-3.918,2.379-5.922c1.315-2.504,0.267-5.045,1.14-7.585c-0.377,1.854,0.226,3.846,0.267,5.73
    c0.055,2.253,0.078,4.494,0.107,6.746c0.132,6.045,0.079,12.087-0.006,18.134c-0.014,0.804-0.021,1.619-0.033,2.417l3.08,0.361
    l3.785,0.716l3.305,0.478c-0.922-0.13-1.779,4.75-2.335,5.347c-1.261,1.403-3.257-0.201-4.638-0.509
    c-2.859-0.653-2.948,3.056-4.121,4.75c-0.811,1.203-2.06,2.863-1.909,4.432c0.13,1.427,1.433,1.604,2.495,2.034
    c-1.249,1.804-1.126,3.019,0.466,4.68c0.995,1.021,2.07,1.975,3.383,2.523c1.535,0.659,3.544-0.288,4.472,1.52
    c0.952,1.824,0.865,4.161,1.715,6.065c0.728,1.646,1.713,3.147,3.317,3.988c1.887,0.979,4.116,0.907,6.105,1.504
    c3.009,0.891,6.199,1.258,9.292,0.624c1.652-0.329,3.305-1.098,4.634-2.18c1.99-1.637,2.841-3.986,3.836-6.323
    c1.088-2.537,2.668-4.399,4.525-6.347c1.222-1.295,2.32-2.746,3.066-4.392c0.789-1.741,0.863-3.495,1.182-5.336
    c0.351-2.016,0.795-4.01,1.008-6.052c0.267,7.23,1.673,14.515,0.444,21.729c-0.457,2.746-1.368,5.427-2.529,7.955
    c-1.049,2.303-2.36,4.508-2.88,7.051c-0.517,2.57-0.268,5.334,0.282,7.887c1.036,4.748,3.62,8.889,5.008,13.533
    c0.496,1.68,0.814,3.42,0.869,5.182c0.055,1.604-0.042,3.213,0.503,4.756c0.473,1.328,1.406,2.377,1.977,3.645
    c0.584,1.275,0.836,2.734,0.985,4.146c0.351,3.104,0.173,6.311,1.393,9.209c0.771,1.803,1.721,3.557,2.135,5.484
    c0.811,3.66,0.206,7.916,0.348,11.646c0.167,4.607,0.466,9.195,0.701,13.797c0.122,2.338,0.199,4.674,0.229,6.994
    c0.04,4.658,0.02,9.332,0.623,13.965c0.877,6.707,4.17,12.867,1.528,19.652c-0.838,2.164-1.208,4.4-0.891,6.721
    c0.502,3.689,1.527,7.25,1.884,10.951c0.296,2.996,0.599,5.775,2.578,8.152c1.057,1.244-0.254,2.516-1.406,3.084
    c-0.917,0.451-1.947,0.596-2.312,1.727c-0.351,1.098,0.273,2.311,1.016,3.092c1.858,1.932,5.633,2.563,8.108,2.891
    c1.639,0.24,3.75,0.371,5.295-0.361c0.708-0.359,1.201-0.885,1.561-1.617c0.094-0.203,0.835-2.18,0.696-2.268
    c0.817,0.451,1.098,0.588,1.495,1.465c0.219,0.5,0.547,0.814,0.988,1.076c1.916,1.055,4.684,0.66,6.774,0.549
    c2.598-0.15,5.131-0.953,5.577-3.969c0.397-2.664-0.557-5.352-0.412-8.037c0.146-2.871,1.382-5.393,1.207-8.348
    c-0.206-3.445,1.347-7.092,0.245-10.469c-0.914-2.852-2.487-5.486-1.783-8.621c0.77-3.381,2.71-6.338,3.649-9.641
    c1.207-4.223,0.479-8.643,1.515-12.85c0.638-2.594,1.899-4.994,2.583-7.592c0.665-2.549,0.632-5.133,0.897-7.727
    c0.408-3.998,1.619-7.846,2.787-11.654c2.041-6.689,3.572-13.754,4.127-20.75c0.167-1.891,0.254-3.809,0.228-5.715
    c-0.015-4.594-0.759-9.338-2.114-13.711c-0.596-1.893-1.92-3.98-1.444-6.051c0.519-2.25,3.131-1.482,4.354-2.848
    c1.113-1.26,0.731-3.434,0.608-4.953c-0.25-3.025,0.074-6.064-0.305-9.08c-0.479-3.662-1.336-7.088-2.296-10.647
    c0.356,1.284,1.313,2.676,1.898,3.875c0.634,1.314,1.288,2.617,2.017,3.875c1.45,2.455,3.144,4.752,4.526,7.252
    c1.673,2.992,3.862,5.818,5.15,8.994c0.192,0.479,0.728,5.021,0.438,4.939c1.29,0.314,2.322,0.113,2.19,1.65
    c-0.125,1.268-0.158,2.561-0.171,3.859c-0.021,3.02,0.303,6.18,0.619,9.174c0.217,2.049,0.908,4.316,3.24,4.461
    c1.588,0.1,3.216,0.264,4.792,0.014c1.499-0.227,2.771-1.682,4.221-1.781c0.425-0.037,1.487,1.658,1.902,1.939
    c1.886,1.258,4.84,0.41,6.767-0.346c2.006-0.762,3.781,0.686,5.662,1.145c2.507,0.633,5.544-0.027,8.14-0.209
    c4.513-0.236,11.331,0.137,14.882-3.365c0.583-0.568,1.813-2.725,2.853-2.146c1.034,0.574-0.014,2.637-0.197,3.436
    c-0.504,2.049,0.89,3.412,1.027,5.428c0.146,1.826-0.844,3.494-1.192,5.256c-0.342,1.563,0.146,3.049,0.468,4.594
    c0.351,1.574,0.351,3.119,0,4.709c-0.329,1.479-0.729,3.377,0.916,4.182c-0.072-0.031-1.653,8.861-1.771,9.607
    c-0.1,0.59-0.23,1.186-0.283,1.795c-0.365,3.813-0.454,7.676-0.053,11.48c0.211,2.279,0.633,4.566,1.009,6.822
    c0.622,4.029,1.344,8.037,2.062,12.061c1.36,7.791,2.358,15.713,3.012,23.605c0.25,3.082,0.489,6.234,0.264,9.348
    c-0.211,2.795-1.14,5.48-1.352,8.264c-0.108,1.369,0.35,2.691,1.635,3.332c1.752,0.891,2.378,1.453,1.555,3.533
    c-0.844,2.127-1.199,4.275,1.601,4.801c3.57,0.67,7.676,1.072,11.285,0.496c3.662-0.576,1.297-4.156,2.134-6.428
    c0.555-1.42,2.221-1.453,3.373-1.016c1.342,0.516,2.164,1.605,2.164,3.119c-0.013,5.299,7.872,4.803,10.949,2.775
    c1.934-1.271,2.009-3.578,2.75-5.6c0.533-1.389,1.62-2.461,2.06-3.873c0.518-1.607,0.26-3.412,0.157-5.057
    c-0.145-2.178-0.45-4.285-0.855-6.42c-0.934-4.951-1.97-10.135-1.146-15.188c0.523-3.316,0.655-6.688,0.598-10.031
    c-0.073-3.092-0.555-6.271-0.026-9.33c0.408-2.367,1.564-4.494,2.028-6.852c0.529-2.783,0.139-5.607,0.353-8.404
    c0.158-2.016,0.722-3.939,1.216-5.902c0.408-1.58,0.566-3.436,1.334-4.879c1.141-2.131,3.627-2.693,4.342-5.189
    c0.729-2.549,0.068-5.221,0.129-7.791c0.06-2.119,0.941-4.043,1.581-6.002c1.606-4.77,2.067-9.354,0.958-14.32
    c-0.747-3.352-1.814-6.873-0.661-10.27c0.546-1.623,1.844-2.703,3.017-3.793c1.005-0.951,1.703-2.244,2.721-3.145
    c0.966-0.877,2.3-0.854,3.495-0.99c2.561-0.324,4.153-2.049,5.973-3.789c2.167-2.102,5.743-1.582,7.517-4.09
    c1.156-1.656,1.509-3.752,1.759-5.736c0.165-1.281,0.229-2.563,0.329-3.84c0.311-3.732,0.323-7.639,0.876-11.309
    c0.231-1.492,1.97-1.123,2.181-2.664c0.265-1.83-1.194-3.729-0.242-5.483c0.017-0.053,1.956-0.028,2.187-0.103
    c3.109-0.959,0.738-4.601,0.204-6.516c-0.777-2.863-0.79-5.557-0.115-8.456c0.333-1.343,0.609-1.451,1.901-1.919
    c0.375-0.329-0.073-3.596-0.079-4.098c-0.033-1.684-0.086-3.371-0.047-5.069c0.146-5.155,2.608-9.752,3.162-14.851
    c0.827-7.484,3.82-14.398,4.711-21.84c0.332-2.761,0.49-5.543,0.553-8.318c0.057-2.954,0.076-5.979,1.008-8.809
    c1.12-3.354,2.844-6.443,4.039-9.761c-0.31,1.326-0.111,2.87-0.158,4.238c-0.071,1.681-0.139,3.371-0.211,5.052
    c-0.139,3.301-0.25,6.618-0.368,9.929c-0.244,7.161-0.337,14.352-0.555,21.523c-0.079,3.264-0.382,6.604-0.032,9.849
    c0.64,0.151,1.338,0.137,1.989,0.274c0.214,3.188-0.791,6.27-0.315,9.49c0.468,3.157,1.416,6.234,1.391,9.448
    c-0.014,3.452-0.494,6.893-0.633,10.34c-0.158,4.35-0.221,8.714-0.29,13.061c-0.118,9-2.095,17.815-0.764,26.846
    c0.27,1.855,0.771,3.787,1.844,5.338c0.89,1.258,2.478,2.27,2.698,3.947c0.307,2.293-2.021,4.217-2.104,6.615
    c-0.093,2.697,0.783,5.322,0.771,8.018c-0.021,2.969-0.305,5.92-0.606,8.873c-0.422,4.359-0.698,8.717-0.919,13.088
    c-0.139,2.475-0.257,4.941-0.359,7.398c-0.214,4.408-0.446,8.828-0.493,13.238c-0.047,2.729,0,5.484,0.164,8.229
    c0.158,2.717,0.476,5.443,1.049,8.115c0.514,2.438,1.408,4.742,2.635,6.881c0.354,0.623,1.312,2.734,2.153,2.734
    c-1.548-0.02-2.882,2.613-3.294,3.875c-0.633,2.004-0.493,4.268,0.072,6.281c0.636,2.314,2.553,4.256,1.993,6.828
    c-1.012,4.682-3.205,8.848-5.254,13.109c-2.393,5.039-4.005,13.539,1.278,17.445c4.681,3.453,11.949,3.338,16.838,0.496
    c2.342-1.381,4.921-3.271,5.929-5.969c1.516-4.084,0.376-9.008,0.955-13.307c0.468-3.521,2.115-5.328,4.56-7.563
    c5.085-4.633,3.854-13.521,1.298-19.195c-1.149-2.535-1.613-4.773-0.475-7.426c1.094-2.559,2.793-4.725,3.511-7.455
    c1.37-5.307,0.891-11.102,0.476-16.5c-0.237-3.188-0.072-6.361-0.072-9.563c-0.014-3.076-0.705-5.975-1.087-9
    c-0.386-2.971,0.346-5.486,0.912-8.346c0.636-3.146,0.201-6.016-0.636-9.045c-0.505-1.906-1.126-3.887,0.629-5.242
    c1.466-1.117,2.855-1.531,3.423-3.51c0.772-2.74,0.49-5.947,0.461-8.764c-0.026-3.146-0.186-6.299-0.139-9.441
    c0.065-3.166,0.493-6.256,0.941-9.402c0.441-3.145,0.521-6.297,0.561-9.469c0.04-2.707,0.211-5.359,0.408-8.052
    c0.146-1.928,0.146-3.977,0.976-5.768c0.343-0.79,0.862-1.459,1.39-2.119c0.261,4.586-0.263,9.147-0.021,13.73
    c0.242,4.6,2.131,8.834,2.543,13.383c0.45,4.715-0.524,9.463-0.934,14.143c-0.428,4.787-0.415,9.561-0.071,14.352
    c0.315,4.699,0.19,9.045-0.877,13.656c-1.055,4.639-1.778,9.168-1.938,13.943c-0.31,9.572,0.508,19.076,0.405,28.637
    c-0.057,4.781-0.214,9.611-1.052,14.348c-0.797,4.537-2.271,8.895-3.905,13.17c-1.877,4.865-3.623,9.668-1.403,14.787
    c1.055,2.502,2.898,4.516,4.217,6.865c1.251,2.275,1.755,4.516,1.383,7.094c-0.325,2.137-0.916,4.658,1.028,6.174
    c2.318,1.795,5.271,1.973,8.058,1.869c3.161-0.109,6.251,0.213,9.399,0.193c2.457-0.016,5.758-0.838,6.113-3.873
    c0.182-1.553-0.476-3.041-0.679-4.563c-0.329-2.121,1.17-3.898,1.831-5.791c1.495-4.338,0.898-8.99,0.773-13.52
    c-0.151-5.311,0.679-10.602,1.502-15.834c0.346-2.242,0.698-4.477,1.002-6.73c0.346-2.678,0.662-5.344,0.938-8.037
    c0.355-3.439,1.427-6.764,1.824-10.203c0.356-3.004,0.479-6.051,0.699-9.059c0.313-3.797,1.126-7.531,2.18-11.17
    c1.377-4.795,2.354-9.674,2.938-14.648c0.494-4.209,0.297-8.463,0.633-12.678c0.354-4.598,0.843-9.16,1.34-13.732
    c0.277-2.582,0.567-5.186,0.852-7.775c0.235-2.27,0.464-4.496,0.636-6.771c0.21-2.803,0.389-5.592,0.546-8.387
    c0.158-2.92,0.29-5.852,0.468-8.795c0.112-2.107,0.231-4.21,0.351-6.324c0.333-5.781,0.85-11.633,0.85-17.428
    c0.105-1.985,0.093-4.108,0.441-6.066c0.612-3.501,1.423-6.967,1.667-10.525c0.264-3.697,0.296-7.392,0.572-11.08
    c0.19-2.361-0.605-5.191,0.218-7.44c0.29-0.762,3.519-3.383,4.354-2.913c1.331,0.761,1.555,1.849,1.555,3.312
    c0,1.965,0.061,3.94,0.191,5.912c0.112,1.905,0.29,4.021-0.402,5.895c-0.711,1.905-2.266,3.287-2.813,5.293
    c-0.48,1.713-0.937,3.452-1.403,5.192c-0.718,2.719-1.133,6.176-1.133,9.002c0,1.496-0.408,2.982-0.211,4.478
    c0.303,2.414,2.346,1.36,3.854,0.666c-0.461,0.221-0.31,1.883-0.572,2.321c-0.926,1.475-3.899,0.923-2.417,3.659
    c0.69,1.244,3.05,2.885,4.479,2.664c0.988-0.161,1.852-0.719,2.793-0.994c-0.382,0.1-0.941,1.433-1.14,1.808
    c-0.369,0.682-0.856,1.559-0.065,2.155c1.781,1.31,2.896,0.222,3.966-1.358c0.48-0.719,0.862-1.68,1.567-2.232
    c1.271-0.939,2.721-0.884,3.88-2.14c4.006-4.295,3.445-10.16,3.627-15.608c0.076-2.933,0.354-5.852,0.711-8.75
    c0.162-1.278-0.145-3.087,1.252-3.75c1.403-0.656,3.172,0.423,4.568-0.522c1.806-1.232,1.634-5.898,1.565-7.786
    c-0.069-3.214-0.534-6.407-0.609-9.621c-0.061-3.425,0.072-6.833,0.461-10.23c0.441-3.874,0.54-7.717,0.761-11.623
    c0.214-4.526,0.523-9.083,0.175-13.612c-0.615-7.917-2.404-15.707-3.166-23.618c-0.214-2.157-0.353-4.312-0.478-6.48
    c-0.319-5.48-0.804-10.907-2.318-16.18c-1.911-6.806-4.144-13.483-6.055-20.267c-0.579-2.025-1.166-4.033-1.812-6.035
    c-0.633-1.948-1.33-3.876-2.063-5.785c-0.909-2.333-1.818-4.652-2.603-7.041c-0.619-1.961-1.11-4.021-2.21-5.75
    c-1.195-1.898-3.127-3.031-4.776-4.418c-1.466-1.237-2.73-2.7-4.381-3.666c-1.742-1.007-3.68-1.511-5.537-2.196
    c-3.504-1.312-6.996-2.912-10.19-4.894c-3.466-2.146-6.727-4.881-10.679-6.041c-1.95-0.559-4.124-0.92-5.19-2.969
    c-1.174-2.239,0.218-4.438,1.759-6.033c3.123-3.246,3.441-7.79,3.162-12.122c-0.218-3.582,0.69-7.077,0.73-10.648
    c0.046-6.069-4.65-10.532-9.124-13.625c-1.746-1.188-3.544-2.554-5.605-3.019c-2.397-0.529-4.639,0.464-6.996,0.685
    c-2.342,0.221-4.733,0.235-6.967,1.076c-2.46,0.927-4.098,2.916-5.668,5c-1.713,2.277-3.524,4.721-3.935,7.69
    c-0.494,3.579-1.906,7.262,0.105,10.63c0.547,0.913,1.238,1.747,1.555,2.761c0.515,1.607,0.211,3.354,0.762,4.985
    c0.523,1.586,1.409,3.012,2.15,4.488c1.015,1.989,1.61,4.238,3.297,5.771c4.167,3.774-2.901,5.605-4.66,7.717
    c-2.122,2.541-3.821,5.014-6.402,7.09c-1.938,1.54-4.06,2.853-6.271,3.882c-2.306,1.069-4.75,1.705-7.022,2.81
    c-3.183,1.519-6.91,3.837-9.381,6.42c-2.046,2.112-3.344,4.872-4.879,7.385c-1.92,3.147-3.58,6.491-4.852,9.98
    c-0.698,1.934-1.291,3.923-1.746,5.936c-0.507,2.327-0.968,4.667-1.488,6.993c-0.69,2.976-1.338,5.958-2.01,8.925
    c-0.461,2.071-0.896,4.144-1.304,6.235c-0.942,4.781-1.581,9.641-2.405,14.457c-1.054,6.27-2.147,12.512-3.104,18.784
    c-0.343,2.183-0.636,4.379-0.797,6.601c-0.25,3.479,0.026,6.963-0.218,10.451c-0.211,2.926-1.027,5.668-1.627,8.518
    c-0.632,2.965-1.229,5.922-1.558,8.951c-0.451,4.223-0.537,8.493-0.774,12.721c-0.104,2.126-0.211,4.249-0.27,6.36
    c-0.083,2.585-0.165,5.179-0.244,7.76c-0.146,3.733-0.323,7.479-0.573,11.195c-0.132,1.701-0.353,3.435-0.422,5.132
    c-0.069,1.583,0.712,2.979,0.741,4.516c0.032,1.708-0.526,3.365-0.698,5.045c-0.181,1.677-0.214,3.351-0.283,5.028
    c-0.099,2.592-0.132,6.297,2.217,7.963c1.334,0.943,2.655,1.158,2.414,3.17c-0.3,2.445-1.527,5.005-2.302,7.355
    c-0.686,2.121-1.624,4.252-3.864,4.895c-2.564,0.754-4.97,2.064-7.533,2.73c-2.113,0.553-4.327,0.463-6.491,0.6
    c-1.617,0.104-5.966,1.412-5.59-1.678c0.115-1.008,1.134-1.35,1.845-1.83c0.898-0.613,1.649-1.391,2.321-2.227
    c2.813-3.584,4.042-8.511,3.977-13.083c-0.036-1.635-0.065-3.294-0.362-4.912c-0.289-1.536-1.021-2.631-1.587-4.053
    c-0.319-0.778-0.353-1.732,0.662-1.323c1.011,0.401,1.334,1.811,2.536,2.025c0.099-0.074,0.069-0.134,0.017-0.25
    c-1.778-3.753-5.462-4.63-8.649-6.542c0.172,0.094,0.494-1.502,0.478-1.705c-0.121-0.562-0.622-0.966-1.05-1.295
    c-1.196-0.978-2.715-1.583-4.078-2.242c0.514,0.247,3.841,3.582,2.2,3.582c-2.178,0-3.841-2.662-6.041-3.077
    c-1.227-0.231-2.49-0.382-3.731-0.519c-0.49-0.043-0.959-0.101-1.46-0.108c-0.314-0.007-1.573,0.315-1.762,0.185
    c0.876,0.589,2.147,0.512,3.004,1.098c-2.046,0.324-4.206,0.308-6.273,0.611c-3.888,0.567-7.537,2.82-11.15,4.31
    c0.761,0.1,1.974,0.117,2.53,0.661c-0.115-0.113-1.901,3.298-2.006,3.736c-0.351,1.891-0.356,3.753-0.784,5.638
    c-0.465,1.993,0.843,4.557-0.527,6.215c-1.732,2.09-2.181,3.871-1.894,6.619c0.181,1.734-0.283,3.729,0.83,5.215
    c0.572,0.762,2.729,1.873,1.194,2.789c-0.98,0.596-2.411,0.287-3.444,0.787c-2.379,1.104-5.008,3.076-6.938,4.914
    c-1.479,1.445-1.644,3.645-3.054,5.074c-1.327,1.346-3.258,2.668-4.893,3.531c-1.37,0.727-2.964,0.637-4.341,1.305
    c-1.377,0.662-2.121,2.012-3.423,2.775c-2.025,1.203-4.486,1.277-6.723,1.711c-2.228,0.383-4.288,1.291-6.479,1.836
    c-2.547,0.658-4.775,0.145-7.354,0.287c-1.479,0.068-3.165,0.922-4.604,0.209c-0.659-0.332-1.081-1.389-1.496-1.963
    c-0.955-1.271-2.457-2.104-3.444-3.357c-2.398-3.031,1.957-3.488,1.61-6.797c-0.241-2.461-1.61-4.605-2.184-6.969
    c-0.656-2.701-0.774-5.482-1.581-8.113c-0.856-2.77-1.792-5.516-2.8-8.236c-1.548-3.899-3.739-7.53-5.258-11.479
    c-1.673-4.305-3.024-8.729-4.327-13.17c-3.43-11.633-8.002-23.269-19.234-28.843c-2.681-1.319-4.129-4.144-6.942-5.367
    c-2.744-1.204-6.051-1.624-8.959-0.762c-0.145,0.057,0.729-3.616,1.036-4.041c0.885-1.285,2.264-2.2,3.231-3.438
    c5.768-7.385,10.241-22.734,4.239-31.26c-2.31-3.287-4.433-5.329-8.257-6.241c-4.991-1.199-13.326-3.839-17.652,0.54
    c-1.029,1.05-1.741,2.379-2.88,3.394c-3.02,2.722-3.679,4.894-3.794,8.999c-0.222,6.42-1.575,13.353,2.115,19.04
    c1.784,2.761,2.929,5.47,3.339,8.8c-1.945,0.178-3.271,1.694-4.574,3.006c-1.419,1.39-2.895,2.097-4.645,2.96
    c-5.082,2.51-10.556,4.593-14.66,8.718c-4.704,4.752-6.51,11.213-10.389,16.483c-1.58,2.133-3.572,3.887-5.097,6.066
    c-2.304,3.358-5.939,4.719-9.781,4.719c-0.856,0-2.971,0.221-2.56-1.218c0.396-1.379,2.56-0.934,3.578-1.329
    c4.278-1.681,3.332-7.334,3.538-11.014c0.084-1.72,1.248-2.651,2.264-3.806c1.262-1.446,1.893-2.954,2.044-4.898
    c0.453-5.795-2.502-12.065-3.696-17.672c-1.319-6.227-2.278-12.563-2.922-18.903c-0.55-5.615-0.26-11.269-1.022-16.86
    c-0.775-5.645-2.138-11.202-2.846-16.865c-0.817-6.414-0.686-12.932-1.09-19.37c-0.272-4.21-0.536-8.416-0.722-12.627
    c-0.28-6.184-0.691-12.37-1.625-18.492c-1.525-10.023-6.936-20.1-16.679-23.224c-2.735-0.896-5.68-1.264-8.342-2.376
    c-3.656-1.537-3.626-5.852-7.447-7.034c-2.201-0.692,3.363,4.469,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842
    c0.064-1.832,0.527-2.414-0.363-4.757c0.682-2.698-1.597-0.961-2.058-6.207c1.811-2.431,2.63-3.491,3.73-6.551
    c1.378-3.837-0.851-8.479-1.765-12.176c-0.658-2.72-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.557-4.007-8.055
    c-1.487-2.276-2.811-4.736-4.819-6.578c-3.185-2.898-7.806-3.291-11.84-2.989c-3.791,0.277-8.976,0.113-12.172,2.541
    c-1.461,1.112-1.947,2.907-2.975,4.378c-1.193,1.711-3.095,2.803-4.021,4.728c-1.082,2.253-0.492,4.937-1.564,7.187
    c-1.74,3.666-4.04,6.268-4.622,10.451c-0.608,4.571,0.255,9.237,0.838,13.752c0.341,2.695,0.145,5.963,1.426,8.406
    c1.029,1.982,0.135,1.54-0.512,5.53c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.645-6.401,3.851
    c-7.765,0.579-16.378,3.996-20.258,11.416c-1.641,3.149-2.587,6.671-3.637,10.066c-1.069,3.501-2.031,7.056-2.429,10.715
    c-0.876,8.146-1.632,16.279-2.583,24.425c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.974-1.34,15.794-2.298,23.721
    c-0.26,2.196-0.492,4.389-0.67,6.599c-0.313,4.007-0.089,7.995-0.089,12.009c0,3.531,0,7.032,0.089,10.554
    c0.151,6.241-1.016,12.384-2.364,18.463c-0.342,1.52-0.665,3.189-0.328,4.75C170.14,259.447,170.181,259.57,170.206,259.703z
     M477.425,418.447c0.157-1.754,1.247-3.672,2.388-1.158c0.988,2.18,0.949,5.078,1.018,7.436c0.094,2.674,0.105,5.406-0.145,8.059
    c-0.029,0.223-0.057,0.426-0.086,0.641c-0.322,2.117-1.101,4.406-0.311,6.436c-0.776-2.029-1.996-3.875-2.599-5.977
    c-0.648-2.264,0-4.543-0.175-6.873C477.313,424.162,477.167,421.291,477.425,418.447z M227.051,378.039
    c0.697-10.482,0.338-20.988,0.379-31.5c0.025-7.996-2.297-18.045,3.396-24.629c0.911,6.721,0.502,13.666,0.268,20.461
    c-0.174,5.002,1.068,9.869,1.886,14.746c0.809,4.779,0.754,9.281,0.356,14.111c-0.438,5.494-0.903,11.012-1.366,16.514
    c-0.392,4.666,0.061,44.664-6.736,43.926C220.335,425.93,226.585,385.201,227.051,378.039z"/>
  <g>
    <g>
      <g>
        <g>
          <g>
            <defs>
              <path id="SVGID_1_" d="M213.575,96.07c0,0-0.013-0.014-0.013,0C213.566,96.18,213.572,96.151,213.575,96.07z M170.206,259.703
                c0.426,1.396,1.42,2.39,1.991,3.726c0.529,1.235,0.384,2.561,0.425,3.873c0.068,1.748,0.104,3.502,0.345,5.233
                c0.37,2.705,1.056,5.407,2.363,7.807c0.611,1.122,1.248,2.35,2.203,3.207c1.407,1.272,4.87,2.069,6.688,1.828
                c2.343-0.322,1.102-1.674,0.226-2.905c-1.09-1.561-0.995-3.707-2.826-4.637c-4.062-2.085-4.432-10.726-0.279-12.792
                c1.126-0.555,2.833-0.432,3.82-1.081c2.456-1.597,1.229-6.013,0.65-8.3c-0.876-3.376-0.596-6.558,0.102-9.942
                c0.921-4.516,1.612-9.018,2.36-13.575c1.215-7.4,2.887-14.679,4.827-21.913l2.4-9.28c-0.553,2.112-0.637,4.466-0.954,6.628
                c-0.32,2.276-0.637,4.557-0.951,6.833c-0.371,2.582-1.281,5.028-2.07,7.501c-0.817,2.564-1.188,5.112-1.64,7.77
                c-0.266,1.604-0.651,3.207-0.493,4.852c0.142,1.506,1.448,2.222,1.396,3.839c-0.054,1.509-0.347,2.982-0.464,4.459
                c-0.166,2.119-0.347,4.234-0.385,6.36c-0.102,4.115,0.666,8.101,0.975,12.182c0.466,6.009-0.331,12.581,1.394,18.386
                c0.512,1.747,1.089,3.435,1.731,5.179c0.76,2.035,0.585,4.445,0.702,6.592c0.295,5.406,0.625,10.805,0.547,16.241
                c-0.054,4.004-0.356,7.975-0.496,11.957c-0.15,4.168-0.122,8.305,0.071,12.475c0.105,2.414,0.212,4.871,0.105,7.293
                c-0.167,3.998-1.209,7.832-1.499,11.807c-0.307,4.02-0.319,8.045-0.412,12.07c-0.186,8.801-0.278,17.617-0.239,26.438
                c0.026,1.861,0.091,3.732,0.091,5.625c0.082,3.068-1.095,9.004,2.456,10.564c0.268,0.111,3.346,0.803,3.414,0.584
                c-0.985,3.076-1.5,6.344-1.346,9.572c0.078,1.563,0.337,3.131,0.853,4.617c0.532,1.48,1.515,2.736,1.978,4.256
                c0.466,1.535,0.466,3.148,0.533,4.715c0.213,4.461,1.18,8.941,2.114,13.287c0.911,4.15,1.707,8.25,3.419,12.135
                c1.299,2.939,2.834,4.879,5.866,5.844c3.622,1.172,7.394,1.234,10.772-0.732c2.291-1.342,4.5-3.063,5.091-5.857
                c0.535-2.563,0.04-5.42-0.652-7.895c-0.506-1.807-1.169-3.566-1.938-5.248c-1.023-2.238-2.099-4.783-2.602-7.213
                c-0.55-2.566,1.784-2.205,3.45-2.541c1.221-0.254,3.902-1.158,4.577,0.537c0.771,1.904-0.268,5.043-0.433,7.082
                c-0.111,1.414-0.219,2.854-0.337,4.27c-0.042,0.51-0.638,4.043-0.341,4.285l0.921,0.721c0.439,0.348,0.24,3.377,0.28,4.039
                c0.071,1.178,0.132,2.4,0.357,3.566c0.857,4.34,4.383,5.484,8.229,5.467c3.479-0.041,7.951,1.83,10.632-1.459
                c1.815-2.24,2.083-5.139,2.111-7.947c1.487-0.303,2.984-0.072,4.5-0.152c1.021-0.029,1.426-0.057,1.646-1.107
                c0.823-4.271,1.194-8.84,0.729-13.178c-0.308-2.879-0.914-5.758-0.772-8.684c0.227-4.199,1.134-8.316,1.706-12.486
                c0.537-3.836,1.311-7.613,1.887-11.439c0.338-2.254,0.608-4.498,0.748-6.771c0.173-2.854,0.199-5.723,0.199-8.563
                c0.067-3.422,0.253-6.824,0.318-10.23c0.081-5.494-0.139-11.008-0.139-16.5c0.007-3.154,0.07-6.348,0.231-9.504
                c0.132-2.432,0.352-4.875,0.729-7.27c0.347-2.213,0.784-4.406,1.167-6.619c1.28-7.105,1.321-14.4,2.563-21.527
                c0.371-2.104,0.81-4.17,1.221-6.252c1.577-7.887,2.866-15.847,4.36-23.755c0.577-3.011,1.16-6.059,1.72-9.074
                c0.83-4.487,0.743-9.134,1.758-13.559c0.537-2.323,1.697-4.49,1.942-6.879c0.583-5.414-0.638-10.89-0.078-16.336
                c0.239-2.354,1.316-3.918,2.379-5.922c1.315-2.504,0.267-5.045,1.14-7.585c-0.377,1.854,0.226,3.846,0.267,5.73
                c0.055,2.253,0.078,4.494,0.107,6.746c0.132,6.045,0.079,12.087-0.006,18.134c-0.014,0.804-0.021,1.619-0.033,2.417
                l3.08,0.361l3.785,0.716l3.305,0.478c-0.922-0.13-1.779,4.75-2.335,5.347c-1.261,1.403-3.257-0.201-4.638-0.509
                c-2.859-0.653-2.948,3.056-4.121,4.75c-0.811,1.203-2.06,2.863-1.909,4.432c0.13,1.427,1.433,1.604,2.495,2.034
                c-1.249,1.804-1.126,3.019,0.466,4.68c0.995,1.021,2.07,1.975,3.383,2.523c1.535,0.659,3.544-0.288,4.472,1.52
                c0.952,1.824,0.865,4.161,1.715,6.065c0.728,1.646,1.713,3.147,3.317,3.988c1.887,0.979,4.116,0.907,6.105,1.504
                c3.009,0.891,6.199,1.258,9.292,0.624c1.652-0.329,3.305-1.098,4.634-2.18c1.99-1.637,2.841-3.986,3.836-6.323
                c1.088-2.537,2.668-4.399,4.525-6.347c1.222-1.295,2.32-2.746,3.066-4.392c0.789-1.741,0.863-3.495,1.182-5.336
                c0.351-2.016,0.795-4.01,1.008-6.052c0.267,7.23,1.673,14.515,0.444,21.729c-0.457,2.746-1.368,5.427-2.529,7.955
                c-1.049,2.303-2.36,4.508-2.88,7.051c-0.517,2.57-0.268,5.334,0.282,7.887c1.036,4.748,3.62,8.889,5.008,13.533
                c0.496,1.68,0.814,3.42,0.869,5.182c0.055,1.604-0.042,3.213,0.503,4.756c0.473,1.328,1.406,2.377,1.977,3.645
                c0.584,1.275,0.836,2.734,0.985,4.146c0.351,3.104,0.173,6.311,1.393,9.209c0.771,1.803,1.721,3.557,2.135,5.484
                c0.811,3.66,0.206,7.916,0.348,11.646c0.167,4.607,0.466,9.195,0.701,13.797c0.122,2.338,0.199,4.674,0.229,6.994
                c0.04,4.658,0.02,9.332,0.623,13.965c0.877,6.707,4.17,12.867,1.528,19.652c-0.838,2.164-1.208,4.4-0.891,6.721
                c0.502,3.689,1.527,7.25,1.884,10.951c0.296,2.996,0.599,5.775,2.578,8.152c1.057,1.244-0.254,2.516-1.406,3.084
                c-0.917,0.451-1.947,0.596-2.312,1.727c-0.351,1.098,0.273,2.311,1.016,3.092c1.858,1.932,5.633,2.563,8.108,2.891
                c1.639,0.24,3.75,0.371,5.295-0.361c0.708-0.359,1.201-0.885,1.561-1.617c0.094-0.203,0.835-2.18,0.696-2.268
                c0.817,0.451,1.098,0.588,1.495,1.465c0.219,0.5,0.547,0.814,0.988,1.076c1.916,1.055,4.684,0.66,6.774,0.549
                c2.598-0.15,5.131-0.953,5.577-3.969c0.397-2.664-0.557-5.352-0.412-8.037c0.146-2.871,1.382-5.393,1.207-8.348
                c-0.206-3.445,1.347-7.092,0.245-10.469c-0.914-2.852-2.487-5.486-1.783-8.621c0.77-3.381,2.71-6.338,3.649-9.641
                c1.207-4.223,0.479-8.643,1.515-12.85c0.638-2.594,1.899-4.994,2.583-7.592c0.665-2.549,0.632-5.133,0.897-7.727
                c0.408-3.998,1.619-7.846,2.787-11.654c2.041-6.689,3.572-13.754,4.127-20.75c0.167-1.891,0.254-3.809,0.228-5.715
                c-0.015-4.594-0.759-9.338-2.114-13.711c-0.596-1.893-1.92-3.98-1.444-6.051c0.519-2.25,3.131-1.482,4.354-2.848
                c1.113-1.26,0.731-3.434,0.608-4.953c-0.25-3.025,0.074-6.064-0.305-9.08c-0.479-3.662-1.336-7.088-2.296-10.647
                c0.356,1.284,1.313,2.676,1.898,3.875c0.634,1.314,1.288,2.617,2.017,3.875c1.45,2.455,3.144,4.752,4.526,7.252
                c1.673,2.992,3.862,5.818,5.15,8.994c0.192,0.479,0.728,5.021,0.438,4.939c1.29,0.314,2.322,0.113,2.19,1.65
                c-0.125,1.268-0.158,2.561-0.171,3.859c-0.021,3.02,0.303,6.18,0.619,9.174c0.217,2.049,0.908,4.316,3.24,4.461
                c1.588,0.1,3.216,0.264,4.792,0.014c1.499-0.227,2.771-1.682,4.221-1.781c0.425-0.037,1.487,1.658,1.902,1.939
                c1.886,1.258,4.84,0.41,6.767-0.346c2.006-0.762,3.781,0.686,5.662,1.145c2.507,0.633,5.544-0.027,8.14-0.209
                c4.513-0.236,11.331,0.137,14.882-3.365c0.583-0.568,1.813-2.725,2.853-2.146c1.034,0.574-0.014,2.637-0.197,3.436
                c-0.504,2.049,0.89,3.412,1.027,5.428c0.146,1.826-0.844,3.494-1.192,5.256c-0.342,1.563,0.146,3.049,0.468,4.594
                c0.351,1.574,0.351,3.119,0,4.709c-0.329,1.479-0.729,3.377,0.916,4.182c-0.072-0.031-1.653,8.861-1.771,9.607
                c-0.1,0.59-0.23,1.186-0.283,1.795c-0.365,3.813-0.454,7.676-0.053,11.48c0.211,2.279,0.633,4.566,1.009,6.822
                c0.622,4.029,1.344,8.037,2.062,12.061c1.36,7.791,2.358,15.713,3.012,23.605c0.25,3.082,0.489,6.234,0.264,9.348
                c-0.211,2.795-1.14,5.48-1.352,8.264c-0.108,1.369,0.35,2.691,1.635,3.332c1.752,0.891,2.378,1.453,1.555,3.533
                c-0.844,2.127-1.199,4.275,1.601,4.801c3.57,0.67,7.676,1.072,11.285,0.496c3.662-0.576,1.297-4.156,2.134-6.428
                c0.555-1.42,2.221-1.453,3.373-1.016c1.342,0.516,2.164,1.605,2.164,3.119c-0.013,5.299,7.872,4.803,10.949,2.775
                c1.934-1.271,2.009-3.578,2.75-5.6c0.533-1.389,1.62-2.461,2.06-3.873c0.518-1.607,0.26-3.412,0.157-5.057
                c-0.145-2.178-0.45-4.285-0.855-6.42c-0.934-4.951-1.97-10.135-1.146-15.188c0.523-3.316,0.655-6.688,0.598-10.031
                c-0.073-3.092-0.555-6.271-0.026-9.33c0.408-2.367,1.564-4.494,2.028-6.852c0.529-2.783,0.139-5.607,0.353-8.404
                c0.158-2.016,0.722-3.939,1.216-5.902c0.408-1.58,0.566-3.436,1.334-4.879c1.141-2.131,3.627-2.693,4.342-5.189
                c0.729-2.549,0.068-5.221,0.129-7.791c0.06-2.119,0.941-4.043,1.581-6.002c1.606-4.77,2.067-9.354,0.958-14.32
                c-0.747-3.352-1.814-6.873-0.661-10.27c0.546-1.623,1.844-2.703,3.017-3.793c1.005-0.951,1.703-2.244,2.721-3.145
                c0.966-0.877,2.3-0.854,3.495-0.99c2.561-0.324,4.153-2.049,5.973-3.789c2.167-2.102,5.743-1.582,7.517-4.09
                c1.156-1.656,1.509-3.752,1.759-5.736c0.165-1.281,0.229-2.563,0.329-3.84c0.311-3.732,0.323-7.639,0.876-11.309
                c0.231-1.492,1.97-1.123,2.181-2.664c0.265-1.83-1.194-3.729-0.242-5.483c0.017-0.053,1.956-0.028,2.187-0.103
                c3.109-0.959,0.738-4.601,0.204-6.516c-0.777-2.863-0.79-5.557-0.115-8.456c0.333-1.343,0.609-1.451,1.901-1.919
                c0.375-0.329-0.073-3.596-0.079-4.098c-0.033-1.684-0.086-3.371-0.047-5.069c0.146-5.155,2.608-9.752,3.162-14.851
                c0.827-7.484,3.82-14.398,4.711-21.84c0.332-2.761,0.49-5.543,0.553-8.318c0.057-2.954,0.076-5.979,1.008-8.809
                c1.12-3.354,2.844-6.443,4.039-9.761c-0.31,1.326-0.111,2.87-0.158,4.238c-0.071,1.681-0.139,3.371-0.211,5.052
                c-0.139,3.301-0.25,6.618-0.368,9.929c-0.244,7.161-0.337,14.352-0.555,21.523c-0.079,3.264-0.382,6.604-0.032,9.849
                c0.64,0.151,1.338,0.137,1.989,0.274c0.214,3.188-0.791,6.27-0.315,9.49c0.468,3.157,1.416,6.234,1.391,9.448
                c-0.014,3.452-0.494,6.893-0.633,10.34c-0.158,4.35-0.221,8.714-0.29,13.061c-0.118,9-2.095,17.815-0.764,26.846
                c0.27,1.855,0.771,3.787,1.844,5.338c0.89,1.258,2.478,2.27,2.698,3.947c0.307,2.293-2.021,4.217-2.104,6.615
                c-0.093,2.697,0.783,5.322,0.771,8.018c-0.021,2.969-0.305,5.92-0.606,8.873c-0.422,4.359-0.698,8.717-0.919,13.088
                c-0.139,2.475-0.257,4.941-0.359,7.398c-0.214,4.408-0.446,8.828-0.493,13.238c-0.047,2.729,0,5.484,0.164,8.229
                c0.158,2.717,0.476,5.443,1.049,8.115c0.514,2.438,1.408,4.742,2.635,6.881c0.354,0.623,1.312,2.734,2.153,2.734
                c-1.548-0.02-2.882,2.613-3.294,3.875c-0.633,2.004-0.493,4.268,0.072,6.281c0.636,2.314,2.553,4.256,1.993,6.828
                c-1.012,4.682-3.205,8.848-5.254,13.109c-2.393,5.039-4.005,13.539,1.278,17.445c4.681,3.453,11.949,3.338,16.838,0.496
                c2.342-1.381,4.921-3.271,5.929-5.969c1.516-4.084,0.376-9.008,0.955-13.307c0.468-3.521,2.115-5.328,4.56-7.563
                c5.085-4.633,3.854-13.521,1.298-19.195c-1.149-2.535-1.613-4.773-0.475-7.426c1.094-2.559,2.793-4.725,3.511-7.455
                c1.37-5.307,0.891-11.102,0.476-16.5c-0.237-3.188-0.072-6.361-0.072-9.563c-0.014-3.076-0.705-5.975-1.087-9
                c-0.386-2.971,0.346-5.486,0.912-8.346c0.636-3.146,0.201-6.016-0.636-9.045c-0.505-1.906-1.126-3.887,0.629-5.242
                c1.466-1.117,2.855-1.531,3.423-3.51c0.772-2.74,0.49-5.947,0.461-8.764c-0.026-3.146-0.186-6.299-0.139-9.441
                c0.065-3.166,0.493-6.256,0.941-9.402c0.441-3.145,0.521-6.297,0.561-9.469c0.04-2.707,0.211-5.359,0.408-8.052
                c0.146-1.928,0.146-3.977,0.976-5.768c0.343-0.79,0.862-1.459,1.39-2.119c0.261,4.586-0.263,9.147-0.021,13.73
                c0.242,4.6,2.131,8.834,2.543,13.383c0.45,4.715-0.524,9.463-0.934,14.143c-0.428,4.787-0.415,9.561-0.071,14.352
                c0.315,4.699,0.19,9.045-0.877,13.656c-1.055,4.639-1.778,9.168-1.938,13.943c-0.31,9.572,0.508,19.076,0.405,28.637
                c-0.057,4.781-0.214,9.611-1.052,14.348c-0.797,4.537-2.271,8.895-3.905,13.17c-1.877,4.865-3.623,9.668-1.403,14.787
                c1.055,2.502,2.898,4.516,4.217,6.865c1.251,2.275,1.755,4.516,1.383,7.094c-0.325,2.137-0.916,4.658,1.028,6.174
                c2.318,1.795,5.271,1.973,8.058,1.869c3.161-0.109,6.251,0.213,9.399,0.193c2.457-0.016,5.758-0.838,6.113-3.873
                c0.182-1.553-0.476-3.041-0.679-4.563c-0.329-2.121,1.17-3.898,1.831-5.791c1.495-4.338,0.898-8.99,0.773-13.52
                c-0.151-5.311,0.679-10.602,1.502-15.834c0.346-2.242,0.698-4.477,1.002-6.73c0.346-2.678,0.662-5.344,0.938-8.037
                c0.355-3.439,1.427-6.764,1.824-10.203c0.356-3.004,0.479-6.051,0.699-9.059c0.313-3.797,1.126-7.531,2.18-11.17
                c1.377-4.795,2.354-9.674,2.938-14.648c0.494-4.209,0.297-8.463,0.633-12.678c0.354-4.598,0.843-9.16,1.34-13.732
                c0.277-2.582,0.567-5.186,0.852-7.775c0.235-2.27,0.464-4.496,0.636-6.771c0.21-2.803,0.389-5.592,0.546-8.387
                c0.158-2.92,0.29-5.852,0.468-8.795c0.112-2.107,0.231-4.21,0.351-6.324c0.333-5.781,0.85-11.633,0.85-17.428
                c0.105-1.985,0.093-4.108,0.441-6.066c0.612-3.501,1.423-6.967,1.667-10.525c0.264-3.697,0.296-7.392,0.572-11.08
                c0.19-2.361-0.605-5.191,0.218-7.44c0.29-0.762,3.519-3.383,4.354-2.913c1.331,0.761,1.555,1.849,1.555,3.312
                c0,1.965,0.061,3.94,0.191,5.912c0.112,1.905,0.29,4.021-0.402,5.895c-0.711,1.905-2.266,3.287-2.813,5.293
                c-0.48,1.713-0.937,3.452-1.403,5.192c-0.718,2.719-1.133,6.176-1.133,9.002c0,1.496-0.408,2.982-0.211,4.478
                c0.303,2.414,2.346,1.36,3.854,0.666c-0.461,0.221-0.31,1.883-0.572,2.321c-0.926,1.475-3.899,0.923-2.417,3.659
                c0.69,1.244,3.05,2.885,4.479,2.664c0.988-0.161,1.852-0.719,2.793-0.994c-0.382,0.1-0.941,1.433-1.14,1.808
                c-0.369,0.682-0.856,1.559-0.065,2.155c1.781,1.31,2.896,0.222,3.966-1.358c0.48-0.719,0.862-1.68,1.567-2.232
                c1.271-0.939,2.721-0.884,3.88-2.14c4.006-4.295,3.445-10.16,3.627-15.608c0.076-2.933,0.354-5.852,0.711-8.75
                c0.162-1.278-0.145-3.087,1.252-3.75c1.403-0.656,3.172,0.423,4.568-0.522c1.806-1.232,1.634-5.898,1.565-7.786
                c-0.069-3.214-0.534-6.407-0.609-9.621c-0.061-3.425,0.072-6.833,0.461-10.23c0.441-3.874,0.54-7.717,0.761-11.623
                c0.214-4.526,0.523-9.083,0.175-13.612c-0.615-7.917-2.404-15.707-3.166-23.618c-0.214-2.157-0.353-4.312-0.478-6.48
                c-0.319-5.48-0.804-10.907-2.318-16.18c-1.911-6.806-4.144-13.483-6.055-20.267c-0.579-2.025-1.166-4.033-1.812-6.035
                c-0.633-1.948-1.33-3.876-2.063-5.785c-0.909-2.333-1.818-4.652-2.603-7.041c-0.619-1.961-1.11-4.021-2.21-5.75
                c-1.195-1.898-3.127-3.031-4.776-4.418c-1.466-1.237-2.73-2.7-4.381-3.666c-1.742-1.007-3.68-1.511-5.537-2.196
                c-3.504-1.312-6.996-2.912-10.19-4.894c-3.466-2.146-6.727-4.881-10.679-6.041c-1.95-0.559-4.124-0.92-5.19-2.969
                c-1.174-2.239,0.218-4.438,1.759-6.033c3.123-3.246,3.441-7.79,3.162-12.122c-0.218-3.582,0.69-7.077,0.73-10.648
                c0.046-6.069-4.65-10.532-9.124-13.625c-1.746-1.188-3.544-2.554-5.605-3.019c-2.397-0.529-4.639,0.464-6.996,0.685
                c-2.342,0.221-4.733,0.235-6.967,1.076c-2.46,0.927-4.098,2.916-5.668,5c-1.713,2.277-3.524,4.721-3.935,7.69
                c-0.494,3.579-1.906,7.262,0.105,10.63c0.547,0.913,1.238,1.747,1.555,2.761c0.515,1.607,0.211,3.354,0.762,4.985
                c0.523,1.586,1.409,3.012,2.15,4.488c1.015,1.989,1.61,4.238,3.297,5.771c4.167,3.774-2.901,5.605-4.66,7.717
                c-2.122,2.541-3.821,5.014-6.402,7.09c-1.938,1.54-4.06,2.853-6.271,3.882c-2.306,1.069-4.75,1.705-7.022,2.81
                c-3.183,1.519-6.91,3.837-9.381,6.42c-2.046,2.112-3.344,4.872-4.879,7.385c-1.92,3.147-3.58,6.491-4.852,9.98
                c-0.698,1.934-1.291,3.923-1.746,5.936c-0.507,2.327-0.968,4.667-1.488,6.993c-0.69,2.976-1.338,5.958-2.01,8.925
                c-0.461,2.071-0.896,4.144-1.304,6.235c-0.942,4.781-1.581,9.641-2.405,14.457c-1.054,6.27-2.147,12.512-3.104,18.784
                c-0.343,2.183-0.636,4.379-0.797,6.601c-0.25,3.479,0.026,6.963-0.218,10.451c-0.211,2.926-1.027,5.668-1.627,8.518
                c-0.632,2.965-1.229,5.922-1.558,8.951c-0.451,4.223-0.537,8.493-0.774,12.721c-0.104,2.126-0.211,4.249-0.27,6.36
                c-0.083,2.585-0.165,5.179-0.244,7.76c-0.146,3.733-0.323,7.479-0.573,11.195c-0.132,1.701-0.353,3.435-0.422,5.132
                c-0.069,1.583,0.712,2.979,0.741,4.516c0.032,1.708-0.526,3.365-0.698,5.045c-0.181,1.677-0.214,3.351-0.283,5.028
                c-0.099,2.592-0.132,6.297,2.217,7.963c1.334,0.943,2.655,1.158,2.414,3.17c-0.3,2.445-1.527,5.005-2.302,7.355
                c-0.686,2.121-1.624,4.252-3.864,4.895c-2.564,0.754-4.97,2.064-7.533,2.73c-2.113,0.553-4.327,0.463-6.491,0.6
                c-1.617,0.104-5.966,1.412-5.59-1.678c0.115-1.008,1.134-1.35,1.845-1.83c0.898-0.613,1.649-1.391,2.321-2.227
                c2.813-3.584,4.042-8.511,3.977-13.083c-0.036-1.635-0.065-3.294-0.362-4.912c-0.289-1.536-1.021-2.631-1.587-4.053
                c-0.319-0.778-0.353-1.732,0.662-1.323c1.011,0.401,1.334,1.811,2.536,2.025c0.099-0.074,0.069-0.134,0.017-0.25
                c-1.778-3.753-5.462-4.63-8.649-6.542c0.172,0.094,0.494-1.502,0.478-1.705c-0.121-0.562-0.622-0.966-1.05-1.295
                c-1.196-0.978-2.715-1.583-4.078-2.242c0.514,0.247,3.841,3.582,2.2,3.582c-2.178,0-3.841-2.662-6.041-3.077
                c-1.227-0.231-2.49-0.382-3.731-0.519c-0.49-0.043-0.959-0.101-1.46-0.108c-0.314-0.007-1.573,0.315-1.762,0.185
                c0.876,0.589,2.147,0.512,3.004,1.098c-2.046,0.324-4.206,0.308-6.273,0.611c-3.888,0.567-7.537,2.82-11.15,4.31
                c0.761,0.1,1.974,0.117,2.53,0.661c-0.115-0.113-1.901,3.298-2.006,3.736c-0.351,1.891-0.356,3.753-0.784,5.638
                c-0.465,1.993,0.843,4.557-0.527,6.215c-1.732,2.09-2.181,3.871-1.894,6.619c0.181,1.734-0.283,3.729,0.83,5.215
                c0.572,0.762,2.729,1.873,1.194,2.789c-0.98,0.596-2.411,0.287-3.444,0.787c-2.379,1.104-5.008,3.076-6.938,4.914
                c-1.479,1.445-1.644,3.645-3.054,5.074c-1.327,1.346-3.258,2.668-4.893,3.531c-1.37,0.727-2.964,0.637-4.341,1.305
                c-1.377,0.662-2.121,2.012-3.423,2.775c-2.025,1.203-4.486,1.277-6.723,1.711c-2.228,0.383-4.288,1.291-6.479,1.836
                c-2.547,0.658-4.775,0.145-7.354,0.287c-1.479,0.068-3.165,0.922-4.604,0.209c-0.659-0.332-1.081-1.389-1.496-1.963
                c-0.955-1.271-2.457-2.104-3.444-3.357c-2.398-3.031,1.957-3.488,1.61-6.797c-0.241-2.461-1.61-4.605-2.184-6.969
                c-0.656-2.701-0.774-5.482-1.581-8.113c-0.856-2.77-1.792-5.516-2.8-8.236c-1.548-3.899-3.739-7.53-5.258-11.479
                c-1.673-4.305-3.024-8.729-4.327-13.17c-3.43-11.633-8.002-23.269-19.234-28.843c-2.681-1.319-4.129-4.144-6.942-5.367
                c-2.744-1.204-6.051-1.624-8.959-0.762c-0.145,0.057,0.729-3.616,1.036-4.041c0.885-1.285,2.264-2.2,3.231-3.438
                c5.768-7.385,10.241-22.734,4.239-31.26c-2.31-3.287-4.433-5.329-8.257-6.241c-4.991-1.199-13.326-3.839-17.652,0.54
                c-1.029,1.05-1.741,2.379-2.88,3.394c-3.02,2.722-3.679,4.894-3.794,8.999c-0.222,6.42-1.575,13.353,2.115,19.04
                c1.784,2.761,2.929,5.47,3.339,8.8c-1.945,0.178-3.271,1.694-4.574,3.006c-1.419,1.39-2.895,2.097-4.645,2.96
                c-5.082,2.51-10.556,4.593-14.66,8.718c-4.704,4.752-6.51,11.213-10.389,16.483c-1.58,2.133-3.572,3.887-5.097,6.066
                c-2.304,3.358-5.939,4.719-9.781,4.719c-0.856,0-2.971,0.221-2.56-1.218c0.396-1.379,2.56-0.934,3.578-1.329
                c4.278-1.681,3.332-7.334,3.538-11.014c0.084-1.72,1.248-2.651,2.264-3.806c1.262-1.446,1.893-2.954,2.044-4.898
                c0.453-5.795-2.502-12.065-3.696-17.672c-1.319-6.227-2.278-12.563-2.922-18.903c-0.55-5.615-0.26-11.269-1.022-16.86
                c-0.775-5.645-2.138-11.202-2.846-16.865c-0.817-6.414-0.686-12.932-1.09-19.37c-0.272-4.21-0.536-8.416-0.722-12.627
                c-0.28-6.184-0.691-12.37-1.625-18.492c-1.525-10.023-6.936-20.1-16.679-23.224c-2.735-0.896-5.68-1.264-8.342-2.376
                c-3.656-1.537-3.626-5.852-7.447-7.034c-2.201-0.692,3.363,4.469,1.204,2.842c0.206,0.027-0.255-1.197-1.204-2.842
                c0.064-1.832,0.527-2.414-0.363-4.757c0.682-2.698-1.597-0.961-2.058-6.207c1.811-2.431,2.63-3.491,3.73-6.551
                c1.378-3.837-0.851-8.479-1.765-12.176c-0.658-2.72-0.33-5.593-0.729-8.375c-0.445-3.087-2.378-5.557-4.007-8.055
                c-1.487-2.276-2.811-4.736-4.819-6.578c-3.185-2.898-7.806-3.291-11.84-2.989c-3.791,0.277-8.976,0.113-12.172,2.541
                c-1.461,1.112-1.947,2.907-2.975,4.378c-1.193,1.711-3.095,2.803-4.021,4.728c-1.082,2.253-0.492,4.937-1.564,7.187
                c-1.74,3.666-4.04,6.268-4.622,10.451c-0.608,4.571,0.255,9.237,0.838,13.752c0.341,2.695,0.145,5.963,1.426,8.406
                c1.029,1.982,0.135,1.54-0.512,5.53c-1.871,3.978,0,0-1.971,2.063c-1.957,2.039-3.47,3.645-6.401,3.851
                c-7.765,0.579-16.378,3.996-20.258,11.416c-1.641,3.149-2.587,6.671-3.637,10.066c-1.069,3.501-2.031,7.056-2.429,10.715
                c-0.876,8.146-1.632,16.279-2.583,24.425c-0.672,5.814-0.51,11.894-0.762,17.77c-0.342,7.974-1.34,15.794-2.298,23.721
                c-0.26,2.196-0.492,4.389-0.67,6.599c-0.313,4.007-0.089,7.995-0.089,12.009c0,3.531,0,7.032,0.089,10.554
                c0.151,6.241-1.016,12.384-2.364,18.463c-0.342,1.52-0.665,3.189-0.328,4.75C170.14,259.447,170.181,259.57,170.206,259.703z
                 M477.425,418.447c0.157-1.754,1.247-3.672,2.388-1.158c0.988,2.18,0.949,5.078,1.018,7.436
                c0.094,2.674,0.105,5.406-0.145,8.059c-0.029,0.223-0.057,0.426-0.086,0.641c-0.322,2.117-1.101,4.406-0.311,6.436
                c-0.776-2.029-1.996-3.875-2.599-5.977c-0.648-2.264,0-4.543-0.175-6.873C477.313,424.162,477.167,421.291,477.425,418.447z
                 M227.051,378.039c0.697-10.482,0.338-20.988,0.379-31.5c0.025-7.996-2.297-18.045,3.396-24.629
                c0.911,6.721,0.502,13.666,0.268,20.461c-0.174,5.002,1.068,9.869,1.886,14.746c0.809,4.779,0.754,9.281,0.356,14.111
                c-0.438,5.494-0.903,11.012-1.366,16.514c-0.392,4.666,0.061,44.664-6.736,43.926
                C220.335,425.93,226.585,385.201,227.051,378.039z"/>
            </defs>
            <clipPath id="SVGID_2_">
              <use xlink:href="#SVGID_1_"  overflow="visible"/>
            </clipPath>
            <rect x="140.401" y="40.224" clip-path="url(#SVGID_2_)" fill="#62C555" width="545.848" height="426.354"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <polygon fill="#414042" points="597.999,572.5 281.811,572.5 281.811,485.5 597.999,485.5 573.429,529.007 "/>
  <polygon fill="#60C342" points="587.189,572.5 270.989,572.5 270.989,485.5 587.189,485.5 562.618,529.007 "/>
  <text transform="matrix(0.9614 0 0 1 304.2874 541.8379)" fill="#FFFFFF" font-family="'Helvetica'" font-size="40">${{ amount | numberComma }}</text>
  <rect x="258" y="485.5" fill="#414042" width="12.984" height="87"/>
  </svg>
</template>

<script>
  import BaseProps from '../BaseProps'

  export default {
    mixins: [BaseProps]
  }
</script>
