<template>
  <svg version="1.1" id="Ñëîé_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
  <g>
    <g>
      <path id="SVGID_1_" fill="#F7F7F7" d="M682.727,220.041c0,0-8.329-5.694-17.534-3.797c-9.21,1.896-16.664,9.484-17.979,12.33
        c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849c0,0,0.435,10.899,1.75,10.899c1.318,0,7.021,3.321,11.841-0.945
        c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476c-2.192,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267
        c-2.188-3.318-6.137-18.018-10.521-17.068c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064
        c1.313,5.691,2.633,22.76,0.878,28.92c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.511
        c0,0-3.506,9.009,10.963,26.55c4.385,8.529,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111
        c-1.755,0.939-13.149,3.791-10.083,9.953c3.069,6.17,9.209,8.061,16.227,7.592c7.018-0.48,18.418,4.264,17.977-15.172
        c-0.436-19.439,2.192-36.98,2.192-36.98l-1.314-7.588c0,0-4.814-14.227,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.096
        c-1.319-21.811-6.14-6.635-1.758-24.652c4.385-18.018,7.897-21.332,6.14-38.873c-1.755-17.539-17.541-17.068-17.541-17.068
        s-3.063-3.794-2.188-5.691c0.877-1.897,16.66-8.062,12.274-30.337c8.336-9.009,6.144,17.062,16.657,21.804
        c10.531,4.742,13.599-3.791,13.599-3.791s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189
        C695.01,207.707,693.69,203.92,682.727,220.041z M529.714,62.381c0,0-0.683-16.545,5.459-19.302
        c6.14-2.757,8.182-7.581,19.094-6.891c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154
        c-5.452,6.207-8.188,18.612-6.816,24.82c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.315,26.2
        c3.409,20.679,8.917,44.849,10.099,46.036c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823
        s4.09,15.953-4.093,18.023c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.337-20.682-5.553-28.957
        c-3.217-8.278-8.183-20.394-7.31-25.71c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734
        c0,1.774-3.217,2.366-3.217,2.366l-0.584,42.548l-9.94-0.303l-4.086,30.143c0,0-1.758,19.5-1.465,24.227
        c0.292,4.73,5.551,31.621-2.335,53.188c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906
        c0.296,3.549,1.169,10.938-19.293,8.57c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.758,3.804-28.365
        c0.292-5.617-6.725-25.711-4.093-44.918c2.627-19.207,2.627-26.006,2.627-26.006l-4.089-23.343l-2.044-29.256l-7.606-1.771
        l-0.878-7.092l-4.674,8.271l-3.22-0.892l-2.332,40.486c0,0-0.003,9.754,1.458,14.182c1.469,4.438,7.017,14.188,3.509,35.168
        c-0.581,4.727-1.166,24.521,0.585,33.688c1.753,9.156,6.143,11.229,5.266,17.141c-0.881,5.9-1.466,7.678-10.521,10.637
        c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703
        s6.433-9.453,3.508-26.596c-2.919-17.143-14.321-29.547-15.198-42.846c-0.874-13.301,0.292-31.619,0.292-31.619l-7.013-37.818
        l-6.144-1.774l3.51-39.893c0,0-7.019-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478
        c3.797-5.616,5.548-23.337,5.548-23.337s1.473-7.683,2.336-8.866c0.889-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479
        c0,0,1.167,5.613-6.146,16.549c-0.575,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844
        c-2.921,5.613-10.818,18.317-10.522,27.186c0.292,8.859,7.896,7.972,2.342,21.866c-5.554,13.89-17.836,4.725-15.493-5.025
        c2.342-9.753,7.308-48.167,7.308-48.167s0-13.003,6.432-22.753c7.604-10.341,15.494-34.573,15.494-34.573
        s7.433-36.194,12.565-47.276c3.309-7.125,8.771-10.338,28.354-13c21.351-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
        C535.688,86.141,531.052,85.899,529.714,62.381z M392.746,195.172c0,0-11.689-2.529-15.498,14.859
        c-3.798,17.385,0,24.018,1.177,24.653c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543
        c-9.94,3.793-13.448,0.948-19.587,16.12c-6.144,15.172-14.615,39.821-13.449,53.729c1.173,13.907-4.382,14.54-4.382,14.54
        s-6.729,5.371-3.805,11.697c4.387,8.851,12.275-4.112,12.859-6.322c0.588-2.213,1.17-6.954,2.924-9.165
        c1.753-2.216,14.325-20.861,15.206-27.498c3.509,8.85-0.296,18.014-0.592,20.543c-0.289,2.528-5.259,19.6-3.504,31.293
        c1.758,11.692,2.923,5.055,4.674,11.692c1.754,6.638,2.054,30.976,2.054,30.976l4.086,4.741l3.224,31.286
        c0,0-4.683,5.375-4.39,12.959c0.289,7.588,6.437,11.063,11.104,10.75c4.685-0.322,10.82-5.691,6.143-24.654
        c-1.458-1.582-0.582-30.345-0.582-30.345l9.938,1.265l1.753,31.604c0,0-3.8,14.854,1.167,17.693
        c9.059,0.633,20.026,2.828,26.019-0.309c2.747-1.438,2.344-6.322-8.474-9.484c-11.113-6.959-6.725-14.541-6.725-17.379
        c0-2.848,0.877-21.813,0.877-21.813l4.089-2.215v-36.027c0,0,4.334-1.312,5.262-2.215c1.462-23.391-0.585-54.679-0.585-54.679
        s3.217,9.165,7.604,15.804c1.755,3.795,1.755,13.594,1.755,13.594s-3.514,10.432,1.751,13.271
        c5.266,2.852,9.063-8.216,5.846-16.748c-3.208-8.531-4.089-27.183-4.089-27.183l11.979-6.64c0,0-20.461-43.613-29.229-49.624
        c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.468-6.949h2.636
        l-1.176-10.433h4.094C416.718,225.833,418.763,194.86,392.746,195.172z M279.918,240.794c0,0-8.266,4.467-9.187,13.404
        c-0.918,8.941,0.462,19.86,5.052,23.338c4.593,3.478,5.969,8.937,0.921,10.925c-5.053,1.981-9.186-2.485-18.371,1.486
        c-9.184,3.977-9.184,4.971-13.313-0.99c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429
        c5.508,14.9,9.646,23.342,18.826,26.816c9.184,3.471,15.432,4.076,14.692,9.434c1.377,9.928-3.229,39.668-3.688,45.625
        c-0.458,5.961-1.365,26.369-0.444,32.826c0.918,6.455-7.806,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938
        c-1.832,1.979-6.426,7.938-5.967,12.404c0.456,4.479,5.512,10.926,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875
        c1.835-6.455,2.294-1.984,5.51-9.436c3.213-7.447,5.512-24.824,5.512-24.824s0.459-6.955,2.754-3.479
        c2.298,3.479,2.754,36.252,3.675,41.215c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.955,0,8.938
        c-0.458,1.988,4.589,16.385,12.396,6.455c7.813-9.928-3.675-15.889-3.675-15.889s4.56-7.148,5.052-9.934
        c2.146-12.074-7.809-30.785-1.377-49.15c5.06,1.484,8.885-1.719,10.747-4.072c-4.604-30.104-1.265-39.488-1.255-39.488
        c6.323,5.48,8.482,4.749,10.813,5.076c4.644,0.646,8.604,0.402,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66
        c6.173,7.988,10.566-8.111,0.466-12.576c-10.104-4.471-21.131-6.957-23.43-14.406c-2.291-7.443-3.784-32.282-20.668-31.096
        c-10.772,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.45-4.966,0.455,2.981,5.51,5.463
        c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
        C302.415,250.724,295.073,233.842,279.918,240.794z M126.434,66.743c0,0,11.69-29.297,29.813-9.987
        c18.129,19.309,19.874,22.637,19.874,22.637s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659
        c0,0-7.014,19.976-11.693,20.639c-4.674,0.667,6.436,8.658,11.112,15.318c4.678,6.656,13.441,32.622,13.441,32.622
        s13.444,36.623,20.465,40.62c7.018,3.995,9.354,31.292,7.018,37.958c-2.336,6.653,9.938,5.324,10.521,18.64
        c0.588,13.316-9.939,16.644-11.688,3.329c-1.762-13.316,1.748-6.66-2.928-7.993c-4.678-1.326-3.505-7.322-3.505-7.322
        s-8.773,2.662-11.693-4.657c-2.924-7.33-15.784-25.969-20.466-37.959c-15.783-31.958-6.432,7.322-8.183,14.652
        c-1.758,7.326-1.761,73.247,0.582,79.237c2.339,5.991-14.033,11.985-14.033,11.985s-5.847,31.959-5.847,37.948
        c0,5.99-1.165,36.623-4.094,44.611c-2.92,7.989-2.92,33.297-2.92,33.297s2.92,7.986,4.671,15.313
        c1.757,7.32-19.289,15.313-21.046,4.658c-0.769-4.67,2.043-11.377,1.236-15.762c-1.022-5.621-1.399-7.195-2.104-14.387
        c-1.062-10.919-6.729-3.813-6.146-0.48c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.328-18.708-0.662
        c-0.587-5.994,6.429-15.314,6.429-15.314s2.344-6.666-2.339-9.328c-4.677-2.659,1.17-9.319,2.925-9.98
        c1.754-0.666-0.586-7.326-2.343-11.986c-1.747-4.661-7.013-43.278-2.332-53.266c4.675-9.988,0-14.65,0-14.65l-3.512-17.311
        l-5.262-0.673l-2.34-43.945c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298
        c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.178,15.978c-3.974,0.928-14.617-6.653-7.021-16.641
        c5.85-3.998,10.524-9.325,10.524-9.325s-4.097-8.655,3.506-17.98c7.604-9.322,18.127-39.282,19.296-43.942
        c1.175-4.664,12.273-37.958,36.831-41.283C118.836,74.732,126.434,66.743,126.434,66.743z"/>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_2_" d="M682.727,220.041c0,0-8.329-5.694-17.534-3.797c-9.21,1.896-16.664,9.484-17.979,12.33
            c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849c0,0,0.435,10.899,1.75,10.899c1.318,0,7.021,3.321,11.841-0.945
            c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476c-2.192,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267
            c-2.188-3.318-6.137-18.018-10.521-17.068c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064
            c1.313,5.691,2.633,22.76,0.878,28.92c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.511
            c0,0-3.506,9.009,10.963,26.55c4.385,8.529,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111
            c-1.755,0.939-13.149,3.791-10.083,9.953c3.069,6.17,9.209,8.061,16.227,7.592c7.018-0.48,18.418,4.264,17.977-15.172
            c-0.436-19.439,2.192-36.98,2.192-36.98l-1.314-7.588c0,0-4.814-14.227,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.096
            c-1.319-21.811-6.14-6.635-1.758-24.652c4.385-18.018,7.897-21.332,6.14-38.873c-1.755-17.539-17.541-17.068-17.541-17.068
            s-3.063-3.794-2.188-5.691c0.877-1.897,16.66-8.062,12.274-30.337c8.336-9.009,6.144,17.062,16.657,21.804
            c10.531,4.742,13.599-3.791,13.599-3.791s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189
            C695.01,207.707,693.69,203.92,682.727,220.041z M529.714,62.381c0,0-0.683-16.545,5.459-19.302
            c6.14-2.757,8.182-7.581,19.094-6.891c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154
            c-5.452,6.207-8.188,18.612-6.816,24.82c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.315,26.2
            c3.409,20.679,8.917,44.849,10.099,46.036c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823
            s4.09,15.953-4.093,18.023c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.337-20.682-5.553-28.957
            c-3.217-8.278-8.183-20.394-7.31-25.71c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734
            c0,1.774-3.217,2.366-3.217,2.366l-0.584,42.548l-9.94-0.303l-4.086,30.143c0,0-1.758,19.5-1.465,24.227
            c0.292,4.73,5.551,31.621-2.335,53.188c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906
            c0.296,3.549,1.169,10.938-19.293,8.57c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.758,3.804-28.365
            c0.292-5.617-6.725-25.711-4.093-44.918c2.627-19.207,2.627-26.006,2.627-26.006l-4.089-23.343l-2.044-29.256l-7.606-1.771
            l-0.878-7.092l-4.674,8.271l-3.22-0.892l-2.332,40.486c0,0-0.003,9.754,1.458,14.182c1.469,4.438,7.017,14.188,3.509,35.168
            c-0.581,4.727-1.166,24.521,0.585,33.688c1.753,9.156,6.143,11.229,5.266,17.141c-0.881,5.9-1.466,7.678-10.521,10.637
            c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703
            s6.433-9.453,3.508-26.596c-2.919-17.143-14.321-29.547-15.198-42.846c-0.874-13.301,0.292-31.619,0.292-31.619l-7.013-37.818
            l-6.144-1.774l3.51-39.893c0,0-7.019-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478
            c3.797-5.616,5.548-23.337,5.548-23.337s1.473-7.683,2.336-8.866c0.889-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479
            c0,0,1.167,5.613-6.146,16.549c-0.575,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844
            c-2.921,5.613-10.818,18.317-10.522,27.186c0.292,8.859,7.896,7.972,2.342,21.866c-5.554,13.89-17.836,4.725-15.493-5.025
            c2.342-9.753,7.308-48.167,7.308-48.167s0-13.003,6.432-22.753c7.604-10.341,15.494-34.573,15.494-34.573
            s7.433-36.194,12.565-47.276c3.309-7.125,8.771-10.338,28.354-13c21.351-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
            C535.688,86.141,531.052,85.899,529.714,62.381z M392.746,195.172c0,0-11.689-2.529-15.498,14.859
            c-3.798,17.385,0,24.018,1.177,24.653c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543
            c-9.94,3.793-13.448,0.948-19.587,16.12c-6.144,15.172-14.615,39.821-13.449,53.729c1.173,13.907-4.382,14.54-4.382,14.54
            s-6.729,5.371-3.805,11.697c4.387,8.851,12.275-4.112,12.859-6.322c0.588-2.213,1.17-6.954,2.924-9.165
            c1.753-2.216,14.325-20.861,15.206-27.498c3.509,8.85-0.296,18.014-0.592,20.543c-0.289,2.528-5.259,19.6-3.504,31.293
            c1.758,11.692,2.923,5.055,4.674,11.692c1.754,6.638,2.054,30.976,2.054,30.976l4.086,4.741l3.224,31.286
            c0,0-4.683,5.375-4.39,12.959c0.289,7.588,6.437,11.063,11.104,10.75c4.685-0.322,10.82-5.691,6.143-24.654
            c-1.458-1.582-0.582-30.345-0.582-30.345l9.938,1.265l1.753,31.604c0,0-3.8,14.854,1.167,17.693
            c9.059,0.633,20.026,2.828,26.019-0.309c2.747-1.438,2.344-6.322-8.474-9.484c-11.113-6.959-6.725-14.541-6.725-17.379
            c0-2.848,0.877-21.813,0.877-21.813l4.089-2.215v-36.027c0,0,4.334-1.312,5.262-2.215c1.462-23.391-0.585-54.679-0.585-54.679
            s3.217,9.165,7.604,15.804c1.755,3.795,1.755,13.594,1.755,13.594s-3.514,10.432,1.751,13.271
            c5.266,2.852,9.063-8.216,5.846-16.748c-3.208-8.531-4.089-27.183-4.089-27.183l11.979-6.64c0,0-20.461-43.613-29.229-49.624
            c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.468-6.949h2.636
            l-1.176-10.433h4.094C416.718,225.833,418.763,194.86,392.746,195.172z M279.918,240.794c0,0-8.266,4.467-9.187,13.404
            c-0.918,8.941,0.462,19.86,5.052,23.338c4.593,3.478,5.969,8.937,0.921,10.925c-5.053,1.981-9.186-2.485-18.371,1.486
            c-9.184,3.977-9.184,4.971-13.313-0.99c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429
            c5.508,14.9,9.646,23.342,18.826,26.816c9.184,3.471,15.432,4.076,14.692,9.434c1.377,9.928-3.229,39.668-3.688,45.625
            c-0.458,5.961-1.365,26.369-0.444,32.826c0.918,6.455-7.806,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938
            c-1.832,1.979-6.426,7.938-5.967,12.404c0.456,4.479,5.512,10.926,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875
            c1.835-6.455,2.294-1.984,5.51-9.436c3.213-7.447,5.512-24.824,5.512-24.824s0.459-6.955,2.754-3.479
            c2.298,3.479,2.754,36.252,3.675,41.215c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.955,0,8.938
            c-0.458,1.988,4.589,16.385,12.396,6.455c7.813-9.928-3.675-15.889-3.675-15.889s4.56-7.148,5.052-9.934
            c2.146-12.074-7.809-30.785-1.377-49.15c5.06,1.484,8.885-1.719,10.747-4.072c-4.604-30.104-1.265-39.488-1.255-39.488
            c6.323,5.48,8.482,4.749,10.813,5.076c4.644,0.646,8.604,0.402,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66
            c6.173,7.988,10.566-8.111,0.466-12.576c-10.104-4.471-21.131-6.957-23.43-14.406c-2.291-7.443-3.784-32.282-20.668-31.096
            c-10.772,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.45-4.966,0.455,2.981,5.51,5.463
            c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
            C302.415,250.724,295.073,233.842,279.918,240.794z M126.434,66.743c0,0,11.69-29.297,29.813-9.987
            c18.129,19.309,19.874,22.637,19.874,22.637s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659
            c0,0-7.014,19.976-11.693,20.639c-4.674,0.667,6.436,8.658,11.112,15.318c4.678,6.656,13.441,32.622,13.441,32.622
            s13.444,36.623,20.465,40.62c7.018,3.995,9.354,31.292,7.018,37.958c-2.336,6.653,9.938,5.324,10.521,18.64
            c0.588,13.316-9.939,16.644-11.688,3.329c-1.762-13.316,1.748-6.66-2.928-7.993c-4.678-1.326-3.505-7.322-3.505-7.322
            s-8.773,2.662-11.693-4.657c-2.924-7.33-15.784-25.969-20.466-37.959c-15.783-31.958-6.432,7.322-8.183,14.652
            c-1.758,7.326-1.761,73.247,0.582,79.237c2.339,5.991-14.033,11.985-14.033,11.985s-5.847,31.959-5.847,37.948
            c0,5.99-1.165,36.623-4.094,44.611c-2.92,7.989-2.92,33.297-2.92,33.297s2.92,7.986,4.671,15.313
            c1.757,7.32-19.289,15.313-21.046,4.658c-0.769-4.67,2.043-11.377,1.236-15.762c-1.022-5.621-1.399-7.195-2.104-14.387
            c-1.062-10.919-6.729-3.813-6.146-0.48c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.328-18.708-0.662
            c-0.587-5.994,6.429-15.314,6.429-15.314s2.344-6.666-2.339-9.328c-4.677-2.659,1.17-9.319,2.925-9.98
            c1.754-0.666-0.586-7.326-2.343-11.986c-1.747-4.661-7.013-43.278-2.332-53.266c4.675-9.988,0-14.65,0-14.65l-3.512-17.311
            l-5.262-0.673l-2.34-43.945c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298
            c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.178,15.978c-3.974,0.928-14.617-6.653-7.021-16.641
            c5.85-3.998,10.524-9.325,10.524-9.325s-4.097-8.655,3.506-17.98c7.604-9.322,18.127-39.282,19.296-43.942
            c1.175-4.664,12.273-37.958,36.831-41.283C118.836,74.732,126.434,66.743,126.434,66.743z"/>
        </defs>
        <clipPath id="SVGID_3_">
          <use xlink:href="#SVGID_2_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_3_)" fill="#61B152" d="M37.62,137.686c0,0,74.667-18,112-13.333s103.961-8,115.646-14
          c11.687-6,227.019-12.667,271.686-4s66.667-8,88.667-10.667s96.137,3.333,96.137,3.333l20.53-1.333V503.02H41.619L37.62,137.686z
          "/>
      </g>
    </g>
    <g>
      <g>
        <defs>
          <path id="SVGID_5_" d="M682.727,220.041c0,0-8.329-5.694-17.534-3.797c-9.21,1.896-16.664,9.484-17.979,12.33
            c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849c0,0,0.435,10.899,1.75,10.899c1.318,0,7.021,3.321,11.841-0.945
            c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476c-2.192,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267
            c-2.188-3.318-6.137-18.018-10.521-17.068c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064
            c1.313,5.691,2.633,22.76,0.878,28.92c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.511
            c0,0-3.506,9.009,10.963,26.55c4.385,8.529,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111
            c-1.755,0.939-13.149,3.791-10.083,9.953c3.069,6.17,9.209,8.061,16.227,7.592c7.018-0.48,18.418,4.264,17.977-15.172
            c-0.436-19.439,2.192-36.98,2.192-36.98l-1.314-7.588c0,0-4.814-14.227,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.096
            c-1.319-21.811-6.14-6.635-1.758-24.652c4.385-18.018,7.897-21.332,6.14-38.873c-1.755-17.539-17.541-17.068-17.541-17.068
            s-3.063-3.794-2.188-5.691c0.877-1.897,16.66-8.062,12.274-30.337c8.336-9.009,6.144,17.062,16.657,21.804
            c10.531,4.742,13.599-3.791,13.599-3.791s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189
            C695.01,207.707,693.69,203.92,682.727,220.041z M529.714,62.381c0,0-0.683-16.545,5.459-19.302
            c6.14-2.757,8.182-7.581,19.094-6.891c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154
            c-5.452,6.207-8.188,18.612-6.816,24.82c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.315,26.2
            c3.409,20.679,8.917,44.849,10.099,46.036c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823
            s4.09,15.953-4.093,18.023c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.337-20.682-5.553-28.957
            c-3.217-8.278-8.183-20.394-7.31-25.71c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734
            c0,1.774-3.217,2.366-3.217,2.366l-0.584,42.548l-9.94-0.303l-4.086,30.143c0,0-1.758,19.5-1.465,24.227
            c0.292,4.73,5.551,31.621-2.335,53.188c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906
            c0.296,3.549,1.169,10.938-19.293,8.57c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.758,3.804-28.365
            c0.292-5.617-6.725-25.711-4.093-44.918c2.627-19.207,2.627-26.006,2.627-26.006l-4.089-23.343l-2.044-29.256l-7.606-1.771
            l-0.878-7.092l-4.674,8.271l-3.22-0.892l-2.332,40.486c0,0-0.003,9.754,1.458,14.182c1.469,4.438,7.017,14.188,3.509,35.168
            c-0.581,4.727-1.166,24.521,0.585,33.688c1.753,9.156,6.143,11.229,5.266,17.141c-0.881,5.9-1.466,7.678-10.521,10.637
            c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703
            s6.433-9.453,3.508-26.596c-2.919-17.143-14.321-29.547-15.198-42.846c-0.874-13.301,0.292-31.619,0.292-31.619l-7.013-37.818
            l-6.144-1.774l3.51-39.893c0,0-7.019-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478
            c3.797-5.616,5.548-23.337,5.548-23.337s1.473-7.683,2.336-8.866c0.889-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479
            c0,0,1.167,5.613-6.146,16.549c-0.575,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844
            c-2.921,5.613-10.818,18.317-10.522,27.186c0.292,8.859,7.896,7.972,2.342,21.866c-5.554,13.89-17.836,4.725-15.493-5.025
            c2.342-9.753,7.308-48.167,7.308-48.167s0-13.003,6.432-22.753c7.604-10.341,15.494-34.573,15.494-34.573
            s7.433-36.194,12.565-47.276c3.309-7.125,8.771-10.338,28.354-13c21.351-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
            C535.688,86.141,531.052,85.899,529.714,62.381z M392.746,195.172c0,0-11.689-2.529-15.498,14.859
            c-3.798,17.385,0,24.018,1.177,24.653c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543
            c-9.94,3.793-13.448,0.948-19.587,16.12c-6.144,15.172-14.615,39.821-13.449,53.729c1.173,13.907-4.382,14.54-4.382,14.54
            s-6.729,5.371-3.805,11.697c4.387,8.851,12.275-4.112,12.859-6.322c0.588-2.213,1.17-6.954,2.924-9.165
            c1.753-2.216,14.325-20.861,15.206-27.498c3.509,8.85-0.296,18.014-0.592,20.543c-0.289,2.528-5.259,19.6-3.504,31.293
            c1.758,11.692,2.923,5.055,4.674,11.692c1.754,6.638,2.054,30.976,2.054,30.976l4.086,4.741l3.224,31.286
            c0,0-4.683,5.375-4.39,12.959c0.289,7.588,6.437,11.063,11.104,10.75c4.685-0.322,10.82-5.691,6.143-24.654
            c-1.458-1.582-0.582-30.345-0.582-30.345l9.938,1.265l1.753,31.604c0,0-3.8,14.854,1.167,17.693
            c9.059,0.633,20.026,2.828,26.019-0.309c2.747-1.438,2.344-6.322-8.474-9.484c-11.113-6.959-6.725-14.541-6.725-17.379
            c0-2.848,0.877-21.813,0.877-21.813l4.089-2.215v-36.027c0,0,4.334-1.312,5.262-2.215c1.462-23.391-0.585-54.679-0.585-54.679
            s3.217,9.165,7.604,15.804c1.755,3.795,1.755,13.594,1.755,13.594s-3.514,10.432,1.751,13.271
            c5.266,2.852,9.063-8.216,5.846-16.748c-3.208-8.531-4.089-27.183-4.089-27.183l11.979-6.64c0,0-20.461-43.613-29.229-49.624
            c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.468-6.949h2.636
            l-1.176-10.433h4.094C416.718,225.833,418.763,194.86,392.746,195.172z M279.918,240.794c0,0-8.266,4.467-9.187,13.404
            c-0.918,8.941,0.462,19.86,5.052,23.338c4.593,3.478,5.969,8.937,0.921,10.925c-5.053,1.981-9.186-2.485-18.371,1.486
            c-9.184,3.977-9.184,4.971-13.313-0.99c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429
            c5.508,14.9,9.646,23.342,18.826,26.816c9.184,3.471,15.432,4.076,14.692,9.434c1.377,9.928-3.229,39.668-3.688,45.625
            c-0.458,5.961-1.365,26.369-0.444,32.826c0.918,6.455-7.806,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938
            c-1.832,1.979-6.426,7.938-5.967,12.404c0.456,4.479,5.512,10.926,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875
            c1.835-6.455,2.294-1.984,5.51-9.436c3.213-7.447,5.512-24.824,5.512-24.824s0.459-6.955,2.754-3.479
            c2.298,3.479,2.754,36.252,3.675,41.215c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.955,0,8.938
            c-0.458,1.988,4.589,16.385,12.396,6.455c7.813-9.928-3.675-15.889-3.675-15.889s4.56-7.148,5.052-9.934
            c2.146-12.074-7.809-30.785-1.377-49.15c5.06,1.484,8.885-1.719,10.747-4.072c-4.604-30.104-1.265-39.488-1.255-39.488
            c6.323,5.48,8.482,4.749,10.813,5.076c4.644,0.646,8.604,0.402,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66
            c6.173,7.988,10.566-8.111,0.466-12.576c-10.104-4.471-21.131-6.957-23.43-14.406c-2.291-7.443-3.784-32.282-20.668-31.096
            c-10.772,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.45-4.966,0.455,2.981,5.51,5.463
            c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
            C302.415,250.724,295.073,233.842,279.918,240.794z M126.434,66.743c0,0,11.69-29.297,29.813-9.987
            c18.129,19.309,19.874,22.637,19.874,22.637s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659
            c0,0-7.014,19.976-11.693,20.639c-4.674,0.667,6.436,8.658,11.112,15.318c4.678,6.656,13.441,32.622,13.441,32.622
            s13.444,36.623,20.465,40.62c7.018,3.995,9.354,31.292,7.018,37.958c-2.336,6.653,9.938,5.324,10.521,18.64
            c0.588,13.316-9.939,16.644-11.688,3.329c-1.762-13.316,1.748-6.66-2.928-7.993c-4.678-1.326-3.505-7.322-3.505-7.322
            s-8.773,2.662-11.693-4.657c-2.924-7.33-15.784-25.969-20.466-37.959c-15.783-31.958-6.432,7.322-8.183,14.652
            c-1.758,7.326-1.761,73.247,0.582,79.237c2.339,5.991-14.033,11.985-14.033,11.985s-5.847,31.959-5.847,37.948
            c0,5.99-1.165,36.623-4.094,44.611c-2.92,7.989-2.92,33.297-2.92,33.297s2.92,7.986,4.671,15.313
            c1.757,7.32-19.289,15.313-21.046,4.658c-0.769-4.67,2.043-11.377,1.236-15.762c-1.022-5.621-1.399-7.195-2.104-14.387
            c-1.062-10.919-6.729-3.813-6.146-0.48c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.328-18.708-0.662
            c-0.587-5.994,6.429-15.314,6.429-15.314s2.344-6.666-2.339-9.328c-4.677-2.659,1.17-9.319,2.925-9.98
            c1.754-0.666-0.586-7.326-2.343-11.986c-1.747-4.661-7.013-43.278-2.332-53.266c4.675-9.988,0-14.65,0-14.65l-3.512-17.311
            l-5.262-0.673l-2.34-43.945c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298
            c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.178,15.978c-3.974,0.928-14.617-6.653-7.021-16.641
            c5.85-3.998,10.524-9.325,10.524-9.325s-4.097-8.655,3.506-17.98c7.604-9.322,18.127-39.282,19.296-43.942
            c1.175-4.664,12.273-37.958,36.831-41.283C118.836,74.732,126.434,66.743,126.434,66.743z"/>
        </defs>
        <clipPath id="SVGID_6_">
          <use xlink:href="#SVGID_5_"  overflow="visible"/>
        </clipPath>
        <path clip-path="url(#SVGID_6_)" fill="#62C555" d="M37.62,144.352c0,0,74.667-18,112-13.333s103.961-8,115.646-14
          c11.687-6,227.019-12.667,271.686-4s66.667-8,88.667-10.667s96.137,3.333,96.137,3.333l20.53-1.333v405.333H41.619L37.62,144.352
          z"/>
      </g>
      <g>
        <path id="SVGID_4_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M682.727,220.041c0,0-8.329-5.694-17.534-3.797
          c-9.21,1.896-16.664,9.484-17.979,12.33c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849
          c0,0,0.435,10.899,1.75,10.899c1.318,0,7.021,3.321,11.841-0.945c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476
          c-2.192,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267c-2.188-3.318-6.137-18.018-10.521-17.068
          c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064c1.313,5.691,2.633,22.76,0.878,28.92
          c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.511c0,0-3.506,9.009,10.963,26.55
          c4.385,8.529,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111c-1.755,0.939-13.149,3.791-10.083,9.953
          c3.069,6.17,9.209,8.061,16.227,7.592c7.018-0.48,18.418,4.264,17.977-15.172c-0.436-19.439,2.192-36.98,2.192-36.98
          l-1.314-7.588c0,0-4.814-14.227,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.096c-1.319-21.811-6.14-6.635-1.758-24.652
          c4.385-18.018,7.897-21.332,6.14-38.873c-1.755-17.539-17.541-17.068-17.541-17.068s-3.063-3.794-2.188-5.691
          c0.877-1.897,16.66-8.062,12.274-30.337c8.336-9.009,6.144,17.062,16.657,21.804c10.531,4.742,13.599-3.791,13.599-3.791
          s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189C695.01,207.707,693.69,203.92,682.727,220.041z
           M529.714,62.381c0,0-0.683-16.545,5.459-19.302c6.14-2.757,8.182-7.581,19.094-6.891c10.913,0.69,15.003,6.204,15.003,6.204
          s10.913,14.475,3.409,35.154c-5.452,6.207-8.188,18.612-6.816,24.82c0.817,5.055,12.273,5.51,12.273,5.51
          s25.914,5.514,29.315,26.2c3.409,20.679,8.917,44.849,10.099,46.036c1.166,1.183,8.178,31.027,8.474,45.206
          c0.289,14.183,2.632,37.823,2.632,37.823s4.09,15.953-4.093,18.023c-8.189,2.074-12.86-7.683-6.438-21.57
          c-0.87-9.162-2.337-20.682-5.553-28.957c-3.217-8.278-8.183-20.394-7.31-25.71c0.881-5.32-15.491-38.417-15.491-38.417
          l0.293,34.576c0,0,4.089,54.966,4.089,56.734c0,1.774-3.217,2.366-3.217,2.366l-0.584,42.548l-9.94-0.303l-4.086,30.143
          c0,0-1.758,19.5-1.465,24.227c0.292,4.73,5.551,31.621-2.335,53.188c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299
          c0,0,7.604,2.359,7.895,5.906c0.296,3.549,1.169,10.938-19.293,8.57c-20.464-2.363-4.096-13.295-4.096-13.295
          s3.515-22.758,3.804-28.365c0.292-5.617-6.725-25.711-4.093-44.918c2.627-19.207,2.627-26.006,2.627-26.006l-4.089-23.343
          l-2.044-29.256l-7.606-1.771l-0.878-7.092l-4.674,8.271l-3.22-0.892l-2.332,40.486c0,0-0.003,9.754,1.458,14.182
          c1.469,4.438,7.017,14.188,3.509,35.168c-0.581,4.727-1.166,24.521,0.585,33.688c1.753,9.156,6.143,11.229,5.266,17.141
          c-0.881,5.9-1.466,7.678-10.521,10.637c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0
          c-0.585-12.115,23.674-25.703,23.674-25.703s6.433-9.453,3.508-26.596c-2.919-17.143-14.321-29.547-15.198-42.846
          c-0.874-13.301,0.292-31.619,0.292-31.619l-7.013-37.818l-6.144-1.774l3.51-39.893c0,0-7.019-1.775-2.628-10.046
          c4.381-8.271,2.632-21.869,6.435-27.478c3.797-5.616,5.548-23.337,5.548-23.337s1.473-7.683,2.336-8.866
          c0.889-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479c0,0,1.167,5.613-6.146,16.549
          c-0.575,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844c-2.921,5.613-10.818,18.317-10.522,27.186
          c0.292,8.859,7.896,7.972,2.342,21.866c-5.554,13.89-17.836,4.725-15.493-5.025c2.342-9.753,7.308-48.167,7.308-48.167
          s0-13.003,6.432-22.753c7.604-10.341,15.494-34.573,15.494-34.573s7.433-36.194,12.565-47.276
          c3.309-7.125,8.771-10.338,28.354-13c21.351-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
          C535.688,86.141,531.052,85.899,529.714,62.381z M392.746,195.172c0,0-11.689-2.529-15.498,14.859
          c-3.798,17.385,0,24.018,1.177,24.653c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543
          c-9.94,3.793-13.448,0.948-19.587,16.12c-6.144,15.172-14.615,39.821-13.449,53.729c1.173,13.907-4.382,14.54-4.382,14.54
          s-6.729,5.371-3.805,11.697c4.387,8.851,12.275-4.112,12.859-6.322c0.588-2.213,1.17-6.954,2.924-9.165
          c1.753-2.216,14.325-20.861,15.206-27.498c3.509,8.85-0.296,18.014-0.592,20.543c-0.289,2.528-5.259,19.6-3.504,31.293
          c1.758,11.692,2.923,5.055,4.674,11.692c1.754,6.638,2.054,30.976,2.054,30.976l4.086,4.741l3.224,31.286
          c0,0-4.683,5.375-4.39,12.959c0.289,7.588,6.437,11.063,11.104,10.75c4.685-0.322,10.82-5.691,6.143-24.654
          c-1.458-1.582-0.582-30.345-0.582-30.345l9.938,1.265l1.753,31.604c0,0-3.8,14.854,1.167,17.693
          c9.059,0.633,20.026,2.828,26.019-0.309c2.747-1.438,2.344-6.322-8.474-9.484c-11.113-6.959-6.725-14.541-6.725-17.379
          c0-2.848,0.877-21.813,0.877-21.813l4.089-2.215v-36.027c0,0,4.334-1.312,5.262-2.215c1.462-23.391-0.585-54.679-0.585-54.679
          s3.217,9.165,7.604,15.804c1.755,3.795,1.755,13.594,1.755,13.594s-3.514,10.432,1.751,13.271
          c5.266,2.852,9.063-8.216,5.846-16.748c-3.208-8.531-4.089-27.183-4.089-27.183l11.979-6.64c0,0-20.461-43.613-29.229-49.624
          c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.468-6.949h2.636
          l-1.176-10.433h4.094C416.718,225.833,418.763,194.86,392.746,195.172z M279.918,240.794c0,0-8.266,4.467-9.187,13.404
          c-0.918,8.941,0.462,19.86,5.052,23.338c4.593,3.478,5.969,8.937,0.921,10.925c-5.053,1.981-9.186-2.485-18.371,1.486
          c-9.184,3.977-9.184,4.971-13.313-0.99c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429
          c5.508,14.9,9.646,23.342,18.826,26.816c9.184,3.471,15.432,4.076,14.692,9.434c1.377,9.928-3.229,39.668-3.688,45.625
          c-0.458,5.961-1.365,26.369-0.444,32.826c0.918,6.455-7.806,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938
          c-1.832,1.979-6.426,7.938-5.967,12.404c0.456,4.479,5.512,10.926,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875
          c1.835-6.455,2.294-1.984,5.51-9.436c3.213-7.447,5.512-24.824,5.512-24.824s0.459-6.955,2.754-3.479
          c2.298,3.479,2.754,36.252,3.675,41.215c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.955,0,8.938
          c-0.458,1.988,4.589,16.385,12.396,6.455c7.813-9.928-3.675-15.889-3.675-15.889s4.56-7.148,5.052-9.934
          c2.146-12.074-7.809-30.785-1.377-49.15c5.06,1.484,8.885-1.719,10.747-4.072c-4.604-30.104-1.265-39.488-1.255-39.488
          c6.323,5.48,8.482,4.749,10.813,5.076c4.644,0.646,8.604,0.402,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66
          c6.173,7.988,10.566-8.111,0.466-12.576c-10.104-4.471-21.131-6.957-23.43-14.406c-2.291-7.443-3.784-32.282-20.668-31.096
          c-10.772,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.45-4.966,0.455,2.981,5.51,5.463
          c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
          C302.415,250.724,295.073,233.842,279.918,240.794z M126.434,66.743c0,0,11.69-29.297,29.813-9.987
          c18.129,19.309,19.874,22.637,19.874,22.637s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659
          c0,0-7.014,19.976-11.693,20.639c-4.674,0.667,6.436,8.658,11.112,15.318c4.678,6.656,13.441,32.622,13.441,32.622
          s13.444,36.623,20.465,40.62c7.018,3.995,9.354,31.292,7.018,37.958c-2.336,6.653,9.938,5.324,10.521,18.64
          c0.588,13.316-9.939,16.644-11.688,3.329c-1.762-13.316,1.748-6.66-2.928-7.993c-4.678-1.326-3.505-7.322-3.505-7.322
          s-8.773,2.662-11.693-4.657c-2.924-7.33-15.784-25.969-20.466-37.959c-15.783-31.958-6.432,7.322-8.183,14.652
          c-1.758,7.326-1.761,73.247,0.582,79.237c2.339,5.991-14.033,11.985-14.033,11.985s-5.847,31.959-5.847,37.948
          c0,5.99-1.165,36.623-4.094,44.611c-2.92,7.989-2.92,33.297-2.92,33.297s2.92,7.986,4.671,15.313
          c1.757,7.32-19.289,15.313-21.046,4.658c-0.769-4.67,2.043-11.377,1.236-15.762c-1.022-5.621-1.399-7.195-2.104-14.387
          c-1.062-10.919-6.729-3.813-6.146-0.48c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.328-18.708-0.662
          c-0.587-5.994,6.429-15.314,6.429-15.314s2.344-6.666-2.339-9.328c-4.677-2.659,1.17-9.319,2.925-9.98
          c1.754-0.666-0.586-7.326-2.343-11.986c-1.747-4.661-7.013-43.278-2.332-53.266c4.675-9.988,0-14.65,0-14.65l-3.512-17.311
          l-5.262-0.673l-2.34-43.945c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298
          c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.178,15.978c-3.974,0.928-14.617-6.653-7.021-16.641
          c5.85-3.998,10.524-9.325,10.524-9.325s-4.097-8.655,3.506-17.98c7.604-9.322,18.127-39.282,19.296-43.942
          c1.175-4.664,12.273-37.958,36.831-41.283C118.836,74.732,126.434,66.743,126.434,66.743z"/>
      </g>
    </g>
  </g>
  <path fill="#FFFFFF" d="M296.953,124.352"/>
  <path fill="#62C555" d="M628.453,255.021c0,0-13.999,7.5-11.166,14.5s4.666,8.667,4.666,8.667l1.834,1.5c0,0,5,2.167,5.833,2.333
    s1.334-6.167,1.667-7s-2.167-20-2.167-20"/>
  <path fill="#62C555" d="M237.454,270.855c0,0,3,2,0,6.5s-3,4.5-3,4.5l0,0c0,0-3.167-0.833-3.333-2.333s-2-8.667-2-8.667l2-1.333
    L237.454,270.855z"/>
  <polygon fill="#424143" points="563.336,585.623 296.741,585.623 296.741,494.371 563.336,494.371 542.619,539.996 "/>
  <polygon fill="#60C342" points="554.217,585.623 287.613,585.623 287.613,494.371 554.217,494.371 533.498,539.996 "/>
  <text transform="matrix(1 0 0 1 307.1584 550.6055)" fill="#FFFFFF" font-family="'Helvetica'" font-size="35.4394">${{ amount | numberComma }}</text>
  <rect x="276.664" y="494.371" fill="#424143" width="10.948" height="91.258"/>
  </svg>
</template>

<script>
  import BaseProps from '../BaseProps'

  export default {
    mixins: [BaseProps]
  }
</script>
