<template>
  <svg version="1.1" id="Ñëîé_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="800px" height="600px" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
    <g>
      <g id="_x35_">
        <g>
          <g>
            <g>
              <path id="SVGID_1_" fill="#F7F7F7" d="M688.727,227.701c0,0-8.329-5.694-17.534-3.797c-9.21,1.896-16.664,9.484-17.979,12.33
                c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849c0,0,0.435,10.898,1.75,10.898
                c1.317,0,7.021,3.321,11.841-0.945c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476c-2.191,1.421-6.14,5.215-6.14,5.215
                s-3.509-0.948-5.701-4.267c-2.188-3.318-6.137-18.018-10.521-17.068c-4.378,0.952-17.979,6.639-7.451,21.811
                c10.521,15.172,13.591,11.378,14.905,17.064c1.313,5.691,2.633,22.76,0.878,28.92c-1.751,6.166-7.454,39.354-7.454,39.354
                l9.646,11.377l-0.438,36.508c0,0-3.506,9.013,10.963,26.554c4.385,8.524,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111
                c-1.755,0.938-13.148,3.79-10.083,9.948c3.069,6.172,9.209,8.063,16.228,7.597c7.018-0.48,18.418,4.264,17.977-15.175
                c-0.436-19.438,2.192-36.979,2.192-36.979l-1.314-7.588c0,0-4.813-14.226,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.095
                c-1.318-21.813-6.14-6.637-1.758-24.653c4.385-18.017,7.897-21.332,6.141-38.873c-1.756-17.539-17.541-17.068-17.541-17.068
                s-3.063-3.794-2.188-5.691c0.875-1.897,16.66-8.063,12.274-30.337c8.336-9.009,6.144,17.062,16.656,21.804
                c10.531,4.742,13.6-3.791,13.6-3.791s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189
                C701.01,215.367,699.69,211.58,688.727,227.701z"/>
            </g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <g>
                        <defs>
                          <path id="SVGID_11_" d="M688.727,227.701c0,0-8.329-5.694-17.534-3.797c-9.21,1.896-16.664,9.484-17.979,12.33
                            c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849c0,0,0.435,10.898,1.75,10.898
                            c1.317,0,7.021,3.321,11.841-0.945c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476
                            c-2.191,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267c-2.188-3.318-6.137-18.018-10.521-17.068
                            c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064
                            c1.313,5.691,2.633,22.76,0.878,28.92c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.508
                            c0,0-3.506,9.013,10.963,26.554c4.385,8.524,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111
                            c-1.755,0.938-13.148,3.79-10.083,9.948c3.069,6.172,9.209,8.063,16.228,7.597c7.018-0.48,18.418,4.264,17.977-15.175
                            c-0.436-19.438,2.192-36.979,2.192-36.979l-1.314-7.588c0,0-4.813-14.226,0.88-28.92
                            c5.698-14.699,11.398-22.283,10.087-44.095c-1.318-21.813-6.14-6.637-1.758-24.653
                            c4.385-18.017,7.897-21.332,6.141-38.873c-1.756-17.539-17.541-17.068-17.541-17.068s-3.063-3.794-2.188-5.691
                            c0.875-1.897,16.66-8.063,12.274-30.337c8.336-9.009,6.144,17.062,16.656,21.804c10.531,4.742,13.6-3.791,13.6-3.791
                            s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189C701.01,215.367,699.69,211.58,688.727,227.701z"/>
                        </defs>
                        <clipPath id="SVGID_12_">
                          <use xlink:href="#SVGID_11_"  overflow="visible"/>
                        </clipPath>
                        <g clip-path="url(#SVGID_12_)">
                          <path fill="#B7F9A8" d="M31.352,498.09c0,0,219.216-16.021,357.139,44.275c142.642,62.354,365.799-51.273,365.799-51.273
                            l4.595,453.979l-722.94,6.996l-4.118-405.656L31.352,498.09z"/>
                          <path fill="#60C342" d="M32.651,511.235c0,0,219.22-16.021,357.141,44.274c142.641,62.355,365.803-51.272,365.803-51.272
                            l4.588,453.977l-722.938,6.998l-4.12-405.656L32.651,511.235z"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g>
              <path id="SVGID_2_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M688.727,227.701c0,0-8.329-5.694-17.534-3.797
                c-9.21,1.896-16.664,9.484-17.979,12.33c-1.315,2.842,1.313,16.12,1.313,16.12l-2.631,6.16l3.069,2.849
                c0,0,0.435,10.898,1.75,10.898c1.317,0,7.021,3.321,11.841-0.945c0.878,2.848,0,7.108,0,7.108s-7.451-0.945-9.646,0.476
                c-2.191,1.421-6.14,5.215-6.14,5.215s-3.509-0.948-5.701-4.267c-2.188-3.318-6.137-18.018-10.521-17.068
                c-4.378,0.952-17.979,6.639-7.451,21.811c10.521,15.172,13.591,11.378,14.905,17.064c1.313,5.691,2.633,22.76,0.878,28.92
                c-1.751,6.166-7.454,39.354-7.454,39.354l9.646,11.377l-0.438,36.508c0,0-3.506,9.013,10.963,26.554
                c4.385,8.524,7.014,18.963,7.014,18.963s1.751,6.162,0,7.111c-1.755,0.938-13.148,3.79-10.083,9.948
                c3.069,6.172,9.209,8.063,16.228,7.597c7.018-0.48,18.418,4.264,17.977-15.175c-0.436-19.438,2.192-36.979,2.192-36.979
                l-1.314-7.588c0,0-4.813-14.226,0.88-28.92c5.698-14.699,11.398-22.283,10.087-44.095c-1.318-21.813-6.14-6.637-1.758-24.653
                c4.385-18.017,7.897-21.332,6.141-38.873c-1.756-17.539-17.541-17.068-17.541-17.068s-3.063-3.794-2.188-5.691
                c0.875-1.897,16.66-8.063,12.274-30.337c8.336-9.009,6.144,17.062,16.656,21.804c10.531,4.742,13.6-3.791,13.6-3.791
                s-4.824,2.366-8.328-5.215c-3.505-7.584,0.873-25.605-8.336-33.189C701.01,215.367,699.69,211.58,688.727,227.701z"/>
            </g>
          </g>
          <path display="none" stroke="#000000" stroke-miterlimit="10" d="M670.315,389.702c0,0,1.313,6.637,1.313,10.909
            c0,4.263,0,4.263,0,4.263C665.488,398.714,663.737,393.973,670.315,389.702z"/>
        </g>
      </g>
      <g id="_x34_">
        <g>
          <path id="SVGID_3_" fill="#F7F7F7" d="M535.714,70.041c0,0-0.684-16.545,5.459-19.302c6.14-2.757,8.182-7.581,19.094-6.891
            c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154c-5.452,6.207-8.188,18.612-6.816,24.82
            c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.314,26.2c3.409,20.679,8.917,44.849,10.1,46.036
            c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823s4.09,15.953-4.093,18.023
            c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.338-20.682-5.554-28.957c-3.217-8.278-8.183-20.394-7.31-25.71
            c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734c0,1.774-3.217,2.366-3.217,2.366
            l-0.584,42.548l-9.94-0.308l-4.086,30.146c0,0-1.758,19.5-1.465,24.228c0.292,4.729,5.551,31.621-2.335,53.188
            c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906c0.296,3.549,1.169,10.936-19.293,8.57
            c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.762,3.804-28.365c0.292-5.617-6.725-25.711-4.093-44.918
            c2.627-19.207,2.627-26.01,2.627-26.01l-4.089-23.34l-2.044-29.257l-7.606-1.771l-0.878-7.092l-4.674,8.272l-3.22-0.892
            l-2.332,40.484c0,0-0.003,9.754,1.458,14.184c1.469,4.438,7.017,14.188,3.509,35.168c-0.581,4.726-1.166,24.521,0.585,33.688
            c1.753,9.154,6.143,11.226,5.266,17.14c-0.881,5.899-1.466,7.678-10.521,10.637c-9.064,2.953-10.526,10.041-10.526,10.041
            s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703s6.433-9.453,3.508-26.598
            c-2.919-17.142-14.321-29.546-15.198-42.845c-0.874-13.302,0.292-31.619,0.292-31.619l-7.013-37.817l-6.144-1.772l3.51-39.895
            c0,0-7.02-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478c3.797-5.616,5.548-23.337,5.548-23.337
            s1.474-7.683,2.336-8.866c0.89-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479c0,0,1.167,5.613-6.146,16.549
            c-0.574,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844c-2.921,5.613-10.818,18.317-10.522,27.186
            c0.292,8.859,7.896,7.972,2.343,21.866c-5.555,13.89-17.836,4.725-15.493-5.025c2.342-9.753,7.308-48.167,7.308-48.167
            s0-13.003,6.433-22.753c7.604-10.341,15.493-34.573,15.493-34.573s7.434-36.194,12.565-47.276
            c3.309-7.125,8.771-10.338,28.354-13c21.352-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
            C541.688,93.801,537.052,93.559,535.714,70.041z"/>
        </g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_13_" d="M535.714,70.041c0,0-0.684-16.545,5.459-19.302c6.14-2.757,8.182-7.581,19.094-6.891
                        c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154c-5.452,6.207-8.188,18.612-6.816,24.82
                        c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.314,26.2c3.409,20.679,8.917,44.849,10.1,46.036
                        c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823s4.09,15.953-4.093,18.023
                        c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.338-20.682-5.554-28.957c-3.217-8.278-8.183-20.394-7.31-25.71
                        c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734c0,1.774-3.217,2.366-3.217,2.366
                        l-0.584,42.548l-9.94-0.308l-4.086,30.146c0,0-1.758,19.5-1.465,24.228c0.292,4.729,5.551,31.621-2.335,53.188
                        c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906c0.296,3.549,1.169,10.936-19.293,8.57
                        c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.762,3.804-28.365c0.292-5.617-6.725-25.711-4.093-44.918
                        c2.627-19.207,2.627-26.01,2.627-26.01l-4.089-23.34l-2.044-29.257l-7.606-1.771l-0.878-7.092l-4.674,8.272l-3.22-0.892
                        l-2.332,40.484c0,0-0.003,9.754,1.458,14.184c1.469,4.438,7.017,14.188,3.509,35.168
                        c-0.581,4.726-1.166,24.521,0.585,33.688c1.753,9.154,6.143,11.226,5.266,17.14c-0.881,5.899-1.466,7.678-10.521,10.637
                        c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703
                        s6.433-9.453,3.508-26.598c-2.919-17.142-14.321-29.546-15.198-42.845c-0.874-13.302,0.292-31.619,0.292-31.619
                        l-7.013-37.817l-6.144-1.772l3.51-39.895c0,0-7.02-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478
                        c3.797-5.616,5.548-23.337,5.548-23.337s1.474-7.683,2.336-8.866c0.89-1.18-1.167-8.573-1.167-8.573l-4.381,6.799
                        l-4.094-1.479c0,0,1.167,5.613-6.146,16.549c-0.574,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844
                        c-2.921,5.613-10.818,18.317-10.522,27.186c0.292,8.859,7.896,7.972,2.343,21.866c-5.555,13.89-17.836,4.725-15.493-5.025
                        c2.342-9.753,7.308-48.167,7.308-48.167s0-13.003,6.433-22.753c7.604-10.341,15.493-34.573,15.493-34.573
                        s7.434-36.194,12.565-47.276c3.309-7.125,8.771-10.338,28.354-13c21.352-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
                        C541.688,93.801,537.052,93.559,535.714,70.041z"/>
                    </defs>
                    <clipPath id="SVGID_14_">
                      <use xlink:href="#SVGID_13_"  overflow="visible"/>
                    </clipPath>
                    <g clip-path="url(#SVGID_14_)">
                      <path fill="#B7F9A8" d="M29.765,500.637c0,0,219.218-16.02,357.14,44.277c142.637,62.354,365.797-51.277,365.797-51.277
                        l4.596,453.98l-722.938,6.998l-4.122-405.66L29.765,500.637z"/>
                      <path fill="#60C342" d="M31.091,512.434c0,0,219.221-16.021,357.144,44.275c142.636,62.357,365.8-51.275,365.8-51.275
                        l4.586,453.979l-722.937,7l-4.12-405.66L31.091,512.434z"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g>
          <path id="SVGID_4_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M535.714,70.041c0,0-0.684-16.545,5.459-19.302
            c6.14-2.757,8.182-7.581,19.094-6.891c10.913,0.69,15.003,6.204,15.003,6.204s10.913,14.475,3.409,35.154
            c-5.452,6.207-8.188,18.612-6.816,24.82c0.817,5.055,12.273,5.51,12.273,5.51s25.914,5.514,29.314,26.2
            c3.409,20.679,8.917,44.849,10.1,46.036c1.166,1.183,8.178,31.027,8.474,45.206c0.289,14.183,2.632,37.823,2.632,37.823
            s4.09,15.953-4.093,18.023c-8.189,2.074-12.86-7.683-6.438-21.57c-0.87-9.162-2.338-20.682-5.554-28.957
            c-3.217-8.278-8.183-20.394-7.31-25.71c0.881-5.32-15.491-38.417-15.491-38.417l0.293,34.576c0,0,4.089,54.966,4.089,56.734
            c0,1.774-3.217,2.366-3.217,2.366l-0.584,42.548l-9.94-0.308l-4.086,30.146c0,0-1.758,19.5-1.465,24.228
            c0.292,4.729,5.551,31.621-2.335,53.188c-1.462,3.248-8.479,33.688-8.479,33.688l0.289,13.299c0,0,7.604,2.359,7.895,5.906
            c0.296,3.549,1.169,10.936-19.293,8.57c-20.464-2.363-4.096-13.295-4.096-13.295s3.515-22.762,3.804-28.365
            c0.292-5.617-6.725-25.711-4.093-44.918c2.627-19.207,2.627-26.01,2.627-26.01l-4.089-23.34l-2.044-29.257l-7.606-1.771
            l-0.878-7.092l-4.674,8.272l-3.22-0.892l-2.332,40.484c0,0-0.003,9.754,1.458,14.184c1.469,4.438,7.017,14.188,3.509,35.168
            c-0.581,4.726-1.166,24.521,0.585,33.688c1.753,9.154,6.143,11.226,5.266,17.14c-0.881,5.899-1.466,7.678-10.521,10.637
            c-9.064,2.953-10.526,10.041-10.526,10.041s-26.311,12.121-26.893,0c-0.585-12.115,23.674-25.703,23.674-25.703
            s6.433-9.453,3.508-26.598c-2.919-17.142-14.321-29.546-15.198-42.845c-0.874-13.302,0.292-31.619,0.292-31.619l-7.013-37.817
            l-6.144-1.772l3.51-39.895c0,0-7.02-1.775-2.628-10.046c4.381-8.271,2.632-21.869,6.435-27.478
            c3.797-5.616,5.548-23.337,5.548-23.337s1.474-7.683,2.336-8.866c0.89-1.18-1.167-8.573-1.167-8.573l-4.381,6.799l-4.094-1.479
            c0,0,1.167,5.613-6.146,16.549c-0.574,1.183-2.627,6.503-2.627,6.503s-6.143,11.225-9.063,16.844
            c-2.921,5.613-10.818,18.317-10.522,27.186c0.292,8.859,7.896,7.972,2.343,21.866c-5.555,13.89-17.836,4.725-15.493-5.025
            c2.342-9.753,7.308-48.167,7.308-48.167s0-13.003,6.433-22.753c7.604-10.341,15.493-34.573,15.493-34.573
            s7.434-36.194,12.565-47.276c3.309-7.125,8.771-10.338,28.354-13c21.352-2.961,15.203-12.412,15.203-12.412l-2.051-6.5
            C541.688,93.801,537.052,93.559,535.714,70.041z"/>
        </g>
      </g>
      <g id="_x33_">
        <g>
          <path id="SVGID_5_" fill="#F7F7F7" d="M398.745,202.832c0,0-11.688-2.529-15.498,14.859c-3.798,17.385,0,24.018,1.178,24.653
            c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543c-9.94,3.793-13.448,0.948-19.587,16.12
            c-6.145,15.172-14.615,39.821-13.449,53.729c1.173,13.908-4.382,14.541-4.382,14.541s-6.729,5.371-3.806,11.697
            c4.388,8.85,12.275-4.113,12.859-6.322c0.588-2.213,1.17-6.955,2.924-9.166c1.753-2.215,14.325-20.856,15.206-27.498
            c3.509,8.854-0.296,18.019-0.592,20.543c-0.289,2.529-5.259,19.604-3.504,31.293c1.758,11.693,2.923,5.06,4.674,11.693
            c1.754,6.637,2.054,30.979,2.054,30.979l4.086,4.737l3.225,31.285c0,0-4.684,5.375-4.391,12.959
            c0.289,7.593,6.438,11.063,11.104,10.75c4.685-0.317,10.82-5.688,6.143-24.651c-1.458-1.58-0.582-30.347-0.582-30.347
            l9.938,1.269l1.753,31.604c0,0-3.8,14.854,1.167,17.693c9.059,0.633,20.026,2.828,26.019-0.312
            c2.747-1.438,2.345-6.319-8.474-9.481c-11.113-6.959-6.725-14.541-6.725-17.379c0-2.851,0.877-21.813,0.877-21.813l4.089-2.217
            v-36.025c0,0,4.334-1.313,5.262-2.215c1.462-23.393-0.585-54.681-0.585-54.681s3.217,9.165,7.604,15.806
            c1.755,3.795,1.755,13.592,1.755,13.592s-3.515,10.433,1.751,13.271c5.266,2.854,9.063-8.216,5.846-16.749
            c-3.208-8.53-4.089-27.185-4.089-27.185l11.979-6.639c0,0-20.461-43.615-29.229-49.623c-8.771-6.007-15.787-6.007-15.787-6.007
            s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.469-6.949h2.636l-1.176-10.433h4.094
            C422.718,233.493,424.763,202.52,398.745,202.832z"/>
        </g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_15_" d="M398.745,202.832c0,0-11.688-2.529-15.498,14.859c-3.798,17.385,0,24.018,1.178,24.653
                        c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543c-9.94,3.793-13.448,0.948-19.587,16.12
                        c-6.145,15.172-14.615,39.821-13.449,53.729c1.173,13.908-4.382,14.541-4.382,14.541s-6.729,5.371-3.806,11.697
                        c4.388,8.85,12.275-4.113,12.859-6.322c0.588-2.213,1.17-6.955,2.924-9.166c1.753-2.215,14.325-20.856,15.206-27.498
                        c3.509,8.854-0.296,18.019-0.592,20.543c-0.289,2.529-5.259,19.604-3.504,31.293c1.758,11.693,2.923,5.06,4.674,11.693
                        c1.754,6.637,2.054,30.979,2.054,30.979l4.086,4.737l3.225,31.285c0,0-4.684,5.375-4.391,12.959
                        c0.289,7.593,6.438,11.063,11.104,10.75c4.685-0.317,10.82-5.688,6.143-24.651c-1.458-1.58-0.582-30.347-0.582-30.347
                        l9.938,1.269l1.753,31.604c0,0-3.8,14.854,1.167,17.693c9.059,0.633,20.026,2.828,26.019-0.312
                        c2.747-1.438,2.345-6.319-8.474-9.481c-11.113-6.959-6.725-14.541-6.725-17.379c0-2.851,0.877-21.813,0.877-21.813
                        l4.089-2.217v-36.025c0,0,4.334-1.313,5.262-2.215c1.462-23.393-0.585-54.681-0.585-54.681s3.217,9.165,7.604,15.806
                        c1.755,3.795,1.755,13.592,1.755,13.592s-3.515,10.433,1.751,13.271c5.266,2.854,9.063-8.216,5.846-16.749
                        c-3.208-8.53-4.089-27.185-4.089-27.185l11.979-6.639c0,0-20.461-43.615-29.229-49.623
                        c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.469-6.949h2.636
                        l-1.176-10.433h4.094C422.718,233.493,424.763,202.52,398.745,202.832z"/>
                    </defs>
                    <clipPath id="SVGID_16_">
                      <use xlink:href="#SVGID_15_"  overflow="visible"/>
                    </clipPath>
                    <g clip-path="url(#SVGID_16_)">
                      <path fill="#B7F9A8" d="M30.618,496.579c0,0,219.215-16.021,357.144,44.277c142.636,62.354,365.797-51.277,365.797-51.277
                        l4.59,453.979l-722.938,7l-4.12-405.661L30.618,496.579z"/>
                      <path fill="#60C342" d="M31.866,512.426c0,0,219.217-16.021,357.143,44.275c142.637,62.354,365.8-51.273,365.8-51.273
                        l4.588,453.979l-722.938,7l-4.12-405.662L31.866,512.426z"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g>
          <path id="SVGID_6_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M398.745,202.832c0,0-11.688-2.529-15.498,14.859
            c-3.798,17.385,0,24.018,1.178,24.653c1.167,0.632,7.894,6.32,8.183,7.581c0.292,1.268,2.635,10.746-7.306,14.543
            c-9.94,3.793-13.448,0.948-19.587,16.12c-6.145,15.172-14.615,39.821-13.449,53.729c1.173,13.908-4.382,14.541-4.382,14.541
            s-6.729,5.371-3.806,11.697c4.388,8.85,12.275-4.113,12.859-6.322c0.588-2.213,1.17-6.955,2.924-9.166
            c1.753-2.215,14.325-20.856,15.206-27.498c3.509,8.854-0.296,18.019-0.592,20.543c-0.289,2.529-5.259,19.604-3.504,31.293
            c1.758,11.693,2.923,5.06,4.674,11.693c1.754,6.637,2.054,30.979,2.054,30.979l4.086,4.737l3.225,31.285
            c0,0-4.684,5.375-4.391,12.959c0.289,7.593,6.438,11.063,11.104,10.75c4.685-0.317,10.82-5.688,6.143-24.651
            c-1.458-1.58-0.582-30.347-0.582-30.347l9.938,1.269l1.753,31.604c0,0-3.8,14.854,1.167,17.693
            c9.059,0.633,20.026,2.828,26.019-0.312c2.747-1.438,2.345-6.319-8.474-9.481c-11.113-6.959-6.725-14.541-6.725-17.379
            c0-2.851,0.877-21.813,0.877-21.813l4.089-2.217v-36.025c0,0,4.334-1.313,5.262-2.215c1.462-23.393-0.585-54.681-0.585-54.681
            s3.217,9.165,7.604,15.806c1.755,3.795,1.755,13.592,1.755,13.592s-3.515,10.433,1.751,13.271
            c5.266,2.854,9.063-8.216,5.846-16.749c-3.208-8.53-4.089-27.185-4.089-27.185l11.979-6.639c0,0-20.461-43.615-29.229-49.623
            c-8.771-6.007-15.787-6.007-15.787-6.007s-3.508-1.578-1.751-8.529c1.751-6.955,7.013-0.319,7.013-0.319l1.469-6.949h2.636
            l-1.176-10.433h4.094C422.718,233.493,424.763,202.52,398.745,202.832z"/>
        </g>
      </g>
      <g id="_x32_">
        <g>
          <path id="SVGID_7_" fill="#F7F7F7" d="M285.918,248.454c0,0-8.267,4.467-9.188,13.404c-0.918,8.941,0.462,19.86,5.053,23.338
            c4.593,3.478,5.969,8.937,0.921,10.925c-5.054,1.981-9.187-2.485-18.371,1.486c-9.185,3.977-9.185,4.971-13.313-0.99
            c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429c5.508,14.9,9.646,23.342,18.825,26.816
            c9.185,3.471,15.433,4.076,14.692,9.434c1.377,9.927-3.229,39.668-3.688,45.625c-0.458,5.961-1.364,26.369-0.443,32.826
            c0.918,6.455-7.807,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938c-1.832,1.981-6.427,7.94-5.968,12.407
            c0.456,4.479,5.513,10.922,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875c1.835-6.455,2.294-1.988,5.51-9.436
            c3.213-7.447,5.513-24.824,5.513-24.824s0.459-6.955,2.754-3.479c2.298,3.479,2.754,36.249,3.675,41.213
            c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.95,0,8.938c-0.458,1.988,4.589,16.385,12.396,6.455
            c7.813-9.928-3.675-15.889-3.675-15.889s4.561-7.148,5.052-9.935c2.146-12.072-7.809-30.782-1.377-49.147
            c5.061,1.48,8.886-1.719,10.747-4.074c-4.604-30.104-1.265-39.488-1.255-39.488c6.323,5.48,8.482,4.749,10.813,5.076
            c4.644,0.645,8.604,0.404,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66c6.173,7.99,10.566-8.111,0.466-12.576
            c-10.104-4.469-21.131-6.957-23.43-14.406c-2.291-7.445-3.784-32.282-20.668-31.096c-10.771,1.541-5.042-10.195-5.042-10.195
            s11.477-5.876,11.943-10.84c0.449-4.966,0.454,2.981,5.51,5.463c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452
            c-1.377-5.463-3.216-14.4-10.106-12.412C308.414,258.384,301.073,241.502,285.918,248.454z"/>
        </g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_17_" d="M285.918,248.454c0,0-8.267,4.467-9.188,13.404c-0.918,8.941,0.462,19.86,5.053,23.338
                        c4.593,3.478,5.969,8.937,0.921,10.925c-5.054,1.981-9.187-2.485-18.371,1.486c-9.185,3.977-9.185,4.971-13.313-0.99
                        c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429c5.508,14.9,9.646,23.342,18.825,26.816
                        c9.185,3.471,15.433,4.076,14.692,9.434c1.377,9.927-3.229,39.668-3.688,45.625c-0.458,5.961-1.364,26.369-0.443,32.826
                        c0.918,6.455-7.807,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938c-1.832,1.981-6.427,7.94-5.968,12.407
                        c0.456,4.479,5.513,10.922,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875c1.835-6.455,2.294-1.988,5.51-9.436
                        c3.213-7.447,5.513-24.824,5.513-24.824s0.459-6.955,2.754-3.479c2.298,3.479,2.754,36.249,3.675,41.213
                        c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.95,0,8.938c-0.458,1.988,4.589,16.385,12.396,6.455
                        c7.813-9.928-3.675-15.889-3.675-15.889s4.561-7.148,5.052-9.935c2.146-12.072-7.809-30.782-1.377-49.147
                        c5.061,1.48,8.886-1.719,10.747-4.074c-4.604-30.104-1.265-39.488-1.255-39.488c6.323,5.48,8.482,4.749,10.813,5.076
                        c4.644,0.645,8.604,0.404,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66c6.173,7.99,10.566-8.111,0.466-12.576
                        c-10.104-4.469-21.131-6.957-23.43-14.406c-2.291-7.445-3.784-32.282-20.668-31.096
                        c-10.771,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.449-4.966,0.454,2.981,5.51,5.463
                        c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
                        C308.414,258.384,301.073,241.502,285.918,248.454z"/>
                    </defs>
                    <clipPath id="SVGID_18_">
                      <use xlink:href="#SVGID_17_"  overflow="visible"/>
                    </clipPath>
                    <g clip-path="url(#SVGID_18_)">
                      <path fill="#B7F9A8" d="M37.062,495.167c0,0,219.217-16.02,357.141,44.277C536.844,601.798,760,488.167,760,488.167
                        l4.592,453.979l-722.94,6.993l-4.12-405.651L37.062,495.167z"/>
                      <path fill="#60C342" d="M38.285,512.364c0,0,219.215-16.023,357.145,44.271c142.637,62.359,365.797-51.271,365.797-51.271
                        l4.588,453.977l-722.938,7.002l-4.119-405.662L38.285,512.364z"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g>
          <path id="SVGID_8_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M285.918,248.454c0,0-8.267,4.467-9.188,13.404
            c-0.918,8.941,0.462,19.86,5.053,23.338c4.593,3.478,5.969,8.937,0.921,10.925c-5.054,1.981-9.187-2.485-18.371,1.486
            c-9.185,3.977-9.185,4.971-13.313-0.99c-4.138-5.961-5.977-16.88-5.977-16.88s-11.48-5.459-5.967,9.429
            c5.508,14.9,9.646,23.342,18.825,26.816c9.185,3.471,15.433,4.076,14.692,9.434c1.377,9.927-3.229,39.668-3.688,45.625
            c-0.458,5.961-1.364,26.369-0.443,32.826c0.918,6.455-7.807,17.373-5.511,22.344c2.294,4.963,4.131,6.953,2.294,8.938
            c-1.832,1.981-6.427,7.94-5.968,12.407c0.456,4.479,5.513,10.922,11.021,6.955c5.509-3.975,1.374-11.422,3.215-17.875
            c1.835-6.455,2.294-1.988,5.51-9.436c3.213-7.447,5.513-24.824,5.513-24.824s0.459-6.955,2.754-3.479
            c2.298,3.479,2.754,36.249,3.675,41.213c0.917,4.965,3.219,6.455,3.219,6.455s0.456,6.95,0,8.938
            c-0.458,1.988,4.589,16.385,12.396,6.455c7.813-9.928-3.675-15.889-3.675-15.889s4.561-7.148,5.052-9.935
            c2.146-12.072-7.809-30.782-1.377-49.147c5.061,1.48,8.886-1.719,10.747-4.074c-4.604-30.104-1.265-39.488-1.255-39.488
            c6.323,5.48,8.482,4.749,10.813,5.076c4.644,0.645,8.604,0.404,9.729,0.203c2.754-0.496,7.459,0.078,8.995,7.66
            c6.173,7.99,10.566-8.111,0.466-12.576c-10.104-4.469-21.131-6.957-23.43-14.406c-2.291-7.445-3.784-32.282-20.668-31.096
            c-10.771,1.541-5.042-10.195-5.042-10.195s11.477-5.876,11.943-10.84c0.449-4.966,0.454,2.981,5.51,5.463
            c5.048,2.482,8.723-3.478,8.723-3.478s-4.589-0.989-5.97-6.452c-1.377-5.463-3.216-14.4-10.106-12.412
            C308.414,258.384,301.073,241.502,285.918,248.454z"/>
        </g>
      </g>
      <g id="_x31_">
        <g>
          <path id="SVGID_9_" fill="#F7F7F7" d="M132.434,74.403c0,0,11.69-29.297,29.813-9.987c18.129,19.309,19.874,22.637,19.874,22.637
            s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659c0,0-7.014,19.976-11.692,20.639
            c-4.674,0.667,6.436,8.658,11.111,15.318c4.679,6.656,13.441,32.622,13.441,32.622s13.444,36.623,20.465,40.62
            c7.019,3.995,9.354,31.292,7.019,37.958c-2.336,6.653,9.938,5.324,10.521,18.64c0.588,13.316-9.938,16.644-11.688,3.329
            c-1.763-13.316,1.748-6.66-2.929-7.993c-4.678-1.326-3.505-7.322-3.505-7.322s-8.772,2.662-11.692-4.657
            c-2.925-7.33-15.784-25.969-20.467-37.959c-15.782-31.958-6.432,7.322-8.183,14.652c-1.758,7.326-1.761,73.247,0.582,79.236
            c2.339,5.992-14.033,11.981-14.033,11.981s-5.847,31.959-5.847,37.952c0,5.99-1.165,36.623-4.094,44.607
            c-2.92,7.992-2.92,33.301-2.92,33.301s2.92,7.982,4.671,15.313c1.757,7.322-19.289,15.314-21.046,4.66
            c-0.77-4.67,2.043-11.377,1.235-15.762c-1.021-5.621-1.398-7.195-2.104-14.391c-1.063-10.918-6.729-3.81-6.146-0.479
            c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.324-18.708-0.661c-0.587-5.994,6.429-15.314,6.429-15.314
            s2.345-6.666-2.339-9.326c-4.677-2.662,1.17-9.322,2.926-9.984c1.754-0.666-0.587-7.323-2.344-11.983
            c-1.747-4.662-7.013-43.276-2.332-53.269c4.676-9.985,0-14.647,0-14.647l-3.512-17.313l-5.262-0.672l-2.34-43.943
            c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298c0,0-14.025,10.657-15.789,1.999
            c-3.506,10.654-4.199,15.05-8.179,15.978c-3.974,0.928-14.616-6.653-7.021-16.641c5.85-3.998,10.524-9.325,10.524-9.325
            s-4.098-8.655,3.506-17.979c7.604-9.322,18.127-39.282,19.296-43.942c1.175-4.664,12.272-37.958,36.831-41.283
            C124.836,82.392,132.434,74.403,132.434,74.403z"/>
        </g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_19_" d="M132.434,74.403c0,0,11.69-29.297,29.813-9.987c18.129,19.309,19.874,22.637,19.874,22.637
                        s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659c0,0-7.014,19.976-11.692,20.639
                        c-4.674,0.667,6.436,8.658,11.111,15.318c4.679,6.656,13.441,32.622,13.441,32.622s13.444,36.623,20.465,40.62
                        c7.019,3.995,9.354,31.292,7.019,37.958c-2.336,6.653,9.938,5.324,10.521,18.64c0.588,13.316-9.938,16.644-11.688,3.329
                        c-1.763-13.316,1.748-6.66-2.929-7.993c-4.678-1.326-3.505-7.322-3.505-7.322s-8.772,2.662-11.692-4.657
                        c-2.925-7.33-15.784-25.969-20.467-37.959c-15.782-31.958-6.432,7.322-8.183,14.652
                        c-1.758,7.326-1.761,73.247,0.582,79.236c2.339,5.992-14.033,11.981-14.033,11.981s-5.847,31.959-5.847,37.952
                        c0,5.99-1.165,36.623-4.094,44.607c-2.92,7.992-2.92,33.301-2.92,33.301s2.92,7.982,4.671,15.313
                        c1.757,7.322-19.289,15.314-21.046,4.66c-0.77-4.67,2.043-11.377,1.235-15.762c-1.021-5.621-1.398-7.195-2.104-14.391
                        c-1.063-10.918-6.729-3.81-6.146-0.479c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.324-18.708-0.661
                        c-0.587-5.994,6.429-15.314,6.429-15.314s2.345-6.666-2.339-9.326c-4.677-2.662,1.17-9.322,2.926-9.984
                        c1.754-0.666-0.587-7.323-2.344-11.983c-1.747-4.662-7.013-43.276-2.332-53.269c4.676-9.985,0-14.647,0-14.647
                        l-3.512-17.313l-5.262-0.672l-2.34-43.943c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655
                        l-19.297,27.298c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.179,15.978
                        c-3.974,0.928-14.616-6.653-7.021-16.641c5.85-3.998,10.524-9.325,10.524-9.325s-4.098-8.655,3.506-17.979
                        c7.604-9.322,18.127-39.282,19.296-43.942c1.175-4.664,12.272-37.958,36.831-41.283
                        C124.836,82.392,132.434,74.403,132.434,74.403z"/>
                    </defs>
                    <clipPath id="SVGID_20_">
                      <use xlink:href="#SVGID_19_"  overflow="visible"/>
                    </clipPath>
                    <g clip-path="url(#SVGID_20_)">
                      <path fill="#B7F9A8" d="M37.001,497.051c0,0,219.222-16.021,357.145,44.277c142.637,62.359,365.797-51.277,365.797-51.277
                        l4.59,453.982l-722.938,7l-4.12-405.662L37.001,497.051z"/>
                      <path fill="#60C342" d="M38.276,511.545c0,0,219.219-16.018,357.141,44.279c142.643,62.354,365.803-51.275,365.803-51.275
                        l4.588,453.982l-722.94,6.999l-4.121-405.664L38.276,511.545z"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g>
          <path id="SVGID_10_" fill="none" stroke="#61B152" stroke-miterlimit="10" d="M132.434,74.403c0,0,11.69-29.297,29.813-9.987
            c18.129,19.309,19.874,22.637,19.874,22.637s2.926,5.993,7.021,5.327c4.093-0.667,0.588,12.653,0.588,12.653l3.505,6.659
            c0,0-7.014,19.976-11.692,20.639c-4.674,0.667,6.436,8.658,11.111,15.318c4.679,6.656,13.441,32.622,13.441,32.622
            s13.444,36.623,20.465,40.62c7.019,3.995,9.354,31.292,7.019,37.958c-2.336,6.653,9.938,5.324,10.521,18.64
            c0.588,13.316-9.938,16.644-11.688,3.329c-1.763-13.316,1.748-6.66-2.929-7.993c-4.678-1.326-3.505-7.322-3.505-7.322
            s-8.772,2.662-11.692-4.657c-2.925-7.33-15.784-25.969-20.467-37.959c-15.782-31.958-6.432,7.322-8.183,14.652
            c-1.758,7.326-1.761,73.247,0.582,79.236c2.339,5.992-14.033,11.981-14.033,11.981s-5.847,31.959-5.847,37.952
            c0,5.99-1.165,36.623-4.094,44.607c-2.92,7.992-2.92,33.301-2.92,33.301s2.92,7.982,4.671,15.313
            c1.757,7.322-19.289,15.314-21.046,4.66c-0.77-4.67,2.043-11.377,1.235-15.762c-1.021-5.621-1.398-7.195-2.104-14.391
            c-1.063-10.918-6.729-3.81-6.146-0.479c0.585,3.332-0.584,20.646-0.584,20.646s-18.123,5.324-18.708-0.661
            c-0.587-5.994,6.429-15.314,6.429-15.314s2.345-6.666-2.339-9.326c-4.677-2.662,1.17-9.322,2.926-9.984
            c1.754-0.666-0.587-7.323-2.344-11.983c-1.747-4.662-7.013-43.276-2.332-53.269c4.676-9.985,0-14.647,0-14.647l-3.512-17.313
            l-5.262-0.672l-2.34-43.943c0,0,1.754-33.288,5.851-59.26c5.847-20.639-2.926-8.655-2.926-8.655l-19.297,27.298
            c0,0-14.025,10.657-15.789,1.999c-3.506,10.654-4.199,15.05-8.179,15.978c-3.974,0.928-14.616-6.653-7.021-16.641
            c5.85-3.998,10.524-9.325,10.524-9.325s-4.098-8.655,3.506-17.979c7.604-9.322,18.127-39.282,19.296-43.942
            c1.175-4.664,12.272-37.958,36.831-41.283C124.836,82.392,132.434,74.403,132.434,74.403z"/>
        </g>
      </g>
    </g>
    <polygon fill="#424143" points="563.336,585.623 296.741,585.623 296.741,494.371 563.336,494.371 542.619,539.996 "/>
    <polygon fill="#F26822" points="554.217,585.623 287.612,585.623 287.612,494.371 554.217,494.371 533.498,539.996 "/>
    <text transform="matrix(1 0 0 1 307.1584 550.6055)" fill="#FFFFFF" font-family="'Helvetica'" font-size="35.4394">$300,000,000</text>
    <rect x="276.664" y="494.371" fill="#424143" width="10.948" height="91.258"/>
  </svg>
</template>
