<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" :width="w" :height="h" :viewBox="viewBox">
    <defs>
      <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
        <feOffset in="SourceAlpha"/>
        <feGaussianBlur stdDeviation="3.606" result="dropBlur"/>
        <feFlood flood-opacity="0.22"/>
        <feComposite operator="in" in2="dropBlur" result="dropShadowComp"/>
        <feComposite in="SourceGraphic" result="shadowed"/>
      </filter>
      <linearGradient id="linear-gradient-1" gradientUnits="userSpaceOnUse" x1="296" y1="704" x2="296" y2="81.406">
        <stop offset="0" stop-color="#8de583"/>
        <stop offset="1" stop-color="#5ec13c"/>
      </linearGradient>
    </defs>
    <g style="fill: #f0f0f0; filter: url(#drop-shadow-1)">
      <path d="M261.145,665.006 C261.145,665.006 261.293,685.780 261.145,694.001 C260.996,702.223 256.747,703.408 253.145,704.000 C249.149,703.803 232.148,703.000 232.148,703.000 C232.148,703.000 225.261,700.416 226.149,695.001 C228.023,689.192 226.375,690.488 231.148,685.003 C235.921,679.518 235.610,680.535 237.147,674.004 C238.685,667.474 241.042,649.147 241.147,643.009 C241.252,636.871 233.681,590.660 231.148,571.020 C231.577,558.685 232.177,538.607 234.148,527.026 C236.118,515.446 237.508,509.016 234.148,489.032 C232.959,477.143 231.286,457.034 230.148,440.039 C229.010,423.044 231.636,400.749 236.147,377.049 C240.659,353.349 242.895,350.650 244.146,340.054 C245.398,329.458 247.710,305.928 247.146,297.061 C246.583,288.194 247.146,288.062 247.146,288.062 C247.146,288.062 245.834,283.636 243.147,287.062 C242.896,291.402 242.058,309.602 237.147,321.057 C234.876,329.264 228.009,346.794 225.149,353.052 C222.289,359.310 214.630,373.044 211.150,381.048 C209.092,386.819 209.473,389.976 207.151,395.046 C204.828,400.116 197.323,416.388 196.152,421.042 C194.981,425.696 193.902,428.666 192.152,430.041 C190.403,431.416 188.778,430.666 189.153,427.041 C189.528,423.417 191.527,415.918 191.153,414.043 C190.028,414.231 189.903,413.418 188.153,418.043 C186.403,422.667 182.529,429.291 179.154,432.041 C176.904,433.290 174.842,432.041 175.154,430.041 C175.467,428.041 177.154,425.042 177.154,425.042 C177.154,425.042 177.467,423.542 176.154,425.042 C174.842,426.541 172.155,429.041 172.155,429.041 C172.155,429.041 168.780,429.541 168.155,428.041 C168.030,426.354 168.843,425.229 167.155,425.042 C164.218,424.917 162.156,425.167 165.156,418.043 C168.468,411.044 176.154,397.046 176.154,397.046 C176.154,397.046 178.841,389.484 177.154,387.047 C176.154,386.047 172.717,389.609 170.155,391.047 C167.593,392.484 161.906,394.296 160.156,393.046 C158.406,391.797 158.844,390.859 160.156,390.047 C161.468,389.234 168.655,384.485 172.155,379.049 C174.217,376.299 175.904,374.112 182.154,373.049 C188.403,371.987 192.402,373.237 195.152,365.051 C197.902,356.864 202.276,345.491 203.151,339.054 C204.026,332.618 204.589,323.807 205.151,317.058 C205.713,310.309 206.713,304.622 209.151,299.060 C211.588,293.499 214.712,288.437 217.150,280.063 C219.587,271.690 220.274,265.628 221.149,256.067 C222.024,246.506 220.888,231.904 221.149,221.072 C221.411,210.241 219.355,203.643 234.148,193.076 C250.242,187.014 262.721,183.359 268.144,178.079 C273.566,172.798 274.817,172.772 276.143,168.080 C276.143,168.080 276.990,163.750 275.143,163.081 C273.428,162.986 262.144,163.081 262.144,163.081 C262.144,163.081 258.460,162.744 258.145,160.081 C258.228,157.419 258.145,154.082 258.145,154.082 C258.145,154.082 256.272,153.948 256.145,152.082 C256.019,150.216 256.195,149.319 257.145,149.083 C257.167,147.875 257.145,148.083 257.145,148.083 C257.145,148.083 256.139,147.882 256.145,147.083 C256.151,146.284 255.797,143.684 257.145,143.084 C257.123,141.556 257.145,140.084 257.145,140.084 L252.146,140.084 C252.146,140.084 248.824,140.058 250.146,135.085 C252.660,130.907 255.023,127.440 255.145,125.086 C255.267,122.600 252.968,120.943 253.145,117.088 C253.323,113.233 253.145,113.088 253.145,113.088 C253.145,113.088 254.316,107.683 255.145,105.089 C255.974,102.496 259.336,91.909 269.144,86.092 C275.654,82.810 273.170,83.612 280.142,82.093 C284.141,81.448 297.026,80.921 300.140,82.093 C303.371,83.090 314.999,85.029 321.138,97.091 C323.895,105.013 324.322,105.573 324.137,115.088 C323.953,124.603 324.112,124.799 322.138,131.086 C320.163,137.372 317.938,140.090 319.138,152.082 C320.338,164.075 320.001,175.266 327.137,180.078 C332.816,183.141 350.730,191.217 354.134,192.076 C357.538,192.936 370.808,198.578 372.132,213.073 C372.132,221.797 370.775,236.454 371.132,247.068 C371.280,252.047 371.920,273.933 377.131,285.063 C379.838,292.957 385.640,303.852 386.130,314.058 C386.412,319.255 385.882,328.347 388.130,337.055 C390.378,345.763 393.861,357.935 397.129,365.051 C400.397,372.166 399.928,372.263 404.128,373.049 C408.328,373.836 411.127,374.049 411.127,374.049 C411.127,374.049 416.967,375.253 418.127,377.049 C419.286,378.845 427.711,388.082 430.125,389.047 C432.540,390.012 432.125,390.047 432.125,390.047 C432.125,390.047 434.613,392.253 431.125,393.046 C429.217,393.110 424.522,392.697 421.126,390.047 C417.730,387.397 417.127,387.047 417.127,387.047 C417.127,387.047 413.685,385.707 414.127,390.047 C414.995,392.867 416.676,399.517 422.126,408.044 C426.726,416.997 428.249,418.699 428.126,422.042 C428.002,425.385 426.504,425.124 425.126,425.042 C424.051,425.081 424.126,425.042 424.126,425.042 C424.126,425.042 425.312,429.230 423.126,429.041 C421.234,429.015 421.658,428.781 420.126,427.041 C418.595,425.302 417.127,424.042 417.127,424.042 C417.127,424.042 415.157,424.013 416.127,426.042 C417.097,428.070 417.589,428.827 417.127,431.041 C416.821,432.240 414.650,433.157 412.127,431.041 C410.619,428.886 402.128,414.043 402.128,414.043 C402.128,414.043 400.882,413.331 401.129,415.043 C401.375,416.327 401.526,419.781 402.128,422.042 C402.731,424.303 403.759,427.404 402.128,430.041 C400.955,430.952 400.298,430.765 399.129,428.041 C397.960,425.318 394.187,413.621 393.130,411.044 C392.072,408.467 385.167,398.868 384.131,393.046 C383.094,387.225 378.880,374.033 376.131,369.050 C373.383,364.067 360.785,340.521 356.134,323.057 C353.175,315.222 350.586,308.284 350.134,300.060 C349.683,291.836 348.947,288.562 348.135,286.062 C347.322,284.938 346.510,284.438 346.135,289.062 C345.760,293.686 344.698,304.185 345.135,310.059 C345.572,315.933 350.223,352.390 352.134,359.051 C354.046,365.713 363.480,403.887 363.133,415.043 C362.786,426.200 360.356,463.798 360.133,474.034 C359.911,484.271 354.197,510.821 356.134,520.027 C358.071,529.233 361.090,545.233 361.133,554.022 C361.176,562.811 359.691,576.720 358.134,592.017 C356.576,607.314 352.408,627.193 352.134,638.010 C351.861,648.826 352.452,657.567 353.134,664.006 C353.816,668.835 353.462,673.099 355.134,677.004 C356.806,680.909 364.144,690.905 365.133,692.002 C366.121,693.099 366.444,696.738 365.133,699.001 C363.821,701.263 360.988,703.127 351.134,703.000 C341.280,702.873 338.136,703.000 338.136,703.000 C338.136,703.000 332.033,701.248 331.137,697.001 C331.505,692.294 331.137,664.006 331.137,664.006 C331.137,664.006 327.459,656.569 329.137,652.008 C330.240,647.446 332.494,632.731 331.137,623.012 C329.780,613.293 321.138,580.018 321.138,580.018 C321.138,580.018 320.502,573.350 320.138,563.021 C319.774,552.692 321.926,549.020 321.138,541.024 C320.349,533.028 316.483,523.541 315.138,519.028 C313.794,514.514 311.589,498.827 311.139,491.032 C310.689,483.236 309.500,473.993 308.139,468.035 C306.779,462.077 304.721,455.458 304.140,447.038 C303.558,438.619 302.710,423.584 302.140,419.042 C301.570,414.501 301.140,414.043 301.140,414.043 L291.141,414.043 C291.141,414.043 289.627,436.290 289.141,441.039 C288.656,445.788 286.511,457.227 285.142,464.036 C283.773,470.844 282.632,474.108 282.142,478.034 C281.652,481.959 281.112,495.992 280.142,503.030 C279.173,510.067 274.570,526.556 272.143,533.026 C271.171,538.435 270.803,554.455 271.143,558.022 C271.484,561.588 271.333,570.710 271.143,577.019 C269.893,580.677 264.172,603.914 263.144,610.014 C262.116,616.114 259.410,630.278 260.145,636.010 C260.879,641.742 263.144,652.008 263.144,652.008 C263.144,652.008 265.298,657.406 261.145,665.006 Z" id="path-1" style="stroke: inherit; filter: none; fill: inherit" class="cls-1"/>
    </g>
    <use xlink:href="#path-1" style="stroke: #66c748; filter: none; fill: none"/>
    <path d="M186.000,739.000 L421.000,739.000 L397.000,776.844 L421.000,815.000 L186.000,815.000 L186.000,739.000 Z" class="cls-2"/>
    <path d="M176.000,739.000 L411.000,739.000 L387.000,776.844 L411.000,815.000 L176.000,815.000 L176.000,739.000 Z" class="cls-3"/>
    <rect x="176" y="739" width="9" height="76" class="cls-4"/>
    <text transform="translate(212 787) scale(1.39 1.39)" class="cls-5"><tspan class="cls-6">${{ amount | numberComma }}</tspan></text>
    <path d="M260.145,163.081 C260.145,163.081 257.031,160.734 257.145,157.082 C259.017,155.755 266.433,154.260 270.144,155.082 C273.854,155.904 285.730,160.134 290.141,161.081 C294.439,162.539 302.430,164.076 307.139,163.081 C310.942,162.539 316.971,161.480 320.138,160.081 C320.129,167.019 320.138,167.080 320.138,167.080 C320.138,167.080 311.446,170.080 307.139,169.080 C307.139,169.080 293.783,169.538 290.141,168.080 C286.500,166.622 273.825,160.747 270.144,162.081 C266.335,163.461 260.145,163.081 260.145,163.081 Z" class="cls-7"/>
    <path d="M431.125,393.046 C429.217,393.110 424.522,392.697 421.126,390.047 C417.730,387.397 417.127,387.047 417.127,387.047 C417.127,387.047 413.685,385.707 414.127,390.047 C414.995,392.867 416.676,399.517 422.126,408.044 C426.726,416.997 428.249,418.699 428.126,422.042 C428.002,425.385 426.504,425.124 425.126,425.042 C424.226,425.075 424.134,425.053 424.127,425.044 C424.127,425.044 424.126,425.042 424.126,425.042 C424.126,425.042 424.125,425.043 424.127,425.044 C424.136,425.075 425.304,429.229 423.126,429.041 C421.234,429.015 421.658,428.781 420.126,427.041 C418.595,425.302 417.127,424.042 417.127,424.042 C417.127,424.042 415.157,424.013 416.127,426.042 C417.097,428.070 417.589,428.827 417.127,431.041 C416.821,432.240 414.650,433.157 412.127,431.041 C410.619,428.886 402.128,414.043 402.128,414.043 C402.128,414.043 400.882,413.331 401.129,415.043 C401.375,416.327 401.526,419.781 402.128,422.042 C402.731,424.303 403.759,427.404 402.128,430.041 C400.955,430.952 400.298,430.765 399.129,428.041 C397.960,425.318 394.187,413.621 393.130,411.044 C392.072,408.467 385.167,398.868 384.131,393.046 C383.094,387.225 378.880,374.033 376.131,369.050 C373.383,364.067 360.785,340.521 356.134,323.057 C353.175,315.222 350.586,308.284 350.134,300.060 C349.683,291.836 348.947,288.562 348.135,286.062 C347.322,284.938 346.510,284.438 346.135,289.062 C345.760,293.686 344.698,304.185 345.135,310.059 C345.572,315.933 350.223,352.390 352.134,359.051 C354.046,365.713 363.480,403.887 363.133,415.043 C362.786,426.200 360.356,463.798 360.133,474.034 C359.911,484.271 354.197,510.821 356.134,520.027 C358.071,529.233 361.090,545.233 361.133,554.022 C361.176,562.811 359.691,576.720 358.134,592.017 C356.576,607.314 352.408,627.193 352.134,638.010 C351.861,648.826 352.452,657.567 353.134,664.006 C353.816,668.835 353.462,673.099 355.134,677.004 C356.806,680.909 364.144,690.905 365.133,692.002 C366.121,693.099 366.444,696.738 365.133,699.001 C363.821,701.263 360.988,703.127 351.134,703.000 C341.280,702.873 338.136,703.000 338.136,703.000 C338.136,703.000 332.033,701.248 331.137,697.001 C331.505,692.294 331.137,664.006 331.137,664.006 C331.137,664.006 327.459,656.569 329.137,652.008 C330.240,647.446 332.494,632.731 331.137,623.012 C329.780,613.293 321.138,580.018 321.138,580.018 C321.138,580.018 320.502,573.350 320.138,563.021 C319.774,552.692 321.926,549.020 321.138,541.024 C320.349,533.028 316.483,523.541 315.138,519.028 C313.794,514.514 311.589,498.827 311.139,491.032 C310.689,483.236 309.500,473.993 308.139,468.035 C306.779,462.077 304.721,455.458 304.140,447.038 C303.558,438.619 302.710,423.584 302.140,419.042 C301.570,414.501 301.140,414.043 301.140,414.043 L291.141,414.043 C291.141,414.043 289.627,436.290 289.141,441.039 C288.656,445.788 286.511,457.227 285.142,464.036 C283.773,470.844 282.632,474.108 282.142,478.034 C281.652,481.959 281.112,495.992 280.142,503.030 C279.173,510.067 274.570,526.556 272.143,533.026 C271.171,538.435 270.803,554.455 271.143,558.022 C271.484,561.588 271.333,570.710 271.143,577.019 C269.893,580.677 264.172,603.914 263.144,610.014 C262.116,616.114 259.410,630.278 260.145,636.010 C260.879,641.742 263.144,652.008 263.144,652.008 C263.144,652.008 265.298,657.406 261.145,665.006 C261.145,665.006 261.293,685.780 261.145,694.001 C260.996,702.223 256.747,703.408 253.145,704.000 C249.149,703.803 232.148,703.000 232.148,703.000 C232.148,703.000 225.261,700.416 226.149,695.001 C228.023,689.192 226.375,690.488 231.148,685.003 C235.921,679.518 235.610,680.535 237.147,674.004 C238.685,667.474 241.042,649.147 241.147,643.009 C241.252,636.871 233.681,590.660 231.148,571.020 C231.577,558.685 232.177,538.607 234.148,527.026 C236.118,515.446 237.508,509.016 234.148,489.032 C232.959,477.143 231.286,457.034 230.148,440.039 C229.010,423.044 231.636,400.749 236.147,377.049 C240.659,353.349 242.895,350.650 244.146,340.054 C245.398,329.458 247.710,305.928 247.146,297.061 C246.583,288.194 247.146,288.062 247.146,288.062 C247.146,288.062 245.834,283.636 243.147,287.062 C242.896,291.402 242.058,309.602 237.147,321.057 C234.876,329.264 228.009,346.794 225.149,353.052 C222.289,359.310 214.630,373.044 211.150,381.048 C209.092,386.819 209.473,389.976 207.151,395.046 C204.828,400.116 197.323,416.388 196.152,421.042 C194.981,425.696 193.902,428.666 192.152,430.041 C190.403,431.416 188.778,430.666 189.153,427.041 C189.528,423.417 191.527,415.918 191.153,414.043 C190.028,414.231 189.903,413.418 188.153,418.043 C186.403,422.667 182.529,429.291 179.154,432.041 C176.904,433.290 174.842,432.041 175.154,430.041 C175.467,428.041 177.154,425.042 177.154,425.042 C177.154,425.042 177.467,423.542 176.154,425.042 C174.842,426.541 172.155,429.041 172.155,429.041 C172.155,429.041 168.780,429.541 168.155,428.041 C168.030,426.354 168.843,425.229 167.155,425.042 C164.218,424.917 162.156,425.167 165.156,418.043 C168.468,411.044 176.154,397.046 176.154,397.046 C176.154,397.046 178.841,389.484 177.154,387.047 C176.154,386.047 172.717,389.609 170.155,391.047 C167.593,392.484 161.906,394.296 160.156,393.046 C158.406,391.797 158.844,390.859 160.156,390.047 C161.468,389.234 168.655,384.485 172.155,379.049 C174.217,376.299 175.904,374.112 182.154,373.049 C188.403,371.987 192.402,373.237 195.152,365.051 C197.902,356.864 202.276,345.491 203.151,339.054 C204.026,332.618 204.589,323.807 205.151,317.058 C205.713,310.309 206.713,304.622 209.151,299.060 C211.588,293.499 214.712,288.437 217.150,280.063 C219.587,271.690 220.274,265.628 221.149,256.067 C222.024,246.506 220.888,231.904 221.149,221.072 C221.411,210.241 219.355,203.643 234.148,193.076 C250.242,187.014 262.721,183.359 268.144,178.079 C273.566,172.798 274.817,172.772 276.143,168.080 C276.143,168.080 276.990,163.750 275.143,163.081 C273.428,162.986 262.144,163.081 262.144,163.081 C262.144,163.081 261.463,163.017 260.661,162.735 C265.013,161.004 270.078,160.205 275.143,162.081 C287.325,166.593 307.647,172.321 320.315,164.945 C321.137,171.573 322.678,177.071 327.137,180.078 C332.816,183.141 350.730,191.217 354.134,192.076 C357.538,192.936 370.808,198.578 372.132,213.073 C372.132,221.797 370.775,236.454 371.132,247.068 C371.280,252.047 371.920,273.933 377.131,285.063 C379.838,292.957 385.640,303.852 386.130,314.058 C386.412,319.255 385.882,328.347 388.130,337.055 C390.378,345.763 393.861,357.935 397.129,365.051 C400.397,372.166 399.928,372.263 404.128,373.049 C408.328,373.836 411.127,374.049 411.127,374.049 C411.127,374.049 416.967,375.253 418.127,377.049 C419.286,378.845 427.711,388.082 430.125,389.047 C432.540,390.012 432.125,390.047 432.125,390.047 C432.125,390.047 434.613,392.253 431.125,393.046 ZM275.096,83.223 C274.219,83.592 273.350,83.974 272.492,84.368 C273.671,83.755 274.259,83.470 275.096,83.223 Z" class="cls-8"/>
  </svg>
</template>

<script>
  import BasePeoples from './BasePeoples'

  export default {
    mixins: [BasePeoples]
  }
</script>

<style scoped>
  .cls-1 {
    fill: #f0f0f0;
    stroke: #66c748;
    stroke-linejoin: round;
    stroke-width: 2px;
    filter: url(#drop-shadow-1);
  }

  .cls-1, .cls-2, .cls-3, .cls-7, .cls-8 {
    fill-rule: evenodd;
  }

  .cls-2, .cls-4 {
    fill: #414042;
  }

  .cls-3 {
    fill: #79ec63;
  }

  .cls-5, .cls-6 {
    font-size: 21.667px;
  }

  .cls-6 {
    fill: #fff;
    font-family: "Helvetica";
  }

  .cls-7 {
    fill: #66ce57;
    opacity: 0.5;
  }

  .cls-8 {
    fill: url(#linear-gradient-1);
  }
</style>
