<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" :width="w" :height="h" :viewBox="viewBox">
    <defs>
      <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
        <feOffset in="SourceAlpha"/>
        <feGaussianBlur stdDeviation="3.606" result="dropBlur"/>
        <feFlood flood-opacity="0.22"/>
        <feComposite operator="in" in2="dropBlur" result="dropShadowComp"/>
        <feComposite in="SourceGraphic" result="shadowed"/>
      </filter>
      <linearGradient id="linear-gradient-1" gradientUnits="userSpaceOnUse" x1="295.86" y1="702" x2="295.86" y2="79.312">
        <stop offset="0" stop-color="#8de583"/>
        <stop offset="1" stop-color="#5ec13c"/>
      </linearGradient>
    </defs>
    <path d="M196.000,731.000 L431.000,731.000 L407.000,768.844 L431.000,807.000 L196.000,807.000 L196.000,731.000 Z" class="cls-1"/>
    <path d="M186.000,731.000 L421.000,731.000 L397.000,768.844 L421.000,807.000 L186.000,807.000 L186.000,731.000 Z" class="cls-2"/>
    <rect x="186" y="731" width="9" height="76" class="cls-3"/>
    <text transform="translate(222 779) scale(1.39 1.39)" class="cls-4"><tspan class="cls-5">${{ amount | numberComma }}</tspan></text>
    <g style="fill: #f0f0f0; filter: url(#drop-shadow-1)">
      <path d="M261.000,663.000 C261.000,663.000 261.149,683.777 261.000,692.000 C260.851,700.223 256.602,701.408 253.000,702.000 C249.003,701.803 232.000,701.000 232.000,701.000 C232.000,701.000 225.113,698.415 226.000,693.000 C227.875,687.190 226.227,688.486 231.000,683.000 C235.773,677.514 235.462,678.532 237.000,672.000 C238.538,665.468 240.895,647.139 241.000,641.000 C241.105,634.861 233.533,588.643 231.000,569.000 C231.429,556.663 232.029,536.582 234.000,525.000 C235.971,513.418 237.361,506.987 234.000,487.000 C232.811,475.109 231.138,454.997 230.000,438.000 C228.862,421.003 231.488,398.704 236.000,375.000 C240.512,351.296 242.748,348.597 244.000,338.000 C245.252,327.402 247.564,303.868 247.000,295.000 C246.436,286.132 247.000,286.000 247.000,286.000 C247.000,286.000 245.687,281.574 243.000,285.000 C242.749,289.340 241.911,307.543 237.000,319.000 C234.729,327.208 227.860,344.741 225.000,351.000 C222.140,357.259 214.480,370.995 211.000,379.000 C208.941,384.772 209.323,387.929 207.000,393.000 C204.677,398.071 197.171,414.345 196.000,419.000 C194.829,423.655 193.750,426.625 192.000,428.000 C190.250,429.375 188.625,428.625 189.000,425.000 C189.375,421.375 191.375,413.875 191.000,412.000 C189.875,412.187 189.750,411.375 188.000,416.000 C186.250,420.625 182.375,427.250 179.000,430.000 C176.750,431.250 174.687,430.000 175.000,428.000 C175.312,426.000 177.000,423.000 177.000,423.000 C177.000,423.000 177.312,421.500 176.000,423.000 C174.687,424.500 172.000,427.000 172.000,427.000 C172.000,427.000 168.625,427.500 168.000,426.000 C167.875,424.312 168.687,423.187 167.000,423.000 C164.062,422.875 162.000,423.125 165.000,416.000 C168.312,409.000 176.000,395.000 176.000,395.000 C176.000,395.000 178.687,387.437 177.000,385.000 C176.000,384.000 172.562,387.562 170.000,389.000 C167.437,390.437 161.750,392.250 160.000,391.000 C158.250,389.750 158.687,388.812 160.000,388.000 C161.312,387.187 168.500,382.437 172.000,377.000 C174.062,374.250 175.750,372.062 182.000,371.000 C188.250,369.937 192.250,371.187 195.000,363.000 C197.750,354.812 202.125,343.437 203.000,337.000 C203.875,330.562 204.437,321.750 205.000,315.000 C205.562,308.250 206.562,302.562 209.000,297.000 C211.437,291.437 214.562,286.375 217.000,278.000 C219.437,269.625 220.125,263.562 221.000,254.000 C221.875,244.437 220.738,229.833 221.000,219.000 C221.262,208.167 219.206,201.569 234.000,191.000 C250.096,184.937 262.577,181.281 268.000,176.000 C273.423,170.719 274.674,170.693 276.000,166.000 C276.000,166.000 276.847,161.669 275.000,161.000 C273.285,160.905 262.000,161.000 262.000,161.000 C262.000,161.000 258.315,160.663 258.000,158.000 C258.083,155.337 258.000,152.000 258.000,152.000 C258.000,152.000 256.127,151.866 256.000,150.000 C255.873,148.134 256.050,147.236 257.000,147.000 C257.022,145.791 257.000,146.000 257.000,146.000 C257.000,146.000 255.994,145.799 256.000,145.000 C256.006,144.201 255.652,141.600 257.000,141.000 C256.978,139.472 257.000,138.000 257.000,138.000 L252.000,138.000 C252.000,138.000 248.678,137.974 250.000,133.000 C252.515,128.821 254.878,125.354 255.000,123.000 C255.122,120.513 252.822,118.855 253.000,115.000 C253.178,111.144 253.000,111.000 253.000,111.000 C253.000,111.000 254.171,105.594 255.000,103.000 C255.829,100.406 259.191,89.817 269.000,84.000 C275.511,80.717 273.027,81.520 280.000,80.000 C283.999,79.355 296.886,78.828 300.000,80.000 C303.231,80.997 314.861,82.937 321.000,95.000 C323.757,102.923 324.184,103.483 324.000,113.000 C323.816,122.516 323.975,122.713 322.000,129.000 C320.025,135.287 317.800,138.005 319.000,150.000 C320.200,161.995 319.863,173.187 327.000,178.000 C332.679,181.063 350.596,189.140 354.000,190.000 C357.404,190.860 370.676,196.502 372.000,211.000 C372.000,219.725 370.643,234.384 371.000,245.000 C371.148,249.980 371.788,271.869 377.000,283.000 C379.707,290.895 385.509,301.792 386.000,312.000 C386.282,317.198 385.752,326.291 388.000,335.000 C390.248,343.709 393.732,355.884 397.000,363.000 C400.268,370.116 399.800,370.214 404.000,371.000 C408.200,371.786 411.000,372.000 411.000,372.000 C411.000,372.000 416.841,373.203 418.000,375.000 C419.159,376.796 427.585,386.035 430.000,387.000 C432.415,387.965 432.000,388.000 432.000,388.000 C432.000,388.000 434.488,390.207 431.000,391.000 C429.092,391.064 424.397,390.650 421.000,388.000 C417.603,385.350 417.000,385.000 417.000,385.000 C417.000,385.000 413.557,383.660 414.000,388.000 C414.868,390.821 416.549,397.471 422.000,406.000 C426.600,414.954 428.124,416.657 428.000,420.000 C427.876,423.343 426.379,423.082 425.000,423.000 C423.925,423.040 424.000,423.000 424.000,423.000 C424.000,423.000 425.186,427.189 423.000,427.000 C421.107,426.974 421.531,426.740 420.000,425.000 C418.469,423.260 417.000,422.000 417.000,422.000 C417.000,422.000 415.030,421.971 416.000,424.000 C416.970,426.029 417.462,426.786 417.000,429.000 C416.694,430.200 414.523,431.116 412.000,429.000 C410.491,426.845 402.000,412.000 402.000,412.000 C402.000,412.000 400.754,411.287 401.000,413.000 C401.246,414.284 401.397,417.739 402.000,420.000 C402.603,422.261 403.631,425.363 402.000,428.000 C400.826,428.911 400.169,428.724 399.000,426.000 C397.831,423.276 394.058,411.578 393.000,409.000 C391.942,406.422 385.037,396.822 384.000,391.000 C382.963,385.178 378.749,371.983 376.000,367.000 C373.251,362.017 360.652,338.467 356.000,321.000 C353.041,313.164 350.451,306.225 350.000,298.000 C349.549,289.775 348.812,286.500 348.000,284.000 C347.187,282.875 346.375,282.375 346.000,287.000 C345.625,291.625 344.562,302.125 345.000,308.000 C345.437,313.875 350.088,350.337 352.000,357.000 C353.912,363.663 363.347,401.842 363.000,413.000 C362.653,424.158 360.222,461.762 360.000,472.000 C359.778,482.238 354.063,508.793 356.000,518.000 C357.937,527.207 360.957,543.210 361.000,552.000 C361.043,560.790 359.558,574.701 358.000,590.000 C356.442,605.299 352.274,625.182 352.000,636.000 C351.726,646.818 352.318,655.560 353.000,662.000 C353.682,666.830 353.328,671.094 355.000,675.000 C356.672,678.906 364.011,688.903 365.000,690.000 C365.989,691.097 366.312,694.737 365.000,697.000 C363.688,699.263 360.855,701.127 351.000,701.000 C341.145,700.873 338.000,701.000 338.000,701.000 C338.000,701.000 331.897,699.248 331.000,695.000 C331.368,690.292 331.000,662.000 331.000,662.000 C331.000,662.000 327.322,654.562 329.000,650.000 C330.103,645.438 332.357,630.720 331.000,621.000 C329.643,611.280 321.000,578.000 321.000,578.000 C321.000,578.000 320.364,571.331 320.000,561.000 C319.636,550.669 321.789,546.997 321.000,539.000 C320.211,531.003 316.345,521.514 315.000,517.000 C313.655,512.486 311.450,496.797 311.000,489.000 C310.550,481.203 309.361,471.959 308.000,466.000 C306.639,460.041 304.581,453.421 304.000,445.000 C303.419,436.579 302.570,421.543 302.000,417.000 C301.430,412.457 301.000,412.000 301.000,412.000 L291.000,412.000 C291.000,412.000 289.486,434.250 289.000,439.000 C288.514,443.750 286.369,455.190 285.000,462.000 C283.631,468.810 282.490,472.074 282.000,476.000 C281.510,479.926 280.970,493.961 280.000,501.000 C279.030,508.039 274.427,524.529 272.000,531.000 C271.028,536.410 270.659,552.433 271.000,556.000 C271.341,559.567 271.190,568.690 271.000,575.000 C269.750,578.658 264.028,601.899 263.000,608.000 C261.972,614.101 259.265,628.267 260.000,634.000 C260.735,639.732 263.000,650.000 263.000,650.000 C263.000,650.000 265.154,655.399 261.000,663.000 Z" id="path-1" style="stroke: inherit; filter: none; fill: inherit" class="cls-6"/>
    </g>
    <use xlink:href="#path-1" style="stroke: #75d360; filter: none; fill: none"/>
    <path d="M230.000,438.000 L230.000,431.000 C230.000,431.000 245.933,434.421 256.031,440.000 C265.184,443.774 274.370,448.221 288.000,442.000 C288.049,442.140 289.000,441.000 289.000,441.000 L288.000,448.000 C288.000,448.000 266.821,454.823 256.031,445.000 C243.436,441.023 233.352,439.203 230.000,438.000 Z" class="cls-7"/>
    <path d="M304.000,446.000 L304.000,441.000 C304.000,441.255 324.413,438.492 332.000,441.000 C339.601,443.513 343.402,453.396 361.000,455.000 C361.028,459.592 361.000,460.000 361.000,460.000 C361.000,460.000 345.715,461.914 331.000,447.000 C325.516,448.948 324.888,444.023 304.000,446.000 Z" class="cls-7"/>
    <path d="M231.000,683.000 C235.773,677.514 235.462,678.532 237.000,672.000 C238.538,665.468 240.895,647.139 241.000,641.000 C241.105,634.861 233.533,588.643 231.000,569.000 C231.429,556.663 232.029,536.582 234.000,525.000 C235.971,513.418 237.361,506.987 234.000,487.000 C232.813,475.127 231.143,455.059 230.005,438.078 C232.061,438.226 234.066,438.525 236.000,439.000 C266.444,446.471 262.912,452.412 281.000,449.000 C283.078,448.608 285.321,448.207 287.667,447.816 C286.830,452.642 285.787,458.084 285.000,462.000 C283.631,468.810 282.490,472.074 282.000,476.000 C281.510,479.926 280.970,493.961 280.000,501.000 C279.030,508.039 274.427,524.529 272.000,531.000 C271.028,536.410 270.659,552.433 271.000,556.000 C271.341,559.567 271.190,568.690 271.000,575.000 C269.750,578.658 264.028,601.899 263.000,608.000 C261.972,614.101 259.265,628.267 260.000,634.000 C260.735,639.732 263.000,650.000 263.000,650.000 C263.000,650.000 265.154,655.399 261.000,663.000 C261.000,663.000 261.149,683.777 261.000,692.000 C260.851,700.223 256.602,701.408 253.000,702.000 C249.003,701.803 232.000,701.000 232.000,701.000 C232.000,701.000 225.113,698.415 226.000,693.000 C227.875,687.190 226.227,688.486 231.000,683.000 ZM338.000,451.000 C342.946,456.432 350.214,459.368 360.548,459.367 C360.266,464.799 360.058,469.332 360.000,472.000 C359.778,482.238 354.063,508.793 356.000,518.000 C357.937,527.207 360.957,543.210 361.000,552.000 C361.043,560.790 359.558,574.701 358.000,590.000 C356.442,605.299 352.274,625.182 352.000,636.000 C351.726,646.818 352.318,655.560 353.000,662.000 C353.682,666.830 353.328,671.094 355.000,675.000 C356.672,678.906 364.011,688.903 365.000,690.000 C365.989,691.097 366.312,694.737 365.000,697.000 C363.688,699.263 360.855,701.127 351.000,701.000 C341.145,700.873 338.000,701.000 338.000,701.000 C338.000,701.000 331.897,699.248 331.000,695.000 C331.368,690.292 331.000,662.000 331.000,662.000 C331.000,662.000 327.322,654.562 329.000,650.000 C330.103,645.438 332.357,630.720 331.000,621.000 C329.643,611.280 321.000,578.000 321.000,578.000 C321.000,578.000 320.364,571.331 320.000,561.000 C319.636,550.669 321.789,546.997 321.000,539.000 C320.211,531.003 316.345,521.514 315.000,517.000 C313.655,512.486 311.450,496.797 311.000,489.000 C310.550,481.203 309.361,471.959 308.000,466.000 C306.676,460.202 304.703,453.763 304.061,445.663 C318.297,444.377 332.463,444.919 338.000,451.000 Z" class="cls-8"/>
  </svg>
</template>

<script>
  import BasePeoples from './BasePeoples'

  export default {
    mixins: [BasePeoples]
  }
</script>

<style scoped>
  .cls-1, .cls-3 {
    fill: #414042;
  }

  .cls-1, .cls-2, .cls-6, .cls-7, .cls-8 {
    fill-rule: evenodd;
  }

  .cls-2 {
    fill: #79ec63;
  }

  .cls-4, .cls-5 {
    font-size: 21.667px;
  }

  .cls-5 {
    fill: #fff;
    font-family: "Helvetica";
  }

  .cls-6 {
    fill: #f0f0f0;
    stroke: #75d360;
    stroke-linejoin: round;
    stroke-width: 2px;
    filter: url(#drop-shadow-1);
  }

  .cls-7 {
    fill: #66ce57;
    opacity: 0.5;
  }

  .cls-8 {
    fill: url(#linear-gradient-1);
  }
</style>
