.vue-friendly-iframe, .vue-friendly-iframe
  width 100%
  height 600px

.vdp-datepicker,
.vdp-datepicker input
  width 100%

.vdp-datepicker__clear-button
  position absolute
  right 0
  top 1px
  width 10px

.vdp-datepicker__calendar .cell.selected
  color #fafafa !important
  background $positive

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover
  border 1px solid $positive !important
