.no-padding-bottom
  padding-bottom 0 !important

.no-padding-top
  padding-top 0 !important

.no-padding
  padding 0 !important

.no-margin-top
  margin-top 0 !important

.no-margin-bottom
  margin-bottom 0 !important

.no-margin
  margin 0 !important

.center-block
  margin-left auto
  margin-right auto
  display block

