<template>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="560px" height="800px" viewBox="0 0 560 800" enable-background="new 0 0 560 800" xml:space="preserve">
<g>
  <defs>
    <path id="SVGID_1_" d="M469.344,604.997c-0.688-0.613-1.629-1.141-2.675-1.641c-2.026-0.922-4.341-1.258-6.147-2.597
      c-1.626-1.14-2.747-2.78-4.229-4.074c-2.278-1.977-4.59-3.938-6.941-5.896c-1.301-1.121-3.472-2.316-4.373-3.71
      c-2.026-3.144-4.157-6.224-5.676-9.652c-2.495-5.569-0.725-12.623-0.58-18.438c0.363-11.704,0.905-23.169,2.099-34.807
      c0.36-3.229,0.648-6.481,0.648-9.734c0-4.22,0.797-8.421,0.616-12.623c-0.252-4.201-1.121-8.36-1.665-12.525
      c-0.469-4.017-1.082-8.027-1.771-12.002c-0.288-1.612-1.157-3.946,0.544-5.022c1.446-0.864,4.338-0.946,6-1.34
      c0.253-4.22-0.036-8.276-0.324-12.487c-0.436-6.396-0.544-12.85-0.797-19.276c0,0,0.688-20.141,0.688-20.232
      c0.253-5.614,0.145-11.255,0.253-16.897c0.107-4.696,0.865-9.525,0.865-14.157c0.436-5.933,0.075-11.874,0.652-17.807
      c0.577-6.918-1.59-13.872-1.085-20.856c0.288-3.917,1.41-7.646,0.652-11.619c-0.256-1.604-0.616-3.244-1.121-4.82
      c-0.437-1.488-0.978-2.443-0.725-3.983c0.216-1.049,0.58-2.116,0.833-3.144c0.433-1.779,0.868-3.528,1.373-5.287
      c2.239-8.815,5.423-18.285,5.423-27.534c0-5.314,0.541-10.628,0.469-15.942c-0.035-5.129-1.698-10.125-1.698-15.2
      c-0.036-6.427,0.722-12.799,0.325-19.213c-0.108-5.826-0.108-11.659-0.434-17.464c-0.252-5.569-1.121-11.11-1.157-16.688
      c-0.036-3.226,0.108-6.444-0.036-9.661c-0.324-5.341-1.085-10.528-2.603-15.657c-0.869-3.025-1.843-5.972-2.784-8.943
      c-2.022-6.324-4.554-13.417-10.954-16.303c-1.698-0.767-6.436-6.117-7.737-6.444c-2.131-0.521-4.771-2.753-6.433-4.129
      c-3.905-3.062-7.954-7.566-10.013-12.123c-0.869-1.84-2.135-3.874-2.567-5.869c-0.688-3.107,0.433-6.308,0.757-9.397
      c0.869-8.667,0.581-17.5-0.469-26.14c-1.409-10.756-5.639-21.626-11.714-30.569c-1.699-2.534-4.086-4.383-6.289-6.445
      c-3.184-3.016-6.94-5.02-11.426-5.02c-2.275,0-4.446-0.655-6.686-0.958c-2.314-0.309-4.593-0.154-6.941,0.063
      c-3.039,0.337-5.642,0.794-7.953,2.907c-2.315,2.107-3.905,4.841-5.82,7.258c-2.387,3.062-4.232,6.314-6.363,9.53
      c-2.026,3.102-4.918,5.505-7.229,8.349c-2.967,3.674-3.797,8.04-4.377,12.642c-0.325,2.661-0.433,5.371-0.722,8.051
      c-0.761,6.524,0.577,13.896,2.023,20.241c0.363,1.567,1.374,3.635,1.374,5.232c0.94,3.353,3.255,5.278,4.846,8.203
      c0.868,1.585,1.193,3.498,1.265,5.284c0.036,1.334-0.402,4.726-1.193,5.542c-0.285,0.294-0.396,0.091-0.868,1.389
      c-0.803,2.21-5.676,6.587-6.181,7.545c-0.396,0.821-0.36,0.591-1.229,1.031c-1.193,0.609-2.459,1.094-3.652,1.613
      c-2.711,1.167-5.64,2.076-8.242,3.417c-1.193,0.594-2.531,1.021-3.722,1.661c-2.676,1.467-6.039,4.02-7.773,6.605
      c-3.652,5.396-4.482,12.068-5.892,18.295c-2.82,12.256-1.555,24.087-1.229,36.52l-0.761,8.558
      c-0.433,4.905-1.951,9.97-2.892,14.812c-1.229,6.169-3.905,12.478-6.581,18.137c-1.265,2.598-3.541,5.114-4.481,7.831
      c-0.108,0.328-3.289,7.436-3.289,7.436l0.217-2.188c-0.797-10.361-1.99-20.972-4.121-31.133c-0.616-2.871-1.374-5.745-2.387-8.503
      c-2.168-5.972-1.951-12.386-3-18.577c-0.978-5.687,8.747-5.796,9.977-10.689c0.469-1.998-0.901-4.359-1.518-6.208
      c-0.905-2.807-1.771-5.632-2.604-8.467c-1.59-5.505-2.819-11.183-4.554-16.643c-2.026-6.472-4.555-12.862-7.086-19.168
      c-1.409-3.583-3.255-6.963-4.882-10.488c-1.771-3.965-2.892-8.367-5.566-11.887c-4.302-5.541-11.459-6.899-17.063-10.592
      c-5.314-3.489-10.846-6.369-16.485-9.334c-3.436-1.858-6.581-3.662-8.967-6.851c-2.675-3.529-0.902-7.385,0.433-11.02
      c0.688-1.934,2.423-3.774,2.931-5.696c0,0,1.302-2.562,1.338-2.634c1.337-2.635,2.059-5.769,1.951-8.716
      c-0.108-3.025-2.278-5.787-1.951-8.831c0.108-0.822,0.649-1.276,0.974-2.003c0.436-1.276,0.905-2.765,1.302-4.065
      c0.652-2.271-0.216-4.769-0.541-7.012c-0.508-3.808-1.121-7.582-2.279-11.344c-0.541-1.716,1.266-3.619,1.954-5.087
      c1.518-3.007,0.722-6.79-1.737-8.906c-2.564-2.167-5.495-1.913-8.567-2.577c-3.144-0.703-5.567-2.964-8.495-4.196
      c-4.626-1.949-9.255-2.076-14.243-1.54c-8.858,0.931-18.187,2.352-24.187,9.634c-1.807,2.116-3.472,4.559-4.698,7.009
      c-2.062,4.192-3.4,7.93-3.4,12.641c0,5.944,1.518,11.978,3.616,17.473c1.122,2.771,2.604,5.333,3.833,8.03
      c1.734,3.956,3.252,9.807,2.167,14.099c-0.18,0.649-0.977,1.422-1.301,2.049c-1.085,1.898-2.315,4.123-3.036,6.136
      c-1.59,4.465-3.217,7.627-6.581,10.901c-1.337,1.268-2.711,2.486-4.229,3.508c-3.18,2.161-7.049,3.083-10.41,4.968
      c-3.364,1.84-6.616,3.771-10.052,5.333c-3.433,1.513-6.869,3.189-9.508,5.896c-1.843,1.931-2.64,4.375-3.289,6.917
      c-0.652,2.471-1.626,4.838-2.423,7.264c-1.374,4.11-2.819,8.176-4.446,12.159c-1.554,3.856-2.639,7.781-3.796,11.777
      c-2.095,7.124-4.41,14.153-6.869,21.162c-1.878,5.32-4.085,10.298-5.278,15.976c-0.145,0.958,11.062,4.969,12.4,5.487
      l-0.938,7.212c-1.193,9.021-3.147,18.355-2.207,27.486c0.433,4.405,1.699,8.521,3.217,12.65c1.446,3.856,2.351,7.903,3.905,11.705
      c2.387,5.76,5.459,11.174,9.111,16.221c3.469,4.75,7.193,9.334,9.472,14.821c1.518,3.61,2.167,7.527,3.869,11.065
      c1.698,3.583,5.203,6.372,6.216,10.219c0.833,3.271-0.905,6.642-0.833,9.961c0.111,3.162,1.049,6.233,0.616,9.434
      c-0.397,3.234-1.122,5.987-0.977,9.321c0.144,3.438,0.436,7.118,1.266,10.483c0.36,1.604,1.265,2.871,1.843,4.356
      c0.94,2.286-0.036,3.289-0.542,5.451c-0.541,2.407,0,4.978,0,7.409c0,2.489-0.216,4.987,0.577,7.403
      c0.797,2.403,2.895,4.355,2.64,7.072c-0.289,3.507,1.482,7.317,2.242,10.746c0.797,3.98,1.41,8.036,1.987,12.083
      c1.265,8.906,1.557,17.982,2.387,26.95c0.4,4.256-1.734,8.221-1.302,12.459c0.108,0.867,0.18,2.107,0.652,2.844
      c0.613,0.83,2.095,0.967,2.603,1.897c0.794,1.613-0.869,4.356-1.301,5.951c-1.774,7.54-2.279,15.139-2.531,22.851
      c-0.144,4.266-0.58,8.558-0.072,12.777c0.758,6.481,4.158,12.596,4.193,19.186c0,1.887,1.338,4.348,1.987,6.078
      c0.616,1.789,1.665,3.402,2.098,5.26c0.577,2.835-1.229,2.662-2.928,4.447c-1.518,1.658-1.302,4.084-1.085,6.154
      c0.216,2.853,0.649,5.714,0.833,8.549c0.181,3.143-0.616,6.26,0.108,9.516c0.505,2.276,0.613,4.965,1.879,7.018
      c1.302,2.113,3.58,1.967,5.711,2.743c3.144,1.186,6.292,2.616,9.688,2.095c0.76,1.758,1.59,3.528,2.17,5.378
      c1.157,3.819,0.974,8.085,1.302,12.068c0.36,5.669-2.423,10.891-4.666,15.902c-1.157,2.571-1.554,5.405-2.531,8.049
      c-1.01,2.753-2.748,4.802-4.807,6.836c-1.554,1.53-3.361,2.798-5.314,3.71c-1.554,0.765-3.833,1.101-4.374,3.099
      c-0.361,1.186-0.072,2.661,0.833,3.562c1.19,1.149,3.613,0.686,5.131,0.968c7.738,1.521,18.908,4.11,25.921-0.949
      c2.603-1.849,2.855-5.011,4.301-7.646c1.482-2.807,3.797-2.397,6.075-4.102c0.83-0.682,1.554-1.64,2.384-2.416
      c1.99-1.813,1.629-4.747,1.446-7.19c-0.217-3.71-1.119-7.345-1.987-10.964c-0.469-1.84-1.374-4.083-1.374-5.987
      c0-0.339-0.252-3.765-0.252-4.119c0-3.119-1.626-5.908-2.495-8.813c-1.121-3.665-0.469-5.918,1.698-8.971
      c0.905-1.349,1.954-2.598,2.928-3.919c1.554-2.226,0.18-4.82-0.036-7.2c-0.252-2.279,0.472-4.602,0.905-6.826
      c0.76-3.956,0.833-8.559,3.144-11.965c0.797-1.149,0.941-2.874,0-4.032c-1.337-1.749-3.721-2.141-5.495-3.426
      c-2.603-1.958-1.734-5.021-2.458-7.876c-1.263-5.229-1.951-10.471-2.492-15.848c-0.18-1.704-0.072-3.438-0.292-5.15
      c-0.216-1.586-0.794-3.053-1.082-4.629c-0.436-2.535,1.046-5.278,1.082-7.867c0-2.971-0.433-5.869-0.866-8.775
      c-0.797-5.643,0.941-10.053,2.567-15.321c1.374-4.429,3.108-8.979,2.456-13.69c-0.361-2.916-1.046-5.905-0.216-8.812
      c0.76-2.698,1.737-5.114,1.99-7.966c0.613-5.905-0.436-11.823-0.436-17.719c-0.145-3.735-0.577-7.766-0.397-11.556
      c0.144-4.668,1.554-9.425,2.207-14.044c0.685-4.933,1.157-9.861,1.157-14.83c0-0.437,1.482,3.507,1.482,4.32
      c0,1.385,0.686,2.798,0.757,4.21c0.145,2.334-0.18,4.393,0.616,6.627c0.83,2.161,1.915,4.02,2.204,6.333
      c0.328,2.801,0.18,5.614,0.472,8.416c0.433,3.644,0.793,7.3,0.757,10.943c-0.072,3.792-0.721,7.476-0.216,11.259
      c0.541,3.771,1.626,7.445,2.134,11.229c0.649,4.802,0.252,9.361,0.289,14.136c0.072,6.927,1.049,13.79,1.121,20.717
      c0.036,6.417,1.807,11.965,2.928,18.191c0.253,1.295-0.072,2.116,0.036,3.198c0.217,2.289-0.216,2.625-0.325,4.459
      c-0.292,4.426,3.036,9.004,1.374,13.359c-0.652,1.658-2.098,2.253-3.292,3.362c-1.554,1.321-1.771,3.274-1.987,5.169
      c-0.399,2.925-1.518,5.914-1.518,8.849c0,4.129-1.446,9.524,0.397,13.436c1.554,3.219,5.423,3.037,8.134,4.565
      c3.722,2.033,2.059,8.434,1.771,11.786c-0.685,7.957-0.613,16.261-4.482,23.451c-2.784,5.159-1.662,10.144-1.81,15.702
      c-0.145,4.002-1.446,7.876-1.446,11.923c0.036,3.774-1.699,8.294,1.013,11.538c0.941,1.167,1.554,3.289,2.748,4.065
      c3.108,2.013,7.229-0.501,10.052-1.831c2.528-1.168,4.987-2.325,7.302-3.848c3-1.997,5.675-4.42,9.108-5.732
      c1.882-0.721,4.269-1.631,3.941-4.138c-0.181-1.422-0.433-2.825-1.554-3.783c-3.036-2.524-7.122-3.106-9.508-6.417
      c3.292-3.354,1.302-9.085,1.193-13.16c-0.108-4.338,0.977-9.343,2.279-13.45c0.793-2.644,1.915-5.005,2.639-7.712
      c1.338-5.287,2.095-10.61,3.072-15.97c0.905,0.14,1.843,0.357,2.748,0.357c3.469,0,8.568,1.213,11.026-2.125
      c2.06-2.671,1.122-6.499,1.41-9.606c0.253-2.395,1.229-4.647,1.734-6.99c0.508-2.398,0.544-4.875,0.688-7.309
      c0.145-1.816,0.505-3.865-0.108-5.624c-0.508-1.503-2.062-1.239-2.964-2.416c-1.085-1.513-0.436-3.525-0.255-5.196
      c0.18-1.912,0.144-3.883,0.071-5.786c-0.18-5.333-0.793-10.628-1.265-15.939c-0.145-1.853-0.434-3.747-0.506-5.614
      c-0.107-3.283,0.145-6.272,0.761-9.516c0.758-3.929,0.072-8.058-0.072-12.014c-0.147-4.493-0.436-9.003-0.58-13.499
      c-0.36-8.831,0.289-17.683,0.652-26.495c0.072-0.931,0.108-1.858,0.145-2.779c0.396-8.795,0.505-17.637,1.266-26.413
      c0.433-5.633,1.302-11.238,1.59-16.879c0.108-1.895,1.662-2.343,3.361-1.622c1.121,0.455,1.59,1.23,2.892,1.385
      c1.157,0.118,2.314-0.055,3.508,0.118c2.567,0.4,7.266-2.434,8.784-4.674c0.252-0.331,4.665-4.202,3.508-4.796
      c0,0-0.616-1.112-0.652-1.149c0.108,0.2,1.701-2.404,1.773-2.625c0.613-1.686,0.613-3.534,0.865-5.302
      c0.253-2.016,0.761-4.001,1.122-5.999c0.433-2.589-0.072-5.102-0.325-7.709c-0.616-5.705-0.725-11.514,0.289-17.173
      c4.445-6.196,9.508-11.965,13.81-18.192c2.387-3.419,4.773-6.836,7.157-10.243l5.099-7.912c2.494-3.865,5.459-8.185,7.157-12.495
      c2.206-5.569,3.688-11.411,5.278-17.191c3.472-12.411,5.351-25.273,8.314-37.805c-0.252,1.049,1.157,3.883,1.734,4.75
      c0.4,0.573,1.086,0.903,1.05,1.585c-0.036,0.555-0.905,0.949-0.905,1.531c0,1.749-1.759,18.592-1.025,21.269
      c0.343,1.261-5.516,20.811-5.155,22.142c0.434,1.395-1.157,19.386-1.626,21.129c-0.652,2.304-3.256,11.138-3.761,11.665
      c-1.915,2.122-1.302,4.869-1.626,7.427c-0.36,2.689-1.807,12.213-1.807,12.541c0,2.498-0.364,12.814-0.869,15.579
      c-0.505,2.925-1.554,5.724-2.242,8.612c-1.193,4.875-2.06,9.87-2.711,14.827c-0.722,5.651-0.506,11.022-1.951,16.6
      c-1.157,4.244-0.688,9.058-0.797,13.433c-0.072,1.485,0,3.007-0.252,4.465c-0.434,2.535-1.374,4.851-1.663,7.394
      c-0.288,2.98-0.324,5.996-0.541,8.985c0,0-0.327,6.182-0.327,6.5c0,1.949-0.975,4.229-1.41,6.123
      c-0.974,3.938-1.807,7.857-2.495,11.841c-0.288,2.234-0.722,4.483-1.01,6.727c-0.217,1.594-0.472,3.18-0.725,4.756
      c-0.108,0.858-0.686,2.807-0.577,3.538c0.289,1.74,4.266,1.713,5.676,2.095c1.734,0.476,3.144,2.471,4.662,3.483
      c5.098,3.362,9.943,3.726,15.908,4.22c5.206,0.446,10.409,0.719,15.616,0.882c0.832,0.019,1.59,0.076,2.387,0.101
      c0.145,1.661,0.216,3.438,0.36,5.041c0.364,5.869,1.302,11.711,1.773,17.601c0.47,6.023,0.649,12.104,1.227,18.138
      c0.292,3.316,0.725,6.608,1.41,9.888c1.049,5.224,3.111,10.234,4.196,15.467c2.131,10.355,4.046,20.754,7.121,30.872
      c1.082,3.544,2.64,7.088,3.577,10.743c0.941,3.811,1.121,7.876,1.482,11.777c0.255,2.678,0.508,5.441,0.108,8.109
      c-0.217,1.298-0.577,2.808-1.446,3.847c-1.046,1.304-2.855,1.304-3.974,2.353c-0.797,0.736-1.229,1.877-2.315,2.162
      c-1.301,0.309-2.494-0.831-3.76-0.35c-3.181,1.213-0.217,5.242,1.013,6.673c2.495,2.861,7.302,2.743,10.737,3.347
      c3.941,0.673,7.843,1.612,11.82,1.985c3.291,0.31,7.484,0.628,10.521-0.931c4.086-2.086-0.072-9.148-0.324-12.047
      c-0.652-6.508-0.978-13.208-2.171-19.643c-0.94-4.738-0.505-9.694-0.721-14.518c-0.292-5.224-0.509-10.438-0.437-15.63
      c0.072-6.018,0.217-12.032,0.325-18.056v-9.479c0-9.442-0.434-18.904-0.434-28.338c0.509-9.385,1.338-18.765,2.279-28.098
      c3.904,0.327,7.518,1.021,11.351,0.699c0.869,2.938,1.662,5.881,2.64,8.807c0.832,2.644,1.771,5.251,2.314,7.984
      c0.541,2.623,0.577,5.333,0.901,7.994c0.437,2.604,0.58,5.584,1.302,8.101c0.977,2.897,0.977,5.96,1.482,8.925
      c0.58,3.098,1.737,6.06,2.603,9.058c0.869,2.929,1.338,5.923,2.063,8.879c0.758,3.38,1.626,6.8,2.495,10.125
      c0.649,2.389,0.901,5.005,1.19,7.427c0.688,5.451,1.302,10.893,1.99,16.343c0.757,5.405,2.351,10.774,2.387,16.233
      c0.036,4.747,0.036,9.807,3.18,13.699c2.964,3.716,7.738,4.464,12.22,4.464c0.361,0,0.902,0.9,0.902,0.9
      c3.291,5.16,5.605,14.775,11.967,16.955c3.688,1.295,7.882-0.264,11.17-1.998c1.846-0.981,3.4-2.504,4.99-3.789
      c1.698-1.367,3.361-2.007,5.387-2.725C470.679,611.605,472.85,608.122,469.344,604.997z M140.003,270.229
      c-0.977,2.279-1.843,4.568-2.748,6.857c0.361-0.985-1.518-4.341-1.807-5.323c-1.59-4.632-2.892-9.488-4.81-13.975
      c-1.338-3.307-3.072-6.569-3.833-10.088c-1.19-5.141-0.433-10.589,0.508-15.703c1.013-5.569,2.095-10.398,5.131-15.167
      c-0.433,0.64,0.436,2.016,0.58,2.625c0.396,1.267,0.577,2.534,0.613,3.855c0.219,4.656-1.083,9.34-0.722,14.009
      c0.108,2.058,0.686,4.047,1.446,5.969c1.663,4.074,4.194,7.967,5.315,12.231c0.541,2.007,0.433,4.138,0.649,6.196
      c0.108,1.031,0,2.089,0.36,3.056c0.364,0.819,0.905,0.992,0.725,1.968c-0.18,0.912-0.76,1.913-1.121,2.771
      C140.183,269.738,140.075,269.993,140.003,270.229z M262.881,374.007c-0.83,1.219-2.855,1.546-4.049,1.795
      c-0.577,0.109-1.083,0.527-1.627,0.709c-0.216-2.304-0.216-5.551,0.437-7.754c0.071-0.321,3.721,2.989,4.01,3.198
      C262.484,372.564,263.713,372.601,262.881,374.007z M262.484,327.578c-0.941,2.671-2.315,5.423-4.915,6.809
      c-0.509-2.025-0.256-4.329-0.509-6.381c-1.157-8.54-2.239-17.134-3.688-25.646c-0.613-3.601-1.299-7.193-1.952-10.782
      c-0.649-3.42-2.207-6.7-2.459-10.174c-0.289-4.117,2.351-7.1,3.617-10.762c0.865-2.479,1.41-5.378,0.722-7.994
      c-1.19-4.747-4.807-7.909-4.843-13.141c-0.072-2.271,0.216-4.632,0-6.881c-0.216-2.161-0.869-4.232-1.302-6.336
      c-0.869-4.438-0.977-8.849,0.289-13.259c0.869,1.604,2.134,3.625,2.134,5.505c0,2.14,1.229,4.82,1.879,6.851
      c1.013,3.483,1.338,7.13,2.207,10.656c1.59,6.236,2.784,12.605,3.145,19.041c0.469,7.545,2.423,15.057,4.085,22.42
      c1.049,4.838,2.351,9.679,3.289,14.539c0.616,3.289,0.725,6.615,1.665,9.84c0.901,3.265,1.698,6.639-0.22,9.737
      C264.398,323.585,263.244,325.298,262.484,327.578z M427.587,267.222c-1.013-2.176-1.445-4.547-2.314-6.772
      c-0.757-1.85-2.563-3.717-2.456-5.824c0.108-1.313,0.975-2.422,1.118-3.756c0.184-1.455-0.324-2.935-0.324-4.39
      c0-1.534,0.508-3.028,0.58-4.586c0.036-2.516,0.108-5.139,0.036-7.654c-0.036-2.838-0.253-5.16,0.145-7.994
      c-0.361,2.534,0.649,6.224,0.94,8.895c0.253,3.125,0.505,6.254,0.794,9.388c0.541,6.324,1.157,12.659,2.026,18.94
      c0.396,3.262,0.974,6.478,1.986,9.616C429.25,271.132,428.456,269.147,427.587,267.222z"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_"  overflow="visible"/>
  </clipPath>

    <use xlink:href="#SVGID_1_"  overflow="visible" fill="none" stroke="#60B150" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>
</g>
<path fill="none" stroke="#B0E9A2" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M317.927,140.065"/>
<polygon fill="#424143" points="457.261,747.848 190.665,747.848 190.665,656.596 457.261,656.596 436.543,702.221 "/>
<polygon fill="#FF6700" points="448.141,747.848 181.536,747.848 181.536,656.596 448.141,656.596 427.422,702.221 "/>
<text transform="matrix(1 0 0 1 201.0815 712.8301)" fill="#FFFFFF" font-family="'Helvetica'" font-size="35.4394">$300,000,000</text>
<rect x="170.587" y="656.596" fill="#424143" width="10.948" height="91.258"/>
</svg>

</template>
