<template lang="pug">
  q-tabs(
    align="center"
    position="top"
    color="positive"
    no-pane-border
    inverted
    :two-lines="false"
  )
    q-tab(
      default
      slot="title"
      name="personal-details"
      icon="info outline"
      label="Personal"
    )
    q-tab(
      slot="title"
      name="children-details"
      icon="face"
      label="Children"
    )
    q-tab(
      slot="title"
      name="expenses-details"
      icon="monetization on"
      label="Expenses"
    )
    q-tab(
      slot="title"
      name="notes"
      icon="event note"
      label="Notes"
    )

    //- Personal Details
    q-tab-pane(name="personal-details")
      div(class="row" style="margin-bottom: 8px")
        div(class="col-md-12")
          include blocks/accountant-details
      div(class="row md-gutter")
        div(class="col-md-6")
          include blocks/client/details
        div(class="col-md-6")
          include blocks/partner/details

    //- Children Details
    q-tab-pane(name="children-details")
      div(class="children-details--container")
        q-field(
          label="Do you have kids?"
          :labelWidth="4"
        )
          q-select(
            clearable
            color="positive"
            :options="getYesOrNo"
            :value="loaField.have_childrens"
            @change="value => updateLoaField(value, 'have_childrens')"
          )
        template(v-if="loaField.have_childrens === 'yes'")
          p(class="row text-blue no-margin-bottom") What are the kids names and ages?
          include blocks/children-items
          div(class="row md-gutter" style="margin-top: 8px")
            div(class="col-md-3")
              q-input(
                placeholder="Name"
                :value="child.name"
                @change="value => child.name = value"
                @keyup.enter="addChildren"
              )
            div(class="col-md-3")
              div(class="q-if row no-wrap items-center relative-position q-input text-faded")
                datepicker(
                  clear-button
                  :value="child.date_of_birth"
                  @input="value => child.date_of_birth = value"
                )
            div(class="col-md-2")
              q-input(
                :disable="!!child.date_of_birth"
                placeholder="Age"
                type="number"
                v-model="child.age"
              )
            div(class="col-md-2 flex")
              q-toggle(
                left-label
                color="positive"
                label="Studying"
                v-model="child.studying"
              )
            div(class="col-md-2 flex")
              q-btn(
                color="positive"
                class="full-width"
                @click="addChildren"
              ) Add

    q-tab-pane(name="expenses-details")
      include blocks/expenses-details

    q-tab-pane(name="notes")
      q-input(
        type="textarea"
        :max-height="100"
        :min-rows="7"
        float-label="Add Notes"
        :value="loaField.notes"
        @change="value => updateLoaField(value, 'notes')"
      )
</template>

<script>
import {
  QTabs,
  QTab,
  QTabPane,
  QSelect,
  QBtn,
  uid,
  QToggle
} from 'quasar'
import { mapGetters } from 'vuex'
import { QInput, QField } from '@/quasar'
import { set, filter, cloneDeep, eq } from 'lodash';
import Datepicker from '@/datepicker/Datepicker'
import LoaFieldableMixin from 'src/mixins/LoaFieldableMixin'
import { getYesOrNo, propertyTypeOptions, mortgageRepaymentMethods } from 'src/config/option-values'

const CHILD_SCHEMA = {
  id: 0,
  name: null,
  age: null,
  studying: false,
  date_of_birth: (new Date())
}

export default {
  name: 'important-info',
  mixins: [LoaFieldableMixin],
  data: () => ({
    child: cloneDeep(CHILD_SCHEMA),
    arrayOfChildrens: []
  }),
  created () {
    const { fatal_entitlement_childrens: childrens } = this.loaField
    this.arrayOfChildrens = childrens
  },
  watch: {
    child: {
      handler: 'childHandler',
      immediate: true,
      deep: true,
    },
    arrayOfChildrens: {
      handler: 'arrayOfChildrensHandler',
      deep: true,
    },
  },
  methods: {
    async arrayOfChildrensHandler (childrens) {
      let category = 'no-child'
      const { have_childrens } = this.loaField

      if (have_childrens === 'yes') {
        if (childrens.length <= 2) {
          category = 'less-than-two-children'
        }

        if (childrens.length > 2) {
          category = 'greater-than-two-children'
        }

        if (filter(childrens, 'studying').length) {
          category = 'studying-children'
        }

        if (!childrens.length) {
          category = 'no-child'
        }
      }

      await this.updateLoaField({
        fatal_entitlement_category_type: category,
        fatal_entitlement_childrens: childrens
      })
    },
    childHandler({ date_of_birth }) {
      if (date_of_birth)
        set(this.child, 'age', this.$filters.getAgeByDate(date_of_birth))
    },
    addChildren () {
      let value = this.child.name

      if (!value) return // eslint-disable-line

      this.arrayOfChildrens.push({
        id: uid(),
        ...this.child
      })

      this.child = cloneDeep(CHILD_SCHEMA)
    },
    modifyChildren (value, child, field) {
      if (field === 'date_of_birth') {
        set(child, 'age', this.$filters.getAgeByDate(value))
        set(child, field, value)
      }
      else {
        set(child, field, value)
      }
    },
    removeChildren (child) {
      const childrens = filter(this.arrayOfChildrens, (item) => {
        return item.id !== child.id
      })
      this.arrayOfChildrens = childrens
    }
  },
  computed: {
    getYesOrNo,
    propertyTypeOptions,
    mortgageRepaymentMethods,
    ...mapGetters('app', {
      appConfig: 'config'
    }),
    ...mapGetters('letterOfAuthority', [
      'clientInsuranceProviders',
      'partnerInsuranceProviders',
    ]),
    ...mapGetters('insuranceProviders', ['mapProviders']),
    getExistingCovers () {
      const values = [
        { label: 'I don\'t know', value: 'I don\'t know' },
        { label: 'Others', value: 'Others' }
      ]
      return this.mapProviders.concat(values)
    },
    getAddressAfterIcon () {
      return [
        {
          icon: 'sync',
          handler: () => {
            const { client_address: address } = this.loaField
            this.updateLoaField(address, 'partner_address')
          }
        }
      ]
    },
    getDeterminedMortgageAndRentalTypeLabel() {
      return eq(this.loaField.household_building_expense, 'mortgage-repayments')
        ? 'Mortgage Repayments Type'
        : 'Rental Payments Type';
    },
    getDeterminedMortgageAndRentalLabel () {
      return eq(this.loaField.household_building_expense, 'mortgage-repayments')
        ? 'Mortgage Repayments (inc Rental property mortgage repayments)'
        : 'Rental Payments';
    }
  },
  components: {
    Datepicker,
    QTabs,
    QTab,
    QTabPane,
    QField,
    QInput,
    QSelect,
    QBtn,
    QToggle
  }
}
</script>

<style lang="stylus" scoped>
.children-details--container
  min-height 100vh
</style>
