<template>

Open SVG

Paste markup
Demo
Contribute
About
Powered by the incredible SVGO


16.36k → 4.17k 25.5%
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="600" viewBox="0 0 800 600">
  <defs>
    <path id="a" d="M729.87 264.754c-3.237-7.013.808-23.677-7.686-30.689-9.309-2.635-10.521-6.136-20.637 8.77 0 0-7.685-5.265-16.179-3.51-8.503 1.753-15.379 8.771-16.596 11.4-1.21 2.627 1.215 14.906 1.215 14.906l-2.427 5.696 2.829 2.633s.402 10.078 1.619 10.078 6.472 3.071 10.92-.875c.813 2.633 0 6.573 0 6.573s-6.874-.873-8.896.439c-2.022 1.315-5.666 4.821-5.666 4.821s-3.232-.877-5.263-3.945c-2.016-3.069-5.658-16.662-9.71-15.784-.646.14-1.503.387-2.448.769-.652-7.555-1.563-19.189-1.732-27.399-.271-13.112-6.741-40.707-7.815-41.8-1.084-1.099-6.168-23.446-9.313-42.568-3.145-19.127-27.052-24.226-27.052-24.226s-10.574-.42-11.324-5.095c-1.269-5.74 1.251-17.209 6.284-22.952 6.928-19.121-3.144-32.505-3.144-32.505s-3.776-5.099-13.845-5.737c-10.068-.64-11.95 3.822-17.616 6.371-5.663 2.549-5.038 17.848-5.038 17.848 1.234 21.747 5.515 21.969 5.515 21.969l1.894 6.01s5.666 8.738-14.025 11.477c-18.077 2.462-23.124 5.432-26.168 12.021-4.742 10.247-11.593 43.715-11.593 43.715s-7.285 22.407-14.3 31.969c-5.933 9.014-5.933 21.038-5.933 21.038s-4.586 35.52-6.743 44.539c-2.158 9.016 9.173 17.492 14.297 4.646 5.127-12.848-1.888-12.026-2.155-20.218-.277-8.2 7.014-19.947 9.703-25.136 2.697-5.196 8.359-15.575 8.359-15.575s1.89-4.918 2.433-6.014c6.739-10.112 5.664-15.303 5.664-15.303l3.776 1.368 4.047-6.286s1.889 6.834 1.071 7.927c-.796 1.094-2.149 8.2-2.149 8.2s-1.619 16.387-5.116 21.578c-3.516 5.187-1.896 17.76-5.944 25.408-4.048 7.649 2.432 9.291 2.432 9.291l-3.238 36.887 5.666 1.642 6.475 34.969s-1.076 16.942-.269 29.24c.813 12.294 11.329 23.766 14.023 39.611 2.697 15.854-3.237 24.594-3.237 24.594s-22.386 12.563-21.846 23.771c.542 11.205 24.821 0 24.821 0s1.346-6.554 9.71-9.287c8.356-2.734 8.898-4.378 9.71-9.837.809-5.464-3.244-7.375-4.862-15.846-1.608-8.471-1.071-26.783-.539-31.153 3.237-19.396-1.883-28.417-3.237-32.521-1.346-4.09-1.339-13.11-1.339-13.11l2.149-37.437 2.966.817 4.319-7.649.809 6.558 7.021 1.637 1.882 27.053 3.777 21.583s0 6.286-2.427 24.046c-2.434 17.761 4.046 36.343 3.775 41.534-.263 5.188-3.507 26.229-3.507 26.229s-15.107 10.11 3.776 12.294c18.882 2.188 18.069-4.644 17.804-7.929-.271-3.277-7.285-5.457-7.285-5.457l-.27-12.298s6.479-28.148 7.822-31.147c7.276-19.941 2.433-44.806 2.16-49.183-.271-4.369 1.349-22.401 1.349-22.401l3.769-27.869 9.173.278.54-39.342s2.968-.547 2.968-2.19c0-1.634-3.771-52.46-3.771-52.46l-.271-31.971s15.106 30.604 14.287 35.523c-.803 4.915 3.776 16.119 6.744 23.772 2.964 7.65 4.315 18.304 5.125 26.776-5.933 12.841-1.618 21.862 5.938 19.945.637-.163 1.166-.443 1.653-.772 7.311 9.254 9.675 7.042 10.755 11.709 1.209 5.263 2.433 21.044.813 26.743-1.618 5.702-6.882 36.388-6.882 36.388l8.896 10.521-.396 33.76s-3.238 8.326 10.106 24.55c4.052 7.886 6.479 17.532 6.479 17.532s1.614 5.704 0 6.577c-1.618.875-12.145 3.508-9.309 9.202 2.83 5.706 8.495 7.452 14.975 7.021 6.475-.442 16.995 3.94 16.587-14.028-.398-17.975 2.021-34.189 2.021-34.189l-1.211-7.017s-4.448-13.151.81-26.743c5.257-13.59 10.521-20.601 9.312-40.768-1.227-20.167-5.663-6.14-1.626-22.798 4.046-16.658 7.29-19.729 5.665-35.947-1.619-16.217-16.188-15.782-16.188-15.782s-2.827-3.508-2.02-5.262c.813-1.755 15.379-7.452 11.33-28.051 7.691-8.33 5.668 15.776 15.372 20.16 9.716 4.386 12.546-3.504 12.546-3.504s-4.457 2.192-7.693-4.817z"/>
  </defs>
  <clipPath id="b">
    <use xlink:href="#a" overflow="visible"/>
  </clipPath>
  <path clip-path="url(#b)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" d="M50.11 45.001h731.107v479.492H50.11z"/>
  <path fill="none" stroke="#62C555" stroke-miterlimit="10" d="M729.87 264.754c-3.237-7.013.808-23.677-7.686-30.689-9.309-2.635-10.521-6.136-20.637 8.77 0 0-7.685-5.265-16.179-3.51-8.503 1.753-15.379 8.771-16.596 11.4-1.21 2.627 1.215 14.906 1.215 14.906l-2.427 5.696 2.829 2.633s.402 10.078 1.619 10.078 6.472 3.071 10.92-.875c.813 2.633 0 6.573 0 6.573s-6.874-.873-8.896.439c-2.022 1.315-5.666 4.821-5.666 4.821s-3.232-.877-5.263-3.945c-2.016-3.069-5.658-16.662-9.71-15.784-.646.14-1.503.387-2.448.769-.652-7.555-1.563-19.189-1.732-27.399-.271-13.112-6.741-40.707-7.815-41.8-1.084-1.099-6.168-23.446-9.313-42.568-3.145-19.127-27.052-24.226-27.052-24.226s-10.574-.42-11.324-5.095c-1.269-5.74 1.251-17.209 6.284-22.952 6.928-19.121-3.144-32.505-3.144-32.505s-3.776-5.099-13.845-5.737c-10.068-.64-11.95 3.822-17.616 6.371-5.663 2.549-5.038 17.848-5.038 17.848 1.234 21.747 5.515 21.969 5.515 21.969l1.894 6.01s5.666 8.738-14.025 11.477c-18.077 2.462-23.124 5.432-26.168 12.021-4.742 10.247-11.593 43.715-11.593 43.715s-7.285 22.407-14.3 31.969c-5.933 9.014-5.933 21.038-5.933 21.038s-4.586 35.52-6.743 44.539c-2.158 9.016 9.173 17.492 14.297 4.646 5.127-12.848-1.888-12.026-2.155-20.218-.277-8.2 7.014-19.947 9.703-25.136 2.697-5.196 8.359-15.575 8.359-15.575s1.89-4.918 2.433-6.014c6.739-10.112 5.664-15.303 5.664-15.303l3.776 1.368 4.047-6.286s1.889 6.834 1.071 7.927c-.796 1.094-2.149 8.2-2.149 8.2s-1.619 16.387-5.116 21.578c-3.516 5.187-1.896 17.76-5.944 25.408-4.048 7.649 2.432 9.291 2.432 9.291l-3.238 36.887 5.666 1.642 6.475 34.969s-1.076 16.942-.269 29.24c.813 12.294 11.329 23.766 14.023 39.611 2.697 15.854-3.237 24.594-3.237 24.594s-22.386 12.563-21.846 23.771c.542 11.205 24.821 0 24.821 0s1.346-6.554 9.71-9.287c8.356-2.734 8.898-4.378 9.71-9.837.809-5.464-3.244-7.375-4.862-15.846-1.608-8.471-1.071-26.783-.539-31.153 3.237-19.396-1.883-28.417-3.237-32.521-1.346-4.09-1.339-13.11-1.339-13.11l2.149-37.437 2.966.817 4.319-7.649.809 6.558 7.021 1.637 1.882 27.053 3.777 21.583s0 6.286-2.427 24.046c-2.434 17.761 4.046 36.343 3.775 41.534-.263 5.188-3.507 26.229-3.507 26.229s-15.107 10.11 3.776 12.294c18.882 2.188 18.069-4.644 17.804-7.929-.271-3.277-7.285-5.457-7.285-5.457l-.27-12.298s6.479-28.148 7.822-31.147c7.276-19.941 2.433-44.806 2.16-49.183-.271-4.369 1.349-22.401 1.349-22.401l3.769-27.869 9.173.278.54-39.342s2.968-.547 2.968-2.19c0-1.634-3.771-52.46-3.771-52.46l-.271-31.971s15.106 30.604 14.287 35.523c-.803 4.915 3.776 16.119 6.744 23.772 2.964 7.65 4.315 18.304 5.125 26.776-5.933 12.841-1.618 21.862 5.938 19.945.637-.163 1.166-.443 1.653-.772 7.311 9.254 9.675 7.042 10.755 11.709 1.209 5.263 2.433 21.044.813 26.743-1.618 5.702-6.882 36.388-6.882 36.388l8.896 10.521-.396 33.76s-3.238 8.326 10.106 24.55c4.052 7.886 6.479 17.532 6.479 17.532s1.614 5.704 0 6.577c-1.618.875-12.145 3.508-9.309 9.202 2.83 5.706 8.495 7.452 14.975 7.021 6.475-.442 16.995 3.94 16.587-14.028-.398-17.975 2.021-34.189 2.021-34.189l-1.211-7.017s-4.448-13.151.81-26.743c5.257-13.59 10.521-20.601 9.312-40.768-1.227-20.167-5.663-6.14-1.626-22.798 4.046-16.658 7.29-19.729 5.665-35.947-1.619-16.217-16.188-15.782-16.188-15.782s-2.827-3.508-2.02-5.262c.813-1.755 15.379-7.452 11.33-28.051 7.691-8.33 5.668 15.776 15.372 20.16 9.716 4.386 12.546-3.504 12.546-3.504s-4.457 2.192-7.693-4.817z"/>
  <defs>
    <path id="c" d="M459.33 278.923c-8.094-5.553-14.569-5.553-14.569-5.553s-3.237-1.458-1.614-7.888c1.614-6.431 6.472-.295 6.472-.295l1.351-6.424h2.436l-1.086-9.647h3.776s1.892-28.64-22.114-28.35c0 0-10.792-2.338-14.297 13.739-3.505 16.076 0 22.208 1.077 22.794 1.078.585 7.285 5.845 7.552 7.009.271 1.172 2.431 9.937-6.736 13.447-9.174 3.509-12.409.878-18.074 14.906-5.666 14.029-13.485 36.822-12.409 49.682 1.082 12.858-4.042 13.445-4.042 13.445s-6.207 4.966-3.507 10.813c4.044 8.184 11.327-3.803 11.87-5.847.543-2.048 1.076-6.432 2.696-8.473 1.618-2.053 13.217-19.293 14.032-25.426 3.234 8.184-.277 16.653-.549 18.991-.265 2.343-4.849 18.122-3.229 28.938 1.618 10.814 2.696 4.676 4.312 10.814 1.619 6.134 1.895 28.641 1.895 28.641l3.771 4.385 2.969 28.929s-4.317 4.97-4.047 11.985c.268 7.011 5.938 10.226 10.247 9.936 4.322-.294 9.984-5.263 5.668-22.797-1.348-1.461-.537-28.057-.537-28.057l9.167 1.169 1.619 29.222s-3.508 13.733 1.076 16.363c8.358.584 18.479 2.616 24.01-.286 2.529-1.326 2.155-5.847-7.824-8.771-10.253-6.433-6.204-13.442-6.204-16.066 0-2.634.813-20.17.813-20.17l3.775-2.046V384.72s3.994-1.212 4.853-2.047c1.35-21.628-.538-50.558-.538-50.558s2.964 8.471 7.015 14.613c1.614 3.507 1.614 12.566 1.614 12.566s-3.233 9.644 1.618 12.268c4.858 2.635 8.366-7.597 5.396-15.486-2.96-7.886-3.776-25.133-3.776-25.133l11.062-6.137c-.017.004-18.899-40.327-26.99-45.883z"/>
  </defs>
  <clipPath id="d">
    <use xlink:href="#c" overflow="visible"/>
  </clipPath>
  <path clip-path="url(#d)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" d="M50.11 45.001h731.107v479.492H50.11z"/>
  <g>
    <path fill="none" stroke="#62C555" stroke-miterlimit="10" d="M459.33 278.923c-8.094-5.553-14.569-5.553-14.569-5.553s-3.237-1.458-1.614-7.888c1.614-6.431 6.472-.295 6.472-.295l1.351-6.424h2.436l-1.086-9.647h3.776s1.892-28.64-22.114-28.35c0 0-10.792-2.338-14.297 13.739-3.505 16.076 0 22.208 1.077 22.794 1.078.585 7.285 5.845 7.552 7.009.271 1.172 2.431 9.937-6.736 13.447-9.174 3.509-12.409.878-18.074 14.906-5.666 14.029-13.485 36.822-12.409 49.682 1.082 12.858-4.042 13.445-4.042 13.445s-6.207 4.966-3.507 10.813c4.044 8.184 11.327-3.803 11.87-5.847.543-2.048 1.076-6.432 2.696-8.473 1.618-2.053 13.217-19.293 14.032-25.426 3.234 8.184-.277 16.653-.549 18.991-.265 2.343-4.849 18.122-3.229 28.938 1.618 10.814 2.696 4.676 4.312 10.814 1.619 6.134 1.895 28.641 1.895 28.641l3.771 4.385 2.969 28.929s-4.317 4.97-4.047 11.985c.268 7.011 5.938 10.226 10.247 9.936 4.322-.294 9.984-5.263 5.668-22.797-1.348-1.461-.537-28.057-.537-28.057l9.167 1.169 1.619 29.222s-3.508 13.733 1.076 16.363c8.358.584 18.479 2.616 24.01-.286 2.529-1.326 2.155-5.847-7.824-8.771-10.253-6.433-6.204-13.442-6.204-16.066 0-2.634.813-20.17.813-20.17l3.775-2.046V384.72s3.994-1.212 4.853-2.047c1.35-21.628-.538-50.558-.538-50.558s2.964 8.471 7.015 14.613c1.614 3.507 1.614 12.566 1.614 12.566s-3.233 9.644 1.618 12.268c4.858 2.635 8.366-7.597 5.396-15.486-2.96-7.886-3.776-25.133-3.776-25.133l11.062-6.137c-.017.004-18.899-40.327-26.99-45.883z"/>
  </g>
  <g>
    <defs>
      <path id="e" d="M370.535 447.639c-1.054-3.407-2.635-30.688-2.635-34.096 0-3.41-4.74-24.435-10.004-30.686-1.584-2.84 0-13.637 0-13.637h5.792v-22.16s3.688-4.545 3.688-12.502c0-7.959-4.213-13.068-.529-20.457 3.69-7.391 6.317-20.457 3.69-27.843-2.636-7.391-6.321-17.046-5.273-28.982 1.061-11.928-1.052-27.84-7.369-33.524-6.323-5.682-20.018-7.954-24.231-16.479-4.216-8.525 2.017-10.254 3.162-12.499 5.796-11.367 3.158-36.366-18.438-36.366 0 0-15.795 3.977-15.271 18.75.528 14.774 2.638 20.458 5.272 23.3 2.627 2.837.525 9.091-3.162 11.93-3.688 2.842-4.213 5.112-5.796 5.68-1.583.569-15.276 4.547-15.799 11.366-.525 6.822-3.162 19.888-3.162 25.002 0 5.116 0 14.775-5.265 17.049-5.271 2.27-13.692 9.091-15.803 9.091-1.382 0-6.601-.974-10.038-1.166.068-.821.104-1.678.06-2.606-.539-12.311-11.864-11.083-9.708-17.235 2.158-6.162 0-31.405-6.474-35.099-6.48-3.699-18.886-37.563-18.886-37.563s-8.087-24.01-12.404-30.164c-4.318-6.158-14.563-13.547-10.253-14.164 4.319-.613 10.792-19.084 10.792-19.084l-3.234-6.159s3.234-12.314-.541-11.7c-3.779.615-6.48-4.926-6.48-4.926s-1.607-3.078-18.338-20.931c-16.723-17.854-27.509 9.236-27.509 9.236s-7.011 7.387-1.623 47.409c-22.656 3.08-32.903 33.865-33.982 38.176-1.08 4.309-10.792 32.014-17.808 40.632-7.011 8.621-3.229 16.624-3.229 16.624s-4.32 4.926-9.719 8.622c-7.005 9.236 2.813 16.245 6.48 15.388 3.666-.858 4.31-4.922 7.544-14.774 1.625 8.005 14.571-1.849 14.571-1.849L126.428 214s8.091-11.079 2.701 8.003c-3.776 24.016-5.396 54.795-5.396 54.795l2.158 40.634 4.85.623 3.239 16.007s4.313 4.311 0 13.546c-4.317 9.236.539 44.942 2.149 49.256 1.623 4.307 3.781 10.465 2.162 11.079-1.615.615-7.009 6.772-2.697 9.233 4.318 2.461 2.156 8.629 2.156 8.629s-6.473 8.622-5.932 14.159c.539 5.543 17.263.613 17.263.613s1.078-16.008.539-19.088c-.539-3.074 4.691-9.65 5.669.444.649 6.65.998 8.105 1.942 13.3.745 4.056-1.848 10.261-1.143 14.577 1.624 9.851 21.042 2.459 19.42-4.309-1.615-6.771-4.31-14.157-4.31-14.157s0-23.397 2.694-30.789c2.703-7.387 3.775-35.712 3.775-41.25 0-5.543 5.392-35.093 5.392-35.093s15.106-5.542 12.948-11.084c-2.156-5.54-2.154-66.492-.535-73.269 1.615-6.778-7.015-43.098 7.55-13.546 4.319 11.089 16.184 28.326 18.885 35.101 2.692 6.768 10.79 4.306 10.79 4.306s-1.082 5.545 3.229 6.771c1.78.508 2.271-.23 2.351-.423-.086.251-.428 1.882.354 7.812 1.15 8.796 6.424 9.707 9.149 5.038 1.183 1.612 3.243 3.094 6.867 3.614 4.215 1.705 8.956-2.276 13.696 0 3.759 1.802 21.594-4.549 23.702-15.347 1.955-10.023 4.737-11.363 4.737-11.363s3.158 25.002 3.688 32.389c.531 7.391-4.213 34.095-4.213 34.095l2.108 4.548-1.053 31.255 10 2.843v22.729c0 3.976-2.102 19.89-2.632 30.119-.524 10.228 3.161 22.16 3.161 26.141 0 3.976-8.952 1.134-8.952 1.134s-13.167 0-8.424 5.114c4.738 5.114 15.272 13.637 15.272 13.637s10.002 9.662 12.637-2.838c2.639-12.505-1.05-30.688 2.109-35.803 3.158-5.112 3.158-34.661 3.158-34.661s4.22-11.36 4.742-19.889c.527-8.521 8.956-1.705 8.956-1.705s3.158 17.613 5.794 20.454c2.632 2.845 3.16 11.364 4.742 15.913 1.579 4.546 5.792 20.461 8.425 25.003 2.634 4.545 2.634 17.613 2.634 21.588s3.156 15.352 7.898 15.352 10.539-3.982 10.539-13.071c-1.041-2.853-5.785-5.119-6.836-8.53z"/>
    </defs>
    <clipPath id="f">
      <use xlink:href="#e" overflow="visible"/>
    </clipPath>
    <path clip-path="url(#f)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" d="M52.171 46.035h731.106v479.491H52.171z"/>
    <g>
      <path fill="none" stroke="#62C555" stroke-miterlimit="10" d="M370.535 447.639c-1.054-3.407-2.635-30.688-2.635-34.096 0-3.41-4.74-24.435-10.004-30.686-1.584-2.84 0-13.637 0-13.637h5.792v-22.16s3.688-4.545 3.688-12.502c0-7.959-4.213-13.068-.529-20.457 3.69-7.391 6.317-20.457 3.69-27.843-2.636-7.391-6.321-17.046-5.273-28.982 1.061-11.928-1.052-27.84-7.369-33.524-6.323-5.682-20.018-7.954-24.231-16.479-4.216-8.525 2.017-10.254 3.162-12.499 5.796-11.367 3.158-36.366-18.438-36.366 0 0-15.795 3.977-15.271 18.75.528 14.774 2.638 20.458 5.272 23.3 2.627 2.837.525 9.091-3.162 11.93-3.688 2.842-4.213 5.112-5.796 5.68-1.583.569-15.276 4.547-15.799 11.366-.525 6.822-3.162 19.888-3.162 25.002 0 5.116 0 14.775-5.265 17.049-5.271 2.27-13.692 9.091-15.803 9.091-1.382 0-6.601-.974-10.038-1.166.068-.821.104-1.678.06-2.606-.539-12.311-11.864-11.083-9.708-17.235 2.158-6.162 0-31.405-6.474-35.099-6.48-3.699-18.886-37.563-18.886-37.563s-8.087-24.01-12.404-30.164c-4.318-6.158-14.563-13.547-10.253-14.164 4.319-.613 10.792-19.084 10.792-19.084l-3.234-6.159s3.234-12.314-.541-11.7c-3.779.615-6.48-4.926-6.48-4.926s-1.607-3.078-18.338-20.931c-16.723-17.854-27.509 9.236-27.509 9.236s-7.011 7.387-1.623 47.409c-22.656 3.08-32.903 33.865-33.982 38.176-1.08 4.309-10.792 32.014-17.808 40.632-7.011 8.621-3.229 16.624-3.229 16.624s-4.32 4.926-9.719 8.622c-7.005 9.236 2.813 16.245 6.48 15.388 3.666-.858 4.31-4.922 7.544-14.774 1.625 8.005 14.571-1.849 14.571-1.849L126.428 214s8.091-11.079 2.701 8.003c-3.776 24.016-5.396 54.795-5.396 54.795l2.158 40.634 4.85.623 3.239 16.007s4.313 4.311 0 13.546c-4.317 9.236.539 44.942 2.149 49.256 1.623 4.307 3.781 10.465 2.162 11.079-1.615.615-7.009 6.772-2.697 9.233 4.318 2.461 2.156 8.629 2.156 8.629s-6.473 8.622-5.932 14.159c.539 5.543 17.263.613 17.263.613s1.078-16.008.539-19.088c-.539-3.074 4.691-9.65 5.669.444.649 6.65.998 8.105 1.942 13.3.745 4.056-1.848 10.261-1.143 14.577 1.624 9.851 21.042 2.459 19.42-4.309-1.615-6.771-4.31-14.157-4.31-14.157s0-23.397 2.694-30.789c2.703-7.387 3.775-35.712 3.775-41.25 0-5.543 5.392-35.093 5.392-35.093s15.106-5.542 12.948-11.084c-2.156-5.54-2.154-66.492-.535-73.269 1.615-6.778-7.015-43.098 7.55-13.546 4.319 11.089 16.184 28.326 18.885 35.101 2.692 6.768 10.79 4.306 10.79 4.306s-1.082 5.545 3.229 6.771c1.78.508 2.271-.23 2.351-.423-.086.251-.428 1.882.354 7.812 1.15 8.796 6.424 9.707 9.149 5.038 1.183 1.612 3.243 3.094 6.867 3.614 4.215 1.705 8.956-2.276 13.696 0 3.759 1.802 21.594-4.549 23.702-15.347 1.955-10.023 4.737-11.363 4.737-11.363s3.158 25.002 3.688 32.389c.531 7.391-4.213 34.095-4.213 34.095l2.108 4.548-1.053 31.255 10 2.843v22.729c0 3.976-2.102 19.89-2.632 30.119-.524 10.228 3.161 22.16 3.161 26.141 0 3.976-8.952 1.134-8.952 1.134s-13.167 0-8.424 5.114c4.738 5.114 15.272 13.637 15.272 13.637s10.002 9.662 12.637-2.838c2.639-12.505-1.05-30.688 2.109-35.803 3.158-5.112 3.158-34.661 3.158-34.661s4.22-11.36 4.742-19.889c.527-8.521 8.956-1.705 8.956-1.705s3.158 17.613 5.794 20.454c2.632 2.845 3.16 11.364 4.742 15.913 1.579 4.546 5.792 20.461 8.425 25.003 2.634 4.545 2.634 17.613 2.634 21.588s3.156 15.352 7.898 15.352 10.539-3.982 10.539-13.071c-1.041-2.853-5.785-5.119-6.836-8.53z"/>
    </g>
  </g>
  <path fill="#FFF" stroke="#B0E9A2" stroke-width=".5" stroke-miterlimit="10" d="M684.56 412.054s1.211 6.138 1.211 10.089v3.938c-5.666-5.695-7.287-10.081-1.211-14.027z"/>
  <path fill="#414042" d="M537.19 553.688H322.8V496.9h214.39l-16.66 28.393z"/>
  <path fill="#FF6700" d="M529.856 553.688H315.459V496.9h214.397l-16.661 28.393z"/>
  <text transform="matrix(.9979 0 0 1 350.178 533.0801)" fill="#FFF" font-family="'Helvetica'" font-size="23.3163">
    $121,450,000
  </text>
  <path fill="#414042" d="M306.654 496.9h8.806v56.789h-8.806z"/>
</svg>
</template>
