<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     :width="w" :height="h" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
  <g>
    <g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_1_" d="M722.305,251.066c-3.236-7.013,0.805-23.677-7.688-30.69c-9.309-2.635-10.521-6.136-20.638,8.77
                        c0,0-7.686-5.265-16.179-3.51c-8.501,1.753-15.378,8.771-16.598,11.401c-1.21,2.627,1.218,14.907,1.218,14.907
                        l-2.431,5.697l2.83,2.633c0,0,0.399,10.079,1.616,10.079c1.22,0,6.475,3.07,10.924-0.876c0.813,2.633,0,6.574,0,6.574
                        s-6.874-0.873-8.896,0.439c-2.023,1.315-5.666,4.821-5.666,4.821s-3.234-0.877-5.265-3.945
                        c-2.021-3.07-5.656-16.662-9.712-15.784c-0.646,0.14-1.5,0.389-2.442,0.769c-0.655-7.555-1.563-19.189-1.733-27.399
                        c-0.27-13.112-6.741-40.708-7.813-41.802c-1.086-1.098-6.169-23.447-9.316-42.57
                        c-3.144-19.128-27.051-24.226-27.051-24.226s-10.573-0.42-11.325-5.095c-1.267-5.74,1.253-17.21,6.285-22.953
                        c6.927-19.121-3.146-32.506-3.146-32.506s-3.774-5.1-13.848-5.737c-10.064-0.64-11.948,3.823-17.613,6.371
                        c-5.664,2.548-5.038,17.849-5.038,17.849c1.231,21.747,5.518,21.97,5.518,21.97l1.895,6.01c0,0,5.665,8.738-14.022,11.478
                        c-18.077,2.461-23.121,5.431-26.168,12.021c-4.742,10.248-11.596,43.717-11.596,43.717s-7.282,22.408-14.3,31.97
                        c-5.936,9.014-5.936,21.039-5.936,21.039s-4.586,35.521-6.744,44.541c-2.155,9.018,9.176,17.492,14.301,4.646
                        c5.124-12.848-1.892-12.026-2.156-20.219c-0.274-8.201,7.017-19.948,9.703-25.137c2.695-5.197,8.359-15.576,8.359-15.576
                        s1.89-4.919,2.43-6.015c6.741-10.113,5.663-15.303,5.663-15.303l3.777,1.368l4.046-6.286c0,0,1.891,6.834,1.072,7.927
                        c-0.8,1.094-2.15,8.2-2.15,8.2s-1.619,16.387-5.118,21.579c-3.516,5.187-1.895,17.761-5.938,25.408
                        c-4.046,7.649,2.43,9.291,2.43,9.291l-3.238,36.891l5.666,1.641l6.479,34.974c0,0-1.078,16.938-0.271,29.24
                        c0.813,12.294,11.33,23.768,14.022,39.612c2.694,15.854-3.238,24.597-3.238,24.597s-22.385,12.563-21.846,23.771
                        c0.541,11.206,24.816,0,24.816,0s1.352-6.555,9.712-9.288c8.354-2.731,8.896-4.378,9.71-9.835
                        c0.812-5.466-3.241-7.377-4.86-15.846c-1.611-8.477-1.072-26.781-0.539-31.15c3.238-19.397-1.883-28.418-3.238-32.521
                        c-1.348-4.094-1.342-13.111-1.342-13.111l2.152-37.438l2.967,0.82l4.314-7.65l0.813,6.557l7.021,1.639l1.889,27.056
                        l3.771,21.584c0,0,0,6.285-2.428,24.051c-2.43,17.761,4.046,36.343,3.776,41.534c-0.269,5.187-3.513,26.229-3.513,26.229
                        s-15.104,10.111,3.776,12.296c18.882,2.188,18.073-4.646,17.804-7.929c-0.27-3.274-7.281-5.457-7.281-5.457l-0.271-12.299
                        c0,0,6.479-28.146,7.823-31.146c7.271-19.941,2.43-44.809,2.158-49.186c-0.271-4.369,1.35-22.402,1.35-22.402
                        l3.769-27.869l9.18,0.277l0.539-39.347c0,0,2.968-0.547,2.968-2.189c0-1.635-3.771-52.462-3.771-52.462l-0.27-31.971
                        c0,0,15.104,30.604,14.289,35.523c-0.806,4.916,3.771,16.12,6.744,23.773c2.967,7.651,4.313,18.305,5.126,26.777
                        c-5.937,12.841-1.618,21.862,5.936,19.945c0.638-0.163,1.169-0.443,1.655-0.771c7.309,9.253,9.674,7.041,10.754,11.711
                        c1.209,5.263,2.43,21.046,0.811,26.745c-1.613,5.702-6.883,36.389-6.883,36.389l8.9,10.521l-0.398,33.762
                        c0,0-3.233,8.33,10.11,24.552c4.049,7.888,6.476,17.532,6.476,17.532s1.613,5.702,0,6.576
                        c-1.615,0.875-12.142,3.507-9.306,9.203c2.83,5.706,8.496,7.451,14.972,7.021c6.479-0.441,16.995,3.94,16.587-14.028
                        c-0.396-17.977,2.021-34.191,2.021-34.191l-1.21-7.018c0,0-4.449-13.151,0.809-26.743
                        c5.258-13.591,10.521-20.604,9.313-40.771c-1.229-20.169-5.664-6.141-1.627-22.801c4.046-16.657,7.29-19.729,5.665-35.947
                        c-1.619-16.22-16.188-15.784-16.188-15.784s-2.828-3.508-2.02-5.263c0.811-1.754,15.378-7.453,11.327-28.052
                        c7.688-8.33,5.67,15.778,15.371,20.161c9.719,4.386,12.549-3.504,12.549-3.504S725.536,258.075,722.305,251.066z"/>
                    </defs>
                    <clipPath id="SVGID_2_">
                      <use xlink:href="#SVGID_1_"  overflow="visible"/>
                    </clipPath>

                      <rect x="42.535" y="31.307" clip-path="url(#SVGID_2_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" width="731.112" height="479.51"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_3_" d="M722.305,251.066c-3.236-7.013,0.805-23.677-7.688-30.69c-9.309-2.635-10.521-6.136-20.638,8.77
                        c0,0-7.686-5.265-16.179-3.51c-8.501,1.753-15.378,8.771-16.598,11.401c-1.21,2.627,1.218,14.907,1.218,14.907
                        l-2.431,5.697l2.83,2.633c0,0,0.399,10.079,1.616,10.079c1.22,0,6.475,3.07,10.924-0.876c0.813,2.633,0,6.574,0,6.574
                        s-6.874-0.873-8.896,0.439c-2.023,1.315-5.666,4.821-5.666,4.821s-3.234-0.877-5.265-3.945
                        c-2.021-3.07-5.656-16.662-9.712-15.784c-0.646,0.14-1.5,0.389-2.442,0.769c-0.655-7.555-1.563-19.189-1.733-27.399
                        c-0.27-13.112-6.741-40.708-7.813-41.802c-1.086-1.098-6.169-23.447-9.316-42.57
                        c-3.144-19.128-27.051-24.226-27.051-24.226s-10.573-0.42-11.325-5.095c-1.267-5.74,1.253-17.21,6.285-22.953
                        c6.927-19.121-3.146-32.506-3.146-32.506s-3.774-5.1-13.848-5.737c-10.064-0.64-11.948,3.823-17.613,6.371
                        c-5.664,2.548-5.038,17.849-5.038,17.849c1.231,21.747,5.518,21.97,5.518,21.97l1.895,6.01c0,0,5.665,8.738-14.022,11.478
                        c-18.077,2.461-23.121,5.431-26.168,12.021c-4.742,10.248-11.596,43.717-11.596,43.717s-7.282,22.408-14.3,31.97
                        c-5.936,9.014-5.936,21.039-5.936,21.039s-4.586,35.521-6.744,44.541c-2.155,9.018,9.176,17.492,14.301,4.646
                        c5.124-12.848-1.892-12.026-2.156-20.219c-0.274-8.201,7.017-19.948,9.703-25.137c2.695-5.197,8.359-15.576,8.359-15.576
                        s1.89-4.919,2.43-6.015c6.741-10.113,5.663-15.303,5.663-15.303l3.777,1.368l4.046-6.286c0,0,1.891,6.834,1.072,7.927
                        c-0.8,1.094-2.15,8.2-2.15,8.2s-1.619,16.387-5.118,21.579c-3.516,5.187-1.895,17.761-5.938,25.408
                        c-4.046,7.649,2.43,9.291,2.43,9.291l-3.238,36.891l5.666,1.641l6.479,34.974c0,0-1.078,16.938-0.271,29.24
                        c0.813,12.294,11.33,23.768,14.022,39.612c2.694,15.854-3.238,24.597-3.238,24.597s-22.385,12.563-21.846,23.771
                        c0.541,11.206,24.816,0,24.816,0s1.352-6.555,9.712-9.288c8.354-2.731,8.896-4.378,9.71-9.835
                        c0.812-5.466-3.241-7.377-4.86-15.846c-1.611-8.477-1.072-26.781-0.539-31.15c3.238-19.397-1.883-28.418-3.238-32.521
                        c-1.348-4.094-1.342-13.111-1.342-13.111l2.152-37.438l2.967,0.82l4.314-7.65l0.813,6.557l7.021,1.639l1.889,27.056
                        l3.771,21.584c0,0,0,6.285-2.428,24.051c-2.43,17.761,4.046,36.343,3.776,41.534c-0.269,5.187-3.513,26.229-3.513,26.229
                        s-15.104,10.111,3.776,12.296c18.882,2.188,18.073-4.646,17.804-7.929c-0.27-3.274-7.281-5.457-7.281-5.457l-0.271-12.299
                        c0,0,6.479-28.146,7.823-31.146c7.271-19.941,2.43-44.809,2.158-49.186c-0.271-4.369,1.35-22.402,1.35-22.402
                        l3.769-27.869l9.18,0.277l0.539-39.347c0,0,2.968-0.547,2.968-2.189c0-1.635-3.771-52.462-3.771-52.462l-0.27-31.971
                        c0,0,15.104,30.604,14.289,35.523c-0.806,4.916,3.771,16.12,6.744,23.773c2.967,7.651,4.313,18.305,5.126,26.777
                        c-5.937,12.841-1.618,21.862,5.936,19.945c0.638-0.163,1.169-0.443,1.655-0.771c7.309,9.253,9.674,7.041,10.754,11.711
                        c1.209,5.263,2.43,21.046,0.811,26.745c-1.613,5.702-6.883,36.389-6.883,36.389l8.9,10.521l-0.398,33.762
                        c0,0-3.233,8.33,10.11,24.552c4.049,7.888,6.476,17.532,6.476,17.532s1.613,5.702,0,6.576
                        c-1.615,0.875-12.142,3.507-9.306,9.203c2.83,5.706,8.496,7.451,14.972,7.021c6.479-0.441,16.995,3.94,16.587-14.028
                        c-0.396-17.977,2.021-34.191,2.021-34.191l-1.21-7.018c0,0-4.449-13.151,0.809-26.743
                        c5.258-13.591,10.521-20.604,9.313-40.771c-1.229-20.169-5.664-6.141-1.627-22.801c4.046-16.657,7.29-19.729,5.665-35.947
                        c-1.619-16.22-16.188-15.784-16.188-15.784s-2.828-3.508-2.02-5.263c0.811-1.754,15.378-7.453,11.327-28.052
                        c7.688-8.33,5.67,15.778,15.371,20.161c9.719,4.386,12.549-3.504,12.549-3.504S725.536,258.075,722.305,251.066z"/>
                    </defs>
                    <clipPath id="SVGID_4_">
                      <use xlink:href="#SVGID_3_"  overflow="visible"/>
                    </clipPath>

                      <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="531.2913" y1="-992.3716" x2="531.2911" y2="-512.1743" gradientTransform="matrix(1 0 0 -1 -123.2007 -482.9316)">
                      <stop  offset="0" style="stop-color:#89E282"/>
                      <stop  offset="1" style="stop-color:#5CBF42"/>
                    </linearGradient>
                    <rect x="41.162" y="29.243" clip-path="url(#SVGID_4_)" fill="url(#SVGID_5_)" width="733.856" height="480.196"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_6_" d="M722.305,251.066c-3.236-7.013,0.805-23.677-7.688-30.69c-9.309-2.635-10.521-6.136-20.638,8.77
                        c0,0-7.686-5.265-16.179-3.51c-8.501,1.753-15.378,8.771-16.598,11.401c-1.21,2.627,1.218,14.907,1.218,14.907
                        l-2.431,5.697l2.83,2.633c0,0,0.399,10.079,1.616,10.079c1.22,0,6.475,3.07,10.924-0.876c0.813,2.633,0,6.574,0,6.574
                        s-6.874-0.873-8.896,0.439c-2.023,1.315-5.666,4.821-5.666,4.821s-3.234-0.877-5.265-3.945
                        c-2.021-3.07-5.656-16.662-9.712-15.784c-0.646,0.14-1.5,0.389-2.442,0.769c-0.655-7.555-1.563-19.189-1.733-27.399
                        c-0.27-13.112-6.741-40.708-7.813-41.802c-1.086-1.098-6.169-23.447-9.316-42.57
                        c-3.144-19.128-27.051-24.226-27.051-24.226s-10.573-0.42-11.325-5.095c-1.267-5.74,1.253-17.21,6.285-22.953
                        c6.927-19.121-3.146-32.506-3.146-32.506s-3.774-5.1-13.848-5.737c-10.064-0.64-11.948,3.823-17.613,6.371
                        c-5.664,2.548-5.038,17.849-5.038,17.849c1.231,21.747,5.518,21.97,5.518,21.97l1.895,6.01c0,0,5.665,8.738-14.022,11.478
                        c-18.077,2.461-23.121,5.431-26.168,12.021c-4.742,10.248-11.596,43.717-11.596,43.717s-7.282,22.408-14.3,31.97
                        c-5.936,9.014-5.936,21.039-5.936,21.039s-4.586,35.521-6.744,44.541c-2.155,9.018,9.176,17.492,14.301,4.646
                        c5.124-12.848-1.892-12.026-2.156-20.219c-0.274-8.201,7.017-19.948,9.703-25.137c2.695-5.197,8.359-15.576,8.359-15.576
                        s1.89-4.919,2.43-6.015c6.741-10.113,5.663-15.303,5.663-15.303l3.777,1.368l4.046-6.286c0,0,1.891,6.834,1.072,7.927
                        c-0.8,1.094-2.15,8.2-2.15,8.2s-1.619,16.387-5.118,21.579c-3.516,5.187-1.895,17.761-5.938,25.408
                        c-4.046,7.649,2.43,9.291,2.43,9.291l-3.238,36.891l5.666,1.641l6.479,34.974c0,0-1.078,16.938-0.271,29.24
                        c0.813,12.294,11.33,23.768,14.022,39.612c2.694,15.854-3.238,24.597-3.238,24.597s-22.385,12.563-21.846,23.771
                        c0.541,11.206,24.816,0,24.816,0s1.352-6.555,9.712-9.288c8.354-2.731,8.896-4.378,9.71-9.835
                        c0.812-5.466-3.241-7.377-4.86-15.846c-1.611-8.477-1.072-26.781-0.539-31.15c3.238-19.397-1.883-28.418-3.238-32.521
                        c-1.348-4.094-1.342-13.111-1.342-13.111l2.152-37.438l2.967,0.82l4.314-7.65l0.813,6.557l7.021,1.639l1.889,27.056
                        l3.771,21.584c0,0,0,6.285-2.428,24.051c-2.43,17.761,4.046,36.343,3.776,41.534c-0.269,5.187-3.513,26.229-3.513,26.229
                        s-15.104,10.111,3.776,12.296c18.882,2.188,18.073-4.646,17.804-7.929c-0.27-3.274-7.281-5.457-7.281-5.457l-0.271-12.299
                        c0,0,6.479-28.146,7.823-31.146c7.271-19.941,2.43-44.809,2.158-49.186c-0.271-4.369,1.35-22.402,1.35-22.402
                        l3.769-27.869l9.18,0.277l0.539-39.347c0,0,2.968-0.547,2.968-2.189c0-1.635-3.771-52.462-3.771-52.462l-0.27-31.971
                        c0,0,15.104,30.604,14.289,35.523c-0.806,4.916,3.771,16.12,6.744,23.773c2.967,7.651,4.313,18.305,5.126,26.777
                        c-5.937,12.841-1.618,21.862,5.936,19.945c0.638-0.163,1.169-0.443,1.655-0.771c7.309,9.253,9.674,7.041,10.754,11.711
                        c1.209,5.263,2.43,21.046,0.811,26.745c-1.613,5.702-6.883,36.389-6.883,36.389l8.9,10.521l-0.398,33.762
                        c0,0-3.233,8.33,10.11,24.552c4.049,7.888,6.476,17.532,6.476,17.532s1.613,5.702,0,6.576
                        c-1.615,0.875-12.142,3.507-9.306,9.203c2.83,5.706,8.496,7.451,14.972,7.021c6.479-0.441,16.995,3.94,16.587-14.028
                        c-0.396-17.977,2.021-34.191,2.021-34.191l-1.21-7.018c0,0-4.449-13.151,0.809-26.743
                        c5.258-13.591,10.521-20.604,9.313-40.771c-1.229-20.169-5.664-6.141-1.627-22.801c4.046-16.657,7.29-19.729,5.665-35.947
                        c-1.619-16.22-16.188-15.784-16.188-15.784s-2.828-3.508-2.02-5.263c0.811-1.754,15.378-7.453,11.327-28.052
                        c7.688-8.33,5.67,15.778,15.371,20.161c9.719,4.386,12.549-3.504,12.549-3.504S725.536,258.075,722.305,251.066z"/>
                    </defs>
                    <clipPath id="SVGID_7_">
                      <use xlink:href="#SVGID_6_"  overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_7_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-width="3" stroke-miterlimit="10" d="
                      M744.819,318.92c0,0,3.085,8.671-23.938,0c-27.028-8.675-21.876,7.283-43.767,0c-21.894-7.283-28.063,1.273-58.184,0
                      c-30.118-1.277-35.783-9.408-58.438,0c-22.652,9.409-22.912-7.354-48.396,0s-457.891,0-457.891,0V49.881h690.606V318.92
                      H744.819z"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <path id="SVGID_25_" fill="none" stroke="#B0E9A2" stroke-width="2" stroke-miterlimit="10" d="M722.305,251.066
          c-3.236-7.013,0.805-23.677-7.688-30.69c-9.309-2.635-10.521-6.136-20.638,8.77c0,0-7.686-5.265-16.179-3.51
          c-8.501,1.753-15.378,8.771-16.598,11.401c-1.21,2.627,1.218,14.907,1.218,14.907l-2.431,5.697l2.83,2.633
          c0,0,0.399,10.079,1.616,10.079c1.22,0,6.475,3.07,10.924-0.876c0.813,2.633,0,6.574,0,6.574s-6.874-0.873-8.896,0.439
          c-2.023,1.315-5.666,4.821-5.666,4.821s-3.234-0.877-5.265-3.945c-2.021-3.07-5.656-16.662-9.712-15.784
          c-0.646,0.14-1.5,0.389-2.442,0.769c-0.655-7.555-1.563-19.189-1.733-27.399c-0.27-13.112-6.741-40.708-7.813-41.802
          c-1.086-1.098-6.169-23.447-9.316-42.57c-3.144-19.128-27.051-24.226-27.051-24.226s-10.573-0.42-11.325-5.095
          c-1.267-5.74,1.253-17.21,6.285-22.953c6.927-19.121-3.146-32.506-3.146-32.506s-3.774-5.1-13.848-5.737
          c-10.064-0.64-11.948,3.823-17.613,6.371c-5.664,2.548-5.038,17.849-5.038,17.849c1.231,21.747,5.518,21.97,5.518,21.97
          l1.895,6.01c0,0,5.665,8.738-14.022,11.478c-18.077,2.461-23.121,5.431-26.168,12.021c-4.742,10.248-11.596,43.717-11.596,43.717
          s-7.282,22.408-14.3,31.97c-5.936,9.014-5.936,21.039-5.936,21.039s-4.586,35.521-6.744,44.541
          c-2.155,9.018,9.176,17.492,14.301,4.646c5.124-12.848-1.892-12.026-2.156-20.219c-0.274-8.201,7.017-19.948,9.703-25.137
          c2.695-5.197,8.359-15.576,8.359-15.576s1.89-4.919,2.43-6.015c6.741-10.113,5.663-15.303,5.663-15.303l3.777,1.368l4.046-6.286
          c0,0,1.891,6.834,1.072,7.927c-0.8,1.094-2.15,8.2-2.15,8.2s-1.619,16.387-5.118,21.579c-3.516,5.187-1.895,17.761-5.938,25.408
          c-4.046,7.649,2.43,9.291,2.43,9.291l-3.238,36.891l5.666,1.641l6.479,34.974c0,0-1.078,16.938-0.271,29.24
          c0.813,12.294,11.33,23.768,14.022,39.612c2.694,15.854-3.238,24.597-3.238,24.597s-22.385,12.563-21.846,23.771
          c0.541,11.206,24.816,0,24.816,0s1.352-6.555,9.712-9.288c8.354-2.731,8.896-4.378,9.71-9.835
          c0.812-5.466-3.241-7.377-4.86-15.846c-1.611-8.477-1.072-26.781-0.539-31.15c3.238-19.397-1.883-28.418-3.238-32.521
          c-1.348-4.094-1.342-13.111-1.342-13.111l2.152-37.438l2.967,0.82l4.314-7.65l0.813,6.557l7.021,1.639l1.889,27.056l3.771,21.584
          c0,0,0,6.285-2.428,24.051c-2.43,17.761,4.046,36.343,3.776,41.534c-0.269,5.187-3.513,26.229-3.513,26.229
          s-15.104,10.111,3.776,12.296c18.882,2.188,18.073-4.646,17.804-7.929c-0.27-3.274-7.281-5.457-7.281-5.457l-0.271-12.299
          c0,0,6.479-28.146,7.823-31.146c7.271-19.941,2.43-44.809,2.158-49.186c-0.271-4.369,1.35-22.402,1.35-22.402l3.769-27.869
          l9.18,0.277l0.539-39.347c0,0,2.968-0.547,2.968-2.189c0-1.635-3.771-52.462-3.771-52.462l-0.27-31.971
          c0,0,15.104,30.604,14.289,35.523c-0.806,4.916,3.771,16.12,6.744,23.773c2.967,7.651,4.313,18.305,5.126,26.777
          c-5.937,12.841-1.618,21.862,5.936,19.945c0.638-0.163,1.169-0.443,1.655-0.771c7.309,9.253,9.674,7.041,10.754,11.711
          c1.209,5.263,2.43,21.046,0.811,26.745c-1.613,5.702-6.883,36.389-6.883,36.389l8.9,10.521l-0.398,33.762
          c0,0-3.233,8.33,10.11,24.552c4.049,7.888,6.476,17.532,6.476,17.532s1.613,5.702,0,6.576c-1.615,0.875-12.142,3.507-9.306,9.203
          c2.83,5.706,8.496,7.451,14.972,7.021c6.479-0.441,16.995,3.94,16.587-14.028c-0.396-17.977,2.021-34.191,2.021-34.191
          l-1.21-7.018c0,0-4.449-13.151,0.809-26.743c5.258-13.591,10.521-20.604,9.313-40.771c-1.229-20.169-5.664-6.141-1.627-22.801
          c4.046-16.657,7.29-19.729,5.665-35.947c-1.619-16.22-16.188-15.784-16.188-15.784s-2.828-3.508-2.02-5.263
          c0.811-1.754,15.378-7.453,11.327-28.052c7.688-8.33,5.67,15.778,15.371,20.161c9.719,4.386,12.549-3.504,12.549-3.504
          S725.536,258.075,722.305,251.066z"/>
      </g>
    </g>
    <g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_8_" d="M451.761,265.236c-8.092-5.554-14.566-5.554-14.566-5.554s-3.238-1.458-1.615-7.888
                        c1.615-6.431,6.473-0.295,6.473-0.295l1.354-6.424h2.437l-1.086-9.647h3.774c0,0,1.894-28.64-22.114-28.351
                        c0,0-10.793-2.338-14.301,13.74c-3.504,16.077,0,22.208,1.08,22.795c1.078,0.585,7.281,5.845,7.552,7.009
                        c0.271,1.172,2.433,9.938-6.736,13.447c-9.172,3.509-12.408,0.878-18.074,14.906
                        c-5.666,14.031-13.482,36.825-12.406,49.686c1.082,12.859-4.042,13.445-4.042,13.445s-6.207,4.967-3.51,10.813
                        c4.042,8.186,11.327-3.804,11.868-5.848c0.543-2.051,1.078-6.434,2.696-8.477c1.617-2.052,13.219-19.291,14.031-25.428
                        c3.233,8.184-0.272,16.656-0.547,18.995c-0.269,2.34-4.854,18.123-3.229,28.937c1.616,10.814,2.694,4.674,4.313,10.814
                        c1.615,6.137,1.896,28.641,1.896,28.641l3.771,4.387l2.969,28.932c0,0-4.313,4.97-4.045,11.982
                        c0.269,7.016,5.937,10.229,10.245,9.938c4.319-0.295,9.98-5.264,5.668-22.798c-1.351-1.461-0.537-28.061-0.537-28.061
                        l9.169,1.17l1.619,29.227c0,0-3.51,13.732,1.074,16.363c8.356,0.584,18.479,2.61,24.012-0.285
                        c2.53-1.326,2.153-5.85-7.819-8.771c-10.255-6.435-6.204-13.44-6.204-16.064c0-2.64,0.813-20.174,0.813-20.174
                        l3.772-2.047v-33.314c0,0,3.998-1.214,4.854-2.051c1.352-21.629-0.539-50.559-0.539-50.559s2.968,8.473,7.018,14.611
                        c1.616,3.509,1.616,12.564,1.616,12.564s-3.234,9.646,1.616,12.271c4.855,2.637,8.361-7.598,5.396-15.486
                        c-2.96-7.889-3.774-25.134-3.774-25.134l11.063-6.138C478.733,311.124,459.852,270.793,451.761,265.236z"/>
                    </defs>
                    <clipPath id="SVGID_9_">
                      <use xlink:href="#SVGID_8_"  overflow="visible"/>
                    </clipPath>

                      <rect x="42.535" y="31.307" clip-path="url(#SVGID_9_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" width="731.112" height="479.51"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_10_" d="M451.761,265.236c-8.092-5.554-14.566-5.554-14.566-5.554s-3.238-1.458-1.615-7.888
                        c1.615-6.431,6.473-0.295,6.473-0.295l1.354-6.424h2.437l-1.086-9.647h3.774c0,0,1.894-28.64-22.114-28.351
                        c0,0-10.793-2.338-14.301,13.74c-3.504,16.077,0,22.208,1.08,22.795c1.078,0.585,7.281,5.845,7.552,7.009
                        c0.271,1.172,2.433,9.938-6.736,13.447c-9.172,3.509-12.408,0.878-18.074,14.906
                        c-5.666,14.031-13.482,36.825-12.406,49.686c1.082,12.859-4.042,13.445-4.042,13.445s-6.207,4.967-3.51,10.813
                        c4.042,8.186,11.327-3.804,11.868-5.848c0.543-2.051,1.078-6.434,2.696-8.477c1.617-2.052,13.219-19.291,14.031-25.428
                        c3.233,8.184-0.272,16.656-0.547,18.995c-0.269,2.34-4.854,18.123-3.229,28.937c1.616,10.814,2.694,4.674,4.313,10.814
                        c1.615,6.137,1.896,28.641,1.896,28.641l3.771,4.387l2.969,28.932c0,0-4.313,4.97-4.045,11.982
                        c0.269,7.016,5.937,10.229,10.245,9.938c4.319-0.295,9.98-5.264,5.668-22.798c-1.351-1.461-0.537-28.061-0.537-28.061
                        l9.169,1.17l1.619,29.227c0,0-3.51,13.732,1.074,16.363c8.356,0.584,18.479,2.61,24.012-0.285
                        c2.53-1.326,2.153-5.85-7.819-8.771c-10.255-6.435-6.204-13.44-6.204-16.064c0-2.64,0.813-20.174,0.813-20.174
                        l3.772-2.047v-33.314c0,0,3.998-1.214,4.854-2.051c1.352-21.629-0.539-50.559-0.539-50.559s2.968,8.473,7.018,14.611
                        c1.616,3.509,1.616,12.564,1.616,12.564s-3.234,9.646,1.616,12.271c4.855,2.637,8.361-7.598,5.396-15.486
                        c-2.96-7.889-3.774-25.134-3.774-25.134l11.063-6.138C478.733,311.124,459.852,270.793,451.761,265.236z"/>
                    </defs>
                    <clipPath id="SVGID_11_">
                      <use xlink:href="#SVGID_10_"  overflow="visible"/>
                    </clipPath>

                      <linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="531.2913" y1="-992.3716" x2="531.2911" y2="-512.1743" gradientTransform="matrix(1 0 0 -1 -123.2007 -482.9316)">
                      <stop  offset="0" style="stop-color:#89E282"/>
                      <stop  offset="1" style="stop-color:#5CBF42"/>
                    </linearGradient>
                    <rect x="41.162" y="29.243" clip-path="url(#SVGID_11_)" fill="url(#SVGID_12_)" width="733.856" height="480.196"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_13_" d="M451.761,265.236c-8.092-5.554-14.566-5.554-14.566-5.554s-3.238-1.458-1.615-7.888
                        c1.615-6.431,6.473-0.295,6.473-0.295l1.354-6.424h2.437l-1.086-9.647h3.774c0,0,1.894-28.64-22.114-28.351
                        c0,0-10.793-2.338-14.301,13.74c-3.504,16.077,0,22.208,1.08,22.795c1.078,0.585,7.281,5.845,7.552,7.009
                        c0.271,1.172,2.433,9.938-6.736,13.447c-9.172,3.509-12.408,0.878-18.074,14.906
                        c-5.666,14.031-13.482,36.825-12.406,49.686c1.082,12.859-4.042,13.445-4.042,13.445s-6.207,4.967-3.51,10.813
                        c4.042,8.186,11.327-3.804,11.868-5.848c0.543-2.051,1.078-6.434,2.696-8.477c1.617-2.052,13.219-19.291,14.031-25.428
                        c3.233,8.184-0.272,16.656-0.547,18.995c-0.269,2.34-4.854,18.123-3.229,28.937c1.616,10.814,2.694,4.674,4.313,10.814
                        c1.615,6.137,1.896,28.641,1.896,28.641l3.771,4.387l2.969,28.932c0,0-4.313,4.97-4.045,11.982
                        c0.269,7.016,5.937,10.229,10.245,9.938c4.319-0.295,9.98-5.264,5.668-22.798c-1.351-1.461-0.537-28.061-0.537-28.061
                        l9.169,1.17l1.619,29.227c0,0-3.51,13.732,1.074,16.363c8.356,0.584,18.479,2.61,24.012-0.285
                        c2.53-1.326,2.153-5.85-7.819-8.771c-10.255-6.435-6.204-13.44-6.204-16.064c0-2.64,0.813-20.174,0.813-20.174
                        l3.772-2.047v-33.314c0,0,3.998-1.214,4.854-2.051c1.352-21.629-0.539-50.559-0.539-50.559s2.968,8.473,7.018,14.611
                        c1.616,3.509,1.616,12.564,1.616,12.564s-3.234,9.646,1.616,12.271c4.855,2.637,8.361-7.598,5.396-15.486
                        c-2.96-7.889-3.774-25.134-3.774-25.134l11.063-6.138C478.733,311.124,459.852,270.793,451.761,265.236z"/>
                    </defs>
                    <clipPath id="SVGID_14_">
                      <use xlink:href="#SVGID_13_"  overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_14_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-width="3" stroke-miterlimit="10" d="
                      M744.819,318.92c0,0,3.085,8.671-23.938,0c-27.028-8.675-21.876,7.283-43.767,0c-21.894-7.283-28.063,1.273-58.184,0
                      c-30.118-1.277-35.783-9.408-58.438,0c-22.652,9.409-22.912-7.354-48.396,0c-3.646,1.053-10.53,16.461-33.451,2.316
                      c-22.927-14.146-24.216,10.02-47.641,0.772c-23.427-9.245-34.233,6.233-56.636,0.171l-320.163-3.268V49.88h690.606v269.04
                      H744.819z"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <path id="SVGID_28_" fill="none" stroke="#B0E9A2" stroke-width="2" stroke-miterlimit="10" d="M451.761,265.236
          c-8.092-5.554-14.566-5.554-14.566-5.554s-3.238-1.458-1.615-7.888c1.615-6.431,6.473-0.295,6.473-0.295l1.354-6.424h2.437
          l-1.086-9.647h3.774c0,0,1.894-28.64-22.114-28.351c0,0-10.793-2.338-14.301,13.74c-3.504,16.077,0,22.208,1.08,22.795
          c1.078,0.585,7.281,5.845,7.552,7.009c0.271,1.172,2.433,9.938-6.736,13.447c-9.172,3.509-12.408,0.878-18.074,14.906
          c-5.666,14.031-13.482,36.825-12.406,49.686c1.082,12.859-4.042,13.445-4.042,13.445s-6.207,4.967-3.51,10.813
          c4.042,8.186,11.327-3.804,11.868-5.848c0.543-2.051,1.078-6.434,2.696-8.477c1.617-2.052,13.219-19.291,14.031-25.428
          c3.233,8.184-0.272,16.656-0.547,18.995c-0.269,2.34-4.854,18.123-3.229,28.937c1.616,10.814,2.694,4.674,4.313,10.814
          c1.615,6.137,1.896,28.641,1.896,28.641l3.771,4.387l2.969,28.932c0,0-4.313,4.97-4.045,11.982
          c0.269,7.016,5.937,10.229,10.245,9.938c4.319-0.295,9.98-5.264,5.668-22.798c-1.351-1.461-0.537-28.061-0.537-28.061l9.169,1.17
          l1.619,29.227c0,0-3.51,13.732,1.074,16.363c8.356,0.584,18.479,2.61,24.012-0.285c2.53-1.326,2.153-5.85-7.819-8.771
          c-10.255-6.435-6.204-13.44-6.204-16.064c0-2.64,0.813-20.174,0.813-20.174l3.772-2.047v-33.314c0,0,3.998-1.214,4.854-2.051
          c1.352-21.629-0.539-50.559-0.539-50.559s2.968,8.473,7.018,14.611c1.616,3.509,1.616,12.564,1.616,12.564
          s-3.234,9.646,1.616,12.271c4.855,2.637,8.361-7.598,5.396-15.486c-2.96-7.889-3.774-25.134-3.774-25.134l11.063-6.138
          C478.733,311.124,459.852,270.793,451.761,265.236z"/>
      </g>
    </g>
    <g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_15_" d="M362.964,433.958c-1.057-3.407-2.637-30.688-2.637-34.099c0-3.409-4.738-24.437-10.006-30.688
                        c-1.583-2.84,0-13.637,0-13.637h5.794v-22.161c0,0,3.688-4.547,3.688-12.502c0-7.96-4.214-13.071-0.526-20.459
                        c3.688-7.392,6.316-20.458,3.688-27.845c-2.638-7.391-6.318-17.047-5.271-28.983c1.061-11.929-1.052-27.841-7.371-33.526
                        c-6.32-5.682-20.019-7.954-24.229-16.48c-4.215-8.525,2.021-10.255,3.162-12.499c5.796-11.367,3.157-36.367-18.438-36.367
                        c0,0-15.796,3.977-15.271,18.75c0.527,14.774,2.642,20.459,5.271,23.301c2.629,2.838,0.522,9.091-3.162,11.931
                        c-3.688,2.842-4.213,5.112-5.796,5.68c-1.583,0.569-15.274,4.547-15.8,11.366c-0.522,6.823-3.162,19.889-3.162,25.003
                        c0,5.116,0,14.775-5.269,17.05c-5.271,2.27-13.689,9.091-15.802,9.091c-1.384,0-6.604-0.975-10.038-1.166
                        c0.065-0.821,0.104-1.678,0.063-2.606c-0.539-12.312-11.864-11.082-9.708-17.236c2.155-6.162,0-31.405-6.477-35.1
                        c-6.478-3.697-18.882-37.562-18.882-37.562s-8.09-24.01-12.405-30.165c-4.315-6.159-14.563-13.547-10.253-14.164
                        c4.317-0.614,10.792-19.085,10.792-19.085l-3.231-6.159c0,0,3.231-12.315-0.541-11.7
                        c-3.774,0.615-6.479-4.926-6.479-4.926s-1.609-3.077-18.338-20.932c-16.727-17.854-27.515,9.236-27.515,9.236
                        s-7.014,7.387-1.623,47.411c-22.653,3.08-32.9,33.867-33.98,38.178c-1.08,4.309-10.792,32.015-17.81,40.633
                        c-7.016,8.622-3.229,16.625-3.229,16.625s-4.315,4.926-9.716,8.622c-7.009,9.236,2.813,16.245,6.479,15.389
                        c3.667-0.858,4.313-4.922,7.546-14.775c1.625,8.006,14.568-1.849,14.568-1.849l17.808-25.243
                        c0,0,8.092-11.079,2.696,8.003c-3.774,24.017-5.396,54.798-5.396,54.798l2.156,40.637l4.854,0.622l3.238,16.008
                        c0,0,4.313,4.312,0,13.544c-4.316,9.234,0.538,44.946,2.146,49.258c1.623,4.309,3.781,10.467,2.162,11.084
                        c-1.617,0.611-7.011,6.771-2.694,9.229c4.315,2.463,2.153,8.626,2.153,8.626s-6.472,8.621-5.931,14.162
                        c0.536,5.541,17.262,0.61,17.262,0.61s1.078-16.008,0.539-19.087c-0.539-3.076,4.689-9.65,5.67,0.441
                        c0.646,6.648,0.998,8.104,1.94,13.302c0.744,4.059-1.854,10.259-1.146,14.576c1.623,9.852,21.042,2.461,19.423-4.31
                        c-1.615-6.771-4.313-14.156-4.313-14.156s0-23.399,2.692-30.791c2.701-7.389,3.772-35.713,3.772-41.251
                        c0-5.543,5.395-35.097,5.395-35.097s15.104-5.543,12.946-11.084c-2.154-5.539-2.152-66.493-0.533-73.27
                        c1.612-6.778-7.018-43.1,7.55-13.547c4.316,11.087,16.187,28.325,18.886,35.1c2.69,6.768,10.79,4.306,10.79,4.306
                        s-1.082,5.544,3.229,6.771c1.777,0.508,2.271-0.23,2.351-0.423c-0.088,0.252-0.43,1.882,0.354,7.812
                        c1.149,8.795,6.426,9.706,9.15,5.038c1.184,1.611,3.241,3.094,6.866,3.614c4.216,1.705,8.954-2.276,13.696,0
                        c3.759,1.802,21.594-4.549,23.7-15.347c1.954-10.024,4.735-11.364,4.735-11.364s3.157,25.003,3.688,32.39
                        c0.526,7.392-4.215,34.099-4.215,34.099l2.105,4.546l-1.053,31.255l10.002,2.842c0,0,0,18.75,0,22.729
                        c0,3.974-2.104,19.889-2.633,30.117c-0.523,10.229,3.161,22.16,3.161,26.144c0,3.974-8.951,1.133-8.951,1.133
                        s-13.166,0-8.426,5.115c4.737,5.113,15.271,13.637,15.271,13.637s10.004,9.662,12.637-2.838
                        c2.644-12.505-1.051-30.688,2.109-35.805c3.16-5.11,3.16-34.661,3.16-34.661s4.217-11.36,4.74-19.891
                        c0.522-8.521,8.956-1.705,8.956-1.705s3.153,17.613,5.792,20.457c2.635,2.845,3.16,11.363,4.737,15.91
                        c1.579,4.549,5.792,20.463,8.43,25.006c2.636,4.546,2.636,17.611,2.636,21.59c0,3.975,3.156,15.351,7.896,15.351
                        c4.742,0,10.539-3.979,10.539-13.073C368.758,439.638,364.014,437.369,362.964,433.958z"/>
                    </defs>
                    <clipPath id="SVGID_16_">
                      <use xlink:href="#SVGID_15_"  overflow="visible"/>
                    </clipPath>

                      <rect x="42.535" y="31.307" clip-path="url(#SVGID_16_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-miterlimit="10" width="731.112" height="479.51"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_17_" d="M362.964,433.958c-1.057-3.407-2.637-30.688-2.637-34.099c0-3.409-4.738-24.437-10.006-30.688
                        c-1.583-2.84,0-13.637,0-13.637h5.794v-22.161c0,0,3.688-4.547,3.688-12.502c0-7.96-4.214-13.071-0.526-20.459
                        c3.688-7.392,6.316-20.458,3.688-27.845c-2.638-7.391-6.318-17.047-5.271-28.983c1.061-11.929-1.052-27.841-7.371-33.526
                        c-6.32-5.682-20.019-7.954-24.229-16.48c-4.215-8.525,2.021-10.255,3.162-12.499c5.796-11.367,3.157-36.367-18.438-36.367
                        c0,0-15.796,3.977-15.271,18.75c0.527,14.774,2.642,20.459,5.271,23.301c2.629,2.838,0.522,9.091-3.162,11.931
                        c-3.688,2.842-4.213,5.112-5.796,5.68c-1.583,0.569-15.274,4.547-15.8,11.366c-0.522,6.823-3.162,19.889-3.162,25.003
                        c0,5.116,0,14.775-5.269,17.05c-5.271,2.27-13.689,9.091-15.802,9.091c-1.384,0-6.604-0.975-10.038-1.166
                        c0.065-0.821,0.104-1.678,0.063-2.606c-0.539-12.312-11.864-11.082-9.708-17.236c2.155-6.162,0-31.405-6.477-35.1
                        c-6.478-3.697-18.882-37.562-18.882-37.562s-8.09-24.01-12.405-30.165c-4.315-6.159-14.563-13.547-10.253-14.164
                        c4.317-0.614,10.792-19.085,10.792-19.085l-3.231-6.159c0,0,3.231-12.315-0.541-11.7
                        c-3.774,0.615-6.479-4.926-6.479-4.926s-1.609-3.077-18.338-20.932c-16.727-17.854-27.515,9.236-27.515,9.236
                        s-7.014,7.387-1.623,47.411c-22.653,3.08-32.9,33.867-33.98,38.178c-1.08,4.309-10.792,32.015-17.81,40.633
                        c-7.016,8.622-3.229,16.625-3.229,16.625s-4.315,4.926-9.716,8.622c-7.009,9.236,2.813,16.245,6.479,15.389
                        c3.667-0.858,4.313-4.922,7.546-14.775c1.625,8.006,14.568-1.849,14.568-1.849l17.808-25.243
                        c0,0,8.092-11.079,2.696,8.003c-3.774,24.017-5.396,54.798-5.396,54.798l2.156,40.637l4.854,0.622l3.238,16.008
                        c0,0,4.313,4.312,0,13.544c-4.316,9.234,0.538,44.946,2.146,49.258c1.623,4.309,3.781,10.467,2.162,11.084
                        c-1.617,0.611-7.011,6.771-2.694,9.229c4.315,2.463,2.153,8.626,2.153,8.626s-6.472,8.621-5.931,14.162
                        c0.536,5.541,17.262,0.61,17.262,0.61s1.078-16.008,0.539-19.087c-0.539-3.076,4.689-9.65,5.67,0.441
                        c0.646,6.648,0.998,8.104,1.94,13.302c0.744,4.059-1.854,10.259-1.146,14.576c1.623,9.852,21.042,2.461,19.423-4.31
                        c-1.615-6.771-4.313-14.156-4.313-14.156s0-23.399,2.692-30.791c2.701-7.389,3.772-35.713,3.772-41.251
                        c0-5.543,5.395-35.097,5.395-35.097s15.104-5.543,12.946-11.084c-2.154-5.539-2.152-66.493-0.533-73.27
                        c1.612-6.778-7.018-43.1,7.55-13.547c4.316,11.087,16.187,28.325,18.886,35.1c2.69,6.768,10.79,4.306,10.79,4.306
                        s-1.082,5.544,3.229,6.771c1.777,0.508,2.271-0.23,2.351-0.423c-0.088,0.252-0.43,1.882,0.354,7.812
                        c1.149,8.795,6.426,9.706,9.15,5.038c1.184,1.611,3.241,3.094,6.866,3.614c4.216,1.705,8.954-2.276,13.696,0
                        c3.759,1.802,21.594-4.549,23.7-15.347c1.954-10.024,4.735-11.364,4.735-11.364s3.157,25.003,3.688,32.39
                        c0.526,7.392-4.215,34.099-4.215,34.099l2.105,4.546l-1.053,31.255l10.002,2.842c0,0,0,18.75,0,22.729
                        c0,3.974-2.104,19.889-2.633,30.117c-0.523,10.229,3.161,22.16,3.161,26.144c0,3.974-8.951,1.133-8.951,1.133
                        s-13.166,0-8.426,5.115c4.737,5.113,15.271,13.637,15.271,13.637s10.004,9.662,12.637-2.838
                        c2.644-12.505-1.051-30.688,2.109-35.805c3.16-5.11,3.16-34.661,3.16-34.661s4.217-11.36,4.74-19.891
                        c0.522-8.521,8.956-1.705,8.956-1.705s3.153,17.613,5.792,20.457c2.635,2.845,3.16,11.363,4.737,15.91
                        c1.579,4.549,5.792,20.463,8.43,25.006c2.636,4.546,2.636,17.611,2.636,21.59c0,3.975,3.156,15.351,7.896,15.351
                        c4.742,0,10.539-3.979,10.539-13.073C368.758,439.638,364.014,437.369,362.964,433.958z"/>
                    </defs>
                    <clipPath id="SVGID_18_">
                      <use xlink:href="#SVGID_17_"  overflow="visible"/>
                    </clipPath>

                      <linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="531.2913" y1="-992.3716" x2="531.2911" y2="-512.1743" gradientTransform="matrix(1 0 0 -1 -123.2007 -482.9316)">
                      <stop  offset="0" style="stop-color:#89E282"/>
                      <stop  offset="1" style="stop-color:#5CBF42"/>
                    </linearGradient>
                    <rect x="41.162" y="29.243" clip-path="url(#SVGID_18_)" fill="url(#SVGID_19_)" width="733.856" height="480.196"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <defs>
                      <path id="SVGID_20_" d="M362.964,433.958c-1.057-3.407-2.637-30.688-2.637-34.099c0-3.409-4.738-24.437-10.006-30.688
                        c-1.583-2.84,0-13.637,0-13.637h5.794v-22.161c0,0,3.688-4.547,3.688-12.502c0-7.96-4.214-13.071-0.526-20.459
                        c3.688-7.392,6.316-20.458,3.688-27.845c-2.638-7.391-6.318-17.047-5.271-28.983c1.061-11.929-1.052-27.841-7.371-33.526
                        c-6.32-5.682-20.019-7.954-24.229-16.48c-4.215-8.525,2.021-10.255,3.162-12.499c5.796-11.367,3.157-36.367-18.438-36.367
                        c0,0-15.796,3.977-15.271,18.75c0.527,14.774,2.642,20.459,5.271,23.301c2.629,2.838,0.522,9.091-3.162,11.931
                        c-3.688,2.842-4.213,5.112-5.796,5.68c-1.583,0.569-15.274,4.547-15.8,11.366c-0.522,6.823-3.162,19.889-3.162,25.003
                        c0,5.116,0,14.775-5.269,17.05c-5.271,2.27-13.689,9.091-15.802,9.091c-1.384,0-6.604-0.975-10.038-1.166
                        c0.065-0.821,0.104-1.678,0.063-2.606c-0.539-12.312-11.864-11.082-9.708-17.236c2.155-6.162,0-31.405-6.477-35.1
                        c-6.478-3.697-18.882-37.562-18.882-37.562s-8.09-24.01-12.405-30.165c-4.315-6.159-14.563-13.547-10.253-14.164
                        c4.317-0.614,10.792-19.085,10.792-19.085l-3.231-6.159c0,0,3.231-12.315-0.541-11.7
                        c-3.774,0.615-6.479-4.926-6.479-4.926s-1.609-3.077-18.338-20.932c-16.727-17.854-27.515,9.236-27.515,9.236
                        s-7.014,7.387-1.623,47.411c-22.653,3.08-32.9,33.867-33.98,38.178c-1.08,4.309-10.792,32.015-17.81,40.633
                        c-7.016,8.622-3.229,16.625-3.229,16.625s-4.315,4.926-9.716,8.622c-7.009,9.236,2.813,16.245,6.479,15.389
                        c3.667-0.858,4.313-4.922,7.546-14.775c1.625,8.006,14.568-1.849,14.568-1.849l17.808-25.243
                        c0,0,8.092-11.079,2.696,8.003c-3.774,24.017-5.396,54.798-5.396,54.798l2.156,40.637l4.854,0.622l3.238,16.008
                        c0,0,4.313,4.312,0,13.544c-4.316,9.234,0.538,44.946,2.146,49.258c1.623,4.309,3.781,10.467,2.162,11.084
                        c-1.617,0.611-7.011,6.771-2.694,9.229c4.315,2.463,2.153,8.626,2.153,8.626s-6.472,8.621-5.931,14.162
                        c0.536,5.541,17.262,0.61,17.262,0.61s1.078-16.008,0.539-19.087c-0.539-3.076,4.689-9.65,5.67,0.441
                        c0.646,6.648,0.998,8.104,1.94,13.302c0.744,4.059-1.854,10.259-1.146,14.576c1.623,9.852,21.042,2.461,19.423-4.31
                        c-1.615-6.771-4.313-14.156-4.313-14.156s0-23.399,2.692-30.791c2.701-7.389,3.772-35.713,3.772-41.251
                        c0-5.543,5.395-35.097,5.395-35.097s15.104-5.543,12.946-11.084c-2.154-5.539-2.152-66.493-0.533-73.27
                        c1.612-6.778-7.018-43.1,7.55-13.547c4.316,11.087,16.187,28.325,18.886,35.1c2.69,6.768,10.79,4.306,10.79,4.306
                        s-1.082,5.544,3.229,6.771c1.777,0.508,2.271-0.23,2.351-0.423c-0.088,0.252-0.43,1.882,0.354,7.812
                        c1.149,8.795,6.426,9.706,9.15,5.038c1.184,1.611,3.241,3.094,6.866,3.614c4.216,1.705,8.954-2.276,13.696,0
                        c3.759,1.802,21.594-4.549,23.7-15.347c1.954-10.024,4.735-11.364,4.735-11.364s3.157,25.003,3.688,32.39
                        c0.526,7.392-4.215,34.099-4.215,34.099l2.105,4.546l-1.053,31.255l10.002,2.842c0,0,0,18.75,0,22.729
                        c0,3.974-2.104,19.889-2.633,30.117c-0.523,10.229,3.161,22.16,3.161,26.144c0,3.974-8.951,1.133-8.951,1.133
                        s-13.166,0-8.426,5.115c4.737,5.113,15.271,13.637,15.271,13.637s10.004,9.662,12.637-2.838
                        c2.644-12.505-1.051-30.688,2.109-35.805c3.16-5.11,3.16-34.661,3.16-34.661s4.217-11.36,4.74-19.891
                        c0.522-8.521,8.956-1.705,8.956-1.705s3.153,17.613,5.792,20.457c2.635,2.845,3.16,11.363,4.737,15.91
                        c1.579,4.549,5.792,20.463,8.43,25.006c2.636,4.546,2.636,17.611,2.636,21.59c0,3.975,3.156,15.351,7.896,15.351
                        c4.742,0,10.539-3.979,10.539-13.073C368.758,439.638,364.014,437.369,362.964,433.958z"/>
                    </defs>
                    <clipPath id="SVGID_21_">
                      <use xlink:href="#SVGID_20_"  overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_21_)" fill="#EFEDEF" stroke="#B0E9A2" stroke-width="3" stroke-miterlimit="10" d="
                      M745.849,313.761c0,0,3.085,8.671-23.938,0c-27.026-8.675-21.876,7.282-43.768,0c-21.89-7.284-28.063,1.272-58.181,0
                      c-30.117-1.276-35.783-9.409-58.438,0c-22.65,9.408-22.909-7.354-48.396,0c-3.646,1.052-10.531,16.46-33.455,2.318
                      c-22.925-14.146-24.213,10.017-47.641,0.772c-23.425-9.246-34.233,6.23-56.633,0.17c0,0-32.791-6.36-52.438-0.535
                      c-19.646,5.826-21.104-7.319-48.052-0.488c-26.944,6.832-68.625,9.494-85.113-0.866
                      c-16.485-10.36-16.396,7.493-39.481-0.401c-23.085-7.894-20.688,5.056-38.104-0.389
                      c-17.416-5.439-56.979-0.581-56.979-0.581V44.722h690.612L745.849,313.761L745.849,313.761z"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g>
        <path id="SVGID_31_" fill="none" stroke="#B0E9A2" stroke-width="2" stroke-miterlimit="10" d="M362.964,433.958
          c-1.057-3.407-2.637-30.688-2.637-34.099c0-3.409-4.738-24.437-10.006-30.688c-1.583-2.84,0-13.637,0-13.637h5.794v-22.161
          c0,0,3.688-4.547,3.688-12.502c0-7.96-4.214-13.071-0.526-20.459c3.688-7.392,6.316-20.458,3.688-27.845
          c-2.638-7.391-6.318-17.047-5.271-28.983c1.061-11.929-1.052-27.841-7.371-33.526c-6.32-5.682-20.019-7.954-24.229-16.48
          c-4.215-8.525,2.021-10.255,3.162-12.499c5.796-11.367,3.157-36.367-18.438-36.367c0,0-15.796,3.977-15.271,18.75
          c0.527,14.774,2.642,20.459,5.271,23.301c2.629,2.838,0.522,9.091-3.162,11.931c-3.688,2.842-4.213,5.112-5.796,5.68
          c-1.583,0.569-15.274,4.547-15.8,11.366c-0.522,6.823-3.162,19.889-3.162,25.003c0,5.116,0,14.775-5.269,17.05
          c-5.271,2.27-13.689,9.091-15.802,9.091c-1.384,0-6.604-0.975-10.038-1.166c0.065-0.821,0.104-1.678,0.063-2.606
          c-0.539-12.312-11.864-11.082-9.708-17.236c2.155-6.162,0-31.405-6.477-35.1c-6.478-3.697-18.882-37.562-18.882-37.562
          s-8.09-24.01-12.405-30.165c-4.315-6.159-14.563-13.547-10.253-14.164c4.317-0.614,10.792-19.085,10.792-19.085l-3.231-6.159
          c0,0,3.231-12.315-0.541-11.7c-3.774,0.615-6.479-4.926-6.479-4.926s-1.609-3.077-18.338-20.932
          c-16.727-17.854-27.515,9.236-27.515,9.236s-7.014,7.387-1.623,47.411c-22.653,3.08-32.9,33.867-33.98,38.178
          c-1.08,4.309-10.792,32.015-17.81,40.633c-7.016,8.622-3.229,16.625-3.229,16.625s-4.315,4.926-9.716,8.622
          c-7.009,9.236,2.813,16.245,6.479,15.389c3.667-0.858,4.313-4.922,7.546-14.775c1.625,8.006,14.568-1.849,14.568-1.849
          l17.808-25.243c0,0,8.092-11.079,2.696,8.003c-3.774,24.017-5.396,54.798-5.396,54.798l2.156,40.637l4.854,0.622l3.238,16.008
          c0,0,4.313,4.312,0,13.544c-4.316,9.234,0.538,44.946,2.146,49.258c1.623,4.309,3.781,10.467,2.162,11.084
          c-1.617,0.611-7.011,6.771-2.694,9.229c4.315,2.463,2.153,8.626,2.153,8.626s-6.472,8.621-5.931,14.162
          c0.536,5.541,17.262,0.61,17.262,0.61s1.078-16.008,0.539-19.087c-0.539-3.076,4.689-9.65,5.67,0.441
          c0.646,6.648,0.998,8.104,1.94,13.302c0.744,4.059-1.854,10.259-1.146,14.576c1.623,9.852,21.042,2.461,19.423-4.31
          c-1.615-6.771-4.313-14.156-4.313-14.156s0-23.399,2.692-30.791c2.701-7.389,3.772-35.713,3.772-41.251
          c0-5.543,5.395-35.097,5.395-35.097s15.104-5.543,12.946-11.084c-2.154-5.539-2.152-66.493-0.533-73.27
          c1.612-6.778-7.018-43.1,7.55-13.547c4.316,11.087,16.187,28.325,18.886,35.1c2.69,6.768,10.79,4.306,10.79,4.306
          s-1.082,5.544,3.229,6.771c1.777,0.508,2.271-0.23,2.351-0.423c-0.088,0.252-0.43,1.882,0.354,7.812
          c1.149,8.795,6.426,9.706,9.15,5.038c1.184,1.611,3.241,3.094,6.866,3.614c4.216,1.705,8.954-2.276,13.696,0
          c3.759,1.802,21.594-4.549,23.7-15.347c1.954-10.024,4.735-11.364,4.735-11.364s3.157,25.003,3.688,32.39
          c0.526,7.392-4.215,34.099-4.215,34.099l2.105,4.546l-1.053,31.255l10.002,2.842c0,0,0,18.75,0,22.729
          c0,3.974-2.104,19.889-2.633,30.117c-0.523,10.229,3.161,22.16,3.161,26.144c0,3.974-8.951,1.133-8.951,1.133
          s-13.166,0-8.426,5.115c4.737,5.113,15.271,13.637,15.271,13.637s10.004,9.662,12.637-2.838
          c2.644-12.505-1.051-30.688,2.109-35.805c3.16-5.11,3.16-34.661,3.16-34.661s4.217-11.36,4.74-19.891
          c0.522-8.521,8.956-1.705,8.956-1.705s3.153,17.613,5.792,20.457c2.635,2.845,3.16,11.363,4.737,15.91
          c1.579,4.549,5.792,20.463,8.43,25.006c2.636,4.546,2.636,17.611,2.636,21.59c0,3.975,3.156,15.351,7.896,15.351
          c4.742,0,10.539-3.979,10.539-13.073C368.758,439.638,364.014,437.369,362.964,433.958z"/>
      </g>
    </g>
  </g>
  <polygon fill="#424143" points="563.324,585.629 296.734,585.629 296.734,494.377 563.324,494.377 542.607,540.002 "/>
  <polygon fill="#60C342" points="554.205,585.629 287.604,585.629 287.604,494.377 554.205,494.377 533.489,540.002 "/>
  <text transform="matrix(1 0 0 1 307.1487 550.6104)" fill="#FFFFFF" font-family="'Helvetica'" font-size="35.4394">${{ amount | numberComma }}</text>
  <rect x="276.656" y="494.377" fill="#424143" width="10.947" height="91.258"/>
  </svg>
</template>

<script>
  import BaseProps from '../BaseProps'

  export default {
    mixins: [BaseProps]
  }
</script>
