<template lang="pug">
q-transition(
  appear
  enter="fadeIn"
  leave="fadeOut"
)
  router-view
</template>

<script>
import { QTransition } from 'quasar'

export default {
  components: {
    QTransition
  }
}
</script>
