h6(class="text-faded") Client
q-field(label="ACC/IRD number")
  q-input(
    clearable
    type="tel"
    :value="loaField.acc_or_ird_number_personal"
    @change="value => updateLoaField(value, 'acc_or_ird_number_personal')"
  )
q-field(label="Date of Birth")
  div(class="q-if row no-wrap items-center relative-position q-input text-faded")
    datepicker(
      clear-button
      :value="loaField.client_date_of_birth"
      @input="value => updateLoaField(value, 'client_date_of_birth')"
    )
q-field(label="Mobile Number")
  q-input(
    clearable
    type="tel"
    :value="loaField.client_mobile_number"
    @change="value => updateLoaField(value, 'client_mobile_number')"
  )
q-field(label="Email Address")
  q-input(
    clearable
    type="email"
    :value="loaField.client_email_address"
    @change="value => updateLoaField(value, 'client_email_address')"
  )
q-field(label="Address")
  q-input(
    clearable
    type="textarea"
    :value="loaField.client_address"
    @change="value => updateLoaField(value, 'client_address')"
  )
q-field(label="Smoking Status")
  q-select(
    clearable
    color="positive"
    stack-label="Are you smoking?"
    :options="getYesOrNo"
    :value="loaField.client_smoking_status"
    @change="value => updateLoaField(value, 'client_smoking_status')"
  )
q-field(label="Existing Insurance Providers")
  q-select(
    chips
    multiple
    color="positive"
    :options="getExistingCovers"
    :value="clientInsuranceProviders"
    @change="value => updateLoaField(value, 'client_insurance_providers')"
  )
