div(class="row" style="margin-top: 8px")
  div(class="col-md-4 offset-md-4")
    q-field
      q-select(
        clearable
        color="positive"
        float-label="Insurance Provider"
        :options="getInsuranceProvidersForTaxIssues"
        :value="loaField.partner_tax_issues_insurance_provider"
        @change="value => updateLoaField(value, 'partner_tax_issues_insurance_provider')"
      )
div(class="row" style="margin-top: 8px")
  div(class="col-md-6")
    p(class="text-center text-faded") Income Protection Indemnity
    with-tax-chart(
      :tax-amount="netPartnerIncomeTaxCalculation.totalTax"
      :total-claim-amount="netPartnerIncomeTaxCalculation.totalClaimAmount"
    )
  div(class="col-md-6")
      p(class="text-center text-faded") Income Protection Agreed Value
      without-tax-chart(:total-claim-amount="netPartnerIncomeTaxCalculation.incomeProtectionAgreedAmount")
div(class="row")
  div(class="col-md-12")
    common-tax-issues-notes(
      :client-name="partnerName"
      :date-of-birth="loaField.partner_date_of_birth"
      :tax-amount="netPartnerIncomeTaxCalculation.totalTax"
      :total-claim-amount="netPartnerIncomeTaxCalculation.totalClaimAmount"
      :agreed-amount="netPartnerIncomeTaxCalculation.incomeProtectionAgreedAmount"
      :indemnity-amount="netPartnerIncomeTaxCalculation.incomeProtectionIndemnityAmount"
    )
