<template lang="pug">
div(class="layout-padding")
  q-stepper(
    ref="stepper"
    color="positive"
    contractable
    alternative-labels
    :vertical="$q.platform.is.mobile"
  )
    q-step(
      name="company-income-details"
      :order="1"
      title="Company"
      subtitle="Income details"
    )
      company-and-income-details

    q-step(
      name="tax-splitting"
      :order="2"
      icon="euro symbol"
      title="Tax"
      subtitle="Splitting"
    )
      tax-splitting

    q-step(
      name="important-info"
      :order="3"
      icon="info outline"
      title="Important"
      subtitle="Info"
    )
      important-info

    q-step(
      name="acc-offsets"
      :order="4"
      icon="grid on"
      title="ACC"
      subtitle="Offsets"
    )
      acc-offsets

    q-step(
      name="common-tax-issues"
      :order="5"
      icon="receipt"
      title="Common"
      subtitle="Tax Issues"
    )
      common-tax-issues

    q-step(
      name="fatal-entitlements"
      :order="6"
      icon="person add"
      title="Fatal"
      subtitle="Entitlements"
    )
      fatal-entitlements

    q-step(
      name="loa-generate"
      :order="7"
      icon="send"
      title="Generate"
    )
      loa-generate

    q-stepper-navigation
      q-btn(flat @click="$refs.stepper.previous()") Back
      q-btn(@click="$refs.stepper.next()") Next

    q-fixed-position(
      corner="bottom-right"
      :offset="[18, 18]"
    )
      q-btn(round color="positive" @click.prevent="onHandleGloablNavigation")
        q-icon(name="fast forward")
</template>

<script>
import {
  QStepper,
  QStep,
  QStepperNavigation,
  QBtn,
  QFixedPosition,
  QIcon,
  Dialog
} from 'quasar'
import _ from 'lodash'
import { getStepList } from 'src/config/option-values'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import * as GeneratorSteps from '@/dashboard/generator/steps'
import { initialState as loaStateSchema } from 'store/modules/letterOfAuthority/state'

export default {
  name: 'generator-index',
  async created () {
    const { id } = this.$route.params
    if(_.isEmpty(this.loaApplicationInstance)) {
      const response = await this.findApplication(id)
      await this.assignLoaState(response)
      this.ADD_LOA_COLLECTION(response)
    }
  },
  methods: {
    ...mapMutations('letterOfAuthorityCollection', ['ADD_LOA_COLLECTION']),
    ...mapActions('letterOfAuthority', ['assignLoaState', 'findApplication']),
    onHandleGloablNavigation () {
      Dialog.create({
        title: 'Skip',
        message: 'Select a tab you want to skip through.',
        noBackdropDismiss: true,
        noEscDismiss: true,
        form: {
          selectedStep: {
            type: 'radio',
            model: 'company-income-details',
            items: this.getStepList
          }
        },
        buttons: [
          {
            label: 'Cancel',
            color: 'positive',
            outline: true
          },
          {
            label: 'Skip',
            color: 'positive',
            handler: ({ selectedStep }) => {
              this.$refs.stepper.goToStep(selectedStep)
            }
          }
        ]
      })
    }
  },
  computed: {
    ...mapGetters('letterOfAuthorityCollection', {
      loaApplicationInstance: 'getLoaApplicationInstanceById'
    }),
    getStepList
  },
  components: {
    QStepper,
    QStep,
    QStepperNavigation,
    QBtn,
    QFixedPosition,
    QIcon,
    Dialog,
    ...GeneratorSteps
  }
}
</script>
