<template>
<div class="relative-position">
  <!-- eslint-disable vue/max-attributes-per-line -->
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" :width="w" :height="h" viewBox="125.577 160.838 356 329" enable-background="new 125.577 160.838 356 329" xml:space="preserve">
    <g id="Pink_pig_1_">
      <ellipse opacity="0.5" fill="#EADCE2" enable-background="new    " cx="299.235" cy="425.427" rx="144.384" ry="13.233"/>
      <path fill="#FC9292" d="M407.725,298.502c-0.438-1.752,1.014-25.438,18.604-24.952c15.763,0.438,17.146,17.472,16.638,24.952
        c-0.314,4.613-4.024,17.691-14.012,12.912c-13.021-6.236,4.159-44.429,24.075-26.044c0,0-18.561-5.098-22.683,10.396
        c-4.122,15.494,6.048,13.242,7.581,6.352c1.602-7.207-0.854-23.521-12.67-18.925c-15.99,6.22-10.541,30.417-10.541,30.417
        L407.725,298.502z"/>
      <path fill="#FC9292" d="M231.439,292.258c0,0-13.063,9.789-20.569-7.542c-7.506-17.333,2.024-48.92,2.024-48.92
        s33.538,27.717,33.636,41.149C246.64,291.963,231.439,292.258,231.439,292.258z"/>
      <path fill="#FDBBBB" d="M182.734,310.758c0,0,17.509-104.179,175.09-74.414c31.796,6.006,72.662,48.587,50.775,119.063
        c-5.715,18.399-31.078,65.658-31.078,65.658s-7.879,6.348-19.26,0l-4.378-17.511c0,0-32.57,6.305-55.012,6.305
        c-22.762,0-48.729-3.239-48.729-3.239l-3.502,16.393c0,0-8.317,3.695-18.822,0c0,0-21.297-21.319-38.083-60.602
        c0,0-37.206-2.627-44.21-26.267l12.257-29.328C157.784,306.818,174.417,313.385,182.734,310.758z"/>
      <path opacity="0.2" fill-opacity="0.1" enable-background="new    " d="M357.824,236.346c-3.634-0.686-7.167-1.278-10.649-1.826
        c54.498,17.434,62.587,74.669,50.924,118.089c-12.84,47.804-45.523,26.899-45.523,26.899
        c-19.844,13.427-109.139,13.427-144.582-23.036c-18.558-19.097-20.86-44.375-18.851-64.146c-5.097,10.67-6.404,18.428-6.404,18.428
        c-8.317,2.627-24.95-3.938-24.95-3.938l-12.257,29.328c7.004,23.639,44.21,26.266,44.21,26.266
        c16.786,39.279,38.083,60.602,38.083,60.602c10.505,3.695,18.822,0,18.822,0l3.502-16.393c0,0,25.971,3.24,48.733,3.24
        c22.437,0,55.007-6.305,55.007-6.305l4.378,17.512c11.381,6.346,19.26,0,19.26,0s25.363-47.26,31.078-65.66
        C430.486,284.933,389.62,242.352,357.824,236.346z"/>
      <path opacity="0.2" fill-opacity="0.3" enable-background="new    " d="M373.145,408.693c-13.57,1.313-19.261-21.887-19.261-21.887
        c-2.625,13.565-28.81,18.584-56.903,18.385c-30.796-0.219-53.84-17.071-53.84-17.071s5.374,26.764-11.381,24.95
        c-16.196-1.752-47.788-73.536-47.788-73.536s1.501,15.2-9.115,7.379c-6.413-4.726-5.079-22.662-3.021-36.14
        c-7.141-1.233-14.054-3.955-14.054-3.955l-12.257,29.328c7.004,23.638,44.21,26.265,44.21,26.265
        c16.786,39.28,38.083,60.602,38.083,60.602c10.505,3.695,18.822,0,18.822,0l3.502-16.393c0,0,25.971,3.241,48.733,3.241
        c22.437,0,55.007-6.305,55.007-6.305l4.378,17.511c11.381,6.346,19.26,0,19.26,0s25.363-47.259,31.078-65.66
        C408.6,355.407,386.719,407.379,373.145,408.693z"/>
      <path fill="#FC9292" d="M356.58,247.501c-27.712-5.133-51.051-6.098-70.713-4.221c0.232,4.453,0.129,8.94-0.063,13.429
        c19.676-1.885,43.034-0.924,70.771,4.215L356.58,247.501L356.58,247.501z"/>
      <path fill="#FC9292" d="M169.685,310.361l-6.853-3.965c-3.234-1.875-8.024-0.729-8.89,2.912c-0.759,3.207-0.396,7.575-3.021,12.83
        c-4.024,8.059-5.742,8.825-7.729,11.723c-1.584,2.308-0.413,5.56,1.741,7.347l6.876,5.705
        C151.809,346.913,163.055,346.443,169.685,310.361z"/>
      <path fill="#FC9292" d="M226.025,309.838c-1.83,1.781-3.366,3.607-5.916,4.355c-2.931,0.859-6.354,0.615-9.096-0.738
        c-3.627-1.793-4.731-5.398-7.794-7.584c-0.398-0.285-1.033,0.004-1.141,0.461c-0.181,0.809-0.171,1.594-0.031,2.352
        c-0.88,0.465-1.723,1.029-2.562,1.553c-0.984,0.615-2.009,1.219-2.761,2.111c-0.892,1.063-0.063,2.678,1.363,2.346
        c1.228-0.281,2.283-0.979,3.352-1.625c0.686-0.416,1.371-0.826,2.04-1.27c0.583,0.787,1.305,1.52,2.104,2.186
        c-0.693,0.699-1.299,1.529-1.92,2.268c-0.84,0.996-2.31,2.323-2.158,3.729c0.069,0.646,0.52,1.281,1.245,1.246
        c1.379-0.066,2.243-1.242,3.087-2.225c0.404-0.467,0.808-0.938,1.205-1.408c0.394-0.453,0.826-1.16,1.345-1.479
        c0.063-0.041,0.095-0.098,0.146-0.143c1.042,0.566,2.104,1.023,3.114,1.377c-0.139,0.439-0.235,0.92-0.354,1.391
        c-0.354,1.393-0.712,2.787-0.806,4.227c-0.123,1.898,2.574,2.039,3.146,0.426c0.454-1.289,0.698-2.646,1.063-3.967
        c0.131-0.477,0.277-0.914,0.367-1.338c5.211,0.443,12.521-1.563,13.179-7.33C228.377,309.583,226.765,309.12,226.025,309.838z"/>
      <path fill="#FC9292" d="M246.531,270.57c-4.904-2.438-15.68,5.24-8.604-12.271c7.071-17.511,36.263-32.896,36.263-32.896
        s3.799,43.344-5.698,52.841C257.872,288.864,251.344,272.963,246.531,270.57z"/>
      <path opacity="0.4" fill="#FFFFFF" enable-background="new    " d="M349.653,255.489l6.926-7.988
        c-27.712-5.133-51.051-6.098-70.713-4.221l5.132,8.379C290.998,251.659,320.471,246.443,349.653,255.489z"/>
      <path opacity="0.4" enable-background="new    " d="M349.653,255.489l6.926-7.988v13.423c-2.345-0.435-4.645-0.828-6.926-1.203
        V255.489z M285.804,256.709c1.743-0.167,3.529-0.304,5.34-0.425l-0.146-4.625l-5.132-8.379
        C286.099,247.733,285.995,252.22,285.804,256.709z"/>
      <path opacity="0.1" fill="#FFFFFF" enable-background="new    " d="M288.286,351.154c25.737,1.986,53.308,1.212,74.904-12.922
        c6.105-3.994,11.696-9.153,14.752-15.778c2.105-4.563,2.918-9.627,3.151-14.647c0.592-12.761-3.397-26.936-14.314-33.571
        c-10.416-6.329-24.336-3.856-34.539,2.812c-10.204,6.667-17.521,16.821-24.685,26.681c-7.163,9.86-14.685,19.914-25.104,26.235
        c-5.543,3.361-11.801,5.509-18.223,6.359c-3.279,0.437-15.785-1.671-14.312,4.223c0.941,3.757,14.221,6.765,17.41,7.57
        C274.183,349.842,281.256,350.611,288.286,351.154z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M384.015,287.241c-1.909-5.777-6.343-12.926-12.836-13.942
        c-3.597-0.563-8.801,1.624-8.195,6.243c0.704,5.371,3.806,9.246,6.485,13.832c1.132,1.938,2.107,4.035,3.583,5.75
        c0.744,0.869,1.665,1.865,2.702,2.416c0.813,0.437,2.423,0.533,2.973,1.319c0.322,0.459,1.016,0.522,1.323,0
        c0.582-0.998,2.001-1.422,2.788-2.231c0.882-0.91,1.719-2.596,2.042-3.803C385.704,293.758,384.985,290.176,384.015,287.241z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M381.385,310.404c-1.43-1.178-3.565-1.485-4.962,0
        c-2.727,2.896-4.437,7.468-5.273,11.31c-0.212,0.974-0.395,2.584-0.395,3.634c0,0.61,0.813,2.688,0.815,2.608
        c0.405,1.252,0.694,2.215,2.164,2.838c4.657,1.978,9.104-3.287,10.302-7.188C385.38,319.25,385.144,313.516,381.385,310.404z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M270.776,232.588c-0.066-0.045-0.161-0.023-0.216,0.028
        c-3.088,2.841-1.923,8.192-1.945,11.998c-0.03,5.421-0.468,10.977,0.657,16.299c0.101,0.477,0.828,0.567,1.05,0.137
        c2.581-4.993,3.117-10.865,3.235-16.436C273.641,240.652,274.43,235.085,270.776,232.588z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M269.555,265.537c-0.353-0.712-1.311-0.695-1.825-0.235
        c-0.978,0.861-1.396,2.248-1.98,3.378c-0.552,1.063-1.492,2.447-1.049,3.686c0.19,0.531,0.574,0.797,1.122,0.854
        c1.64,0.168,2.796-1.728,3.357-3.012C269.821,268.738,270.293,267.051,269.555,265.537z"/>
      <g>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M157.821,319.65
          C157.843,319.592,157.848,319.583,157.821,319.65L157.821,319.65z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M157.807,319.684c0.004-0.012,0.01-0.021,0.014-0.033
          C157.816,319.663,157.813,319.668,157.807,319.684z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M157.767,319.782l0.001-0.005
          c0.015-0.032,0.023-0.065,0.039-0.094C157.795,319.711,157.787,319.73,157.767,319.782z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M163.92,308.508c-1.779-2.008-5.869-2.18-7.61,0
          c-0.778,0.973-1.33,1.703-1.629,2.934c-0.3,1.223-0.188,2.426,0.095,3.625c0.409,1.744,1.771,3.195,3.425,3.898
          c-0.153,0.26-0.307,0.518-0.427,0.813c-0.085,0.219-0.223,0.543-0.229,0.57c-0.102,0.322-0.122,0.693-0.167,1.023
          c-0.188,1.436,0.688,3.164,2.173,3.547c1.913,0.492,3.521-0.834,4.146-2.559c0.473-1.313,0.241-2.738-0.506-3.863
          c1.172-0.805,2.059-2.045,2.415-3.432C166.21,312.688,165.528,310.318,163.92,308.508z"/>
      </g>
    </g>
    <g id="Green_pink">
      <path fill="#66CE57" d="M360.885,366.417c-0.242-0.969,0.56-14.054,10.273-13.785c8.705,0.242,9.475,9.652,9.188,13.785
        c-0.174,2.547-2.229,9.774-7.738,7.133c-7.194-3.444,2.297-24.545,13.3-14.389c0,0-10.253-2.816-12.526,5.743
        c-2.278,8.56,3.341,7.313,4.188,3.507c0.885-3.979-0.47-12.994-6.999-10.455c-8.833,3.438-5.823,16.803-5.823,16.803
        L360.885,366.417z"/>
      <path fill="#66CE57" d="M263.495,362.965c0,0-7.217,5.408-11.363-4.166c-4.146-9.574,1.118-27.023,1.118-27.023
        s18.528,15.313,18.582,22.73C271.892,362.803,263.495,362.965,263.495,362.965z"/>
      <path fill="#8DE583" d="M236.588,373.186c0,0,9.678-57.553,96.729-41.104c17.566,3.314,40.145,26.84,28.051,65.771
        c-3.152,10.166-17.169,36.271-17.169,36.271s-4.352,3.508-10.639,0l-2.419-9.672c0,0-17.993,3.479-30.393,3.479
        c-12.575,0-26.922-1.789-26.922-1.789l-1.935,9.061c0,0-4.6,2.041-10.398,0c0,0-11.765-11.779-21.038-33.479
        c0,0-20.554-1.451-24.423-14.511l6.771-16.2C222.804,371.01,231.994,374.637,236.588,373.186z"/>
      <path opacity="0.2" fill-opacity="0.1" enable-background="new    " d="M333.314,332.079c-2.007-0.379-3.959-0.707-5.885-1.009
        c30.104,9.632,34.575,41.25,28.132,65.236c-7.093,26.405-25.149,14.858-25.149,14.858c-10.962,7.416-60.292,7.416-79.872-12.729
        c-10.251-10.547-11.521-24.515-10.414-35.437c-2.813,5.896-3.538,10.183-3.538,10.183c-4.594,1.448-13.779-2.179-13.779-2.179
        l-6.771,16.203c3.869,13.06,24.423,14.508,24.423,14.508c9.273,21.701,21.038,33.479,21.038,33.479c5.803,2.041,10.398,0,10.398,0
        l1.935-9.059c0,0,14.351,1.789,26.926,1.789c12.396,0,30.389-3.479,30.389-3.479l2.419,9.674c6.287,3.506,10.639,0,10.639,0
        s14.016-26.105,17.169-36.271C373.456,358.918,350.885,335.396,333.314,332.079z"/>
      <path opacity="0.2" fill-opacity="0.1" enable-background="new    " d="M341.778,427.29c-7.496,0.725-10.64-12.092-10.64-12.092
        c-1.45,7.498-15.913,10.268-31.438,10.152c-17.014-0.117-29.744-9.43-29.744-9.43s2.974,14.783-6.287,13.783
        c-8.942-0.967-26.396-40.627-26.396-40.627s0.829,8.396-5.036,4.078c-3.542-2.611-2.806-12.521-1.667-19.968
        c-3.945-0.685-7.765-2.187-7.765-2.187l-6.771,16.203c3.869,13.058,24.423,14.508,24.423,14.508
        c9.273,21.701,21.038,33.479,21.038,33.479c5.803,2.041,10.398,0,10.398,0l1.935-9.059c0,0,14.35,1.789,26.926,1.789
        c12.396,0,30.389-3.479,30.389-3.479l2.419,9.674c6.287,3.506,10.639,0,10.639,0s14.016-26.105,17.169-36.273
        C361.365,397.852,349.274,426.563,341.778,427.29z"/>
      <path fill="#66CE57" d="M332.631,338.241c-15.313-2.837-28.202-3.369-39.064-2.332c0.128,2.461,0.066,4.938-0.035,7.42
        c10.869-1.043,23.774-0.511,39.104,2.328L332.631,338.241L332.631,338.241z"/>
      <path fill="#66CE57" d="M229.379,372.967l-3.778-2.189c-1.789-1.031-4.438-0.4-4.911,1.609c-0.419,1.771-0.223,4.188-1.669,7.088
        c-2.229,4.449-3.179,4.875-4.272,6.479c-0.875,1.271-0.228,3.066,0.962,4.061l3.799,3.148
        C219.504,393.159,225.717,392.898,229.379,372.967z"/>
      <path fill="#66CE57" d="M260.504,372.678c-1.011,0.984-1.854,1.992-3.268,2.406c-1.619,0.477-3.507,0.34-5.025-0.408
        c-2.004-0.988-2.609-2.982-4.306-4.189c-0.22-0.152-0.57,0.008-0.627,0.26c-0.1,0.441-0.095,0.879-0.017,1.299
        c-0.487,0.256-0.952,0.564-1.416,0.854c-0.543,0.342-1.109,0.67-1.525,1.166c-0.49,0.584-0.035,1.479,0.754,1.297
        c0.677-0.154,1.263-0.539,1.851-0.896c0.383-0.229,0.762-0.459,1.131-0.698c0.317,0.437,0.721,0.838,1.158,1.207
        c-0.386,0.387-0.717,0.847-1.061,1.252c-0.464,0.549-1.276,1.278-1.192,2.063c0.038,0.354,0.284,0.707,0.688,0.688
        c0.763-0.037,1.239-0.687,1.706-1.229c0.223-0.26,0.439-0.521,0.665-0.776c0.215-0.252,0.457-0.644,0.741-0.818
        c0.031-0.021,0.052-0.053,0.083-0.077c0.571,0.315,1.156,0.567,1.72,0.764c-0.077,0.244-0.13,0.511-0.195,0.771
        c-0.197,0.771-0.394,1.541-0.445,2.337c-0.063,1.047,1.426,1.125,1.737,0.231c0.252-0.714,0.387-1.464,0.586-2.188
        c0.072-0.267,0.153-0.507,0.203-0.738c2.879,0.244,6.919-0.862,7.281-4.051C261.803,372.538,260.913,372.282,260.504,372.678z"/>
      <path fill="#66CE57" d="M271.832,350.984c-2.709-1.348-8.663,2.896-4.753-6.778c3.909-9.674,20.033-18.172,20.033-18.172
        s2.099,23.942-3.148,29.188C278.097,361.09,274.491,352.307,271.832,350.984z"/>
      <path opacity="0.4" fill="#FFFFFF" enable-background="new    " d="M328.802,342.652l3.825-4.411
        c-15.313-2.837-28.201-3.369-39.063-2.332l2.835,4.629C296.397,340.538,312.68,337.657,328.802,342.652z"/>
      <path opacity="0.4" enable-background="new    " d="M328.802,342.652l3.825-4.411v7.416c-1.298-0.24-2.565-0.457-3.825-0.664
        V342.652z M293.528,343.329c0.965-0.093,1.953-0.168,2.95-0.236l-0.081-2.555l-2.835-4.629
        C293.69,338.37,293.633,340.848,293.528,343.329z"/>
      <path opacity="0.1" fill="#FFFFFF" enable-background="new    " d="M294.899,395.502c14.218,1.098,29.446,0.668,41.38-7.141
        c3.373-2.205,6.461-5.057,8.149-8.717c1.163-2.521,1.607-5.316,1.741-8.095c0.323-7.05-1.876-14.882-7.908-18.546
        c-5.754-3.492-13.444-2.131-19.081,1.557c-5.637,3.684-9.679,9.291-13.637,14.736c-3.958,5.447-8.11,11.001-13.872,14.492
        c-3.063,1.854-6.519,3.043-10.063,3.518c-1.813,0.236-8.72-0.928-7.904,2.332c0.521,2.072,7.854,3.734,9.618,4.184
        C287.108,394.779,291.016,395.204,294.899,395.502z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M347.783,360.193c-1.054-3.188-3.503-7.144-7.091-7.7
        c-1.987-0.312-4.862,0.896-4.527,3.448c0.394,2.968,2.104,5.104,3.583,7.642c0.625,1.069,1.167,2.229,1.979,3.176
        c0.411,0.479,0.92,1.031,1.493,1.337c0.45,0.239,1.337,0.295,1.642,0.729c0.179,0.256,0.563,0.293,0.731,0
        c0.316-0.552,1.104-0.783,1.54-1.232c0.482-0.502,0.945-1.434,1.129-2.1C348.719,363.793,348.319,361.816,347.783,360.193z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M346.329,372.991c-0.783-0.65-1.97-0.82-2.736,0
        c-1.504,1.602-2.449,4.125-2.914,6.247c-0.118,0.537-0.223,1.429-0.223,2.009c0,0.338,0.449,1.483,0.453,1.438
        c0.229,0.688,0.388,1.226,1.195,1.565c2.572,1.093,5.029-1.813,5.691-3.978C348.535,377.877,348.407,374.709,346.329,372.991z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M285.226,330.002c-0.037-0.025-0.088-0.014-0.119,0.016
        c-1.706,1.568-1.063,4.525-1.075,6.629c-0.017,2.994-0.259,6.063,0.362,9.004c0.056,0.268,0.458,0.313,0.581,0.076
        c1.425-2.76,1.722-6.004,1.787-9.08C286.808,334.458,287.244,331.381,285.226,330.002z"/>
      <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M284.551,348.204c-0.188-0.394-0.721-0.384-1.008-0.129
        c-0.538,0.477-0.771,1.241-1.094,1.866c-0.305,0.586-0.824,1.353-0.58,2.035c0.105,0.295,0.317,0.438,0.62,0.474
        c0.905,0.092,1.544-0.955,1.855-1.664C284.699,349.973,284.959,349.042,284.551,348.204z"/>
      <g>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M222.825,378.098
          C222.837,378.066,222.84,378.061,222.825,378.098L222.825,378.098z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M222.817,378.118c0.002-0.007,0.005-0.017,0.007-0.021
          C222.822,378.104,222.821,378.109,222.817,378.118z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M222.796,378.17L222.796,378.17
          c0.013-0.021,0.021-0.039,0.021-0.055C222.811,378.131,222.806,378.145,222.796,378.17z"/>
        <path opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M226.194,371.945c-0.985-1.11-3.242-1.204-4.207,0
          c-0.43,0.535-0.734,0.938-0.899,1.619c-0.164,0.672-0.104,1.336,0.057,2.002c0.226,0.963,0.979,1.767,1.892,2.154
          c-0.084,0.146-0.169,0.282-0.236,0.444c-0.047,0.119-0.118,0.299-0.125,0.313c-0.056,0.182-0.063,0.387-0.092,0.563
          c-0.104,0.793,0.376,1.748,1.2,1.961c1.057,0.271,1.946-0.461,2.289-1.413c0.262-0.728,0.133-1.513-0.279-2.134
          c0.647-0.444,1.14-1.131,1.334-1.896C227.46,374.252,227.083,372.943,226.194,371.945z"/>
      </g>
    </g>
    <g id="Text">
      <text transform="matrix(1 0 0 1 245.0515 308.2646)" fill="#FCFCFC" font-family="'Helvetica'" font-size="30">${{ totalCoverPlusLevy | numberComma }}</text>
      <text transform="matrix(1 0 0 1 265.4211 381.9316)" fill="#FCFCFC" font-family="'Helvetica'" font-size="20">${{ totalCoverPlusExtraLevy | numberComma }}</text>
    </g>
  </svg>
  <h6 class="absolute-bottom text-center text-savings" v-if="totalSavings">ACC Savings: ${{ totalSavings | numberComma }}</h6>
  <h6 class="absolute-bottom text-center text-income-difference" v-if="incomeDifferenceAmount">Risk: ${{ incomeDifferenceAmount | numberComma }}</h6>
</div>
</template>

<script>
export default {
  props: {
    incomeDifferenceAmount: {
      type: Number,
      default: 0,
    },
    totalSavings: {
      type: Number,
      default: 0,
    },
    totalCoverPlusLevy: {
      type: [String, Number],
      required: true,
    },
    totalCoverPlusExtraLevy: {
      type: [String, Number],
      required: true,
    },
    w: {
      type: [String, Number],
      default: '100%',
    },
    h: {
      type: [String, Number],
      default: '50vh',
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~variables'

.text-savings
  margin-top 30px
  margin-bottom 30px
  font-size 1.4em
  color rgb(141, 229, 131)

.text-income-difference
  color $amber
  margin-top 1.2em
  margin-bottom 0
  font-size 1.2em
</style>
