<template>
  <div>
    <svg id="pigs-svg-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-117.348 -65.774 596.073 574.394" xml:space="preserve" :width="w" :height="h">
      <g id="pig-blue">
        <path fill="#84D1F5" d="M244.429,454.181c-42.794,15.492-84.906,15.265-127.688,0.029c0,10.226,0.128,20.33-0.04,30.44
          c-0.142,8.636-3.034,16.154-10.854,20.681c-3.916,2.267-8.438,3.223-13.063,3.223c-26.599-0.01-53.2,0.203-79.796-0.092
          c-14.951-0.167-23.698-8.716-23.854-23.879c-0.287-28.148-0.767-56.324,0.26-84.435c0.399-10.997-3.522-18.524-10.314-26.073
          c-18.151-20.176-31.045-43.604-40.398-68.913c-5.445-14.74-9.721-29.898-10.882-45.754c-0.311-4.225-1.958-6.735-7.353-6.445
          c-7.146,0.383-14.392,0.953-21.596-1.019c-8.667-2.372-16.333-11.426-16.2-20.185c0.139-8.959,7.568-17.501,16.41-19.933
          c7.64-2.097,15.299-1.012,22.938-1.093c4.009-0.043,5.476-1.718,5.856-5.208c4.441-40.791,20.485-76.701,45.478-108.942
          c20.039-25.851,44.32-46.678,72.695-62.882c28.937-16.526,59.813-27.055,92.778-32.148c13.88-2.143,27.838-3.456,41.704-3.463
          c20.451-0.012,40.901,2.281,60.896,7.03c3.445,0.82,4.352-0.157,6.029-2.677c21.851-32.801,51.858-54.368,90.161-63.738
          c12.309-3.013,25.021-6.17,37.829-3.437c12.575,2.69,17.95,10.087,17.961,22.954c0.032,42.78-0.225,85.562,0.101,128.338
          c0.186,24.69,17.037,47.152,40.303,56.32c8.873,3.499,18.156,3.447,27.238,5.028c12.766,2.227,17.279,12.399,17.367,21.577
          c0.317,34.575,0.58,69.163-0.092,103.728c-0.273,14.14-8.098,21.528-23.133,22.428c-8.17,0.487-16.418,0.419-24.594-0.057
          c-3.924-0.223-5.223,1.437-6.293,4.57c-10.673,31.213-27.206,58.944-49.865,82.929c-2.375,2.518-2.297,4.993-2.297,7.796
          c-0.005,30.809,0.002,61.623-0.005,92.43c-0.006,16.347-8.907,25.225-25.282,25.233c-26.15,0.013-52.308,0.073-78.462-0.036
          c-8.648-0.041-16.157-3.027-20.703-10.816c-2.402-4.106-3.288-8.858-3.264-13.719
          C244.473,474.088,244.429,464.207,244.429,454.181L244.429,454.181z" />
        <path display="none" fill="#FEFEFE" d="M181.353,127.006c-23.688-1.746-45.27,4.442-65.945,13.977
          c-7.329,3.378-13.681,7.477-22.483,4.702c-10.084-3.177-15.049-10.26-15.802-19.721c-0.628-7.841,3.407-14.703,10.379-19.086
          c16.042-10.079,33.778-15.818,52.098-19.961c17.226-3.897,34.723-4.69,52.28-3.959c20.662,0.86,40.638,5.248,59.735,13.155
          c11.215,4.644,15.857,13.697,14.082,25.837c-1.164,7.933-10.13,15.812-20.177,16.594c-3.887,0.304-8.318-0.849-11.842-2.633
          c-8.034-4.065-16.789-5.64-25.306-7.441C199.45,126.585,190.101,125.88,181.353,127.006L181.353,127.006z M286.992,188.817
          c-2.055-21.111,20.044-43.332,44.047-42.457c20.424,0.746,42.599,20.172,41.441,44.807c-0.959,20.338-19.925,42.18-45.062,41.067
          C307.365,231.352,284.976,212.062,286.992,188.817z" />
        <text transform="matrix(1 0 0 1 20.814 191.0562)" fill="#4C1C54" :font-family="fontFamily" font-size="75">${{ totalCoverPlusLevy }}</text>
      </g>
      <g id="pig-violet">
        <path fill="#4C1C54" d="M213.115,480.925c-21.771,7.882-43.194,7.766-64.959,0.016c0,5.202,0.065,10.342-0.02,15.485
          c-0.072,4.393-1.543,8.219-5.522,10.521c-1.992,1.153-4.292,1.64-6.645,1.64c-13.532-0.006-27.065,0.104-40.595-0.047
          c-7.606-0.084-12.056-4.434-12.135-12.147c-0.146-14.319-0.39-28.654,0.132-42.954c0.204-5.596-1.792-9.425-5.247-13.265
          c-9.234-10.265-15.793-22.184-20.552-35.059c-2.771-7.498-4.945-15.21-5.536-23.276c-0.158-2.149-0.996-3.427-3.741-3.279
          c-3.635,0.195-7.321,0.484-10.986-0.518c-4.41-1.207-8.309-5.813-8.241-10.27c0.071-4.558,3.85-8.902,8.348-10.14
          c3.887-1.066,7.783-0.516,11.669-0.557c2.039-0.022,2.786-0.874,2.979-2.648c2.259-20.752,10.421-39.021,23.136-55.424
          c10.195-13.15,22.547-23.745,36.982-31.99c14.721-8.406,30.429-13.763,47.2-16.354c7.061-1.091,14.162-1.759,21.216-1.763
          c10.404-0.006,20.808,1.161,30.98,3.577c1.752,0.417,2.213-0.08,3.066-1.362c11.117-16.687,26.383-27.658,45.868-32.426
          c6.262-1.532,12.73-3.139,19.246-1.748c6.396,1.368,9.131,5.131,9.137,11.678c0.018,21.763-0.113,43.527,0.051,65.289
          c0.096,12.562,8.668,23.988,20.504,28.652c4.514,1.779,9.238,1.754,13.857,2.558c6.494,1.134,8.791,6.309,8.836,10.978
          c0.162,17.589,0.293,35.186-0.047,52.77c-0.139,7.192-4.119,10.952-11.77,11.41c-4.156,0.248-8.354,0.213-12.512-0.029
          c-1.996-0.113-2.656,0.73-3.201,2.325c-5.43,15.879-13.842,29.986-25.369,42.189c-1.207,1.279-1.168,2.539-1.168,3.965
          c-0.002,15.675,0.002,31.351-0.002,47.022c-0.004,8.316-4.531,12.833-12.861,12.836c-13.305,0.008-26.611,0.038-39.918-0.017
          c-4.399-0.021-8.218-1.541-10.531-5.503c-1.223-2.089-1.673-4.506-1.661-6.979C213.138,491.052,213.115,486.026,213.115,480.925
          L213.115,480.925z" />
        <path fill="#FEFEFE" d="M181.026,314.481c-12.051-0.889-23.03,2.259-33.548,7.11c-3.729,1.718-6.96,3.804-11.438,2.392
          c-5.13-1.617-7.656-5.22-8.04-10.033c-0.319-3.989,1.733-7.479,5.28-9.71c8.161-5.126,17.185-8.047,26.504-10.154
          c8.763-1.982,17.665-2.387,26.596-2.014c10.512,0.437,20.674,2.67,30.389,6.691c5.706,2.362,8.067,6.968,7.164,13.145
          c-0.591,4.035-5.152,8.043-10.263,8.441c-1.978,0.154-4.233-0.431-6.025-1.34c-4.087-2.066-8.541-2.869-12.874-3.785
          C190.233,314.266,185.477,313.907,181.026,314.481L181.026,314.481z M234.769,345.926c-1.046-10.74,10.197-22.045,22.408-21.6
          c10.391,0.379,21.67,10.263,21.082,22.795c-0.488,10.346-10.137,21.458-22.924,20.893
          C245.132,367.564,233.742,357.751,234.769,345.926z" />
        <text transform="matrix(1 0 0 1 85.814 420.4224)" fill="#FFFFFF" :font-family="fontFamily" font-size="42">${{ totalCoverPlusExtraLevy }}</text>
      </g>
    </svg>
  </div>
</template>

<script>
  export default {
    props: {
      w: {
        type: String,
        default: '100%'
      },
      h: {
        type: String,
        default: '100%'
      },
      fontFamily: {
        type: String,
        default: 'Helvetica'
      },
      totalCoverPlusLevy: {
        type: [String, Number],
        required: true
      },
      totalCoverPlusExtraLevy: {
        type: [String, Number],
        required: true
      }
    }
  }
</script>
