<template>
  <div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="100%" height="50vh" viewBox="571.577 186.838 212 274" enable-background="new 571.577 186.838 212 274"
       xml:space="preserve">
    <g id="Text">
      <text transform="matrix(1 0 0 1 648.3503 381.9316)" fill="#FCFCFC" font-family="'Helvetica'" font-size="28.5319">0%</text>
    </g>
    <g id="Layer_3_1_">
      <path fill="#68B8E7" d="M728.555,308.582c0,26.988-21.878,48.866-48.866,48.866l0,0c-26.988,0-48.866-21.878-48.866-48.866v-53.438
        c0-26.988,21.878-48.866,48.866-48.866l0,0c26.988,0,48.866,21.878,48.866,48.866V308.582z"/>
      <text transform="matrix(1 0 0 1 652.574 248.8682)" fill="#FFFFFF" font-family="'Helvetica'" font-size="27.4098">{{ percentage }}%</text>
      <text transform="matrix(1 0 0 1 684.3972 259.3359)" fill="#FFFFFF" font-family="'Helvetica'" font-size="15.3495">save</text>
      <ellipse opacity="0.5" fill="#EADCE2" enable-background="new    " cx="675.536" cy="430.543" rx="88.559" ry="8.117"/>
      <path fill="#ACF1FC" d="M767.091,358.764c0-0.238,0-0.474-0.058-0.652l-1.616-0.827l0.447-2.132h0.055
        c-0.444-0.709-0.948-1.42-1.561-2.068c-0.168-0.18-0.279-0.297-0.391-0.475c0,0,0,0-0.057-0.06c-2.007-2.13-4.57-3.728-7.692-4.851
        c-0.278-0.12-0.559-0.238-0.837-0.297c-3.736-1.185-7.08-1.303-10.146-0.416c-1.283,0.416-2.342,0.947-3.178,1.658
        c-0.393,0.295-0.67,0.649-0.948,1.006c-0.11,0.178-0.168,0.355-0.168,0.591c-0.055,0.061-0.055,0.179-0.055,0.354
        c-0.058,0.178-0.058,0.297,0,0.475c-0.226,0.06-0.446,0.117-0.669,0.177c-2.62,0.237-5.13,0.651-7.64,1.303
        c-2.341,0.593-4.628,1.361-6.802,2.308c0.502-0.531,1.003-1.064,1.506-1.599c0.166-0.235,0.391-0.472,0.613-0.709
        c0.613-0.769,1.226-1.598,1.784-2.426c0.947-1.538,1.728-3.194,2.341-4.97c1.003-3.195,1.45-6.449,1.394-9.764
        c-0.056-0.531-0.111-1.064-0.168-1.599c9.758-2.543,17.339-11.418,22.803-26.565c0.168-0.531,0.336-1.063,0.501-1.537
        c1.004-3.019,2.621-5.681,4.852-7.987c0.166-0.179,0.333-0.354,0.502-0.533c0.446-0.414,0.836-0.828,1.115-1.302
        c0.389-0.65,0.557-1.303,0.612-1.952c-0.169-0.946-1.003-1.597-2.619-1.894c-0.95-0.236-2.175-0.354-3.625-0.354
        c-0.613,0.06-1.17,0.06-1.673,0.06c-2.73,0-5.185-0.475-7.247-1.42c-0.392-0.236-0.779-0.474-1.173-0.651
        c-10.981-5.621-22.299-6.566-33.949-2.78c-0.225,0.061-0.446,0.118-0.614,0.237c-0.223-0.296-0.445-0.592-0.668-0.888
        c-0.502-0.65-1.063-1.243-1.617-1.774c-0.67-0.71-1.394-1.361-2.174-1.953c-0.67-0.532-1.339-1.006-2.008-1.539
        c-12.209-9.052-24.027-11.714-35.514-7.987c-2.954,0.946-5.854,2.309-8.696,4.082c-0.111,0.06-0.224,0.119-0.278,0.179
        l-0.445,0.237c-0.168,0.059-0.278,0.177-0.446,0.294c-5.297,3.313-9.533,7.515-12.655,12.663
        c-10.369-3.433-20.459-2.781-30.216,1.952c-0.279,0.179-0.613,0.296-0.894,0.474c-1.95,0.888-4.236,1.242-6.855,1.184
        c-0.503-0.059-1.003-0.059-1.45-0.059c-3.513-0.179-5.463,0.414-5.742,1.773c0,0.296,0,0.592,0.056,0.889
        c0.057,0.354,0.225,0.65,0.447,0.946c0.11,0.118,0.222,0.236,0.334,0.354c0.558,0.65,1.114,1.36,1.672,2.069
        c0.67,0.77,1.283,1.539,1.841,2.308c0.893,1.421,1.616,2.959,2.175,4.558c0.167,0.474,0.278,0.947,0.444,1.479
        c4.293,12.129,9.98,19.938,17.004,23.49c0.111,0.059,0.225,0.059,0.334,0.116l3.791,1.539c0.058,5.442,1.396,10.412,3.959,14.91
        c-4.181-1.716-8.251-3.078-12.265-4.144c-0.224-0.058-0.446-0.117-0.669-0.177c0-0.178,0-0.295,0-0.474
        c-0.057-0.118-0.057-0.236-0.057-0.354c-0.057-0.178-0.167-0.355-0.279-0.533c-0.277-0.355-0.557-0.65-0.947-0.945
        c-0.891-0.71-2.007-1.303-3.344-1.719c-3.179-0.885-6.69-0.769-10.481,0.416c-0.278,0.059-0.612,0.178-0.893,0.297
        c-3.232,1.123-5.854,2.779-7.915,4.971c-0.113,0.117-0.225,0.234-0.336,0.413c-0.612,0.651-1.17,1.36-1.563,2.069h0.058
        l0.501,2.189l-1.616,0.77c-0.056,0.179-0.056,0.414-0.056,0.65c-0.056,0.237-0.056,0.475,0,0.71c0,0.415,0.056,0.89,0.167,1.302
        c0.391,1.599,1.339,2.899,2.845,3.904c0.779,0.475,1.728,0.889,2.843,1.243c2.843,0.827,5.909,0.827,9.312-0.06
        c9.923,2.012,20.123,7.986,30.55,17.928c-0.502,1.951-1.003,3.904-1.449,5.977c-0.056,0.118-0.056,0.237-0.111,0.354
        c-0.168,0.532-0.278,1.125-0.39,1.774c-0.447,2.309-0.894,4.496-1.396,6.627c-0.167,0.65-0.391,1.36-0.612,2.012
        c-2.176,5.798-5.967,8.462-11.43,7.986c-1.17-0.117-2.451-0.354-3.734-0.709c-0.167-0.178-0.335-0.354-0.501-0.533
        c-2.621-2.662-5.13-3.607-7.583-2.896c-0.391,0.117-0.779,0.294-1.114,0.473l-0.056,0.06c-0.056,0.295-0.056,0.649-0.112,0.946
        c-0.111,1.125-0.111,2.131-0.056,3.137c0.056,1.478,0.391,2.779,0.893,3.963c-0.947-1.242-1.561-2.604-1.896-3.963
        c-0.277-0.889-0.445-1.776-0.502-2.723c-1.004,1.125-1.728,2.662-2.229,4.674c-0.947,3.668-0.836,7.691,0.335,12.129
        c1.171,4.438,3.011,7.929,5.575,10.591c2.453,2.485,4.851,3.433,7.247,2.898c0.111-0.059,0.224-0.059,0.336-0.059
        c0.223-0.058,0.445-0.177,0.725-0.295c0.445-0.178,0.836-0.473,1.227-0.771c1.506-0.53,2.898-0.945,4.294-1.359
        c2.729-0.829,5.238-1.479,7.581-1.894c0.445-0.06,1.729-0.354,3.901-0.77c2.175-0.415,5.129-0.771,8.978-1.066
        c3.846-0.354,7.691-0.709,11.54-1.005c3.957-0.297,7.972-0.474,12.041-0.532s8.141,0.06,12.21,0.414
        c4.014,0.296,8.083,0.828,12.152,1.479c4.069,0.651,8.084,1.361,11.987,2.013c3.9,0.652,7.804,1.479,11.65,2.426
        c1.45,0.354,2.843,0.828,4.125,1.479c1.394,0.649,2.73,1.421,4.015,2.308c0.501,0.592,1.115,1.065,1.783,1.361
        c0.224,0.06,0.503,0.177,0.781,0.236c2.396,0.649,4.85-0.475,7.413-3.49c2.511-3.019,4.405-6.923,5.575-11.833
        c1.172-4.911,1.395-9.35,0.558-13.254c-0.558-2.485-1.393-4.32-2.564-5.504c-0.278,0.889-0.612,1.717-0.891,2.604
        c-0.836,2.188-1.784,4.318-2.956,6.509c1.283-3.254,2.009-6.391,2.287-9.467c0-0.236,0-0.475,0.055-0.71
        c-0.278-0.118-0.558-0.237-0.836-0.296c-0.502-0.119-0.948-0.178-1.393-0.178c-0.615,0-1.228,0.117-1.842,0.412
        c-2.006,0.297-4.014,0.297-6.021,0c-0.78-0.117-1.562-0.234-2.286-0.412c-1.059-0.297-2.174-0.651-3.289-1.065l-1.561-0.771
        c-0.225-0.176-0.393-0.295-0.559-0.413c-0.391-0.296-0.669-0.65-0.893-1.064h0.837c1.783,0.117,3.512-1.007,5.24-3.372
        c0.778-1.125,1.394-2.248,1.782-3.313c1.172-0.532,2.175-1.775,2.898-3.608c0.726-1.835,1.005-3.433,0.949-4.793
        c-0.058,1.36-0.613,2.723-1.563,4.143c-0.612,0.888-1.227,1.479-1.84,1.834c0-0.178,0-0.295,0.056-0.414
        c-0.056-1.36-0.612-2.604-1.673-3.728c-0.222-0.237-0.444-0.415-0.669-0.592c-0.223-0.179-0.445-0.354-0.669-0.414
        c8.531-7.871,17.004-12.722,25.312-14.496c3.29,0.888,6.242,0.888,8.977,0c1.058-0.297,1.951-0.71,2.731-1.185
        c1.394-1.006,2.284-2.309,2.621-3.965C767.144,360.123,767.144,359.413,767.091,358.764z M728.177,388.404
        c-0.392,0.414-0.894,0.887-1.45,1.302c-1.617,1.302-2.953,1.953-4.014,1.953c-0.445,0-1.061-0.118-1.841-0.413
        c0-0.061,0-0.12-0.056-0.18c-0.166-0.827-0.39-1.655-0.558-2.424c-0.057-0.297-0.167-0.533-0.223-0.83
        c1.281-1.42,2.509-2.779,3.79-4.022c0,0.06,0,0.118,0,0.178c0.057,2.959,1.448,4.438,4.293,4.378h0.056L728.177,388.404
        L728.177,388.404z M727.508,382.666c0.837,0,1.448,0.473,1.729,1.42c0.112,0.473,0.168,0.947,0.168,1.42l0.057,0.118h-0.057
        c-0.168,0.296-0.334,0.414-0.502,0.414c-1.783,0-2.676-0.649-2.676-2.013C726.225,383.139,726.673,382.666,727.508,382.666z"/>
      <path fill="#69AAD6" d="M767.049,358.893c0-0.236,0-0.475-0.057-0.65l-1.616-0.828l-3.178-1.538
        c-3.233,3.608-9.143,3.49-17.673-0.296c2.286,1.654,5.073,3.02,8.418,4.083c0.224,0.06,0.446,0.177,0.67,0.237
        c3.345,0.945,6.299,1.3,8.92,1.123C765.152,360.846,766.658,360.135,767.049,358.893L767.049,358.893z"/>
      <path fill="#95CEFC" d="M766.936,360.904c0.169-0.651,0.169-1.362,0.111-2.014c-0.391,1.243-1.896,1.953-4.517,2.131
        c-2.621,0.178-5.575-0.178-8.92-1.123c-0.224-0.062-0.446-0.178-0.67-0.237c-3.345-1.063-6.132-2.427-8.418-4.083
        c-0.167-0.178-0.39-0.295-0.557-0.414c-1.951-1.479-2.954-2.78-3.122-3.964c-0.225,0.059-0.445,0.118-0.669,0.178
        c-0.111,0.297-0.225,0.651-0.278,1.006c-0.446,2.013,0,4.023,1.393,6.093c0.111,0.18,0.225,0.355,0.393,0.533
        c0.222,0.297,0.5,0.651,0.779,1.006c2.285,2.664,5.296,4.558,9.031,5.739c0.391,0.119,0.726,0.237,1.114,0.296
        c3.29,0.889,6.244,0.889,8.978,0c1.059-0.296,1.95-0.709,2.73-1.182C765.711,363.861,766.602,362.561,766.936,360.904
        L766.936,360.904z"/>
      <path fill="#8DE2E2" d="M670.713,273.1c-2.953,0.947-5.854,2.308-8.696,4.083c-0.111,0.059-0.225,0.118-0.278,0.177l-0.444,0.237
        c-0.17,0.06-0.28,0.178-0.447,0.296c-5.296,3.313-9.532,7.515-12.654,12.662c-0.947,1.479-1.729,3.018-2.453,4.614
        c-0.168,0.414-0.335,0.771-0.503,1.185c-0.055,0.06-0.055,0.178-0.11,0.297c-0.391,1.183-0.837,2.365-1.227,3.49
        c-0.168,0.414-0.391,0.828-0.558,1.241c-1.282,3.019-2.732,5.917-4.35,8.64c-0.334,0.474-0.669,0.945-0.947,1.418l-0.224,0.356
        c-2.396,3.728-4.236,7.81-5.631,12.247c-0.335,1.479-0.613,2.959-0.779,4.378c-0.224,1.774-0.335,3.491-0.278,5.208
        c0.056,5.441,1.394,10.412,3.959,14.909c0.835,1.479,1.896,2.958,3.064,4.379c2.174,2.662,4.852,5.088,8.027,7.336
        c2.287,1.599,4.795,3.076,7.526,4.438c8.25,3.371,17.06,5.442,26.48,6.152c0.391,0,0.835,0,1.227,0.059c0.392,0,0.837,0,1.229,0.06
        c8.807-0.296,16.612-1.597,23.358-3.846c-0.057,0.118,0,0.118,0.167-0.06c0.224-0.059,0.445-0.117,0.611-0.178
        c0.67-0.295,1.339-0.531,2.009-0.77c0.391-0.354,0.837-0.709,1.281-1.006c0.726-0.531,1.45-1.123,2.175-1.656
        c0.279-0.297,0.613-0.531,0.947-0.77c4.014-3.255,8.195-5.8,12.543-7.691c0.502-0.531,1.004-1.065,1.506-1.598
        c0.894-1.006,1.673-2.07,2.397-3.137c-35.179,11.598-62.997,9.288-83.347-6.98l-2.954-2.545
        c-9.478-8.935-10.761-18.638-3.791-29.052c6.745-5.501,13.715-7.276,21.019-5.323c0.557-1.717,1.672-3.256,3.344-4.615
        c0.613-0.533,1.339-1.006,2.175-1.479c0.278-0.178,0.613-0.356,0.893-0.474C662.798,291.205,664.022,282.271,670.713,273.1
        L670.713,273.1z M665.361,280.2c-4.739,0.118-8.528,2.722-11.316,7.811C656.832,282.922,660.622,280.318,665.361,280.2
        L665.361,280.2z M661.848,300.79c-0.613-0.235-1.228-0.414-1.839-0.532c-4.016-0.888-7.807,0.178-11.375,3.313
        c-0.055,0.06-0.055,0.06-0.055,0.119c-0.613,0.474-1.171,1.006-1.729,1.598c0.558-0.592,1.115-1.124,1.729-1.598
        c0-0.061,0-0.061,0.055-0.119c3.234-6.805,7.024-7.87,11.375-3.313C660.622,300.376,661.235,300.554,661.848,300.79L661.848,300.79
        z"/>
      <path fill="#663300" d="M648.696,303.571c3.501-3.138,7.22-4.201,11.156-3.313C655.589,295.7,651.869,296.768,648.696,303.571
        L648.696,303.571z"/>
      <path fill="#8DE2E2" d="M624.161,295.287c-0.892,0.296-1.782,0.65-2.619,1.064c-0.613,0.178-1.171,0.354-1.784,0.531
        c-2.844,0.71-5.854,0.889-8.977,0.533c-0.39-0.059-0.835-0.177-1.226-0.237c-3.18-0.413-5.074-0.116-5.688,0.888
        c0.559,0.651,1.116,1.361,1.672,2.072c0.67,0.769,1.283,1.537,1.841,2.308c0.892,1.421,1.616,2.958,2.175,4.556
        c0.167,0.475,0.277,0.946,0.445,1.48c2.898,8.188,6.434,14.41,10.587,18.681c1.995,2.053,4.136,3.655,6.417,4.808
        c0.11,0.06,0.223,0.06,0.335,0.118l3.791,1.539c-0.057-1.716,0.056-3.433,0.277-5.207l-2.563-1.42
        c-0.167-0.06-0.278-0.119-0.392-0.178l-0.109-0.118h-0.057c-0.057-0.061-0.057-0.061-0.111-0.061
        c-0.167-0.117-0.335-0.235-0.501-0.295c-5.187-3.254-8.81-9.054-10.929-17.453c0-0.062,0-0.062,0-0.062
        c-0.056-0.296-0.11-0.649-0.167-0.944c-0.612-2.369-1.839-4.557-3.791-6.628c-0.779-1.894,0.726-2.426,4.461-1.538
        c1.84,0.592,3.68,0.769,5.631,0.532c2.676-0.532,5.352-0.829,8.083-0.948c0.056,0,0.168,0,0.335,0
        c4.069-0.058,8.084,0.652,12.042,2.072c0.168-0.414,0.391-0.828,0.558-1.243c0.391-1.122,0.837-2.308,1.227-3.489
        c0.057-0.119,0.057-0.237,0.11-0.297c0.168-0.414,0.335-0.77,0.503-1.184c-6.745-2.543-13.882-2.543-21.353,0.061
        C624.329,295.229,624.219,295.229,624.161,295.287L624.161,295.287z"/>
      <path fill="#D2FFF3" d="M621.239,296.225c0.821-0.414,1.695-0.771,2.57-1.066c0.056-0.059,0.164-0.059,0.219-0.059
        c7.328-2.604,14.327-2.604,20.944-0.06c0.711-1.599,1.477-3.136,2.407-4.615c-10.172-3.432-20.07-2.782-29.641,1.952
        c-0.272,0.177-0.602,0.296-0.875,0.473c-1.914,0.889-4.156,1.243-6.727,1.186c-0.492-0.061-0.984-0.061-1.422-0.061
        c-3.446-0.177-5.359,0.414-5.633,1.775c0,0.295,0,0.592,0.055,0.888c0.055,0.354,0.219,0.65,0.438,0.946
        c0.109,0.118,0.22,0.236,0.328,0.354c0.603-1.004,2.461-1.301,5.578-0.888c0.384,0.062,0.82,0.179,1.203,0.237
        c3.062,0.354,6.016,0.177,8.804-0.533C620.092,296.578,620.638,296.4,621.239,296.225L621.239,296.225z"/>
      <path fill="#A5D3F9" d="M617.249,299.727c-3.734-0.89-5.239-0.355-4.46,1.537c1.951,2.071,3.178,4.26,3.791,6.627
        c0.057,0.297,0.111,0.649,0.167,0.945c0,0,0,0,0,0.061c2.118,8.4,5.742,14.201,10.928,17.455c0.167,0.06,0.335,0.176,0.501,0.295
        c0.056,0,0.056,0,0.112,0.06h0.056l0.11,0.118c0.112,0.059,0.224,0.117,0.391,0.178l2.564,1.42c0.167-1.42,0.445-2.898,0.779-4.379
        c1.395-4.438,3.234-8.52,5.631-12.247l0.225-0.354c0.278-0.475,0.612-0.945,0.946-1.42c-2.063-0.06-3.847-0.711-5.352-2.012
        c-1.784-1.479-2.731-3.256-2.898-5.385c-0.057-1.184,0.11-2.248,0.501-3.255l-0.278-0.06c-2.731,0.117-5.407,0.414-8.083,0.946
        C620.928,300.493,619.09,300.314,617.249,299.727L617.249,299.727z"/>
      <path fill="#A5D3F9" d="M607.048,340.609c-0.278,0.059-0.613,0.178-0.894,0.295c-3.231,1.123-5.853,2.781-7.916,4.972
        c0.335,0.769,0.726,1.419,1.171,2.069l3.958-0.531l-3.178,1.538c3.4,3.608,9.534,3.491,18.286-0.298
        c0.168-0.176,0.391-0.293,0.558-0.412c1.951-1.479,2.954-2.842,3.122-4.023c0-0.178,0-0.297,0-0.475
        c-0.056-0.118-0.056-0.235-0.056-0.354c-0.056-0.178-0.167-0.354-0.278-0.531c-0.279-0.355-0.558-0.651-0.948-0.947
        c-0.892-0.71-2.007-1.301-3.345-1.717C614.35,339.307,610.838,339.425,607.048,340.609L607.048,340.609z"/>
      <path fill="#95CEFC" d="M598.238,345.876c-0.11,0.118-0.223,0.237-0.334,0.414c-0.612,0.649-1.171,1.36-1.562,2.071h0.056
        l3.011-0.416C598.964,347.295,598.573,346.645,598.238,345.876L598.238,345.876z"/>
      <path fill="#95CEFC" d="M622.824,344.396c-0.224-0.061-0.445-0.119-0.669-0.178c-0.168,1.184-1.171,2.545-3.122,4.023
        c-0.168,0.119-0.391,0.236-0.558,0.412c-2.285,1.599-5.187,2.96-8.586,4.025c-0.279,0.059-0.501,0.178-0.726,0.235
        c-3.399,1.006-6.467,1.36-9.197,1.185c-2.731-0.179-4.293-0.889-4.739-2.132c-0.056,0.651,0,1.362,0.168,2.015
        c0.391,1.597,1.338,2.896,2.843,3.902c0.78,0.475,1.729,0.889,2.845,1.242c2.843,0.829,5.908,0.829,9.31-0.059
        c0.391-0.06,0.781-0.178,1.171-0.297c3.791-1.183,6.857-3.076,9.143-5.737c0.392-0.533,0.781-1.007,1.172-1.54
        c1.338-2.069,1.784-4.081,1.282-6.094C623.048,345.047,622.935,344.691,622.824,344.396L622.824,344.396z"/>
      <path fill="#D2FFF3" d="M622.824,344.396c0.111,0.295,0.224,0.649,0.334,1.006c0.502,2.013,0.057,4.023-1.282,6.094
        c5.24-0.826,10.647-0.354,16.278,1.421c-1.17-1.421-2.229-2.899-3.064-4.378C630.907,346.822,626.839,345.461,622.824,344.396
        L622.824,344.396z"/>
      <path fill="#95CEFC" d="M666.977,299.784c-0.279,0.118-0.613,0.296-0.893,0.474c-0.836,0.473-1.562,0.946-2.175,1.479
        c0.502,1.717,1.115,3.313,1.841,4.793c0.168-0.828,0.612-1.655,1.339-2.426c0.725-0.828,1.504-1.36,2.341-1.656
        c0.837-0.295,1.45-0.237,1.896,0.178c0.502,0.414,0.613,1.064,0.446,1.953c-0.168,0.888-0.613,1.716-1.339,2.544
        s-1.504,1.36-2.341,1.657c-0.334,0.117-0.614,0.177-0.894,0.236c5.187,7.631,14.495,10.354,27.932,8.045
        c1.281-1.598,2.007-3.371,2.174-5.384c0.167-3.489-1.448-6.567-4.905-9.348c-3.513-2.78-7.861-4.319-12.99-4.734
        C674.672,297.24,670.547,297.95,666.977,299.784L666.977,299.784z M682.643,304.221c0.501-0.354,1.17-0.296,2.007,0.12
        c0.836,0.413,1.562,1.124,2.174,2.13c0.613,1.006,1.003,1.951,1.115,2.898c0.056,0.888-0.168,1.539-0.669,1.895
        c-0.502,0.295-1.171,0.236-2.007-0.178c-0.838-0.415-1.563-1.125-2.176-2.07c-0.612-1.008-1.003-1.953-1.06-2.9
        C681.919,305.169,682.141,304.518,682.643,304.221L682.643,304.221z"/>
      <path fill="#69AAD6" d="M684.65,304.341c-0.837-0.416-1.505-0.474-2.006-0.12c-0.503,0.297-0.727,0.948-0.614,1.895
        c0.057,0.947,0.446,1.894,1.061,2.9c0.612,0.945,1.337,1.655,2.175,2.07c0.836,0.414,1.505,0.473,2.007,0.178
        c0.501-0.354,0.725-1.007,0.669-1.895c-0.111-0.947-0.502-1.893-1.115-2.898C686.212,305.465,685.486,304.754,684.65,304.341
        L684.65,304.341z"/>
      <path fill="#69AAD6" d="M671.326,302.624c-0.445-0.415-1.059-0.474-1.896-0.179c-0.837,0.297-1.616,0.83-2.341,1.656
        c-0.727,0.771-1.171,1.599-1.339,2.426c0.056,0,0.056,0,0.056,0.062l-0.056,0.06c-0.168,0.887-0.057,1.539,0.445,1.951
        c0.279,0.297,0.613,0.416,1.004,0.416c0.278-0.061,0.559-0.119,0.893-0.236c0.837-0.297,1.617-0.829,2.341-1.657
        c0.726-0.828,1.171-1.656,1.339-2.544C671.939,303.689,671.828,303.038,671.326,302.624L671.326,302.624z"/>
      <path fill="#D2FFF3" d="M664.135,317.355c-0.78-0.648-1.45-1.358-1.951-2.012c-2.509-1.833-4.852-4.141-6.914-6.923
        c2.063,2.782,4.404,5.09,6.914,6.923c-1.617-2.012-2.343-4.201-2.174-6.566c0.055-0.887,0.277-1.656,0.557-2.426
        c-7.304-1.953-14.271-0.178-21.018,5.323c-6.971,10.414-5.688,20.117,3.791,29.052l2.955,2.545
        c20.348,16.271,48.167,18.578,83.345,6.98c0.947-1.537,1.729-3.193,2.343-4.97c1.003-3.195,1.448-6.449,1.394-9.763
        c-0.057-0.533-0.11-1.065-0.169-1.598c-0.276-1.953-0.669-3.904-1.226-5.857c-0.949-3.137-2.342-6.213-4.182-9.229
        c-1.841-2.426-3.401-5.207-4.738-8.342c-0.837-1.954-1.617-3.966-2.286-6.154c-0.167-0.592-0.335-1.183-0.501-1.716
        c-0.169-0.532-0.335-1.064-0.502-1.598l-0.948-2.189l-1.783-4.2l-0.445-1.184c-0.446-0.827-0.894-1.656-1.338-2.427
        c-0.837-1.36-1.674-2.604-2.564-3.786c-0.224-0.296-0.447-0.593-0.67-0.888c-0.502-0.65-1.059-1.242-1.617-1.774
        c-0.668-0.71-1.393-1.361-2.174-1.952c-0.668-0.532-1.337-1.007-2.006-1.539c-12.21-9.053-24.029-11.715-35.514-7.987
        c-6.689,9.171-7.916,18.104-3.735,26.685c3.568-1.834,7.693-2.544,12.432-2.19c5.13,0.414,9.479,1.954,12.99,4.734
        c3.457,2.779,5.073,5.857,4.906,9.348c-0.167,2.014-0.893,3.786-2.175,5.385c-0.725,0.888-1.673,1.715-2.787,2.484
        c3.065-0.77,6.3-1.833,9.7-3.195c1.004-0.412,2.063-0.826,3.123-1.24c-1.061,0.414-2.119,0.828-3.123,1.24
        c-2.844,2.486-5.296,5.09-7.415,7.812c-1.337,1.716-2.508,3.433-3.567,5.267c-0.167,0.178-0.279,0.354-0.446,0.532
        c-0.056,0.06-0.056,0.117-0.11,0.177c-0.614,0.771-1.171,1.42-1.729,2.071c-6.744,7.515-13.212,8.521-19.289,3.019
        c-1.561-1.834-2.229-4.143-1.95-6.922c0-0.062,0-0.119,0-0.179c0-0.118,0-0.237,0.056-0.354c0.056-0.711,0.11-1.42,0.056-2.131
        C667.425,322.8,666.254,320.02,664.135,317.355L664.135,317.355z M657.443,306.589c-2.842,0.117-4.904,1.063-6.131,2.78
        C652.539,307.652,654.6,306.706,657.443,306.589L657.443,306.589z M709.347,317.12c-1.282-3.491-3.347-5.028-6.188-4.556
        C706.003,312.092,708.065,313.629,709.347,317.12L709.347,317.12z M715.593,314.695c-0.393-0.889-0.836-1.658-1.339-2.368
        c-3.122-4.97-7.472-7.277-13.046-6.923c-0.947,0.061-1.896,0.179-2.844,0.354c0.948-0.177,1.896-0.295,2.844-0.354
        c7.304-4.732,11.651-2.426,13.046,6.923C714.757,313.037,715.2,313.807,715.593,314.695L715.593,314.695z M715.258,299.605
        c-1.004-5.738-3.902-9.879-8.697-12.365C711.354,289.727,714.254,293.867,715.258,299.605L715.258,299.605z"/>
      <path fill="#663300" d="M714.254,312.327c-1.395-9.349-5.742-11.655-13.046-6.923C706.782,305.05,711.132,307.357,714.254,312.327
        L714.254,312.327z"/>
      <path fill="#A5D3F9" d="M662.183,315.346c0.501,0.651,1.171,1.361,1.951,2.01c0.277,0.237,0.558,0.476,0.836,0.711
        c3.457,2.781,7.75,4.379,12.934,4.793c5.129,0.354,9.589-0.532,13.38-2.721c0.392-0.18,0.727-0.416,1.061-0.593
        c1.113-0.771,2.063-1.598,2.787-2.485c-13.436,2.309-22.745-0.414-27.931-8.047c-0.391,0-0.725-0.117-1.004-0.414
        c-0.502-0.414-0.612-1.065-0.446-1.953c0-0.059,0-0.059,0-0.117c-0.725-1.479-1.338-3.077-1.84-4.793
        c-1.673,1.361-2.788,2.899-3.345,4.615c-0.278,0.77-0.502,1.539-0.557,2.428C659.843,311.145,660.567,313.333,662.183,315.346
        L662.183,315.346z"/>
      <path fill="#660000" d="M664.97,318.066c-0.278-0.236-0.559-0.475-0.836-0.711c2.118,2.662,3.289,5.443,3.511,8.285
        c0.057,0.709,0,1.418-0.056,2.129c-0.056,0.117-0.056,0.236-0.056,0.354c0,0.06,0,0.117,0,0.179
        c-0.278,2.779,0.391,5.088,1.95,6.922c0.614-0.947,1.283-1.775,1.896-2.427c1.674-1.774,3.4-2.661,5.13-2.661
        c1.951-5.504,5.128-5.74,9.533-0.711c1.17,0.059,2.676,0.297,4.459,0.711c0.057-0.061,0.057-0.119,0.111-0.178
        c0.168-0.179,0.279-0.355,0.446-0.533c1.06-1.835,2.229-3.551,3.567-5.266c2.118-2.723,4.571-5.325,7.414-7.811
        c-3.399,1.36-6.634,2.424-9.699,3.194c-0.334,0.177-0.669,0.413-1.06,0.593c-3.792,2.188-8.252,3.075-13.381,2.721
        C672.72,322.445,668.427,320.848,664.97,318.066L664.97,318.066z"/>
      <path fill="#69AAD6" d="M631.299,299.311c-0.057,0.061-0.057,0.061-0.057,0.061c-0.39,1.006-0.558,2.07-0.502,3.255
        c0.167,2.129,1.114,3.903,2.899,5.384c1.506,1.303,3.289,1.952,5.352,2.012c1.616-2.722,3.066-5.621,4.35-8.639
        C639.382,299.962,635.367,299.252,631.299,299.311L631.299,299.311z"/>
      <path fill="#FF6666" d="M671.382,332.799c-0.612,0.651-1.281,1.479-1.896,2.426c6.078,5.504,12.545,4.496,19.29-3.017
        c-3.01-1.717-7.137-1.243-12.32,1.479h-0.056c-0.223,0.295-0.446,0.533-0.669,0.828c0.223-0.295,0.446-0.533,0.669-0.828
        C675.452,331.675,673.778,331.379,671.382,332.799L671.382,332.799z"/>
      <path fill="#D2FFF3" d="M713.26,286.898c-0.224,0.059-0.445,0.119-0.613,0.237c0.893,1.2,1.729,2.458,2.563,3.839
        c8.302-2.278,15.656-1.8,22.177,1.498c0.113,0.061,0.224,0.12,0.279,0.178h0.055c0.168,0.063,0.335,0.182,0.502,0.242
        c3.623,2.039,7.634,2.638,12.036,1.857c0.167-0.061,0.39-0.061,0.612-0.12c0.167-0.062,0.391-0.062,0.558-0.12
        c5.237-1.26,9.25-1.438,12.092-0.479c-0.167-0.959-1.003-1.618-2.619-1.918c-0.946-0.24-2.174-0.359-3.622-0.359
        c-0.613,0.061-1.171,0.061-1.671,0.061c-2.731,0-5.183-0.48-7.244-1.438c-0.391-0.24-0.78-0.479-1.17-0.659
        C736.219,284.02,724.906,283.062,713.26,286.898L713.26,286.898z"/>
      <path fill="#69AAD6" d="M719.772,301.025c0.168,0.533,0.334,1.065,0.502,1.599c0.167,0.533,0.334,1.124,0.501,1.716
        c0.669,2.188,1.449,4.2,2.287,6.154c0.724,0.177,1.56,0.296,2.452,0.234c2.286-0.177,4.182-1.063,5.742-2.722
        c1.505-1.597,2.229-3.491,2.063-5.62c-0.167-2.13-1.06-3.965-2.786-5.443c-0.112-0.061-0.224-0.178-0.335-0.236
        c-3.791,0.118-7.524,0.829-11.262,2.07C719.215,299.548,719.493,300.258,719.772,301.025L719.772,301.025z"/>
      <path fill="#FFCCCC" d="M716.464,298.837l0.931,2.188c-0.274-0.769-0.548-1.479-0.82-2.248L716.464,298.837L716.464,298.837z"/>
      <path fill="#8DE2E2" d="M717.04,294.637l1.784,4.2l0.112-0.06c3.735-1.241,7.471-1.952,11.262-2.069c0.11,0,0.223,0,0.334,0
        c3.232-0.06,6.522,0.294,9.813,1.063c0.277,0.06,0.558,0.117,0.893,0.179c1.672,0.296,3.567,0.296,5.688-0.119
        c0.39-0.118,0.779-0.177,1.17-0.237c4.069-0.769,5.632-0.177,4.795,1.895c-0.279,0.297-0.559,0.593-0.836,0.947h-0.057
        c-1.616,1.894-2.677,3.904-3.179,6.094c-0.055,0.354-0.111,0.709-0.167,1.064c-2.62,10.354-8.194,17.217-16.668,20.473
        c0.556,1.953,0.947,3.904,1.226,5.856c9.757-2.544,17.339-11.419,22.803-26.565c0.167-0.532,0.335-1.064,0.501-1.539
        c1.005-3.018,2.621-5.68,4.852-7.987c0.168-0.177,0.334-0.354,0.502-0.532c0.445-0.414,0.836-0.826,1.114-1.302
        c0.392-0.649,0.559-1.302,0.613-1.951c-2.845-0.946-6.857-0.771-12.099,0.474c-0.167,0.059-0.39,0.059-0.556,0.119
        c-0.224,0.058-0.447,0.058-0.614,0.117c-4.404,0.77-8.419,0.178-12.042-1.834c-0.167-0.061-0.335-0.177-0.503-0.238h-0.055
        c-0.057-0.058-0.168-0.117-0.278-0.177c-6.522-3.254-13.882-3.729-22.188-1.479c0.445,0.77,0.893,1.599,1.338,2.427L717.04,294.637
        L717.04,294.637z"/>
      <path fill="#FE4E4E" d="M688.775,332.208c0.558-0.651,1.115-1.301,1.729-2.071c-1.785-0.414-3.29-0.65-4.46-0.71
        c-2.286-0.118-4.406,0.414-6.355,1.599c-1.172,0.65-2.229,1.539-3.233,2.662C681.638,330.966,685.765,330.491,688.775,332.208
        L688.775,332.208z"/>
      <path fill="#330000" d="M686.046,329.427c-4.406-5.028-7.583-4.793-9.534,0.71c1.059-0.06,2.119,0.236,3.179,0.889
        C681.638,329.841,683.759,329.309,686.046,329.427L686.046,329.427z"/>
      <path fill="#FE4E4E" d="M679.689,331.023c-1.06-0.649-2.12-0.946-3.179-0.888c-1.729,0-3.456,0.888-5.13,2.662
        c2.396-1.42,4.069-1.124,5.019,0.888h0.056C677.46,332.563,678.517,331.675,679.689,331.023L679.689,331.023z"/>
      <path fill="#A5D3F9" d="M748.094,297.595c-0.391,0.061-0.78,0.118-1.17,0.236c-2.119,0.415-4.016,0.415-5.688,0.119
        c-0.333-0.06-0.613-0.119-0.892-0.179c-3.289-0.77-6.579-1.123-9.813-1.063v0.237c1.729,1.479,2.62,3.313,2.787,5.441
        c0.167,2.131-0.558,4.023-2.063,5.621c-1.563,1.657-3.456,2.545-5.742,2.723c-0.894,0.06-1.729-0.06-2.453-0.236
        c1.337,3.136,2.897,5.917,4.738,8.343c1.84,3.017,3.231,6.093,4.182,9.229c8.475-3.254,14.049-10.117,16.668-20.473
        c0.056-0.354,0.113-0.71,0.168-1.064c0.502-2.188,1.563-4.2,3.178-6.094h0.057c0.277-0.354,0.558-0.65,0.837-0.947
        C753.724,297.417,752.163,296.826,748.094,297.595L748.094,297.595z"/>
      <path fill="#A5D3F9" d="M755.342,347.532c-3.734-1.185-7.08-1.302-10.146-0.414c-1.283,0.414-2.341,0.946-3.178,1.657
        c-0.39,0.295-0.669,0.649-0.947,1.006c-0.112,0.177-0.168,0.354-0.168,0.592c-0.056,0.059-0.056,0.177-0.056,0.354
        c-0.057,0.178-0.057,0.297,0,0.475c0.168,1.184,1.171,2.484,3.122,3.964c0.168,0.119,0.39,0.235,0.557,0.414
        c8.53,3.786,14.439,3.903,17.674,0.296l-3.122-1.538l3.848,0.532c0.39-0.652,0.725-1.361,1.002-2.131
        c-2.063-2.189-4.626-3.786-7.749-4.91C755.899,347.71,755.62,347.591,755.342,347.532L755.342,347.532z"/>
      <polygon fill="#855050" points="762.198,355.875 765.376,357.413 765.822,355.284 762.924,354.869 759.076,354.337   "/>
      <path fill="#8DE2E2" d="M752.609,366.051c-0.39-0.059-0.725-0.177-1.115-0.296c-3.734-1.183-6.745-3.075-9.03-5.739
        c-0.279-0.354-0.558-0.709-0.78-1.006c-0.168-0.178-0.279-0.354-0.392-0.533c-0.223-0.059-0.445-0.059-0.67-0.115
        c-0.334,0.177-0.669,0.412-1.004,0.649c-10.479,0.296-20.235,2.841-29.212,7.632c-2.063,1.065-4.069,2.25-6.021,3.551
        c-0.392,0.236-0.727,0.474-1.061,0.709c0.168,0.179,0.279,0.298,0.446,0.474c-1.282,1.718-2.844,3.433-4.795,5.09
        c-0.947,0.591-1.84,1.183-2.731,1.716c-2.509,1.479-5.018,2.663-7.525,3.551c-0.947,0.295-1.839,0.531-2.731,0.769
        c-4.517,1.124-8.976,1.124-13.491,0.118c-0.893-0.178-1.783-0.414-2.731-0.709c-2.508-0.828-4.962-1.953-7.414-3.373
        c-2.899-1.717-5.797-3.848-8.642-6.391c-1.339-1.242-2.676-2.545-4.014-3.904c-0.279-0.237-0.503-0.475-0.67-0.71
        c-0.056,0.059-0.056,0.178-0.111,0.235l-1.227-1.24c-1.394,4.555-2.509,9.17-3.346,13.845c-0.056,0.06-0.056,0.06-0.056,0.116
        c-0.224,0.771-0.445,1.599-0.612,2.426c-0.726,3.137-1.339,6.393-1.729,9.705c-2.453,7.219-7.414,11.183-14.94,11.833
        c0.726,1.479,1.339,2.897,1.84,4.377c2.118,6.332,1.951,12.485-0.446,18.461c2.732-0.829,5.241-1.479,7.582-1.895
        c0.446-0.059,1.729-0.354,3.903-0.77c2.174-0.414,5.129-0.769,8.975-1.063c3.848-0.354,7.694-0.712,11.541-1.006
        c3.958-0.297,7.972-0.475,12.041-0.533c4.07-0.06,8.141,0.06,12.21,0.413c4.015,0.298,8.083,0.829,12.153,1.48
        c4.068,0.651,8.083,1.36,11.986,2.011c3.901,0.651,7.805,1.479,11.65,2.426c1.449,0.355,2.844,0.829,4.127,1.479
        c-2.397-9.171-1.562-17.75,2.452-25.679c0.111-0.178,0.224-0.295,0.278-0.473c-0.392,0-0.727,0-1.115,0
        c-6.188-3.611-8.306-8.815-6.243-15.621c-1.448,1.599-2.844,3.254-4.236,4.971c1.394-1.717,2.788-3.372,4.236-4.971
        c0-0.06,0-0.06,0.057-0.117c1.281-1.42,2.509-2.781,3.791-4.024c1.171-1.183,2.342-2.308,3.512-3.372
        C735.828,372.678,744.302,367.826,752.609,366.051L752.609,366.051z"/>
      <path fill="#D2FFF3" d="M739.898,352.384c0.055-0.354,0.167-0.709,0.278-1.006c-5.019,0.414-9.813,1.657-14.439,3.608
        c-4.349,1.893-8.529,4.438-12.543,7.691c-0.335,0.237-0.669,0.473-0.948,0.771c-0.725,0.532-1.448,1.124-2.174,1.655
        c-0.444,0.297-0.893,0.65-1.282,1.006c-1.394,1.125-2.676,2.308-3.958,3.433c-0.502,0.414-1.003,0.888-1.506,1.36
        c0.335-0.236,0.67-0.473,1.061-0.709c1.951-1.303,3.958-2.485,6.021-3.551c8.978-4.793,18.731-7.336,29.213-7.633
        c0.334-0.236,0.669-0.474,1.003-0.65c0.225,0.059,0.447,0.059,0.671,0.117C739.898,356.407,739.452,354.396,739.898,352.384
        L739.898,352.384z"/>
      <path fill="#D2FFF3" d="M732.706,384.512c0.726-1.834,1.005-3.432,0.948-4.791c-0.056,1.359-0.612,2.721-1.562,4.139
        c-0.613,0.891-1.228,1.48-1.84,1.836v0.06c-0.056,0.771-0.169,1.539-0.445,2.367C730.978,387.589,731.982,386.346,732.706,384.512
        L732.706,384.512z"/>
      <path fill="#D2FFF3" d="M727.969,380.961c-0.224-0.177-0.446-0.355-0.67-0.414c-1.169,1.064-2.341,2.189-3.513,3.372
        c0,0.062,0,0.119,0,0.179c0.057,2.959,1.45,4.438,4.293,4.377h0.057c0.168-0.177,0.335-0.414,0.502-0.65
        c-2.175-0.592-3.346-1.537-3.624-2.84C725.18,382.561,726.13,381.197,727.969,380.961L727.969,380.961z"/>
      <path fill="#69AAD6" d="M728.636,381.553c-0.224-0.236-0.446-0.414-0.669-0.592c-1.839,0.236-2.787,1.6-2.955,4.023
        c0.278,1.302,1.45,2.248,3.624,2.84c0.391-0.651,0.614-1.301,0.78-2.07h-0.057c-0.167,0.296-0.334,0.414-0.502,0.414
        c-1.783,0-2.676-0.65-2.676-2.012c0-0.889,0.445-1.361,1.282-1.361c0.838,0,1.45,0.475,1.729,1.421
        c0.111,0.474,0.167,0.946,0.167,1.42l0.055,0.118c-0.166,0.77-0.39,1.42-0.778,2.07c0.166,0.06,0.39,0.119,0.669,0.178
        c0.334-0.709,0.669-1.479,0.947-2.248v-0.059c0-0.18,0-0.297,0.056-0.414C730.254,383.919,729.695,382.678,728.636,381.553
        L728.636,381.553z"/>
      <path fill="#69AAD6" d="M729.807,388.121c0.278-0.828,0.391-1.598,0.445-2.367c-0.278,0.77-0.612,1.539-0.946,2.249
        C729.472,388.063,729.64,388.063,729.807,388.121L729.807,388.121z"/>
      <path fill="#69AAD6" d="M729.305,388.003c-0.278-0.06-0.502-0.119-0.669-0.179c-0.167,0.236-0.334,0.474-0.502,0.65v0.061
        c-0.391,0.414-0.894,0.887-1.449,1.301c-1.616,1.303-2.955,1.953-4.014,1.953c-0.447,0-1.062-0.118-1.841-0.414
        c0.057,0.296,0.111,0.532,0.167,0.77l0.169,0.771c0.055,0.295,0.166,0.53,0.277,0.827
        C724.957,393.209,727.577,391.256,729.305,388.003L729.305,388.003z"/>
      <path fill="#69AAD6" d="M728.023,391.436c0.78-1.125,1.394-2.25,1.784-3.313c-0.168-0.06-0.336-0.06-0.502-0.118
        c-1.729,3.254-4.35,5.206-7.861,5.738c0.113,0.414,0.278,0.77,0.503,1.064h0.836C724.568,394.925,726.296,393.801,728.023,391.436
        L728.023,391.436z"/>
      <path fill="#D2FFF3" d="M730.532,398.534c-0.781-0.118-1.562-0.237-2.286-0.415c-1.06-0.295-2.175-0.651-3.289-1.064l-1.561-0.77
        l-1.729-0.828l1.729,0.828c-0.224-0.178-0.39-0.296-0.558-0.414c-0.392-0.296-0.669-0.65-0.893-1.064
        c-0.225-0.297-0.39-0.65-0.503-1.064c-0.111-0.297-0.223-0.532-0.278-0.828l-0.168-0.771c-0.055-0.234-0.109-0.473-0.167-0.769
        c0-0.06,0-0.118-0.056-0.179c-0.167-0.825-0.391-1.656-0.557-2.424c-0.058-0.297-0.169-0.533-0.225-0.828
        c-0.056,0.06-0.056,0.06-0.056,0.117c-2.063,6.807,0.056,12.01,6.243,15.621c0.39,0,0.725,0,1.114,0
        c0.167-0.355,0.392-0.711,0.559-1.008C728.636,401.256,729.529,399.896,730.532,398.534L730.532,398.534z"/>
      <path fill="#69AAD6" d="M731.312,403.208l-3.457-0.532c-0.166,0.295-0.39,0.65-0.557,1.006c-0.057,0.178-0.167,0.297-0.278,0.476
        c-4.014,7.927-4.851,16.507-2.452,25.678c1.394,0.651,2.73,1.42,4.013,2.308c-1.06-1.184-1.84-2.959-2.342-5.266
        c-0.836-3.905-0.669-8.283,0.502-13.195C727.802,409.48,729.305,405.989,731.312,403.208L731.312,403.208z"/>
      <path fill="#A5D3F9" d="M727.855,402.675l3.457,0.533c0.334-0.533,0.67-1.006,1.06-1.419c1.394-1.657,2.787-2.723,4.182-3.256
        c-2.006,0.297-4.016,0.297-6.021,0C729.529,399.896,728.636,401.256,727.855,402.675L727.855,402.675z"/>
      <path fill="#95CEFC" d="M732.372,401.789c-0.39,0.413-0.726,0.886-1.06,1.419c-2.007,2.781-3.512,6.272-4.571,10.472
        c-1.171,4.912-1.338,9.29-0.502,13.195c0.502,2.308,1.282,4.083,2.342,5.266c0.502,0.593,1.115,1.065,1.783,1.36
        c0.225,0.061,0.503,0.178,0.781,0.237c2.396,0.65,4.851-0.474,7.415-3.491C732.483,425.277,730.421,415.811,732.372,401.789
        L732.372,401.789z"/>
      <path fill="#A5D3F9" d="M738.392,398.119c-0.614,0-1.228,0.119-1.84,0.415c-1.395,0.532-2.788,1.598-4.182,3.255
        c-1.952,14.021,0.111,23.488,6.188,28.458c2.509-3.019,4.404-6.922,5.575-11.833c1.17-4.911,1.393-9.348,0.557-13.253
        c-0.557-2.486-1.394-4.319-2.565-5.504c-0.277,0.888-0.611,1.716-0.892,2.604c-0.835,2.188-1.783,4.318-2.954,6.508
        c1.282-3.254,2.007-6.391,2.285-9.467c0-0.236,0-0.473,0.056-0.711c-0.277-0.117-0.557-0.236-0.836-0.296
        C739.285,398.18,738.841,398.119,738.392,398.119L738.392,398.119z"/>
      <path fill="#95CEFC" d="M706.782,366.88c-0.835,1.065-1.447,1.953-1.95,2.663c1.281-1.126,2.563-2.309,3.958-3.434
        C708.121,366.348,707.452,366.584,706.782,366.88L706.782,366.88z"/>
      <path fill="#95CEFC" d="M704.832,369.543c0.503-0.71,1.115-1.598,1.95-2.663c-0.166,0.06-0.39,0.118-0.612,0.177
        c-0.167,0.18-0.223,0.18-0.167,0.061c-6.745,2.248-14.552,3.55-23.358,3.845c-0.392-0.06-0.836-0.06-1.227-0.06
        c-0.393-0.057-0.837-0.057-1.228-0.057c-9.422-0.711-18.229-2.783-26.481-6.154c-2.73-1.361-5.239-2.84-7.525-4.438
        c-0.391,1.125-0.835,2.308-1.228,3.49l2.731,2.782l1.228,1.24c0.056-0.059,0.056-0.178,0.11-0.235
        c0.168,0.235,0.392,0.473,0.67,0.71c1.338,1.359,2.675,2.662,4.014,3.904c2.845,2.543,5.741,4.674,8.642,6.391
        c2.452,1.42,4.905,2.545,7.414,3.373c0.948,0.295,1.841,0.531,2.732,0.709c4.515,1.006,8.976,1.006,13.49-0.118
        c0.894-0.237,1.784-0.474,2.73-0.769c2.509-0.888,5.018-2.071,7.526-3.551c0.893-0.531,1.784-1.125,2.73-1.716
        c1.951-1.657,3.514-3.374,4.796-5.09c-0.168-0.176-0.279-0.295-0.446-0.474C703.828,370.43,704.329,369.956,704.832,369.543
        L704.832,369.543z"/>
      <path fill="#D2FFF3" d="M647.688,366.525l-2.732-2.782c-1.505,4.261-2.843,8.698-4.014,13.254
        c-0.501,1.953-1.004,3.903-1.448,5.978c-0.056,0.117-0.056,0.235-0.111,0.354c-0.167,0.53-0.279,1.123-0.391,1.774
        c-0.445,2.309-0.893,4.498-1.394,6.627c-0.168,0.649-0.393,1.36-0.613,2.011c-2.175,5.8-5.967,8.462-11.43,7.987
        c0.501,0.889,1.004,1.834,1.449,2.723c7.526-0.65,12.487-4.614,14.94-11.833c0.391-3.313,1.004-6.567,1.729-9.704
        c0.167-0.828,0.39-1.656,0.612-2.426c0-0.06,0-0.06,0.056-0.117C645.179,375.695,646.296,371.08,647.688,366.525L647.688,366.525z"
        />
      <path fill="#8DE2E2" d="M646.182,360.253c-3.178-2.248-5.854-4.674-8.027-7.337c-5.631-1.773-11.038-2.247-16.277-1.421
        c-0.392,0.534-0.781,1.007-1.173,1.54c-2.284,2.662-5.352,4.556-9.143,5.738c-0.39,0.117-0.78,0.236-1.171,0.295
        c9.924,2.013,20.126,7.988,30.551,17.928c1.171-4.555,2.509-8.992,4.014-13.253C645.347,362.561,645.794,361.378,646.182,360.253
        L646.182,360.253z"/>
      <path fill="#69AAD6" d="M609.165,352.916c0.225-0.059,0.445-0.178,0.726-0.236c3.399-1.064,6.301-2.427,8.586-4.023
        c-8.753,3.787-14.886,3.906-18.286,0.297l-3.289,1.597l-1.617,0.771c-0.056,0.177-0.056,0.414-0.056,0.649
        c0.446,1.243,2.008,1.953,4.739,2.132C602.698,354.275,605.764,353.922,609.165,352.916L609.165,352.916z"/>
      <polygon fill="#855050" points="596.398,348.361 596.9,350.549 600.189,348.952 603.367,347.414 599.409,347.945   "/>
      <path fill="#A5D3F9" d="M612.621,398.061l-0.056,0.06c-0.055,0.297-0.055,0.649-0.11,0.946c3.848,0.709,7.247,3.965,10.201,9.822
        c1.729,3.49,3.345,7.928,4.739,13.253c0.725-3.372,0.558-7.101-0.502-11.122c-0.223-0.771-0.445-1.479-0.669-2.131
        c-0.502-1.598-1.115-3.019-1.84-4.318c-0.78-1.361-1.616-2.547-2.564-3.551c-0.167-0.178-0.334-0.354-0.502-0.531
        c-2.619-2.663-5.128-3.609-7.581-2.899C613.346,397.705,612.956,397.883,612.621,398.061L612.621,398.061z"/>
      <path fill="#95CEFC" d="M612.455,399.066c-0.111,1.125-0.111,2.129-0.057,3.136c0.057,1.479,0.391,2.78,0.894,3.964
        c0.223,0.593,0.558,1.184,0.946,1.716c-0.39-0.532-0.725-1.124-0.946-1.716c-0.948-1.243-1.563-2.604-1.896-3.964
        c-0.278-0.888-0.445-1.776-0.5-2.722c-1.005,1.123-1.729,2.662-2.231,4.674c-0.946,3.669-0.835,7.691,0.337,12.13
        c1.17,4.437,3.01,7.929,5.573,10.592c2.452,2.484,4.851,3.43,7.247,2.899c0.111-0.062,0.225-0.062,0.335-0.062
        c0.224-0.059,0.446-0.177,0.725-0.297c0.446-0.176,0.837-0.473,1.227-0.768c1.396-1.124,2.454-2.958,3.122-5.503
        c0.056-0.355,0.112-0.711,0.168-1.007c-1.395-5.323-3.011-9.762-4.739-13.254C619.702,403.029,616.302,399.775,612.455,399.066
        L612.455,399.066z"/>
      <path fill="#A5D3F9" d="M625.555,401.729c-1.171-0.117-2.453-0.354-3.735-0.711c0.948,1.006,1.785,2.19,2.564,3.553
        c0.892,0,1.784-0.061,2.62-0.118C626.559,403.563,626.056,402.617,625.555,401.729L625.555,401.729z"/>
      <path fill="#69AAD6" d="M627.006,404.451c-0.836,0.059-1.729,0.117-2.62,0.117c0.725,1.302,1.338,2.722,1.84,4.318
        c0.223,0.651,0.445,1.361,0.669,2.131c1.06,4.022,1.227,7.75,0.502,11.123c-0.056,0.295-0.112,0.649-0.168,1.006
        c-0.669,2.545-1.728,4.379-3.122,5.503c1.506-0.533,2.899-0.947,4.293-1.36c2.397-5.977,2.564-12.13,0.446-18.461
        C628.344,407.35,627.73,405.93,627.006,404.451L627.006,404.451z"/>
      <path fill="#FFFFFF" d="M690.389,303.992c-0.168,0.41-1.83,0.019-3.714-0.879c-1.886-0.896-3.276-1.956-3.109-2.367
        c0.168-0.412,1.831-0.02,3.714,0.878C689.165,302.521,690.557,303.58,690.389,303.992z"/>
      <path fill="#FFFFFF" d="M682.417,299.736c-0.037,0.264-0.658,0.379-1.386,0.26c-0.729-0.12-1.289-0.43-1.252-0.693
        c0.038-0.262,0.658-0.378,1.385-0.257C681.892,299.164,682.452,299.475,682.417,299.736z"/>
      <path fill="#FC9F9F" d="M683.727,333.025c0.162,0.35-0.729,1.166-1.989,1.826s-2.413,0.91-2.575,0.563s0.729-1.165,1.989-1.824
        C682.413,332.932,683.565,332.678,683.727,333.025z"/>
    </g>
    </svg>
  </div>
</template>

<script>
  export default {
    props: {
      percentage: {
        type: [String, Number],
        required: true
      }
    }
  }
</script>
