div(v-if="hasClientIncome")
  div(class="row" style="margin-top: 8px")
    div(class="col-md-4 offset-md-4")
      q-field
        q-select(
          clearable
          color="positive"
          float-label="Insurance Provider"
          :options="getInsuranceProvidersForTaxIssues"
          :value="loaField.client_tax_issues_insurance_provider"
          @change="value => updateLoaField(value, 'client_tax_issues_insurance_provider')"
        )
  div(class="row" style="margin-top: 8px")
    div(class="col-md-6")
      p(class="text-center text-faded") Income Protection Indemnity
      with-tax-chart(
        :tax-amount="netClientIncomeTaxCalculation.totalTax"
        :total-claim-amount="netClientIncomeTaxCalculation.totalClaimAmount"
      )
    div(class="col-md-6")
        p(class="text-center text-faded") Income Protection Agreed Value
        without-tax-chart(:total-claim-amount="netClientIncomeTaxCalculation.incomeProtectionAgreedAmount")
  div(class="row" style="margin-top: 8px")
    div(class="col-md-12")
      common-tax-issues-notes(
        :client-name="clientName"
        :date-of-birth="loaField.client_date_of_birth"
        :tax-amount="netClientIncomeTaxCalculation.totalTax"
        :total-claim-amount="netClientIncomeTaxCalculation.totalClaimAmount"
        :agreed-amount="netClientIncomeTaxCalculation.incomeProtectionAgreedAmount"
        :indemnity-amount="netClientIncomeTaxCalculation.incomeProtectionIndemnityAmount"
      )
h6(v-else class="text-center text-faded") INCOME AMOUNT REQUIRED
