<template lang="pug">
div
  q-card
    q-card-title
      h5(class="text-faded") LOA Applications
      div(slot="right")
        q-search(
          :value="searchQuery"
          @change="value => onSearchChange(value, 'search.query')"
          color="positive"
        )
    q-card-main
      q-list(
        highlight
        inset-separator
      )
        //- Offline
        q-item(v-for="(loa, index) in loaOfflineApplications" :key="loa.client_full_name")
          q-item-main(
            :label="loa.company_full_name + ' - Offline' || 'No Company Name' + ' - Offline'"
            :sublabel="loa.client_email_address"
          )
            q-item-side(right)
              q-btn(
                round
                flat
                icon="sync"
                color="amber"
              )
              q-btn(
                round
                flat
                icon="border color"
                color="positive"
                @click="onLoaModify(loa)"
              )
        //- Online
        q-item(
          v-for="(loa, index) in loaApplications"
          :key="loa.id"
        )
          q-item-main(
            :label="loa.company_full_name || 'No Company Name'"
            :sublabel="loa.client_email_address"
          )
            q-item-side(right)
              q-item-tile(stamp) {{ loa.created_at | formatDate }}
              q-btn(
                round
                flat
                icon="border color"
                color="positive"
                @click="onLoaModify(loa)"
              )
              q-btn(
                v-if="isOnline"
                round
                flat
                icon="remove circle outline"
                color="negative"
                @click="onLoaRemove(loa)"
              )
  q-fixed-position(
    corner="bottom-right"
    :offset="[18, 18]"
  )
    q-btn(round color="positive" @click="onLoaNewInstance")
      q-icon(name="add")
</template>

<script>
import {
  QCard,
  QCardTitle,
  QCardMain,
  QBtn,
  QSearch,
  Toast,
  QList,
  QItem,
  QItemMain,
  QItemSide,
  QItemTile,
  QFixedPosition,
  QIcon,
  Dialog
} from 'quasar'
import { merge } from 'lodash'
import { mapGetters, mapMutations, mapState, mapActions } from 'vuex'
import { initialState as loaStateSchema } from 'store/modules/letterOfAuthority/state'

export default {
  name: 'dashboard-index',
  methods: {
    onLoaNewInstance() {
      Dialog.create({
        title: 'Create Loa instance',
        message: 'Enter client name',
        form: {
          name: {
            color: 'positive',
            type: 'text',
            label: 'Name',
            model: ''
          },
        },
        buttons: [
          {
            label: 'Cancel',
            color: 'positive',
          },
          {
            label: 'Ok',
            color: 'positive',
            handler: async ({ name }) => {
              const data = await this.submitApplicationRequest(
                merge(loaStateSchema(), {
                  client_full_name: name
                })
              )
              Toast.create.info('Application has been created successfully')
              this.$router.push({ name: 'dashboard.generator.index', params: { id: data.id } })
            }
          },
        ]
      })
    },
    onLoaRemove (loa) {
      Dialog.create({
        title: 'Warning',
        message: 'Are you sure you want to delete this?',
        buttons: [
          {
            label: 'Cancel',
            color: 'positive'
          },
          {
            label: 'Remove',
            color: 'positive',
            handler: () => {
              this.removeApplicationRequest(loa)
                .then(data => {
                  let { id } = data
                  id = window.parseInt(id)
                  this.REMOVE_BY_LOA_COLLECTION_BY_INDEX({id})
                })
            }
          }
        ]
      })
    },
    async onLoaModify (loa) {
      await this.assignLoaState(loa)
      Toast.create.info('Application has been loaded successfully')
      this.$router.push({
        name: 'dashboard.generator.index',
        params: {
          id: loa.id
        }
      })
    },
    onSearchChange (value, path) {
      let payload = { value, path }
      this.UPDATE_FIELD(payload)
    },
    ...mapActions('letterOfAuthority', ['removeApplicationRequest', 'assignLoaState', 'submitApplicationRequest']),
    ...mapMutations('letterOfAuthorityCollection', ['UPDATE_FIELD', 'REMOVE_BY_LOA_COLLECTION_BY_INDEX', 'REMOVE_OFFLINE_DATA'])
  },
  computed: {
    ...mapGetters('letterOfAuthorityCollection', {
      loaApplications: 'getLoaApplications',
      loaOfflineApplications: 'getLoaOfflineApplications'
    }),
    ...mapState('letterOfAuthorityCollection', {
      searchQuery: state => state.query
    })
  },
  components: {
    QCard,
    QCardTitle,
    QCardMain,
    QBtn,
    QSearch,
    Toast,
    QList,
    QItem,
    QFixedPosition,
    QIcon,
    QItemMain,
    QItemSide,
    QItemTile
  }
}
</script>
