<template lang="pug">
  q-layout(
    reveal
    ref="layout"
    :view="dashboardLayout"
  )
    q-toolbar(
      slot="header"
      color="positive"
      style="background-color: #fff"
    )
      q-btn(
        flat
        @click.prevent="$refs.layout.toggleLeft()"
      )
        q-icon(name="menu")
      q-toolbar-title
        | {{ appConfig.site.title }}
        span(slot="subtitle" v-text="appConfig.site.company")

    navigation-component(slot="left")

    //- Component View
    router-view
</template>

<script>
  import {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QTransition,
    LocalStorage,
    Alert,
    Toast
  } from 'quasar'
  import _ from 'lodash'
  import NavigationComponent from '@/dashboard/blocks/Navigation'
  import { mapMutations, mapGetters, mapActions } from 'vuex'
  import { CONSTANT_STORAGE } from 'src/config/constants'

  export default {
    name: 'dashboard-layout',
    created () {
      this.SET_CURRENT_USER_TOKEN(LocalStorage.get.item(CONSTANT_STORAGE.USER_ACCESS_TOKEN))
      this.SET_CURRENT_USER_MODEL(LocalStorage.get.item(CONSTANT_STORAGE.USER_MODEL))
      let promises = [
        this.requestAllLetterOfAuthorityFromApi(),
        this.requestInsuranceProviders()
      ]
      if (this.isClasificationUitEmpty) {
        promises = [
          ...promises,
          this.requestAllClassificationUnitFromApi()
        ]
      }

      Promise.all(promises)
    },
    mounted () {
      this.$refs.layout.hideLeft()
    },
    methods: {
      ...mapActions('insuranceProviders', ['requestInsuranceProviders']),
      ...mapActions('letterOfAuthorityCollection', ['requestAllLetterOfAuthorityFromApi']),
      ...mapActions('letterOfAuthority', ['submitApplicationRequest']),
      ...mapActions('classificationUnit', ['requestAllClassificationUnitFromApi']),
      ...mapMutations('letterOfAuthorityCollection', ['REMOVE_OFFLINE_DATA']),
      ...mapMutations('planner', ['ASSIGN_PLANNER_PAGINATION_STATE']),
      ...mapMutations('user', ['SET_CURRENT_USER_TOKEN', 'SET_CURRENT_USER_MODEL'])
    },
    watch: {
      isOnline: {
        handler (online) {
          // do some syncing here ....
          if (online) {
            Toast.create.info('Syncing')
            _.each(this.loaOfflineApplications, (loa) => {
              this.submitApplicationRequest(loa)
                .then(data => {
                  this.REMOVE_OFFLINE_DATA(data)
                })
            })
          }
          else {
            const alert = Alert.create({
              html: 'You are not connected right now',
              color: 'faded',
              name: 'fade',
              icon: 'error',
              duration: 2500,
              dismissible: true
            })

            setTimeout(() => {
              alert.dismiss()
            }, 2500)
          }
        },
        immediate: true
      }
    },
    computed: {
      ...mapGetters('classificationUnit', {
        isClasificationUitEmpty: 'isClasificationUitEmpty'
      }),
      ...mapGetters('letterOfAuthorityCollection', {
        getLoaApplications: 'getLoaApplications',
        loaOfflineApplications: 'getLoaOfflineApplications'
      }),
      ...mapGetters('app', {
        appConfig: 'config'
      }),
      dashboardLayout () {
        return 'hHr LpR lFf'
      }
    },
    components: {
      QLayout,
      QToolbar,
      QToolbarTitle,
      QBtn,
      QIcon,
      NavigationComponent,
      QTransition
    }
  }
</script>
