q-field(label="ACC number of Business")
  q-input(
    type="tel"
    :value="loaField.acc_number_business"
    @change="value => updateLoaField(value, 'acc_number_business')"
  )
q-field(label="Accountant's Name")
  q-input(
    clearable
    :value="loaField.accountants_name"
    @change="value => updateLoaField(value, 'accountants_name')"
  )
q-field(label="Firm Name")
  q-input(
    clearable
    :value="loaField.firm_name"
    @change="value => updateLoaField(value, 'firm_name')"
  )
q-field(label="Phone Number")
  q-input(
    clearable
    type="tel"
    :value="loaField.phone_number"
    @change="value => updateLoaField(value, 'phone_number')"
  )
