div(class="row md-gutter" style="margin-top: 8px" v-for="child in arrayOfChildrens")
  div(class="col-md-3")
    q-input(
      placeholder="Name"
      :value="child.name"
      @change="value => modifyChildren(value, child, 'name')"
    )
  div(class="col-md-3")
    div(class="q-if row no-wrap items-center relative-position q-input text-faded")
      datepicker(
        clear-button
        :value="child.date_of_birth"
        @input="value => modifyChildren(value, child, 'date_of_birth')"
      )
  div(class="col-md-2")
    q-input(
      type="number"
      :disable="!!child.date_of_birth"
      placeholder="Age"
      :value="child.age"
      @change="value => modifyChildren(value, child, 'age')"
    )
  div(class="col-md-2 flex")
    q-toggle(
      left-label
      color="positive"
      label="Studying"
      :value="child.studying"
      @input="value => modifyChildren(value, child, 'studying')"
    )
  div(class="col-md-2 flex")
    q-btn(
      color="negative"
      class="full-width"
      @click="removeChildren(child)"
    ) Remove
