q-field(class="q-mt-md" label="Living Expenses (per annum)")
  q-input(
    prefix="$"
    type="tel"
    v-money="{}"
    align="right"
    :value="loaField.living_expenses"
    @change="value => updateLoaField(value, 'living_expenses')"
  )
q-field(label="Mortgage Repayments or Rental Payments" class="q-mt-md")
  q-select(
    clearable
    color="positive"
    :options="propertyTypeOptions"
    :value="loaField.household_building_expense"
    @change="value => updateLoaField(value, 'household_building_expense')"
  )
q-field(
  label="Mortgage Bank or Provider"
  class="q-mt-md"
  v-if="loaField.household_building_expense === 'mortgage-repayments'"
)
  q-input(
    :max-length="20"
    :value="loaField.mortgage_bank_or_provider"
    @change="value => updateLoaField(value, 'mortgage_bank_or_provider')"
  )
q-field(class="q-mt-md" :label="getDeterminedMortgageAndRentalLabel")
  q-input(
    prefix="$"
    type="tel"
    v-money="{}"
    align="right"
    :value="loaField.mortgage_repayments"
    @change="value => updateLoaField(value, 'mortgage_repayments')"
  )
q-field(class="q-mt-md" :label="getDeterminedMortgageAndRentalTypeLabel")
  q-select(
    clearable
    color="positive"
    :options="mortgageRepaymentMethods"
    :value="loaField.mortgage_repayments_type"
    @change="value => updateLoaField(value, 'mortgage_repayments_type')"
  )
q-field(class="q-mt-md" label="Total Debts")
  q-input(
    prefix="$"
    type="tel"
    v-money="{}"
    align="right"
    :value="loaField.total_debts"
    @change="value => updateLoaField(value, 'total_debts')"
  )
