<template>
  <div class="row">
    <div class="col-md-4">
      <p class="text-faded text-center">ACC Cover Plus</p>
      <one-hundred :amount="coverPlusAmount"></one-hundred>
    </div>
    <div class="col-md-4">
      <p class="text-faded text-center">ACC Cover Plus Extra</p>
      <forty :amount="coverPlusExtraAmount"></forty>
    </div>
    <div class="col-md-4">
      <p class="text-faded text-center">Changes in Cover</p>
      <eighty :amount="changesInCover"></eighty>
    </div>
  </div>
</template>

<script>
  import BaseFamilies from './BaseFamilies'
  import {
    Eighty,
    Forty,
    OneHundred
  } from './blocks/NoChild'

  export default {
    extends: BaseFamilies,
    components: {
      Eighty,
      Forty,
      OneHundred
    }
  }
</script>
