<template lang="pug">
div#q-app
  router-view
  q-ajax-bar(color="positive" position="bottom")
</template>

<script>
import { QAjaxBar } from 'quasar'
export default {
  components: {
    QAjaxBar
  }
}
</script>

<style lang="stylus">
@import '~variables'

body.with-modal
  position fixed !important

.layout-padding
  padding 1em 4em

@media screen and (max-width: 600px)
  .layout-padding
    padding 1.5em .5em
</style>
