div(class="row")
  div(class="col-md-10 offset-md-1")
    h5(class="text-faded text-italic text-center no-margin-bottom") "When you think about it, ACC is just a huge government-run insurance company"
    blockquote(class="note-border-primary text-weight-regular")
      p(class="text-bold") ACC’s Limitation: Over 81% of people in the hospital across New Zealand are there due to illness, not injury and ACC doesn’t cover illness.*
      p(class="no-margin-bottom") *HFANZ/NZPSHA Major Medical Research Rate, June 2015, 2017.
