q-field(label="Company’s Name")
  q-input(
    :value="loaField.company_full_name"
    @change="value => updateLoaField(value, 'company_full_name')"
  )
q-field(label="Client’s Full Name")
  q-input(
    :value="loaField.client_full_name"
    @change="value => updateLoaField(value, 'client_full_name')"
  )
q-field(label="Business Partner(s) Full Name")
  q-chips-input(
    color="positive"
    float-label="Press enter to add more"
    :value="loaField.business_partners"
    @change="value => updateLoaField(value, 'business_partners')"
  )
