q-field(:label="`${clientName} are you taking Drawings or Paye?`")
  q-select(
    color="positive"
    :options="getTaxMethods"
    :value="loaField.income_tax_method"
    @change="value => updateLoaField(value, 'income_tax_method')"
  )
q-field(label="Been in business more than 3 years?")
  q-select(
    clearable
    color="positive"
    :options="getYesOrNo"
    :value="loaField.when_business_started"
    @change="value => updateLoaField(value, 'when_business_started')"
  )
q-field(label="How many staff do you have working for you?")
    q-input(
      clearable
      type="tel"
      :value="loaField.how_many_boys"
      @change="value => updateLoaField(value, 'how_many_boys')"
    )
q-field(label="Now, Are you on tools?")
  q-select(
    color="positive"
    :options="getYesOrNo"
    :value="loaField.on_tools"
    @change="value => updateLoaField(value, 'on_tools')"
  )
q-field(
  label="What is it that you do? (Project Management or Office)"
  v-if="loaField.on_tools === 'no'"
)
  q-select(
    v-if="!isClasificationUitEmpty"
    radio
    filter
    clearable
    autofocus-filter
    float-label="Search Business Description"
    filter-placeholder="Search Business Description"
    color="positive"
    :options="classificationUnits"
    :value="loaField.what_you_do_in_business"
    @change="value => updateLoaField(value, 'what_you_do_in_business')"
  )
q-field(
  label="Is there any other shareholders/director that are not on the tools?"
  v-if="loaField.on_tools === 'yes'"
)
  q-select(
    clearable
    color="positive"
    :options="getYesOrNo"
    :value="loaField.has_corporate_partner"
    @change="value => updateLoaField(value, 'has_corporate_partner')"
  )
q-field(label="How much income did you take out last year from the business?")
  q-input(
    type="tel"
    v-money="{}"
    align="right"
    prefix="$"
    :value="loaField.income_from_business"
    @change="value => updateLoaField(value, 'income_from_business')"
  )
q-field(
  class="q-mt-md"
  label="What ACC cover plan do you have?"
)
  q-select(
    color="positive"
    :options="accCoverPlanTypes"
    :value="loaField.acc_cover_plan_type"
    @change="value => updateLoaField(value, 'acc_cover_plan_type')"
  )
q-field(
  class="q-mt-md"
  v-if="isAlreadyOnAccCoverPlusExtra"
  label="How much is your current ACC Cover Plus Extra nominated amount?"
)
  q-input(
    clearable
    prefix="$"
    type="tel"
    v-money="{}"
    align="right"
    :value="loaField.existing_nominated_cover_amount"
    @change="value => updateLoaField(value, 'existing_nominated_cover_amount')"
  )
q-field(label="Your nominated Cover Plus Extra cover amount")
  q-input(
    type="tel"
    :value="loaField.nominated_cover_amount"
    @change="value => updateLoaField(value, 'nominated_cover_amount')"
    v-money="{}"
    prefix="$"
    align="right"
  )
q-field(
  label="Just to ensure you are on the right classification code with ACC, what does your business do?"
  :error="$v.loaField.classification_unit.$error"
)
  q-select(
    v-if="!isClasificationUitEmpty"
    radio
    filter
    clearable
    autofocus-filter
    float-label="Search Business Description"
    filter-placeholder="Search Business Description"
    color="positive"
    :options="classificationUnits"
    :value="loaField.classification_unit"
    @change="value => updateLoaField(value, 'classification_unit')"
    @input="$v.loaField.classification_unit.$touch()"
  )
q-field(class="row")
  div(class="col-md-12")
    q-btn(
      class="full-width"
      color="positive"
      icon="settings"
      :disable="$v.$error || calculating"
      :loader="calculating"
      @click="calculateLevy"
    ) Calculate
