h6(class="text-faded") Partner
q-field(label="ACC/IRD number")
  q-input(
    clearable
    type="tel"
    :value="loaField.partner_acc_or_ird_number_personal"
    @change="value => updateLoaField(value, 'partner_acc_or_ird_number_personal')"
  )
q-field(label="Date of Birth")
  div(class="q-if row no-wrap items-center relative-position q-input text-faded")
    datepicker(
      clear-button
      :value="loaField.partner_date_of_birth"
      @input="value => updateLoaField(value, 'partner_date_of_birth')"
    )
q-field(label="Mobile Number")
  q-input(
    clearable
    type="tel"
    :value="loaField.partner_mobile_number"
    @change="value => updateLoaField(value, 'partner_mobile_number')"
  )
q-field(label="Email Address")
  q-input(
    clearable
    type="email"
    :value="loaField.partner_email_address"
    @change="value => updateLoaField(value, 'partner_email_address')"
  )
q-field(label="Address")
  q-input(
    clearable
    type="textarea"
    :value="loaField.partner_address"
    @change="value => updateLoaField(value, 'partner_address')"
    :after="getAddressAfterIcon"
  )
q-field(label="Smoking Status")
  q-select(
    clearable
    color="positive"
    stack-label="Are you smoking?"
    :options="getYesOrNo"
    :value="loaField.partner_smoking_status"
    @change="value => updateLoaField(value, 'partner_smoking_status')"
  )
q-field(label="Existing Insurance Providers")
  q-select(
    chips
    multiple
    color="positive"
    :options="getExistingCovers"
    :value="partnerInsuranceProviders"
    @change="value => updateLoaField(value, 'partner_insurance_providers')"
  )
