<template>
  <q-layout view="hHr LpR lFf" :style="{backgroundColor: backgroundColor}">
    <div class="window-height window-width row flex justify-center" :class="heightSize">
      <q-card
        inline
        :class="cardWidthSize"
        id="login">
        <q-card-title
          class="bg-positive">
          <svg id="svg-logo" viewBox="0 0 483 483"
               style="enable-background:new 0 0 460 460;"
               xml:space="preserve" width="128px" height="128px"
               v-html="logoMethod">
          </svg>
          <h4 class="text-white text-center" v-text="appConfig.site.title"></h4>
        </q-card-title>
        <q-card-main>
          <q-field>
            <q-input
              type="email"
              float-label="Email"
              color="positive"
              v-model="formData.email" />
          </q-field>
          <q-field>
            <q-input
              type="password"
              float-label="Password"
              color="positive"
              v-model="formData.password" />
          </q-field>
        </q-card-main>
        <q-card-actions
          vertical
          align="center">
          <q-btn
            :disable="buttonState.loaded"
            :color="buttonState.color"
            class="fit"
            @click="login" v-text="buttonState.text" />
        </q-card-actions>
      </q-card>
    </div>
  </q-layout>
</template>

<script>
/* eslint-disable */
import {
  Platform,
  QCard,
  QCardTitle,
  QCardMain,
  QCardActions,
  QCardSeparator,
  QBtn,
  QField,
  QLayout,
  Toast
} from 'quasar'
import QInput from '@/quasar/QInput'

import logoData from './logoData'
import Vivus from 'vivus'
import { HTTP, HTTP_API } from 'src/services/http/http'
import { ClientId, ClientSecret } from 'src/config/env'
import { mapMutations, mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  data () {
    return {
      formData: {
        email: null,
        password: null
      },
      backgroundColor: 'whitesmoke',
      buttonState: {
        loaded: false,
        text: 'Login',
        color: 'positive'
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.startLogoAnimation()
    })
  },
  created () {
    if (process.env.NODE_ENV === 'development') {
      this.formData = {
        email: 'service@jdlife.co.nz',
        password: 'secret'
      }
    }
  },
  methods: {
    ...mapMutations('user', ['SET_CURRENT_USER_TOKEN', 'SET_CURRENT_USER_MODEL']),
    login () {
      Toast.create.info('Logging in...')
      this.buttonState.loaded = true
      this.buttonState.text = 'Logging in...'
      this.buttonState.color = 'positive'

      let formParams = {
        client_id: ClientId,
        client_secret: ClientSecret,
        grant_type: 'password',
        username: this.formData.email,
        password: this.formData.password
      }
      HTTP().post('/oauth/token', formParams)
        .then(({data}) => this.SET_CURRENT_USER_TOKEN(data))
        .then(() => Toast.create.positive('Success'))
        .then(() => {
          HTTP_API().get('/user')
              .then(({data}) => this.SET_CURRENT_USER_MODEL(data))
              .then(() => this.$router.push({name: 'dashboard.index'}))
        })
        .then(() => {
          this.buttonState.loaded = false
          this.buttonState.text = 'Login'
          this.buttonState.color = 'positive'
        })
        .catch(({data}) => {
          this.buttonState.loaded = false
          this.buttonState.text = 'Error'
          this.buttonState.color = 'negative'
        })
    },
    startLogoAnimation () {
      let svgLogo = new Vivus('svg-logo', {
          duration: 400,
          forceRender: true
        }, function(element) {
          for (let item of element.el.children[0].children) {
            item.setAttribute('style', 'fill:white')
            item.setAttribute('style', 'fill:white')
          }
        }
      )

      svgLogo.reset().play()
    }
  },
  computed: {
    ...mapGetters('app', {
      appConfig: 'config'
    }),
    cardWidthSize () {
      if (Platform.is.desktop) {
        return 'width-50'
      }
      return 'full-width'
    },
    heightSize () {
      if (Platform.is.desktop) {
        return 'items-center'
      }
      return ''
    },
    logoMethod () {
      return logoData['Keytronic']
    }
  },
  components: {
    QCard,
    QCardTitle,
    QCardMain,
    QCardActions,
    QCardSeparator,
    QBtn,
    QField,
    QInput,
    QLayout
  }
}
</script>

<style lang="stylus" scoped>
.width-50
  width 50% !important

.card
  margin-bottom 0px

.card-content
  min-height 160px

button
  margin-bottom 4%

#svg-logo
  margin 0 auto
  display block
</style>
